WebServiceDataset/converter/service21.ValueManipulation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangePowerUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PowerValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromPowerUnit" type="s0:Powers" />
            <s:element minOccurs="1" maxOccurs="1" name="toPowerUnit" type="s0:Powers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Powers">
        <s:restriction base="s:string">
          <s:enumeration value="ergsPersec" />
          <s:enumeration value="milliwatts" />
          <s:enumeration value="watts" />
          <s:enumeration value="kiloCaloriesPermin" />
          <s:enumeration value="kiloCaloriesPersec" />
          <s:enumeration value="BTUPerhour" />
          <s:enumeration value="footlbsPersec" />
          <s:enumeration value="horsepower" />
          <s:enumeration value="kilowatts" />
          <s:enumeration value="megawatts" />
          <s:enumeration value="gigawatts" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangePowerUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePowerUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </types>
  <message name="ChangePowerUnitSoapIn">
    <part name="parameters" element="s0:ChangePowerUnit" />
  </message>
  <message name="ChangePowerUnitSoapOut">
    <part name="parameters" element="s0:ChangePowerUnitResponse" />
  </message>
  <message name="ChangePowerUnitHttpGetIn">
    <part name="PowerValue" type="s:string" />
    <part name="fromPowerUnit" type="s:string" />
    <part name="toPowerUnit" type="s:string" />
  </message>
  <message name="ChangePowerUnitHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="ChangePowerUnitHttpPostIn">
    <part name="PowerValue" type="s:string" />
    <part name="fromPowerUnit" type="s:string" />
    <part name="toPowerUnit" type="s:string" />
  </message>
  <message name="ChangePowerUnitHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <portType name="PowerUnitSoap">
    <operation name="ChangePowerUnit">
      <input message="s0:ChangePowerUnitSoapIn" />
      <output message="s0:ChangePowerUnitSoapOut" />
    </operation>
  </portType>
  <portType name="PowerUnitHttpGet">
    <operation name="ChangePowerUnit">
      <input message="s0:ChangePowerUnitHttpGetIn" />
      <output message="s0:ChangePowerUnitHttpGetOut" />
    </operation>
  </portType>
  <portType name="PowerUnitHttpPost">
    <operation name="ChangePowerUnit">
      <input message="s0:ChangePowerUnitHttpPostIn" />
      <output message="s0:ChangePowerUnitHttpPostOut" />
    </operation>
  </portType>
  <binding name="PowerUnitSoap" type="s0:PowerUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="ChangePowerUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangePowerUnit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="PowerUnitHttpGet" type="s0:PowerUnitHttpGet">
    <http:binding verb="GET" />
    <operation name="ChangePowerUnit">
      <http:operation location="/ChangePowerUnit" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="PowerUnitHttpPost" type="s0:PowerUnitHttpPost">
    <http:binding verb="POST" />
    <operation name="ChangePowerUnit">
      <http:operation location="/ChangePowerUnit" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="PowerUnit">
    <port name="PowerUnitSoap" binding="s0:PowerUnitSoap">
      <soap:address location="http://www.webservicex.net/ConverPower.asmx" />
    </port>
    <port name="PowerUnitHttpGet" binding="s0:PowerUnitHttpGet">
      <http:address location="http://www.webservicex.net/ConverPower.asmx" />
    </port>
    <port name="PowerUnitHttpPost" binding="s0:PowerUnitHttpPost">
      <http:address location="http://www.webservicex.net/ConverPower.asmx" />
    </port>
  </service>
</definitions>