WebServiceDataset/converter/service38.DeveloperTools.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.contest.eraserver.net/MobileAccess/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.contest.eraserver.net/MobileAccess/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.contest.eraserver.net/MobileAccess/">
      <s:element name="Translate">
        <s:complexType />
      </s:element>
      <s:element name="TranslateResponse">
        <s:complexType />
      </s:element>
      <s:element name="MySoapHeader" type="s0:MySoapHeader" />
      <s:complexType name="MySoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ShowValue" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="MyOutSoapHeader" type="s0:MyOutSoapHeader" />
      <s:complexType name="MyOutSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Page" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="TranslateSoapIn">
    <part name="parameters" element="s0:Translate" />
  </message>
  <message name="TranslateSoapOut">
    <part name="parameters" element="s0:TranslateResponse" />
  </message>
  <message name="TranslateMySoapHeader">
    <part name="MySoapHeader" element="s0:MySoapHeader" />
  </message>
  <message name="TranslateMyOutSoapHeader">
    <part name="MyOutSoapHeader" element="s0:MyOutSoapHeader" />
  </message>
  <portType name="MobileAccessSoap">
    <operation name="Translate">
      <documentation>Converts HTML into XHTML with only a URL.</documentation>
      <input message="s0:TranslateSoapIn" />
      <output message="s0:TranslateSoapOut" />
    </operation>
  </portType>
  <portType name="MobileAccessHttpGet" />
  <portType name="MobileAccessHttpPost" />
  <binding name="MobileAccessSoap" type="s0:MobileAccessSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Translate">
      <soap:operation soapAction="http://www.contest.eraserver.net/MobileAccess/Translate" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header d5p1:required="true" message="s0:TranslateMySoapHeader" part="MySoapHeader" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header d5p1:required="true" message="s0:TranslateMyOutSoapHeader" part="MyOutSoapHeader" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
      </output>
    </operation>
  </binding>
  <binding name="MobileAccessHttpGet" type="s0:MobileAccessHttpGet">
    <http:binding verb="GET" />
  </binding>
  <binding name="MobileAccessHttpPost" type="s0:MobileAccessHttpPost">
    <http:binding verb="POST" />
  </binding>
  <service name="MobileAccess">
    <port name="MobileAccessSoap" binding="s0:MobileAccessSoap">
      <soap:address location="http://www.contest.eraserver.net/MobileAccess/MAT.asmx" />
    </port>
    <port name="MobileAccessHttpGet" binding="s0:MobileAccessHttpGet">
      <http:address location="http://www.contest.eraserver.net/MobileAccess/MAT.asmx" />
    </port>
    <port name="MobileAccessHttpPost" binding="s0:MobileAccessHttpPost">
      <http:address location="http://www.contest.eraserver.net/MobileAccess/MAT.asmx" />
    </port>
  </service>
</definitions>