WebServiceDataset/converter/service29.ValueManipulation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeTorqueUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TorqueValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromTorqueUnit" type="s0:Torques" />
            <s:element minOccurs="1" maxOccurs="1" name="toTorqueUnit" type="s0:Torques" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Torques">
        <s:restriction base="s:string">
          <s:enumeration value="DyneCentimeters" />
          <s:enumeration value="FootPounds" />
          <s:enumeration value="InchPounds" />
          <s:enumeration value="KilogramMeter" />
          <s:enumeration value="MeterNewtons" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeTorqueUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeTorqueUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </types>
  <message name="ChangeTorqueUnitSoapIn">
    <part name="parameters" element="s0:ChangeTorqueUnit" />
  </message>
  <message name="ChangeTorqueUnitSoapOut">
    <part name="parameters" element="s0:ChangeTorqueUnitResponse" />
  </message>
  <message name="ChangeTorqueUnitHttpGetIn">
    <part name="TorqueValue" type="s:string" />
    <part name="fromTorqueUnit" type="s:string" />
    <part name="toTorqueUnit" type="s:string" />
  </message>
  <message name="ChangeTorqueUnitHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="ChangeTorqueUnitHttpPostIn">
    <part name="TorqueValue" type="s:string" />
    <part name="fromTorqueUnit" type="s:string" />
    <part name="toTorqueUnit" type="s:string" />
  </message>
  <message name="ChangeTorqueUnitHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <portType name="TorqueUnitSoap">
    <operation name="ChangeTorqueUnit">
      <input message="s0:ChangeTorqueUnitSoapIn" />
      <output message="s0:ChangeTorqueUnitSoapOut" />
    </operation>
  </portType>
  <portType name="TorqueUnitHttpGet">
    <operation name="ChangeTorqueUnit">
      <input message="s0:ChangeTorqueUnitHttpGetIn" />
      <output message="s0:ChangeTorqueUnitHttpGetOut" />
    </operation>
  </portType>
  <portType name="TorqueUnitHttpPost">
    <operation name="ChangeTorqueUnit">
      <input message="s0:ChangeTorqueUnitHttpPostIn" />
      <output message="s0:ChangeTorqueUnitHttpPostOut" />
    </operation>
  </portType>
  <binding name="TorqueUnitSoap" type="s0:TorqueUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="ChangeTorqueUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangeTorqueUnit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="TorqueUnitHttpGet" type="s0:TorqueUnitHttpGet">
    <http:binding verb="GET" />
    <operation name="ChangeTorqueUnit">
      <http:operation location="/ChangeTorqueUnit" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="TorqueUnitHttpPost" type="s0:TorqueUnitHttpPost">
    <http:binding verb="POST" />
    <operation name="ChangeTorqueUnit">
      <http:operation location="/ChangeTorqueUnit" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="TorqueUnit">
    <port name="TorqueUnitSoap" binding="s0:TorqueUnitSoap">
      <soap:address location="http://www.webservicex.net/ConvertTorque.asmx" />
    </port>
    <port name="TorqueUnitHttpGet" binding="s0:TorqueUnitHttpGet">
      <http:address location="http://www.webservicex.net/ConvertTorque.asmx" />
    </port>
    <port name="TorqueUnitHttpPost" binding="s0:TorqueUnitHttpPost">
      <http:address location="http://www.webservicex.net/ConvertTorque.asmx" />
    </port>
  </service>
</definitions>