WebServiceDataset/converter/service66.Accounts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getWords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getWordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getWordsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="getWordsSoapIn">
    <part name="parameters" element="s0:getWords" />
  </message>
  <message name="getWordsSoapOut">
    <part name="parameters" element="s0:getWordsResponse" />
  </message>
  <message name="getWordsHttpGetIn">
    <part name="myNumber" type="s:string" />
  </message>
  <message name="getWordsHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getWordsHttpPostIn">
    <part name="myNumber" type="s:string" />
  </message>
  <message name="getWordsHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="NumberToWordsSoap">
    <operation name="getWords">
      <documentation>Returns the Words for a Number</documentation>
      <input message="s0:getWordsSoapIn" />
      <output message="s0:getWordsSoapOut" />
    </operation>
  </portType>
  <portType name="NumberToWordsHttpGet">
    <operation name="getWords">
      <documentation>Returns the Words for a Number</documentation>
      <input message="s0:getWordsHttpGetIn" />
      <output message="s0:getWordsHttpGetOut" />
    </operation>
  </portType>
  <portType name="NumberToWordsHttpPost">
    <operation name="getWords">
      <documentation>Returns the Words for a Number</documentation>
      <input message="s0:getWordsHttpPostIn" />
      <output message="s0:getWordsHttpPostOut" />
    </operation>
  </portType>
  <binding name="NumberToWordsSoap" type="s0:NumberToWordsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="getWords">
      <soap:operation soapAction="http://tempuri.org/getWords" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="NumberToWordsHttpGet" type="s0:NumberToWordsHttpGet">
    <http:binding verb="GET" />
    <operation name="getWords">
      <http:operation location="/getWords" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="NumberToWordsHttpPost" type="s0:NumberToWordsHttpPost">
    <http:binding verb="POST" />
    <operation name="getWords">
      <http:operation location="/getWords" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="NumberToWords">
    <port name="NumberToWordsSoap" binding="s0:NumberToWordsSoap">
      <soap:address location="http://www28.brinkster.com/hegdes/NumberToWords.asmx" />
    </port>
    <port name="NumberToWordsHttpGet" binding="s0:NumberToWordsHttpGet">
      <http:address location="http://www28.brinkster.com/hegdes/NumberToWords.asmx" />
    </port>
    <port name="NumberToWordsHttpPost" binding="s0:NumberToWordsHttpPost">
      <http:address location="http://www28.brinkster.com/hegdes/NumberToWords.asmx" />
    </port>
  </service>
</definitions>