WebServiceDataset/converter/service32.Mathematics.wsdl

<?xml version="1.0" ?>

<definitions name="Weight.cweight" targetNamespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" xmlns:tns="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <message name="GramsToKilogramsRequest">
        <part name="Grams" type="xsd:double"/>
    </message>
    <message name="GramsToKilogramsResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="GramsToOuncesRequest">
        <part name="Grams" type="xsd:double"/>
    </message>
    <message name="GramsToOuncesResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="GramsToPoundsRequest">
        <part name="Grams" type="xsd:double"/>
    </message>
    <message name="GramsToPoundsResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="KilogramsToGramsRequest">
        <part name="Kilograms" type="xsd:double"/>
    </message>
    <message name="KilogramsToGramsResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="KilogramsToOuncesRequest">
        <part name="Kilograms" type="xsd:double"/>
    </message>
    <message name="KilogramsToOuncesResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="KilogramsToPoundsRequest">
        <part name="Kilograms" type="xsd:double"/>
    </message>
    <message name="KilogramsToPoundsResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="OuncesToGramsRequest">
        <part name="Ounces" type="xsd:double"/>
    </message>
    <message name="OuncesToGramsResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="OuncesToKilogramsRequest">
        <part name="Ounces" type="xsd:double"/>
    </message>
    <message name="OuncesToKilogramsResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="OuncesToPoundsRequest">
        <part name="Ounces" type="xsd:double"/>
    </message>
    <message name="OuncesToPoundsResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="PoundsToGramsRequest">
        <part name="Pounds" type="xsd:double"/>
    </message>
    <message name="PoundsToGramsResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="PoundsToKilogramsRequest">
        <part name="Pounds" type="xsd:double"/>
    </message>
    <message name="PoundsToKilogramsResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="PoundsToOuncesRequest">
        <part name="Pounds" type="xsd:double"/>
    </message>
    <message name="PoundsToOuncesResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <portType name="Weight.cweightPortType">
        <operation name="GramsToKilograms">
            <input message="tns:GramsToKilogramsRequest"/>
            <output message="tns:GramsToKilogramsResponse"/>
        </operation>
        <operation name="GramsToOunces">
            <input message="tns:GramsToOuncesRequest"/>
            <output message="tns:GramsToOuncesResponse"/>
        </operation>
        <operation name="GramsToPounds">
            <input message="tns:GramsToPoundsRequest"/>
            <output message="tns:GramsToPoundsResponse"/>
        </operation>
        <operation name="KilogramsToGrams">
            <input message="tns:KilogramsToGramsRequest"/>
            <output message="tns:KilogramsToGramsResponse"/>
        </operation>
        <operation name="KilogramsToOunces">
            <input message="tns:KilogramsToOuncesRequest"/>
            <output message="tns:KilogramsToOuncesResponse"/>
        </operation>
        <operation name="KilogramsToPounds">
            <input message="tns:KilogramsToPoundsRequest"/>
            <output message="tns:KilogramsToPoundsResponse"/>
        </operation>
        <operation name="OuncesToGrams">
            <input message="tns:OuncesToGramsRequest"/>
            <output message="tns:OuncesToGramsResponse"/>
        </operation>
        <operation name="OuncesToKilograms">
            <input message="tns:OuncesToKilogramsRequest"/>
            <output message="tns:OuncesToKilogramsResponse"/>
        </operation>
        <operation name="OuncesToPounds">
            <input message="tns:OuncesToPoundsRequest"/>
            <output message="tns:OuncesToPoundsResponse"/>
        </operation>
        <operation name="PoundsToGrams">
            <input message="tns:PoundsToGramsRequest"/>
            <output message="tns:PoundsToGramsResponse"/>
        </operation>
        <operation name="PoundsToKilograms">
            <input message="tns:PoundsToKilogramsRequest"/>
            <output message="tns:PoundsToKilogramsResponse"/>
        </operation>
        <operation name="PoundsToOunces">
            <input message="tns:PoundsToOuncesRequest"/>
            <output message="tns:PoundsToOuncesResponse"/>
        </operation>
    </portType>
    <binding name="Weight.cweightbinding" type="tns:Weight.cweightPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GramsToKilograms">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml#GramsToKilograms"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="GramsToOunces">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml#GramsToOunces"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="GramsToPounds">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml#GramsToPounds"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="KilogramsToGrams">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml#KilogramsToGrams"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="KilogramsToOunces">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml#KilogramsToOunces"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="KilogramsToPounds">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml#KilogramsToPounds"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="OuncesToGrams">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml#OuncesToGrams"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="OuncesToKilograms">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml#OuncesToKilograms"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="OuncesToPounds">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml#OuncesToPounds"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="PoundsToGrams">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml#PoundsToGrams"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="PoundsToKilograms">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml#PoundsToKilograms"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="PoundsToOunces">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml#PoundsToOunces"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Weight/CWeight.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="Weight.cweightService">
        <port name="Weight.cweightPort" binding="tns:Weight.cweightbinding">
            <soap:address location="http://sal006.salnetwork.com:82/bin/converter.cgi"/>
        </port>
    </service>
</definitions>