WebServiceDataset/converter/service3.ValueManipulation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeAreaUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AreaValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromAreaUnit" type="s0:Areas" />
            <s:element minOccurs="1" maxOccurs="1" name="toAreaUnit" type="s0:Areas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Areas">
        <s:restriction base="s:string">
          <s:enumeration value="acre" />
          <s:enumeration value="acrecommercial" />
          <s:enumeration value="acreIreland" />
          <s:enumeration value="acresurvey" />
          <s:enumeration value="are" />
          <s:enumeration value="baseboxtinplatedsteel" />
          <s:enumeration value="binTaiwan" />
          <s:enumeration value="buJapan" />
          <s:enumeration value="canteroEcuador" />
          <s:enumeration value="caoVietnam" />
          <s:enumeration value="centaire" />
          <s:enumeration value="circularfootinternational" />
          <s:enumeration value="circularfootUSsurvey" />
          <s:enumeration value="circularinchinternational" />
          <s:enumeration value="circularinchUSsurvey" />
          <s:enumeration value="hectare" />
          <s:enumeration value="laborCanada" />
          <s:enumeration value="laborUSsurvey" />
          <s:enumeration value="manzanaCostaRican" />
          <s:enumeration value="manzanaArgentina" />
          <s:enumeration value="rood" />
          <s:enumeration value="saoVietnam" />
          <s:enumeration value="scrupleancientRome" />
          <s:enumeration value="sectionUSsurvey" />
          <s:enumeration value="square" />
          <s:enumeration value="squareSriLanka" />
          <s:enumeration value="squareangstrom" />
          <s:enumeration value="squareastronomicalunit" />
          <s:enumeration value="squarecablelengthUSsurvey" />
          <s:enumeration value="squarecaliber" />
          <s:enumeration value="squarecentimeter" />
          <s:enumeration value="squarechainGunterUSsurvey" />
          <s:enumeration value="squarechainRamdenEngineer" />
          <s:enumeration value="squarecubit" />
          <s:enumeration value="squarecubitancientEgypt" />
          <s:enumeration value="squaredigit" />
          <s:enumeration value="squarefathom" />
          <s:enumeration value="squarefootinternational" />
          <s:enumeration value="squarefootUSsurvey" />
          <s:enumeration value="squarefurlongUSsurvey" />
          <s:enumeration value="squaregigameter" />
          <s:enumeration value="squarehectometer" />
          <s:enumeration value="squareinchinternational" />
          <s:enumeration value="squareinchUSsurvey" />
          <s:enumeration value="squarekilometer" />
          <s:enumeration value="squareleaguenautical" />
          <s:enumeration value="squareleagueUSstatute" />
          <s:enumeration value="squarelightyear" />
          <s:enumeration value="squarelinkGunterUSsurvey" />
          <s:enumeration value="squarelinkRamdenEngineer" />
          <s:enumeration value="squaremegameter" />
          <s:enumeration value="squaremeter" />
          <s:enumeration value="squaremicroinch" />
          <s:enumeration value="squaremicrometer" />
          <s:enumeration value="squaremicromicron" />
          <s:enumeration value="squaremicron" />
          <s:enumeration value="squaremil" />
          <s:enumeration value="squaremileinternational" />
          <s:enumeration value="squaremileintnautical" />
          <s:enumeration value="squaremileUSnautical" />
          <s:enumeration value="squaremileUSstatute" />
          <s:enumeration value="squaremileUSsurvey" />
          <s:enumeration value="squaremillimeter" />
          <s:enumeration value="squaremillimicron" />
          <s:enumeration value="squarenanometer" />
          <s:enumeration value="squareParisfootCanada" />
          <s:enumeration value="squareparsec" />
          <s:enumeration value="squareperchIreland" />
          <s:enumeration value="squareperchUSsurvey" />
          <s:enumeration value="squarepetameter" />
          <s:enumeration value="squarepicometer" />
          <s:enumeration value="squarerodNetherlands" />
          <s:enumeration value="squaretenthmeter" />
          <s:enumeration value="squareyardUSsurvey" />
          <s:enumeration value="squareyardinternational" />
          <s:enumeration value="squareyoctometer" />
          <s:enumeration value="squareyottameter" />
          <s:enumeration value="squarezeptometer" />
          <s:enumeration value="squarezettameter" />
          <s:enumeration value="townshipUSsurvey" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeAreaUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeAreaUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </types>
  <message name="ChangeAreaUnitSoapIn">
    <part name="parameters" element="s0:ChangeAreaUnit" />
  </message>
  <message name="ChangeAreaUnitSoapOut">
    <part name="parameters" element="s0:ChangeAreaUnitResponse" />
  </message>
  <message name="ChangeAreaUnitHttpGetIn">
    <part name="AreaValue" type="s:string" />
    <part name="fromAreaUnit" type="s:string" />
    <part name="toAreaUnit" type="s:string" />
  </message>
  <message name="ChangeAreaUnitHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="ChangeAreaUnitHttpPostIn">
    <part name="AreaValue" type="s:string" />
    <part name="fromAreaUnit" type="s:string" />
    <part name="toAreaUnit" type="s:string" />
  </message>
  <message name="ChangeAreaUnitHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <portType name="AreaUnitSoap">
    <operation name="ChangeAreaUnit">
      <input message="s0:ChangeAreaUnitSoapIn" />
      <output message="s0:ChangeAreaUnitSoapOut" />
    </operation>
  </portType>
  <portType name="AreaUnitHttpGet">
    <operation name="ChangeAreaUnit">
      <input message="s0:ChangeAreaUnitHttpGetIn" />
      <output message="s0:ChangeAreaUnitHttpGetOut" />
    </operation>
  </portType>
  <portType name="AreaUnitHttpPost">
    <operation name="ChangeAreaUnit">
      <input message="s0:ChangeAreaUnitHttpPostIn" />
      <output message="s0:ChangeAreaUnitHttpPostOut" />
    </operation>
  </portType>
  <binding name="AreaUnitSoap" type="s0:AreaUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="ChangeAreaUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangeAreaUnit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="AreaUnitHttpGet" type="s0:AreaUnitHttpGet">
    <http:binding verb="GET" />
    <operation name="ChangeAreaUnit">
      <http:operation location="/ChangeAreaUnit" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="AreaUnitHttpPost" type="s0:AreaUnitHttpPost">
    <http:binding verb="POST" />
    <operation name="ChangeAreaUnit">
      <http:operation location="/ChangeAreaUnit" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="AreaUnit">
    <port name="AreaUnitSoap" binding="s0:AreaUnitSoap">
      <soap:address location="http://www.webservicex.net/ConvertArea.asmx" />
    </port>
    <port name="AreaUnitHttpGet" binding="s0:AreaUnitHttpGet">
      <http:address location="http://www.webservicex.net/ConvertArea.asmx" />
    </port>
    <port name="AreaUnitHttpPost" binding="s0:AreaUnitHttpPost">
      <http:address location="http://www.webservicex.net/ConvertArea.asmx" />
    </port>
  </service>
</definitions>