WebServiceDataset/converter/service22.ValueManipulation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangePressureUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PressureValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromPressureUnit" type="s0:Pressures" />
            <s:element minOccurs="1" maxOccurs="1" name="toPressureUnit" type="s0:Pressures" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Pressures">
        <s:restriction base="s:string">
          <s:enumeration value="dynePersquarecm" />
          <s:enumeration value="PascalnewtonPersqm" />
          <s:enumeration value="poundalPersqfoot" />
          <s:enumeration value="kgfPersquaremeter" />
          <s:enumeration value="lbfPersquarefoot" />
          <s:enumeration value="cmH2O4C" />
          <s:enumeration value="gramPressurePersqcm" />
          <s:enumeration value="torr0C" />
          <s:enumeration value="inchH2O60F" />
          <s:enumeration value="inchH2O392F" />
          <s:enumeration value="cmmercury0C" />
          <s:enumeration value="footH2O392F" />
          <s:enumeration value="footseawater" />
          <s:enumeration value="inchmercury60F" />
          <s:enumeration value="inchmercury32F" />
          <s:enumeration value="lbfPersquareinchPSI" />
          <s:enumeration value="meterseawater" />
          <s:enumeration value="kgfPersquarecm" />
          <s:enumeration value="bar" />
          <s:enumeration value="atmosphere" />
          <s:enumeration value="KipPersquareinchKSI" />
          <s:enumeration value="kgfPersqmillimeter" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangePressureUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePressureUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </types>
  <message name="ChangePressureUnitSoapIn">
    <part name="parameters" element="s0:ChangePressureUnit" />
  </message>
  <message name="ChangePressureUnitSoapOut">
    <part name="parameters" element="s0:ChangePressureUnitResponse" />
  </message>
  <message name="ChangePressureUnitHttpGetIn">
    <part name="PressureValue" type="s:string" />
    <part name="fromPressureUnit" type="s:string" />
    <part name="toPressureUnit" type="s:string" />
  </message>
  <message name="ChangePressureUnitHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="ChangePressureUnitHttpPostIn">
    <part name="PressureValue" type="s:string" />
    <part name="fromPressureUnit" type="s:string" />
    <part name="toPressureUnit" type="s:string" />
  </message>
  <message name="ChangePressureUnitHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <portType name="PressureUnitSoap">
    <operation name="ChangePressureUnit">
      <input message="s0:ChangePressureUnitSoapIn" />
      <output message="s0:ChangePressureUnitSoapOut" />
    </operation>
  </portType>
  <portType name="PressureUnitHttpGet">
    <operation name="ChangePressureUnit">
      <input message="s0:ChangePressureUnitHttpGetIn" />
      <output message="s0:ChangePressureUnitHttpGetOut" />
    </operation>
  </portType>
  <portType name="PressureUnitHttpPost">
    <operation name="ChangePressureUnit">
      <input message="s0:ChangePressureUnitHttpPostIn" />
      <output message="s0:ChangePressureUnitHttpPostOut" />
    </operation>
  </portType>
  <binding name="PressureUnitSoap" type="s0:PressureUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="ChangePressureUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangePressureUnit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="PressureUnitHttpGet" type="s0:PressureUnitHttpGet">
    <http:binding verb="GET" />
    <operation name="ChangePressureUnit">
      <http:operation location="/ChangePressureUnit" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="PressureUnitHttpPost" type="s0:PressureUnitHttpPost">
    <http:binding verb="POST" />
    <operation name="ChangePressureUnit">
      <http:operation location="/ChangePressureUnit" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="PressureUnit">
    <port name="PressureUnitSoap" binding="s0:PressureUnitSoap">
      <soap:address location="http://www.webservicex.net/CovertPressure.asmx" />
    </port>
    <port name="PressureUnitHttpGet" binding="s0:PressureUnitHttpGet">
      <http:address location="http://www.webservicex.net/CovertPressure.asmx" />
    </port>
    <port name="PressureUnitHttpPost" binding="s0:PressureUnitHttpPost">
      <http:address location="http://www.webservicex.net/CovertPressure.asmx" />
    </port>
  </service>
</definitions>