WebServiceDataset/finder/whoIs/service28.Database.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.serviceobjects.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.serviceobjects.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.serviceobjects.com/">
      <s:element name="GetWhoIs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWhoIsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWhoIsResult" type="s0:WhoIsInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WhoIsInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DomainName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecordExpires" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecordCreated" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataBaseUpdated" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DomainCreated" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DomainExpires" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DomainLastUpdated" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DomainRegistrar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrantName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrantLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrantCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrantZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrantState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrantAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgContact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgFax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrarName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrarWhoIs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrarLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminContact1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminContact2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminPhone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminPhone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminFax1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminFax2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TechContact1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TechContact2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TechLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TechCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TechZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TechState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TechAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TechPhone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TechPhone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TechEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TechFax1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TechFax2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneContact1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneContact2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZonePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneFax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WhoIsInfo" nillable="true" type="s0:WhoIsInfo" />
    </s:schema>
  </types>
  <message name="GetWhoIsSoapIn">
    <part name="parameters" element="s0:GetWhoIs" />
  </message>
  <message name="GetWhoIsSoapOut">
    <part name="parameters" element="s0:GetWhoIsResponse" />
  </message>
  <message name="GetWhoIsHttpGetIn">
    <part name="DomainName" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetWhoIsHttpGetOut">
    <part name="Body" element="s0:WhoIsInfo" />
  </message>
  <message name="GetWhoIsHttpPostIn">
    <part name="DomainName" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetWhoIsHttpPostOut">
    <part name="Body" element="s0:WhoIsInfo" />
  </message>
  <portType name="WhoIsSoap">
    <operation name="GetWhoIs">
      <documentation>Returns WHOIS information for a given domain name.</documentation>
      <input message="s0:GetWhoIsSoapIn" />
      <output message="s0:GetWhoIsSoapOut" />
    </operation>
  </portType>
  <portType name="WhoIsHttpGet">
    <operation name="GetWhoIs">
      <documentation>Returns WHOIS information for a given domain name.</documentation>
      <input message="s0:GetWhoIsHttpGetIn" />
      <output message="s0:GetWhoIsHttpGetOut" />
    </operation>
  </portType>
  <portType name="WhoIsHttpPost">
    <operation name="GetWhoIs">
      <documentation>Returns WHOIS information for a given domain name.</documentation>
      <input message="s0:GetWhoIsHttpPostIn" />
      <output message="s0:GetWhoIsHttpPostOut" />
    </operation>
  </portType>
  <binding name="WhoIsSoap" type="s0:WhoIsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetWhoIs">
      <soap:operation soapAction="http://www.serviceobjects.com/GetWhoIs" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="WhoIsHttpGet" type="s0:WhoIsHttpGet">
    <http:binding verb="GET" />
    <operation name="GetWhoIs">
      <http:operation location="/GetWhoIs" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="WhoIsHttpPost" type="s0:WhoIsHttpPost">
    <http:binding verb="POST" />
    <operation name="GetWhoIs">
      <http:operation location="/GetWhoIs" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="WhoIs">
    <port name="WhoIsSoap" binding="s0:WhoIsSoap">
      <soap:address location="http://ws.serviceobjects.net/whi/WhoIs.asmx" />
    </port>
    <port name="WhoIsHttpGet" binding="s0:WhoIsHttpGet">
      <http:address location="http://ws.serviceobjects.net/whi/WhoIs.asmx" />
    </port>
    <port name="WhoIsHttpPost" binding="s0:WhoIsHttpPost">
      <http:address location="http://ws.serviceobjects.net/whi/WhoIs.asmx" />
    </port>
  </service>
</definitions>