WebServiceDataset/finder/whoIs/service63.DeveloperTools.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://ws.cdyne.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.cdyne.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/">
      <s:element name="GetEmailforDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Query" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmailforDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmailforDomainResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Message">
        <s:complexType />
      </s:element>
      <s:element name="MessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWhois">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Query" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWhoisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWhoisResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IPaddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryIPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="GetEmailforDomainSoapIn">
    <part name="parameters" element="s0:GetEmailforDomain" />
  </message>
  <message name="GetEmailforDomainSoapOut">
    <part name="parameters" element="s0:GetEmailforDomainResponse" />
  </message>
  <message name="MessageSoapIn">
    <part name="parameters" element="s0:Message" />
  </message>
  <message name="MessageSoapOut">
    <part name="parameters" element="s0:MessageResponse" />
  </message>
  <message name="GetWhoisSoapIn">
    <part name="parameters" element="s0:GetWhois" />
  </message>
  <message name="GetWhoisSoapOut">
    <part name="parameters" element="s0:GetWhoisResponse" />
  </message>
  <message name="QueryIPSoapIn">
    <part name="parameters" element="s0:QueryIP" />
  </message>
  <message name="QueryIPSoapOut">
    <part name="parameters" element="s0:QueryIPResponse" />
  </message>
  <message name="GetEmailforDomainHttpGetIn">
    <part name="Query" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetEmailforDomainHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="MessageHttpGetIn" />
  <message name="MessageHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetWhoisHttpGetIn">
    <part name="Query" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetWhoisHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="QueryIPHttpGetIn">
    <part name="IPaddress" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="QueryIPHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetEmailforDomainHttpPostIn">
    <part name="Query" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetEmailforDomainHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="MessageHttpPostIn" />
  <message name="MessageHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetWhoisHttpPostIn">
    <part name="Query" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetWhoisHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="QueryIPHttpPostIn">
    <part name="IPaddress" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="QueryIPHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="WhoISSoap">
    <operation name="GetEmailforDomain">
      <input message="s0:GetEmailforDomainSoapIn" />
      <output message="s0:GetEmailforDomainSoapOut" />
    </operation>
    <operation name="Message">
      <input message="s0:MessageSoapIn" />
      <output message="s0:MessageSoapOut" />
    </operation>
    <operation name="GetWhois">
      <input message="s0:GetWhoisSoapIn" />
      <output message="s0:GetWhoisSoapOut" />
    </operation>
    <operation name="QueryIP">
      <input message="s0:QueryIPSoapIn" />
      <output message="s0:QueryIPSoapOut" />
    </operation>
  </portType>
  <portType name="WhoISHttpGet">
    <operation name="GetEmailforDomain">
      <input message="s0:GetEmailforDomainHttpGetIn" />
      <output message="s0:GetEmailforDomainHttpGetOut" />
    </operation>
    <operation name="Message">
      <input message="s0:MessageHttpGetIn" />
      <output message="s0:MessageHttpGetOut" />
    </operation>
    <operation name="GetWhois">
      <input message="s0:GetWhoisHttpGetIn" />
      <output message="s0:GetWhoisHttpGetOut" />
    </operation>
    <operation name="QueryIP">
      <input message="s0:QueryIPHttpGetIn" />
      <output message="s0:QueryIPHttpGetOut" />
    </operation>
  </portType>
  <portType name="WhoISHttpPost">
    <operation name="GetEmailforDomain">
      <input message="s0:GetEmailforDomainHttpPostIn" />
      <output message="s0:GetEmailforDomainHttpPostOut" />
    </operation>
    <operation name="Message">
      <input message="s0:MessageHttpPostIn" />
      <output message="s0:MessageHttpPostOut" />
    </operation>
    <operation name="GetWhois">
      <input message="s0:GetWhoisHttpPostIn" />
      <output message="s0:GetWhoisHttpPostOut" />
    </operation>
    <operation name="QueryIP">
      <input message="s0:QueryIPHttpPostIn" />
      <output message="s0:QueryIPHttpPostOut" />
    </operation>
  </portType>
  <binding name="WhoISSoap" type="s0:WhoISSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetEmailforDomain">
      <soap:operation soapAction="http://ws.cdyne.com/GetEmailforDomain" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Message">
      <soap:operation soapAction="http://ws.cdyne.com/Message" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetWhois">
      <soap:operation soapAction="http://ws.cdyne.com/GetWhois" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryIP">
      <soap:operation soapAction="http://ws.cdyne.com/QueryIP" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="WhoISHttpGet" type="s0:WhoISHttpGet">
    <http:binding verb="GET" />
    <operation name="GetEmailforDomain">
      <http:operation location="/GetEmailforDomain" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Message">
      <http:operation location="/Message" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetWhois">
      <http:operation location="/GetWhois" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="QueryIP">
      <http:operation location="/QueryIP" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="WhoISHttpPost" type="s0:WhoISHttpPost">
    <http:binding verb="POST" />
    <operation name="GetEmailforDomain">
      <http:operation location="/GetEmailforDomain" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Message">
      <http:operation location="/Message" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetWhois">
      <http:operation location="/GetWhois" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="QueryIP">
      <http:operation location="/QueryIP" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="WhoIS">
    <port name="WhoISSoap" binding="s0:WhoISSoap">
      <soap:address location="http://ws.cdyne.com/whoisquery/whois.asmx" />
    </port>
    <port name="WhoISHttpGet" binding="s0:WhoISHttpGet">
      <http:address location="http://ws.cdyne.com/whoisquery/whois.asmx" />
    </port>
    <port name="WhoISHttpPost" binding="s0:WhoISHttpPost">
      <http:address location="http://ws.cdyne.com/whoisquery/whois.asmx" />
    </port>
  </service>
</definitions>