WebServiceDataset/countryInfo/cityInformation/postcodes/service27.Addresses.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.pointwsp.net/postal/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.pointwsp.net/postal/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.pointwsp.net/postal/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="ListAddressDataset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="countrycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postalcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postaladdress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addresstype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="county" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAddressDatasetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAddressDatasetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="countrycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postalcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postaladdress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addresstype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="county" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAddressResult" type="s0:ArrayOfPostaddress" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPostaddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="postaddress" nillable="true" type="s0:postaddress" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="postaddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="countrycode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postalcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postaladdress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="county" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="addresstype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="addresstypedescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CountryCodes">
        <s:complexType />
      </s:element>
      <s:element name="CountryCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryCodesResult" type="s0:ArrayOfCountrycode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCountrycode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="countrycode" nillable="true" type="s0:countrycode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="countrycode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="countrycode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CountryCodesDataset">
        <s:complexType />
      </s:element>
      <s:element name="CountryCodesDatasetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryCodesDatasetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressTypesDataset">
        <s:complexType />
      </s:element>
      <s:element name="AddressTypesDatasetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressTypesDatasetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressTypes">
        <s:complexType />
      </s:element>
      <s:element name="AddressTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressTypesResult" type="s0:ArrayOfAddresstype" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAddresstype">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="addresstype" nillable="true" type="s0:addresstype" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="addresstype">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="addresstype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostalAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="countrycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postalcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostalAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostalAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfPostaddress" nillable="true" type="s0:ArrayOfPostaddress" />
      <s:element name="ArrayOfCountrycode" nillable="true" type="s0:ArrayOfCountrycode" />
      <s:element name="ArrayOfAddresstype" nillable="true" type="s0:ArrayOfAddresstype" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="ListAddressDatasetSoapIn">
    <part name="parameters" element="s0:ListAddressDataset" />
  </message>
  <message name="ListAddressDatasetSoapOut">
    <part name="parameters" element="s0:ListAddressDatasetResponse" />
  </message>
  <message name="ListAddressSoapIn">
    <part name="parameters" element="s0:ListAddress" />
  </message>
  <message name="ListAddressSoapOut">
    <part name="parameters" element="s0:ListAddressResponse" />
  </message>
  <message name="CountryCodesSoapIn">
    <part name="parameters" element="s0:CountryCodes" />
  </message>
  <message name="CountryCodesSoapOut">
    <part name="parameters" element="s0:CountryCodesResponse" />
  </message>
  <message name="CountryCodesDatasetSoapIn">
    <part name="parameters" element="s0:CountryCodesDataset" />
  </message>
  <message name="CountryCodesDatasetSoapOut">
    <part name="parameters" element="s0:CountryCodesDatasetResponse" />
  </message>
  <message name="AddressTypesDatasetSoapIn">
    <part name="parameters" element="s0:AddressTypesDataset" />
  </message>
  <message name="AddressTypesDatasetSoapOut">
    <part name="parameters" element="s0:AddressTypesDatasetResponse" />
  </message>
  <message name="AddressTypesSoapIn">
    <part name="parameters" element="s0:AddressTypes" />
  </message>
  <message name="AddressTypesSoapOut">
    <part name="parameters" element="s0:AddressTypesResponse" />
  </message>
  <message name="PostalAddressSoapIn">
    <part name="parameters" element="s0:PostalAddress" />
  </message>
  <message name="PostalAddressSoapOut">
    <part name="parameters" element="s0:PostalAddressResponse" />
  </message>
  <message name="ListAddressDatasetHttpGetIn">
    <part name="countrycode" type="s:string" />
    <part name="postalcode" type="s:string" />
    <part name="postaladdress" type="s:string" />
    <part name="addresstype" type="s:string" />
    <part name="location" type="s:string" />
    <part name="street" type="s:string" />
    <part name="county" type="s:string" />
  </message>
  <message name="ListAddressDatasetHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="ListAddressHttpGetIn">
    <part name="countrycode" type="s:string" />
    <part name="postalcode" type="s:string" />
    <part name="postaladdress" type="s:string" />
    <part name="addresstype" type="s:string" />
    <part name="location" type="s:string" />
    <part name="street" type="s:string" />
    <part name="county" type="s:string" />
  </message>
  <message name="ListAddressHttpGetOut">
    <part name="Body" element="s0:ArrayOfPostaddress" />
  </message>
  <message name="CountryCodesHttpGetIn" />
  <message name="CountryCodesHttpGetOut">
    <part name="Body" element="s0:ArrayOfCountrycode" />
  </message>
  <message name="CountryCodesDatasetHttpGetIn" />
  <message name="CountryCodesDatasetHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="AddressTypesDatasetHttpGetIn" />
  <message name="AddressTypesDatasetHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="AddressTypesHttpGetIn" />
  <message name="AddressTypesHttpGetOut">
    <part name="Body" element="s0:ArrayOfAddresstype" />
  </message>
  <message name="PostalAddressHttpGetIn">
    <part name="countrycode" type="s:string" />
    <part name="postalcode" type="s:string" />
  </message>
  <message name="PostalAddressHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ListAddressDatasetHttpPostIn">
    <part name="countrycode" type="s:string" />
    <part name="postalcode" type="s:string" />
    <part name="postaladdress" type="s:string" />
    <part name="addresstype" type="s:string" />
    <part name="location" type="s:string" />
    <part name="street" type="s:string" />
    <part name="county" type="s:string" />
  </message>
  <message name="ListAddressDatasetHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="ListAddressHttpPostIn">
    <part name="countrycode" type="s:string" />
    <part name="postalcode" type="s:string" />
    <part name="postaladdress" type="s:string" />
    <part name="addresstype" type="s:string" />
    <part name="location" type="s:string" />
    <part name="street" type="s:string" />
    <part name="county" type="s:string" />
  </message>
  <message name="ListAddressHttpPostOut">
    <part name="Body" element="s0:ArrayOfPostaddress" />
  </message>
  <message name="CountryCodesHttpPostIn" />
  <message name="CountryCodesHttpPostOut">
    <part name="Body" element="s0:ArrayOfCountrycode" />
  </message>
  <message name="CountryCodesDatasetHttpPostIn" />
  <message name="CountryCodesDatasetHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="AddressTypesDatasetHttpPostIn" />
  <message name="AddressTypesDatasetHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="AddressTypesHttpPostIn" />
  <message name="AddressTypesHttpPostOut">
    <part name="Body" element="s0:ArrayOfAddresstype" />
  </message>
  <message name="PostalAddressHttpPostIn">
    <part name="countrycode" type="s:string" />
    <part name="postalcode" type="s:string" />
  </message>
  <message name="PostalAddressHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="pwspPostalSearchSoap">
    <operation name="ListAddressDataset">
      <documentation>Search and list address as dataset</documentation>
      <input message="s0:ListAddressDatasetSoapIn" />
      <output message="s0:ListAddressDatasetSoapOut" />
    </operation>
    <operation name="ListAddress">
      <documentation>Search and list addresses</documentation>
      <input message="s0:ListAddressSoapIn" />
      <output message="s0:ListAddressSoapOut" />
    </operation>
    <operation name="CountryCodes">
      <documentation>List supported countrycodes</documentation>
      <input message="s0:CountryCodesSoapIn" />
      <output message="s0:CountryCodesSoapOut" />
    </operation>
    <operation name="CountryCodesDataset">
      <documentation>List supported countrycodes as dataset</documentation>
      <input message="s0:CountryCodesDatasetSoapIn" />
      <output message="s0:CountryCodesDatasetSoapOut" />
    </operation>
    <operation name="AddressTypesDataset">
      <documentation>List supported addresstypes as dataset</documentation>
      <input message="s0:AddressTypesDatasetSoapIn" />
      <output message="s0:AddressTypesDatasetSoapOut" />
    </operation>
    <operation name="AddressTypes">
      <documentation>List supported addresstypes</documentation>
      <input message="s0:AddressTypesSoapIn" />
      <output message="s0:AddressTypesSoapOut" />
    </operation>
    <operation name="PostalAddress">
      <documentation>Lookup postal addresses</documentation>
      <input message="s0:PostalAddressSoapIn" />
      <output message="s0:PostalAddressSoapOut" />
    </operation>
  </portType>
  <portType name="pwspPostalSearchHttpGet">
    <operation name="ListAddressDataset">
      <documentation>Search and list address as dataset</documentation>
      <input message="s0:ListAddressDatasetHttpGetIn" />
      <output message="s0:ListAddressDatasetHttpGetOut" />
    </operation>
    <operation name="ListAddress">
      <documentation>Search and list addresses</documentation>
      <input message="s0:ListAddressHttpGetIn" />
      <output message="s0:ListAddressHttpGetOut" />
    </operation>
    <operation name="CountryCodes">
      <documentation>List supported countrycodes</documentation>
      <input message="s0:CountryCodesHttpGetIn" />
      <output message="s0:CountryCodesHttpGetOut" />
    </operation>
    <operation name="CountryCodesDataset">
      <documentation>List supported countrycodes as dataset</documentation>
      <input message="s0:CountryCodesDatasetHttpGetIn" />
      <output message="s0:CountryCodesDatasetHttpGetOut" />
    </operation>
    <operation name="AddressTypesDataset">
      <documentation>List supported addresstypes as dataset</documentation>
      <input message="s0:AddressTypesDatasetHttpGetIn" />
      <output message="s0:AddressTypesDatasetHttpGetOut" />
    </operation>
    <operation name="AddressTypes">
      <documentation>List supported addresstypes</documentation>
      <input message="s0:AddressTypesHttpGetIn" />
      <output message="s0:AddressTypesHttpGetOut" />
    </operation>
    <operation name="PostalAddress">
      <documentation>Lookup postal addresses</documentation>
      <input message="s0:PostalAddressHttpGetIn" />
      <output message="s0:PostalAddressHttpGetOut" />
    </operation>
  </portType>
  <portType name="pwspPostalSearchHttpPost">
    <operation name="ListAddressDataset">
      <documentation>Search and list address as dataset</documentation>
      <input message="s0:ListAddressDatasetHttpPostIn" />
      <output message="s0:ListAddressDatasetHttpPostOut" />
    </operation>
    <operation name="ListAddress">
      <documentation>Search and list addresses</documentation>
      <input message="s0:ListAddressHttpPostIn" />
      <output message="s0:ListAddressHttpPostOut" />
    </operation>
    <operation name="CountryCodes">
      <documentation>List supported countrycodes</documentation>
      <input message="s0:CountryCodesHttpPostIn" />
      <output message="s0:CountryCodesHttpPostOut" />
    </operation>
    <operation name="CountryCodesDataset">
      <documentation>List supported countrycodes as dataset</documentation>
      <input message="s0:CountryCodesDatasetHttpPostIn" />
      <output message="s0:CountryCodesDatasetHttpPostOut" />
    </operation>
    <operation name="AddressTypesDataset">
      <documentation>List supported addresstypes as dataset</documentation>
      <input message="s0:AddressTypesDatasetHttpPostIn" />
      <output message="s0:AddressTypesDatasetHttpPostOut" />
    </operation>
    <operation name="AddressTypes">
      <documentation>List supported addresstypes</documentation>
      <input message="s0:AddressTypesHttpPostIn" />
      <output message="s0:AddressTypesHttpPostOut" />
    </operation>
    <operation name="PostalAddress">
      <documentation>Lookup postal addresses</documentation>
      <input message="s0:PostalAddressHttpPostIn" />
      <output message="s0:PostalAddressHttpPostOut" />
    </operation>
  </portType>
  <binding name="pwspPostalSearchSoap" type="s0:pwspPostalSearchSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="ListAddressDataset">
      <soap:operation soapAction="http://www.pointwsp.net/postal/ListAddressDataset" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListAddress">
      <soap:operation soapAction="http://www.pointwsp.net/postal/ListAddress" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CountryCodes">
      <soap:operation soapAction="http://www.pointwsp.net/postal/CountryCodes" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CountryCodesDataset">
      <soap:operation soapAction="http://www.pointwsp.net/postal/CountryCodesDataset" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AddressTypesDataset">
      <soap:operation soapAction="http://www.pointwsp.net/postal/AddressTypesDataset" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AddressTypes">
      <soap:operation soapAction="http://www.pointwsp.net/postal/AddressTypes" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PostalAddress">
      <soap:operation soapAction="http://www.pointwsp.net/postal/PostalAddress" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="pwspPostalSearchHttpGet" type="s0:pwspPostalSearchHttpGet">
    <http:binding verb="GET" />
    <operation name="ListAddressDataset">
      <http:operation location="/ListAddressDataset" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ListAddress">
      <http:operation location="/ListAddress" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CountryCodes">
      <http:operation location="/CountryCodes" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CountryCodesDataset">
      <http:operation location="/CountryCodesDataset" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AddressTypesDataset">
      <http:operation location="/AddressTypesDataset" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AddressTypes">
      <http:operation location="/AddressTypes" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="PostalAddress">
      <http:operation location="/PostalAddress" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="pwspPostalSearchHttpPost" type="s0:pwspPostalSearchHttpPost">
    <http:binding verb="POST" />
    <operation name="ListAddressDataset">
      <http:operation location="/ListAddressDataset" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ListAddress">
      <http:operation location="/ListAddress" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CountryCodes">
      <http:operation location="/CountryCodes" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CountryCodesDataset">
      <http:operation location="/CountryCodesDataset" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AddressTypesDataset">
      <http:operation location="/AddressTypesDataset" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AddressTypes">
      <http:operation location="/AddressTypes" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="PostalAddress">
      <http:operation location="/PostalAddress" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="pwspPostalSearch">
    <documentation>pointWSP Postal search, Search with Postcodes, address, streets and locations</documentation>
    <port name="pwspPostalSearchSoap" binding="s0:pwspPostalSearchSoap">
      <soap:address location="http://server1.pointwsp.net/ws/postal/main.asmx" />
    </port>
    <port name="pwspPostalSearchHttpGet" binding="s0:pwspPostalSearchHttpGet">
      <http:address location="http://server1.pointwsp.net/ws/postal/main.asmx" />
    </port>
    <port name="pwspPostalSearchHttpPost" binding="s0:pwspPostalSearchHttpPost">
      <http:address location="http://server1.pointwsp.net/ws/postal/main.asmx" />
    </port>
  </service>
</definitions>