WebServiceDataset/countryInfo/cityInformation/postcodes/service23.Addresses.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.tysystems.net/kzipcode" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.tysystems.net/kzipcode" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.tysystems.net/kzipcode">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="get_ZipAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zip_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_ZipAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_ZipAddressResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_DongAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dong_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_DongAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_DongAddressResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="get_ZipAddressSoapIn">
    <part name="parameters" element="s0:get_ZipAddress" />
  </message>
  <message name="get_ZipAddressSoapOut">
    <part name="parameters" element="s0:get_ZipAddressResponse" />
  </message>
  <message name="get_DongAddressSoapIn">
    <part name="parameters" element="s0:get_DongAddress" />
  </message>
  <message name="get_DongAddressSoapOut">
    <part name="parameters" element="s0:get_DongAddressResponse" />
  </message>
  <message name="get_ZipAddressHttpGetIn">
    <part name="zip_code" type="s:string" />
  </message>
  <message name="get_ZipAddressHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="get_DongAddressHttpGetIn">
    <part name="dong_name" type="s:string" />
  </message>
  <message name="get_DongAddressHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="get_ZipAddressHttpPostIn">
    <part name="zip_code" type="s:string" />
  </message>
  <message name="get_ZipAddressHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="get_DongAddressHttpPostIn">
    <part name="dong_name" type="s:string" />
  </message>
  <message name="get_DongAddressHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <portType name="Service1Soap">
    <operation name="get_ZipAddress">
      <documentation>ì?°í?¸ë²?í?¸ì?? í?´ë?¹í??ë?? ì??,êµ°,ë?? ì£¼ì??ë¥¼ ë°?í??í?©ë??ë?¤.(ex:138130)</documentation>
      <input message="s0:get_ZipAddressSoapIn" />
      <output message="s0:get_ZipAddressSoapOut" />
    </operation>
    <operation name="get_DongAddress">
      <documentation>ì??ë ¥ë?? ê°?ì?? ë??ëª?ì?´ ë?¤ì?´ê°?ë?? ì£¼ì??ì?? ì?°í?¸ë²?í?¸ë?¤ì?? ë°?í??í?©ë??ë?¤. (ex:ì?¤ê¸?)</documentation>
      <input message="s0:get_DongAddressSoapIn" />
      <output message="s0:get_DongAddressSoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet">
    <operation name="get_ZipAddress">
      <documentation>ì?°í?¸ë²?í?¸ì?? í?´ë?¹í??ë?? ì??,êµ°,ë?? ì£¼ì??ë¥¼ ë°?í??í?©ë??ë?¤.(ex:138130)</documentation>
      <input message="s0:get_ZipAddressHttpGetIn" />
      <output message="s0:get_ZipAddressHttpGetOut" />
    </operation>
    <operation name="get_DongAddress">
      <documentation>ì??ë ¥ë?? ê°?ì?? ë??ëª?ì?´ ë?¤ì?´ê°?ë?? ì£¼ì??ì?? ì?°í?¸ë²?í?¸ë?¤ì?? ë°?í??í?©ë??ë?¤. (ex:ì?¤ê¸?)</documentation>
      <input message="s0:get_DongAddressHttpGetIn" />
      <output message="s0:get_DongAddressHttpGetOut" />
    </operation>
  </portType>
  <portType name="Service1HttpPost">
    <operation name="get_ZipAddress">
      <documentation>ì?°í?¸ë²?í?¸ì?? í?´ë?¹í??ë?? ì??,êµ°,ë?? ì£¼ì??ë¥¼ ë°?í??í?©ë??ë?¤.(ex:138130)</documentation>
      <input message="s0:get_ZipAddressHttpPostIn" />
      <output message="s0:get_ZipAddressHttpPostOut" />
    </operation>
    <operation name="get_DongAddress">
      <documentation>ì??ë ¥ë?? ê°?ì?? ë??ëª?ì?´ ë?¤ì?´ê°?ë?? ì£¼ì??ì?? ì?°í?¸ë²?í?¸ë?¤ì?? ë°?í??í?©ë??ë?¤. (ex:ì?¤ê¸?)</documentation>
      <input message="s0:get_DongAddressHttpPostIn" />
      <output message="s0:get_DongAddressHttpPostOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="get_ZipAddress">
      <soap:operation soapAction="http://www.tysystems.net/kzipcode/get_ZipAddress" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_DongAddress">
      <soap:operation soapAction="http://www.tysystems.net/kzipcode/get_DongAddress" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
    <http:binding verb="GET" />
    <operation name="get_ZipAddress">
      <http:operation location="/get_ZipAddress" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="get_DongAddress">
      <http:operation location="/get_DongAddress" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
    <http:binding verb="POST" />
    <operation name="get_ZipAddress">
      <http:operation location="/get_ZipAddress" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="get_DongAddress">
      <http:operation location="/get_DongAddress" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <documentation>í??êµ­ ì?°í?¸ë²?í?¸ë¥¼ ì¡°í??í??ë?? ì?¹ì??ë¹?ì?¤ ì??ë??ë?¤.</documentation>
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://128.134.30.93/kzipcode/zipinfo.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s0:Service1HttpGet">
      <http:address location="http://128.134.30.93/kzipcode/zipinfo.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s0:Service1HttpPost">
      <http:address location="http://128.134.30.93/kzipcode/zipinfo.asmx" />
    </port>
  </service>
</definitions>