WebServiceDataset/developers/Encryption/service77.Specialist.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://ntg.webs.innerhost.com/softcrypto/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ntg.webs.innerhost.com/softcrypto/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ntg.webs.innerhost.com/softcrypto/">
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldUserPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newUserPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeUserPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateRandomPINKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateRandomPINKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateRandomPINKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateRandomPVK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateRandomPVKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateRandomPVKResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePINBlock_PINPad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PINKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePINBlock_PINPadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreatePINBlock_PINPadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePINBlock_ANSIPINPad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PINKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePINBlock_ANSIPINPadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreatePINBlock_ANSIPINPadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslatePINKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SourceUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceUserPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encryptedTPK" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetUserPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslatePINKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslatePINKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslatePVK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SourceUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceUserPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encryptedTPK" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetUserPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslatePVKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslatePVKResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateVISAPVV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PINBlock" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PINBlockFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PINKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PVK_A" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PVK_B" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PVKI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateVISAPVVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateVISAPVVResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyVISAPVV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PINBlock" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PINBlockFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PINKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PVK_A" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PVK_B" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PVKI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PVV" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyVISAPVVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyVISAPVVResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateVISAPVV_ClearPIN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PVK_A" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PVK_B" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PVKI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateVISAPVV_ClearPINResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateVISAPVV_ClearPINResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyVISAPVV_ClearPIN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PVK_A" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PVK_B" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PVKI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PVV" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyVISAPVV_ClearPINResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyVISAPVV_ClearPINResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DESEncrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KeyString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBlock" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DESEncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DESEncryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DESDecrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KeyString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBlock" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DESDecryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DESDecryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TripleDESEncrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key1String" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Key2String" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Key3String" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBlock" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TripleDESEncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TripleDESEncryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TripleDESDecrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key1String" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Key2String" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Key3String" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBlock" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TripleDESDecryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TripleDESDecryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="AddUserSoapIn">
    <part name="parameters" element="s0:AddUser" />
  </message>
  <message name="AddUserSoapOut">
    <part name="parameters" element="s0:AddUserResponse" />
  </message>
  <message name="DeleteUserSoapIn">
    <part name="parameters" element="s0:DeleteUser" />
  </message>
  <message name="DeleteUserSoapOut">
    <part name="parameters" element="s0:DeleteUserResponse" />
  </message>
  <message name="ChangeUserPasswordSoapIn">
    <part name="parameters" element="s0:ChangeUserPassword" />
  </message>
  <message name="ChangeUserPasswordSoapOut">
    <part name="parameters" element="s0:ChangeUserPasswordResponse" />
  </message>
  <message name="CreateRandomPINKeySoapIn">
    <part name="parameters" element="s0:CreateRandomPINKey" />
  </message>
  <message name="CreateRandomPINKeySoapOut">
    <part name="parameters" element="s0:CreateRandomPINKeyResponse" />
  </message>
  <message name="CreateRandomPVKSoapIn">
    <part name="parameters" element="s0:CreateRandomPVK" />
  </message>
  <message name="CreateRandomPVKSoapOut">
    <part name="parameters" element="s0:CreateRandomPVKResponse" />
  </message>
  <message name="CreatePINBlock_PINPadSoapIn">
    <part name="parameters" element="s0:CreatePINBlock_PINPad" />
  </message>
  <message name="CreatePINBlock_PINPadSoapOut">
    <part name="parameters" element="s0:CreatePINBlock_PINPadResponse" />
  </message>
  <message name="CreatePINBlock_ANSIPINPadSoapIn">
    <part name="parameters" element="s0:CreatePINBlock_ANSIPINPad" />
  </message>
  <message name="CreatePINBlock_ANSIPINPadSoapOut">
    <part name="parameters" element="s0:CreatePINBlock_ANSIPINPadResponse" />
  </message>
  <message name="TranslatePINKeySoapIn">
    <part name="parameters" element="s0:TranslatePINKey" />
  </message>
  <message name="TranslatePINKeySoapOut">
    <part name="parameters" element="s0:TranslatePINKeyResponse" />
  </message>
  <message name="TranslatePVKSoapIn">
    <part name="parameters" element="s0:TranslatePVK" />
  </message>
  <message name="TranslatePVKSoapOut">
    <part name="parameters" element="s0:TranslatePVKResponse" />
  </message>
  <message name="GenerateVISAPVVSoapIn">
    <part name="parameters" element="s0:GenerateVISAPVV" />
  </message>
  <message name="GenerateVISAPVVSoapOut">
    <part name="parameters" element="s0:GenerateVISAPVVResponse" />
  </message>
  <message name="VerifyVISAPVVSoapIn">
    <part name="parameters" element="s0:VerifyVISAPVV" />
  </message>
  <message name="VerifyVISAPVVSoapOut">
    <part name="parameters" element="s0:VerifyVISAPVVResponse" />
  </message>
  <message name="GenerateVISAPVV_ClearPINSoapIn">
    <part name="parameters" element="s0:GenerateVISAPVV_ClearPIN" />
  </message>
  <message name="GenerateVISAPVV_ClearPINSoapOut">
    <part name="parameters" element="s0:GenerateVISAPVV_ClearPINResponse" />
  </message>
  <message name="VerifyVISAPVV_ClearPINSoapIn">
    <part name="parameters" element="s0:VerifyVISAPVV_ClearPIN" />
  </message>
  <message name="VerifyVISAPVV_ClearPINSoapOut">
    <part name="parameters" element="s0:VerifyVISAPVV_ClearPINResponse" />
  </message>
  <message name="DESEncryptSoapIn">
    <part name="parameters" element="s0:DESEncrypt" />
  </message>
  <message name="DESEncryptSoapOut">
    <part name="parameters" element="s0:DESEncryptResponse" />
  </message>
  <message name="DESDecryptSoapIn">
    <part name="parameters" element="s0:DESDecrypt" />
  </message>
  <message name="DESDecryptSoapOut">
    <part name="parameters" element="s0:DESDecryptResponse" />
  </message>
  <message name="TripleDESEncryptSoapIn">
    <part name="parameters" element="s0:TripleDESEncrypt" />
  </message>
  <message name="TripleDESEncryptSoapOut">
    <part name="parameters" element="s0:TripleDESEncryptResponse" />
  </message>
  <message name="TripleDESDecryptSoapIn">
    <part name="parameters" element="s0:TripleDESDecrypt" />
  </message>
  <message name="TripleDESDecryptSoapOut">
    <part name="parameters" element="s0:TripleDESDecryptResponse" />
  </message>
  <message name="AddUserHttpGetIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
  </message>
  <message name="AddUserHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="DeleteUserHttpGetIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
  </message>
  <message name="DeleteUserHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ChangeUserPasswordHttpGetIn">
    <part name="userID" type="s:string" />
    <part name="oldUserPwd" type="s:string" />
    <part name="newUserPwd" type="s:string" />
  </message>
  <message name="ChangeUserPasswordHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="CreateRandomPINKeyHttpGetIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
  </message>
  <message name="CreateRandomPINKeyHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="CreateRandomPVKHttpGetIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
  </message>
  <message name="CreateRandomPVKHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="CreatePINBlock_PINPadHttpGetIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
    <part name="PIN" type="s:string" />
    <part name="PINKey" type="s:string" />
  </message>
  <message name="CreatePINBlock_PINPadHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="CreatePINBlock_ANSIPINPadHttpGetIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
    <part name="PIN" type="s:string" />
    <part name="PINKey" type="s:string" />
    <part name="AccountNumber" type="s:string" />
  </message>
  <message name="CreatePINBlock_ANSIPINPadHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="TranslatePINKeyHttpGetIn">
    <part name="SourceUserID" type="s:string" />
    <part name="SourceUserPwd" type="s:string" />
    <part name="encryptedTPK" type="s:string" />
    <part name="TargetUserID" type="s:string" />
    <part name="TargetUserPwd" type="s:string" />
  </message>
  <message name="TranslatePINKeyHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="TranslatePVKHttpGetIn">
    <part name="SourceUserID" type="s:string" />
    <part name="SourceUserPwd" type="s:string" />
    <part name="encryptedTPK" type="s:string" />
    <part name="TargetUserID" type="s:string" />
    <part name="TargetUserPwd" type="s:string" />
  </message>
  <message name="TranslatePVKHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GenerateVISAPVVHttpGetIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
    <part name="PINBlock" type="s:string" />
    <part name="PINBlockFormat" type="s:string" />
    <part name="PINKey" type="s:string" />
    <part name="PVK_A" type="s:string" />
    <part name="PVK_B" type="s:string" />
    <part name="PVKI" type="s:string" />
    <part name="AccountNumber" type="s:string" />
  </message>
  <message name="GenerateVISAPVVHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="VerifyVISAPVVHttpGetIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
    <part name="PINBlock" type="s:string" />
    <part name="PINBlockFormat" type="s:string" />
    <part name="PINKey" type="s:string" />
    <part name="PVK_A" type="s:string" />
    <part name="PVK_B" type="s:string" />
    <part name="PVKI" type="s:string" />
    <part name="AccountNumber" type="s:string" />
    <part name="PVV" type="s:string" />
  </message>
  <message name="VerifyVISAPVVHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GenerateVISAPVV_ClearPINHttpGetIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
    <part name="PIN" type="s:string" />
    <part name="PVK_A" type="s:string" />
    <part name="PVK_B" type="s:string" />
    <part name="PVKI" type="s:string" />
    <part name="AccountNumber" type="s:string" />
  </message>
  <message name="GenerateVISAPVV_ClearPINHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="VerifyVISAPVV_ClearPINHttpGetIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
    <part name="PIN" type="s:string" />
    <part name="PVK_A" type="s:string" />
    <part name="PVK_B" type="s:string" />
    <part name="PVKI" type="s:string" />
    <part name="AccountNumber" type="s:string" />
    <part name="PVV" type="s:string" />
  </message>
  <message name="VerifyVISAPVV_ClearPINHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="DESEncryptHttpGetIn">
    <part name="KeyString" type="s:string" />
    <part name="DataBlock" type="s:string" />
  </message>
  <message name="DESEncryptHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="DESDecryptHttpGetIn">
    <part name="KeyString" type="s:string" />
    <part name="DataBlock" type="s:string" />
  </message>
  <message name="DESDecryptHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="TripleDESEncryptHttpGetIn">
    <part name="Key1String" type="s:string" />
    <part name="Key2String" type="s:string" />
    <part name="Key3String" type="s:string" />
    <part name="DataBlock" type="s:string" />
  </message>
  <message name="TripleDESEncryptHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="TripleDESDecryptHttpGetIn">
    <part name="Key1String" type="s:string" />
    <part name="Key2String" type="s:string" />
    <part name="Key3String" type="s:string" />
    <part name="DataBlock" type="s:string" />
  </message>
  <message name="TripleDESDecryptHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="AddUserHttpPostIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
  </message>
  <message name="AddUserHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="DeleteUserHttpPostIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
  </message>
  <message name="DeleteUserHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ChangeUserPasswordHttpPostIn">
    <part name="userID" type="s:string" />
    <part name="oldUserPwd" type="s:string" />
    <part name="newUserPwd" type="s:string" />
  </message>
  <message name="ChangeUserPasswordHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="CreateRandomPINKeyHttpPostIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
  </message>
  <message name="CreateRandomPINKeyHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="CreateRandomPVKHttpPostIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
  </message>
  <message name="CreateRandomPVKHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="CreatePINBlock_PINPadHttpPostIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
    <part name="PIN" type="s:string" />
    <part name="PINKey" type="s:string" />
  </message>
  <message name="CreatePINBlock_PINPadHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="CreatePINBlock_ANSIPINPadHttpPostIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
    <part name="PIN" type="s:string" />
    <part name="PINKey" type="s:string" />
    <part name="AccountNumber" type="s:string" />
  </message>
  <message name="CreatePINBlock_ANSIPINPadHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="TranslatePINKeyHttpPostIn">
    <part name="SourceUserID" type="s:string" />
    <part name="SourceUserPwd" type="s:string" />
    <part name="encryptedTPK" type="s:string" />
    <part name="TargetUserID" type="s:string" />
    <part name="TargetUserPwd" type="s:string" />
  </message>
  <message name="TranslatePINKeyHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="TranslatePVKHttpPostIn">
    <part name="SourceUserID" type="s:string" />
    <part name="SourceUserPwd" type="s:string" />
    <part name="encryptedTPK" type="s:string" />
    <part name="TargetUserID" type="s:string" />
    <part name="TargetUserPwd" type="s:string" />
  </message>
  <message name="TranslatePVKHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GenerateVISAPVVHttpPostIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
    <part name="PINBlock" type="s:string" />
    <part name="PINBlockFormat" type="s:string" />
    <part name="PINKey" type="s:string" />
    <part name="PVK_A" type="s:string" />
    <part name="PVK_B" type="s:string" />
    <part name="PVKI" type="s:string" />
    <part name="AccountNumber" type="s:string" />
  </message>
  <message name="GenerateVISAPVVHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="VerifyVISAPVVHttpPostIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
    <part name="PINBlock" type="s:string" />
    <part name="PINBlockFormat" type="s:string" />
    <part name="PINKey" type="s:string" />
    <part name="PVK_A" type="s:string" />
    <part name="PVK_B" type="s:string" />
    <part name="PVKI" type="s:string" />
    <part name="AccountNumber" type="s:string" />
    <part name="PVV" type="s:string" />
  </message>
  <message name="VerifyVISAPVVHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GenerateVISAPVV_ClearPINHttpPostIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
    <part name="PIN" type="s:string" />
    <part name="PVK_A" type="s:string" />
    <part name="PVK_B" type="s:string" />
    <part name="PVKI" type="s:string" />
    <part name="AccountNumber" type="s:string" />
  </message>
  <message name="GenerateVISAPVV_ClearPINHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="VerifyVISAPVV_ClearPINHttpPostIn">
    <part name="userID" type="s:string" />
    <part name="userPwd" type="s:string" />
    <part name="PIN" type="s:string" />
    <part name="PVK_A" type="s:string" />
    <part name="PVK_B" type="s:string" />
    <part name="PVKI" type="s:string" />
    <part name="AccountNumber" type="s:string" />
    <part name="PVV" type="s:string" />
  </message>
  <message name="VerifyVISAPVV_ClearPINHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="DESEncryptHttpPostIn">
    <part name="KeyString" type="s:string" />
    <part name="DataBlock" type="s:string" />
  </message>
  <message name="DESEncryptHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="DESDecryptHttpPostIn">
    <part name="KeyString" type="s:string" />
    <part name="DataBlock" type="s:string" />
  </message>
  <message name="DESDecryptHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="TripleDESEncryptHttpPostIn">
    <part name="Key1String" type="s:string" />
    <part name="Key2String" type="s:string" />
    <part name="Key3String" type="s:string" />
    <part name="DataBlock" type="s:string" />
  </message>
  <message name="TripleDESEncryptHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="TripleDESDecryptHttpPostIn">
    <part name="Key1String" type="s:string" />
    <part name="Key2String" type="s:string" />
    <part name="Key3String" type="s:string" />
    <part name="DataBlock" type="s:string" />
  </message>
  <message name="TripleDESDecryptHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="cryptoSoap">
    <operation name="AddUser">
      <documentation>Creates a new user and an associated secret master key. The key is NOT returned to the user.</documentation>
      <input message="s0:AddUserSoapIn" />
      <output message="s0:AddUserSoapOut" />
    </operation>
    <operation name="DeleteUser">
      <documentation>Deletes an existing user and the associated secret master key.</documentation>
      <input message="s0:DeleteUserSoapIn" />
      <output message="s0:DeleteUserSoapOut" />
    </operation>
    <operation name="ChangeUserPassword">
      <documentation>Changes the password of an existing user without affecting the associated master key.</documentation>
      <input message="s0:ChangeUserPasswordSoapIn" />
      <output message="s0:ChangeUserPasswordSoapOut" />
    </operation>
    <operation name="CreateRandomPINKey">
      <documentation>Creates a random PIN key and returns it encrypted under the user's master key.</documentation>
      <input message="s0:CreateRandomPINKeySoapIn" />
      <output message="s0:CreateRandomPINKeySoapOut" />
    </operation>
    <operation name="CreateRandomPVK">
      <documentation>Creates a random PIN verification key and returns it encrypted under the user's master key.</documentation>
      <input message="s0:CreateRandomPVKSoapIn" />
      <output message="s0:CreateRandomPVKSoapOut" />
    </operation>
    <operation name="CreatePINBlock_PINPad">
      <documentation>Creates a PIN block using the PIN Pad format. The block is encrypted under the encrypted PIN key supplied by the user.</documentation>
      <input message="s0:CreatePINBlock_PINPadSoapIn" />
      <output message="s0:CreatePINBlock_PINPadSoapOut" />
    </operation>
    <operation name="CreatePINBlock_ANSIPINPad">
      <documentation>Creates a PIN block using the ANSI PIN block format. The block is encrypted under the encrypted PIN key supplied by the user.</documentation>
      <input message="s0:CreatePINBlock_ANSIPINPadSoapIn" />
      <output message="s0:CreatePINBlock_ANSIPINPadSoapOut" />
    </operation>
    <operation name="TranslatePINKey">
      <documentation>Translates a Terminal PIN Key from encryption under a source user's master key to encryption under a target user's master key.</documentation>
      <input message="s0:TranslatePINKeySoapIn" />
      <output message="s0:TranslatePINKeySoapOut" />
    </operation>
    <operation name="TranslatePVK">
      <documentation>Translates a PIN Verification Key from encryption under a source user's master key to encryption under a target user's master key.</documentation>
      <input message="s0:TranslatePVKSoapIn" />
      <output message="s0:TranslatePVKSoapOut" />
    </operation>
    <operation name="GenerateVISAPVV">
      <documentation>Generates a VISA PVV for the supplied information. The supplied PIN block is encrypted under the PIN key and is either of the PIN Pad format (PINBlockFormat=P) or ANSI PIN format (PINBlockFormat=A).</documentation>
      <input message="s0:GenerateVISAPVVSoapIn" />
      <output message="s0:GenerateVISAPVVSoapOut" />
    </operation>
    <operation name="VerifyVISAPVV">
      <documentation>Verifies a PIN using the VISA method. The supplied PIN block is encrypted under the PIN key and is either of the PIN Pad format (PINBlockFormat=P) or ANSI PIN format (PINBlockFormat=A).</documentation>
      <input message="s0:VerifyVISAPVVSoapIn" />
      <output message="s0:VerifyVISAPVVSoapOut" />
    </operation>
    <operation name="GenerateVISAPVV_ClearPIN">
      <documentation>Generates a VISA PVV for the supplied information. The supplied PIN is not encrypted (clear PIN).</documentation>
      <input message="s0:GenerateVISAPVV_ClearPINSoapIn" />
      <output message="s0:GenerateVISAPVV_ClearPINSoapOut" />
    </operation>
    <operation name="VerifyVISAPVV_ClearPIN">
      <documentation>Verifies a PIN using the VISA method. The supplied PIN is not encrypted (clear PIN).</documentation>
      <input message="s0:VerifyVISAPVV_ClearPINSoapIn" />
      <output message="s0:VerifyVISAPVV_ClearPINSoapOut" />
    </operation>
    <operation name="DESEncrypt">
      <documentation>Performs an encryption of the data block using the DES algorithm.</documentation>
      <input message="s0:DESEncryptSoapIn" />
      <output message="s0:DESEncryptSoapOut" />
    </operation>
    <operation name="DESDecrypt">
      <documentation>Performs a decryption of the data block using the DES algorithm.</documentation>
      <input message="s0:DESDecryptSoapIn" />
      <output message="s0:DESDecryptSoapOut" />
    </operation>
    <operation name="TripleDESEncrypt">
      <documentation>Performs an encryption of the data block using the Triple DES algorithm.</documentation>
      <input message="s0:TripleDESEncryptSoapIn" />
      <output message="s0:TripleDESEncryptSoapOut" />
    </operation>
    <operation name="TripleDESDecrypt">
      <documentation>Performs a decryption of the data block using the Triple DES algorithm.</documentation>
      <input message="s0:TripleDESDecryptSoapIn" />
      <output message="s0:TripleDESDecryptSoapOut" />
    </operation>
  </portType>
  <portType name="cryptoHttpGet">
    <operation name="AddUser">
      <documentation>Creates a new user and an associated secret master key. The key is NOT returned to the user.</documentation>
      <input message="s0:AddUserHttpGetIn" />
      <output message="s0:AddUserHttpGetOut" />
    </operation>
    <operation name="DeleteUser">
      <documentation>Deletes an existing user and the associated secret master key.</documentation>
      <input message="s0:DeleteUserHttpGetIn" />
      <output message="s0:DeleteUserHttpGetOut" />
    </operation>
    <operation name="ChangeUserPassword">
      <documentation>Changes the password of an existing user without affecting the associated master key.</documentation>
      <input message="s0:ChangeUserPasswordHttpGetIn" />
      <output message="s0:ChangeUserPasswordHttpGetOut" />
    </operation>
    <operation name="CreateRandomPINKey">
      <documentation>Creates a random PIN key and returns it encrypted under the user's master key.</documentation>
      <input message="s0:CreateRandomPINKeyHttpGetIn" />
      <output message="s0:CreateRandomPINKeyHttpGetOut" />
    </operation>
    <operation name="CreateRandomPVK">
      <documentation>Creates a random PIN verification key and returns it encrypted under the user's master key.</documentation>
      <input message="s0:CreateRandomPVKHttpGetIn" />
      <output message="s0:CreateRandomPVKHttpGetOut" />
    </operation>
    <operation name="CreatePINBlock_PINPad">
      <documentation>Creates a PIN block using the PIN Pad format. The block is encrypted under the encrypted PIN key supplied by the user.</documentation>
      <input message="s0:CreatePINBlock_PINPadHttpGetIn" />
      <output message="s0:CreatePINBlock_PINPadHttpGetOut" />
    </operation>
    <operation name="CreatePINBlock_ANSIPINPad">
      <documentation>Creates a PIN block using the ANSI PIN block format. The block is encrypted under the encrypted PIN key supplied by the user.</documentation>
      <input message="s0:CreatePINBlock_ANSIPINPadHttpGetIn" />
      <output message="s0:CreatePINBlock_ANSIPINPadHttpGetOut" />
    </operation>
    <operation name="TranslatePINKey">
      <documentation>Translates a Terminal PIN Key from encryption under a source user's master key to encryption under a target user's master key.</documentation>
      <input message="s0:TranslatePINKeyHttpGetIn" />
      <output message="s0:TranslatePINKeyHttpGetOut" />
    </operation>
    <operation name="TranslatePVK">
      <documentation>Translates a PIN Verification Key from encryption under a source user's master key to encryption under a target user's master key.</documentation>
      <input message="s0:TranslatePVKHttpGetIn" />
      <output message="s0:TranslatePVKHttpGetOut" />
    </operation>
    <operation name="GenerateVISAPVV">
      <documentation>Generates a VISA PVV for the supplied information. The supplied PIN block is encrypted under the PIN key and is either of the PIN Pad format (PINBlockFormat=P) or ANSI PIN format (PINBlockFormat=A).</documentation>
      <input message="s0:GenerateVISAPVVHttpGetIn" />
      <output message="s0:GenerateVISAPVVHttpGetOut" />
    </operation>
    <operation name="VerifyVISAPVV">
      <documentation>Verifies a PIN using the VISA method. The supplied PIN block is encrypted under the PIN key and is either of the PIN Pad format (PINBlockFormat=P) or ANSI PIN format (PINBlockFormat=A).</documentation>
      <input message="s0:VerifyVISAPVVHttpGetIn" />
      <output message="s0:VerifyVISAPVVHttpGetOut" />
    </operation>
    <operation name="GenerateVISAPVV_ClearPIN">
      <documentation>Generates a VISA PVV for the supplied information. The supplied PIN is not encrypted (clear PIN).</documentation>
      <input message="s0:GenerateVISAPVV_ClearPINHttpGetIn" />
      <output message="s0:GenerateVISAPVV_ClearPINHttpGetOut" />
    </operation>
    <operation name="VerifyVISAPVV_ClearPIN">
      <documentation>Verifies a PIN using the VISA method. The supplied PIN is not encrypted (clear PIN).</documentation>
      <input message="s0:VerifyVISAPVV_ClearPINHttpGetIn" />
      <output message="s0:VerifyVISAPVV_ClearPINHttpGetOut" />
    </operation>
    <operation name="DESEncrypt">
      <documentation>Performs an encryption of the data block using the DES algorithm.</documentation>
      <input message="s0:DESEncryptHttpGetIn" />
      <output message="s0:DESEncryptHttpGetOut" />
    </operation>
    <operation name="DESDecrypt">
      <documentation>Performs a decryption of the data block using the DES algorithm.</documentation>
      <input message="s0:DESDecryptHttpGetIn" />
      <output message="s0:DESDecryptHttpGetOut" />
    </operation>
    <operation name="TripleDESEncrypt">
      <documentation>Performs an encryption of the data block using the Triple DES algorithm.</documentation>
      <input message="s0:TripleDESEncryptHttpGetIn" />
      <output message="s0:TripleDESEncryptHttpGetOut" />
    </operation>
    <operation name="TripleDESDecrypt">
      <documentation>Performs a decryption of the data block using the Triple DES algorithm.</documentation>
      <input message="s0:TripleDESDecryptHttpGetIn" />
      <output message="s0:TripleDESDecryptHttpGetOut" />
    </operation>
  </portType>
  <portType name="cryptoHttpPost">
    <operation name="AddUser">
      <documentation>Creates a new user and an associated secret master key. The key is NOT returned to the user.</documentation>
      <input message="s0:AddUserHttpPostIn" />
      <output message="s0:AddUserHttpPostOut" />
    </operation>
    <operation name="DeleteUser">
      <documentation>Deletes an existing user and the associated secret master key.</documentation>
      <input message="s0:DeleteUserHttpPostIn" />
      <output message="s0:DeleteUserHttpPostOut" />
    </operation>
    <operation name="ChangeUserPassword">
      <documentation>Changes the password of an existing user without affecting the associated master key.</documentation>
      <input message="s0:ChangeUserPasswordHttpPostIn" />
      <output message="s0:ChangeUserPasswordHttpPostOut" />
    </operation>
    <operation name="CreateRandomPINKey">
      <documentation>Creates a random PIN key and returns it encrypted under the user's master key.</documentation>
      <input message="s0:CreateRandomPINKeyHttpPostIn" />
      <output message="s0:CreateRandomPINKeyHttpPostOut" />
    </operation>
    <operation name="CreateRandomPVK">
      <documentation>Creates a random PIN verification key and returns it encrypted under the user's master key.</documentation>
      <input message="s0:CreateRandomPVKHttpPostIn" />
      <output message="s0:CreateRandomPVKHttpPostOut" />
    </operation>
    <operation name="CreatePINBlock_PINPad">
      <documentation>Creates a PIN block using the PIN Pad format. The block is encrypted under the encrypted PIN key supplied by the user.</documentation>
      <input message="s0:CreatePINBlock_PINPadHttpPostIn" />
      <output message="s0:CreatePINBlock_PINPadHttpPostOut" />
    </operation>
    <operation name="CreatePINBlock_ANSIPINPad">
      <documentation>Creates a PIN block using the ANSI PIN block format. The block is encrypted under the encrypted PIN key supplied by the user.</documentation>
      <input message="s0:CreatePINBlock_ANSIPINPadHttpPostIn" />
      <output message="s0:CreatePINBlock_ANSIPINPadHttpPostOut" />
    </operation>
    <operation name="TranslatePINKey">
      <documentation>Translates a Terminal PIN Key from encryption under a source user's master key to encryption under a target user's master key.</documentation>
      <input message="s0:TranslatePINKeyHttpPostIn" />
      <output message="s0:TranslatePINKeyHttpPostOut" />
    </operation>
    <operation name="TranslatePVK">
      <documentation>Translates a PIN Verification Key from encryption under a source user's master key to encryption under a target user's master key.</documentation>
      <input message="s0:TranslatePVKHttpPostIn" />
      <output message="s0:TranslatePVKHttpPostOut" />
    </operation>
    <operation name="GenerateVISAPVV">
      <documentation>Generates a VISA PVV for the supplied information. The supplied PIN block is encrypted under the PIN key and is either of the PIN Pad format (PINBlockFormat=P) or ANSI PIN format (PINBlockFormat=A).</documentation>
      <input message="s0:GenerateVISAPVVHttpPostIn" />
      <output message="s0:GenerateVISAPVVHttpPostOut" />
    </operation>
    <operation name="VerifyVISAPVV">
      <documentation>Verifies a PIN using the VISA method. The supplied PIN block is encrypted under the PIN key and is either of the PIN Pad format (PINBlockFormat=P) or ANSI PIN format (PINBlockFormat=A).</documentation>
      <input message="s0:VerifyVISAPVVHttpPostIn" />
      <output message="s0:VerifyVISAPVVHttpPostOut" />
    </operation>
    <operation name="GenerateVISAPVV_ClearPIN">
      <documentation>Generates a VISA PVV for the supplied information. The supplied PIN is not encrypted (clear PIN).</documentation>
      <input message="s0:GenerateVISAPVV_ClearPINHttpPostIn" />
      <output message="s0:GenerateVISAPVV_ClearPINHttpPostOut" />
    </operation>
    <operation name="VerifyVISAPVV_ClearPIN">
      <documentation>Verifies a PIN using the VISA method. The supplied PIN is not encrypted (clear PIN).</documentation>
      <input message="s0:VerifyVISAPVV_ClearPINHttpPostIn" />
      <output message="s0:VerifyVISAPVV_ClearPINHttpPostOut" />
    </operation>
    <operation name="DESEncrypt">
      <documentation>Performs an encryption of the data block using the DES algorithm.</documentation>
      <input message="s0:DESEncryptHttpPostIn" />
      <output message="s0:DESEncryptHttpPostOut" />
    </operation>
    <operation name="DESDecrypt">
      <documentation>Performs a decryption of the data block using the DES algorithm.</documentation>
      <input message="s0:DESDecryptHttpPostIn" />
      <output message="s0:DESDecryptHttpPostOut" />
    </operation>
    <operation name="TripleDESEncrypt">
      <documentation>Performs an encryption of the data block using the Triple DES algorithm.</documentation>
      <input message="s0:TripleDESEncryptHttpPostIn" />
      <output message="s0:TripleDESEncryptHttpPostOut" />
    </operation>
    <operation name="TripleDESDecrypt">
      <documentation>Performs a decryption of the data block using the Triple DES algorithm.</documentation>
      <input message="s0:TripleDESDecryptHttpPostIn" />
      <output message="s0:TripleDESDecryptHttpPostOut" />
    </operation>
  </portType>
  <binding name="cryptoSoap" type="s0:cryptoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="AddUser">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/AddUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteUser">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/DeleteUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ChangeUserPassword">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/ChangeUserPassword" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateRandomPINKey">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/CreateRandomPINKey" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateRandomPVK">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/CreateRandomPVK" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreatePINBlock_PINPad">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/CreatePINBlock_PINPad" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreatePINBlock_ANSIPINPad">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/CreatePINBlock_ANSIPINPad" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TranslatePINKey">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/TranslatePINKey" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TranslatePVK">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/TranslatePVK" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GenerateVISAPVV">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/GenerateVISAPVV" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="VerifyVISAPVV">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/VerifyVISAPVV" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GenerateVISAPVV_ClearPIN">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/GenerateVISAPVV_ClearPIN" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="VerifyVISAPVV_ClearPIN">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/VerifyVISAPVV_ClearPIN" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DESEncrypt">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/DESEncrypt" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DESDecrypt">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/DESDecrypt" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TripleDESEncrypt">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/TripleDESEncrypt" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TripleDESDecrypt">
      <soap:operation soapAction="http://ntg.webs.innerhost.com/softcrypto/TripleDESDecrypt" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="cryptoHttpGet" type="s0:cryptoHttpGet">
    <http:binding verb="GET" />
    <operation name="AddUser">
      <http:operation location="/AddUser" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DeleteUser">
      <http:operation location="/DeleteUser" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ChangeUserPassword">
      <http:operation location="/ChangeUserPassword" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CreateRandomPINKey">
      <http:operation location="/CreateRandomPINKey" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CreateRandomPVK">
      <http:operation location="/CreateRandomPVK" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CreatePINBlock_PINPad">
      <http:operation location="/CreatePINBlock_PINPad" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CreatePINBlock_ANSIPINPad">
      <http:operation location="/CreatePINBlock_ANSIPINPad" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="TranslatePINKey">
      <http:operation location="/TranslatePINKey" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="TranslatePVK">
      <http:operation location="/TranslatePVK" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GenerateVISAPVV">
      <http:operation location="/GenerateVISAPVV" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="VerifyVISAPVV">
      <http:operation location="/VerifyVISAPVV" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GenerateVISAPVV_ClearPIN">
      <http:operation location="/GenerateVISAPVV_ClearPIN" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="VerifyVISAPVV_ClearPIN">
      <http:operation location="/VerifyVISAPVV_ClearPIN" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DESEncrypt">
      <http:operation location="/DESEncrypt" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DESDecrypt">
      <http:operation location="/DESDecrypt" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="TripleDESEncrypt">
      <http:operation location="/TripleDESEncrypt" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="TripleDESDecrypt">
      <http:operation location="/TripleDESDecrypt" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="cryptoHttpPost" type="s0:cryptoHttpPost">
    <http:binding verb="POST" />
    <operation name="AddUser">
      <http:operation location="/AddUser" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DeleteUser">
      <http:operation location="/DeleteUser" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ChangeUserPassword">
      <http:operation location="/ChangeUserPassword" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CreateRandomPINKey">
      <http:operation location="/CreateRandomPINKey" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CreateRandomPVK">
      <http:operation location="/CreateRandomPVK" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CreatePINBlock_PINPad">
      <http:operation location="/CreatePINBlock_PINPad" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CreatePINBlock_ANSIPINPad">
      <http:operation location="/CreatePINBlock_ANSIPINPad" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="TranslatePINKey">
      <http:operation location="/TranslatePINKey" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="TranslatePVK">
      <http:operation location="/TranslatePVK" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GenerateVISAPVV">
      <http:operation location="/GenerateVISAPVV" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="VerifyVISAPVV">
      <http:operation location="/VerifyVISAPVV" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GenerateVISAPVV_ClearPIN">
      <http:operation location="/GenerateVISAPVV_ClearPIN" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="VerifyVISAPVV_ClearPIN">
      <http:operation location="/VerifyVISAPVV_ClearPIN" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DESEncrypt">
      <http:operation location="/DESEncrypt" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DESDecrypt">
      <http:operation location="/DESDecrypt" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="TripleDESEncrypt">
      <http:operation location="/TripleDESEncrypt" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="TripleDESDecrypt">
      <http:operation location="/TripleDESDecrypt" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="crypto">
    <documentation>&lt;p&gt;The &lt;b&gt;crypto&lt;/b&gt; web service emulates some banking cryptographic functions commonly implemented in hardware security devices.&lt;/p&gt;&lt;p&gt;Click &lt;a href="docs.htm"&gt;here&lt;/a&gt; for the documentation of the web service.&lt;/p&gt;&lt;p&gt;Click &lt;a href="http://ntg.webs.innerhost.com/portal/Discussions.aspx?forum_id=4&amp;"&gt;here&lt;/a&gt; for the SoftCrypto discussion forum.&lt;/p&gt;&lt;p&gt;Direct any questions or ideas regarding this web service &lt;a href="mailto:nickntg@hotmail.com"&gt;here&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;a href="http://www.innerhost.com" target="_blank"&gt;&lt;img src="ihlogo.gif" border="0" alt="Web service hosted by iNNERHost"&gt;&lt;/a&gt;&lt;/p&gt;</documentation>
    <port name="cryptoSoap" binding="s0:cryptoSoap">
      <soap:address location="http://ntg.webs.innerhost.com/softcrypto/crypto.asmx" />
    </port>
    <port name="cryptoHttpGet" binding="s0:cryptoHttpGet">
      <http:address location="http://ntg.webs.innerhost.com/softcrypto/crypto.asmx" />
    </port>
    <port name="cryptoHttpPost" binding="s0:cryptoHttpPost">
      <http:address location="http://ntg.webs.innerhost.com/softcrypto/crypto.asmx" />
    </port>
  </service>
</definitions>