WebServiceDataset/web/webservice/service30.ValueManipulation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.Softwaremaker.Net/WebServices/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.Softwaremaker.Net/WebServices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Softwaremaker.Net/WebServices/">
      <s:element name="Validate_SporeNRIC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ps_InputNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate_SporeNRICResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Validate_SporeNRICResult" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate_CreditCardType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ps_InputNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate_CreditCardTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Validate_CreditCardTypeResult" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate_CreditCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ps_InputNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate_CreditCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Validate_CreditCardResult" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate_ISBN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ps_InputNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate_ISBNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Validate_ISBNResult" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate_SporeCarRegNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ps_InputNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate_SporeCarRegNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Validate_SporeCarRegNoResult" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType />
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogoutResult" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate_SoapHeader">
        <s:complexType />
      </s:element>
      <s:element name="Validate_SoapHeaderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Validate_SoapHeaderResult" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validator_SoapHeader" type="s0:Validator_SoapHeader" />
      <s:complexType name="Validator_SoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SoapHeaderID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoapHeaderPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoapHeaderValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSoapHeaderID">
        <s:complexType />
      </s:element>
      <s:element name="GetSoapHeaderIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSoapHeaderIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSoapHeaderPassword">
        <s:complexType />
      </s:element>
      <s:element name="GetSoapHeaderPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSoapHeaderPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSoapHeaderValue">
        <s:complexType />
      </s:element>
      <s:element name="GetSoapHeaderValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSoapHeaderValueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="short" type="s:short" />
    </s:schema>
  </types>
  <message name="Validate_SporeNRICSoapIn">
    <part name="parameters" element="s0:Validate_SporeNRIC" />
  </message>
  <message name="Validate_SporeNRICSoapOut">
    <part name="parameters" element="s0:Validate_SporeNRICResponse" />
  </message>
  <message name="Validate_CreditCardTypeSoapIn">
    <part name="parameters" element="s0:Validate_CreditCardType" />
  </message>
  <message name="Validate_CreditCardTypeSoapOut">
    <part name="parameters" element="s0:Validate_CreditCardTypeResponse" />
  </message>
  <message name="Validate_CreditCardSoapIn">
    <part name="parameters" element="s0:Validate_CreditCard" />
  </message>
  <message name="Validate_CreditCardSoapOut">
    <part name="parameters" element="s0:Validate_CreditCardResponse" />
  </message>
  <message name="Validate_ISBNSoapIn">
    <part name="parameters" element="s0:Validate_ISBN" />
  </message>
  <message name="Validate_ISBNSoapOut">
    <part name="parameters" element="s0:Validate_ISBNResponse" />
  </message>
  <message name="Validate_SporeCarRegNoSoapIn">
    <part name="parameters" element="s0:Validate_SporeCarRegNo" />
  </message>
  <message name="Validate_SporeCarRegNoSoapOut">
    <part name="parameters" element="s0:Validate_SporeCarRegNoResponse" />
  </message>
  <message name="LoginSoapIn">
    <part name="parameters" element="s0:Login" />
  </message>
  <message name="LoginSoapOut">
    <part name="parameters" element="s0:LoginResponse" />
  </message>
  <message name="LogoutSoapIn">
    <part name="parameters" element="s0:Logout" />
  </message>
  <message name="LogoutSoapOut">
    <part name="parameters" element="s0:LogoutResponse" />
  </message>
  <message name="Validate_SoapHeaderSoapIn">
    <part name="parameters" element="s0:Validate_SoapHeader" />
  </message>
  <message name="Validate_SoapHeaderSoapOut">
    <part name="parameters" element="s0:Validate_SoapHeaderResponse" />
  </message>
  <message name="Validate_SoapHeaderValidator_SoapHeader">
    <part name="Validator_SoapHeader" element="s0:Validator_SoapHeader" />
  </message>
  <message name="GetSoapHeaderIDSoapIn">
    <part name="parameters" element="s0:GetSoapHeaderID" />
  </message>
  <message name="GetSoapHeaderIDSoapOut">
    <part name="parameters" element="s0:GetSoapHeaderIDResponse" />
  </message>
  <message name="GetSoapHeaderIDValidator_SoapHeader">
    <part name="Validator_SoapHeader" element="s0:Validator_SoapHeader" />
  </message>
  <message name="GetSoapHeaderPasswordSoapIn">
    <part name="parameters" element="s0:GetSoapHeaderPassword" />
  </message>
  <message name="GetSoapHeaderPasswordSoapOut">
    <part name="parameters" element="s0:GetSoapHeaderPasswordResponse" />
  </message>
  <message name="GetSoapHeaderPasswordValidator_SoapHeader">
    <part name="Validator_SoapHeader" element="s0:Validator_SoapHeader" />
  </message>
  <message name="GetSoapHeaderValueSoapIn">
    <part name="parameters" element="s0:GetSoapHeaderValue" />
  </message>
  <message name="GetSoapHeaderValueSoapOut">
    <part name="parameters" element="s0:GetSoapHeaderValueResponse" />
  </message>
  <message name="GetSoapHeaderValueValidator_SoapHeader">
    <part name="Validator_SoapHeader" element="s0:Validator_SoapHeader" />
  </message>
  <message name="Validate_SporeNRICHttpGetIn">
    <part name="ps_InputNo" type="s:string" />
  </message>
  <message name="Validate_SporeNRICHttpGetOut">
    <part name="Body" element="s0:short" />
  </message>
  <message name="Validate_CreditCardTypeHttpGetIn">
    <part name="ps_InputNo" type="s:string" />
  </message>
  <message name="Validate_CreditCardTypeHttpGetOut">
    <part name="Body" element="s0:short" />
  </message>
  <message name="Validate_CreditCardHttpGetIn">
    <part name="ps_InputNo" type="s:string" />
  </message>
  <message name="Validate_CreditCardHttpGetOut">
    <part name="Body" element="s0:short" />
  </message>
  <message name="Validate_ISBNHttpGetIn">
    <part name="ps_InputNo" type="s:string" />
  </message>
  <message name="Validate_ISBNHttpGetOut">
    <part name="Body" element="s0:short" />
  </message>
  <message name="Validate_SporeCarRegNoHttpGetIn">
    <part name="ps_InputNo" type="s:string" />
  </message>
  <message name="Validate_SporeCarRegNoHttpGetOut">
    <part name="Body" element="s0:short" />
  </message>
  <message name="LoginHttpGetIn">
    <part name="UserName" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="LoginHttpGetOut">
    <part name="Body" element="s0:short" />
  </message>
  <message name="LogoutHttpGetIn" />
  <message name="LogoutHttpGetOut">
    <part name="Body" element="s0:short" />
  </message>
  <message name="Validate_SporeNRICHttpPostIn">
    <part name="ps_InputNo" type="s:string" />
  </message>
  <message name="Validate_SporeNRICHttpPostOut">
    <part name="Body" element="s0:short" />
  </message>
  <message name="Validate_CreditCardTypeHttpPostIn">
    <part name="ps_InputNo" type="s:string" />
  </message>
  <message name="Validate_CreditCardTypeHttpPostOut">
    <part name="Body" element="s0:short" />
  </message>
  <message name="Validate_CreditCardHttpPostIn">
    <part name="ps_InputNo" type="s:string" />
  </message>
  <message name="Validate_CreditCardHttpPostOut">
    <part name="Body" element="s0:short" />
  </message>
  <message name="Validate_ISBNHttpPostIn">
    <part name="ps_InputNo" type="s:string" />
  </message>
  <message name="Validate_ISBNHttpPostOut">
    <part name="Body" element="s0:short" />
  </message>
  <message name="Validate_SporeCarRegNoHttpPostIn">
    <part name="ps_InputNo" type="s:string" />
  </message>
  <message name="Validate_SporeCarRegNoHttpPostOut">
    <part name="Body" element="s0:short" />
  </message>
  <message name="LoginHttpPostIn">
    <part name="UserName" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="LoginHttpPostOut">
    <part name="Body" element="s0:short" />
  </message>
  <message name="LogoutHttpPostIn" />
  <message name="LogoutHttpPostOut">
    <part name="Body" element="s0:short" />
  </message>
  <portType name="ValidatorSoap">
    <operation name="Validate_SporeNRIC">
      <documentation>&lt;p&gt;This Service requires an NRIC Input in the format [S or T]9999999A. It returns : &lt;br/&gt;(1) for a Valid NRIC&lt;br/&gt;(-1) for an Invalid NRIC&lt;br/&gt;(0) for an Invalid Formatted Entry&lt;/p&gt;</documentation>
      <input message="s0:Validate_SporeNRICSoapIn" />
      <output message="s0:Validate_SporeNRICSoapOut" />
    </operation>
    <operation name="Validate_CreditCardType">
      <documentation>&lt;p&gt;This Service requires a Credit Card No. Input (Format : All Numbers with NO Spaces or Dashes). It returns a Number that corresponds to one of the Major Credit Card Vendors listed below:&lt;br/&gt;(1) JCB&lt;br/&gt;(2) Discover&lt;br/&gt;(3) Diners Club&lt;br/&gt;(4) American Express&lt;br/&gt;(5) Masters Card&lt;br/&gt;(6) Visa Card&lt;br/&gt;(0) Invalid Formatted Entry&lt;br/&gt;(-1) Unknown Card Type&lt;/p&gt;</documentation>
      <input message="s0:Validate_CreditCardTypeSoapIn" />
      <output message="s0:Validate_CreditCardTypeSoapOut" />
    </operation>
    <operation name="Validate_CreditCard">
      <documentation>&lt;p&gt;This Service requires a Credit Card No. Input (Format : All Numbers with NO Spaces or Dashes). It returns : &lt;br/&gt;(1) for a Valid Credit Card No.&lt;br/&gt;(-1) for an Invalid Credit Card No.&lt;br/&gt;(0) for an Invalid Formatted Entry or Unknown Card Type&lt;/p&gt;</documentation>
      <input message="s0:Validate_CreditCardSoapIn" />
      <output message="s0:Validate_CreditCardSoapOut" />
    </operation>
    <operation name="Validate_ISBN">
      <documentation>&lt;p&gt;This Service requires a ISBN Input (Format : All Numbers with NO Spaces or Dashes). It returns : &lt;br/&gt;(1) for a Valid ISBN&lt;br/&gt;(-1) for an Invalid ISBN&lt;br/&gt;(0) for an Invalid Formatted Entry&lt;/p&gt;</documentation>
      <input message="s0:Validate_ISBNSoapIn" />
      <output message="s0:Validate_ISBNSoapOut" />
    </operation>
    <operation name="Validate_SporeCarRegNo">
      <documentation>&lt;p&gt;This Service requires a Spore Car Registration No. Input. It returns : &lt;br/&gt;(1) for a Valid Spore Car Registration No.&lt;br/&gt;(-1) for an Invalid Spore Car Registration No.&lt;br/&gt;(0) for an Invalid Formatted Entry&lt;br/&gt;(500) Unauthenticated User. Please Login to use this service.&lt;/p&gt;</documentation>
      <input message="s0:Validate_SporeCarRegNoSoapIn" />
      <output message="s0:Validate_SporeCarRegNoSoapOut" />
    </operation>
    <operation name="Login">
      <documentation>&lt;p&gt;This Login service is required for certain subscription-based Web Services. It returns : &lt;br/&gt;(1) for an Valid Login&lt;br/&gt;(0) for an Invalid UserName&lt;br/&gt;(-1) for an Invalid Password&lt;br/&gt;(-2) for an Invalid UserName / Password Schema&lt;br/&gt;(500) for an Unspecified Error&lt;br/&gt;Please have a cookie-enabled Browser or Application ready to authenticate yourself.&lt;/p&gt;</documentation>
      <input message="s0:LoginSoapIn" />
      <output message="s0:LoginSoapOut" />
    </operation>
    <operation name="Logout">
      <documentation>&lt;p&gt;This Logout service will remove the Login's Authentication Cookie from this session. It returns : &lt;br/&gt;(1) for a Successful Logout&lt;br/&gt;(0) for a Unsuccessful Logout&lt;/p&gt;</documentation>
      <input message="s0:LogoutSoapIn" />
      <output message="s0:LogoutSoapOut" />
    </operation>
    <operation name="Validate_SoapHeader">
      <documentation>&lt;p&gt;This Service checks for the Validity of the SOAP Headers. It returns : &lt;br/&gt;(1) for an Valid SOAP Header&lt;br/&gt;(0) for an Invalid SOAP Header&lt;/p&gt;</documentation>
      <input message="s0:Validate_SoapHeaderSoapIn" />
      <output message="s0:Validate_SoapHeaderSoapOut" />
    </operation>
    <operation name="GetSoapHeaderID">
      <input message="s0:GetSoapHeaderIDSoapIn" />
      <output message="s0:GetSoapHeaderIDSoapOut" />
    </operation>
    <operation name="GetSoapHeaderPassword">
      <input message="s0:GetSoapHeaderPasswordSoapIn" />
      <output message="s0:GetSoapHeaderPasswordSoapOut" />
    </operation>
    <operation name="GetSoapHeaderValue">
      <input message="s0:GetSoapHeaderValueSoapIn" />
      <output message="s0:GetSoapHeaderValueSoapOut" />
    </operation>
  </portType>
  <portType name="ValidatorHttpGet">
    <operation name="Validate_SporeNRIC">
      <documentation>&lt;p&gt;This Service requires an NRIC Input in the format [S or T]9999999A. It returns : &lt;br/&gt;(1) for a Valid NRIC&lt;br/&gt;(-1) for an Invalid NRIC&lt;br/&gt;(0) for an Invalid Formatted Entry&lt;/p&gt;</documentation>
      <input message="s0:Validate_SporeNRICHttpGetIn" />
      <output message="s0:Validate_SporeNRICHttpGetOut" />
    </operation>
    <operation name="Validate_CreditCardType">
      <documentation>&lt;p&gt;This Service requires a Credit Card No. Input (Format : All Numbers with NO Spaces or Dashes). It returns a Number that corresponds to one of the Major Credit Card Vendors listed below:&lt;br/&gt;(1) JCB&lt;br/&gt;(2) Discover&lt;br/&gt;(3) Diners Club&lt;br/&gt;(4) American Express&lt;br/&gt;(5) Masters Card&lt;br/&gt;(6) Visa Card&lt;br/&gt;(0) Invalid Formatted Entry&lt;br/&gt;(-1) Unknown Card Type&lt;/p&gt;</documentation>
      <input message="s0:Validate_CreditCardTypeHttpGetIn" />
      <output message="s0:Validate_CreditCardTypeHttpGetOut" />
    </operation>
    <operation name="Validate_CreditCard">
      <documentation>&lt;p&gt;This Service requires a Credit Card No. Input (Format : All Numbers with NO Spaces or Dashes). It returns : &lt;br/&gt;(1) for a Valid Credit Card No.&lt;br/&gt;(-1) for an Invalid Credit Card No.&lt;br/&gt;(0) for an Invalid Formatted Entry or Unknown Card Type&lt;/p&gt;</documentation>
      <input message="s0:Validate_CreditCardHttpGetIn" />
      <output message="s0:Validate_CreditCardHttpGetOut" />
    </operation>
    <operation name="Validate_ISBN">
      <documentation>&lt;p&gt;This Service requires a ISBN Input (Format : All Numbers with NO Spaces or Dashes). It returns : &lt;br/&gt;(1) for a Valid ISBN&lt;br/&gt;(-1) for an Invalid ISBN&lt;br/&gt;(0) for an Invalid Formatted Entry&lt;/p&gt;</documentation>
      <input message="s0:Validate_ISBNHttpGetIn" />
      <output message="s0:Validate_ISBNHttpGetOut" />
    </operation>
    <operation name="Validate_SporeCarRegNo">
      <documentation>&lt;p&gt;This Service requires a Spore Car Registration No. Input. It returns : &lt;br/&gt;(1) for a Valid Spore Car Registration No.&lt;br/&gt;(-1) for an Invalid Spore Car Registration No.&lt;br/&gt;(0) for an Invalid Formatted Entry&lt;br/&gt;(500) Unauthenticated User. Please Login to use this service.&lt;/p&gt;</documentation>
      <input message="s0:Validate_SporeCarRegNoHttpGetIn" />
      <output message="s0:Validate_SporeCarRegNoHttpGetOut" />
    </operation>
    <operation name="Login">
      <documentation>&lt;p&gt;This Login service is required for certain subscription-based Web Services. It returns : &lt;br/&gt;(1) for an Valid Login&lt;br/&gt;(0) for an Invalid UserName&lt;br/&gt;(-1) for an Invalid Password&lt;br/&gt;(-2) for an Invalid UserName / Password Schema&lt;br/&gt;(500) for an Unspecified Error&lt;br/&gt;Please have a cookie-enabled Browser or Application ready to authenticate yourself.&lt;/p&gt;</documentation>
      <input message="s0:LoginHttpGetIn" />
      <output message="s0:LoginHttpGetOut" />
    </operation>
    <operation name="Logout">
      <documentation>&lt;p&gt;This Logout service will remove the Login's Authentication Cookie from this session. It returns : &lt;br/&gt;(1) for a Successful Logout&lt;br/&gt;(0) for a Unsuccessful Logout&lt;/p&gt;</documentation>
      <input message="s0:LogoutHttpGetIn" />
      <output message="s0:LogoutHttpGetOut" />
    </operation>
  </portType>
  <portType name="ValidatorHttpPost">
    <operation name="Validate_SporeNRIC">
      <documentation>&lt;p&gt;This Service requires an NRIC Input in the format [S or T]9999999A. It returns : &lt;br/&gt;(1) for a Valid NRIC&lt;br/&gt;(-1) for an Invalid NRIC&lt;br/&gt;(0) for an Invalid Formatted Entry&lt;/p&gt;</documentation>
      <input message="s0:Validate_SporeNRICHttpPostIn" />
      <output message="s0:Validate_SporeNRICHttpPostOut" />
    </operation>
    <operation name="Validate_CreditCardType">
      <documentation>&lt;p&gt;This Service requires a Credit Card No. Input (Format : All Numbers with NO Spaces or Dashes). It returns a Number that corresponds to one of the Major Credit Card Vendors listed below:&lt;br/&gt;(1) JCB&lt;br/&gt;(2) Discover&lt;br/&gt;(3) Diners Club&lt;br/&gt;(4) American Express&lt;br/&gt;(5) Masters Card&lt;br/&gt;(6) Visa Card&lt;br/&gt;(0) Invalid Formatted Entry&lt;br/&gt;(-1) Unknown Card Type&lt;/p&gt;</documentation>
      <input message="s0:Validate_CreditCardTypeHttpPostIn" />
      <output message="s0:Validate_CreditCardTypeHttpPostOut" />
    </operation>
    <operation name="Validate_CreditCard">
      <documentation>&lt;p&gt;This Service requires a Credit Card No. Input (Format : All Numbers with NO Spaces or Dashes). It returns : &lt;br/&gt;(1) for a Valid Credit Card No.&lt;br/&gt;(-1) for an Invalid Credit Card No.&lt;br/&gt;(0) for an Invalid Formatted Entry or Unknown Card Type&lt;/p&gt;</documentation>
      <input message="s0:Validate_CreditCardHttpPostIn" />
      <output message="s0:Validate_CreditCardHttpPostOut" />
    </operation>
    <operation name="Validate_ISBN">
      <documentation>&lt;p&gt;This Service requires a ISBN Input (Format : All Numbers with NO Spaces or Dashes). It returns : &lt;br/&gt;(1) for a Valid ISBN&lt;br/&gt;(-1) for an Invalid ISBN&lt;br/&gt;(0) for an Invalid Formatted Entry&lt;/p&gt;</documentation>
      <input message="s0:Validate_ISBNHttpPostIn" />
      <output message="s0:Validate_ISBNHttpPostOut" />
    </operation>
    <operation name="Validate_SporeCarRegNo">
      <documentation>&lt;p&gt;This Service requires a Spore Car Registration No. Input. It returns : &lt;br/&gt;(1) for a Valid Spore Car Registration No.&lt;br/&gt;(-1) for an Invalid Spore Car Registration No.&lt;br/&gt;(0) for an Invalid Formatted Entry&lt;br/&gt;(500) Unauthenticated User. Please Login to use this service.&lt;/p&gt;</documentation>
      <input message="s0:Validate_SporeCarRegNoHttpPostIn" />
      <output message="s0:Validate_SporeCarRegNoHttpPostOut" />
    </operation>
    <operation name="Login">
      <documentation>&lt;p&gt;This Login service is required for certain subscription-based Web Services. It returns : &lt;br/&gt;(1) for an Valid Login&lt;br/&gt;(0) for an Invalid UserName&lt;br/&gt;(-1) for an Invalid Password&lt;br/&gt;(-2) for an Invalid UserName / Password Schema&lt;br/&gt;(500) for an Unspecified Error&lt;br/&gt;Please have a cookie-enabled Browser or Application ready to authenticate yourself.&lt;/p&gt;</documentation>
      <input message="s0:LoginHttpPostIn" />
      <output message="s0:LoginHttpPostOut" />
    </operation>
    <operation name="Logout">
      <documentation>&lt;p&gt;This Logout service will remove the Login's Authentication Cookie from this session. It returns : &lt;br/&gt;(1) for a Successful Logout&lt;br/&gt;(0) for a Unsuccessful Logout&lt;/p&gt;</documentation>
      <input message="s0:LogoutHttpPostIn" />
      <output message="s0:LogoutHttpPostOut" />
    </operation>
  </portType>
  <binding name="ValidatorSoap" type="s0:ValidatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Validate_SporeNRIC">
      <soap:operation soapAction="http://www.Softwaremaker.Net/WebServices/Validate_SporeNRIC" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Validate_CreditCardType">
      <soap:operation soapAction="http://www.Softwaremaker.Net/WebServices/Validate_CreditCardType" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Validate_CreditCard">
      <soap:operation soapAction="http://www.Softwaremaker.Net/WebServices/Validate_CreditCard" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Validate_ISBN">
      <soap:operation soapAction="http://www.Softwaremaker.Net/WebServices/Validate_ISBN" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Validate_SporeCarRegNo">
      <soap:operation soapAction="http://www.Softwaremaker.Net/WebServices/Validate_SporeCarRegNo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Login">
      <soap:operation soapAction="http://www.Softwaremaker.Net/WebServices/Login" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Logout">
      <soap:operation soapAction="http://www.Softwaremaker.Net/WebServices/Logout" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Validate_SoapHeader">
      <soap:operation soapAction="http://www.Softwaremaker.Net/WebServices/Validate_SoapHeader" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header d5p1:required="true" message="s0:Validate_SoapHeaderValidator_SoapHeader" part="Validator_SoapHeader" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSoapHeaderID">
      <soap:operation soapAction="http://www.Softwaremaker.Net/WebServices/GetSoapHeaderID" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header d5p1:required="true" message="s0:GetSoapHeaderIDValidator_SoapHeader" part="Validator_SoapHeader" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSoapHeaderPassword">
      <soap:operation soapAction="http://www.Softwaremaker.Net/WebServices/GetSoapHeaderPassword" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header d5p1:required="true" message="s0:GetSoapHeaderPasswordValidator_SoapHeader" part="Validator_SoapHeader" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSoapHeaderValue">
      <soap:operation soapAction="http://www.Softwaremaker.Net/WebServices/GetSoapHeaderValue" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header d5p1:required="true" message="s0:GetSoapHeaderValueValidator_SoapHeader" part="Validator_SoapHeader" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ValidatorHttpGet" type="s0:ValidatorHttpGet">
    <http:binding verb="GET" />
    <operation name="Validate_SporeNRIC">
      <http:operation location="/Validate_SporeNRIC" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Validate_CreditCardType">
      <http:operation location="/Validate_CreditCardType" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Validate_CreditCard">
      <http:operation location="/Validate_CreditCard" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Validate_ISBN">
      <http:operation location="/Validate_ISBN" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Validate_SporeCarRegNo">
      <http:operation location="/Validate_SporeCarRegNo" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Login">
      <http:operation location="/Login" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Logout">
      <http:operation location="/Logout" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ValidatorHttpPost" type="s0:ValidatorHttpPost">
    <http:binding verb="POST" />
    <operation name="Validate_SporeNRIC">
      <http:operation location="/Validate_SporeNRIC" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Validate_CreditCardType">
      <http:operation location="/Validate_CreditCardType" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Validate_CreditCard">
      <http:operation location="/Validate_CreditCard" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Validate_ISBN">
      <http:operation location="/Validate_ISBN" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Validate_SporeCarRegNo">
      <http:operation location="/Validate_SporeCarRegNo" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Login">
      <http:operation location="/Login" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Logout">
      <http:operation location="/Logout" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Validator">
    <documentation>Copyright 2002 Softwaremaker.Net Pte Ltd (William T). All Rights Reserved.&lt;br/&gt;&lt;br/&gt;Listed below are various useful Web Services for businesses and individuals alike to use and consume.&lt;br&gt;Please note that these services validate the FORMAT of the INPUT ENTRY ONLY. They DO NOT authenticate the Unique Identity of the input entry.</documentation>
    <port name="ValidatorSoap" binding="s0:ValidatorSoap">
      <soap:address location="http://www.softwaremaker.net/webservices/swm/Validator/Validator.asmx" />
    </port>
    <port name="ValidatorHttpGet" binding="s0:ValidatorHttpGet">
      <http:address location="http://www.softwaremaker.net/webservices/swm/Validator/Validator.asmx" />
    </port>
    <port name="ValidatorHttpPost" binding="s0:ValidatorHttpPost">
      <http:address location="http://www.softwaremaker.net/webservices/swm/Validator/Validator.asmx" />
    </port>
  </service>
</definitions>