WebServiceDataset/money/business/service41.Accounts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://gbx2.brinkster.net/WebServiceGustavoPares/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://gbx2.brinkster.net/WebServiceGustavoPares/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gbx2.brinkster.net/WebServiceGustavoPares/">
      <s:element name="valorFuturo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Vencimientos" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Interes" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="valorPresente" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="valorFuturoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="valorFuturoResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculaInversionInicial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="costoActivoNuevo" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="costoInstalacion" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="ingresosNetosVtaActivoViejo" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="cambioCapitalTrabajo" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculaInversionInicialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calculaInversionInicialResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="valorFuturoLong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Vencimientos" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Interes" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="valorPresente" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="valorFuturoLongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="valorFuturoLongResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="valorPresente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="valorFuturo" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="Interes" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="Vencimientos" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="valorPresenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="valorPresenteResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="anualidadIgualPresenteAnticipada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="Interes" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="veces" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="anualidadIgualPresenteAnticipadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="anualidadIgualPresenteAnticipadaResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="valorPresenteNeto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="inversionInicial" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="tasaDescuento" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="periodo1" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="periodo2" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="periodo3" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="periodo4" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="periodo5" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="valorPresenteNetoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="valorPresenteNetoResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="float" type="s:float" />
      <s:element name="long" type="s:long" />
    </s:schema>
  </types>
  <message name="valorFuturoSoapIn">
    <part name="parameters" element="s0:valorFuturo" />
  </message>
  <message name="valorFuturoSoapOut">
    <part name="parameters" element="s0:valorFuturoResponse" />
  </message>
  <message name="calculaInversionInicialSoapIn">
    <part name="parameters" element="s0:calculaInversionInicial" />
  </message>
  <message name="calculaInversionInicialSoapOut">
    <part name="parameters" element="s0:calculaInversionInicialResponse" />
  </message>
  <message name="valorFuturoLongSoapIn">
    <part name="parameters" element="s0:valorFuturoLong" />
  </message>
  <message name="valorFuturoLongSoapOut">
    <part name="parameters" element="s0:valorFuturoLongResponse" />
  </message>
  <message name="valorPresenteSoapIn">
    <part name="parameters" element="s0:valorPresente" />
  </message>
  <message name="valorPresenteSoapOut">
    <part name="parameters" element="s0:valorPresenteResponse" />
  </message>
  <message name="anualidadIgualPresenteAnticipadaSoapIn">
    <part name="parameters" element="s0:anualidadIgualPresenteAnticipada" />
  </message>
  <message name="anualidadIgualPresenteAnticipadaSoapOut">
    <part name="parameters" element="s0:anualidadIgualPresenteAnticipadaResponse" />
  </message>
  <message name="valorPresenteNetoSoapIn">
    <part name="parameters" element="s0:valorPresenteNeto" />
  </message>
  <message name="valorPresenteNetoSoapOut">
    <part name="parameters" element="s0:valorPresenteNetoResponse" />
  </message>
  <message name="valorFuturoHttpGetIn">
    <part name="Vencimientos" type="s:string" />
    <part name="Interes" type="s:string" />
    <part name="valorPresente" type="s:string" />
  </message>
  <message name="valorFuturoHttpGetOut">
    <part name="Body" element="s0:float" />
  </message>
  <message name="calculaInversionInicialHttpGetIn">
    <part name="costoActivoNuevo" type="s:string" />
    <part name="costoInstalacion" type="s:string" />
    <part name="ingresosNetosVtaActivoViejo" type="s:string" />
    <part name="cambioCapitalTrabajo" type="s:string" />
  </message>
  <message name="calculaInversionInicialHttpGetOut">
    <part name="Body" element="s0:float" />
  </message>
  <message name="valorFuturoLongHttpGetIn">
    <part name="Vencimientos" type="s:string" />
    <part name="Interes" type="s:string" />
    <part name="valorPresente" type="s:string" />
  </message>
  <message name="valorFuturoLongHttpGetOut">
    <part name="Body" element="s0:long" />
  </message>
  <message name="valorPresenteHttpGetIn">
    <part name="valorFuturo" type="s:string" />
    <part name="Interes" type="s:string" />
    <part name="Vencimientos" type="s:string" />
  </message>
  <message name="valorPresenteHttpGetOut">
    <part name="Body" element="s0:float" />
  </message>
  <message name="anualidadIgualPresenteAnticipadaHttpGetIn">
    <part name="monto" type="s:string" />
    <part name="Interes" type="s:string" />
    <part name="veces" type="s:string" />
  </message>
  <message name="anualidadIgualPresenteAnticipadaHttpGetOut">
    <part name="Body" element="s0:float" />
  </message>
  <message name="valorPresenteNetoHttpGetIn">
    <part name="inversionInicial" type="s:string" />
    <part name="tasaDescuento" type="s:string" />
    <part name="periodo1" type="s:string" />
    <part name="periodo2" type="s:string" />
    <part name="periodo3" type="s:string" />
    <part name="periodo4" type="s:string" />
    <part name="periodo5" type="s:string" />
  </message>
  <message name="valorPresenteNetoHttpGetOut">
    <part name="Body" element="s0:float" />
  </message>
  <message name="valorFuturoHttpPostIn">
    <part name="Vencimientos" type="s:string" />
    <part name="Interes" type="s:string" />
    <part name="valorPresente" type="s:string" />
  </message>
  <message name="valorFuturoHttpPostOut">
    <part name="Body" element="s0:float" />
  </message>
  <message name="calculaInversionInicialHttpPostIn">
    <part name="costoActivoNuevo" type="s:string" />
    <part name="costoInstalacion" type="s:string" />
    <part name="ingresosNetosVtaActivoViejo" type="s:string" />
    <part name="cambioCapitalTrabajo" type="s:string" />
  </message>
  <message name="calculaInversionInicialHttpPostOut">
    <part name="Body" element="s0:float" />
  </message>
  <message name="valorFuturoLongHttpPostIn">
    <part name="Vencimientos" type="s:string" />
    <part name="Interes" type="s:string" />
    <part name="valorPresente" type="s:string" />
  </message>
  <message name="valorFuturoLongHttpPostOut">
    <part name="Body" element="s0:long" />
  </message>
  <message name="valorPresenteHttpPostIn">
    <part name="valorFuturo" type="s:string" />
    <part name="Interes" type="s:string" />
    <part name="Vencimientos" type="s:string" />
  </message>
  <message name="valorPresenteHttpPostOut">
    <part name="Body" element="s0:float" />
  </message>
  <message name="anualidadIgualPresenteAnticipadaHttpPostIn">
    <part name="monto" type="s:string" />
    <part name="Interes" type="s:string" />
    <part name="veces" type="s:string" />
  </message>
  <message name="anualidadIgualPresenteAnticipadaHttpPostOut">
    <part name="Body" element="s0:float" />
  </message>
  <message name="valorPresenteNetoHttpPostIn">
    <part name="inversionInicial" type="s:string" />
    <part name="tasaDescuento" type="s:string" />
    <part name="periodo1" type="s:string" />
    <part name="periodo2" type="s:string" />
    <part name="periodo3" type="s:string" />
    <part name="periodo4" type="s:string" />
    <part name="periodo5" type="s:string" />
  </message>
  <message name="valorPresenteNetoHttpPostOut">
    <part name="Body" element="s0:float" />
  </message>
  <portType name="ProjectEvaluationSoap">
    <operation name="valorFuturo">
      <documentation>&lt;p&gt;&lt;/p&gt; Calculates the future value of the money. Permite calcular el valor futuro del dinero.</documentation>
      <input message="s0:valorFuturoSoapIn" />
      <output message="s0:valorFuturoSoapOut" />
    </operation>
    <operation name="calculaInversionInicial">
      <documentation>&lt;p&gt;&lt;/p&gt; Calculates the initial investment. Calcula la inversión inicial necesaria para un proyecto.</documentation>
      <input message="s0:calculaInversionInicialSoapIn" />
      <output message="s0:calculaInversionInicialSoapOut" />
    </operation>
    <operation name="valorFuturoLong">
      <documentation>&lt;p&gt;&lt;/p&gt; Calculates the future value of the money, but with more decimals. Permite calcular el valor futuro del dinero, pero con más.</documentation>
      <input message="s0:valorFuturoLongSoapIn" />
      <output message="s0:valorFuturoLongSoapOut" />
    </operation>
    <operation name="valorPresente">
      <documentation>&lt;p&gt;&lt;/p&gt;Calculates the present value of the money. Calcula el valor presente de una cantidad de dinero, para un interés y periodo determinados.</documentation>
      <input message="s0:valorPresenteSoapIn" />
      <output message="s0:valorPresenteSoapOut" />
    </operation>
    <operation name="anualidadIgualPresenteAnticipada">
      <documentation>&lt;p&gt;&lt;/p&gt;Calcula el valor de una anualidad presente anticipada. El interés se debe expresar así, si es 10% escriba 0.1 por ejemplo. &lt;font color=red size=2&gt;&lt;b&gt;&lt;u&gt;NO &lt;/b&gt;&lt;/u&gt; expresar el interés con el signo %</documentation>
      <input message="s0:anualidadIgualPresenteAnticipadaSoapIn" />
      <output message="s0:anualidadIgualPresenteAnticipadaSoapOut" />
    </operation>
    <operation name="valorPresenteNeto">
      <documentation>&lt;p&gt;&lt;/p&gt; Calculates the Net Present Value for an investment project. Calcula el valor presente neto para un proyecto de inversión.</documentation>
      <input message="s0:valorPresenteNetoSoapIn" />
      <output message="s0:valorPresenteNetoSoapOut" />
    </operation>
  </portType>
  <portType name="ProjectEvaluationHttpGet">
    <operation name="valorFuturo">
      <documentation>&lt;p&gt;&lt;/p&gt; Calculates the future value of the money. Permite calcular el valor futuro del dinero.</documentation>
      <input message="s0:valorFuturoHttpGetIn" />
      <output message="s0:valorFuturoHttpGetOut" />
    </operation>
    <operation name="calculaInversionInicial">
      <documentation>&lt;p&gt;&lt;/p&gt; Calculates the initial investment. Calcula la inversión inicial necesaria para un proyecto.</documentation>
      <input message="s0:calculaInversionInicialHttpGetIn" />
      <output message="s0:calculaInversionInicialHttpGetOut" />
    </operation>
    <operation name="valorFuturoLong">
      <documentation>&lt;p&gt;&lt;/p&gt; Calculates the future value of the money, but with more decimals. Permite calcular el valor futuro del dinero, pero con más.</documentation>
      <input message="s0:valorFuturoLongHttpGetIn" />
      <output message="s0:valorFuturoLongHttpGetOut" />
    </operation>
    <operation name="valorPresente">
      <documentation>&lt;p&gt;&lt;/p&gt;Calculates the present value of the money. Calcula el valor presente de una cantidad de dinero, para un interés y periodo determinados.</documentation>
      <input message="s0:valorPresenteHttpGetIn" />
      <output message="s0:valorPresenteHttpGetOut" />
    </operation>
    <operation name="anualidadIgualPresenteAnticipada">
      <documentation>&lt;p&gt;&lt;/p&gt;Calcula el valor de una anualidad presente anticipada. El interés se debe expresar así, si es 10% escriba 0.1 por ejemplo. &lt;font color=red size=2&gt;&lt;b&gt;&lt;u&gt;NO &lt;/b&gt;&lt;/u&gt; expresar el interés con el signo %</documentation>
      <input message="s0:anualidadIgualPresenteAnticipadaHttpGetIn" />
      <output message="s0:anualidadIgualPresenteAnticipadaHttpGetOut" />
    </operation>
    <operation name="valorPresenteNeto">
      <documentation>&lt;p&gt;&lt;/p&gt; Calculates the Net Present Value for an investment project. Calcula el valor presente neto para un proyecto de inversión.</documentation>
      <input message="s0:valorPresenteNetoHttpGetIn" />
      <output message="s0:valorPresenteNetoHttpGetOut" />
    </operation>
  </portType>
  <portType name="ProjectEvaluationHttpPost">
    <operation name="valorFuturo">
      <documentation>&lt;p&gt;&lt;/p&gt; Calculates the future value of the money. Permite calcular el valor futuro del dinero.</documentation>
      <input message="s0:valorFuturoHttpPostIn" />
      <output message="s0:valorFuturoHttpPostOut" />
    </operation>
    <operation name="calculaInversionInicial">
      <documentation>&lt;p&gt;&lt;/p&gt; Calculates the initial investment. Calcula la inversión inicial necesaria para un proyecto.</documentation>
      <input message="s0:calculaInversionInicialHttpPostIn" />
      <output message="s0:calculaInversionInicialHttpPostOut" />
    </operation>
    <operation name="valorFuturoLong">
      <documentation>&lt;p&gt;&lt;/p&gt; Calculates the future value of the money, but with more decimals. Permite calcular el valor futuro del dinero, pero con más.</documentation>
      <input message="s0:valorFuturoLongHttpPostIn" />
      <output message="s0:valorFuturoLongHttpPostOut" />
    </operation>
    <operation name="valorPresente">
      <documentation>&lt;p&gt;&lt;/p&gt;Calculates the present value of the money. Calcula el valor presente de una cantidad de dinero, para un interés y periodo determinados.</documentation>
      <input message="s0:valorPresenteHttpPostIn" />
      <output message="s0:valorPresenteHttpPostOut" />
    </operation>
    <operation name="anualidadIgualPresenteAnticipada">
      <documentation>&lt;p&gt;&lt;/p&gt;Calcula el valor de una anualidad presente anticipada. El interés se debe expresar así, si es 10% escriba 0.1 por ejemplo. &lt;font color=red size=2&gt;&lt;b&gt;&lt;u&gt;NO &lt;/b&gt;&lt;/u&gt; expresar el interés con el signo %</documentation>
      <input message="s0:anualidadIgualPresenteAnticipadaHttpPostIn" />
      <output message="s0:anualidadIgualPresenteAnticipadaHttpPostOut" />
    </operation>
    <operation name="valorPresenteNeto">
      <documentation>&lt;p&gt;&lt;/p&gt; Calculates the Net Present Value for an investment project. Calcula el valor presente neto para un proyecto de inversión.</documentation>
      <input message="s0:valorPresenteNetoHttpPostIn" />
      <output message="s0:valorPresenteNetoHttpPostOut" />
    </operation>
  </portType>
  <binding name="ProjectEvaluationSoap" type="s0:ProjectEvaluationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="valorFuturo">
      <soap:operation soapAction="http://gbx2.brinkster.net/WebServiceGustavoPares/valorFuturo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="calculaInversionInicial">
      <soap:operation soapAction="http://gbx2.brinkster.net/WebServiceGustavoPares/calculaInversionInicial" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="valorFuturoLong">
      <soap:operation soapAction="http://gbx2.brinkster.net/WebServiceGustavoPares/valorFuturoLong" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="valorPresente">
      <soap:operation soapAction="http://gbx2.brinkster.net/WebServiceGustavoPares/valorPresente" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="anualidadIgualPresenteAnticipada">
      <soap:operation soapAction="http://gbx2.brinkster.net/WebServiceGustavoPares/anualidadIgualPresenteAnticipada" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="valorPresenteNeto">
      <soap:operation soapAction="http://gbx2.brinkster.net/WebServiceGustavoPares/valorPresenteNeto" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ProjectEvaluationHttpGet" type="s0:ProjectEvaluationHttpGet">
    <http:binding verb="GET" />
    <operation name="valorFuturo">
      <http:operation location="/valorFuturo" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="calculaInversionInicial">
      <http:operation location="/calculaInversionInicial" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="valorFuturoLong">
      <http:operation location="/valorFuturoLong" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="valorPresente">
      <http:operation location="/valorPresente" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="anualidadIgualPresenteAnticipada">
      <http:operation location="/anualidadIgualPresenteAnticipada" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="valorPresenteNeto">
      <http:operation location="/valorPresenteNeto" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ProjectEvaluationHttpPost" type="s0:ProjectEvaluationHttpPost">
    <http:binding verb="POST" />
    <operation name="valorFuturo">
      <http:operation location="/valorFuturo" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="calculaInversionInicial">
      <http:operation location="/calculaInversionInicial" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="valorFuturoLong">
      <http:operation location="/valorFuturoLong" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="valorPresente">
      <http:operation location="/valorPresente" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="anualidadIgualPresenteAnticipada">
      <http:operation location="/anualidadIgualPresenteAnticipada" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="valorPresenteNeto">
      <http:operation location="/valorPresenteNeto" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="ProjectEvaluation">
    <port name="ProjectEvaluationSoap" binding="s0:ProjectEvaluationSoap">
      <soap:address location="http://gbx2.brinkster.net/WebServiceGustavoPares/CalculadoraFinanciera.asmx" />
    </port>
    <port name="ProjectEvaluationHttpGet" binding="s0:ProjectEvaluationHttpGet">
      <http:address location="http://gbx2.brinkster.net/WebServiceGustavoPares/CalculadoraFinanciera.asmx" />
    </port>
    <port name="ProjectEvaluationHttpPost" binding="s0:ProjectEvaluationHttpPost">
      <http:address location="http://gbx2.brinkster.net/WebServiceGustavoPares/CalculadoraFinanciera.asmx" />
    </port>
  </service>
</definitions>