OWLDataset/dataset2/107_LocationInformation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.alethea.net/webservices" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.alethea.net/webservices" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.alethea.net/webservices">
      <s:element name="ZipCodeToCityState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZipCodeToCityStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZipCodeToCityStateResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CityToZipCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CityToZipCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CityToZipCodeResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CityStateToZipCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CityStateToZipCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CityStateToZipCodeResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZipCodeToAreaCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZipCodeToAreaCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZipCodeToAreaCodeResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZipCodeToTimeZone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZipCodeToTimeZoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZipCodeToTimeZoneResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CityStateToAreaCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CityStateToAreaCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CityStateToAreaCodeResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfString" nillable="true" type="s0:ArrayOfString" />
    </s:schema>
  </types>
  <message name="ZipCodeToCityStateSoapIn">
    <part name="parameters" element="s0:ZipCodeToCityState" />
  </message>
  <message name="ZipCodeToCityStateSoapOut">
    <part name="parameters" element="s0:ZipCodeToCityStateResponse" />
  </message>
  <message name="CityToZipCodeSoapIn">
    <part name="parameters" element="s0:CityToZipCode" />
  </message>
  <message name="CityToZipCodeSoapOut">
    <part name="parameters" element="s0:CityToZipCodeResponse" />
  </message>
  <message name="CityStateToZipCodeSoapIn">
    <part name="parameters" element="s0:CityStateToZipCode" />
  </message>
  <message name="CityStateToZipCodeSoapOut">
    <part name="parameters" element="s0:CityStateToZipCodeResponse" />
  </message>
  <message name="ZipCodeToAreaCodeSoapIn">
    <part name="parameters" element="s0:ZipCodeToAreaCode" />
  </message>
  <message name="ZipCodeToAreaCodeSoapOut">
    <part name="parameters" element="s0:ZipCodeToAreaCodeResponse" />
  </message>
  <message name="ZipCodeToTimeZoneSoapIn">
    <part name="parameters" element="s0:ZipCodeToTimeZone" />
  </message>
  <message name="ZipCodeToTimeZoneSoapOut">
    <part name="parameters" element="s0:ZipCodeToTimeZoneResponse" />
  </message>
  <message name="CityStateToAreaCodeSoapIn">
    <part name="parameters" element="s0:CityStateToAreaCode" />
  </message>
  <message name="CityStateToAreaCodeSoapOut">
    <part name="parameters" element="s0:CityStateToAreaCodeResponse" />
  </message>
  <message name="ZipCodeToCityStateHttpGetIn">
    <part name="ZipCode" type="s:string" />
  </message>
  <message name="ZipCodeToCityStateHttpGetOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="CityToZipCodeHttpGetIn">
    <part name="City" type="s:string" />
  </message>
  <message name="CityToZipCodeHttpGetOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="CityStateToZipCodeHttpGetIn">
    <part name="City" type="s:string" />
    <part name="State" type="s:string" />
  </message>
  <message name="CityStateToZipCodeHttpGetOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="ZipCodeToAreaCodeHttpGetIn">
    <part name="ZipCode" type="s:string" />
  </message>
  <message name="ZipCodeToAreaCodeHttpGetOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="ZipCodeToTimeZoneHttpGetIn">
    <part name="ZipCode" type="s:string" />
  </message>
  <message name="ZipCodeToTimeZoneHttpGetOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="CityStateToAreaCodeHttpGetIn">
    <part name="City" type="s:string" />
    <part name="State" type="s:string" />
  </message>
  <message name="CityStateToAreaCodeHttpGetOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="ZipCodeToCityStateHttpPostIn">
    <part name="ZipCode" type="s:string" />
  </message>
  <message name="ZipCodeToCityStateHttpPostOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="CityToZipCodeHttpPostIn">
    <part name="City" type="s:string" />
  </message>
  <message name="CityToZipCodeHttpPostOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="CityStateToZipCodeHttpPostIn">
    <part name="City" type="s:string" />
    <part name="State" type="s:string" />
  </message>
  <message name="CityStateToZipCodeHttpPostOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="ZipCodeToAreaCodeHttpPostIn">
    <part name="ZipCode" type="s:string" />
  </message>
  <message name="ZipCodeToAreaCodeHttpPostOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="ZipCodeToTimeZoneHttpPostIn">
    <part name="ZipCode" type="s:string" />
  </message>
  <message name="ZipCodeToTimeZoneHttpPostOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="CityStateToAreaCodeHttpPostIn">
    <part name="City" type="s:string" />
    <part name="State" type="s:string" />
  </message>
  <message name="CityStateToAreaCodeHttpPostOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <portType name="ZipCodeSoap">
    <operation name="ZipCodeToCityState">
      <documentation>Returns a list of City+State for a supplied zip code.</documentation>
      <input message="s0:ZipCodeToCityStateSoapIn" />
      <output message="s0:ZipCodeToCityStateSoapOut" />
    </operation>
    <operation name="CityToZipCode">
      <documentation>Returns a list of City+State for a supplied zip code.</documentation>
      <input message="s0:CityToZipCodeSoapIn" />
      <output message="s0:CityToZipCodeSoapOut" />
    </operation>
    <operation name="CityStateToZipCode">
      <documentation>Returns a list of zip codes for a supplied City and State.</documentation>
      <input message="s0:CityStateToZipCodeSoapIn" />
      <output message="s0:CityStateToZipCodeSoapOut" />
    </operation>
    <operation name="ZipCodeToAreaCode">
      <documentation>Returns a list of area codes for a supplied zip code.</documentation>
      <input message="s0:ZipCodeToAreaCodeSoapIn" />
      <output message="s0:ZipCodeToAreaCodeSoapOut" />
    </operation>
    <operation name="ZipCodeToTimeZone">
      <documentation>Returns a list of time zones for a supplied zip code.</documentation>
      <input message="s0:ZipCodeToTimeZoneSoapIn" />
      <output message="s0:ZipCodeToTimeZoneSoapOut" />
    </operation>
    <operation name="CityStateToAreaCode">
      <documentation>Returns a list of area codes for a supplied City and State.</documentation>
      <input message="s0:CityStateToAreaCodeSoapIn" />
      <output message="s0:CityStateToAreaCodeSoapOut" />
    </operation>
  </portType>
  <portType name="ZipCodeHttpGet">
    <operation name="ZipCodeToCityState">
      <documentation>Returns a list of City+State for a supplied zip code.</documentation>
      <input message="s0:ZipCodeToCityStateHttpGetIn" />
      <output message="s0:ZipCodeToCityStateHttpGetOut" />
    </operation>
    <operation name="CityToZipCode">
      <documentation>Returns a list of City+State for a supplied zip code.</documentation>
      <input message="s0:CityToZipCodeHttpGetIn" />
      <output message="s0:CityToZipCodeHttpGetOut" />
    </operation>
    <operation name="CityStateToZipCode">
      <documentation>Returns a list of zip codes for a supplied City and State.</documentation>
      <input message="s0:CityStateToZipCodeHttpGetIn" />
      <output message="s0:CityStateToZipCodeHttpGetOut" />
    </operation>
    <operation name="ZipCodeToAreaCode">
      <documentation>Returns a list of area codes for a supplied zip code.</documentation>
      <input message="s0:ZipCodeToAreaCodeHttpGetIn" />
      <output message="s0:ZipCodeToAreaCodeHttpGetOut" />
    </operation>
    <operation name="ZipCodeToTimeZone">
      <documentation>Returns a list of time zones for a supplied zip code.</documentation>
      <input message="s0:ZipCodeToTimeZoneHttpGetIn" />
      <output message="s0:ZipCodeToTimeZoneHttpGetOut" />
    </operation>
    <operation name="CityStateToAreaCode">
      <documentation>Returns a list of area codes for a supplied City and State.</documentation>
      <input message="s0:CityStateToAreaCodeHttpGetIn" />
      <output message="s0:CityStateToAreaCodeHttpGetOut" />
    </operation>
  </portType>
  <portType name="ZipCodeHttpPost">
    <operation name="ZipCodeToCityState">
      <documentation>Returns a list of City+State for a supplied zip code.</documentation>
      <input message="s0:ZipCodeToCityStateHttpPostIn" />
      <output message="s0:ZipCodeToCityStateHttpPostOut" />
    </operation>
    <operation name="CityToZipCode">
      <documentation>Returns a list of City+State for a supplied zip code.</documentation>
      <input message="s0:CityToZipCodeHttpPostIn" />
      <output message="s0:CityToZipCodeHttpPostOut" />
    </operation>
    <operation name="CityStateToZipCode">
      <documentation>Returns a list of zip codes for a supplied City and State.</documentation>
      <input message="s0:CityStateToZipCodeHttpPostIn" />
      <output message="s0:CityStateToZipCodeHttpPostOut" />
    </operation>
    <operation name="ZipCodeToAreaCode">
      <documentation>Returns a list of area codes for a supplied zip code.</documentation>
      <input message="s0:ZipCodeToAreaCodeHttpPostIn" />
      <output message="s0:ZipCodeToAreaCodeHttpPostOut" />
    </operation>
    <operation name="ZipCodeToTimeZone">
      <documentation>Returns a list of time zones for a supplied zip code.</documentation>
      <input message="s0:ZipCodeToTimeZoneHttpPostIn" />
      <output message="s0:ZipCodeToTimeZoneHttpPostOut" />
    </operation>
    <operation name="CityStateToAreaCode">
      <documentation>Returns a list of area codes for a supplied City and State.</documentation>
      <input message="s0:CityStateToAreaCodeHttpPostIn" />
      <output message="s0:CityStateToAreaCodeHttpPostOut" />
    </operation>
  </portType>
  <binding name="ZipCodeSoap" type="s0:ZipCodeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="ZipCodeToCityState">
      <soap:operation soapAction="http://www.alethea.net/webservices/ZipCodeToCityState" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CityToZipCode">
      <soap:operation soapAction="http://www.alethea.net/webservices/CityToZipCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CityStateToZipCode">
      <soap:operation soapAction="http://www.alethea.net/webservices/CityStateToZipCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ZipCodeToAreaCode">
      <soap:operation soapAction="http://www.alethea.net/webservices/ZipCodeToAreaCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ZipCodeToTimeZone">
      <soap:operation soapAction="http://www.alethea.net/webservices/ZipCodeToTimeZone" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CityStateToAreaCode">
      <soap:operation soapAction="http://www.alethea.net/webservices/CityStateToAreaCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ZipCodeHttpGet" type="s0:ZipCodeHttpGet">
    <http:binding verb="GET" />
    <operation name="ZipCodeToCityState">
      <http:operation location="/ZipCodeToCityState" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CityToZipCode">
      <http:operation location="/CityToZipCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CityStateToZipCode">
      <http:operation location="/CityStateToZipCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ZipCodeToAreaCode">
      <http:operation location="/ZipCodeToAreaCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ZipCodeToTimeZone">
      <http:operation location="/ZipCodeToTimeZone" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CityStateToAreaCode">
      <http:operation location="/CityStateToAreaCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ZipCodeHttpPost" type="s0:ZipCodeHttpPost">
    <http:binding verb="POST" />
    <operation name="ZipCodeToCityState">
      <http:operation location="/ZipCodeToCityState" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CityToZipCode">
      <http:operation location="/CityToZipCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CityStateToZipCode">
      <http:operation location="/CityStateToZipCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ZipCodeToAreaCode">
      <http:operation location="/ZipCodeToAreaCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ZipCodeToTimeZone">
      <http:operation location="/ZipCodeToTimeZone" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CityStateToAreaCode">
      <http:operation location="/CityStateToAreaCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="ZipCode">
    <documentation>Get information about a location from the zip code, area code, city, or state.</documentation>
    <port name="ZipCodeSoap" binding="s0:ZipCodeSoap">
      <soap:address location="http://alethea.net/webservices/ZipCode.asmx" />
    </port>
    <port name="ZipCodeHttpGet" binding="s0:ZipCodeHttpGet">
      <http:address location="http://alethea.net/webservices/ZipCode.asmx" />
    </port>
    <port name="ZipCodeHttpPost" binding="s0:ZipCodeHttpPost">
      <http:address location="http://alethea.net/webservices/ZipCode.asmx" />
    </port>
  </service>
</definitions>