OWLDataset/dataset2/117_ZipCodes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://services.pagedownweb.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://services.pagedownweb.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.pagedownweb.com/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="ZipToState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zip_IN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state_IN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZipToStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ZipToStateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZipToCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zip_IN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City_IN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZipToCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ZipToCityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZipToCounty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zip_IN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="County_IN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZipToCountyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ZipToCountyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rtnZipInfoCSV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zip_IN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rtnZipInfoCSVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rtnZipInfoCSVResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rtnZipInfoXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zip_IN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rtnZipInfoXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rtnZipInfoXMLResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rtnZipDS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="City_IN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State_IN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rtnZipDSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rtnZipDSResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rtnCountyDS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="State_IN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rtnCountyDSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rtnCountyDSResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="ZipToStateSoapIn">
    <part name="parameters" element="s0:ZipToState" />
  </message>
  <message name="ZipToStateSoapOut">
    <part name="parameters" element="s0:ZipToStateResponse" />
  </message>
  <message name="ZipToCitySoapIn">
    <part name="parameters" element="s0:ZipToCity" />
  </message>
  <message name="ZipToCitySoapOut">
    <part name="parameters" element="s0:ZipToCityResponse" />
  </message>
  <message name="ZipToCountySoapIn">
    <part name="parameters" element="s0:ZipToCounty" />
  </message>
  <message name="ZipToCountySoapOut">
    <part name="parameters" element="s0:ZipToCountyResponse" />
  </message>
  <message name="rtnZipInfoCSVSoapIn">
    <part name="parameters" element="s0:rtnZipInfoCSV" />
  </message>
  <message name="rtnZipInfoCSVSoapOut">
    <part name="parameters" element="s0:rtnZipInfoCSVResponse" />
  </message>
  <message name="rtnZipInfoXMLSoapIn">
    <part name="parameters" element="s0:rtnZipInfoXML" />
  </message>
  <message name="rtnZipInfoXMLSoapOut">
    <part name="parameters" element="s0:rtnZipInfoXMLResponse" />
  </message>
  <message name="rtnZipDSSoapIn">
    <part name="parameters" element="s0:rtnZipDS" />
  </message>
  <message name="rtnZipDSSoapOut">
    <part name="parameters" element="s0:rtnZipDSResponse" />
  </message>
  <message name="rtnCountyDSSoapIn">
    <part name="parameters" element="s0:rtnCountyDS" />
  </message>
  <message name="rtnCountyDSSoapOut">
    <part name="parameters" element="s0:rtnCountyDSResponse" />
  </message>
  <message name="ZipToStateHttpGetIn">
    <part name="zip_IN" type="s:string" />
    <part name="state_IN" type="s:string" />
  </message>
  <message name="ZipToStateHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="ZipToCityHttpGetIn">
    <part name="zip_IN" type="s:string" />
    <part name="City_IN" type="s:string" />
  </message>
  <message name="ZipToCityHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="ZipToCountyHttpGetIn">
    <part name="zip_IN" type="s:string" />
    <part name="County_IN" type="s:string" />
  </message>
  <message name="ZipToCountyHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="rtnZipInfoCSVHttpGetIn">
    <part name="zip_IN" type="s:string" />
  </message>
  <message name="rtnZipInfoCSVHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="rtnZipInfoXMLHttpGetIn">
    <part name="zip_IN" type="s:string" />
  </message>
  <message name="rtnZipInfoXMLHttpGetOut">
    <part name="Body" />
  </message>
  <message name="rtnZipDSHttpGetIn">
    <part name="City_IN" type="s:string" />
    <part name="State_IN" type="s:string" />
  </message>
  <message name="rtnZipDSHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="rtnCountyDSHttpGetIn">
    <part name="State_IN" type="s:string" />
  </message>
  <message name="rtnCountyDSHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="ZipToStateHttpPostIn">
    <part name="zip_IN" type="s:string" />
    <part name="state_IN" type="s:string" />
  </message>
  <message name="ZipToStateHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="ZipToCityHttpPostIn">
    <part name="zip_IN" type="s:string" />
    <part name="City_IN" type="s:string" />
  </message>
  <message name="ZipToCityHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="ZipToCountyHttpPostIn">
    <part name="zip_IN" type="s:string" />
    <part name="County_IN" type="s:string" />
  </message>
  <message name="ZipToCountyHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="rtnZipInfoCSVHttpPostIn">
    <part name="zip_IN" type="s:string" />
  </message>
  <message name="rtnZipInfoCSVHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="rtnZipInfoXMLHttpPostIn">
    <part name="zip_IN" type="s:string" />
  </message>
  <message name="rtnZipInfoXMLHttpPostOut">
    <part name="Body" />
  </message>
  <message name="rtnZipDSHttpPostIn">
    <part name="City_IN" type="s:string" />
    <part name="State_IN" type="s:string" />
  </message>
  <message name="rtnZipDSHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="rtnCountyDSHttpPostIn">
    <part name="State_IN" type="s:string" />
  </message>
  <message name="rtnCountyDSHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <portType name="ZipCodesSoap">
    <operation name="ZipToState">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Validates a Zip Code to a US State- &lt;B&gt;RETURNS:&lt;/B&gt; Bool - &lt;B&gt;Params:&lt;/B&gt; zip_IN = String(5); state_IN String(2)</documentation>
      <input message="s0:ZipToStateSoapIn" />
      <output message="s0:ZipToStateSoapOut" />
    </operation>
    <operation name="ZipToCity">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Validates a Zip Code to a US City- &lt;B&gt;RETURNS:&lt;/B&gt; Bool - Params: zip_IN = String(5); City_IN String(50)</documentation>
      <input message="s0:ZipToCitySoapIn" />
      <output message="s0:ZipToCitySoapOut" />
    </operation>
    <operation name="ZipToCounty">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Validates a Zip to a US County- &lt;B&gt;RETURNS:&lt;/B&gt; Bool - &lt;B&gt;Params:&lt;/B&gt; zip_IN = String(5); County_IN String(50)</documentation>
      <input message="s0:ZipToCountySoapIn" />
      <output message="s0:ZipToCountySoapOut" />
    </operation>
    <operation name="rtnZipInfoCSV">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Returns all info for a Zip Code as comma Sep. value &lt;b&gt;RETURNS:&lt;/b&gt; String CSV (zip,city,state,county) - &lt;b&gt;Params:&lt;/b&gt; zip_IN = String(5)</documentation>
      <input message="s0:rtnZipInfoCSVSoapIn" />
      <output message="s0:rtnZipInfoCSVSoapOut" />
    </operation>
    <operation name="rtnZipInfoXML">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Returns all info for a Zip Code as an XML Element- &lt;b&gt;RETURNS:&lt;/b&gt; Xml.XmlDocument  - &lt;b&gt;Params:&lt;/b&gt; zip_IN = String(5)</documentation>
      <input message="s0:rtnZipInfoXMLSoapIn" />
      <output message="s0:rtnZipInfoXMLSoapOut" />
    </operation>
    <operation name="rtnZipDS">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Returns all Zip Codes and Info for a city as a dataset XML-  &lt;b&gt;RETURNS:&lt;/b&gt; Data.DataSet, - &lt;b&gt;Params:&lt;/b&gt; City_IN = String(50); State_IN  = String(2) </documentation>
      <input message="s0:rtnZipDSSoapIn" />
      <output message="s0:rtnZipDSSoapOut" />
    </operation>
    <operation name="rtnCountyDS">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Returns a list of counties for a state as a dataset-  &lt;b&gt;RETURNS:&lt;/b&gt; Data.DataSet, - &lt;b&gt;Params:&lt;/b&gt;State_IN  = String(2) </documentation>
      <input message="s0:rtnCountyDSSoapIn" />
      <output message="s0:rtnCountyDSSoapOut" />
    </operation>
  </portType>
  <portType name="ZipCodesHttpGet">
    <operation name="ZipToState">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Validates a Zip Code to a US State- &lt;B&gt;RETURNS:&lt;/B&gt; Bool - &lt;B&gt;Params:&lt;/B&gt; zip_IN = String(5); state_IN String(2)</documentation>
      <input message="s0:ZipToStateHttpGetIn" />
      <output message="s0:ZipToStateHttpGetOut" />
    </operation>
    <operation name="ZipToCity">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Validates a Zip Code to a US City- &lt;B&gt;RETURNS:&lt;/B&gt; Bool - Params: zip_IN = String(5); City_IN String(50)</documentation>
      <input message="s0:ZipToCityHttpGetIn" />
      <output message="s0:ZipToCityHttpGetOut" />
    </operation>
    <operation name="ZipToCounty">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Validates a Zip to a US County- &lt;B&gt;RETURNS:&lt;/B&gt; Bool - &lt;B&gt;Params:&lt;/B&gt; zip_IN = String(5); County_IN String(50)</documentation>
      <input message="s0:ZipToCountyHttpGetIn" />
      <output message="s0:ZipToCountyHttpGetOut" />
    </operation>
    <operation name="rtnZipInfoCSV">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Returns all info for a Zip Code as comma Sep. value &lt;b&gt;RETURNS:&lt;/b&gt; String CSV (zip,city,state,county) - &lt;b&gt;Params:&lt;/b&gt; zip_IN = String(5)</documentation>
      <input message="s0:rtnZipInfoCSVHttpGetIn" />
      <output message="s0:rtnZipInfoCSVHttpGetOut" />
    </operation>
    <operation name="rtnZipInfoXML">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Returns all info for a Zip Code as an XML Element- &lt;b&gt;RETURNS:&lt;/b&gt; Xml.XmlDocument  - &lt;b&gt;Params:&lt;/b&gt; zip_IN = String(5)</documentation>
      <input message="s0:rtnZipInfoXMLHttpGetIn" />
      <output message="s0:rtnZipInfoXMLHttpGetOut" />
    </operation>
    <operation name="rtnZipDS">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Returns all Zip Codes and Info for a city as a dataset XML-  &lt;b&gt;RETURNS:&lt;/b&gt; Data.DataSet, - &lt;b&gt;Params:&lt;/b&gt; City_IN = String(50); State_IN  = String(2) </documentation>
      <input message="s0:rtnZipDSHttpGetIn" />
      <output message="s0:rtnZipDSHttpGetOut" />
    </operation>
    <operation name="rtnCountyDS">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Returns a list of counties for a state as a dataset-  &lt;b&gt;RETURNS:&lt;/b&gt; Data.DataSet, - &lt;b&gt;Params:&lt;/b&gt;State_IN  = String(2) </documentation>
      <input message="s0:rtnCountyDSHttpGetIn" />
      <output message="s0:rtnCountyDSHttpGetOut" />
    </operation>
  </portType>
  <portType name="ZipCodesHttpPost">
    <operation name="ZipToState">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Validates a Zip Code to a US State- &lt;B&gt;RETURNS:&lt;/B&gt; Bool - &lt;B&gt;Params:&lt;/B&gt; zip_IN = String(5); state_IN String(2)</documentation>
      <input message="s0:ZipToStateHttpPostIn" />
      <output message="s0:ZipToStateHttpPostOut" />
    </operation>
    <operation name="ZipToCity">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Validates a Zip Code to a US City- &lt;B&gt;RETURNS:&lt;/B&gt; Bool - Params: zip_IN = String(5); City_IN String(50)</documentation>
      <input message="s0:ZipToCityHttpPostIn" />
      <output message="s0:ZipToCityHttpPostOut" />
    </operation>
    <operation name="ZipToCounty">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Validates a Zip to a US County- &lt;B&gt;RETURNS:&lt;/B&gt; Bool - &lt;B&gt;Params:&lt;/B&gt; zip_IN = String(5); County_IN String(50)</documentation>
      <input message="s0:ZipToCountyHttpPostIn" />
      <output message="s0:ZipToCountyHttpPostOut" />
    </operation>
    <operation name="rtnZipInfoCSV">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Returns all info for a Zip Code as comma Sep. value &lt;b&gt;RETURNS:&lt;/b&gt; String CSV (zip,city,state,county) - &lt;b&gt;Params:&lt;/b&gt; zip_IN = String(5)</documentation>
      <input message="s0:rtnZipInfoCSVHttpPostIn" />
      <output message="s0:rtnZipInfoCSVHttpPostOut" />
    </operation>
    <operation name="rtnZipInfoXML">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Returns all info for a Zip Code as an XML Element- &lt;b&gt;RETURNS:&lt;/b&gt; Xml.XmlDocument  - &lt;b&gt;Params:&lt;/b&gt; zip_IN = String(5)</documentation>
      <input message="s0:rtnZipInfoXMLHttpPostIn" />
      <output message="s0:rtnZipInfoXMLHttpPostOut" />
    </operation>
    <operation name="rtnZipDS">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Returns all Zip Codes and Info for a city as a dataset XML-  &lt;b&gt;RETURNS:&lt;/b&gt; Data.DataSet, - &lt;b&gt;Params:&lt;/b&gt; City_IN = String(50); State_IN  = String(2) </documentation>
      <input message="s0:rtnZipDSHttpPostIn" />
      <output message="s0:rtnZipDSHttpPostOut" />
    </operation>
    <operation name="rtnCountyDS">
      <documentation>&lt;b&gt;DESC:&lt;/b&gt; Returns a list of counties for a state as a dataset-  &lt;b&gt;RETURNS:&lt;/b&gt; Data.DataSet, - &lt;b&gt;Params:&lt;/b&gt;State_IN  = String(2) </documentation>
      <input message="s0:rtnCountyDSHttpPostIn" />
      <output message="s0:rtnCountyDSHttpPostOut" />
    </operation>
  </portType>
  <binding name="ZipCodesSoap" type="s0:ZipCodesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="ZipToState">
      <soap:operation soapAction="http://services.pagedownweb.com/ZipToState" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ZipToCity">
      <soap:operation soapAction="http://services.pagedownweb.com/ZipToCity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ZipToCounty">
      <soap:operation soapAction="http://services.pagedownweb.com/ZipToCounty" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="rtnZipInfoCSV">
      <soap:operation soapAction="http://services.pagedownweb.com/rtnZipInfoCSV" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="rtnZipInfoXML">
      <soap:operation soapAction="http://services.pagedownweb.com/rtnZipInfoXML" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="rtnZipDS">
      <soap:operation soapAction="http://services.pagedownweb.com/rtnZipDS" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="rtnCountyDS">
      <soap:operation soapAction="http://services.pagedownweb.com/rtnCountyDS" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ZipCodesHttpGet" type="s0:ZipCodesHttpGet">
    <http:binding verb="GET" />
    <operation name="ZipToState">
      <http:operation location="/ZipToState" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ZipToCity">
      <http:operation location="/ZipToCity" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ZipToCounty">
      <http:operation location="/ZipToCounty" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="rtnZipInfoCSV">
      <http:operation location="/rtnZipInfoCSV" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="rtnZipInfoXML">
      <http:operation location="/rtnZipInfoXML" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="rtnZipDS">
      <http:operation location="/rtnZipDS" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="rtnCountyDS">
      <http:operation location="/rtnCountyDS" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ZipCodesHttpPost" type="s0:ZipCodesHttpPost">
    <http:binding verb="POST" />
    <operation name="ZipToState">
      <http:operation location="/ZipToState" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ZipToCity">
      <http:operation location="/ZipToCity" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ZipToCounty">
      <http:operation location="/ZipToCounty" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="rtnZipInfoCSV">
      <http:operation location="/rtnZipInfoCSV" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="rtnZipInfoXML">
      <http:operation location="/rtnZipInfoXML" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="rtnZipDS">
      <http:operation location="/rtnZipDS" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="rtnCountyDS">
      <http:operation location="/rtnCountyDS" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="ZipCodes">
    <port name="ZipCodesSoap" binding="s0:ZipCodesSoap">
      <soap:address location="http://services.pagedownweb.com/ZipCodes.asmx" />
    </port>
    <port name="ZipCodesHttpGet" binding="s0:ZipCodesHttpGet">
      <http:address location="http://services.pagedownweb.com/ZipCodes.asmx" />
    </port>
    <port name="ZipCodesHttpPost" binding="s0:ZipCodesHttpPost">
      <http:address location="http://services.pagedownweb.com/ZipCodes.asmx" />
    </port>
  </service>
</definitions>