OWLDataset/dataset2/134_World_Weather_By_Station_ID.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://innergears.com/WebServices/WorldWeatherByICAO" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://innergears.com/WebServices/WorldWeatherByICAO" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://innergears.com/WebServices/WorldWeatherByICAO">
      <s:element name="GetWorldWeatherByICAO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ICAOCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorldWeatherByICAOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorldWeatherByICAOResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfString" nillable="true" type="s0:ArrayOfString" />
    </s:schema>
  </types>
  <message name="GetWorldWeatherByICAOSoapIn">
    <part name="parameters" element="s0:GetWorldWeatherByICAO" />
  </message>
  <message name="GetWorldWeatherByICAOSoapOut">
    <part name="parameters" element="s0:GetWorldWeatherByICAOResponse" />
  </message>
  <message name="GetWorldWeatherByICAOHttpGetIn">
    <part name="ICAOCode" type="s:string" />
  </message>
  <message name="GetWorldWeatherByICAOHttpGetOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="GetWorldWeatherByICAOHttpPostIn">
    <part name="ICAOCode" type="s:string" />
  </message>
  <message name="GetWorldWeatherByICAOHttpPostOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <portType name="WorldWeatherByICAOSoap">
    <operation name="GetWorldWeatherByICAO">
      <input message="s0:GetWorldWeatherByICAOSoapIn" />
      <output message="s0:GetWorldWeatherByICAOSoapOut" />
    </operation>
  </portType>
  <portType name="WorldWeatherByICAOHttpGet">
    <operation name="GetWorldWeatherByICAO">
      <input message="s0:GetWorldWeatherByICAOHttpGetIn" />
      <output message="s0:GetWorldWeatherByICAOHttpGetOut" />
    </operation>
  </portType>
  <portType name="WorldWeatherByICAOHttpPost">
    <operation name="GetWorldWeatherByICAO">
      <input message="s0:GetWorldWeatherByICAOHttpPostIn" />
      <output message="s0:GetWorldWeatherByICAOHttpPostOut" />
    </operation>
  </portType>
  <binding name="WorldWeatherByICAOSoap" type="s0:WorldWeatherByICAOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetWorldWeatherByICAO">
      <soap:operation soapAction="http://innergears.com/WebServices/WorldWeatherByICAO/GetWorldWeatherByICAO" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="WorldWeatherByICAOHttpGet" type="s0:WorldWeatherByICAOHttpGet">
    <http:binding verb="GET" />
    <operation name="GetWorldWeatherByICAO">
      <http:operation location="/GetWorldWeatherByICAO" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="WorldWeatherByICAOHttpPost" type="s0:WorldWeatherByICAOHttpPost">
    <http:binding verb="POST" />
    <operation name="GetWorldWeatherByICAO">
      <http:operation location="/GetWorldWeatherByICAO" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="WorldWeatherByICAO">
    <port name="WorldWeatherByICAOSoap" binding="s0:WorldWeatherByICAOSoap">
      <soap:address location="http://www.innergears.com/WebServices/WorldWeatherByICAO/WorldWeatherByICAO.asmx" />
    </port>
    <port name="WorldWeatherByICAOHttpGet" binding="s0:WorldWeatherByICAOHttpGet">
      <http:address location="http://www.innergears.com/WebServices/WorldWeatherByICAO/WorldWeatherByICAO.asmx" />
    </port>
    <port name="WorldWeatherByICAOHttpPost" binding="s0:WorldWeatherByICAOHttpPost">
      <http:address location="http://www.innergears.com/WebServices/WorldWeatherByICAO/WorldWeatherByICAO.asmx" />
    </port>
  </service>
</definitions>