OWLDataset/dataset2/138_e_payment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://object.epayment.wseg" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://object.epayment.wseg" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://object.epayment.wseg">
      <s:element name="setTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="card_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expiry_date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setTransactionResult" type="s0:TransObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransObj">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="TransObj" nillable="true" type="s0:TransObj" />
    </s:schema>
  </types>
  <message name="setTransactionSoapIn">
    <part name="parameters" element="s0:setTransaction" />
  </message>
  <message name="setTransactionSoapOut">
    <part name="parameters" element="s0:setTransactionResponse" />
  </message>
  <message name="setTransactionHttpGetIn">
    <part name="name" type="s:string" />
    <part name="card_id" type="s:string" />
    <part name="expiry_date" type="s:string" />
    <part name="amount" type="s:string" />
  </message>
  <message name="setTransactionHttpGetOut">
    <part name="Body" element="s0:TransObj" />
  </message>
  <message name="setTransactionHttpPostIn">
    <part name="name" type="s:string" />
    <part name="card_id" type="s:string" />
    <part name="expiry_date" type="s:string" />
    <part name="amount" type="s:string" />
  </message>
  <message name="setTransactionHttpPostOut">
    <part name="Body" element="s0:TransObj" />
  </message>
  <portType name="ePayServiceSoap">
    <operation name="setTransaction">
      <input message="s0:setTransactionSoapIn" />
      <output message="s0:setTransactionSoapOut" />
    </operation>
  </portType>
  <portType name="ePayServiceHttpGet">
    <operation name="setTransaction">
      <input message="s0:setTransactionHttpGetIn" />
      <output message="s0:setTransactionHttpGetOut" />
    </operation>
  </portType>
  <portType name="ePayServiceHttpPost">
    <operation name="setTransaction">
      <input message="s0:setTransactionHttpPostIn" />
      <output message="s0:setTransactionHttpPostOut" />
    </operation>
  </portType>
  <binding name="ePayServiceSoap" type="s0:ePayServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="setTransaction">
      <soap:operation soapAction="http://object.epayment.wseg/setTransaction" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ePayServiceHttpGet" type="s0:ePayServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="setTransaction">
      <http:operation location="/setTransaction" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ePayServiceHttpPost" type="s0:ePayServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="setTransaction">
      <http:operation location="/setTransaction" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="ePayService">
    <port name="ePayServiceSoap" binding="s0:ePayServiceSoap">
      <soap:address location="http://137.189.94.81/payment.asmx" />
    </port>
    <port name="ePayServiceHttpGet" binding="s0:ePayServiceHttpGet">
      <http:address location="http://137.189.94.81/payment.asmx" />
    </port>
    <port name="ePayServiceHttpPost" binding="s0:ePayServiceHttpPost">
      <http:address location="http://137.189.94.81/payment.asmx" />
    </port>
  </service>
</definitions>