OWLDataset/dataset2/143_Mortgage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="GetMortgagePayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Years" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Interest" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="LoanAmount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="AnnualTax" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="AnnualInsurance" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMortgagePaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMortgagePaymentResult" type="s0:MortgageResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MortgageResults">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MonthlyPrincipalAndInterest" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MonthlyTax" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MonthlyInsurance" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalPayment" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="MortgageResults" nillable="true" type="s0:MortgageResults" />
    </s:schema>
  </types>
  <message name="GetMortgagePaymentSoapIn">
    <part name="parameters" element="s0:GetMortgagePayment" />
  </message>
  <message name="GetMortgagePaymentSoapOut">
    <part name="parameters" element="s0:GetMortgagePaymentResponse" />
  </message>
  <message name="GetMortgagePaymentHttpGetIn">
    <part name="Years" type="s:string" />
    <part name="Interest" type="s:string" />
    <part name="LoanAmount" type="s:string" />
    <part name="AnnualTax" type="s:string" />
    <part name="AnnualInsurance" type="s:string" />
  </message>
  <message name="GetMortgagePaymentHttpGetOut">
    <part name="Body" element="s0:MortgageResults" />
  </message>
  <message name="GetMortgagePaymentHttpPostIn">
    <part name="Years" type="s:string" />
    <part name="Interest" type="s:string" />
    <part name="LoanAmount" type="s:string" />
    <part name="AnnualTax" type="s:string" />
    <part name="AnnualInsurance" type="s:string" />
  </message>
  <message name="GetMortgagePaymentHttpPostOut">
    <part name="Body" element="s0:MortgageResults" />
  </message>
  <portType name="MortgageSoap">
    <operation name="GetMortgagePayment">
      <documentation>Use this Web service to figure out your monthly mortgage payment</documentation>
      <input message="s0:GetMortgagePaymentSoapIn" />
      <output message="s0:GetMortgagePaymentSoapOut" />
    </operation>
  </portType>
  <portType name="MortgageHttpGet">
    <operation name="GetMortgagePayment">
      <documentation>Use this Web service to figure out your monthly mortgage payment</documentation>
      <input message="s0:GetMortgagePaymentHttpGetIn" />
      <output message="s0:GetMortgagePaymentHttpGetOut" />
    </operation>
  </portType>
  <portType name="MortgageHttpPost">
    <operation name="GetMortgagePayment">
      <documentation>Use this Web service to figure out your monthly mortgage payment</documentation>
      <input message="s0:GetMortgagePaymentHttpPostIn" />
      <output message="s0:GetMortgagePaymentHttpPostOut" />
    </operation>
  </portType>
  <binding name="MortgageSoap" type="s0:MortgageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetMortgagePayment">
      <soap:operation soapAction="http://www.webserviceX.NET/GetMortgagePayment" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="MortgageHttpGet" type="s0:MortgageHttpGet">
    <http:binding verb="GET" />
    <operation name="GetMortgagePayment">
      <http:operation location="/GetMortgagePayment" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="MortgageHttpPost" type="s0:MortgageHttpPost">
    <http:binding verb="POST" />
    <operation name="GetMortgagePayment">
      <http:operation location="/GetMortgagePayment" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Mortgage">
    <port name="MortgageSoap" binding="s0:MortgageSoap">
      <soap:address location="http://www.webservicex.net/mortgage.asmx" />
    </port>
    <port name="MortgageHttpGet" binding="s0:MortgageHttpGet">
      <http:address location="http://www.webservicex.net/mortgage.asmx" />
    </port>
    <port name="MortgageHttpPost" binding="s0:MortgageHttpPost">
      <http:address location="http://www.webservicex.net/mortgage.asmx" />
    </port>
  </service>
</definitions>