OWLDataset/dataset2/14_E_mail_Notifications.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://ws.acrosscommunications.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.acrosscommunications.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.acrosscommunications.com/">
      <s:element name="SetTo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetToResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetTo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetToResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFrom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFromResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetFrom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFromResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFromResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCcResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCcResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBcc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBccResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetBcc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBccResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBccResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFormat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFormatResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetFormat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFormatResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSubjectResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBody">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBodyResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetBody">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBodyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBodyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSMTP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSMTPResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSMTP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSMTPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSMTPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSearchString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSearchStringResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSearchString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSearchStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendResponse">
        <s:complexType />
      </s:element>
      <s:element name="Release">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReleaseResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="SetToSoapIn">
    <part name="parameters" element="s0:SetTo" />
  </message>
  <message name="SetToSoapOut">
    <part name="parameters" element="s0:SetToResponse" />
  </message>
  <message name="GetToSoapIn">
    <part name="parameters" element="s0:GetTo" />
  </message>
  <message name="GetToSoapOut">
    <part name="parameters" element="s0:GetToResponse" />
  </message>
  <message name="SetFromSoapIn">
    <part name="parameters" element="s0:SetFrom" />
  </message>
  <message name="SetFromSoapOut">
    <part name="parameters" element="s0:SetFromResponse" />
  </message>
  <message name="GetFromSoapIn">
    <part name="parameters" element="s0:GetFrom" />
  </message>
  <message name="GetFromSoapOut">
    <part name="parameters" element="s0:GetFromResponse" />
  </message>
  <message name="SetCcSoapIn">
    <part name="parameters" element="s0:SetCc" />
  </message>
  <message name="SetCcSoapOut">
    <part name="parameters" element="s0:SetCcResponse" />
  </message>
  <message name="GetCcSoapIn">
    <part name="parameters" element="s0:GetCc" />
  </message>
  <message name="GetCcSoapOut">
    <part name="parameters" element="s0:GetCcResponse" />
  </message>
  <message name="SetBccSoapIn">
    <part name="parameters" element="s0:SetBcc" />
  </message>
  <message name="SetBccSoapOut">
    <part name="parameters" element="s0:SetBccResponse" />
  </message>
  <message name="GetBccSoapIn">
    <part name="parameters" element="s0:GetBcc" />
  </message>
  <message name="GetBccSoapOut">
    <part name="parameters" element="s0:GetBccResponse" />
  </message>
  <message name="SetFormatSoapIn">
    <part name="parameters" element="s0:SetFormat" />
  </message>
  <message name="SetFormatSoapOut">
    <part name="parameters" element="s0:SetFormatResponse" />
  </message>
  <message name="GetFormatSoapIn">
    <part name="parameters" element="s0:GetFormat" />
  </message>
  <message name="GetFormatSoapOut">
    <part name="parameters" element="s0:GetFormatResponse" />
  </message>
  <message name="SetSubjectSoapIn">
    <part name="parameters" element="s0:SetSubject" />
  </message>
  <message name="SetSubjectSoapOut">
    <part name="parameters" element="s0:SetSubjectResponse" />
  </message>
  <message name="GetSubjectSoapIn">
    <part name="parameters" element="s0:GetSubject" />
  </message>
  <message name="GetSubjectSoapOut">
    <part name="parameters" element="s0:GetSubjectResponse" />
  </message>
  <message name="SetBodySoapIn">
    <part name="parameters" element="s0:SetBody" />
  </message>
  <message name="SetBodySoapOut">
    <part name="parameters" element="s0:SetBodyResponse" />
  </message>
  <message name="GetBodySoapIn">
    <part name="parameters" element="s0:GetBody" />
  </message>
  <message name="GetBodySoapOut">
    <part name="parameters" element="s0:GetBodyResponse" />
  </message>
  <message name="SetSMTPSoapIn">
    <part name="parameters" element="s0:SetSMTP" />
  </message>
  <message name="SetSMTPSoapOut">
    <part name="parameters" element="s0:SetSMTPResponse" />
  </message>
  <message name="GetSMTPSoapIn">
    <part name="parameters" element="s0:GetSMTP" />
  </message>
  <message name="GetSMTPSoapOut">
    <part name="parameters" element="s0:GetSMTPResponse" />
  </message>
  <message name="SetSearchStringSoapIn">
    <part name="parameters" element="s0:SetSearchString" />
  </message>
  <message name="SetSearchStringSoapOut">
    <part name="parameters" element="s0:SetSearchStringResponse" />
  </message>
  <message name="GetSearchStringSoapIn">
    <part name="parameters" element="s0:GetSearchString" />
  </message>
  <message name="GetSearchStringSoapOut">
    <part name="parameters" element="s0:GetSearchStringResponse" />
  </message>
  <message name="SendSoapIn">
    <part name="parameters" element="s0:Send" />
  </message>
  <message name="SendSoapOut">
    <part name="parameters" element="s0:SendResponse" />
  </message>
  <message name="ReleaseSoapIn">
    <part name="parameters" element="s0:Release" />
  </message>
  <message name="ReleaseSoapOut">
    <part name="parameters" element="s0:ReleaseResponse" />
  </message>
  <message name="SetToHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetToHttpGetOut" />
  <message name="GetToHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetToHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetFromHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetFromHttpGetOut" />
  <message name="GetFromHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetFromHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetCcHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetCcHttpGetOut" />
  <message name="GetCcHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetCcHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetBccHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetBccHttpGetOut" />
  <message name="GetBccHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetBccHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetFormatHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetFormatHttpGetOut" />
  <message name="GetFormatHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetFormatHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetSubjectHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetSubjectHttpGetOut" />
  <message name="GetSubjectHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetSubjectHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetBodyHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetBodyHttpGetOut" />
  <message name="GetBodyHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetBodyHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetSMTPHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetSMTPHttpGetOut" />
  <message name="GetSMTPHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetSMTPHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetSearchStringHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetSearchStringHttpGetOut" />
  <message name="GetSearchStringHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetSearchStringHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SendHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="SendHttpGetOut" />
  <message name="ReleaseHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="ReleaseHttpGetOut" />
  <message name="SetToHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetToHttpPostOut" />
  <message name="GetToHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetToHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetFromHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetFromHttpPostOut" />
  <message name="GetFromHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetFromHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetCcHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetCcHttpPostOut" />
  <message name="GetCcHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetCcHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetBccHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetBccHttpPostOut" />
  <message name="GetBccHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetBccHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetFormatHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetFormatHttpPostOut" />
  <message name="GetFormatHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetFormatHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetSubjectHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetSubjectHttpPostOut" />
  <message name="GetSubjectHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetSubjectHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetBodyHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetBodyHttpPostOut" />
  <message name="GetBodyHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetBodyHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetSMTPHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetSMTPHttpPostOut" />
  <message name="GetSMTPHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetSMTPHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetSearchStringHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetSearchStringHttpPostOut" />
  <message name="GetSearchStringHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetSearchStringHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SendHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="SendHttpPostOut" />
  <message name="ReleaseHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="ReleaseHttpPostOut" />
  <portType name="MailSoap">
    <operation name="SetTo">
      <input message="s0:SetToSoapIn" />
      <output message="s0:SetToSoapOut" />
    </operation>
    <operation name="GetTo">
      <input message="s0:GetToSoapIn" />
      <output message="s0:GetToSoapOut" />
    </operation>
    <operation name="SetFrom">
      <input message="s0:SetFromSoapIn" />
      <output message="s0:SetFromSoapOut" />
    </operation>
    <operation name="GetFrom">
      <input message="s0:GetFromSoapIn" />
      <output message="s0:GetFromSoapOut" />
    </operation>
    <operation name="SetCc">
      <input message="s0:SetCcSoapIn" />
      <output message="s0:SetCcSoapOut" />
    </operation>
    <operation name="GetCc">
      <input message="s0:GetCcSoapIn" />
      <output message="s0:GetCcSoapOut" />
    </operation>
    <operation name="SetBcc">
      <input message="s0:SetBccSoapIn" />
      <output message="s0:SetBccSoapOut" />
    </operation>
    <operation name="GetBcc">
      <input message="s0:GetBccSoapIn" />
      <output message="s0:GetBccSoapOut" />
    </operation>
    <operation name="SetFormat">
      <input message="s0:SetFormatSoapIn" />
      <output message="s0:SetFormatSoapOut" />
    </operation>
    <operation name="GetFormat">
      <input message="s0:GetFormatSoapIn" />
      <output message="s0:GetFormatSoapOut" />
    </operation>
    <operation name="SetSubject">
      <input message="s0:SetSubjectSoapIn" />
      <output message="s0:SetSubjectSoapOut" />
    </operation>
    <operation name="GetSubject">
      <input message="s0:GetSubjectSoapIn" />
      <output message="s0:GetSubjectSoapOut" />
    </operation>
    <operation name="SetBody">
      <input message="s0:SetBodySoapIn" />
      <output message="s0:SetBodySoapOut" />
    </operation>
    <operation name="GetBody">
      <input message="s0:GetBodySoapIn" />
      <output message="s0:GetBodySoapOut" />
    </operation>
    <operation name="SetSMTP">
      <input message="s0:SetSMTPSoapIn" />
      <output message="s0:SetSMTPSoapOut" />
    </operation>
    <operation name="GetSMTP">
      <input message="s0:GetSMTPSoapIn" />
      <output message="s0:GetSMTPSoapOut" />
    </operation>
    <operation name="SetSearchString">
      <input message="s0:SetSearchStringSoapIn" />
      <output message="s0:SetSearchStringSoapOut" />
    </operation>
    <operation name="GetSearchString">
      <input message="s0:GetSearchStringSoapIn" />
      <output message="s0:GetSearchStringSoapOut" />
    </operation>
    <operation name="Send">
      <input message="s0:SendSoapIn" />
      <output message="s0:SendSoapOut" />
    </operation>
    <operation name="Release">
      <input message="s0:ReleaseSoapIn" />
      <output message="s0:ReleaseSoapOut" />
    </operation>
  </portType>
  <portType name="MailHttpGet">
    <operation name="SetTo">
      <input message="s0:SetToHttpGetIn" />
      <output message="s0:SetToHttpGetOut" />
    </operation>
    <operation name="GetTo">
      <input message="s0:GetToHttpGetIn" />
      <output message="s0:GetToHttpGetOut" />
    </operation>
    <operation name="SetFrom">
      <input message="s0:SetFromHttpGetIn" />
      <output message="s0:SetFromHttpGetOut" />
    </operation>
    <operation name="GetFrom">
      <input message="s0:GetFromHttpGetIn" />
      <output message="s0:GetFromHttpGetOut" />
    </operation>
    <operation name="SetCc">
      <input message="s0:SetCcHttpGetIn" />
      <output message="s0:SetCcHttpGetOut" />
    </operation>
    <operation name="GetCc">
      <input message="s0:GetCcHttpGetIn" />
      <output message="s0:GetCcHttpGetOut" />
    </operation>
    <operation name="SetBcc">
      <input message="s0:SetBccHttpGetIn" />
      <output message="s0:SetBccHttpGetOut" />
    </operation>
    <operation name="GetBcc">
      <input message="s0:GetBccHttpGetIn" />
      <output message="s0:GetBccHttpGetOut" />
    </operation>
    <operation name="SetFormat">
      <input message="s0:SetFormatHttpGetIn" />
      <output message="s0:SetFormatHttpGetOut" />
    </operation>
    <operation name="GetFormat">
      <input message="s0:GetFormatHttpGetIn" />
      <output message="s0:GetFormatHttpGetOut" />
    </operation>
    <operation name="SetSubject">
      <input message="s0:SetSubjectHttpGetIn" />
      <output message="s0:SetSubjectHttpGetOut" />
    </operation>
    <operation name="GetSubject">
      <input message="s0:GetSubjectHttpGetIn" />
      <output message="s0:GetSubjectHttpGetOut" />
    </operation>
    <operation name="SetBody">
      <input message="s0:SetBodyHttpGetIn" />
      <output message="s0:SetBodyHttpGetOut" />
    </operation>
    <operation name="GetBody">
      <input message="s0:GetBodyHttpGetIn" />
      <output message="s0:GetBodyHttpGetOut" />
    </operation>
    <operation name="SetSMTP">
      <input message="s0:SetSMTPHttpGetIn" />
      <output message="s0:SetSMTPHttpGetOut" />
    </operation>
    <operation name="GetSMTP">
      <input message="s0:GetSMTPHttpGetIn" />
      <output message="s0:GetSMTPHttpGetOut" />
    </operation>
    <operation name="SetSearchString">
      <input message="s0:SetSearchStringHttpGetIn" />
      <output message="s0:SetSearchStringHttpGetOut" />
    </operation>
    <operation name="GetSearchString">
      <input message="s0:GetSearchStringHttpGetIn" />
      <output message="s0:GetSearchStringHttpGetOut" />
    </operation>
    <operation name="Send">
      <input message="s0:SendHttpGetIn" />
      <output message="s0:SendHttpGetOut" />
    </operation>
    <operation name="Release">
      <input message="s0:ReleaseHttpGetIn" />
      <output message="s0:ReleaseHttpGetOut" />
    </operation>
  </portType>
  <portType name="MailHttpPost">
    <operation name="SetTo">
      <input message="s0:SetToHttpPostIn" />
      <output message="s0:SetToHttpPostOut" />
    </operation>
    <operation name="GetTo">
      <input message="s0:GetToHttpPostIn" />
      <output message="s0:GetToHttpPostOut" />
    </operation>
    <operation name="SetFrom">
      <input message="s0:SetFromHttpPostIn" />
      <output message="s0:SetFromHttpPostOut" />
    </operation>
    <operation name="GetFrom">
      <input message="s0:GetFromHttpPostIn" />
      <output message="s0:GetFromHttpPostOut" />
    </operation>
    <operation name="SetCc">
      <input message="s0:SetCcHttpPostIn" />
      <output message="s0:SetCcHttpPostOut" />
    </operation>
    <operation name="GetCc">
      <input message="s0:GetCcHttpPostIn" />
      <output message="s0:GetCcHttpPostOut" />
    </operation>
    <operation name="SetBcc">
      <input message="s0:SetBccHttpPostIn" />
      <output message="s0:SetBccHttpPostOut" />
    </operation>
    <operation name="GetBcc">
      <input message="s0:GetBccHttpPostIn" />
      <output message="s0:GetBccHttpPostOut" />
    </operation>
    <operation name="SetFormat">
      <input message="s0:SetFormatHttpPostIn" />
      <output message="s0:SetFormatHttpPostOut" />
    </operation>
    <operation name="GetFormat">
      <input message="s0:GetFormatHttpPostIn" />
      <output message="s0:GetFormatHttpPostOut" />
    </operation>
    <operation name="SetSubject">
      <input message="s0:SetSubjectHttpPostIn" />
      <output message="s0:SetSubjectHttpPostOut" />
    </operation>
    <operation name="GetSubject">
      <input message="s0:GetSubjectHttpPostIn" />
      <output message="s0:GetSubjectHttpPostOut" />
    </operation>
    <operation name="SetBody">
      <input message="s0:SetBodyHttpPostIn" />
      <output message="s0:SetBodyHttpPostOut" />
    </operation>
    <operation name="GetBody">
      <input message="s0:GetBodyHttpPostIn" />
      <output message="s0:GetBodyHttpPostOut" />
    </operation>
    <operation name="SetSMTP">
      <input message="s0:SetSMTPHttpPostIn" />
      <output message="s0:SetSMTPHttpPostOut" />
    </operation>
    <operation name="GetSMTP">
      <input message="s0:GetSMTPHttpPostIn" />
      <output message="s0:GetSMTPHttpPostOut" />
    </operation>
    <operation name="SetSearchString">
      <input message="s0:SetSearchStringHttpPostIn" />
      <output message="s0:SetSearchStringHttpPostOut" />
    </operation>
    <operation name="GetSearchString">
      <input message="s0:GetSearchStringHttpPostIn" />
      <output message="s0:GetSearchStringHttpPostOut" />
    </operation>
    <operation name="Send">
      <input message="s0:SendHttpPostIn" />
      <output message="s0:SendHttpPostOut" />
    </operation>
    <operation name="Release">
      <input message="s0:ReleaseHttpPostIn" />
      <output message="s0:ReleaseHttpPostOut" />
    </operation>
  </portType>
  <binding name="MailSoap" type="s0:MailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="SetTo">
      <soap:operation soapAction="http://ws.acrosscommunications.com/SetTo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTo">
      <soap:operation soapAction="http://ws.acrosscommunications.com/GetTo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetFrom">
      <soap:operation soapAction="http://ws.acrosscommunications.com/SetFrom" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFrom">
      <soap:operation soapAction="http://ws.acrosscommunications.com/GetFrom" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetCc">
      <soap:operation soapAction="http://ws.acrosscommunications.com/SetCc" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCc">
      <soap:operation soapAction="http://ws.acrosscommunications.com/GetCc" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetBcc">
      <soap:operation soapAction="http://ws.acrosscommunications.com/SetBcc" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetBcc">
      <soap:operation soapAction="http://ws.acrosscommunications.com/GetBcc" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetFormat">
      <soap:operation soapAction="http://ws.acrosscommunications.com/SetFormat" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFormat">
      <soap:operation soapAction="http://ws.acrosscommunications.com/GetFormat" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetSubject">
      <soap:operation soapAction="http://ws.acrosscommunications.com/SetSubject" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSubject">
      <soap:operation soapAction="http://ws.acrosscommunications.com/GetSubject" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetBody">
      <soap:operation soapAction="http://ws.acrosscommunications.com/SetBody" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetBody">
      <soap:operation soapAction="http://ws.acrosscommunications.com/GetBody" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetSMTP">
      <soap:operation soapAction="http://ws.acrosscommunications.com/SetSMTP" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSMTP">
      <soap:operation soapAction="http://ws.acrosscommunications.com/GetSMTP" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetSearchString">
      <soap:operation soapAction="http://ws.acrosscommunications.com/SetSearchString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSearchString">
      <soap:operation soapAction="http://ws.acrosscommunications.com/GetSearchString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Send">
      <soap:operation soapAction="http://ws.acrosscommunications.com/Send" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Release">
      <soap:operation soapAction="http://ws.acrosscommunications.com/Release" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="MailHttpGet" type="s0:MailHttpGet">
    <http:binding verb="GET" />
    <operation name="SetTo">
      <http:operation location="/SetTo" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetTo">
      <http:operation location="/GetTo" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetFrom">
      <http:operation location="/SetFrom" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetFrom">
      <http:operation location="/GetFrom" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetCc">
      <http:operation location="/SetCc" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetCc">
      <http:operation location="/GetCc" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetBcc">
      <http:operation location="/SetBcc" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetBcc">
      <http:operation location="/GetBcc" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetFormat">
      <http:operation location="/SetFormat" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetFormat">
      <http:operation location="/GetFormat" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetSubject">
      <http:operation location="/SetSubject" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetSubject">
      <http:operation location="/GetSubject" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetBody">
      <http:operation location="/SetBody" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetBody">
      <http:operation location="/GetBody" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetSMTP">
      <http:operation location="/SetSMTP" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetSMTP">
      <http:operation location="/GetSMTP" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetSearchString">
      <http:operation location="/SetSearchString" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetSearchString">
      <http:operation location="/GetSearchString" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Send">
      <http:operation location="/Send" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="Release">
      <http:operation location="/Release" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
  </binding>
  <binding name="MailHttpPost" type="s0:MailHttpPost">
    <http:binding verb="POST" />
    <operation name="SetTo">
      <http:operation location="/SetTo" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetTo">
      <http:operation location="/GetTo" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetFrom">
      <http:operation location="/SetFrom" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetFrom">
      <http:operation location="/GetFrom" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetCc">
      <http:operation location="/SetCc" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetCc">
      <http:operation location="/GetCc" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetBcc">
      <http:operation location="/SetBcc" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetBcc">
      <http:operation location="/GetBcc" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetFormat">
      <http:operation location="/SetFormat" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetFormat">
      <http:operation location="/GetFormat" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetSubject">
      <http:operation location="/SetSubject" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetSubject">
      <http:operation location="/GetSubject" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetBody">
      <http:operation location="/SetBody" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetBody">
      <http:operation location="/GetBody" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetSMTP">
      <http:operation location="/SetSMTP" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetSMTP">
      <http:operation location="/GetSMTP" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetSearchString">
      <http:operation location="/SetSearchString" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetSearchString">
      <http:operation location="/GetSearchString" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Send">
      <http:operation location="/Send" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="Release">
      <http:operation location="/Release" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
  </binding>
  <service name="Mail">
    <port name="MailSoap" binding="s0:MailSoap">
      <soap:address location="http://ws.acrosscommunications.com/Mail.asmx" />
    </port>
    <port name="MailHttpGet" binding="s0:MailHttpGet">
      <http:address location="http://ws.acrosscommunications.com/Mail.asmx" />
    </port>
    <port name="MailHttpPost" binding="s0:MailHttpPost">
      <http:address location="http://ws.acrosscommunications.com/Mail.asmx" />
    </port>
  </service>
</definitions>