OWLDataset/dataset2/2_MSNMessenger.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://brains-N-brawn.com/webservices/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://brains-N-brawn.com/webservices" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://brains-N-brawn.com/webservices" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://brains-N-brawn.com/webservices">
      <s:element name="AnonymousSendMessageNonSoap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Buddies" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnonymousSendMessageNonSoapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AnonymousSendMessageNonSoapResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnonymousConversationNonSoap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Buddies" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnonymousConversationNonSoapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AnonymousConversationNonSoapResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Buddies" type="s0:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConversationFlag" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoSinkSendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Buddy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoSinkSendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NoSinkSendMessageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoSinkSendMessageConv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Caller" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Callee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoSinkSendMessageConvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NoSinkSendMessageConvResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoSinkSendMessage2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Buddy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoSinkSendMessage2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NoSinkSendMessage2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoSinkSendMessage3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Buddy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoSinkSendMessage3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NoSinkSendMessage3Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMD5String">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMD5StringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMD5StringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema targetNamespace="http://brains-N-brawn.com/webservices/AbstractTypes">
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </types>
  <message name="AnonymousSendMessageNonSoapSoapIn">
    <part name="parameters" element="s0:AnonymousSendMessageNonSoap" />
  </message>
  <message name="AnonymousSendMessageNonSoapSoapOut">
    <part name="parameters" element="s0:AnonymousSendMessageNonSoapResponse" />
  </message>
  <message name="AnonymousConversationNonSoapSoapIn">
    <part name="parameters" element="s0:AnonymousConversationNonSoap" />
  </message>
  <message name="AnonymousConversationNonSoapSoapOut">
    <part name="parameters" element="s0:AnonymousConversationNonSoapResponse" />
  </message>
  <message name="SendMessageSoapIn">
    <part name="parameters" element="s0:SendMessage" />
  </message>
  <message name="SendMessageSoapOut">
    <part name="parameters" element="s0:SendMessageResponse" />
  </message>
  <message name="NoSinkSendMessageSoapIn">
    <part name="parameters" element="s0:NoSinkSendMessage" />
  </message>
  <message name="NoSinkSendMessageSoapOut">
    <part name="parameters" element="s0:NoSinkSendMessageResponse" />
  </message>
  <message name="NoSinkSendMessageConvSoapIn">
    <part name="parameters" element="s0:NoSinkSendMessageConv" />
  </message>
  <message name="NoSinkSendMessageConvSoapOut">
    <part name="parameters" element="s0:NoSinkSendMessageConvResponse" />
  </message>
  <message name="NoSinkSendMessage2SoapIn">
    <part name="parameters" element="s0:NoSinkSendMessage2" />
  </message>
  <message name="NoSinkSendMessage2SoapOut">
    <part name="parameters" element="s0:NoSinkSendMessage2Response" />
  </message>
  <message name="NoSinkSendMessage3SoapIn">
    <part name="parameters" element="s0:NoSinkSendMessage3" />
  </message>
  <message name="NoSinkSendMessage3SoapOut">
    <part name="parameters" element="s0:NoSinkSendMessage3Response" />
  </message>
  <message name="GetMD5StringSoapIn">
    <part name="parameters" element="s0:GetMD5String" />
  </message>
  <message name="GetMD5StringSoapOut">
    <part name="parameters" element="s0:GetMD5StringResponse" />
  </message>
  <message name="AnonymousSendMessageNonSoapHttpGetIn">
    <part name="Buddies" type="s:string" />
    <part name="Message" type="s:string" />
  </message>
  <message name="AnonymousSendMessageNonSoapHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="AnonymousConversationNonSoapHttpGetIn">
    <part name="Buddies" type="s:string" />
    <part name="Message" type="s:string" />
  </message>
  <message name="AnonymousConversationNonSoapHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="SendMessageHttpGetIn">
    <part name="Username" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="Buddies" type="s1:StringArray" />
    <part name="Message" type="s:string" />
    <part name="ConversationFlag" type="s:string" />
  </message>
  <message name="SendMessageHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="NoSinkSendMessageHttpGetIn">
    <part name="Buddy" type="s:string" />
    <part name="Message" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="NoSinkSendMessageHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="NoSinkSendMessageConvHttpGetIn">
    <part name="Caller" type="s:string" />
    <part name="Callee" type="s:string" />
    <part name="Message" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="NoSinkSendMessageConvHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="NoSinkSendMessage2HttpGetIn">
    <part name="Buddy" type="s:string" />
    <part name="Message" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="NoSinkSendMessage2HttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="NoSinkSendMessage3HttpGetIn">
    <part name="User" type="s:string" />
    <part name="Pass" type="s:string" />
    <part name="Buddy" type="s:string" />
    <part name="Message" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="NoSinkSendMessage3HttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="GetMD5StringHttpGetIn">
    <part name="s" type="s:string" />
  </message>
  <message name="GetMD5StringHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="AnonymousSendMessageNonSoapHttpPostIn">
    <part name="Buddies" type="s:string" />
    <part name="Message" type="s:string" />
  </message>
  <message name="AnonymousSendMessageNonSoapHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="AnonymousConversationNonSoapHttpPostIn">
    <part name="Buddies" type="s:string" />
    <part name="Message" type="s:string" />
  </message>
  <message name="AnonymousConversationNonSoapHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="SendMessageHttpPostIn">
    <part name="Username" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="Buddies" type="s1:StringArray" />
    <part name="Message" type="s:string" />
    <part name="ConversationFlag" type="s:string" />
  </message>
  <message name="SendMessageHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="NoSinkSendMessageHttpPostIn">
    <part name="Buddy" type="s:string" />
    <part name="Message" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="NoSinkSendMessageHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="NoSinkSendMessageConvHttpPostIn">
    <part name="Caller" type="s:string" />
    <part name="Callee" type="s:string" />
    <part name="Message" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="NoSinkSendMessageConvHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="NoSinkSendMessage2HttpPostIn">
    <part name="Buddy" type="s:string" />
    <part name="Message" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="NoSinkSendMessage2HttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="NoSinkSendMessage3HttpPostIn">
    <part name="User" type="s:string" />
    <part name="Pass" type="s:string" />
    <part name="Buddy" type="s:string" />
    <part name="Message" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="NoSinkSendMessage3HttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="GetMD5StringHttpPostIn">
    <part name="s" type="s:string" />
  </message>
  <message name="GetMD5StringHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="MessengerSoap">
    <operation name="AnonymousSendMessageNonSoap">
      <documentation>use this one for testing</documentation>
      <input message="s0:AnonymousSendMessageNonSoapSoapIn" />
      <output message="s0:AnonymousSendMessageNonSoapSoapOut" />
    </operation>
    <operation name="AnonymousConversationNonSoap">
      <documentation>limit 4 comma separated buddies</documentation>
      <input message="s0:AnonymousConversationNonSoapSoapIn" />
      <output message="s0:AnonymousConversationNonSoapSoapOut" />
    </operation>
    <operation name="SendMessage">
      <documentation>only accessible through soap clients</documentation>
      <input message="s0:SendMessageSoapIn" />
      <output message="s0:SendMessageSoapOut" />
    </operation>
    <operation name="NoSinkSendMessage">
      <documentation>for noSink</documentation>
      <input message="s0:NoSinkSendMessageSoapIn" />
      <output message="s0:NoSinkSendMessageSoapOut" />
    </operation>
    <operation name="NoSinkSendMessageConv">
      <documentation>for noSink</documentation>
      <input message="s0:NoSinkSendMessageConvSoapIn" />
      <output message="s0:NoSinkSendMessageConvSoapOut" />
    </operation>
    <operation name="NoSinkSendMessage2">
      <documentation>for noSink</documentation>
      <input message="s0:NoSinkSendMessage2SoapIn" />
      <output message="s0:NoSinkSendMessage2SoapOut" />
    </operation>
    <operation name="NoSinkSendMessage3">
      <documentation>for noSink</documentation>
      <input message="s0:NoSinkSendMessage3SoapIn" />
      <output message="s0:NoSinkSendMessage3SoapOut" />
    </operation>
    <operation name="GetMD5String">
      <documentation>for noSink on PPC</documentation>
      <input message="s0:GetMD5StringSoapIn" />
      <output message="s0:GetMD5StringSoapOut" />
    </operation>
  </portType>
  <portType name="MessengerHttpGet">
    <operation name="AnonymousSendMessageNonSoap">
      <documentation>use this one for testing</documentation>
      <input message="s0:AnonymousSendMessageNonSoapHttpGetIn" />
      <output message="s0:AnonymousSendMessageNonSoapHttpGetOut" />
    </operation>
    <operation name="AnonymousConversationNonSoap">
      <documentation>limit 4 comma separated buddies</documentation>
      <input message="s0:AnonymousConversationNonSoapHttpGetIn" />
      <output message="s0:AnonymousConversationNonSoapHttpGetOut" />
    </operation>
    <operation name="SendMessage">
      <documentation>only accessible through soap clients</documentation>
      <input message="s0:SendMessageHttpGetIn" />
      <output message="s0:SendMessageHttpGetOut" />
    </operation>
    <operation name="NoSinkSendMessage">
      <documentation>for noSink</documentation>
      <input message="s0:NoSinkSendMessageHttpGetIn" />
      <output message="s0:NoSinkSendMessageHttpGetOut" />
    </operation>
    <operation name="NoSinkSendMessageConv">
      <documentation>for noSink</documentation>
      <input message="s0:NoSinkSendMessageConvHttpGetIn" />
      <output message="s0:NoSinkSendMessageConvHttpGetOut" />
    </operation>
    <operation name="NoSinkSendMessage2">
      <documentation>for noSink</documentation>
      <input message="s0:NoSinkSendMessage2HttpGetIn" />
      <output message="s0:NoSinkSendMessage2HttpGetOut" />
    </operation>
    <operation name="NoSinkSendMessage3">
      <documentation>for noSink</documentation>
      <input message="s0:NoSinkSendMessage3HttpGetIn" />
      <output message="s0:NoSinkSendMessage3HttpGetOut" />
    </operation>
    <operation name="GetMD5String">
      <documentation>for noSink on PPC</documentation>
      <input message="s0:GetMD5StringHttpGetIn" />
      <output message="s0:GetMD5StringHttpGetOut" />
    </operation>
  </portType>
  <portType name="MessengerHttpPost">
    <operation name="AnonymousSendMessageNonSoap">
      <documentation>use this one for testing</documentation>
      <input message="s0:AnonymousSendMessageNonSoapHttpPostIn" />
      <output message="s0:AnonymousSendMessageNonSoapHttpPostOut" />
    </operation>
    <operation name="AnonymousConversationNonSoap">
      <documentation>limit 4 comma separated buddies</documentation>
      <input message="s0:AnonymousConversationNonSoapHttpPostIn" />
      <output message="s0:AnonymousConversationNonSoapHttpPostOut" />
    </operation>
    <operation name="SendMessage">
      <documentation>only accessible through soap clients</documentation>
      <input message="s0:SendMessageHttpPostIn" />
      <output message="s0:SendMessageHttpPostOut" />
    </operation>
    <operation name="NoSinkSendMessage">
      <documentation>for noSink</documentation>
      <input message="s0:NoSinkSendMessageHttpPostIn" />
      <output message="s0:NoSinkSendMessageHttpPostOut" />
    </operation>
    <operation name="NoSinkSendMessageConv">
      <documentation>for noSink</documentation>
      <input message="s0:NoSinkSendMessageConvHttpPostIn" />
      <output message="s0:NoSinkSendMessageConvHttpPostOut" />
    </operation>
    <operation name="NoSinkSendMessage2">
      <documentation>for noSink</documentation>
      <input message="s0:NoSinkSendMessage2HttpPostIn" />
      <output message="s0:NoSinkSendMessage2HttpPostOut" />
    </operation>
    <operation name="NoSinkSendMessage3">
      <documentation>for noSink</documentation>
      <input message="s0:NoSinkSendMessage3HttpPostIn" />
      <output message="s0:NoSinkSendMessage3HttpPostOut" />
    </operation>
    <operation name="GetMD5String">
      <documentation>for noSink on PPC</documentation>
      <input message="s0:GetMD5StringHttpPostIn" />
      <output message="s0:GetMD5StringHttpPostOut" />
    </operation>
  </portType>
  <binding name="MessengerSoap" type="s0:MessengerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="AnonymousSendMessageNonSoap">
      <soap:operation soapAction="http://brains-N-brawn.com/webservices/AnonymousSendMessageNonSoap" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AnonymousConversationNonSoap">
      <soap:operation soapAction="http://brains-N-brawn.com/webservices/AnonymousConversationNonSoap" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SendMessage">
      <soap:operation soapAction="http://brains-N-brawn.com/webservices/SendMessage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="NoSinkSendMessage">
      <soap:operation soapAction="http://brains-N-brawn.com/webservices/NoSinkSendMessage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="NoSinkSendMessageConv">
      <soap:operation soapAction="http://brains-N-brawn.com/webservices/NoSinkSendMessageConv" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="NoSinkSendMessage2">
      <soap:operation soapAction="http://brains-N-brawn.com/webservices/NoSinkSendMessage2" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="NoSinkSendMessage3">
      <soap:operation soapAction="http://brains-N-brawn.com/webservices/NoSinkSendMessage3" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMD5String">
      <soap:operation soapAction="http://brains-N-brawn.com/webservices/GetMD5String" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="MessengerHttpGet" type="s0:MessengerHttpGet">
    <http:binding verb="GET" />
    <operation name="AnonymousSendMessageNonSoap">
      <http:operation location="/AnonymousSendMessageNonSoap" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AnonymousConversationNonSoap">
      <http:operation location="/AnonymousConversationNonSoap" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SendMessage">
      <http:operation location="/SendMessage" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="NoSinkSendMessage">
      <http:operation location="/NoSinkSendMessage" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="NoSinkSendMessageConv">
      <http:operation location="/NoSinkSendMessageConv" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="NoSinkSendMessage2">
      <http:operation location="/NoSinkSendMessage2" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="NoSinkSendMessage3">
      <http:operation location="/NoSinkSendMessage3" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetMD5String">
      <http:operation location="/GetMD5String" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="MessengerHttpPost" type="s0:MessengerHttpPost">
    <http:binding verb="POST" />
    <operation name="AnonymousSendMessageNonSoap">
      <http:operation location="/AnonymousSendMessageNonSoap" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AnonymousConversationNonSoap">
      <http:operation location="/AnonymousConversationNonSoap" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SendMessage">
      <http:operation location="/SendMessage" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="NoSinkSendMessage">
      <http:operation location="/NoSinkSendMessage" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="NoSinkSendMessageConv">
      <http:operation location="/NoSinkSendMessageConv" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="NoSinkSendMessage2">
      <http:operation location="/NoSinkSendMessage2" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="NoSinkSendMessage3">
      <http:operation location="/NoSinkSendMessage3" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetMD5String">
      <http:operation location="/GetMD5String" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Messenger">
    <port name="MessengerSoap" binding="s0:MessengerSoap">
      <soap:address location="http://www.mperfect.net/messengerwebsrv/messengerservice.asmx" />
    </port>
    <port name="MessengerHttpGet" binding="s0:MessengerHttpGet">
      <http:address location="http://www.mperfect.net/messengerwebsrv/messengerservice.asmx" />
    </port>
    <port name="MessengerHttpPost" binding="s0:MessengerHttpPost">
      <http:address location="http://www.mperfect.net/messengerwebsrv/messengerservice.asmx" />
    </port>
  </service>
</definitions>