OWLDataset/dataset2/33_MSN_Notifications.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://ws.acrosscommunications.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.acrosscommunications.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.acrosscommunications.com/">
      <s:element name="SetSearchString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSearchStringResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSearchString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSearchStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogonResponse">
        <s:complexType />
      </s:element>
      <s:element name="Send">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetUIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetUIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendURLResponse">
        <s:complexType />
      </s:element>
      <s:element name="Disconnect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisconnectResponse">
        <s:complexType />
      </s:element>
      <s:element name="Release">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReleaseResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="SetSearchStringSoapIn">
    <part name="parameters" element="s0:SetSearchString" />
  </message>
  <message name="SetSearchStringSoapOut">
    <part name="parameters" element="s0:SetSearchStringResponse" />
  </message>
  <message name="GetSearchStringSoapIn">
    <part name="parameters" element="s0:GetSearchString" />
  </message>
  <message name="GetSearchStringSoapOut">
    <part name="parameters" element="s0:GetSearchStringResponse" />
  </message>
  <message name="LogonSoapIn">
    <part name="parameters" element="s0:Logon" />
  </message>
  <message name="LogonSoapOut">
    <part name="parameters" element="s0:LogonResponse" />
  </message>
  <message name="SendSoapIn">
    <part name="parameters" element="s0:Send" />
  </message>
  <message name="SendSoapOut">
    <part name="parameters" element="s0:SendResponse" />
  </message>
  <message name="SendURLSoapIn">
    <part name="parameters" element="s0:SendURL" />
  </message>
  <message name="SendURLSoapOut">
    <part name="parameters" element="s0:SendURLResponse" />
  </message>
  <message name="DisconnectSoapIn">
    <part name="parameters" element="s0:Disconnect" />
  </message>
  <message name="DisconnectSoapOut">
    <part name="parameters" element="s0:DisconnectResponse" />
  </message>
  <message name="ReleaseSoapIn">
    <part name="parameters" element="s0:Release" />
  </message>
  <message name="ReleaseSoapOut">
    <part name="parameters" element="s0:ReleaseResponse" />
  </message>
  <message name="SetSearchStringHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetSearchStringHttpGetOut" />
  <message name="GetSearchStringHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetSearchStringHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="LogonHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="UIN" type="s:string" />
    <part name="strPassword" type="s:string" />
  </message>
  <message name="LogonHttpGetOut" />
  <message name="SendHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="TargetUIN" type="s:string" />
    <part name="strText" type="s:string" />
  </message>
  <message name="SendHttpGetOut" />
  <message name="SendURLHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="TargetUIN" type="s:string" />
    <part name="strURL" type="s:string" />
    <part name="strDescription" type="s:string" />
  </message>
  <message name="SendURLHttpGetOut" />
  <message name="DisconnectHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="DisconnectHttpGetOut" />
  <message name="ReleaseHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="ReleaseHttpGetOut" />
  <message name="SetSearchStringHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetSearchStringHttpPostOut" />
  <message name="GetSearchStringHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetSearchStringHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="LogonHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="UIN" type="s:string" />
    <part name="strPassword" type="s:string" />
  </message>
  <message name="LogonHttpPostOut" />
  <message name="SendHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="TargetUIN" type="s:string" />
    <part name="strText" type="s:string" />
  </message>
  <message name="SendHttpPostOut" />
  <message name="SendURLHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="TargetUIN" type="s:string" />
    <part name="strURL" type="s:string" />
    <part name="strDescription" type="s:string" />
  </message>
  <message name="SendURLHttpPostOut" />
  <message name="DisconnectHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="DisconnectHttpPostOut" />
  <message name="ReleaseHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="ReleaseHttpPostOut" />
  <portType name="ICQSoap">
    <operation name="SetSearchString">
      <input message="s0:SetSearchStringSoapIn" />
      <output message="s0:SetSearchStringSoapOut" />
    </operation>
    <operation name="GetSearchString">
      <input message="s0:GetSearchStringSoapIn" />
      <output message="s0:GetSearchStringSoapOut" />
    </operation>
    <operation name="Logon">
      <input message="s0:LogonSoapIn" />
      <output message="s0:LogonSoapOut" />
    </operation>
    <operation name="Send">
      <input message="s0:SendSoapIn" />
      <output message="s0:SendSoapOut" />
    </operation>
    <operation name="SendURL">
      <input message="s0:SendURLSoapIn" />
      <output message="s0:SendURLSoapOut" />
    </operation>
    <operation name="Disconnect">
      <input message="s0:DisconnectSoapIn" />
      <output message="s0:DisconnectSoapOut" />
    </operation>
    <operation name="Release">
      <input message="s0:ReleaseSoapIn" />
      <output message="s0:ReleaseSoapOut" />
    </operation>
  </portType>
  <portType name="ICQHttpGet">
    <operation name="SetSearchString">
      <input message="s0:SetSearchStringHttpGetIn" />
      <output message="s0:SetSearchStringHttpGetOut" />
    </operation>
    <operation name="GetSearchString">
      <input message="s0:GetSearchStringHttpGetIn" />
      <output message="s0:GetSearchStringHttpGetOut" />
    </operation>
    <operation name="Logon">
      <input message="s0:LogonHttpGetIn" />
      <output message="s0:LogonHttpGetOut" />
    </operation>
    <operation name="Send">
      <input message="s0:SendHttpGetIn" />
      <output message="s0:SendHttpGetOut" />
    </operation>
    <operation name="SendURL">
      <input message="s0:SendURLHttpGetIn" />
      <output message="s0:SendURLHttpGetOut" />
    </operation>
    <operation name="Disconnect">
      <input message="s0:DisconnectHttpGetIn" />
      <output message="s0:DisconnectHttpGetOut" />
    </operation>
    <operation name="Release">
      <input message="s0:ReleaseHttpGetIn" />
      <output message="s0:ReleaseHttpGetOut" />
    </operation>
  </portType>
  <portType name="ICQHttpPost">
    <operation name="SetSearchString">
      <input message="s0:SetSearchStringHttpPostIn" />
      <output message="s0:SetSearchStringHttpPostOut" />
    </operation>
    <operation name="GetSearchString">
      <input message="s0:GetSearchStringHttpPostIn" />
      <output message="s0:GetSearchStringHttpPostOut" />
    </operation>
    <operation name="Logon">
      <input message="s0:LogonHttpPostIn" />
      <output message="s0:LogonHttpPostOut" />
    </operation>
    <operation name="Send">
      <input message="s0:SendHttpPostIn" />
      <output message="s0:SendHttpPostOut" />
    </operation>
    <operation name="SendURL">
      <input message="s0:SendURLHttpPostIn" />
      <output message="s0:SendURLHttpPostOut" />
    </operation>
    <operation name="Disconnect">
      <input message="s0:DisconnectHttpPostIn" />
      <output message="s0:DisconnectHttpPostOut" />
    </operation>
    <operation name="Release">
      <input message="s0:ReleaseHttpPostIn" />
      <output message="s0:ReleaseHttpPostOut" />
    </operation>
  </portType>
  <binding name="ICQSoap" type="s0:ICQSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="SetSearchString">
      <soap:operation soapAction="http://ws.acrosscommunications.com/SetSearchString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSearchString">
      <soap:operation soapAction="http://ws.acrosscommunications.com/GetSearchString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Logon">
      <soap:operation soapAction="http://ws.acrosscommunications.com/Logon" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Send">
      <soap:operation soapAction="http://ws.acrosscommunications.com/Send" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SendURL">
      <soap:operation soapAction="http://ws.acrosscommunications.com/SendURL" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Disconnect">
      <soap:operation soapAction="http://ws.acrosscommunications.com/Disconnect" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Release">
      <soap:operation soapAction="http://ws.acrosscommunications.com/Release" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ICQHttpGet" type="s0:ICQHttpGet">
    <http:binding verb="GET" />
    <operation name="SetSearchString">
      <http:operation location="/SetSearchString" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetSearchString">
      <http:operation location="/GetSearchString" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Logon">
      <http:operation location="/Logon" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="Send">
      <http:operation location="/Send" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="SendURL">
      <http:operation location="/SendURL" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="Disconnect">
      <http:operation location="/Disconnect" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="Release">
      <http:operation location="/Release" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
  </binding>
  <binding name="ICQHttpPost" type="s0:ICQHttpPost">
    <http:binding verb="POST" />
    <operation name="SetSearchString">
      <http:operation location="/SetSearchString" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetSearchString">
      <http:operation location="/GetSearchString" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Logon">
      <http:operation location="/Logon" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="Send">
      <http:operation location="/Send" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="SendURL">
      <http:operation location="/SendURL" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="Disconnect">
      <http:operation location="/Disconnect" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="Release">
      <http:operation location="/Release" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
  </binding>
  <service name="ICQ">
    <port name="ICQSoap" binding="s0:ICQSoap">
      <soap:address location="http://ws.acrosscommunications.com/ICQ.asmx" />
    </port>
    <port name="ICQHttpGet" binding="s0:ICQHttpGet">
      <http:address location="http://ws.acrosscommunications.com/ICQ.asmx" />
    </port>
    <port name="ICQHttpPost" binding="s0:ICQHttpPost">
      <http:address location="http://ws.acrosscommunications.com/ICQ.asmx" />
    </port>
  </service>
</definitions>