OWLDataset/dataset2/43_Energy_Unit_convertor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeEnergyUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnergyValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromEnergyUnit" type="s0:Energys" />
            <s:element minOccurs="1" maxOccurs="1" name="toEnergyUnit" type="s0:Energys" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Energys">
        <s:restriction base="s:string">
          <s:enumeration value="attojoule" />
          <s:enumeration value="BoardofTradeunit" />
          <s:enumeration value="Btu" />
          <s:enumeration value="Btuthermochemical" />
          <s:enumeration value="calorie" />
          <s:enumeration value="calorie15C" />
          <s:enumeration value="caloriethermochemical" />
          <s:enumeration value="celsiusheatunit" />
          <s:enumeration value="centijoule" />
          <s:enumeration value="chevalvapeurheure" />
          <s:enumeration value="decijoule" />
          <s:enumeration value="dekajoule" />
          <s:enumeration value="dekawatthour" />
          <s:enumeration value="dekatherm" />
          <s:enumeration value="electronvolt" />
          <s:enumeration value="erg" />
          <s:enumeration value="exajoule" />
          <s:enumeration value="exawatthour" />
          <s:enumeration value="femtojoule" />
          <s:enumeration value="footpound" />
          <s:enumeration value="footpoundal" />
          <s:enumeration value="gallonofautomotivegasoline" />
          <s:enumeration value="gallonofaviationgasoline" />
          <s:enumeration value="gallonofdieseloil" />
          <s:enumeration value="gallonofdistilate2fueloil" />
          <s:enumeration value="gallonofkerosenetypejetfuel" />
          <s:enumeration value="gallonofnaphthatypejetfuel" />
          <s:enumeration value="gallonofkerosene" />
          <s:enumeration value="gallonofresidualfueloil" />
          <s:enumeration value="gigaelectronvolt" />
          <s:enumeration value="gigajoule" />
          <s:enumeration value="gigawatthour" />
          <s:enumeration value="gramcalorie" />
          <s:enumeration value="hartree" />
          <s:enumeration value="hectojoule" />
          <s:enumeration value="hectowatthour" />
          <s:enumeration value="horseEnergyhour" />
          <s:enumeration value="hundredcubicfootofnaturalgas" />
          <s:enumeration value="inchounce" />
          <s:enumeration value="inchpound" />
          <s:enumeration value="joule" />
          <s:enumeration value="kilocalorie1" />
          <s:enumeration value="kilocalorieIT" />
          <s:enumeration value="kilocaloriethermochemical" />
          <s:enumeration value="kiloelectronvolt" />
          <s:enumeration value="kilogramcalorie" />
          <s:enumeration value="kilogrammeter" />
          <s:enumeration value="kilojoule" />
          <s:enumeration value="kilopondmeter" />
          <s:enumeration value="kiloton" />
          <s:enumeration value="kilowatthour" />
          <s:enumeration value="literatmosphere" />
          <s:enumeration value="megaelectronvolt" />
          <s:enumeration value="megajoule" />
          <s:enumeration value="megalerg" />
          <s:enumeration value="megaton" />
          <s:enumeration value="megawatthour" />
          <s:enumeration value="meterkilogram" />
          <s:enumeration value="microjoule" />
          <s:enumeration value="millijoule" />
          <s:enumeration value="myriawatthour" />
          <s:enumeration value="nanojoule" />
          <s:enumeration value="newtonmeter" />
          <s:enumeration value="petajoule" />
          <s:enumeration value="petawatthour" />
          <s:enumeration value="pferdest??rkenstunde" />
          <s:enumeration value="picojoule" />
          <s:enumeration value="Qunit" />
          <s:enumeration value="quad" />
          <s:enumeration value="teraelectronvolt" />
          <s:enumeration value="terajoule" />
          <s:enumeration value="terawatthour" />
          <s:enumeration value="thermEurope" />
          <s:enumeration value="thermUS" />
          <s:enumeration value="thermie" />
          <s:enumeration value="ton" />
          <s:enumeration value="tonneofcoalequivalent" />
          <s:enumeration value="tonneofoilequivalent" />
          <s:enumeration value="watthour" />
          <s:enumeration value="wattsecond" />
          <s:enumeration value="yoctojoule" />
          <s:enumeration value="yottajoule" />
          <s:enumeration value="yottawatthour" />
          <s:enumeration value="zeptojoule" />
          <s:enumeration value="zettajoule" />
          <s:enumeration value="zettawatthour" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeEnergyUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeEnergyUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </types>
  <message name="ChangeEnergyUnitSoapIn">
    <part name="parameters" element="s0:ChangeEnergyUnit" />
  </message>
  <message name="ChangeEnergyUnitSoapOut">
    <part name="parameters" element="s0:ChangeEnergyUnitResponse" />
  </message>
  <message name="ChangeEnergyUnitHttpGetIn">
    <part name="EnergyValue" type="s:string" />
    <part name="fromEnergyUnit" type="s:string" />
    <part name="toEnergyUnit" type="s:string" />
  </message>
  <message name="ChangeEnergyUnitHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="ChangeEnergyUnitHttpPostIn">
    <part name="EnergyValue" type="s:string" />
    <part name="fromEnergyUnit" type="s:string" />
    <part name="toEnergyUnit" type="s:string" />
  </message>
  <message name="ChangeEnergyUnitHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <portType name="EnergyUnitSoap">
    <operation name="ChangeEnergyUnit">
      <input message="s0:ChangeEnergyUnitSoapIn" />
      <output message="s0:ChangeEnergyUnitSoapOut" />
    </operation>
  </portType>
  <portType name="EnergyUnitHttpGet">
    <operation name="ChangeEnergyUnit">
      <input message="s0:ChangeEnergyUnitHttpGetIn" />
      <output message="s0:ChangeEnergyUnitHttpGetOut" />
    </operation>
  </portType>
  <portType name="EnergyUnitHttpPost">
    <operation name="ChangeEnergyUnit">
      <input message="s0:ChangeEnergyUnitHttpPostIn" />
      <output message="s0:ChangeEnergyUnitHttpPostOut" />
    </operation>
  </portType>
  <binding name="EnergyUnitSoap" type="s0:EnergyUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="ChangeEnergyUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangeEnergyUnit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="EnergyUnitHttpGet" type="s0:EnergyUnitHttpGet">
    <http:binding verb="GET" />
    <operation name="ChangeEnergyUnit">
      <http:operation location="/ChangeEnergyUnit" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="EnergyUnitHttpPost" type="s0:EnergyUnitHttpPost">
    <http:binding verb="POST" />
    <operation name="ChangeEnergyUnit">
      <http:operation location="/ChangeEnergyUnit" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="EnergyUnit">
    <port name="EnergyUnitSoap" binding="s0:EnergyUnitSoap">
      <soap:address location="http://www.webservicex.net/ConvertEnergy.asmx" />
    </port>
    <port name="EnergyUnitHttpGet" binding="s0:EnergyUnitHttpGet">
      <http:address location="http://www.webservicex.net/ConvertEnergy.asmx" />
    </port>
    <port name="EnergyUnitHttpPost" binding="s0:EnergyUnitHttpPost">
      <http:address location="http://www.webservicex.net/ConvertEnergy.asmx" />
    </port>
  </service>
</definitions>