OWLDataset/dataset2/54_Temperature.wsdl

<?xml version="1.0" ?>

<definitions name="Temperature.ctemperature" targetNamespace="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml" xmlns:tns="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <message name="CelsiusToFahrenheitRequest">
        <part name="Celsius" type="xsd:double"/>
    </message>
    <message name="CelsiusToFahrenheitResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="FahrenheitToCelsiusRequest">
        <part name="Fahrenheit" type="xsd:double"/>
    </message>
    <message name="FahrenheitToCelsiusResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="FahrenheitToKelvinRequest">
        <part name="Fahrenheit" type="xsd:double"/>
    </message>
    <message name="FahrenheitToKelvinResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="CelsiusToKelvinRequest">
        <part name="Celsius" type="xsd:double"/>
    </message>
    <message name="CelsiusToKelvinResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="KelvinToCelsiusRequest">
        <part name="Kelvin" type="xsd:double"/>
    </message>
    <message name="KelvinToCelsiusResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="KelvinToFahrenheitRequest">
        <part name="Kelvin" type="xsd:double"/>
    </message>
    <message name="KelvinToFahrenheitResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <portType name="Temperature.ctemperaturePortType">
        <operation name="CelsiusToFahrenheit">
            <input message="tns:CelsiusToFahrenheitRequest"/>
            <output message="tns:CelsiusToFahrenheitResponse"/>
        </operation>
        <operation name="FahrenheitToCelsius">
            <input message="tns:FahrenheitToCelsiusRequest"/>
            <output message="tns:FahrenheitToCelsiusResponse"/>
        </operation>
        <operation name="FahrenheitToKelvin">
            <input message="tns:FahrenheitToKelvinRequest"/>
            <output message="tns:FahrenheitToKelvinResponse"/>
        </operation>
        <operation name="CelsiusToKelvin">
            <input message="tns:CelsiusToKelvinRequest"/>
            <output message="tns:CelsiusToKelvinResponse"/>
        </operation>
        <operation name="KelvinToCelsius">
            <input message="tns:KelvinToCelsiusRequest"/>
            <output message="tns:KelvinToCelsiusResponse"/>
        </operation>
        <operation name="KelvinToFahrenheit">
            <input message="tns:KelvinToFahrenheitRequest"/>
            <output message="tns:KelvinToFahrenheitResponse"/>
        </operation>
    </portType>
    <binding name="Temperature.ctemperaturebinding" type="tns:Temperature.ctemperaturePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CelsiusToFahrenheit">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml#CelsiusToFahrenheit"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="FahrenheitToCelsius">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml#FahrenheitToCelsius"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="FahrenheitToKelvin">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml#FahrenheitToKelvin"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="CelsiusToKelvin">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml#CelsiusToKelvin"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="KelvinToCelsius">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml#KelvinToCelsius"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="KelvinToFahrenheit">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml#KelvinToFahrenheit"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Temperature/CTemperature.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="Temperature.ctemperatureService">
        <port name="Temperature.ctemperaturePort" binding="tns:Temperature.ctemperaturebinding">
            <soap:address location="http://sal006.salnetwork.com:82/bin/converter.cgi"/>
        </port>
    </service>
</definitions>