OWLDataset/dataset2/59_Volume.wsdl

<?xml version="1.0" ?>

<definitions name="Volume.cvolume" targetNamespace="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml" xmlns:tns="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <message name="LitersToPintsRequest">
        <part name="Liters" type="xsd:double"/>
    </message>
    <message name="LitersToPintsResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="LitersToGallonsRequest">
        <part name="Liters" type="xsd:double"/>
    </message>
    <message name="LitersToGallonsResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="PintsToLitersRequest">
        <part name="Pints" type="xsd:double"/>
    </message>
    <message name="PintsToLitersResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="PintsToGallonsRequest">
        <part name="Pints" type="xsd:double"/>
    </message>
    <message name="PintsToGallonsResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="GallonsToLitersRequest">
        <part name="Gallons" type="xsd:double"/>
    </message>
    <message name="GallonsToLitersResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="GallonsToPintsRequest">
        <part name="Gallons" type="xsd:double"/>
    </message>
    <message name="GallonsToPintsResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <portType name="Volume.cvolumePortType">
        <operation name="LitersToPints">
            <input message="tns:LitersToPintsRequest"/>
            <output message="tns:LitersToPintsResponse"/>
        </operation>
        <operation name="LitersToGallons">
            <input message="tns:LitersToGallonsRequest"/>
            <output message="tns:LitersToGallonsResponse"/>
        </operation>
        <operation name="PintsToLiters">
            <input message="tns:PintsToLitersRequest"/>
            <output message="tns:PintsToLitersResponse"/>
        </operation>
        <operation name="PintsToGallons">
            <input message="tns:PintsToGallonsRequest"/>
            <output message="tns:PintsToGallonsResponse"/>
        </operation>
        <operation name="GallonsToLiters">
            <input message="tns:GallonsToLitersRequest"/>
            <output message="tns:GallonsToLitersResponse"/>
        </operation>
        <operation name="GallonsToPints">
            <input message="tns:GallonsToPintsRequest"/>
            <output message="tns:GallonsToPintsResponse"/>
        </operation>
    </portType>
    <binding name="Volume.cvolumebinding" type="tns:Volume.cvolumePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LitersToPints">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml#LitersToPints"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LitersToGallons">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml#LitersToGallons"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="PintsToLiters">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml#PintsToLiters"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="PintsToGallons">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml#PintsToGallons"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="GallonsToLiters">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml#GallonsToLiters"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="GallonsToPints">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml#GallonsToPints"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Volume/CVolume.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="Volume.cvolumeService">
        <port name="Volume.cvolumePort" binding="tns:Volume.cvolumebinding">
            <soap:address location="http://sal006.salnetwork.com:82/bin/converter.cgi"/>
        </port>
    </service>
</definitions>