OWLDataset/dataset2/60_Volume_Unit_Convertor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeVolumeUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VolumeValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromVolumeUnit" type="s0:Volumes" />
            <s:element minOccurs="1" maxOccurs="1" name="toVolumeUnit" type="s0:Volumes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Volumes">
        <s:restriction base="s:string">
          <s:enumeration value="acreFoot" />
          <s:enumeration value="acreFootUSSurvey" />
          <s:enumeration value="acreInch" />
          <s:enumeration value="barrelUKwine" />
          <s:enumeration value="barrelUK" />
          <s:enumeration value="barrelUSDry" />
          <s:enumeration value="barrelUSFederal" />
          <s:enumeration value="barrelUSLiquid" />
          <s:enumeration value="barrelUSPetroleum" />
          <s:enumeration value="barrelUSSpirits" />
          <s:enumeration value="boardFoot" />
          <s:enumeration value="bucketUK" />
          <s:enumeration value="bushelUK" />
          <s:enumeration value="bushelUS" />
          <s:enumeration value="dry" />
          <s:enumeration value="centiliter" />
          <s:enumeration value="cordFirewood" />
          <s:enumeration value="cordFootTimber" />
          <s:enumeration value="cubicCentimeterCC" />
          <s:enumeration value="cubicCubitAncientEgypt" />
          <s:enumeration value="cubicDecimeter" />
          <s:enumeration value="cubicDekameter" />
          <s:enumeration value="cubicFoot" />
          <s:enumeration value="cubicInch" />
          <s:enumeration value="cubicKilometer" />
          <s:enumeration value="cubicMeter" />
          <s:enumeration value="cubicMile" />
          <s:enumeration value="cubicMillimeter" />
          <s:enumeration value="cubicYard" />
          <s:enumeration value="cupCanada" />
          <s:enumeration value="cupMetric" />
          <s:enumeration value="cupUS" />
          <s:enumeration value="deciliter" />
          <s:enumeration value="dekaliter" />
          <s:enumeration value="fifth" />
          <s:enumeration value="gallonUK" />
          <s:enumeration value="gallonUSDry" />
          <s:enumeration value="gallonUSLiquid" />
          <s:enumeration value="gillUK" />
          <s:enumeration value="gillUS" />
          <s:enumeration value="hectareMeter" />
          <s:enumeration value="hectoliter" />
          <s:enumeration value="hogsheadUK" />
          <s:enumeration value="hogsheadUS" />
          <s:enumeration value="jigger" />
          <s:enumeration value="kiloliter" />
          <s:enumeration value="liter" />
          <s:enumeration value="measureAncientHebrew" />
          <s:enumeration value="megaliter" />
          <s:enumeration value="microliter" />
          <s:enumeration value="milliliter" />
          <s:enumeration value="ounceUKLiquid" />
          <s:enumeration value="ounceUSLiquid" />
          <s:enumeration value="peckUK" />
          <s:enumeration value="peckUS" />
          <s:enumeration value="pintUK" />
          <s:enumeration value="pintUSDry" />
          <s:enumeration value="pintUSLiquid" />
          <s:enumeration value="pipeUK" />
          <s:enumeration value="pipeUS" />
          <s:enumeration value="pony" />
          <s:enumeration value="quartGermany" />
          <s:enumeration value="quartAncientHebrew" />
          <s:enumeration value="quartUK" />
          <s:enumeration value="quartUSDry" />
          <s:enumeration value="quartUSLiquid" />
          <s:enumeration value="quarterUKLiquid" />
          <s:enumeration value="scrupleUKLiquid" />
          <s:enumeration value="stere" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeVolumeUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeVolumeUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </types>
  <message name="ChangeVolumeUnitSoapIn">
    <part name="parameters" element="s0:ChangeVolumeUnit" />
  </message>
  <message name="ChangeVolumeUnitSoapOut">
    <part name="parameters" element="s0:ChangeVolumeUnitResponse" />
  </message>
  <message name="ChangeVolumeUnitHttpGetIn">
    <part name="VolumeValue" type="s:string" />
    <part name="fromVolumeUnit" type="s:string" />
    <part name="toVolumeUnit" type="s:string" />
  </message>
  <message name="ChangeVolumeUnitHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="ChangeVolumeUnitHttpPostIn">
    <part name="VolumeValue" type="s:string" />
    <part name="fromVolumeUnit" type="s:string" />
    <part name="toVolumeUnit" type="s:string" />
  </message>
  <message name="ChangeVolumeUnitHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <portType name="VolumeUnitSoap">
    <operation name="ChangeVolumeUnit">
      <input message="s0:ChangeVolumeUnitSoapIn" />
      <output message="s0:ChangeVolumeUnitSoapOut" />
    </operation>
  </portType>
  <portType name="VolumeUnitHttpGet">
    <operation name="ChangeVolumeUnit">
      <input message="s0:ChangeVolumeUnitHttpGetIn" />
      <output message="s0:ChangeVolumeUnitHttpGetOut" />
    </operation>
  </portType>
  <portType name="VolumeUnitHttpPost">
    <operation name="ChangeVolumeUnit">
      <input message="s0:ChangeVolumeUnitHttpPostIn" />
      <output message="s0:ChangeVolumeUnitHttpPostOut" />
    </operation>
  </portType>
  <binding name="VolumeUnitSoap" type="s0:VolumeUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="ChangeVolumeUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangeVolumeUnit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="VolumeUnitHttpGet" type="s0:VolumeUnitHttpGet">
    <http:binding verb="GET" />
    <operation name="ChangeVolumeUnit">
      <http:operation location="/ChangeVolumeUnit" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="VolumeUnitHttpPost" type="s0:VolumeUnitHttpPost">
    <http:binding verb="POST" />
    <operation name="ChangeVolumeUnit">
      <http:operation location="/ChangeVolumeUnit" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="VolumeUnit">
    <port name="VolumeUnitSoap" binding="s0:VolumeUnitSoap">
      <soap:address location="http://www.webservicex.net/convertVolume.asmx" />
    </port>
    <port name="VolumeUnitHttpGet" binding="s0:VolumeUnitHttpGet">
      <http:address location="http://www.webservicex.net/convertVolume.asmx" />
    </port>
    <port name="VolumeUnitHttpPost" binding="s0:VolumeUnitHttpPost">
      <http:address location="http://www.webservicex.net/convertVolume.asmx" />
    </port>
  </service>
</definitions>