OWLDataset/dataset2/66_ComputerUnitConvertor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeComputerUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ComputerValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromComputerUnit" type="s0:Computers" />
            <s:element minOccurs="1" maxOccurs="1" name="toComputerUnit" type="s0:Computers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Computers">
        <s:restriction base="s:string">
          <s:enumeration value="Bit" />
          <s:enumeration value="Byte" />
          <s:enumeration value="Kilobyte" />
          <s:enumeration value="Megabyte" />
          <s:enumeration value="Gigabyte" />
          <s:enumeration value="Terabyte" />
          <s:enumeration value="Petabyte" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeComputerUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeComputerUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </types>
  <message name="ChangeComputerUnitSoapIn">
    <part name="parameters" element="s0:ChangeComputerUnit" />
  </message>
  <message name="ChangeComputerUnitSoapOut">
    <part name="parameters" element="s0:ChangeComputerUnitResponse" />
  </message>
  <message name="ChangeComputerUnitHttpGetIn">
    <part name="ComputerValue" type="s:string" />
    <part name="fromComputerUnit" type="s:string" />
    <part name="toComputerUnit" type="s:string" />
  </message>
  <message name="ChangeComputerUnitHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="ChangeComputerUnitHttpPostIn">
    <part name="ComputerValue" type="s:string" />
    <part name="fromComputerUnit" type="s:string" />
    <part name="toComputerUnit" type="s:string" />
  </message>
  <message name="ChangeComputerUnitHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <portType name="ComputerUnitSoap">
    <operation name="ChangeComputerUnit">
      <input message="s0:ChangeComputerUnitSoapIn" />
      <output message="s0:ChangeComputerUnitSoapOut" />
    </operation>
  </portType>
  <portType name="ComputerUnitHttpGet">
    <operation name="ChangeComputerUnit">
      <input message="s0:ChangeComputerUnitHttpGetIn" />
      <output message="s0:ChangeComputerUnitHttpGetOut" />
    </operation>
  </portType>
  <portType name="ComputerUnitHttpPost">
    <operation name="ChangeComputerUnit">
      <input message="s0:ChangeComputerUnitHttpPostIn" />
      <output message="s0:ChangeComputerUnitHttpPostOut" />
    </operation>
  </portType>
  <binding name="ComputerUnitSoap" type="s0:ComputerUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="ChangeComputerUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangeComputerUnit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ComputerUnitHttpGet" type="s0:ComputerUnitHttpGet">
    <http:binding verb="GET" />
    <operation name="ChangeComputerUnit">
      <http:operation location="/ChangeComputerUnit" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ComputerUnitHttpPost" type="s0:ComputerUnitHttpPost">
    <http:binding verb="POST" />
    <operation name="ChangeComputerUnit">
      <http:operation location="/ChangeComputerUnit" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="ComputerUnit">
    <port name="ComputerUnitSoap" binding="s0:ComputerUnitSoap">
      <soap:address location="http://www.webservicex.net/ConvertComputer.asmx" />
    </port>
    <port name="ComputerUnitHttpGet" binding="s0:ComputerUnitHttpGet">
      <http:address location="http://www.webservicex.net/ConvertComputer.asmx" />
    </port>
    <port name="ComputerUnitHttpPost" binding="s0:ComputerUnitHttpPost">
      <http:address location="http://www.webservicex.net/ConvertComputer.asmx" />
    </port>
  </service>
</definitions>