WebServiceDataset/money/currency/service16.ValueManipulation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeFrequencyUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FrequencyValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromFrequencyUnit" type="s0:Frequencys" />
            <s:element minOccurs="1" maxOccurs="1" name="toFrequencyUnit" type="s0:Frequencys" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Frequencys">
        <s:restriction base="s:string">
          <s:enumeration value="cyclePersecond" />
          <s:enumeration value="degreePerhour" />
          <s:enumeration value="degreePerminute" />
          <s:enumeration value="degreePersecond" />
          <s:enumeration value="millihertz" />
          <s:enumeration value="hertz" />
          <s:enumeration value="kilohertz" />
          <s:enumeration value="megahertz" />
          <s:enumeration value="gigahertz" />
          <s:enumeration value="terrahertz" />
          <s:enumeration value="radianPerhour" />
          <s:enumeration value="radianPerminute" />
          <s:enumeration value="radianPersecond" />
          <s:enumeration value="revolutionPerhour" />
          <s:enumeration value="revolutionPerminute" />
          <s:enumeration value="revolutionPersecond" />
          <s:enumeration value="fresnel" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeFrequencyUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeFrequencyUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </types>
  <message name="ChangeFrequencyUnitSoapIn">
    <part name="parameters" element="s0:ChangeFrequencyUnit" />
  </message>
  <message name="ChangeFrequencyUnitSoapOut">
    <part name="parameters" element="s0:ChangeFrequencyUnitResponse" />
  </message>
  <message name="ChangeFrequencyUnitHttpGetIn">
    <part name="FrequencyValue" type="s:string" />
    <part name="fromFrequencyUnit" type="s:string" />
    <part name="toFrequencyUnit" type="s:string" />
  </message>
  <message name="ChangeFrequencyUnitHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="ChangeFrequencyUnitHttpPostIn">
    <part name="FrequencyValue" type="s:string" />
    <part name="fromFrequencyUnit" type="s:string" />
    <part name="toFrequencyUnit" type="s:string" />
  </message>
  <message name="ChangeFrequencyUnitHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <portType name="FrequencyUnitSoap">
    <operation name="ChangeFrequencyUnit">
      <input message="s0:ChangeFrequencyUnitSoapIn" />
      <output message="s0:ChangeFrequencyUnitSoapOut" />
    </operation>
  </portType>
  <portType name="FrequencyUnitHttpGet">
    <operation name="ChangeFrequencyUnit">
      <input message="s0:ChangeFrequencyUnitHttpGetIn" />
      <output message="s0:ChangeFrequencyUnitHttpGetOut" />
    </operation>
  </portType>
  <portType name="FrequencyUnitHttpPost">
    <operation name="ChangeFrequencyUnit">
      <input message="s0:ChangeFrequencyUnitHttpPostIn" />
      <output message="s0:ChangeFrequencyUnitHttpPostOut" />
    </operation>
  </portType>
  <binding name="FrequencyUnitSoap" type="s0:FrequencyUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="ChangeFrequencyUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangeFrequencyUnit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="FrequencyUnitHttpGet" type="s0:FrequencyUnitHttpGet">
    <http:binding verb="GET" />
    <operation name="ChangeFrequencyUnit">
      <http:operation location="/ChangeFrequencyUnit" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="FrequencyUnitHttpPost" type="s0:FrequencyUnitHttpPost">
    <http:binding verb="POST" />
    <operation name="ChangeFrequencyUnit">
      <http:operation location="/ChangeFrequencyUnit" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="FrequencyUnit">
    <port name="FrequencyUnitSoap" binding="s0:FrequencyUnitSoap">
      <soap:address location="http://www.webservicex.net/convertFrequency.asmx" />
    </port>
    <port name="FrequencyUnitHttpGet" binding="s0:FrequencyUnitHttpGet">
      <http:address location="http://www.webservicex.net/convertFrequency.asmx" />
    </port>
    <port name="FrequencyUnitHttpPost" binding="s0:FrequencyUnitHttpPost">
      <http:address location="http://www.webservicex.net/convertFrequency.asmx" />
    </port>
  </service>
</definitions>