WebServiceDataset/money/service36.Accounts.wsdl

<?xml version='1.0' encoding='UTF-8' ?> 
 <!-- Generated 12/12/02 by Microsoft SOAP Toolkit WSDL File Generator, Version 1.02.813.0 --> 
<definitions  name ='EFSnet2'   targetNamespace = 'http://tempuri.org/wsdl/'
	 xmlns:wsdlns='http://tempuri.org/wsdl/' 
	 xmlns:typens='http://tempuri.org/type' 
	 xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
	 xmlns:xsd='http://www.w3.org/2001/XMLSchema' 
	 xmlns:stk='http://schemas.microsoft.com/soap-toolkit/wsdl-extension'
	 xmlns='http://schemas.xmlsoap.org/wsdl/'> 
  <types>
    <schema targetNamespace='http://tempuri.org/type'
      xmlns='http://www.w3.org/2001/XMLSchema'
      xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
      xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
      elementFormDefault='qualified'>
    </schema>
  </types>
  <message name='EFSnet.QueryBatchTotals'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='DeliveryMethod' type='xsd:string'/>
    <part name='BatchID' type='xsd:string'/>
    <part name='BatchStatus' type='xsd:string'/>
    <part name='BatchSubmitDateBegin' type='xsd:string'/>
    <part name='BatchSubmitDateEnd' type='xsd:string'/>
    <part name='BatchSubmitTimeBegin' type='xsd:string'/>
    <part name='BatchSubmitTimeEnd' type='xsd:string'/>
    <part name='BatchCompleteDateBegin' type='xsd:string'/>
    <part name='BatchCompleteDateEnd' type='xsd:string'/>
    <part name='BatchCompleteTimeBegin' type='xsd:string'/>
    <part name='BatchCompleteTimeEnd' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='Comments' type='xsd:string'/>
  </message>
  <message name='EFSnet.QueryBatchTotalsResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ItemCount' type='xsd:string'/>
    <part name='QueryDataSize' type='xsd:string'/>
    <part name='QueryData' type='xsd:string'/>
  </message>
  <message name='EFSnet.QueryBatches'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='DeliveryMethod' type='xsd:string'/>
    <part name='BatchID' type='xsd:string'/>
    <part name='BatchStatus' type='xsd:string'/>
    <part name='BatchSubmitDateBegin' type='xsd:string'/>
    <part name='BatchSubmitDateEnd' type='xsd:string'/>
    <part name='BatchSubmitTimeBegin' type='xsd:string'/>
    <part name='BatchSubmitTimeEnd' type='xsd:string'/>
    <part name='BatchCompleteDateBegin' type='xsd:string'/>
    <part name='BatchCompleteDateEnd' type='xsd:string'/>
    <part name='BatchCompleteTimeBegin' type='xsd:string'/>
    <part name='BatchCompleteTimeEnd' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='Comments' type='xsd:string'/>
  </message>
  <message name='EFSnet.QueryBatchesResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ItemCount' type='xsd:string'/>
    <part name='QueryDataSize' type='xsd:string'/>
    <part name='QueryData' type='xsd:string'/>
  </message>
  <message name='EFSnet.QueryTransactionTotals'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='DeliveryMethod' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='TransactionType' type='xsd:string'/>
    <part name='TransactionStatus' type='xsd:string'/>
    <part name='TransactionDateBegin' type='xsd:string'/>
    <part name='TransactionDateEnd' type='xsd:string'/>
    <part name='TransactionTimeBegin' type='xsd:string'/>
    <part name='TransactionTimeEnd' type='xsd:string'/>
    <part name='SettlementDateBegin' type='xsd:string'/>
    <part name='SettlementDateEnd' type='xsd:string'/>
    <part name='ParentTransactionID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='SalesTaxAmount' type='xsd:string'/>
    <part name='CashBackAmount' type='xsd:string'/>
    <part name='Currency' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='RoutingNumber' type='xsd:string'/>
    <part name='CheckNumber' type='xsd:string'/>
    <part name='BillingName' type='xsd:string'/>
    <part name='BillingAddress' type='xsd:string'/>
    <part name='BillingCity' type='xsd:string'/>
    <part name='BillingState' type='xsd:string'/>
    <part name='BillingPostalCode' type='xsd:string'/>
    <part name='BillingCountry' type='xsd:string'/>
    <part name='BillingPhone' type='xsd:string'/>
    <part name='BillingEmail' type='xsd:string'/>
    <part name='ShippingName' type='xsd:string'/>
    <part name='ShippingAddress' type='xsd:string'/>
    <part name='ShippingCity' type='xsd:string'/>
    <part name='ShippingState' type='xsd:string'/>
    <part name='ShippingPostalCode' type='xsd:string'/>
    <part name='ShippingCountry' type='xsd:string'/>
    <part name='ShippingPhone' type='xsd:string'/>
    <part name='ShippingEmail' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
    <part name='OriginalTransactionID' type='xsd:string'/>
    <part name='OriginalTransactionAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.QueryTransactionTotalsResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ItemCount' type='xsd:string'/>
    <part name='QueryDataSize' type='xsd:string'/>
    <part name='QueryData' type='xsd:string'/>
  </message>
  <message name='EFSnet.QueryTransactions'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='DeliveryMethod' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='TransactionType' type='xsd:string'/>
    <part name='TransactionStatus' type='xsd:string'/>
    <part name='TransactionDateBegin' type='xsd:string'/>
    <part name='TransactionDateEnd' type='xsd:string'/>
    <part name='TransactionTimeBegin' type='xsd:string'/>
    <part name='TransactionTimeEnd' type='xsd:string'/>
    <part name='SettlementDateBegin' type='xsd:string'/>
    <part name='SettlementDateEnd' type='xsd:string'/>
    <part name='ParentTransactionID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='SalesTaxAmount' type='xsd:string'/>
    <part name='CashBackAmount' type='xsd:string'/>
    <part name='Currency' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='RoutingNumber' type='xsd:string'/>
    <part name='CheckNumber' type='xsd:string'/>
    <part name='BillingName' type='xsd:string'/>
    <part name='BillingAddress' type='xsd:string'/>
    <part name='BillingCity' type='xsd:string'/>
    <part name='BillingState' type='xsd:string'/>
    <part name='BillingPostalCode' type='xsd:string'/>
    <part name='BillingCountry' type='xsd:string'/>
    <part name='BillingPhone' type='xsd:string'/>
    <part name='BillingEmail' type='xsd:string'/>
    <part name='ShippingName' type='xsd:string'/>
    <part name='ShippingAddress' type='xsd:string'/>
    <part name='ShippingCity' type='xsd:string'/>
    <part name='ShippingState' type='xsd:string'/>
    <part name='ShippingPostalCode' type='xsd:string'/>
    <part name='ShippingCountry' type='xsd:string'/>
    <part name='ShippingPhone' type='xsd:string'/>
    <part name='ShippingEmail' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
    <part name='OriginalTransactionID' type='xsd:string'/>
    <part name='OriginalTransactionAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.QueryTransactionsResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ItemCount' type='xsd:string'/>
    <part name='QueryDataSize' type='xsd:string'/>
    <part name='QueryData' type='xsd:string'/>
  </message>
  <message name='EFSnet.GetSettlementTotals'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='SettlementDate' type='xsd:string'/>
  </message>
  <message name='EFSnet.GetSettlementTotalsResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='SettledAmount' type='xsd:string'/>
    <part name='DetailedTotals' type='xsd:string'/>
  </message>
  <message name='EFSnet.GetProcessorTotals'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ActivityPeriod' type='xsd:string'/>
  </message>
  <message name='EFSnet.GetProcessorTotalsResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='ProcessedAmount' type='xsd:string'/>
    <part name='DetailedTotals' type='xsd:string'/>
  </message>
  <message name='EFSnet.TimeOutReversal'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.TimeOutReversalResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
  </message>
  <message name='EFSnet.VoidTransaction'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
  </message>
  <message name='EFSnet.VoidTransactionResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
  </message>
  <message name='EFSnet.STARChek'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='Currency' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='RoutingNumber' type='xsd:string'/>
    <part name='CheckNumber' type='xsd:string'/>
    <part name='MICR' type='xsd:string'/>
  </message>
  <message name='EFSnet.STARChekResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
  </message>
  <message name='EFSnet.GiftCardDeactivate'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='Track1' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
  </message>
  <message name='EFSnet.GiftCardDeactivateResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
    <part name='BalanceAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.GiftCardActivate'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='Track1' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
  </message>
  <message name='EFSnet.GiftCardActivateResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
    <part name='BalanceAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.GiftCardBalanceIncrease'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='Track1' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
  </message>
  <message name='EFSnet.GiftCardBalanceIncreaseResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
    <part name='BalanceAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.GiftCardBalanceInquiry'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='Track1' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
  </message>
  <message name='EFSnet.GiftCardBalanceInquiryResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
    <part name='BalanceAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.GiftCardCredit'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='SalesTaxAmount' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='Track1' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
    <part name='BillingName' type='xsd:string'/>
    <part name='BillingAddress' type='xsd:string'/>
    <part name='BillingCity' type='xsd:string'/>
    <part name='BillingState' type='xsd:string'/>
    <part name='BillingPostalCode' type='xsd:string'/>
    <part name='BillingCountry' type='xsd:string'/>
    <part name='BillingPhone' type='xsd:string'/>
    <part name='BillingEmail' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
  </message>
  <message name='EFSnet.GiftCardCreditResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
    <part name='BalanceAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.GiftCardRefund'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='SalesTaxAmount' type='xsd:string'/>
    <part name='OriginalTransactionID' type='xsd:string'/>
    <part name='OriginalTransactionAmount' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
  </message>
  <message name='EFSnet.GiftCardRefundResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
    <part name='BalanceAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.GiftCardCharge'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='SalesTaxAmount' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='Track1' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
    <part name='BillingName' type='xsd:string'/>
    <part name='BillingAddress' type='xsd:string'/>
    <part name='BillingCity' type='xsd:string'/>
    <part name='BillingState' type='xsd:string'/>
    <part name='BillingPostalCode' type='xsd:string'/>
    <part name='BillingCountry' type='xsd:string'/>
    <part name='BillingPhone' type='xsd:string'/>
    <part name='BillingEmail' type='xsd:string'/>
    <part name='ShippingName' type='xsd:string'/>
    <part name='ShippingAddress' type='xsd:string'/>
    <part name='ShippingCity' type='xsd:string'/>
    <part name='ShippingState' type='xsd:string'/>
    <part name='ShippingPostalCode' type='xsd:string'/>
    <part name='ShippingCountry' type='xsd:string'/>
    <part name='ShippingPhone' type='xsd:string'/>
    <part name='ShippingEmail' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
  </message>
  <message name='EFSnet.GiftCardChargeResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
    <part name='BalanceAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.BenefitsBalanceInquiry'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
    <part name='PINData' type='xsd:string'/>
    <part name='KeySerialNumber' type='xsd:string'/>
  </message>
  <message name='EFSnet.BenefitsBalanceInquiryResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
    <part name='FoodStampBalanceAmount' type='xsd:string'/>
    <part name='CashBenefitBalanceAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.CashBenefitCharge'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='CashBackAmount' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
    <part name='PINData' type='xsd:string'/>
    <part name='KeySerialNumber' type='xsd:string'/>
  </message>
  <message name='EFSnet.CashBenefitChargeResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
    <part name='FoodStampBalanceAmount' type='xsd:string'/>
    <part name='CashBenefitBalanceAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.FoodStampVoucher'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='VoucherNumber' type='xsd:string'/>
  </message>
  <message name='EFSnet.FoodStampVoucherResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
  </message>
  <message name='EFSnet.FoodStampCredit'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
    <part name='PINData' type='xsd:string'/>
    <part name='KeySerialNumber' type='xsd:string'/>
  </message>
  <message name='EFSnet.FoodStampCreditResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
    <part name='FoodStampBalanceAmount' type='xsd:string'/>
    <part name='CashBenefitBalanceAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.FoodStampCharge'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
    <part name='PINData' type='xsd:string'/>
    <part name='KeySerialNumber' type='xsd:string'/>
  </message>
  <message name='EFSnet.FoodStampChargeResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
    <part name='FoodStampBalanceAmount' type='xsd:string'/>
    <part name='CashBenefitBalanceAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.DebitCardCredit'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='SalesTaxAmount' type='xsd:string'/>
    <part name='Currency' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='Track1' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
    <part name='PINData' type='xsd:string'/>
    <part name='KeySerialNumber' type='xsd:string'/>
    <part name='SignatureData' type='xsd:string'/>
    <part name='SignatureAlgorithm' type='xsd:string'/>
    <part name='PrivateData' type='xsd:string'/>
    <part name='BillingName' type='xsd:string'/>
    <part name='BillingAddress' type='xsd:string'/>
    <part name='BillingCity' type='xsd:string'/>
    <part name='BillingState' type='xsd:string'/>
    <part name='BillingPostalCode' type='xsd:string'/>
    <part name='BillingCountry' type='xsd:string'/>
    <part name='BillingPhone' type='xsd:string'/>
    <part name='BillingEmail' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
  </message>
  <message name='EFSnet.DebitCardCreditResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='AuthorizationNumber' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
  </message>
  <message name='EFSnet.DebitCardCharge'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='SalesTaxAmount' type='xsd:string'/>
    <part name='CashBackAmount' type='xsd:string'/>
    <part name='Currency' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='Track1' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
    <part name='PINData' type='xsd:string'/>
    <part name='KeySerialNumber' type='xsd:string'/>
    <part name='SignatureData' type='xsd:string'/>
    <part name='SignatureAlgorithm' type='xsd:string'/>
    <part name='PrivateData' type='xsd:string'/>
    <part name='BillingName' type='xsd:string'/>
    <part name='BillingAddress' type='xsd:string'/>
    <part name='BillingCity' type='xsd:string'/>
    <part name='BillingState' type='xsd:string'/>
    <part name='BillingPostalCode' type='xsd:string'/>
    <part name='BillingCountry' type='xsd:string'/>
    <part name='BillingPhone' type='xsd:string'/>
    <part name='BillingEmail' type='xsd:string'/>
    <part name='ShippingName' type='xsd:string'/>
    <part name='ShippingAddress' type='xsd:string'/>
    <part name='ShippingCity' type='xsd:string'/>
    <part name='ShippingState' type='xsd:string'/>
    <part name='ShippingPostalCode' type='xsd:string'/>
    <part name='ShippingCountry' type='xsd:string'/>
    <part name='ShippingPhone' type='xsd:string'/>
    <part name='ShippingEmail' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
  </message>
  <message name='EFSnet.DebitCardChargeResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='AuthorizationNumber' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
  </message>
  <message name='EFSnet.ProcessAuthenticationResponse'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='AuthenticationResponseToken' type='xsd:string'/>
  </message>
  <message name='EFSnet.ProcessAuthenticationResponseResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='AVSResponseCode' type='xsd:string'/>
    <part name='CVVResponseCode' type='xsd:string'/>
    <part name='AuthenticationResponseCode' type='xsd:string'/>
    <part name='AuthenticationMethodName' type='xsd:string'/>
    <part name='AuthenticationMethodVersion' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='AuthorizationNumber' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
  </message>
  <message name='EFSnet.CreditCardAuthorizeWithAuthentication'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='SalesTaxAmount' type='xsd:string'/>
    <part name='Currency' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='CardVerificationValue' type='xsd:string'/>
    <part name='Track1' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
    <part name='AuthenticationResponseToken' type='xsd:string'/>
    <part name='BillingName' type='xsd:string'/>
    <part name='BillingAddress' type='xsd:string'/>
    <part name='BillingCity' type='xsd:string'/>
    <part name='BillingState' type='xsd:string'/>
    <part name='BillingPostalCode' type='xsd:string'/>
    <part name='BillingCountry' type='xsd:string'/>
    <part name='BillingPhone' type='xsd:string'/>
    <part name='BillingEmail' type='xsd:string'/>
    <part name='ShippingName' type='xsd:string'/>
    <part name='ShippingAddress' type='xsd:string'/>
    <part name='ShippingCity' type='xsd:string'/>
    <part name='ShippingState' type='xsd:string'/>
    <part name='ShippingPostalCode' type='xsd:string'/>
    <part name='ShippingCountry' type='xsd:string'/>
    <part name='ShippingPhone' type='xsd:string'/>
    <part name='ShippingEmail' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
  </message>
  <message name='EFSnet.CreditCardAuthorizeWithAuthenticationResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='AVSResponseCode' type='xsd:string'/>
    <part name='CVVResponseCode' type='xsd:string'/>
    <part name='AuthenticationResponseCode' type='xsd:string'/>
    <part name='AuthenticationMethodName' type='xsd:string'/>
    <part name='AuthenticationMethodVersion' type='xsd:string'/>
    <part name='AuthenticationRequestToken' type='xsd:string'/>
    <part name='AuthenticationServerURL' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='AuthorizationNumber' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
  </message>
  <message name='EFSnet.CreditCardVoiceAuthorize'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='SalesTaxAmount' type='xsd:string'/>
    <part name='Currency' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='CardVerificationValue' type='xsd:string'/>
    <part name='Track1' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
    <part name='BillingName' type='xsd:string'/>
    <part name='BillingAddress' type='xsd:string'/>
    <part name='BillingCity' type='xsd:string'/>
    <part name='BillingState' type='xsd:string'/>
    <part name='BillingPostalCode' type='xsd:string'/>
    <part name='BillingCountry' type='xsd:string'/>
    <part name='BillingPhone' type='xsd:string'/>
    <part name='BillingEmail' type='xsd:string'/>
    <part name='ShippingName' type='xsd:string'/>
    <part name='ShippingAddress' type='xsd:string'/>
    <part name='ShippingCity' type='xsd:string'/>
    <part name='ShippingState' type='xsd:string'/>
    <part name='ShippingPostalCode' type='xsd:string'/>
    <part name='ShippingCountry' type='xsd:string'/>
    <part name='ShippingPhone' type='xsd:string'/>
    <part name='ShippingEmail' type='xsd:string'/>
    <part name='AuthorizationNumber' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
  </message>
  <message name='EFSnet.CreditCardVoiceAuthorizeResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
  </message>
  <message name='EFSnet.CreditCardCredit'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='SalesTaxAmount' type='xsd:string'/>
    <part name='Currency' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='Track1' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
    <part name='BillingName' type='xsd:string'/>
    <part name='BillingAddress' type='xsd:string'/>
    <part name='BillingCity' type='xsd:string'/>
    <part name='BillingState' type='xsd:string'/>
    <part name='BillingPostalCode' type='xsd:string'/>
    <part name='BillingCountry' type='xsd:string'/>
    <part name='BillingPhone' type='xsd:string'/>
    <part name='BillingEmail' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
  </message>
  <message name='EFSnet.CreditCardCreditResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
  </message>
  <message name='EFSnet.CreditCardRefund'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='SalesTaxAmount' type='xsd:string'/>
    <part name='OriginalTransactionID' type='xsd:string'/>
    <part name='OriginalTransactionAmount' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
  </message>
  <message name='EFSnet.CreditCardRefundResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
  </message>
  <message name='EFSnet.CreditCardSettle'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='SalesTaxAmount' type='xsd:string'/>
    <part name='OriginalTransactionID' type='xsd:string'/>
    <part name='OriginalTransactionAmount' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
  </message>
  <message name='EFSnet.CreditCardSettleResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
  </message>
  <message name='EFSnet.CreditCardCharge'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='SalesTaxAmount' type='xsd:string'/>
    <part name='Currency' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='CardVerificationValue' type='xsd:string'/>
    <part name='Track1' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
    <part name='BillingName' type='xsd:string'/>
    <part name='BillingAddress' type='xsd:string'/>
    <part name='BillingCity' type='xsd:string'/>
    <part name='BillingState' type='xsd:string'/>
    <part name='BillingPostalCode' type='xsd:string'/>
    <part name='BillingCountry' type='xsd:string'/>
    <part name='BillingPhone' type='xsd:string'/>
    <part name='BillingEmail' type='xsd:string'/>
    <part name='ShippingName' type='xsd:string'/>
    <part name='ShippingAddress' type='xsd:string'/>
    <part name='ShippingCity' type='xsd:string'/>
    <part name='ShippingState' type='xsd:string'/>
    <part name='ShippingPostalCode' type='xsd:string'/>
    <part name='ShippingCountry' type='xsd:string'/>
    <part name='ShippingPhone' type='xsd:string'/>
    <part name='ShippingEmail' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
  </message>
  <message name='EFSnet.CreditCardChargeResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='AVSResponseCode' type='xsd:string'/>
    <part name='CVVResponseCode' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='AuthorizationNumber' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
  </message>
  <message name='EFSnet.CreditCardAuthorize'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='TerminalID' type='xsd:string'/>
    <part name='ReferenceNumber' type='xsd:string'/>
    <part name='CashierNumber' type='xsd:string'/>
    <part name='TransactionAmount' type='xsd:string'/>
    <part name='SalesTaxAmount' type='xsd:string'/>
    <part name='Currency' type='xsd:string'/>
    <part name='AccountNumber' type='xsd:string'/>
    <part name='ExpirationMonth' type='xsd:string'/>
    <part name='ExpirationYear' type='xsd:string'/>
    <part name='CardVerificationValue' type='xsd:string'/>
    <part name='Track1' type='xsd:string'/>
    <part name='Track2' type='xsd:string'/>
    <part name='BillingName' type='xsd:string'/>
    <part name='BillingAddress' type='xsd:string'/>
    <part name='BillingCity' type='xsd:string'/>
    <part name='BillingState' type='xsd:string'/>
    <part name='BillingPostalCode' type='xsd:string'/>
    <part name='BillingCountry' type='xsd:string'/>
    <part name='BillingPhone' type='xsd:string'/>
    <part name='BillingEmail' type='xsd:string'/>
    <part name='ShippingName' type='xsd:string'/>
    <part name='ShippingAddress' type='xsd:string'/>
    <part name='ShippingCity' type='xsd:string'/>
    <part name='ShippingState' type='xsd:string'/>
    <part name='ShippingPostalCode' type='xsd:string'/>
    <part name='ShippingCountry' type='xsd:string'/>
    <part name='ShippingPhone' type='xsd:string'/>
    <part name='ShippingEmail' type='xsd:string'/>
    <part name='ClientIPAddress' type='xsd:string'/>
  </message>
  <message name='EFSnet.CreditCardAuthorizeResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='AVSResponseCode' type='xsd:string'/>
    <part name='CVVResponseCode' type='xsd:string'/>
    <part name='ApprovalNumber' type='xsd:string'/>
    <part name='AuthorizationNumber' type='xsd:string'/>
    <part name='TransactionDate' type='xsd:string'/>
    <part name='TransactionTime' type='xsd:string'/>
  </message>
  <message name='EFSnet.RequestPassThrough'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
    <part name='RequestMessage' type='xsd:string'/>
  </message>
  <message name='EFSnet.RequestPassThroughResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='TransactionID' type='xsd:string'/>
    <part name='ReplyMessage' type='xsd:string'/>
  </message>
  <message name='EFSnet.SystemCheck'>
    <part name='StoreID' type='xsd:string'/>
    <part name='StoreKey' type='xsd:string'/>
    <part name='ApplicationID' type='xsd:string'/>
  </message>
  <message name='EFSnet.SystemCheckResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='ResultCode' type='xsd:string'/>
    <part name='ResultMessage' type='xsd:string'/>
  </message>
  <portType name='EFSnetSoapPort'>
    <operation name='QueryBatchTotals' parameterOrder='StoreID StoreKey ApplicationID DeliveryMethod BatchID BatchStatus BatchSubmitDateBegin BatchSubmitDateEnd BatchSubmitTimeBegin BatchSubmitTimeEnd BatchCompleteDateBegin BatchCompleteDateEnd BatchCompleteTimeBegin BatchCompleteTimeEnd ReferenceNumber Comments ItemCount QueryDataSize QueryData'>
      <input message='wsdlns:EFSnet.QueryBatchTotals' />
      <output message='wsdlns:EFSnet.QueryBatchTotalsResponse' />
    </operation>
    <operation name='QueryBatches' parameterOrder='StoreID StoreKey ApplicationID DeliveryMethod BatchID BatchStatus BatchSubmitDateBegin BatchSubmitDateEnd BatchSubmitTimeBegin BatchSubmitTimeEnd BatchCompleteDateBegin BatchCompleteDateEnd BatchCompleteTimeBegin BatchCompleteTimeEnd ReferenceNumber Comments ItemCount QueryDataSize QueryData'>
      <input message='wsdlns:EFSnet.QueryBatches' />
      <output message='wsdlns:EFSnet.QueryBatchesResponse' />
    </operation>
    <operation name='QueryTransactionTotals' parameterOrder='StoreID StoreKey ApplicationID DeliveryMethod TransactionID TerminalID TransactionType TransactionStatus TransactionDateBegin TransactionDateEnd TransactionTimeBegin TransactionTimeEnd SettlementDateBegin SettlementDateEnd ParentTransactionID ReferenceNumber CashierNumber TransactionAmount SalesTaxAmount CashBackAmount Currency AccountNumber ExpirationMonth ExpirationYear RoutingNumber CheckNumber BillingName BillingAddress BillingCity BillingState BillingPostalCode BillingCountry BillingPhone BillingEmail ShippingName ShippingAddress ShippingCity ShippingState ShippingPostalCode ShippingCountry ShippingPhone ShippingEmail ApprovalNumber ClientIPAddress OriginalTransactionID OriginalTransactionAmount ItemCount QueryDataSize QueryData'>
      <input message='wsdlns:EFSnet.QueryTransactionTotals' />
      <output message='wsdlns:EFSnet.QueryTransactionTotalsResponse' />
    </operation>
    <operation name='QueryTransactions' parameterOrder='StoreID StoreKey ApplicationID DeliveryMethod TransactionID TerminalID TransactionType TransactionStatus TransactionDateBegin TransactionDateEnd TransactionTimeBegin TransactionTimeEnd SettlementDateBegin SettlementDateEnd ParentTransactionID ReferenceNumber CashierNumber TransactionAmount SalesTaxAmount CashBackAmount Currency AccountNumber ExpirationMonth ExpirationYear RoutingNumber CheckNumber BillingName BillingAddress BillingCity BillingState BillingPostalCode BillingCountry BillingPhone BillingEmail ShippingName ShippingAddress ShippingCity ShippingState ShippingPostalCode ShippingCountry ShippingPhone ShippingEmail ApprovalNumber ClientIPAddress OriginalTransactionID OriginalTransactionAmount ItemCount QueryDataSize QueryData'>
      <input message='wsdlns:EFSnet.QueryTransactions' />
      <output message='wsdlns:EFSnet.QueryTransactionsResponse' />
    </operation>
    <operation name='GetSettlementTotals' parameterOrder='StoreID StoreKey ApplicationID SettlementDate ResultCode ResultMessage SettledAmount DetailedTotals'>
      <input message='wsdlns:EFSnet.GetSettlementTotals' />
      <output message='wsdlns:EFSnet.GetSettlementTotalsResponse' />
    </operation>
    <operation name='GetProcessorTotals' parameterOrder='StoreID StoreKey ApplicationID TerminalID ActivityPeriod ResultCode ResultMessage ProcessedAmount DetailedTotals'>
      <input message='wsdlns:EFSnet.GetProcessorTotals' />
      <output message='wsdlns:EFSnet.GetProcessorTotalsResponse' />
    </operation>
    <operation name='TimeOutReversal' parameterOrder='StoreID StoreKey ApplicationID ReferenceNumber TransactionAmount ResultCode ResultMessage'>
      <input message='wsdlns:EFSnet.TimeOutReversal' />
      <output message='wsdlns:EFSnet.TimeOutReversalResponse' />
    </operation>
    <operation name='VoidTransaction' parameterOrder='StoreID StoreKey ApplicationID TransactionID ResultCode ResultMessage'>
      <input message='wsdlns:EFSnet.VoidTransaction' />
      <output message='wsdlns:EFSnet.VoidTransactionResponse' />
    </operation>
    <operation name='STARChek' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount Currency AccountNumber RoutingNumber CheckNumber MICR ResultCode ResultMessage TransactionID TransactionDate TransactionTime'>
      <input message='wsdlns:EFSnet.STARChek' />
      <output message='wsdlns:EFSnet.STARChekResponse' />
    </operation>
    <operation name='GiftCardDeactivate' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount AccountNumber ExpirationMonth ExpirationYear Track1 Track2 ResultCode ResultMessage TransactionID TransactionDate TransactionTime BalanceAmount'>
      <input message='wsdlns:EFSnet.GiftCardDeactivate' />
      <output message='wsdlns:EFSnet.GiftCardDeactivateResponse' />
    </operation>
    <operation name='GiftCardActivate' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount AccountNumber ExpirationMonth ExpirationYear Track1 Track2 ResultCode ResultMessage TransactionID TransactionDate TransactionTime BalanceAmount'>
      <input message='wsdlns:EFSnet.GiftCardActivate' />
      <output message='wsdlns:EFSnet.GiftCardActivateResponse' />
    </operation>
    <operation name='GiftCardBalanceIncrease' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount AccountNumber ExpirationMonth ExpirationYear Track1 Track2 ResultCode ResultMessage TransactionID TransactionDate TransactionTime BalanceAmount'>
      <input message='wsdlns:EFSnet.GiftCardBalanceIncrease' />
      <output message='wsdlns:EFSnet.GiftCardBalanceIncreaseResponse' />
    </operation>
    <operation name='GiftCardBalanceInquiry' parameterOrder='StoreID StoreKey ApplicationID TerminalID CashierNumber AccountNumber ExpirationMonth ExpirationYear Track1 Track2 ClientIPAddress ResultCode ResultMessage TransactionID TransactionDate TransactionTime BalanceAmount'>
      <input message='wsdlns:EFSnet.GiftCardBalanceInquiry' />
      <output message='wsdlns:EFSnet.GiftCardBalanceInquiryResponse' />
    </operation>
    <operation name='GiftCardCredit' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount SalesTaxAmount AccountNumber ExpirationMonth ExpirationYear Track1 Track2 BillingName BillingAddress BillingCity BillingState BillingPostalCode BillingCountry BillingPhone BillingEmail ClientIPAddress ResultCode ResultMessage TransactionID TransactionDate TransactionTime BalanceAmount'>
      <input message='wsdlns:EFSnet.GiftCardCredit' />
      <output message='wsdlns:EFSnet.GiftCardCreditResponse' />
    </operation>
    <operation name='GiftCardRefund' parameterOrder='StoreID StoreKey ApplicationID ReferenceNumber CashierNumber TransactionAmount SalesTaxAmount OriginalTransactionID OriginalTransactionAmount ClientIPAddress ResultCode ResultMessage TransactionID TransactionDate TransactionTime BalanceAmount'>
      <input message='wsdlns:EFSnet.GiftCardRefund' />
      <output message='wsdlns:EFSnet.GiftCardRefundResponse' />
    </operation>
    <operation name='GiftCardCharge' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount SalesTaxAmount AccountNumber ExpirationMonth ExpirationYear Track1 Track2 BillingName BillingAddress BillingCity BillingState BillingPostalCode BillingCountry BillingPhone BillingEmail ShippingName ShippingAddress ShippingCity ShippingState ShippingPostalCode ShippingCountry ShippingPhone ShippingEmail ClientIPAddress ResultCode ResultMessage TransactionID TransactionDate TransactionTime BalanceAmount'>
      <input message='wsdlns:EFSnet.GiftCardCharge' />
      <output message='wsdlns:EFSnet.GiftCardChargeResponse' />
    </operation>
    <operation name='BenefitsBalanceInquiry' parameterOrder='StoreID StoreKey ApplicationID TerminalID CashierNumber AccountNumber ExpirationMonth ExpirationYear Track2 PINData KeySerialNumber ResultCode ResultMessage TransactionID TransactionDate TransactionTime FoodStampBalanceAmount CashBenefitBalanceAmount'>
      <input message='wsdlns:EFSnet.BenefitsBalanceInquiry' />
      <output message='wsdlns:EFSnet.BenefitsBalanceInquiryResponse' />
    </operation>
    <operation name='CashBenefitCharge' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount CashBackAmount AccountNumber ExpirationMonth ExpirationYear Track2 PINData KeySerialNumber ResultCode ResultMessage TransactionID ApprovalNumber TransactionDate TransactionTime FoodStampBalanceAmount CashBenefitBalanceAmount'>
      <input message='wsdlns:EFSnet.CashBenefitCharge' />
      <output message='wsdlns:EFSnet.CashBenefitChargeResponse' />
    </operation>
    <operation name='FoodStampVoucher' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount AccountNumber ExpirationMonth ExpirationYear ApprovalNumber VoucherNumber ResultCode ResultMessage TransactionID TransactionDate TransactionTime'>
      <input message='wsdlns:EFSnet.FoodStampVoucher' />
      <output message='wsdlns:EFSnet.FoodStampVoucherResponse' />
    </operation>
    <operation name='FoodStampCredit' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount AccountNumber ExpirationMonth ExpirationYear Track2 PINData KeySerialNumber ResultCode ResultMessage TransactionID ApprovalNumber TransactionDate TransactionTime FoodStampBalanceAmount CashBenefitBalanceAmount'>
      <input message='wsdlns:EFSnet.FoodStampCredit' />
      <output message='wsdlns:EFSnet.FoodStampCreditResponse' />
    </operation>
    <operation name='FoodStampCharge' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount AccountNumber ExpirationMonth ExpirationYear Track2 PINData KeySerialNumber ResultCode ResultMessage TransactionID ApprovalNumber TransactionDate TransactionTime FoodStampBalanceAmount CashBenefitBalanceAmount'>
      <input message='wsdlns:EFSnet.FoodStampCharge' />
      <output message='wsdlns:EFSnet.FoodStampChargeResponse' />
    </operation>
    <operation name='DebitCardCredit' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount SalesTaxAmount Currency AccountNumber Track1 Track2 PINData KeySerialNumber SignatureData SignatureAlgorithm PrivateData BillingName BillingAddress BillingCity BillingState BillingPostalCode BillingCountry BillingPhone BillingEmail ClientIPAddress ResultCode ResultMessage TransactionID ApprovalNumber AuthorizationNumber TransactionDate TransactionTime'>
      <input message='wsdlns:EFSnet.DebitCardCredit' />
      <output message='wsdlns:EFSnet.DebitCardCreditResponse' />
    </operation>
    <operation name='DebitCardCharge' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount SalesTaxAmount CashBackAmount Currency AccountNumber Track1 Track2 PINData KeySerialNumber SignatureData SignatureAlgorithm PrivateData BillingName BillingAddress BillingCity BillingState BillingPostalCode BillingCountry BillingPhone BillingEmail ShippingName ShippingAddress ShippingCity ShippingState ShippingPostalCode ShippingCountry ShippingPhone ShippingEmail ClientIPAddress ResultCode ResultMessage TransactionID ApprovalNumber AuthorizationNumber TransactionDate TransactionTime'>
      <input message='wsdlns:EFSnet.DebitCardCharge' />
      <output message='wsdlns:EFSnet.DebitCardChargeResponse' />
    </operation>
    <operation name='ProcessAuthenticationResponse' parameterOrder='StoreID StoreKey ApplicationID TransactionID AuthenticationResponseToken ResultCode ResultMessage AVSResponseCode CVVResponseCode AuthenticationResponseCode AuthenticationMethodName AuthenticationMethodVersion ApprovalNumber AuthorizationNumber TransactionDate TransactionTime ReferenceNumber AccountNumber TransactionAmount'>
      <input message='wsdlns:EFSnet.ProcessAuthenticationResponse' />
      <output message='wsdlns:EFSnet.ProcessAuthenticationResponseResponse' />
    </operation>
    <operation name='CreditCardAuthorizeWithAuthentication' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount SalesTaxAmount Currency AccountNumber ExpirationMonth ExpirationYear CardVerificationValue Track1 Track2 AuthenticationResponseToken BillingName BillingAddress BillingCity BillingState BillingPostalCode BillingCountry BillingPhone BillingEmail ShippingName ShippingAddress ShippingCity ShippingState ShippingPostalCode ShippingCountry ShippingPhone ShippingEmail ClientIPAddress ResultCode ResultMessage TransactionID AVSResponseCode CVVResponseCode AuthenticationResponseCode AuthenticationMethodName AuthenticationMethodVersion AuthenticationRequestToken AuthenticationServerURL ApprovalNumber AuthorizationNumber TransactionDate TransactionTime'>
      <input message='wsdlns:EFSnet.CreditCardAuthorizeWithAuthentication' />
      <output message='wsdlns:EFSnet.CreditCardAuthorizeWithAuthenticationResponse' />
    </operation>
    <operation name='CreditCardVoiceAuthorize' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount SalesTaxAmount Currency AccountNumber ExpirationMonth ExpirationYear CardVerificationValue Track1 Track2 BillingName BillingAddress BillingCity BillingState BillingPostalCode BillingCountry BillingPhone BillingEmail ShippingName ShippingAddress ShippingCity ShippingState ShippingPostalCode ShippingCountry ShippingPhone ShippingEmail AuthorizationNumber ClientIPAddress ResultCode ResultMessage TransactionID TransactionDate TransactionTime'>
      <input message='wsdlns:EFSnet.CreditCardVoiceAuthorize' />
      <output message='wsdlns:EFSnet.CreditCardVoiceAuthorizeResponse' />
    </operation>
    <operation name='CreditCardCredit' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount SalesTaxAmount Currency AccountNumber ExpirationMonth ExpirationYear Track1 Track2 BillingName BillingAddress BillingCity BillingState BillingPostalCode BillingCountry BillingPhone BillingEmail ClientIPAddress ResultCode ResultMessage TransactionID ApprovalNumber TransactionDate TransactionTime'>
      <input message='wsdlns:EFSnet.CreditCardCredit' />
      <output message='wsdlns:EFSnet.CreditCardCreditResponse' />
    </operation>
    <operation name='CreditCardRefund' parameterOrder='StoreID StoreKey ApplicationID ReferenceNumber CashierNumber TransactionAmount SalesTaxAmount OriginalTransactionID OriginalTransactionAmount ClientIPAddress ResultCode ResultMessage TransactionID ApprovalNumber TransactionDate TransactionTime'>
      <input message='wsdlns:EFSnet.CreditCardRefund' />
      <output message='wsdlns:EFSnet.CreditCardRefundResponse' />
    </operation>
    <operation name='CreditCardSettle' parameterOrder='StoreID StoreKey ApplicationID ReferenceNumber CashierNumber TransactionAmount SalesTaxAmount OriginalTransactionID OriginalTransactionAmount ClientIPAddress ResultCode ResultMessage TransactionID ApprovalNumber TransactionDate TransactionTime'>
      <input message='wsdlns:EFSnet.CreditCardSettle' />
      <output message='wsdlns:EFSnet.CreditCardSettleResponse' />
    </operation>
    <operation name='CreditCardCharge' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount SalesTaxAmount Currency AccountNumber ExpirationMonth ExpirationYear CardVerificationValue Track1 Track2 BillingName BillingAddress BillingCity BillingState BillingPostalCode BillingCountry BillingPhone BillingEmail ShippingName ShippingAddress ShippingCity ShippingState ShippingPostalCode ShippingCountry ShippingPhone ShippingEmail ClientIPAddress ResultCode ResultMessage TransactionID AVSResponseCode CVVResponseCode ApprovalNumber AuthorizationNumber TransactionDate TransactionTime'>
      <input message='wsdlns:EFSnet.CreditCardCharge' />
      <output message='wsdlns:EFSnet.CreditCardChargeResponse' />
    </operation>
    <operation name='CreditCardAuthorize' parameterOrder='StoreID StoreKey ApplicationID TerminalID ReferenceNumber CashierNumber TransactionAmount SalesTaxAmount Currency AccountNumber ExpirationMonth ExpirationYear CardVerificationValue Track1 Track2 BillingName BillingAddress BillingCity BillingState BillingPostalCode BillingCountry BillingPhone BillingEmail ShippingName ShippingAddress ShippingCity ShippingState ShippingPostalCode ShippingCountry ShippingPhone ShippingEmail ClientIPAddress ResultCode ResultMessage TransactionID AVSResponseCode CVVResponseCode ApprovalNumber AuthorizationNumber TransactionDate TransactionTime'>
      <input message='wsdlns:EFSnet.CreditCardAuthorize' />
      <output message='wsdlns:EFSnet.CreditCardAuthorizeResponse' />
    </operation>
    <operation name='RequestPassThrough' parameterOrder='StoreID StoreKey ApplicationID RequestMessage TransactionID ReplyMessage'>
      <input message='wsdlns:EFSnet.RequestPassThrough' />
      <output message='wsdlns:EFSnet.RequestPassThroughResponse' />
    </operation>
    <operation name='SystemCheck' parameterOrder='StoreID StoreKey ApplicationID ResultCode ResultMessage'>
      <input message='wsdlns:EFSnet.SystemCheck' />
      <output message='wsdlns:EFSnet.SystemCheckResponse' />
    </operation>
  </portType>
  <binding name='EFSnetSoapBinding' type='wsdlns:EFSnetSoapPort' >
   <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />
    <operation name='QueryBatchTotals' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.QueryBatchTotals' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='QueryBatches' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.QueryBatches' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='QueryTransactionTotals' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.QueryTransactionTotals' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='QueryTransactions' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.QueryTransactions' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='GetSettlementTotals' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.GetSettlementTotals' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='GetProcessorTotals' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.GetProcessorTotals' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='TimeOutReversal' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.TimeOutReversal' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='VoidTransaction' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.VoidTransaction' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='STARChek' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.STARChek' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='GiftCardDeactivate' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.GiftCardDeactivate' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='GiftCardActivate' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.GiftCardActivate' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='GiftCardBalanceIncrease' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.GiftCardBalanceIncrease' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='GiftCardBalanceInquiry' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.GiftCardBalanceInquiry' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='GiftCardCredit' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.GiftCardCredit' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='GiftCardRefund' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.GiftCardRefund' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='GiftCardCharge' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.GiftCardCharge' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='BenefitsBalanceInquiry' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.BenefitsBalanceInquiry' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='CashBenefitCharge' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.CashBenefitCharge' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='FoodStampVoucher' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.FoodStampVoucher' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='FoodStampCredit' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.FoodStampCredit' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='FoodStampCharge' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.FoodStampCharge' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='DebitCardCredit' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.DebitCardCredit' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='DebitCardCharge' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.DebitCardCharge' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='ProcessAuthenticationResponse' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.ProcessAuthenticationResponse' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='CreditCardAuthorizeWithAuthentication' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.CreditCardAuthorizeWithAuthentication' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='CreditCardVoiceAuthorize' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.CreditCardVoiceAuthorize' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='CreditCardCredit' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.CreditCardCredit' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='CreditCardRefund' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.CreditCardRefund' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='CreditCardSettle' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.CreditCardSettle' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='CreditCardCharge' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.CreditCardCharge' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='CreditCardAuthorize' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.CreditCardAuthorize' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='RequestPassThrough' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.RequestPassThrough' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='SystemCheck' >
      <soap:operation soapAction='http://tempuri.org/action/EFSnet.SystemCheck' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
  </binding>
  <service name='EFSnet2' >
    <port name='EFSnetSoapPort' binding='wsdlns:EFSnetSoapBinding' >
      <soap:address location='https://EFSnet.concordebiz.com/EFSnet2.wsdl' />
    </port>
  </service>
</definitions>
