WebServiceDataset/Mathematics/service7.Mathematics.wsdl

<?xml version="1.0" ?>

<definitions name="DateFunctions.ccalcdates" targetNamespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" xmlns:tns="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <message name="DatePreviousSundayRequest">
        <part name="keyDate" type="xsd:string"/>
    </message>
    <message name="DatePreviousSundayResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="IsWeekendRequest">
        <part name="DateValue" type="xsd:string"/>
    </message>
    <message name="IsWeekendResponse">
        <part name="Return" type="xsd:boolean"/>
    </message>
    <message name="DaysLeftInYearRequest">
    </message>
    <message name="DaysLeftInYearResponse">
        <part name="Return" type="xsd:long"/>
    </message>
    <message name="LastWorkDayOfNextMonthRequest">
        <part name="StartDate" type="xsd:string"/>
    </message>
    <message name="LastWorkDayOfNextMonthResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="DatePreviousMondayRequest">
        <part name="RelativeTo" type="xsd:string"/>
    </message>
    <message name="DatePreviousMondayResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="DateAtEndOfMonthRequest">
        <part name="TheDate" type="xsd:string"/>
    </message>
    <message name="DateAtEndOfMonthResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="DaysToEndOfMonthRequest">
        <part name="FromDate" type="xsd:string"/>
    </message>
    <message name="DaysToEndOfMonthResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <portType name="DateFunctions.ccalcdatesPortType">
        <operation name="DatePreviousSunday">
            <input message="tns:DatePreviousSundayRequest"/>
            <output message="tns:DatePreviousSundayResponse"/>
        </operation>
        <operation name="IsWeekend">
            <input message="tns:IsWeekendRequest"/>
            <output message="tns:IsWeekendResponse"/>
        </operation>
        <operation name="DaysLeftInYear">
            <input message="tns:DaysLeftInYearRequest"/>
            <output message="tns:DaysLeftInYearResponse"/>
        </operation>
        <operation name="LastWorkDayOfNextMonth">
            <input message="tns:LastWorkDayOfNextMonthRequest"/>
            <output message="tns:LastWorkDayOfNextMonthResponse"/>
        </operation>
        <operation name="DatePreviousMonday">
            <input message="tns:DatePreviousMondayRequest"/>
            <output message="tns:DatePreviousMondayResponse"/>
        </operation>
        <operation name="DateAtEndOfMonth">
            <input message="tns:DateAtEndOfMonthRequest"/>
            <output message="tns:DateAtEndOfMonthResponse"/>
        </operation>
        <operation name="DaysToEndOfMonth">
            <input message="tns:DaysToEndOfMonthRequest"/>
            <output message="tns:DaysToEndOfMonthResponse"/>
        </operation>
    </portType>
    <binding name="DateFunctions.ccalcdatesbinding" type="tns:DateFunctions.ccalcdatesPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="DatePreviousSunday">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml#DatePreviousSunday"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="IsWeekend">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml#IsWeekend"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="DaysLeftInYear">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml#DaysLeftInYear"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LastWorkDayOfNextMonth">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml#LastWorkDayOfNextMonth"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="DatePreviousMonday">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml#DatePreviousMonday"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="DateAtEndOfMonth">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml#DateAtEndOfMonth"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="DaysToEndOfMonth">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml#DaysToEndOfMonth"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/freevbcode/DateFunctions/CCalcDates.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="DateFunctions.ccalcdatesService">
        <port name="DateFunctions.ccalcdatesPort" binding="tns:DateFunctions.ccalcdatesbinding">
            <soap:address location="http://sal006.salnetwork.com:82/bin/calcdates.cgi"/>
        </port>
    </service>
</definitions>