WebServiceDataset/Mathematics/service9.Mathematics.wsdl

<?xml version="1.0" ?>

<definitions name="Distance.cdistance" targetNamespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" xmlns:tns="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <message name="CentimeterToMeterRequest">
        <part name="Centimeters" type="xsd:double"/>
    </message>
    <message name="CentimeterToMeterResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="CentimeterToKilometerRequest">
        <part name="Centimeters" type="xsd:double"/>
    </message>
    <message name="CentimeterToKilometerResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="CentimeterToInchesRequest">
        <part name="Centimeters" type="xsd:double"/>
    </message>
    <message name="CentimeterToInchesResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="CentimeterToFeetRequest">
        <part name="Centimeters" type="xsd:double"/>
    </message>
    <message name="CentimeterToFeetResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="CentimeterToMilesRequest">
        <part name="Centimeters" type="xsd:double"/>
    </message>
    <message name="CentimeterToMilesResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="MeterToCentimeterRequest">
        <part name="Meters" type="xsd:double"/>
    </message>
    <message name="MeterToCentimeterResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="MeterToKilometerRequest">
        <part name="Meters" type="xsd:double"/>
    </message>
    <message name="MeterToKilometerResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="MeterToInchesRequest">
        <part name="Meters" type="xsd:double"/>
    </message>
    <message name="MeterToInchesResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="MeterToFeetRequest">
        <part name="Meters" type="xsd:double"/>
    </message>
    <message name="MeterToFeetResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="MeterToMilesRequest">
        <part name="Meters" type="xsd:double"/>
    </message>
    <message name="MeterToMilesResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="KilometerToCentimeterRequest">
        <part name="Kilometers" type="xsd:double"/>
    </message>
    <message name="KilometerToCentimeterResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="KilometerToMeterRequest">
        <part name="Kilometers" type="xsd:double"/>
    </message>
    <message name="KilometerToMeterResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="KilometerToInchesRequest">
        <part name="Kilometers" type="xsd:double"/>
    </message>
    <message name="KilometerToInchesResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="KilometerToFeetRequest">
        <part name="Kilometers" type="xsd:double"/>
    </message>
    <message name="KilometerToFeetResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="KilometerToMilesRequest">
        <part name="Kilometers" type="xsd:double"/>
    </message>
    <message name="KilometerToMilesResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="InchesToCentiMeterRequest">
        <part name="Inches" type="xsd:double"/>
    </message>
    <message name="InchesToCentiMeterResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="InchesToMeterRequest">
        <part name="Inches" type="xsd:double"/>
    </message>
    <message name="InchesToMeterResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="InchesToKilometerRequest">
        <part name="Inches" type="xsd:double"/>
    </message>
    <message name="InchesToKilometerResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="InchesToFeetRequest">
        <part name="Inches" type="xsd:double"/>
    </message>
    <message name="InchesToFeetResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="InchesToMilesRequest">
        <part name="Inches" type="xsd:double"/>
    </message>
    <message name="InchesToMilesResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="FeetToCentiMeterRequest">
        <part name="Feet" type="xsd:double"/>
    </message>
    <message name="FeetToCentiMeterResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="FeetToMeterRequest">
        <part name="Feet" type="xsd:double"/>
    </message>
    <message name="FeetToMeterResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="FeetToKilometerRequest">
        <part name="Feet" type="xsd:double"/>
    </message>
    <message name="FeetToKilometerResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="FeetToInchesRequest">
        <part name="Feet" type="xsd:double"/>
    </message>
    <message name="FeetToInchesResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="FeetToMilesRequest">
        <part name="Feet" type="xsd:double"/>
    </message>
    <message name="FeetToMilesResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="MilesToCentiMeterRequest">
        <part name="Miles" type="xsd:double"/>
    </message>
    <message name="MilesToCentiMeterResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="MilesToMeterRequest">
        <part name="Miles" type="xsd:double"/>
    </message>
    <message name="MilesToMeterResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="MilesToKilometerRequest">
        <part name="Miles" type="xsd:double"/>
    </message>
    <message name="MilesToKilometerResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="MilesToInchesRequest">
        <part name="Miles" type="xsd:double"/>
    </message>
    <message name="MilesToInchesResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <message name="MilesToFeetRequest">
        <part name="Miles" type="xsd:double"/>
    </message>
    <message name="MilesToFeetResponse">
        <part name="Return" type="xsd:double"/>
    </message>
    <portType name="Distance.cdistancePortType">
        <operation name="CentimeterToMeter">
            <input message="tns:CentimeterToMeterRequest"/>
            <output message="tns:CentimeterToMeterResponse"/>
        </operation>
        <operation name="CentimeterToKilometer">
            <input message="tns:CentimeterToKilometerRequest"/>
            <output message="tns:CentimeterToKilometerResponse"/>
        </operation>
        <operation name="CentimeterToInches">
            <input message="tns:CentimeterToInchesRequest"/>
            <output message="tns:CentimeterToInchesResponse"/>
        </operation>
        <operation name="CentimeterToFeet">
            <input message="tns:CentimeterToFeetRequest"/>
            <output message="tns:CentimeterToFeetResponse"/>
        </operation>
        <operation name="CentimeterToMiles">
            <input message="tns:CentimeterToMilesRequest"/>
            <output message="tns:CentimeterToMilesResponse"/>
        </operation>
        <operation name="MeterToCentimeter">
            <input message="tns:MeterToCentimeterRequest"/>
            <output message="tns:MeterToCentimeterResponse"/>
        </operation>
        <operation name="MeterToKilometer">
            <input message="tns:MeterToKilometerRequest"/>
            <output message="tns:MeterToKilometerResponse"/>
        </operation>
        <operation name="MeterToInches">
            <input message="tns:MeterToInchesRequest"/>
            <output message="tns:MeterToInchesResponse"/>
        </operation>
        <operation name="MeterToFeet">
            <input message="tns:MeterToFeetRequest"/>
            <output message="tns:MeterToFeetResponse"/>
        </operation>
        <operation name="MeterToMiles">
            <input message="tns:MeterToMilesRequest"/>
            <output message="tns:MeterToMilesResponse"/>
        </operation>
        <operation name="KilometerToCentimeter">
            <input message="tns:KilometerToCentimeterRequest"/>
            <output message="tns:KilometerToCentimeterResponse"/>
        </operation>
        <operation name="KilometerToMeter">
            <input message="tns:KilometerToMeterRequest"/>
            <output message="tns:KilometerToMeterResponse"/>
        </operation>
        <operation name="KilometerToInches">
            <input message="tns:KilometerToInchesRequest"/>
            <output message="tns:KilometerToInchesResponse"/>
        </operation>
        <operation name="KilometerToFeet">
            <input message="tns:KilometerToFeetRequest"/>
            <output message="tns:KilometerToFeetResponse"/>
        </operation>
        <operation name="KilometerToMiles">
            <input message="tns:KilometerToMilesRequest"/>
            <output message="tns:KilometerToMilesResponse"/>
        </operation>
        <operation name="InchesToCentiMeter">
            <input message="tns:InchesToCentiMeterRequest"/>
            <output message="tns:InchesToCentiMeterResponse"/>
        </operation>
        <operation name="InchesToMeter">
            <input message="tns:InchesToMeterRequest"/>
            <output message="tns:InchesToMeterResponse"/>
        </operation>
        <operation name="InchesToKilometer">
            <input message="tns:InchesToKilometerRequest"/>
            <output message="tns:InchesToKilometerResponse"/>
        </operation>
        <operation name="InchesToFeet">
            <input message="tns:InchesToFeetRequest"/>
            <output message="tns:InchesToFeetResponse"/>
        </operation>
        <operation name="InchesToMiles">
            <input message="tns:InchesToMilesRequest"/>
            <output message="tns:InchesToMilesResponse"/>
        </operation>
        <operation name="FeetToCentiMeter">
            <input message="tns:FeetToCentiMeterRequest"/>
            <output message="tns:FeetToCentiMeterResponse"/>
        </operation>
        <operation name="FeetToMeter">
            <input message="tns:FeetToMeterRequest"/>
            <output message="tns:FeetToMeterResponse"/>
        </operation>
        <operation name="FeetToKilometer">
            <input message="tns:FeetToKilometerRequest"/>
            <output message="tns:FeetToKilometerResponse"/>
        </operation>
        <operation name="FeetToInches">
            <input message="tns:FeetToInchesRequest"/>
            <output message="tns:FeetToInchesResponse"/>
        </operation>
        <operation name="FeetToMiles">
            <input message="tns:FeetToMilesRequest"/>
            <output message="tns:FeetToMilesResponse"/>
        </operation>
        <operation name="MilesToCentiMeter">
            <input message="tns:MilesToCentiMeterRequest"/>
            <output message="tns:MilesToCentiMeterResponse"/>
        </operation>
        <operation name="MilesToMeter">
            <input message="tns:MilesToMeterRequest"/>
            <output message="tns:MilesToMeterResponse"/>
        </operation>
        <operation name="MilesToKilometer">
            <input message="tns:MilesToKilometerRequest"/>
            <output message="tns:MilesToKilometerResponse"/>
        </operation>
        <operation name="MilesToInches">
            <input message="tns:MilesToInchesRequest"/>
            <output message="tns:MilesToInchesResponse"/>
        </operation>
        <operation name="MilesToFeet">
            <input message="tns:MilesToFeetRequest"/>
            <output message="tns:MilesToFeetResponse"/>
        </operation>
    </portType>
    <binding name="Distance.cdistancebinding" type="tns:Distance.cdistancePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CentimeterToMeter">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#CentimeterToMeter"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="CentimeterToKilometer">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#CentimeterToKilometer"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="CentimeterToInches">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#CentimeterToInches"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="CentimeterToFeet">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#CentimeterToFeet"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="CentimeterToMiles">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#CentimeterToMiles"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="MeterToCentimeter">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#MeterToCentimeter"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="MeterToKilometer">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#MeterToKilometer"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="MeterToInches">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#MeterToInches"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="MeterToFeet">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#MeterToFeet"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="MeterToMiles">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#MeterToMiles"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="KilometerToCentimeter">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#KilometerToCentimeter"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="KilometerToMeter">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#KilometerToMeter"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="KilometerToInches">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#KilometerToInches"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="KilometerToFeet">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#KilometerToFeet"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="KilometerToMiles">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#KilometerToMiles"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="InchesToCentiMeter">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#InchesToCentiMeter"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="InchesToMeter">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#InchesToMeter"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="InchesToKilometer">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#InchesToKilometer"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="InchesToFeet">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#InchesToFeet"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="InchesToMiles">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#InchesToMiles"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="FeetToCentiMeter">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#FeetToCentiMeter"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="FeetToMeter">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#FeetToMeter"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="FeetToKilometer">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#FeetToKilometer"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="FeetToInches">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#FeetToInches"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="FeetToMiles">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#FeetToMiles"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="MilesToCentiMeter">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#MilesToCentiMeter"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="MilesToMeter">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#MilesToMeter"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="MilesToKilometer">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#MilesToKilometer"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="MilesToInches">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#MilesToInches"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="MilesToFeet">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml#MilesToFeet"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/Distance/CDistance.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="Distance.cdistanceService">
        <port name="Distance.cdistancePort" binding="tns:Distance.cdistancebinding">
            <soap:address location="http://sal006.salnetwork.com:82/bin/converter.cgi"/>
        </port>
    </service>
</definitions>