WebServiceDataset/developers/service35.Utility.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:impl="http://webservices-impl" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://webservices" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:message name="hashmeResponse">
    <wsdl:part name="return" type="SOAP-ENC:string"/>
  </wsdl:message>
  <wsdl:message name="makepasswordRequest">
    <wsdl:part name="characters" type="SOAP-ENC:string"/>
  </wsdl:message>
  <wsdl:message name="CFCInvocationException">
  </wsdl:message>
  <wsdl:message name="hashmeRequest">
    <wsdl:part name="input" type="SOAP-ENC:string"/>
  </wsdl:message>
  <wsdl:message name="makepasswordResponse">
    <wsdl:part name="return" type="SOAP-ENC:string"/>
  </wsdl:message>
  <wsdl:portType name="password">
    <wsdl:operation name="hashme" parameterOrder="input">
      <wsdl:input message="intf:hashmeRequest"/>
      <wsdl:output message="intf:hashmeResponse"/>
      <wsdl:fault name="CFCInvocationException" message="intf:CFCInvocationException"/>
    </wsdl:operation>
    <wsdl:operation name="makepassword" parameterOrder="characters">
      <wsdl:input message="intf:makepasswordRequest"/>
      <wsdl:output message="intf:makepasswordResponse"/>
      <wsdl:fault name="CFCInvocationException" message="intf:CFCInvocationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="password.cfcSoapBinding" type="intf:password">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hashme">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makepassword">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="passwordService">
    <wsdl:port name="password.cfc" binding="intf:password.cfcSoapBinding">
      <wsdlsoap:address location="http://www.tinetics.com/webservices/password.cfc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>