WebServiceDataset/developers/service20.ValueManipulation.wsdl

<?xml version="1.0" ?>

<definitions name="PartsOfStrings.cgetorremove" targetNamespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" xmlns:tns="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <message name="GetNumbersFromStringRequest">
        <part name="OriginalText" type="xsd:string"/>
    </message>
    <message name="GetNumbersFromStringResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="GetLowerCaseFromStringRequest">
        <part name="OriginalText" type="xsd:string"/>
    </message>
    <message name="GetLowerCaseFromStringResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="GetUpperCaseFromStringRequest">
        <part name="OriginalText" type="xsd:string"/>
    </message>
    <message name="GetUpperCaseFromStringResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="GetLettersAndNumbersFromStringRequest">
        <part name="OriginalText" type="xsd:string"/>
    </message>
    <message name="GetLettersAndNumbersFromStringResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="RemoveNumbersFromStringRequest">
        <part name="OriginalText" type="xsd:string"/>
    </message>
    <message name="RemoveNumbersFromStringResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="RemoveLowerCaseFromStringRequest">
        <part name="OriginalText" type="xsd:string"/>
    </message>
    <message name="RemoveLowerCaseFromStringResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="RemoveUpperCaseFromStringRequest">
        <part name="OriginalText" type="xsd:string"/>
    </message>
    <message name="RemoveUpperCaseFromStringResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="RemoveLettersAndNumbersFromStringRequest">
        <part name="OriginalText" type="xsd:string"/>
    </message>
    <message name="RemoveLettersAndNumbersFromStringResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <portType name="PartsOfStrings.cgetorremovePortType">
        <operation name="GetNumbersFromString">
            <input message="tns:GetNumbersFromStringRequest"/>
            <output message="tns:GetNumbersFromStringResponse"/>
        </operation>
        <operation name="GetLowerCaseFromString">
            <input message="tns:GetLowerCaseFromStringRequest"/>
            <output message="tns:GetLowerCaseFromStringResponse"/>
        </operation>
        <operation name="GetUpperCaseFromString">
            <input message="tns:GetUpperCaseFromStringRequest"/>
            <output message="tns:GetUpperCaseFromStringResponse"/>
        </operation>
        <operation name="GetLettersAndNumbersFromString">
            <input message="tns:GetLettersAndNumbersFromStringRequest"/>
            <output message="tns:GetLettersAndNumbersFromStringResponse"/>
        </operation>
        <operation name="RemoveNumbersFromString">
            <input message="tns:RemoveNumbersFromStringRequest"/>
            <output message="tns:RemoveNumbersFromStringResponse"/>
        </operation>
        <operation name="RemoveLowerCaseFromString">
            <input message="tns:RemoveLowerCaseFromStringRequest"/>
            <output message="tns:RemoveLowerCaseFromStringResponse"/>
        </operation>
        <operation name="RemoveUpperCaseFromString">
            <input message="tns:RemoveUpperCaseFromStringRequest"/>
            <output message="tns:RemoveUpperCaseFromStringResponse"/>
        </operation>
        <operation name="RemoveLettersAndNumbersFromString">
            <input message="tns:RemoveLettersAndNumbersFromStringRequest"/>
            <output message="tns:RemoveLettersAndNumbersFromStringResponse"/>
        </operation>
    </portType>
    <binding name="PartsOfStrings.cgetorremovebinding" type="tns:PartsOfStrings.cgetorremovePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetNumbersFromString">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml#GetNumbersFromString"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="GetLowerCaseFromString">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml#GetLowerCaseFromString"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="GetUpperCaseFromString">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml#GetUpperCaseFromString"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="GetLettersAndNumbersFromString">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml#GetLettersAndNumbersFromString"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="RemoveNumbersFromString">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml#RemoveNumbersFromString"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="RemoveLowerCaseFromString">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml#RemoveLowerCaseFromString"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="RemoveUpperCaseFromString">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml#RemoveUpperCaseFromString"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="RemoveLettersAndNumbersFromString">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml#RemoveLettersAndNumbersFromString"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/a1vbcode/PartsOfStrings/CGetOrRemove.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="PartsOfStrings.cgetorremoveService">
        <port name="PartsOfStrings.cgetorremovePort" binding="tns:PartsOfStrings.cgetorremovebinding">
            <soap:address location="http://sal006.salnetwork.com:82/bin/strings.cgi"/>
        </port>
    </service>
</definitions>