WebServiceDataset/developers/service4.DeveloperTools.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://aspalliance.com/webservices/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://aspalliance.com/webservices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://aspalliance.com/webservices/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="columnCategories">
        <s:complexType />
      </s:element>
      <s:element name="columnCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="columnCategoriesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="htmlHeadBodySection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="htmlHeadBodySectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="htmlHeadBodySectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="topTemplate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sitename" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="printview" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="topTemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="topTemplateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="topTemplateArticle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sitename" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="printview" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="article_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="topTemplateArticleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="topTemplateArticleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bottomTemplate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sitename" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="printview" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bottomTemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bottomTemplateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listArticles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="howmanyrows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listArticlesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listArticlesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="columnCategoriesSoapIn">
    <part name="parameters" element="s0:columnCategories" />
  </message>
  <message name="columnCategoriesSoapOut">
    <part name="parameters" element="s0:columnCategoriesResponse" />
  </message>
  <message name="htmlHeadBodySectionSoapIn">
    <part name="parameters" element="s0:htmlHeadBodySection" />
  </message>
  <message name="htmlHeadBodySectionSoapOut">
    <part name="parameters" element="s0:htmlHeadBodySectionResponse" />
  </message>
  <message name="topTemplateSoapIn">
    <part name="parameters" element="s0:topTemplate" />
  </message>
  <message name="topTemplateSoapOut">
    <part name="parameters" element="s0:topTemplateResponse" />
  </message>
  <message name="topTemplateArticleSoapIn">
    <part name="parameters" element="s0:topTemplateArticle" />
  </message>
  <message name="topTemplateArticleSoapOut">
    <part name="parameters" element="s0:topTemplateArticleResponse" />
  </message>
  <message name="bottomTemplateSoapIn">
    <part name="parameters" element="s0:bottomTemplate" />
  </message>
  <message name="bottomTemplateSoapOut">
    <part name="parameters" element="s0:bottomTemplateResponse" />
  </message>
  <message name="listArticlesSoapIn">
    <part name="parameters" element="s0:listArticles" />
  </message>
  <message name="listArticlesSoapOut">
    <part name="parameters" element="s0:listArticlesResponse" />
  </message>
  <message name="columnCategoriesHttpGetIn" />
  <message name="columnCategoriesHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="htmlHeadBodySectionHttpGetIn">
    <part name="title" type="s:string" />
  </message>
  <message name="htmlHeadBodySectionHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="topTemplateHttpGetIn">
    <part name="title" type="s:string" />
    <part name="sitename" type="s:string" />
    <part name="printview" type="s:string" />
  </message>
  <message name="topTemplateHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="topTemplateArticleHttpGetIn">
    <part name="title" type="s:string" />
    <part name="sitename" type="s:string" />
    <part name="printview" type="s:string" />
    <part name="article_id" type="s:string" />
  </message>
  <message name="topTemplateArticleHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="bottomTemplateHttpGetIn">
    <part name="sitename" type="s:string" />
    <part name="printview" type="s:string" />
  </message>
  <message name="bottomTemplateHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="listArticlesHttpGetIn">
    <part name="howmanyrows" type="s:string" />
  </message>
  <message name="listArticlesHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="columnCategoriesHttpPostIn" />
  <message name="columnCategoriesHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="htmlHeadBodySectionHttpPostIn">
    <part name="title" type="s:string" />
  </message>
  <message name="htmlHeadBodySectionHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="topTemplateHttpPostIn">
    <part name="title" type="s:string" />
    <part name="sitename" type="s:string" />
    <part name="printview" type="s:string" />
  </message>
  <message name="topTemplateHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="topTemplateArticleHttpPostIn">
    <part name="title" type="s:string" />
    <part name="sitename" type="s:string" />
    <part name="printview" type="s:string" />
    <part name="article_id" type="s:string" />
  </message>
  <message name="topTemplateArticleHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="bottomTemplateHttpPostIn">
    <part name="sitename" type="s:string" />
    <part name="printview" type="s:string" />
  </message>
  <message name="bottomTemplateHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="listArticlesHttpPostIn">
    <part name="howmanyrows" type="s:string" />
  </message>
  <message name="listArticlesHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <portType name="ASPAllianceTemplateSoap">
    <operation name="columnCategories">
      <documentation>This method is used to render a table listing all of the categories used for ASPAlliance articles, along with the number of articles that exist for each category type.  To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.</documentation>
      <input message="s0:columnCategoriesSoapIn" />
      <output message="s0:columnCategoriesSoapOut" />
    </operation>
    <operation name="htmlHeadBodySection">
      <documentation>This method renders the opening html tag, head section, and opening body tag for the standard ASPAlliance template page.  You can specify the page's title by passing it as a parameter to this function.  To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.</documentation>
      <input message="s0:htmlHeadBodySectionSoapIn" />
      <output message="s0:htmlHeadBodySectionSoapOut" />
    </operation>
    <operation name="topTemplate">
      <documentation>This method renders the opening html tag, head section, and opening body tag, and ASPAlliance template layout for the standard ASPAlliance template page.  You can specify the page's title by passing it as a parameter to this function.  ASPAlliance columnists should pass their web's name as the sitename parameter.  You should also enable the use of a print view for your pages by checking for a querystring variable called print and setting the printview parameter to true if the querystring exists. To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.</documentation>
      <input message="s0:topTemplateSoapIn" />
      <output message="s0:topTemplateSoapOut" />
    </operation>
    <operation name="topTemplateArticle">
      <documentation>This method renders the opening html tag, head section, and opening body tag, and ASPAlliance template layout for the standard ASPAlliance template page.  You can specify the page's title by passing it as a parameter to this function.  ASPAlliance columnists should pass their web's name as the sitename parameter.  You should also enable the use of a print view for your pages by checking for a querystring variable called print and setting the printview parameter to true if the querystring exists. To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.  Include the article's ID as well so that its popularity can be tracked.</documentation>
      <input message="s0:topTemplateArticleSoapIn" />
      <output message="s0:topTemplateArticleSoapOut" />
    </operation>
    <operation name="bottomTemplate">
      <documentation>This method renders the closing tags for the ASP Alliance template page, as well as the closing body and html tags.  ASPAlliance columnists should pass their web's name as the sitename parameter.  You should also enable the use of a print view for your pages by checking for a querystring variable called print and setting the printview parameter to true if the querystring exists. To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.</documentation>
      <input message="s0:bottomTemplateSoapIn" />
      <output message="s0:bottomTemplateSoapOut" />
    </operation>
    <operation name="listArticles">
      <documentation>Returns all indexed articles for ASPAlliance.com in a DataSet, ordered by popularity (in the last few weeks).</documentation>
      <input message="s0:listArticlesSoapIn" />
      <output message="s0:listArticlesSoapOut" />
    </operation>
  </portType>
  <portType name="ASPAllianceTemplateHttpGet">
    <operation name="columnCategories">
      <documentation>This method is used to render a table listing all of the categories used for ASPAlliance articles, along with the number of articles that exist for each category type.  To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.</documentation>
      <input message="s0:columnCategoriesHttpGetIn" />
      <output message="s0:columnCategoriesHttpGetOut" />
    </operation>
    <operation name="htmlHeadBodySection">
      <documentation>This method renders the opening html tag, head section, and opening body tag for the standard ASPAlliance template page.  You can specify the page's title by passing it as a parameter to this function.  To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.</documentation>
      <input message="s0:htmlHeadBodySectionHttpGetIn" />
      <output message="s0:htmlHeadBodySectionHttpGetOut" />
    </operation>
    <operation name="topTemplate">
      <documentation>This method renders the opening html tag, head section, and opening body tag, and ASPAlliance template layout for the standard ASPAlliance template page.  You can specify the page's title by passing it as a parameter to this function.  ASPAlliance columnists should pass their web's name as the sitename parameter.  You should also enable the use of a print view for your pages by checking for a querystring variable called print and setting the printview parameter to true if the querystring exists. To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.</documentation>
      <input message="s0:topTemplateHttpGetIn" />
      <output message="s0:topTemplateHttpGetOut" />
    </operation>
    <operation name="topTemplateArticle">
      <documentation>This method renders the opening html tag, head section, and opening body tag, and ASPAlliance template layout for the standard ASPAlliance template page.  You can specify the page's title by passing it as a parameter to this function.  ASPAlliance columnists should pass their web's name as the sitename parameter.  You should also enable the use of a print view for your pages by checking for a querystring variable called print and setting the printview parameter to true if the querystring exists. To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.  Include the article's ID as well so that its popularity can be tracked.</documentation>
      <input message="s0:topTemplateArticleHttpGetIn" />
      <output message="s0:topTemplateArticleHttpGetOut" />
    </operation>
    <operation name="bottomTemplate">
      <documentation>This method renders the closing tags for the ASP Alliance template page, as well as the closing body and html tags.  ASPAlliance columnists should pass their web's name as the sitename parameter.  You should also enable the use of a print view for your pages by checking for a querystring variable called print and setting the printview parameter to true if the querystring exists. To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.</documentation>
      <input message="s0:bottomTemplateHttpGetIn" />
      <output message="s0:bottomTemplateHttpGetOut" />
    </operation>
    <operation name="listArticles">
      <documentation>Returns all indexed articles for ASPAlliance.com in a DataSet, ordered by popularity (in the last few weeks).</documentation>
      <input message="s0:listArticlesHttpGetIn" />
      <output message="s0:listArticlesHttpGetOut" />
    </operation>
  </portType>
  <portType name="ASPAllianceTemplateHttpPost">
    <operation name="columnCategories">
      <documentation>This method is used to render a table listing all of the categories used for ASPAlliance articles, along with the number of articles that exist for each category type.  To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.</documentation>
      <input message="s0:columnCategoriesHttpPostIn" />
      <output message="s0:columnCategoriesHttpPostOut" />
    </operation>
    <operation name="htmlHeadBodySection">
      <documentation>This method renders the opening html tag, head section, and opening body tag for the standard ASPAlliance template page.  You can specify the page's title by passing it as a parameter to this function.  To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.</documentation>
      <input message="s0:htmlHeadBodySectionHttpPostIn" />
      <output message="s0:htmlHeadBodySectionHttpPostOut" />
    </operation>
    <operation name="topTemplate">
      <documentation>This method renders the opening html tag, head section, and opening body tag, and ASPAlliance template layout for the standard ASPAlliance template page.  You can specify the page's title by passing it as a parameter to this function.  ASPAlliance columnists should pass their web's name as the sitename parameter.  You should also enable the use of a print view for your pages by checking for a querystring variable called print and setting the printview parameter to true if the querystring exists. To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.</documentation>
      <input message="s0:topTemplateHttpPostIn" />
      <output message="s0:topTemplateHttpPostOut" />
    </operation>
    <operation name="topTemplateArticle">
      <documentation>This method renders the opening html tag, head section, and opening body tag, and ASPAlliance template layout for the standard ASPAlliance template page.  You can specify the page's title by passing it as a parameter to this function.  ASPAlliance columnists should pass their web's name as the sitename parameter.  You should also enable the use of a print view for your pages by checking for a querystring variable called print and setting the printview parameter to true if the querystring exists. To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.  Include the article's ID as well so that its popularity can be tracked.</documentation>
      <input message="s0:topTemplateArticleHttpPostIn" />
      <output message="s0:topTemplateArticleHttpPostOut" />
    </operation>
    <operation name="bottomTemplate">
      <documentation>This method renders the closing tags for the ASP Alliance template page, as well as the closing body and html tags.  ASPAlliance columnists should pass their web's name as the sitename parameter.  You should also enable the use of a print view for your pages by checking for a querystring variable called print and setting the printview parameter to true if the querystring exists. To use, place an asp:literal on your ASPX page, and assign its Text property to this web service's return value.</documentation>
      <input message="s0:bottomTemplateHttpPostIn" />
      <output message="s0:bottomTemplateHttpPostOut" />
    </operation>
    <operation name="listArticles">
      <documentation>Returns all indexed articles for ASPAlliance.com in a DataSet, ordered by popularity (in the last few weeks).</documentation>
      <input message="s0:listArticlesHttpPostIn" />
      <output message="s0:listArticlesHttpPostOut" />
    </operation>
  </portType>
  <binding name="ASPAllianceTemplateSoap" type="s0:ASPAllianceTemplateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="columnCategories">
      <soap:operation soapAction="http://aspalliance.com/webservices/columnCategories" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="htmlHeadBodySection">
      <soap:operation soapAction="http://aspalliance.com/webservices/htmlHeadBodySection" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="topTemplate">
      <soap:operation soapAction="http://aspalliance.com/webservices/topTemplate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="topTemplateArticle">
      <soap:operation soapAction="http://aspalliance.com/webservices/topTemplateArticle" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="bottomTemplate">
      <soap:operation soapAction="http://aspalliance.com/webservices/bottomTemplate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listArticles">
      <soap:operation soapAction="http://aspalliance.com/webservices/listArticles" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ASPAllianceTemplateHttpGet" type="s0:ASPAllianceTemplateHttpGet">
    <http:binding verb="GET" />
    <operation name="columnCategories">
      <http:operation location="/columnCategories" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="htmlHeadBodySection">
      <http:operation location="/htmlHeadBodySection" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="topTemplate">
      <http:operation location="/topTemplate" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="topTemplateArticle">
      <http:operation location="/topTemplateArticle" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="bottomTemplate">
      <http:operation location="/bottomTemplate" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="listArticles">
      <http:operation location="/listArticles" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ASPAllianceTemplateHttpPost" type="s0:ASPAllianceTemplateHttpPost">
    <http:binding verb="POST" />
    <operation name="columnCategories">
      <http:operation location="/columnCategories" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="htmlHeadBodySection">
      <http:operation location="/htmlHeadBodySection" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="topTemplate">
      <http:operation location="/topTemplate" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="topTemplateArticle">
      <http:operation location="/topTemplateArticle" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="bottomTemplate">
      <http:operation location="/bottomTemplate" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="listArticles">
      <http:operation location="/listArticles" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="ASPAllianceTemplate">
    <port name="ASPAllianceTemplateSoap" binding="s0:ASPAllianceTemplateSoap">
      <soap:address location="http://aspalliance.com/webservices/aspalliancetemplate.asmx" />
    </port>
    <port name="ASPAllianceTemplateHttpGet" binding="s0:ASPAllianceTemplateHttpGet">
      <http:address location="http://aspalliance.com/webservices/aspalliancetemplate.asmx" />
    </port>
    <port name="ASPAllianceTemplateHttpPost" binding="s0:ASPAllianceTemplateHttpPost">
      <http:address location="http://aspalliance.com/webservices/aspalliancetemplate.asmx" />
    </port>
  </service>
</definitions>