WebServiceDataset/courierinfo/service12.Addresses.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.serviceobjects.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.serviceobjects.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.serviceobjects.com/">
      <s:element name="GetTrackingInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTrackingInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrackingInfoResult" type="s0:TrackingInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TrackingInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveredTo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryDateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SignedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Weight" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstDeliveryDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PurchaseOrderNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AcceptDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AcceptTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Carrier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s0:Err" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Err">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPS_GetTrackingInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPS_GetTrackingInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPS_GetTrackingInfoResult" type="s0:TrackingInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="USPS_GetTrackingInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="USPS_GetTrackingInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USPS_GetTrackingInfoResult" type="s0:TrackingInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FedEx_GetTrackingInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FedEx_GetTrackingInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FedEx_GetTrackingInfoResult" type="s0:TrackingInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackingInfo" nillable="true" type="s0:TrackingInfo" />
    </s:schema>
  </types>
  <message name="GetTrackingInfoSoapIn">
    <part name="parameters" element="s0:GetTrackingInfo" />
  </message>
  <message name="GetTrackingInfoSoapOut">
    <part name="parameters" element="s0:GetTrackingInfoResponse" />
  </message>
  <message name="UPS_GetTrackingInfoSoapIn">
    <part name="parameters" element="s0:UPS_GetTrackingInfo" />
  </message>
  <message name="UPS_GetTrackingInfoSoapOut">
    <part name="parameters" element="s0:UPS_GetTrackingInfoResponse" />
  </message>
  <message name="USPS_GetTrackingInfoSoapIn">
    <part name="parameters" element="s0:USPS_GetTrackingInfo" />
  </message>
  <message name="USPS_GetTrackingInfoSoapOut">
    <part name="parameters" element="s0:USPS_GetTrackingInfoResponse" />
  </message>
  <message name="FedEx_GetTrackingInfoSoapIn">
    <part name="parameters" element="s0:FedEx_GetTrackingInfo" />
  </message>
  <message name="FedEx_GetTrackingInfoSoapOut">
    <part name="parameters" element="s0:FedEx_GetTrackingInfoResponse" />
  </message>
  <message name="GetTrackingInfoHttpGetIn">
    <part name="TrackingNumber" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetTrackingInfoHttpGetOut">
    <part name="Body" element="s0:TrackingInfo" />
  </message>
  <message name="UPS_GetTrackingInfoHttpGetIn">
    <part name="TrackingNumber" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="UPS_GetTrackingInfoHttpGetOut">
    <part name="Body" element="s0:TrackingInfo" />
  </message>
  <message name="USPS_GetTrackingInfoHttpGetIn">
    <part name="TrackingNumber" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="USPS_GetTrackingInfoHttpGetOut">
    <part name="Body" element="s0:TrackingInfo" />
  </message>
  <message name="FedEx_GetTrackingInfoHttpGetIn">
    <part name="TrackingNumber" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="FedEx_GetTrackingInfoHttpGetOut">
    <part name="Body" element="s0:TrackingInfo" />
  </message>
  <message name="GetTrackingInfoHttpPostIn">
    <part name="TrackingNumber" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetTrackingInfoHttpPostOut">
    <part name="Body" element="s0:TrackingInfo" />
  </message>
  <message name="UPS_GetTrackingInfoHttpPostIn">
    <part name="TrackingNumber" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="UPS_GetTrackingInfoHttpPostOut">
    <part name="Body" element="s0:TrackingInfo" />
  </message>
  <message name="USPS_GetTrackingInfoHttpPostIn">
    <part name="TrackingNumber" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="USPS_GetTrackingInfoHttpPostOut">
    <part name="Body" element="s0:TrackingInfo" />
  </message>
  <message name="FedEx_GetTrackingInfoHttpPostIn">
    <part name="TrackingNumber" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="FedEx_GetTrackingInfoHttpPostOut">
    <part name="Body" element="s0:TrackingInfo" />
  </message>
  <portType name="DOTSPackageTrackingSoap">
    <operation name="GetTrackingInfo">
      <documentation>Returns package tracking information for a given UPS, FedEx, or USPS tracking number. Input all digits of the package tracking number.&lt;br/&gt;&lt;br/&gt;Example Fedex Package ID: 048897058489877&lt;br/&gt;Example UPS Package ID: 1Z1689W20341211926&lt;br/&gt;Example USPS Package ID: 03010120000470958206</documentation>
      <input message="s0:GetTrackingInfoSoapIn" />
      <output message="s0:GetTrackingInfoSoapOut" />
    </operation>
    <operation name="UPS_GetTrackingInfo">
      <documentation>Returns package tracking information for a given UPS tracking number. Input all digits of the package tracking number.&lt;br/&gt;&lt;br/&gt;Example UPS Package ID: 1Z1689W20341211926</documentation>
      <input message="s0:UPS_GetTrackingInfoSoapIn" />
      <output message="s0:UPS_GetTrackingInfoSoapOut" />
    </operation>
    <operation name="USPS_GetTrackingInfo">
      <documentation>Returns package tracking information for a given USPS tracking number. Input all digits of the package tracking number.&lt;br/&gt;&lt;br/&gt;Example USPS Package ID: 03010120000470958206</documentation>
      <input message="s0:USPS_GetTrackingInfoSoapIn" />
      <output message="s0:USPS_GetTrackingInfoSoapOut" />
    </operation>
    <operation name="FedEx_GetTrackingInfo">
      <documentation>Returns package tracking information for a given FedEx number. Input all digits of the package tracking number.&lt;br/&gt;&lt;br/&gt;Example Fedex Package ID: 048897058489877</documentation>
      <input message="s0:FedEx_GetTrackingInfoSoapIn" />
      <output message="s0:FedEx_GetTrackingInfoSoapOut" />
    </operation>
  </portType>
  <portType name="DOTSPackageTrackingHttpGet">
    <operation name="GetTrackingInfo">
      <documentation>Returns package tracking information for a given UPS, FedEx, or USPS tracking number. Input all digits of the package tracking number.&lt;br/&gt;&lt;br/&gt;Example Fedex Package ID: 048897058489877&lt;br/&gt;Example UPS Package ID: 1Z1689W20341211926&lt;br/&gt;Example USPS Package ID: 03010120000470958206</documentation>
      <input message="s0:GetTrackingInfoHttpGetIn" />
      <output message="s0:GetTrackingInfoHttpGetOut" />
    </operation>
    <operation name="UPS_GetTrackingInfo">
      <documentation>Returns package tracking information for a given UPS tracking number. Input all digits of the package tracking number.&lt;br/&gt;&lt;br/&gt;Example UPS Package ID: 1Z1689W20341211926</documentation>
      <input message="s0:UPS_GetTrackingInfoHttpGetIn" />
      <output message="s0:UPS_GetTrackingInfoHttpGetOut" />
    </operation>
    <operation name="USPS_GetTrackingInfo">
      <documentation>Returns package tracking information for a given USPS tracking number. Input all digits of the package tracking number.&lt;br/&gt;&lt;br/&gt;Example USPS Package ID: 03010120000470958206</documentation>
      <input message="s0:USPS_GetTrackingInfoHttpGetIn" />
      <output message="s0:USPS_GetTrackingInfoHttpGetOut" />
    </operation>
    <operation name="FedEx_GetTrackingInfo">
      <documentation>Returns package tracking information for a given FedEx number. Input all digits of the package tracking number.&lt;br/&gt;&lt;br/&gt;Example Fedex Package ID: 048897058489877</documentation>
      <input message="s0:FedEx_GetTrackingInfoHttpGetIn" />
      <output message="s0:FedEx_GetTrackingInfoHttpGetOut" />
    </operation>
  </portType>
  <portType name="DOTSPackageTrackingHttpPost">
    <operation name="GetTrackingInfo">
      <documentation>Returns package tracking information for a given UPS, FedEx, or USPS tracking number. Input all digits of the package tracking number.&lt;br/&gt;&lt;br/&gt;Example Fedex Package ID: 048897058489877&lt;br/&gt;Example UPS Package ID: 1Z1689W20341211926&lt;br/&gt;Example USPS Package ID: 03010120000470958206</documentation>
      <input message="s0:GetTrackingInfoHttpPostIn" />
      <output message="s0:GetTrackingInfoHttpPostOut" />
    </operation>
    <operation name="UPS_GetTrackingInfo">
      <documentation>Returns package tracking information for a given UPS tracking number. Input all digits of the package tracking number.&lt;br/&gt;&lt;br/&gt;Example UPS Package ID: 1Z1689W20341211926</documentation>
      <input message="s0:UPS_GetTrackingInfoHttpPostIn" />
      <output message="s0:UPS_GetTrackingInfoHttpPostOut" />
    </operation>
    <operation name="USPS_GetTrackingInfo">
      <documentation>Returns package tracking information for a given USPS tracking number. Input all digits of the package tracking number.&lt;br/&gt;&lt;br/&gt;Example USPS Package ID: 03010120000470958206</documentation>
      <input message="s0:USPS_GetTrackingInfoHttpPostIn" />
      <output message="s0:USPS_GetTrackingInfoHttpPostOut" />
    </operation>
    <operation name="FedEx_GetTrackingInfo">
      <documentation>Returns package tracking information for a given FedEx number. Input all digits of the package tracking number.&lt;br/&gt;&lt;br/&gt;Example Fedex Package ID: 048897058489877</documentation>
      <input message="s0:FedEx_GetTrackingInfoHttpPostIn" />
      <output message="s0:FedEx_GetTrackingInfoHttpPostOut" />
    </operation>
  </portType>
  <binding name="DOTSPackageTrackingSoap" type="s0:DOTSPackageTrackingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetTrackingInfo">
      <soap:operation soapAction="http://www.serviceobjects.com/GetTrackingInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UPS_GetTrackingInfo">
      <soap:operation soapAction="http://www.serviceobjects.com/UPS_GetTrackingInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="USPS_GetTrackingInfo">
      <soap:operation soapAction="http://www.serviceobjects.com/USPS_GetTrackingInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FedEx_GetTrackingInfo">
      <soap:operation soapAction="http://www.serviceobjects.com/FedEx_GetTrackingInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="DOTSPackageTrackingHttpGet" type="s0:DOTSPackageTrackingHttpGet">
    <http:binding verb="GET" />
    <operation name="GetTrackingInfo">
      <http:operation location="/GetTrackingInfo" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="UPS_GetTrackingInfo">
      <http:operation location="/UPS_GetTrackingInfo" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="USPS_GetTrackingInfo">
      <http:operation location="/USPS_GetTrackingInfo" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="FedEx_GetTrackingInfo">
      <http:operation location="/FedEx_GetTrackingInfo" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="DOTSPackageTrackingHttpPost" type="s0:DOTSPackageTrackingHttpPost">
    <http:binding verb="POST" />
    <operation name="GetTrackingInfo">
      <http:operation location="/GetTrackingInfo" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="UPS_GetTrackingInfo">
      <http:operation location="/UPS_GetTrackingInfo" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="USPS_GetTrackingInfo">
      <http:operation location="/USPS_GetTrackingInfo" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="FedEx_GetTrackingInfo">
      <http:operation location="/FedEx_GetTrackingInfo" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="DOTSPackageTracking">
    <documentation>For more information on our web services, visit us at &lt;a href='http://www.serviceobjects.com/products/default.asp' target='new'&gt;our website&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;&lt;a href='http://www.serviceobjects.com' target='new'&gt;&lt;img src='http://www.serviceobjects.com/images/so_logo_2_inside.gif' border='0'/&gt;&lt;/a&gt;</documentation>
    <port name="DOTSPackageTrackingSoap" binding="s0:DOTSPackageTrackingSoap">
      <soap:address location="http://ws2.serviceobjects.net/pt/PackTrack.asmx" />
    </port>
    <port name="DOTSPackageTrackingHttpGet" binding="s0:DOTSPackageTrackingHttpGet">
      <http:address location="http://ws2.serviceobjects.net/pt/PackTrack.asmx" />
    </port>
    <port name="DOTSPackageTrackingHttpPost" binding="s0:DOTSPackageTrackingHttpPost">
      <http:address location="http://ws2.serviceobjects.net/pt/PackTrack.asmx" />
    </port>
  </service>
</definitions>