WebServiceDataset/databaseprovider/service16.Database.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.spintrance.com/Services" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.spintrance.com/Services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.spintrance.com/Services">
      <s:element name="GetLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLinkResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keywords" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveLinkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="GetLinkSoapIn">
    <part name="parameters" element="s0:GetLink" />
  </message>
  <message name="GetLinkSoapOut">
    <part name="parameters" element="s0:GetLinkResponse" />
  </message>
  <message name="SaveLinkSoapIn">
    <part name="parameters" element="s0:SaveLink" />
  </message>
  <message name="SaveLinkSoapOut">
    <part name="parameters" element="s0:SaveLinkResponse" />
  </message>
  <message name="GetLinkHttpGetIn">
    <part name="SearchString" type="s:string" />
  </message>
  <message name="GetLinkHttpGetOut">
    <part name="Body" />
  </message>
  <message name="SaveLinkHttpGetIn">
    <part name="url" type="s:string" />
    <part name="title" type="s:string" />
    <part name="cat" type="s:string" />
    <part name="keywords" type="s:string" />
  </message>
  <message name="SaveLinkHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetLinkHttpPostIn">
    <part name="SearchString" type="s:string" />
  </message>
  <message name="GetLinkHttpPostOut">
    <part name="Body" />
  </message>
  <message name="SaveLinkHttpPostIn">
    <part name="url" type="s:string" />
    <part name="title" type="s:string" />
    <part name="cat" type="s:string" />
    <part name="keywords" type="s:string" />
  </message>
  <message name="SaveLinkHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="LinkSvcSoap">
    <operation name="GetLink">
      <input message="s0:GetLinkSoapIn" />
      <output message="s0:GetLinkSoapOut" />
    </operation>
    <operation name="SaveLink">
      <input message="s0:SaveLinkSoapIn" />
      <output message="s0:SaveLinkSoapOut" />
    </operation>
  </portType>
  <portType name="LinkSvcHttpGet">
    <operation name="GetLink">
      <input message="s0:GetLinkHttpGetIn" />
      <output message="s0:GetLinkHttpGetOut" />
    </operation>
    <operation name="SaveLink">
      <input message="s0:SaveLinkHttpGetIn" />
      <output message="s0:SaveLinkHttpGetOut" />
    </operation>
  </portType>
  <portType name="LinkSvcHttpPost">
    <operation name="GetLink">
      <input message="s0:GetLinkHttpPostIn" />
      <output message="s0:GetLinkHttpPostOut" />
    </operation>
    <operation name="SaveLink">
      <input message="s0:SaveLinkHttpPostIn" />
      <output message="s0:SaveLinkHttpPostOut" />
    </operation>
  </portType>
  <binding name="LinkSvcSoap" type="s0:LinkSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetLink">
      <soap:operation soapAction="http://www.spintrance.com/Services/GetLink" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SaveLink">
      <soap:operation soapAction="http://www.spintrance.com/Services/SaveLink" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="LinkSvcHttpGet" type="s0:LinkSvcHttpGet">
    <http:binding verb="GET" />
    <operation name="GetLink">
      <http:operation location="/GetLink" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="SaveLink">
      <http:operation location="/SaveLink" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="LinkSvcHttpPost" type="s0:LinkSvcHttpPost">
    <http:binding verb="POST" />
    <operation name="GetLink">
      <http:operation location="/GetLink" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="SaveLink">
      <http:operation location="/SaveLink" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="LinkSvc">
    <port name="LinkSvcSoap" binding="s0:LinkSvcSoap">
      <soap:address location="http://www.spintrance.com/services/Link/link.asmx" />
    </port>
    <port name="LinkSvcHttpGet" binding="s0:LinkSvcHttpGet">
      <http:address location="http://www.spintrance.com/services/Link/link.asmx" />
    </port>
    <port name="LinkSvcHttpPost" binding="s0:LinkSvcHttpPost">
      <http:address location="http://www.spintrance.com/services/Link/link.asmx" />
    </port>
  </service>
</definitions>