WebServiceDataset/countryInfo/weather/service61.Utility.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://innergears.com/WebServices/ForecastByICAO" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://innergears.com/WebServices/ForecastByICAO" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://innergears.com/WebServices/ForecastByICAO">
      <s:element name="GetForecastByICAO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ICAOCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetForecastByICAOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetForecastByICAOResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfString" nillable="true" type="s0:ArrayOfString" />
    </s:schema>
  </types>
  <message name="GetForecastByICAOSoapIn">
    <part name="parameters" element="s0:GetForecastByICAO" />
  </message>
  <message name="GetForecastByICAOSoapOut">
    <part name="parameters" element="s0:GetForecastByICAOResponse" />
  </message>
  <message name="GetForecastByICAOHttpGetIn">
    <part name="ICAOCode" type="s:string" />
  </message>
  <message name="GetForecastByICAOHttpGetOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="GetForecastByICAOHttpPostIn">
    <part name="ICAOCode" type="s:string" />
  </message>
  <message name="GetForecastByICAOHttpPostOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <portType name="ForecastByICAOSoap">
    <operation name="GetForecastByICAO">
      <input message="s0:GetForecastByICAOSoapIn" />
      <output message="s0:GetForecastByICAOSoapOut" />
    </operation>
  </portType>
  <portType name="ForecastByICAOHttpGet">
    <operation name="GetForecastByICAO">
      <input message="s0:GetForecastByICAOHttpGetIn" />
      <output message="s0:GetForecastByICAOHttpGetOut" />
    </operation>
  </portType>
  <portType name="ForecastByICAOHttpPost">
    <operation name="GetForecastByICAO">
      <input message="s0:GetForecastByICAOHttpPostIn" />
      <output message="s0:GetForecastByICAOHttpPostOut" />
    </operation>
  </portType>
  <binding name="ForecastByICAOSoap" type="s0:ForecastByICAOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetForecastByICAO">
      <soap:operation soapAction="http://innergears.com/WebServices/ForecastByICAO/GetForecastByICAO" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ForecastByICAOHttpGet" type="s0:ForecastByICAOHttpGet">
    <http:binding verb="GET" />
    <operation name="GetForecastByICAO">
      <http:operation location="/GetForecastByICAO" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ForecastByICAOHttpPost" type="s0:ForecastByICAOHttpPost">
    <http:binding verb="POST" />
    <operation name="GetForecastByICAO">
      <http:operation location="/GetForecastByICAO" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="ForecastByICAO">
    <port name="ForecastByICAOSoap" binding="s0:ForecastByICAOSoap">
      <soap:address location="http://www.innergears.com/WebServices/ForecastByICAO/ForecastByICAO.asmx" />
    </port>
    <port name="ForecastByICAOHttpGet" binding="s0:ForecastByICAOHttpGet">
      <http:address location="http://www.innergears.com/WebServices/ForecastByICAO/ForecastByICAO.asmx" />
    </port>
    <port name="ForecastByICAOHttpPost" binding="s0:ForecastByICAOHttpPost">
      <http:address location="http://www.innergears.com/WebServices/ForecastByICAO/ForecastByICAO.asmx" />
    </port>
  </service>
</definitions>