WebServiceDataset/countryInfo/weather/service10.Miscellaneous.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://stanski.com/webservices/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://stanski.com/webservices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://stanski.com/webservices/">
      <s:element name="getMelbourneTemperature">
        <s:complexType />
      </s:element>
      <s:element name="getMelbourneTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMelbourneTemperatureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSydneyTemperature">
        <s:complexType />
      </s:element>
      <s:element name="getSydneyTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSydneyTemperatureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBrisbaneTemperature">
        <s:complexType />
      </s:element>
      <s:element name="getBrisbaneTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBrisbaneTemperatureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAdelaideTemperature">
        <s:complexType />
      </s:element>
      <s:element name="getAdelaideTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAdelaideTemperatureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPerthTemperature">
        <s:complexType />
      </s:element>
      <s:element name="getPerthTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPerthTemperatureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCanberraTemperature">
        <s:complexType />
      </s:element>
      <s:element name="getCanberraTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCanberraTemperatureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDarwinTemperature">
        <s:complexType />
      </s:element>
      <s:element name="getDarwinTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDarwinTemperatureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getHobartTemperature">
        <s:complexType />
      </s:element>
      <s:element name="getHobartTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getHobartTemperatureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getWellingtonTemperature">
        <s:complexType />
      </s:element>
      <s:element name="getWellingtonTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getWellingtonTemperatureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getChristchurchTemperature">
        <s:complexType />
      </s:element>
      <s:element name="getChristchurchTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getChristchurchTemperatureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAucklandTemperature">
        <s:complexType />
      </s:element>
      <s:element name="getAucklandTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAucklandTemperatureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="getMelbourneTemperatureSoapIn">
    <part name="parameters" element="s0:getMelbourneTemperature" />
  </message>
  <message name="getMelbourneTemperatureSoapOut">
    <part name="parameters" element="s0:getMelbourneTemperatureResponse" />
  </message>
  <message name="getSydneyTemperatureSoapIn">
    <part name="parameters" element="s0:getSydneyTemperature" />
  </message>
  <message name="getSydneyTemperatureSoapOut">
    <part name="parameters" element="s0:getSydneyTemperatureResponse" />
  </message>
  <message name="getBrisbaneTemperatureSoapIn">
    <part name="parameters" element="s0:getBrisbaneTemperature" />
  </message>
  <message name="getBrisbaneTemperatureSoapOut">
    <part name="parameters" element="s0:getBrisbaneTemperatureResponse" />
  </message>
  <message name="getAdelaideTemperatureSoapIn">
    <part name="parameters" element="s0:getAdelaideTemperature" />
  </message>
  <message name="getAdelaideTemperatureSoapOut">
    <part name="parameters" element="s0:getAdelaideTemperatureResponse" />
  </message>
  <message name="getPerthTemperatureSoapIn">
    <part name="parameters" element="s0:getPerthTemperature" />
  </message>
  <message name="getPerthTemperatureSoapOut">
    <part name="parameters" element="s0:getPerthTemperatureResponse" />
  </message>
  <message name="getCanberraTemperatureSoapIn">
    <part name="parameters" element="s0:getCanberraTemperature" />
  </message>
  <message name="getCanberraTemperatureSoapOut">
    <part name="parameters" element="s0:getCanberraTemperatureResponse" />
  </message>
  <message name="getDarwinTemperatureSoapIn">
    <part name="parameters" element="s0:getDarwinTemperature" />
  </message>
  <message name="getDarwinTemperatureSoapOut">
    <part name="parameters" element="s0:getDarwinTemperatureResponse" />
  </message>
  <message name="getHobartTemperatureSoapIn">
    <part name="parameters" element="s0:getHobartTemperature" />
  </message>
  <message name="getHobartTemperatureSoapOut">
    <part name="parameters" element="s0:getHobartTemperatureResponse" />
  </message>
  <message name="getWellingtonTemperatureSoapIn">
    <part name="parameters" element="s0:getWellingtonTemperature" />
  </message>
  <message name="getWellingtonTemperatureSoapOut">
    <part name="parameters" element="s0:getWellingtonTemperatureResponse" />
  </message>
  <message name="getChristchurchTemperatureSoapIn">
    <part name="parameters" element="s0:getChristchurchTemperature" />
  </message>
  <message name="getChristchurchTemperatureSoapOut">
    <part name="parameters" element="s0:getChristchurchTemperatureResponse" />
  </message>
  <message name="getAucklandTemperatureSoapIn">
    <part name="parameters" element="s0:getAucklandTemperature" />
  </message>
  <message name="getAucklandTemperatureSoapOut">
    <part name="parameters" element="s0:getAucklandTemperatureResponse" />
  </message>
  <message name="getMelbourneTemperatureHttpGetIn" />
  <message name="getMelbourneTemperatureHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getSydneyTemperatureHttpGetIn" />
  <message name="getSydneyTemperatureHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getBrisbaneTemperatureHttpGetIn" />
  <message name="getBrisbaneTemperatureHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getAdelaideTemperatureHttpGetIn" />
  <message name="getAdelaideTemperatureHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getPerthTemperatureHttpGetIn" />
  <message name="getPerthTemperatureHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getCanberraTemperatureHttpGetIn" />
  <message name="getCanberraTemperatureHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getDarwinTemperatureHttpGetIn" />
  <message name="getDarwinTemperatureHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getHobartTemperatureHttpGetIn" />
  <message name="getHobartTemperatureHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getWellingtonTemperatureHttpGetIn" />
  <message name="getWellingtonTemperatureHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getChristchurchTemperatureHttpGetIn" />
  <message name="getChristchurchTemperatureHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getAucklandTemperatureHttpGetIn" />
  <message name="getAucklandTemperatureHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getMelbourneTemperatureHttpPostIn" />
  <message name="getMelbourneTemperatureHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getSydneyTemperatureHttpPostIn" />
  <message name="getSydneyTemperatureHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getBrisbaneTemperatureHttpPostIn" />
  <message name="getBrisbaneTemperatureHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getAdelaideTemperatureHttpPostIn" />
  <message name="getAdelaideTemperatureHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getPerthTemperatureHttpPostIn" />
  <message name="getPerthTemperatureHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getCanberraTemperatureHttpPostIn" />
  <message name="getCanberraTemperatureHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getDarwinTemperatureHttpPostIn" />
  <message name="getDarwinTemperatureHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getHobartTemperatureHttpPostIn" />
  <message name="getHobartTemperatureHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getWellingtonTemperatureHttpPostIn" />
  <message name="getWellingtonTemperatureHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getChristchurchTemperatureHttpPostIn" />
  <message name="getChristchurchTemperatureHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getAucklandTemperatureHttpPostIn" />
  <message name="getAucklandTemperatureHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="WeatherServiceSoap">
    <operation name="getMelbourneTemperature">
      <input message="s0:getMelbourneTemperatureSoapIn" />
      <output message="s0:getMelbourneTemperatureSoapOut" />
    </operation>
    <operation name="getSydneyTemperature">
      <input message="s0:getSydneyTemperatureSoapIn" />
      <output message="s0:getSydneyTemperatureSoapOut" />
    </operation>
    <operation name="getBrisbaneTemperature">
      <input message="s0:getBrisbaneTemperatureSoapIn" />
      <output message="s0:getBrisbaneTemperatureSoapOut" />
    </operation>
    <operation name="getAdelaideTemperature">
      <input message="s0:getAdelaideTemperatureSoapIn" />
      <output message="s0:getAdelaideTemperatureSoapOut" />
    </operation>
    <operation name="getPerthTemperature">
      <input message="s0:getPerthTemperatureSoapIn" />
      <output message="s0:getPerthTemperatureSoapOut" />
    </operation>
    <operation name="getCanberraTemperature">
      <input message="s0:getCanberraTemperatureSoapIn" />
      <output message="s0:getCanberraTemperatureSoapOut" />
    </operation>
    <operation name="getDarwinTemperature">
      <input message="s0:getDarwinTemperatureSoapIn" />
      <output message="s0:getDarwinTemperatureSoapOut" />
    </operation>
    <operation name="getHobartTemperature">
      <input message="s0:getHobartTemperatureSoapIn" />
      <output message="s0:getHobartTemperatureSoapOut" />
    </operation>
    <operation name="getWellingtonTemperature">
      <input message="s0:getWellingtonTemperatureSoapIn" />
      <output message="s0:getWellingtonTemperatureSoapOut" />
    </operation>
    <operation name="getChristchurchTemperature">
      <input message="s0:getChristchurchTemperatureSoapIn" />
      <output message="s0:getChristchurchTemperatureSoapOut" />
    </operation>
    <operation name="getAucklandTemperature">
      <input message="s0:getAucklandTemperatureSoapIn" />
      <output message="s0:getAucklandTemperatureSoapOut" />
    </operation>
  </portType>
  <portType name="WeatherServiceHttpGet">
    <operation name="getMelbourneTemperature">
      <input message="s0:getMelbourneTemperatureHttpGetIn" />
      <output message="s0:getMelbourneTemperatureHttpGetOut" />
    </operation>
    <operation name="getSydneyTemperature">
      <input message="s0:getSydneyTemperatureHttpGetIn" />
      <output message="s0:getSydneyTemperatureHttpGetOut" />
    </operation>
    <operation name="getBrisbaneTemperature">
      <input message="s0:getBrisbaneTemperatureHttpGetIn" />
      <output message="s0:getBrisbaneTemperatureHttpGetOut" />
    </operation>
    <operation name="getAdelaideTemperature">
      <input message="s0:getAdelaideTemperatureHttpGetIn" />
      <output message="s0:getAdelaideTemperatureHttpGetOut" />
    </operation>
    <operation name="getPerthTemperature">
      <input message="s0:getPerthTemperatureHttpGetIn" />
      <output message="s0:getPerthTemperatureHttpGetOut" />
    </operation>
    <operation name="getCanberraTemperature">
      <input message="s0:getCanberraTemperatureHttpGetIn" />
      <output message="s0:getCanberraTemperatureHttpGetOut" />
    </operation>
    <operation name="getDarwinTemperature">
      <input message="s0:getDarwinTemperatureHttpGetIn" />
      <output message="s0:getDarwinTemperatureHttpGetOut" />
    </operation>
    <operation name="getHobartTemperature">
      <input message="s0:getHobartTemperatureHttpGetIn" />
      <output message="s0:getHobartTemperatureHttpGetOut" />
    </operation>
    <operation name="getWellingtonTemperature">
      <input message="s0:getWellingtonTemperatureHttpGetIn" />
      <output message="s0:getWellingtonTemperatureHttpGetOut" />
    </operation>
    <operation name="getChristchurchTemperature">
      <input message="s0:getChristchurchTemperatureHttpGetIn" />
      <output message="s0:getChristchurchTemperatureHttpGetOut" />
    </operation>
    <operation name="getAucklandTemperature">
      <input message="s0:getAucklandTemperatureHttpGetIn" />
      <output message="s0:getAucklandTemperatureHttpGetOut" />
    </operation>
  </portType>
  <portType name="WeatherServiceHttpPost">
    <operation name="getMelbourneTemperature">
      <input message="s0:getMelbourneTemperatureHttpPostIn" />
      <output message="s0:getMelbourneTemperatureHttpPostOut" />
    </operation>
    <operation name="getSydneyTemperature">
      <input message="s0:getSydneyTemperatureHttpPostIn" />
      <output message="s0:getSydneyTemperatureHttpPostOut" />
    </operation>
    <operation name="getBrisbaneTemperature">
      <input message="s0:getBrisbaneTemperatureHttpPostIn" />
      <output message="s0:getBrisbaneTemperatureHttpPostOut" />
    </operation>
    <operation name="getAdelaideTemperature">
      <input message="s0:getAdelaideTemperatureHttpPostIn" />
      <output message="s0:getAdelaideTemperatureHttpPostOut" />
    </operation>
    <operation name="getPerthTemperature">
      <input message="s0:getPerthTemperatureHttpPostIn" />
      <output message="s0:getPerthTemperatureHttpPostOut" />
    </operation>
    <operation name="getCanberraTemperature">
      <input message="s0:getCanberraTemperatureHttpPostIn" />
      <output message="s0:getCanberraTemperatureHttpPostOut" />
    </operation>
    <operation name="getDarwinTemperature">
      <input message="s0:getDarwinTemperatureHttpPostIn" />
      <output message="s0:getDarwinTemperatureHttpPostOut" />
    </operation>
    <operation name="getHobartTemperature">
      <input message="s0:getHobartTemperatureHttpPostIn" />
      <output message="s0:getHobartTemperatureHttpPostOut" />
    </operation>
    <operation name="getWellingtonTemperature">
      <input message="s0:getWellingtonTemperatureHttpPostIn" />
      <output message="s0:getWellingtonTemperatureHttpPostOut" />
    </operation>
    <operation name="getChristchurchTemperature">
      <input message="s0:getChristchurchTemperatureHttpPostIn" />
      <output message="s0:getChristchurchTemperatureHttpPostOut" />
    </operation>
    <operation name="getAucklandTemperature">
      <input message="s0:getAucklandTemperatureHttpPostIn" />
      <output message="s0:getAucklandTemperatureHttpPostOut" />
    </operation>
  </portType>
  <binding name="WeatherServiceSoap" type="s0:WeatherServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="getMelbourneTemperature">
      <soap:operation soapAction="http://stanski.com/webservices/getMelbourneTemperature" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getSydneyTemperature">
      <soap:operation soapAction="http://stanski.com/webservices/getSydneyTemperature" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getBrisbaneTemperature">
      <soap:operation soapAction="http://stanski.com/webservices/getBrisbaneTemperature" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAdelaideTemperature">
      <soap:operation soapAction="http://stanski.com/webservices/getAdelaideTemperature" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPerthTemperature">
      <soap:operation soapAction="http://stanski.com/webservices/getPerthTemperature" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCanberraTemperature">
      <soap:operation soapAction="http://stanski.com/webservices/getCanberraTemperature" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getDarwinTemperature">
      <soap:operation soapAction="http://stanski.com/webservices/getDarwinTemperature" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getHobartTemperature">
      <soap:operation soapAction="http://stanski.com/webservices/getHobartTemperature" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getWellingtonTemperature">
      <soap:operation soapAction="http://stanski.com/webservices/getWellingtonTemperature" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getChristchurchTemperature">
      <soap:operation soapAction="http://stanski.com/webservices/getChristchurchTemperature" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAucklandTemperature">
      <soap:operation soapAction="http://stanski.com/webservices/getAucklandTemperature" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="WeatherServiceHttpGet" type="s0:WeatherServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="getMelbourneTemperature">
      <http:operation location="/getMelbourneTemperature" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getSydneyTemperature">
      <http:operation location="/getSydneyTemperature" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getBrisbaneTemperature">
      <http:operation location="/getBrisbaneTemperature" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getAdelaideTemperature">
      <http:operation location="/getAdelaideTemperature" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getPerthTemperature">
      <http:operation location="/getPerthTemperature" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getCanberraTemperature">
      <http:operation location="/getCanberraTemperature" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getDarwinTemperature">
      <http:operation location="/getDarwinTemperature" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getHobartTemperature">
      <http:operation location="/getHobartTemperature" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getWellingtonTemperature">
      <http:operation location="/getWellingtonTemperature" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getChristchurchTemperature">
      <http:operation location="/getChristchurchTemperature" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getAucklandTemperature">
      <http:operation location="/getAucklandTemperature" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="WeatherServiceHttpPost" type="s0:WeatherServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="getMelbourneTemperature">
      <http:operation location="/getMelbourneTemperature" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getSydneyTemperature">
      <http:operation location="/getSydneyTemperature" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getBrisbaneTemperature">
      <http:operation location="/getBrisbaneTemperature" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getAdelaideTemperature">
      <http:operation location="/getAdelaideTemperature" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getPerthTemperature">
      <http:operation location="/getPerthTemperature" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getCanberraTemperature">
      <http:operation location="/getCanberraTemperature" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getDarwinTemperature">
      <http:operation location="/getDarwinTemperature" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getHobartTemperature">
      <http:operation location="/getHobartTemperature" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getWellingtonTemperature">
      <http:operation location="/getWellingtonTemperature" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getChristchurchTemperature">
      <http:operation location="/getChristchurchTemperature" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getAucklandTemperature">
      <http:operation location="/getAucklandTemperature" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="WeatherService">
    <port name="WeatherServiceSoap" binding="s0:WeatherServiceSoap">
      <soap:address location="http://www.stanski.com/services/worldweather/weather.asmx" />
    </port>
    <port name="WeatherServiceHttpGet" binding="s0:WeatherServiceHttpGet">
      <http:address location="http://www.stanski.com/services/worldweather/weather.asmx" />
    </port>
    <port name="WeatherServiceHttpPost" binding="s0:WeatherServiceHttpPost">
      <http:address location="http://www.stanski.com/services/worldweather/weather.asmx" />
    </port>
  </service>
</definitions>