WebServiceDataset/web/websites/service93.Specialist.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="GetAccountList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdminUserID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserList">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditMyBillingDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditMyBillingDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditMyBillingDetailsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditMyAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TimeZone" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="RealName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditMyAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditMyAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMyAccountResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdminUserID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountByEmailAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdminUserID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountByEmailAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountByEmailAddressResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmailPasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RealName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TimeZone" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromWho" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogonResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsValidResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAdminResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserTax">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdminUserID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserTaxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserTaxResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountries">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdminUserID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountriesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </types>
  <message name="GetAccountListSoapIn">
    <part name="parameters" element="s0:GetAccountList" />
  </message>
  <message name="GetAccountListSoapOut">
    <part name="parameters" element="s0:GetAccountListResponse" />
  </message>
  <message name="EditMyBillingDetailsSoapIn">
    <part name="parameters" element="s0:EditMyBillingDetails" />
  </message>
  <message name="EditMyBillingDetailsSoapOut">
    <part name="parameters" element="s0:EditMyBillingDetailsResponse" />
  </message>
  <message name="EditMyAccountSoapIn">
    <part name="parameters" element="s0:EditMyAccount" />
  </message>
  <message name="EditMyAccountSoapOut">
    <part name="parameters" element="s0:EditMyAccountResponse" />
  </message>
  <message name="GetMyAccountSoapIn">
    <part name="parameters" element="s0:GetMyAccount" />
  </message>
  <message name="GetMyAccountSoapOut">
    <part name="parameters" element="s0:GetMyAccountResponse" />
  </message>
  <message name="GetAccountSoapIn">
    <part name="parameters" element="s0:GetAccount" />
  </message>
  <message name="GetAccountSoapOut">
    <part name="parameters" element="s0:GetAccountResponse" />
  </message>
  <message name="GetAccountByEmailAddressSoapIn">
    <part name="parameters" element="s0:GetAccountByEmailAddress" />
  </message>
  <message name="GetAccountByEmailAddressSoapOut">
    <part name="parameters" element="s0:GetAccountByEmailAddressResponse" />
  </message>
  <message name="EmailPasswordSoapIn">
    <part name="parameters" element="s0:EmailPassword" />
  </message>
  <message name="EmailPasswordSoapOut">
    <part name="parameters" element="s0:EmailPasswordResponse" />
  </message>
  <message name="GetUserIDSoapIn">
    <part name="parameters" element="s0:GetUserID" />
  </message>
  <message name="GetUserIDSoapOut">
    <part name="parameters" element="s0:GetUserIDResponse" />
  </message>
  <message name="LogonSoapIn">
    <part name="parameters" element="s0:Logon" />
  </message>
  <message name="LogonSoapOut">
    <part name="parameters" element="s0:LogonResponse" />
  </message>
  <message name="IsValidSoapIn">
    <part name="parameters" element="s0:IsValid" />
  </message>
  <message name="IsValidSoapOut">
    <part name="parameters" element="s0:IsValidResponse" />
  </message>
  <message name="IsAdminSoapIn">
    <part name="parameters" element="s0:IsAdmin" />
  </message>
  <message name="IsAdminSoapOut">
    <part name="parameters" element="s0:IsAdminResponse" />
  </message>
  <message name="GetUserTaxSoapIn">
    <part name="parameters" element="s0:GetUserTax" />
  </message>
  <message name="GetUserTaxSoapOut">
    <part name="parameters" element="s0:GetUserTaxResponse" />
  </message>
  <message name="GetCountriesSoapIn">
    <part name="parameters" element="s0:GetCountries" />
  </message>
  <message name="GetCountriesSoapOut">
    <part name="parameters" element="s0:GetCountriesResponse" />
  </message>
  <message name="EditMyBillingDetailsHttpGetIn">
    <part name="UserID" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="BillingName" type="s:string" />
    <part name="Address1" type="s:string" />
    <part name="Address2" type="s:string" />
    <part name="Address3" type="s:string" />
    <part name="CountryCode" type="s:string" />
    <part name="Locality" type="s:string" />
    <part name="PostCode" type="s:string" />
    <part name="Town" type="s:string" />
  </message>
  <message name="EditMyBillingDetailsHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="EditMyAccountHttpGetIn">
    <part name="UserID" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="CompanyName" type="s:string" />
    <part name="Address1" type="s:string" />
    <part name="Address2" type="s:string" />
    <part name="CountryCode" type="s:string" />
    <part name="EmailAddress" type="s:string" />
    <part name="Locality" type="s:string" />
    <part name="PostCode" type="s:string" />
    <part name="Town" type="s:string" />
    <part name="TimeZone" type="s:string" />
    <part name="RealName" type="s:string" />
  </message>
  <message name="EditMyAccountHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="GetMyAccountHttpGetIn">
    <part name="UserID" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="GetMyAccountHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetAccountHttpGetIn">
    <part name="AdminUserID" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="UserID" type="s:string" />
  </message>
  <message name="GetAccountHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetAccountByEmailAddressHttpGetIn">
    <part name="AdminUserID" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="EmailAddress" type="s:string" />
  </message>
  <message name="GetAccountByEmailAddressHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="EmailPasswordHttpGetIn">
    <part name="EmailAddress" type="s:string" />
  </message>
  <message name="EmailPasswordHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="GetUserIDHttpGetIn">
    <part name="EmailAddress" type="s:string" />
    <part name="RealName" type="s:string" />
    <part name="TimeZone" type="s:string" />
    <part name="Source" type="s:string" />
    <part name="CountryCode" type="s:string" />
    <part name="FromWho" type="s:string" />
    <part name="Subject" type="s:string" />
    <part name="Body" type="s:string" />
  </message>
  <message name="GetUserIDHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="LogonHttpGetIn">
    <part name="EmailAddress" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="LogonHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="IsValidHttpGetIn">
    <part name="UserID" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="IsValidHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="IsAdminHttpGetIn">
    <part name="AdminUserID" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="IsAdminHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="GetUserTaxHttpGetIn">
    <part name="AdminUserID" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="UserID" type="s:string" />
  </message>
  <message name="GetUserTaxHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="GetCountriesHttpGetIn">
    <part name="AdminUserID" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="GetCountriesHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="EditMyBillingDetailsHttpPostIn">
    <part name="UserID" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="BillingName" type="s:string" />
    <part name="Address1" type="s:string" />
    <part name="Address2" type="s:string" />
    <part name="Address3" type="s:string" />
    <part name="CountryCode" type="s:string" />
    <part name="Locality" type="s:string" />
    <part name="PostCode" type="s:string" />
    <part name="Town" type="s:string" />
  </message>
  <message name="EditMyBillingDetailsHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="EditMyAccountHttpPostIn">
    <part name="UserID" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="CompanyName" type="s:string" />
    <part name="Address1" type="s:string" />
    <part name="Address2" type="s:string" />
    <part name="CountryCode" type="s:string" />
    <part name="EmailAddress" type="s:string" />
    <part name="Locality" type="s:string" />
    <part name="PostCode" type="s:string" />
    <part name="Town" type="s:string" />
    <part name="TimeZone" type="s:string" />
    <part name="RealName" type="s:string" />
  </message>
  <message name="EditMyAccountHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="GetMyAccountHttpPostIn">
    <part name="UserID" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="GetMyAccountHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetAccountHttpPostIn">
    <part name="AdminUserID" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="UserID" type="s:string" />
  </message>
  <message name="GetAccountHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetAccountByEmailAddressHttpPostIn">
    <part name="AdminUserID" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="EmailAddress" type="s:string" />
  </message>
  <message name="GetAccountByEmailAddressHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="EmailPasswordHttpPostIn">
    <part name="EmailAddress" type="s:string" />
  </message>
  <message name="EmailPasswordHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="GetUserIDHttpPostIn">
    <part name="EmailAddress" type="s:string" />
    <part name="RealName" type="s:string" />
    <part name="TimeZone" type="s:string" />
    <part name="Source" type="s:string" />
    <part name="CountryCode" type="s:string" />
    <part name="FromWho" type="s:string" />
    <part name="Subject" type="s:string" />
    <part name="Body" type="s:string" />
  </message>
  <message name="GetUserIDHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="LogonHttpPostIn">
    <part name="EmailAddress" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="LogonHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="IsValidHttpPostIn">
    <part name="UserID" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="IsValidHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="IsAdminHttpPostIn">
    <part name="AdminUserID" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="IsAdminHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="GetUserTaxHttpPostIn">
    <part name="AdminUserID" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="UserID" type="s:string" />
  </message>
  <message name="GetUserTaxHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="GetCountriesHttpPostIn">
    <part name="AdminUserID" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="GetCountriesHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <portType name="WebSiteSoap">
    <operation name="GetAccountList">
      <input message="s0:GetAccountListSoapIn" />
      <output message="s0:GetAccountListSoapOut" />
    </operation>
    <operation name="EditMyBillingDetails">
      <input message="s0:EditMyBillingDetailsSoapIn" />
      <output message="s0:EditMyBillingDetailsSoapOut" />
    </operation>
    <operation name="EditMyAccount">
      <input message="s0:EditMyAccountSoapIn" />
      <output message="s0:EditMyAccountSoapOut" />
    </operation>
    <operation name="GetMyAccount">
      <input message="s0:GetMyAccountSoapIn" />
      <output message="s0:GetMyAccountSoapOut" />
    </operation>
    <operation name="GetAccount">
      <input message="s0:GetAccountSoapIn" />
      <output message="s0:GetAccountSoapOut" />
    </operation>
    <operation name="GetAccountByEmailAddress">
      <input message="s0:GetAccountByEmailAddressSoapIn" />
      <output message="s0:GetAccountByEmailAddressSoapOut" />
    </operation>
    <operation name="EmailPassword">
      <input message="s0:EmailPasswordSoapIn" />
      <output message="s0:EmailPasswordSoapOut" />
    </operation>
    <operation name="GetUserID">
      <input message="s0:GetUserIDSoapIn" />
      <output message="s0:GetUserIDSoapOut" />
    </operation>
    <operation name="Logon">
      <input message="s0:LogonSoapIn" />
      <output message="s0:LogonSoapOut" />
    </operation>
    <operation name="IsValid">
      <input message="s0:IsValidSoapIn" />
      <output message="s0:IsValidSoapOut" />
    </operation>
    <operation name="IsAdmin">
      <input message="s0:IsAdminSoapIn" />
      <output message="s0:IsAdminSoapOut" />
    </operation>
    <operation name="GetUserTax">
      <input message="s0:GetUserTaxSoapIn" />
      <output message="s0:GetUserTaxSoapOut" />
    </operation>
    <operation name="GetCountries">
      <input message="s0:GetCountriesSoapIn" />
      <output message="s0:GetCountriesSoapOut" />
    </operation>
  </portType>
  <portType name="WebSiteHttpGet">
    <operation name="EditMyBillingDetails">
      <input message="s0:EditMyBillingDetailsHttpGetIn" />
      <output message="s0:EditMyBillingDetailsHttpGetOut" />
    </operation>
    <operation name="EditMyAccount">
      <input message="s0:EditMyAccountHttpGetIn" />
      <output message="s0:EditMyAccountHttpGetOut" />
    </operation>
    <operation name="GetMyAccount">
      <input message="s0:GetMyAccountHttpGetIn" />
      <output message="s0:GetMyAccountHttpGetOut" />
    </operation>
    <operation name="GetAccount">
      <input message="s0:GetAccountHttpGetIn" />
      <output message="s0:GetAccountHttpGetOut" />
    </operation>
    <operation name="GetAccountByEmailAddress">
      <input message="s0:GetAccountByEmailAddressHttpGetIn" />
      <output message="s0:GetAccountByEmailAddressHttpGetOut" />
    </operation>
    <operation name="EmailPassword">
      <input message="s0:EmailPasswordHttpGetIn" />
      <output message="s0:EmailPasswordHttpGetOut" />
    </operation>
    <operation name="GetUserID">
      <input message="s0:GetUserIDHttpGetIn" />
      <output message="s0:GetUserIDHttpGetOut" />
    </operation>
    <operation name="Logon">
      <input message="s0:LogonHttpGetIn" />
      <output message="s0:LogonHttpGetOut" />
    </operation>
    <operation name="IsValid">
      <input message="s0:IsValidHttpGetIn" />
      <output message="s0:IsValidHttpGetOut" />
    </operation>
    <operation name="IsAdmin">
      <input message="s0:IsAdminHttpGetIn" />
      <output message="s0:IsAdminHttpGetOut" />
    </operation>
    <operation name="GetUserTax">
      <input message="s0:GetUserTaxHttpGetIn" />
      <output message="s0:GetUserTaxHttpGetOut" />
    </operation>
    <operation name="GetCountries">
      <input message="s0:GetCountriesHttpGetIn" />
      <output message="s0:GetCountriesHttpGetOut" />
    </operation>
  </portType>
  <portType name="WebSiteHttpPost">
    <operation name="EditMyBillingDetails">
      <input message="s0:EditMyBillingDetailsHttpPostIn" />
      <output message="s0:EditMyBillingDetailsHttpPostOut" />
    </operation>
    <operation name="EditMyAccount">
      <input message="s0:EditMyAccountHttpPostIn" />
      <output message="s0:EditMyAccountHttpPostOut" />
    </operation>
    <operation name="GetMyAccount">
      <input message="s0:GetMyAccountHttpPostIn" />
      <output message="s0:GetMyAccountHttpPostOut" />
    </operation>
    <operation name="GetAccount">
      <input message="s0:GetAccountHttpPostIn" />
      <output message="s0:GetAccountHttpPostOut" />
    </operation>
    <operation name="GetAccountByEmailAddress">
      <input message="s0:GetAccountByEmailAddressHttpPostIn" />
      <output message="s0:GetAccountByEmailAddressHttpPostOut" />
    </operation>
    <operation name="EmailPassword">
      <input message="s0:EmailPasswordHttpPostIn" />
      <output message="s0:EmailPasswordHttpPostOut" />
    </operation>
    <operation name="GetUserID">
      <input message="s0:GetUserIDHttpPostIn" />
      <output message="s0:GetUserIDHttpPostOut" />
    </operation>
    <operation name="Logon">
      <input message="s0:LogonHttpPostIn" />
      <output message="s0:LogonHttpPostOut" />
    </operation>
    <operation name="IsValid">
      <input message="s0:IsValidHttpPostIn" />
      <output message="s0:IsValidHttpPostOut" />
    </operation>
    <operation name="IsAdmin">
      <input message="s0:IsAdminHttpPostIn" />
      <output message="s0:IsAdminHttpPostOut" />
    </operation>
    <operation name="GetUserTax">
      <input message="s0:GetUserTaxHttpPostIn" />
      <output message="s0:GetUserTaxHttpPostOut" />
    </operation>
    <operation name="GetCountries">
      <input message="s0:GetCountriesHttpPostIn" />
      <output message="s0:GetCountriesHttpPostOut" />
    </operation>
  </portType>
  <binding name="WebSiteSoap" type="s0:WebSiteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetAccountList">
      <soap:operation soapAction="http://tempuri.org/GetAccountList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EditMyBillingDetails">
      <soap:operation soapAction="http://tempuri.org/EditMyBillingDetails" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EditMyAccount">
      <soap:operation soapAction="http://tempuri.org/EditMyAccount" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMyAccount">
      <soap:operation soapAction="http://tempuri.org/GetMyAccount" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAccount">
      <soap:operation soapAction="http://tempuri.org/GetAccount" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAccountByEmailAddress">
      <soap:operation soapAction="http://tempuri.org/GetAccountByEmailAddress" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EmailPassword">
      <soap:operation soapAction="http://tempuri.org/EmailPassword" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUserID">
      <soap:operation soapAction="http://tempuri.org/GetUserID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Logon">
      <soap:operation soapAction="http://tempuri.org/Logon" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsValid">
      <soap:operation soapAction="http://tempuri.org/IsValid" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsAdmin">
      <soap:operation soapAction="http://tempuri.org/IsAdmin" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUserTax">
      <soap:operation soapAction="http://tempuri.org/GetUserTax" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/GetCountries" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="WebSiteHttpGet" type="s0:WebSiteHttpGet">
    <http:binding verb="GET" />
    <operation name="EditMyBillingDetails">
      <http:operation location="/EditMyBillingDetails" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="EditMyAccount">
      <http:operation location="/EditMyAccount" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetMyAccount">
      <http:operation location="/GetMyAccount" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetAccount">
      <http:operation location="/GetAccount" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetAccountByEmailAddress">
      <http:operation location="/GetAccountByEmailAddress" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="EmailPassword">
      <http:operation location="/EmailPassword" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetUserID">
      <http:operation location="/GetUserID" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Logon">
      <http:operation location="/Logon" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsValid">
      <http:operation location="/IsValid" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsAdmin">
      <http:operation location="/IsAdmin" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetUserTax">
      <http:operation location="/GetUserTax" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCountries">
      <http:operation location="/GetCountries" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="WebSiteHttpPost" type="s0:WebSiteHttpPost">
    <http:binding verb="POST" />
    <operation name="EditMyBillingDetails">
      <http:operation location="/EditMyBillingDetails" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="EditMyAccount">
      <http:operation location="/EditMyAccount" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetMyAccount">
      <http:operation location="/GetMyAccount" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetAccount">
      <http:operation location="/GetAccount" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetAccountByEmailAddress">
      <http:operation location="/GetAccountByEmailAddress" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="EmailPassword">
      <http:operation location="/EmailPassword" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetUserID">
      <http:operation location="/GetUserID" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Logon">
      <http:operation location="/Logon" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsValid">
      <http:operation location="/IsValid" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsAdmin">
      <http:operation location="/IsAdmin" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetUserTax">
      <http:operation location="/GetUserTax" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCountries">
      <http:operation location="/GetCountries" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="WebSite">
    <port name="WebSiteSoap" binding="s0:WebSiteSoap">
      <soap:address location="http://www.soapengine.com/lucin/websitews/website.asmx" />
    </port>
    <port name="WebSiteHttpGet" binding="s0:WebSiteHttpGet">
      <http:address location="http://www.soapengine.com/lucin/websitews/website.asmx" />
    </port>
    <port name="WebSiteHttpPost" binding="s0:WebSiteHttpPost">
      <http:address location="http://www.soapengine.com/lucin/websitews/website.asmx" />
    </port>
  </service>
</definitions>