WebServiceDataset/web/websites/service14.Accounts.wsdl

<?xml version="1.0" ?>

<definitions name="CAddress.caddress" targetNamespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" xmlns:tns="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <message name="PingRequest">
        <part name="ApplicID" type="xsd:long"/>
    </message>
    <message name="PingResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="GetNumAddressRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="ReturnNumAddress" type="xsd:long"/>
    </message>
    <message name="GetNumAddressResponse">
        <part name="ReturnNumAddress" type="xsd:long"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SearchAddressRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="SearchValue" type="xsd:string"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromAddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="SearchAddressResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SearchVisitorAddressTypeIDRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="VisitorCode" type="xsd:string"/>
        <part name="AddressTypeID" type="xsd:long"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromAddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="SearchVisitorAddressTypeIDResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SearchTitleIDRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="TitleID" type="xsd:long"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromAddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="SearchTitleIDResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SearchCountryIDRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="CountryID" type="xsd:long"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromAddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="SearchCountryIDResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SearchAddressTypeIDRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressTypeID" type="xsd:long"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromAddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="SearchAddressTypeIDResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SearchEmailAddressRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="EmailAddress" type="xsd:string"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromAddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="SearchEmailAddressResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="GetDefaultEmailAddressRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="EmailAddress" type="xsd:string"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="GetDefaultEmailAddressResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SearchReferenceRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="Reference" type="xsd:string"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromAddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="SearchReferenceResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SearchTelephoneRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="Telephone" type="xsd:string"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromAddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="SearchTelephoneResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SearchLocalityRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="Locality" type="xsd:string"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromAddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="SearchLocalityResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SearchTownRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="Town" type="xsd:string"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromAddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="SearchTownResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SearchPostalCodeRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="PostalCode" type="xsd:string"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromAddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="SearchPostalCodeResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SearchCreatedRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="CreatedFrom" type="xsd:string"/>
        <part name="CreatedTo" type="xsd:string"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromAddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="SearchCreatedResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SearchVisitorAddressRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="VisitorCode" type="xsd:string"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromAddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="SearchVisitorAddressResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="GetDefaultAddressRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="VisitorCode" type="xsd:string"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="GetDefaultAddressResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="GetAddressRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="GetAddressResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SetDefaultAddressRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="VisitorCode" type="xsd:string"/>
        <part name="AddressID" type="xsd:long"/>
    </message>
    <message name="SetDefaultAddressResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="UpdAddressRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressID" type="xsd:long"/>
        <part name="AddressTypeID" type="xsd:long"/>
        <part name="TitleID" type="xsd:long"/>
        <part name="AddressName" type="xsd:string"/>
        <part name="BusinessName" type="xsd:string"/>
        <part name="Address1" type="xsd:string"/>
        <part name="Address2" type="xsd:string"/>
        <part name="Town" type="xsd:string"/>
        <part name="Locality" type="xsd:string"/>
        <part name="PostalCode" type="xsd:string"/>
        <part name="CountryID" type="xsd:long"/>
        <part name="Telephone" type="xsd:string"/>
        <part name="Fax" type="xsd:string"/>
        <part name="EmailAddress" type="xsd:string"/>
        <part name="Greeting" type="xsd:string"/>
        <part name="SalutationID" type="xsd:long"/>
        <part name="IsNotify" type="xsd:string"/>
        <part name="IsValidated" type="xsd:string"/>
        <part name="Reference" type="xsd:string"/>
    </message>
    <message name="UpdAddressResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="NewAddressRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="IsNewVisitor" type="xsd:boolean"/>
        <part name="VisitorCode" type="xsd:string"/>
        <part name="AddressTypeID" type="xsd:long"/>
        <part name="TitleID" type="xsd:long"/>
        <part name="AddressName" type="xsd:string"/>
        <part name="BusinessName" type="xsd:string"/>
        <part name="Address1" type="xsd:string"/>
        <part name="Address2" type="xsd:string"/>
        <part name="Town" type="xsd:string"/>
        <part name="Locality" type="xsd:string"/>
        <part name="PostalCode" type="xsd:string"/>
        <part name="CountryID" type="xsd:long"/>
        <part name="Telephone" type="xsd:string"/>
        <part name="Fax" type="xsd:string"/>
        <part name="EmailAddress" type="xsd:string"/>
        <part name="Greeting" type="xsd:string"/>
        <part name="SalutationID" type="xsd:long"/>
        <part name="IsNotify" type="xsd:string"/>
        <part name="IsValidated" type="xsd:string"/>
        <part name="Reference" type="xsd:string"/>
        <part name="ReturnAddressID" type="xsd:long"/>
    </message>
    <message name="NewAddressResponse">
        <part name="ReturnAddressID" type="xsd:long"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="DelAddressRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressID" type="xsd:long"/>
    </message>
    <message name="DelAddressResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupGetAddressTypeRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="IsReleased" type="xsd:string"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="LookupGetAddressTypeResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupGetCountryRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="IsReleased" type="xsd:string"/>
        <part name="RecCountry" type="xsd:string"/>
    </message>
    <message name="LookupGetCountryResponse">
        <part name="RecCountry" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupGetTitleRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="IsReleased" type="xsd:string"/>
        <part name="RecTitle" type="xsd:string"/>
    </message>
    <message name="LookupGetTitleResponse">
        <part name="RecTitle" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupGetSalutationRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="IsReleased" type="xsd:string"/>
        <part name="RecSalutation" type="xsd:string"/>
    </message>
    <message name="LookupGetSalutationResponse">
        <part name="RecSalutation" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="IsValidSalutationIDRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="SalutationID" type="xsd:long"/>
    </message>
    <message name="IsValidSalutationIDResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="IsValidTitleIDRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="TitleID" type="xsd:long"/>
    </message>
    <message name="IsValidTitleIDResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="IsValidAddressTypeIDRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressTypeID" type="xsd:long"/>
    </message>
    <message name="IsValidAddressTypeIDResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="IsValidCountryIDRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="CountryID" type="xsd:long"/>
    </message>
    <message name="IsValidCountryIDResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="IsValidEmailAddressRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="EmailAddress" type="xsd:string"/>
    </message>
    <message name="IsValidEmailAddressResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupNewTitleRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="TitleName" type="xsd:string"/>
        <part name="IsReleased" type="xsd:string"/>
        <part name="OrderBy" type="xsd:long"/>
        <part name="ReturnTitleID" type="xsd:long"/>
    </message>
    <message name="LookupNewTitleResponse">
        <part name="ReturnTitleID" type="xsd:long"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupDelTitleRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="TitleID" type="xsd:long"/>
    </message>
    <message name="LookupDelTitleResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupUpdTitleRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="TitleID" type="xsd:long"/>
        <part name="TitleName" type="xsd:string"/>
        <part name="IsReleased" type="xsd:string"/>
        <part name="OrderBy" type="xsd:long"/>
    </message>
    <message name="LookupUpdTitleResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupNewCountryRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="CountryName" type="xsd:string"/>
        <part name="IsReleased" type="xsd:string"/>
        <part name="OrderBy" type="xsd:long"/>
        <part name="ReturnCountryID" type="xsd:long"/>
    </message>
    <message name="LookupNewCountryResponse">
        <part name="ReturnCountryID" type="xsd:long"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupDelCountryRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="CountryID" type="xsd:long"/>
    </message>
    <message name="LookupDelCountryResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupUpdCountryRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="CountryID" type="xsd:long"/>
        <part name="CountryName" type="xsd:string"/>
        <part name="IsReleased" type="xsd:string"/>
        <part name="OrderBy" type="xsd:long"/>
    </message>
    <message name="LookupUpdCountryResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupNewSalutationRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="SalutationName" type="xsd:string"/>
        <part name="IsReleased" type="xsd:string"/>
        <part name="OrderBy" type="xsd:long"/>
        <part name="ReturnSalutationID" type="xsd:long"/>
    </message>
    <message name="LookupNewSalutationResponse">
        <part name="ReturnSalutationID" type="xsd:long"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupDelSalutationRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="SalutationID" type="xsd:long"/>
    </message>
    <message name="LookupDelSalutationResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupUpdSalutationRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="SalutationID" type="xsd:long"/>
        <part name="SalutationName" type="xsd:string"/>
        <part name="IsReleased" type="xsd:string"/>
        <part name="OrderBy" type="xsd:long"/>
    </message>
    <message name="LookupUpdSalutationResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupNewAddressTypeRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressTypeName" type="xsd:string"/>
        <part name="IsReleased" type="xsd:string"/>
        <part name="OrderBy" type="xsd:long"/>
        <part name="ReturnAddressTypeID" type="xsd:long"/>
    </message>
    <message name="LookupNewAddressTypeResponse">
        <part name="ReturnAddressTypeID" type="xsd:long"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupDelAddressTypeRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressTypeID" type="xsd:long"/>
    </message>
    <message name="LookupDelAddressTypeResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupUpdAddressTypeRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressTypeID" type="xsd:long"/>
        <part name="AddressTypeName" type="xsd:string"/>
        <part name="IsReleased" type="xsd:string"/>
        <part name="OrderBy" type="xsd:long"/>
    </message>
    <message name="LookupUpdAddressTypeResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupLinkDefaultAddressTypeRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressTypeID" type="xsd:long"/>
        <part name="OrderBy" type="xsd:short"/>
    </message>
    <message name="LookupLinkDefaultAddressTypeResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupGetDefaultAddressTypeRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="LookupGetDefaultAddressTypeResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupGetDefaultTitleRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="RecTitle" type="xsd:string"/>
    </message>
    <message name="LookupGetDefaultTitleResponse">
        <part name="RecTitle" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupGetDefaultCountryRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="RecCountry" type="xsd:string"/>
    </message>
    <message name="LookupGetDefaultCountryResponse">
        <part name="RecCountry" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupGetDefaultSalutationRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="RecSalutation" type="xsd:string"/>
    </message>
    <message name="LookupGetDefaultSalutationResponse">
        <part name="RecSalutation" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupLinkDefaultCountryRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="CountryID" type="xsd:long"/>
        <part name="OrderBy" type="xsd:short"/>
    </message>
    <message name="LookupLinkDefaultCountryResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupLinkDefaultTitleRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="TitleID" type="xsd:long"/>
        <part name="OrderBy" type="xsd:short"/>
    </message>
    <message name="LookupLinkDefaultTitleResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LookupLinkDefaultSalutationRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="SalutationID" type="xsd:long"/>
        <part name="OrderBy" type="xsd:short"/>
    </message>
    <message name="LookupLinkDefaultSalutationResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="GetAllAddressRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromAddressID" type="xsd:long"/>
        <part name="RecAddress" type="xsd:string"/>
    </message>
    <message name="GetAllAddressResponse">
        <part name="RecAddress" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="NewTextRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressID" type="xsd:long"/>
        <part name="OriginatorCode" type="xsd:string"/>
        <part name="Title" type="xsd:string"/>
        <part name="Message" type="xsd:string"/>
        <part name="Reference" type="xsd:string"/>
        <part name="ValidFrom" type="xsd:string"/>
        <part name="ValidTo" type="xsd:string"/>
        <part name="OrderBy" type="xsd:long"/>
        <part name="IsReleased" type="xsd:string"/>
        <part name="ReturnTextID" type="xsd:long"/>
    </message>
    <message name="NewTextResponse">
        <part name="ReturnTextID" type="xsd:long"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="DelTextRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="TextID" type="xsd:long"/>
    </message>
    <message name="DelTextResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="LinkTextRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressID" type="xsd:long"/>
        <part name="TextID" type="xsd:long"/>
    </message>
    <message name="LinkTextResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="UnLinkTextRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressID" type="xsd:long"/>
        <part name="TextID" type="xsd:long"/>
    </message>
    <message name="UnLinkTextResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="SearchTextByAddressIDRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressID" type="xsd:long"/>
        <part name="EffectiveDate" type="xsd:string"/>
        <part name="MaxRecords" type="xsd:long"/>
        <part name="FromTextID" type="xsd:long"/>
        <part name="RecText" type="xsd:string"/>
    </message>
    <message name="SearchTextByAddressIDResponse">
        <part name="RecText" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="UpdTextRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="TextID" type="xsd:long"/>
        <part name="OriginatorCode" type="xsd:string"/>
        <part name="Title" type="xsd:string"/>
        <part name="Message" type="xsd:string"/>
        <part name="Reference" type="xsd:string"/>
        <part name="ValidFrom" type="xsd:string"/>
        <part name="ValidTo" type="xsd:string"/>
        <part name="OrderBy" type="xsd:long"/>
        <part name="IsReleased" type="xsd:string"/>
    </message>
    <message name="UpdTextResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="GetTextRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="TextID" type="xsd:long"/>
        <part name="RecText" type="xsd:string"/>
    </message>
    <message name="GetTextResponse">
        <part name="RecText" type="xsd:string"/>
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="UpdValidateAddressRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressID" type="xsd:long"/>
        <part name="IsValidated" type="xsd:string"/>
    </message>
    <message name="UpdValidateAddressResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="IsDefaultAddressTypeIDRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="AddressTypeID" type="xsd:long"/>
    </message>
    <message name="IsDefaultAddressTypeIDResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="IsDefaultCountryIDRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="CountryID" type="xsd:long"/>
    </message>
    <message name="IsDefaultCountryIDResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="IsDefaultTitleIDRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="TitleID" type="xsd:long"/>
    </message>
    <message name="IsDefaultTitleIDResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <message name="IsDefaultSalutationIDRequest">
        <part name="ApplicID" type="xsd:long"/>
        <part name="SalutationID" type="xsd:long"/>
    </message>
    <message name="IsDefaultSalutationIDResponse">
        <part name="Return" type="xsd:string"/>
    </message>
    <portType name="CAddress.caddressPortType">
        <operation name="Ping">
            <input message="tns:PingRequest"/>
            <output message="tns:PingResponse"/>
        </operation>
        <operation name="GetNumAddress">
            <input message="tns:GetNumAddressRequest"/>
            <output message="tns:GetNumAddressResponse"/>
        </operation>
        <operation name="SearchAddress">
            <input message="tns:SearchAddressRequest"/>
            <output message="tns:SearchAddressResponse"/>
        </operation>
        <operation name="SearchVisitorAddressTypeID">
            <input message="tns:SearchVisitorAddressTypeIDRequest"/>
            <output message="tns:SearchVisitorAddressTypeIDResponse"/>
        </operation>
        <operation name="SearchTitleID">
            <input message="tns:SearchTitleIDRequest"/>
            <output message="tns:SearchTitleIDResponse"/>
        </operation>
        <operation name="SearchCountryID">
            <input message="tns:SearchCountryIDRequest"/>
            <output message="tns:SearchCountryIDResponse"/>
        </operation>
        <operation name="SearchAddressTypeID">
            <input message="tns:SearchAddressTypeIDRequest"/>
            <output message="tns:SearchAddressTypeIDResponse"/>
        </operation>
        <operation name="SearchEmailAddress">
            <input message="tns:SearchEmailAddressRequest"/>
            <output message="tns:SearchEmailAddressResponse"/>
        </operation>
        <operation name="GetDefaultEmailAddress">
            <input message="tns:GetDefaultEmailAddressRequest"/>
            <output message="tns:GetDefaultEmailAddressResponse"/>
        </operation>
        <operation name="SearchReference">
            <input message="tns:SearchReferenceRequest"/>
            <output message="tns:SearchReferenceResponse"/>
        </operation>
        <operation name="SearchTelephone">
            <input message="tns:SearchTelephoneRequest"/>
            <output message="tns:SearchTelephoneResponse"/>
        </operation>
        <operation name="SearchLocality">
            <input message="tns:SearchLocalityRequest"/>
            <output message="tns:SearchLocalityResponse"/>
        </operation>
        <operation name="SearchTown">
            <input message="tns:SearchTownRequest"/>
            <output message="tns:SearchTownResponse"/>
        </operation>
        <operation name="SearchPostalCode">
            <input message="tns:SearchPostalCodeRequest"/>
            <output message="tns:SearchPostalCodeResponse"/>
        </operation>
        <operation name="SearchCreated">
            <input message="tns:SearchCreatedRequest"/>
            <output message="tns:SearchCreatedResponse"/>
        </operation>
        <operation name="SearchVisitorAddress">
            <input message="tns:SearchVisitorAddressRequest"/>
            <output message="tns:SearchVisitorAddressResponse"/>
        </operation>
        <operation name="GetDefaultAddress">
            <input message="tns:GetDefaultAddressRequest"/>
            <output message="tns:GetDefaultAddressResponse"/>
        </operation>
        <operation name="GetAddress">
            <input message="tns:GetAddressRequest"/>
            <output message="tns:GetAddressResponse"/>
        </operation>
        <operation name="SetDefaultAddress">
            <input message="tns:SetDefaultAddressRequest"/>
            <output message="tns:SetDefaultAddressResponse"/>
        </operation>
        <operation name="UpdAddress">
            <input message="tns:UpdAddressRequest"/>
            <output message="tns:UpdAddressResponse"/>
        </operation>
        <operation name="NewAddress">
            <input message="tns:NewAddressRequest"/>
            <output message="tns:NewAddressResponse"/>
        </operation>
        <operation name="DelAddress">
            <input message="tns:DelAddressRequest"/>
            <output message="tns:DelAddressResponse"/>
        </operation>
        <operation name="LookupGetAddressType">
            <input message="tns:LookupGetAddressTypeRequest"/>
            <output message="tns:LookupGetAddressTypeResponse"/>
        </operation>
        <operation name="LookupGetCountry">
            <input message="tns:LookupGetCountryRequest"/>
            <output message="tns:LookupGetCountryResponse"/>
        </operation>
        <operation name="LookupGetTitle">
            <input message="tns:LookupGetTitleRequest"/>
            <output message="tns:LookupGetTitleResponse"/>
        </operation>
        <operation name="LookupGetSalutation">
            <input message="tns:LookupGetSalutationRequest"/>
            <output message="tns:LookupGetSalutationResponse"/>
        </operation>
        <operation name="IsValidSalutationID">
            <input message="tns:IsValidSalutationIDRequest"/>
            <output message="tns:IsValidSalutationIDResponse"/>
        </operation>
        <operation name="IsValidTitleID">
            <input message="tns:IsValidTitleIDRequest"/>
            <output message="tns:IsValidTitleIDResponse"/>
        </operation>
        <operation name="IsValidAddressTypeID">
            <input message="tns:IsValidAddressTypeIDRequest"/>
            <output message="tns:IsValidAddressTypeIDResponse"/>
        </operation>
        <operation name="IsValidCountryID">
            <input message="tns:IsValidCountryIDRequest"/>
            <output message="tns:IsValidCountryIDResponse"/>
        </operation>
        <operation name="IsValidEmailAddress">
            <input message="tns:IsValidEmailAddressRequest"/>
            <output message="tns:IsValidEmailAddressResponse"/>
        </operation>
        <operation name="LookupNewTitle">
            <input message="tns:LookupNewTitleRequest"/>
            <output message="tns:LookupNewTitleResponse"/>
        </operation>
        <operation name="LookupDelTitle">
            <input message="tns:LookupDelTitleRequest"/>
            <output message="tns:LookupDelTitleResponse"/>
        </operation>
        <operation name="LookupUpdTitle">
            <input message="tns:LookupUpdTitleRequest"/>
            <output message="tns:LookupUpdTitleResponse"/>
        </operation>
        <operation name="LookupNewCountry">
            <input message="tns:LookupNewCountryRequest"/>
            <output message="tns:LookupNewCountryResponse"/>
        </operation>
        <operation name="LookupDelCountry">
            <input message="tns:LookupDelCountryRequest"/>
            <output message="tns:LookupDelCountryResponse"/>
        </operation>
        <operation name="LookupUpdCountry">
            <input message="tns:LookupUpdCountryRequest"/>
            <output message="tns:LookupUpdCountryResponse"/>
        </operation>
        <operation name="LookupNewSalutation">
            <input message="tns:LookupNewSalutationRequest"/>
            <output message="tns:LookupNewSalutationResponse"/>
        </operation>
        <operation name="LookupDelSalutation">
            <input message="tns:LookupDelSalutationRequest"/>
            <output message="tns:LookupDelSalutationResponse"/>
        </operation>
        <operation name="LookupUpdSalutation">
            <input message="tns:LookupUpdSalutationRequest"/>
            <output message="tns:LookupUpdSalutationResponse"/>
        </operation>
        <operation name="LookupNewAddressType">
            <input message="tns:LookupNewAddressTypeRequest"/>
            <output message="tns:LookupNewAddressTypeResponse"/>
        </operation>
        <operation name="LookupDelAddressType">
            <input message="tns:LookupDelAddressTypeRequest"/>
            <output message="tns:LookupDelAddressTypeResponse"/>
        </operation>
        <operation name="LookupUpdAddressType">
            <input message="tns:LookupUpdAddressTypeRequest"/>
            <output message="tns:LookupUpdAddressTypeResponse"/>
        </operation>
        <operation name="LookupLinkDefaultAddressType">
            <input message="tns:LookupLinkDefaultAddressTypeRequest"/>
            <output message="tns:LookupLinkDefaultAddressTypeResponse"/>
        </operation>
        <operation name="LookupGetDefaultAddressType">
            <input message="tns:LookupGetDefaultAddressTypeRequest"/>
            <output message="tns:LookupGetDefaultAddressTypeResponse"/>
        </operation>
        <operation name="LookupGetDefaultTitle">
            <input message="tns:LookupGetDefaultTitleRequest"/>
            <output message="tns:LookupGetDefaultTitleResponse"/>
        </operation>
        <operation name="LookupGetDefaultCountry">
            <input message="tns:LookupGetDefaultCountryRequest"/>
            <output message="tns:LookupGetDefaultCountryResponse"/>
        </operation>
        <operation name="LookupGetDefaultSalutation">
            <input message="tns:LookupGetDefaultSalutationRequest"/>
            <output message="tns:LookupGetDefaultSalutationResponse"/>
        </operation>
        <operation name="LookupLinkDefaultCountry">
            <input message="tns:LookupLinkDefaultCountryRequest"/>
            <output message="tns:LookupLinkDefaultCountryResponse"/>
        </operation>
        <operation name="LookupLinkDefaultTitle">
            <input message="tns:LookupLinkDefaultTitleRequest"/>
            <output message="tns:LookupLinkDefaultTitleResponse"/>
        </operation>
        <operation name="LookupLinkDefaultSalutation">
            <input message="tns:LookupLinkDefaultSalutationRequest"/>
            <output message="tns:LookupLinkDefaultSalutationResponse"/>
        </operation>
        <operation name="GetAllAddress">
            <input message="tns:GetAllAddressRequest"/>
            <output message="tns:GetAllAddressResponse"/>
        </operation>
        <operation name="NewText">
            <input message="tns:NewTextRequest"/>
            <output message="tns:NewTextResponse"/>
        </operation>
        <operation name="DelText">
            <input message="tns:DelTextRequest"/>
            <output message="tns:DelTextResponse"/>
        </operation>
        <operation name="LinkText">
            <input message="tns:LinkTextRequest"/>
            <output message="tns:LinkTextResponse"/>
        </operation>
        <operation name="UnLinkText">
            <input message="tns:UnLinkTextRequest"/>
            <output message="tns:UnLinkTextResponse"/>
        </operation>
        <operation name="SearchTextByAddressID">
            <input message="tns:SearchTextByAddressIDRequest"/>
            <output message="tns:SearchTextByAddressIDResponse"/>
        </operation>
        <operation name="UpdText">
            <input message="tns:UpdTextRequest"/>
            <output message="tns:UpdTextResponse"/>
        </operation>
        <operation name="GetText">
            <input message="tns:GetTextRequest"/>
            <output message="tns:GetTextResponse"/>
        </operation>
        <operation name="UpdValidateAddress">
            <input message="tns:UpdValidateAddressRequest"/>
            <output message="tns:UpdValidateAddressResponse"/>
        </operation>
        <operation name="IsDefaultAddressTypeID">
            <input message="tns:IsDefaultAddressTypeIDRequest"/>
            <output message="tns:IsDefaultAddressTypeIDResponse"/>
        </operation>
        <operation name="IsDefaultCountryID">
            <input message="tns:IsDefaultCountryIDRequest"/>
            <output message="tns:IsDefaultCountryIDResponse"/>
        </operation>
        <operation name="IsDefaultTitleID">
            <input message="tns:IsDefaultTitleIDRequest"/>
            <output message="tns:IsDefaultTitleIDResponse"/>
        </operation>
        <operation name="IsDefaultSalutationID">
            <input message="tns:IsDefaultSalutationIDRequest"/>
            <output message="tns:IsDefaultSalutationIDResponse"/>
        </operation>
    </portType>
    <binding name="CAddress.caddressbinding" type="tns:CAddress.caddressPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Ping">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#Ping"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="GetNumAddress">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#GetNumAddress"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SearchAddress">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SearchAddress"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SearchVisitorAddressTypeID">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SearchVisitorAddressTypeID"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SearchTitleID">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SearchTitleID"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SearchCountryID">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SearchCountryID"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SearchAddressTypeID">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SearchAddressTypeID"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SearchEmailAddress">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SearchEmailAddress"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="GetDefaultEmailAddress">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#GetDefaultEmailAddress"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SearchReference">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SearchReference"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SearchTelephone">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SearchTelephone"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SearchLocality">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SearchLocality"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SearchTown">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SearchTown"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SearchPostalCode">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SearchPostalCode"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SearchCreated">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SearchCreated"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SearchVisitorAddress">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SearchVisitorAddress"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="GetDefaultAddress">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#GetDefaultAddress"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="GetAddress">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#GetAddress"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SetDefaultAddress">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SetDefaultAddress"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="UpdAddress">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#UpdAddress"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="NewAddress">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#NewAddress"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="DelAddress">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#DelAddress"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupGetAddressType">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupGetAddressType"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupGetCountry">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupGetCountry"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupGetTitle">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupGetTitle"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupGetSalutation">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupGetSalutation"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="IsValidSalutationID">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#IsValidSalutationID"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="IsValidTitleID">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#IsValidTitleID"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="IsValidAddressTypeID">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#IsValidAddressTypeID"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="IsValidCountryID">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#IsValidCountryID"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="IsValidEmailAddress">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#IsValidEmailAddress"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupNewTitle">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupNewTitle"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupDelTitle">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupDelTitle"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupUpdTitle">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupUpdTitle"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupNewCountry">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupNewCountry"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupDelCountry">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupDelCountry"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupUpdCountry">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupUpdCountry"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupNewSalutation">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupNewSalutation"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupDelSalutation">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupDelSalutation"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupUpdSalutation">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupUpdSalutation"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupNewAddressType">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupNewAddressType"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupDelAddressType">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupDelAddressType"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupUpdAddressType">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupUpdAddressType"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupLinkDefaultAddressType">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupLinkDefaultAddressType"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupGetDefaultAddressType">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupGetDefaultAddressType"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupGetDefaultTitle">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupGetDefaultTitle"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupGetDefaultCountry">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupGetDefaultCountry"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupGetDefaultSalutation">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupGetDefaultSalutation"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupLinkDefaultCountry">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupLinkDefaultCountry"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupLinkDefaultTitle">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupLinkDefaultTitle"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LookupLinkDefaultSalutation">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LookupLinkDefaultSalutation"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="GetAllAddress">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#GetAllAddress"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="NewText">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#NewText"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="DelText">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#DelText"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="LinkText">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#LinkText"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="UnLinkText">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#UnLinkText"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SearchTextByAddressID">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#SearchTextByAddressID"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="UpdText">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#UpdText"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="GetText">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#GetText"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="UpdValidateAddress">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#UpdValidateAddress"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="IsDefaultAddressTypeID">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#IsDefaultAddressTypeID"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="IsDefaultCountryID">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#IsDefaultCountryID"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="IsDefaultTitleID">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#IsDefaultTitleID"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="IsDefaultSalutationID">
        <soap:operation soapAction="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml#IsDefaultSalutationID"/>
            <input>
                <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
            <soap:body use="encoded" namespace="http://sal006.salnetwork.com:83/userman/CAddress/CAddress.xml" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="CAddress.caddressService">
        <port name="CAddress.caddressPort" binding="tns:CAddress.caddressbinding">
            <soap:address location="http://sal006.salnetwork.com:82/bin/salacc.cgi"/>
        </port>
    </service>
</definitions>