WebServiceDataset/money/bank/stock/service16.Stock.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="GetQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="symbol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuoteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="GetQuoteSoapIn">
    <part name="parameters" element="s0:GetQuote" />
  </message>
  <message name="GetQuoteSoapOut">
    <part name="parameters" element="s0:GetQuoteResponse" />
  </message>
  <message name="GetQuoteHttpGetIn">
    <part name="symbol" type="s:string" />
  </message>
  <message name="GetQuoteHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetQuoteHttpPostIn">
    <part name="symbol" type="s:string" />
  </message>
  <message name="GetQuoteHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="StockQuoteSoap">
    <operation name="GetQuote">
      <documentation>Get Stock quote for a company Symbol</documentation>
      <input message="s0:GetQuoteSoapIn" />
      <output message="s0:GetQuoteSoapOut" />
    </operation>
  </portType>
  <portType name="StockQuoteHttpGet">
    <operation name="GetQuote">
      <documentation>Get Stock quote for a company Symbol</documentation>
      <input message="s0:GetQuoteHttpGetIn" />
      <output message="s0:GetQuoteHttpGetOut" />
    </operation>
  </portType>
  <portType name="StockQuoteHttpPost">
    <operation name="GetQuote">
      <documentation>Get Stock quote for a company Symbol</documentation>
      <input message="s0:GetQuoteHttpPostIn" />
      <output message="s0:GetQuoteHttpPostOut" />
    </operation>
  </portType>
  <binding name="StockQuoteSoap" type="s0:StockQuoteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetQuote">
      <soap:operation soapAction="http://www.webserviceX.NET/GetQuote" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="StockQuoteHttpGet" type="s0:StockQuoteHttpGet">
    <http:binding verb="GET" />
    <operation name="GetQuote">
      <http:operation location="/GetQuote" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="StockQuoteHttpPost" type="s0:StockQuoteHttpPost">
    <http:binding verb="POST" />
    <operation name="GetQuote">
      <http:operation location="/GetQuote" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="StockQuote">
    <port name="StockQuoteSoap" binding="s0:StockQuoteSoap">
      <soap:address location="http://www.webservicex.net/stockquote.asmx" />
    </port>
    <port name="StockQuoteHttpGet" binding="s0:StockQuoteHttpGet">
      <http:address location="http://www.webservicex.net/stockquote.asmx" />
    </port>
    <port name="StockQuoteHttpPost" binding="s0:StockQuoteHttpPost">
      <http:address location="http://www.webservicex.net/stockquote.asmx" />
    </port>
  </service>
</definitions>