WebServiceDataset/money/bank/stock/service9.Stock.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="CurrencyConvertor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CurrencyConvertorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyConvertorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DomainSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DomainExtension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DomainSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainSearchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorldCupFootball">
        <s:complexType />
      </s:element>
      <s:element name="WorldCupFootballResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorldCupFootballResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Zodiac">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SunSign" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZodiacResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZodiacResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AmazonBookList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ISBN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AmazonBookListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AmazonBookListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NasdaqStockQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NasdaqStockQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NasdaqStockQuoteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MSNBCWeather">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MSNBCWeatherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MSNBCWeatherResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="CurrencyConvertorSoapIn">
    <part name="parameters" element="s0:CurrencyConvertor" />
  </message>
  <message name="CurrencyConvertorSoapOut">
    <part name="parameters" element="s0:CurrencyConvertorResponse" />
  </message>
  <message name="DomainSearchSoapIn">
    <part name="parameters" element="s0:DomainSearch" />
  </message>
  <message name="DomainSearchSoapOut">
    <part name="parameters" element="s0:DomainSearchResponse" />
  </message>
  <message name="WorldCupFootballSoapIn">
    <part name="parameters" element="s0:WorldCupFootball" />
  </message>
  <message name="WorldCupFootballSoapOut">
    <part name="parameters" element="s0:WorldCupFootballResponse" />
  </message>
  <message name="ZodiacSoapIn">
    <part name="parameters" element="s0:Zodiac" />
  </message>
  <message name="ZodiacSoapOut">
    <part name="parameters" element="s0:ZodiacResponse" />
  </message>
  <message name="AmazonBookListSoapIn">
    <part name="parameters" element="s0:AmazonBookList" />
  </message>
  <message name="AmazonBookListSoapOut">
    <part name="parameters" element="s0:AmazonBookListResponse" />
  </message>
  <message name="NasdaqStockQuoteSoapIn">
    <part name="parameters" element="s0:NasdaqStockQuote" />
  </message>
  <message name="NasdaqStockQuoteSoapOut">
    <part name="parameters" element="s0:NasdaqStockQuoteResponse" />
  </message>
  <message name="MSNBCWeatherSoapIn">
    <part name="parameters" element="s0:MSNBCWeather" />
  </message>
  <message name="MSNBCWeatherSoapOut">
    <part name="parameters" element="s0:MSNBCWeatherResponse" />
  </message>
  <message name="CurrencyConvertorHttpGetIn">
    <part name="CurrencyFrom" type="s:string" />
    <part name="CurrencyTo" type="s:string" />
    <part name="Amount" type="s:string" />
  </message>
  <message name="CurrencyConvertorHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="DomainSearchHttpGetIn">
    <part name="DomainName" type="s:string" />
    <part name="DomainExtension" type="s:string" />
  </message>
  <message name="DomainSearchHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="WorldCupFootballHttpGetIn" />
  <message name="WorldCupFootballHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ZodiacHttpGetIn">
    <part name="SunSign" type="s:string" />
  </message>
  <message name="ZodiacHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="AmazonBookListHttpGetIn">
    <part name="ISBN" type="s:string" />
  </message>
  <message name="AmazonBookListHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="NasdaqStockQuoteHttpGetIn">
    <part name="Symbol" type="s:string" />
  </message>
  <message name="NasdaqStockQuoteHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="MSNBCWeatherHttpGetIn">
    <part name="ZipCode" type="s:string" />
  </message>
  <message name="MSNBCWeatherHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="CurrencyConvertorHttpPostIn">
    <part name="CurrencyFrom" type="s:string" />
    <part name="CurrencyTo" type="s:string" />
    <part name="Amount" type="s:string" />
  </message>
  <message name="CurrencyConvertorHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="DomainSearchHttpPostIn">
    <part name="DomainName" type="s:string" />
    <part name="DomainExtension" type="s:string" />
  </message>
  <message name="DomainSearchHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="WorldCupFootballHttpPostIn" />
  <message name="WorldCupFootballHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ZodiacHttpPostIn">
    <part name="SunSign" type="s:string" />
  </message>
  <message name="ZodiacHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="AmazonBookListHttpPostIn">
    <part name="ISBN" type="s:string" />
  </message>
  <message name="AmazonBookListHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="NasdaqStockQuoteHttpPostIn">
    <part name="Symbol" type="s:string" />
  </message>
  <message name="NasdaqStockQuoteHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="MSNBCWeatherHttpPostIn">
    <part name="ZipCode" type="s:string" />
  </message>
  <message name="MSNBCWeatherHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="netForceSoap">
    <operation name="CurrencyConvertor">
      <input message="s0:CurrencyConvertorSoapIn" />
      <output message="s0:CurrencyConvertorSoapOut" />
    </operation>
    <operation name="DomainSearch">
      <input message="s0:DomainSearchSoapIn" />
      <output message="s0:DomainSearchSoapOut" />
    </operation>
    <operation name="WorldCupFootball">
      <input message="s0:WorldCupFootballSoapIn" />
      <output message="s0:WorldCupFootballSoapOut" />
    </operation>
    <operation name="Zodiac">
      <input message="s0:ZodiacSoapIn" />
      <output message="s0:ZodiacSoapOut" />
    </operation>
    <operation name="AmazonBookList">
      <input message="s0:AmazonBookListSoapIn" />
      <output message="s0:AmazonBookListSoapOut" />
    </operation>
    <operation name="NasdaqStockQuote">
      <input message="s0:NasdaqStockQuoteSoapIn" />
      <output message="s0:NasdaqStockQuoteSoapOut" />
    </operation>
    <operation name="MSNBCWeather">
      <input message="s0:MSNBCWeatherSoapIn" />
      <output message="s0:MSNBCWeatherSoapOut" />
    </operation>
  </portType>
  <portType name="netForceHttpGet">
    <operation name="CurrencyConvertor">
      <input message="s0:CurrencyConvertorHttpGetIn" />
      <output message="s0:CurrencyConvertorHttpGetOut" />
    </operation>
    <operation name="DomainSearch">
      <input message="s0:DomainSearchHttpGetIn" />
      <output message="s0:DomainSearchHttpGetOut" />
    </operation>
    <operation name="WorldCupFootball">
      <input message="s0:WorldCupFootballHttpGetIn" />
      <output message="s0:WorldCupFootballHttpGetOut" />
    </operation>
    <operation name="Zodiac">
      <input message="s0:ZodiacHttpGetIn" />
      <output message="s0:ZodiacHttpGetOut" />
    </operation>
    <operation name="AmazonBookList">
      <input message="s0:AmazonBookListHttpGetIn" />
      <output message="s0:AmazonBookListHttpGetOut" />
    </operation>
    <operation name="NasdaqStockQuote">
      <input message="s0:NasdaqStockQuoteHttpGetIn" />
      <output message="s0:NasdaqStockQuoteHttpGetOut" />
    </operation>
    <operation name="MSNBCWeather">
      <input message="s0:MSNBCWeatherHttpGetIn" />
      <output message="s0:MSNBCWeatherHttpGetOut" />
    </operation>
  </portType>
  <portType name="netForceHttpPost">
    <operation name="CurrencyConvertor">
      <input message="s0:CurrencyConvertorHttpPostIn" />
      <output message="s0:CurrencyConvertorHttpPostOut" />
    </operation>
    <operation name="DomainSearch">
      <input message="s0:DomainSearchHttpPostIn" />
      <output message="s0:DomainSearchHttpPostOut" />
    </operation>
    <operation name="WorldCupFootball">
      <input message="s0:WorldCupFootballHttpPostIn" />
      <output message="s0:WorldCupFootballHttpPostOut" />
    </operation>
    <operation name="Zodiac">
      <input message="s0:ZodiacHttpPostIn" />
      <output message="s0:ZodiacHttpPostOut" />
    </operation>
    <operation name="AmazonBookList">
      <input message="s0:AmazonBookListHttpPostIn" />
      <output message="s0:AmazonBookListHttpPostOut" />
    </operation>
    <operation name="NasdaqStockQuote">
      <input message="s0:NasdaqStockQuoteHttpPostIn" />
      <output message="s0:NasdaqStockQuoteHttpPostOut" />
    </operation>
    <operation name="MSNBCWeather">
      <input message="s0:MSNBCWeatherHttpPostIn" />
      <output message="s0:MSNBCWeatherHttpPostOut" />
    </operation>
  </portType>
  <binding name="netForceSoap" type="s0:netForceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="CurrencyConvertor">
      <soap:operation soapAction="http://tempuri.org/CurrencyConvertor" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DomainSearch">
      <soap:operation soapAction="http://tempuri.org/DomainSearch" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="WorldCupFootball">
      <soap:operation soapAction="http://tempuri.org/WorldCupFootball" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Zodiac">
      <soap:operation soapAction="http://tempuri.org/Zodiac" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AmazonBookList">
      <soap:operation soapAction="http://tempuri.org/AmazonBookList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="NasdaqStockQuote">
      <soap:operation soapAction="http://tempuri.org/NasdaqStockQuote" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="MSNBCWeather">
      <soap:operation soapAction="http://tempuri.org/MSNBCWeather" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="netForceHttpGet" type="s0:netForceHttpGet">
    <http:binding verb="GET" />
    <operation name="CurrencyConvertor">
      <http:operation location="/CurrencyConvertor" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DomainSearch">
      <http:operation location="/DomainSearch" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="WorldCupFootball">
      <http:operation location="/WorldCupFootball" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Zodiac">
      <http:operation location="/Zodiac" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AmazonBookList">
      <http:operation location="/AmazonBookList" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="NasdaqStockQuote">
      <http:operation location="/NasdaqStockQuote" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="MSNBCWeather">
      <http:operation location="/MSNBCWeather" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="netForceHttpPost" type="s0:netForceHttpPost">
    <http:binding verb="POST" />
    <operation name="CurrencyConvertor">
      <http:operation location="/CurrencyConvertor" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DomainSearch">
      <http:operation location="/DomainSearch" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="WorldCupFootball">
      <http:operation location="/WorldCupFootball" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Zodiac">
      <http:operation location="/Zodiac" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AmazonBookList">
      <http:operation location="/AmazonBookList" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="NasdaqStockQuote">
      <http:operation location="/NasdaqStockQuote" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="MSNBCWeather">
      <http:operation location="/MSNBCWeather" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="netForce">
    <port name="netForceSoap" binding="s0:netForceSoap">
      <soap:address location="http://www.dotnetforce.com/netforce.asmx" />
    </port>
    <port name="netForceHttpGet" binding="s0:netForceHttpGet">
      <http:address location="http://www.dotnetforce.com/netforce.asmx" />
    </port>
    <port name="netForceHttpPost" binding="s0:netForceHttpPost">
      <http:address location="http://www.dotnetforce.com/netforce.asmx" />
    </port>
  </service>
</definitions>