WebServiceDataset/datamanagement/service2.Files.wsdl

<?xml version="1.0"?>
<definitions name="XMethodsFilesystemService" targetNamespace="http://www.xmethods.net/sd/XMethodsFilesystemService.wsdl"  xmlns:tns="http://www.xmethods.net/sd/XMethodsFilesystemService.wsdl"  xmlns:xsd="http://www.w3.org/1999/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<message name="readFileRequest1">
		<part name="userid" type="xsd:string"/>
		<part name="filename" type="xsd:string"/>
	</message>
	<message name="readFileRequest2">
		<part name="userid" type="xsd:string"/>
		<part name="filename" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
	</message>
	<message name="readFileResponse">
		<part name="return" type="xsd:string"/>
	</message>
	<message name="writeFileRequest1">
		<part name="userid" type="xsd:string"/>
		<part name="filedata" type="xsd:string"/>
		<part name="filename" type="xsd:string"/>
	</message>
	<message name="writeFileRequest2">
		<part name="userid" type="xsd:string"/>
		<part name="filedata" type="xsd:string"/>
		<part name="filename" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
	</message>
	<message name="writeFileResponse">
		<part name="return" type="xsd:string"/>
	</message>
	<message name="removeFileRequest1">
		<part name="userid" type="xsd:string"/>
		<part name="filename" type="xsd:string"/>
	</message>
	<message name="removeFileRequest2">
		<part name="userid" type="xsd:string"/>
		<part name="filename" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
	</message>
	<message name="removeFileResponse">
		<part name="return" type="xsd:string"/>
	</message>
	<message name="listFilesRequest">
		<part name="userid" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
	</message>
	<message name="listFilesResponse">
		<part name="return" type="xsd:string"/>
	</message>
	<portType name="XMethodsFilesystemPortType">
		<operation name="readFile">
			<input message="tns:readFileRequest1" name="readFileRequest1"/>
			<output message="tns:readFileResponse"/>
		</operation>
		<operation name="readFile">
			<input message="tns:readFileRequest2" name="readFileRequest2"/>
			<output message="tns:readFileResponse"/>
		</operation>
		<operation name="writeFile">
			<input message="tns:writeFileRequest1" name="writeFileRequest1"/>
			<output message="tns:writeFileResponse"/>
		</operation>
		<operation name="writeFile">
			<input message="tns:writeFileRequest2" name="writeFileRequest2"/>
			<output message="tns:writeFileResponse"/>
		</operation>
		<operation name="removeFile">
			<input message="tns:removeFileRequest1" name="removeFileRequest1"/>
			<output message="tns:removeFileResponse"/>
		</operation>
		<operation name="removeFile">
			<input message="tns:removeFileRequest2" name="removeFileRequest2"/>
			<output message="tns:removeFileResponse"/>
		</operation>
		<operation name="listFiles">
			<input message="tns:listFilesRequest"/>
			<output message="tns:listFilesResponse"/>
		</operation>
	</portType>
	<binding name="XMethodsFilesystemBinding" type="tns:XMethodsFilesystemPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="readFile">
			<soap:operation soapAction=""/>
			<input name="readFileRequest1">
				<soap:body use="encoded" namespace="urn:xmethodsXFS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:xmethodsXFS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="readFile">
			<soap:operation soapAction=""/>
			<input name="readFileRequest2">
				<soap:body use="encoded" namespace="urn:xmethodsXFS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:xmethodsXFS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="writeFile">
			<soap:operation soapAction=""/>
			<input name="writeFileRequest1">
				<soap:body use="encoded" namespace="urn:xmethodsXFS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:xmethodsXFS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="writeFile">
			<soap:operation soapAction=""/>
			<input name="writeFileRequest2">
				<soap:body use="encoded" namespace="urn:xmethodsXFS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:xmethodsXFS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="removeFile">
			<soap:operation soapAction=""/>
			<input name="removeFileRequest1">
				<soap:body use="encoded" namespace="urn:xmethodsXFS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:xmethodsXFS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="removeFile">
			<soap:operation soapAction=""/>
			<input name="removeFileRequest2">
				<soap:body use="encoded" namespace="urn:xmethodsXFS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:xmethodsXFS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="listFiles">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="encoded" namespace="urn:xmethodsXFS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:xmethodsXFS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="XMethodsFilesystemService">
		<documentation>Provides read, write, delete and list access to XFS</documentation>
		<port name="XMethodsFilesystemPort" binding="tns:XMethodsFilesystemBinding">
			<soap:address location="http://services.xmethods.net:80/soap/servlet/rpcrouter"/>
		</port>
	</service>
</definitions>
