WebServiceDataset/datamanagement/service31.Utility.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.mymsevents.com/services/reportingservices" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.mymsevents.com/services/reportingservices" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.mymsevents.com/services/reportingservices">
      <s:element name="GetEvents">
        <s:complexType />
      </s:element>
      <s:element name="GetEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListReports">
        <s:complexType />
      </s:element>
      <s:element name="ListReportsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListReportsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strReport_Code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lngEventID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportByCodeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportByReportID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngReportID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="lngEventID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportByReportIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportByReportIDResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetEventsSoapIn">
    <part name="parameters" element="s0:GetEvents" />
  </message>
  <message name="GetEventsSoapOut">
    <part name="parameters" element="s0:GetEventsResponse" />
  </message>
  <message name="ListReportsSoapIn">
    <part name="parameters" element="s0:ListReports" />
  </message>
  <message name="ListReportsSoapOut">
    <part name="parameters" element="s0:ListReportsResponse" />
  </message>
  <message name="GetReportByCodeSoapIn">
    <part name="parameters" element="s0:GetReportByCode" />
  </message>
  <message name="GetReportByCodeSoapOut">
    <part name="parameters" element="s0:GetReportByCodeResponse" />
  </message>
  <message name="GetReportByReportIDSoapIn">
    <part name="parameters" element="s0:GetReportByReportID" />
  </message>
  <message name="GetReportByReportIDSoapOut">
    <part name="parameters" element="s0:GetReportByReportIDResponse" />
  </message>
  <message name="GetEventsHttpGetIn" />
  <message name="GetEventsHttpGetOut">
    <part name="Body" />
  </message>
  <message name="ListReportsHttpGetIn" />
  <message name="ListReportsHttpGetOut">
    <part name="Body" />
  </message>
  <message name="GetReportByCodeHttpGetIn">
    <part name="strReport_Code" type="s:string" />
    <part name="lngEventID" type="s:string" />
  </message>
  <message name="GetReportByCodeHttpGetOut">
    <part name="Body" />
  </message>
  <message name="GetReportByReportIDHttpGetIn">
    <part name="lngReportID" type="s:string" />
    <part name="lngEventID" type="s:string" />
  </message>
  <message name="GetReportByReportIDHttpGetOut">
    <part name="Body" />
  </message>
  <message name="GetEventsHttpPostIn" />
  <message name="GetEventsHttpPostOut">
    <part name="Body" />
  </message>
  <message name="ListReportsHttpPostIn" />
  <message name="ListReportsHttpPostOut">
    <part name="Body" />
  </message>
  <message name="GetReportByCodeHttpPostIn">
    <part name="strReport_Code" type="s:string" />
    <part name="lngEventID" type="s:string" />
  </message>
  <message name="GetReportByCodeHttpPostOut">
    <part name="Body" />
  </message>
  <message name="GetReportByReportIDHttpPostIn">
    <part name="lngReportID" type="s:string" />
    <part name="lngEventID" type="s:string" />
  </message>
  <message name="GetReportByReportIDHttpPostOut">
    <part name="Body" />
  </message>
  <portType name="GetReportsSoap">
    <operation name="GetEvents">
      <input message="s0:GetEventsSoapIn" />
      <output message="s0:GetEventsSoapOut" />
    </operation>
    <operation name="ListReports">
      <input message="s0:ListReportsSoapIn" />
      <output message="s0:ListReportsSoapOut" />
    </operation>
    <operation name="GetReportByCode">
      <input message="s0:GetReportByCodeSoapIn" />
      <output message="s0:GetReportByCodeSoapOut" />
    </operation>
    <operation name="GetReportByReportID">
      <input message="s0:GetReportByReportIDSoapIn" />
      <output message="s0:GetReportByReportIDSoapOut" />
    </operation>
  </portType>
  <portType name="GetReportsHttpGet">
    <operation name="GetEvents">
      <input message="s0:GetEventsHttpGetIn" />
      <output message="s0:GetEventsHttpGetOut" />
    </operation>
    <operation name="ListReports">
      <input message="s0:ListReportsHttpGetIn" />
      <output message="s0:ListReportsHttpGetOut" />
    </operation>
    <operation name="GetReportByCode">
      <input message="s0:GetReportByCodeHttpGetIn" />
      <output message="s0:GetReportByCodeHttpGetOut" />
    </operation>
    <operation name="GetReportByReportID">
      <input message="s0:GetReportByReportIDHttpGetIn" />
      <output message="s0:GetReportByReportIDHttpGetOut" />
    </operation>
  </portType>
  <portType name="GetReportsHttpPost">
    <operation name="GetEvents">
      <input message="s0:GetEventsHttpPostIn" />
      <output message="s0:GetEventsHttpPostOut" />
    </operation>
    <operation name="ListReports">
      <input message="s0:ListReportsHttpPostIn" />
      <output message="s0:ListReportsHttpPostOut" />
    </operation>
    <operation name="GetReportByCode">
      <input message="s0:GetReportByCodeHttpPostIn" />
      <output message="s0:GetReportByCodeHttpPostOut" />
    </operation>
    <operation name="GetReportByReportID">
      <input message="s0:GetReportByReportIDHttpPostIn" />
      <output message="s0:GetReportByReportIDHttpPostOut" />
    </operation>
  </portType>
  <binding name="GetReportsSoap" type="s0:GetReportsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetEvents">
      <soap:operation soapAction="http://www.mymsevents.com/services/reportingservices/GetEvents" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListReports">
      <soap:operation soapAction="http://www.mymsevents.com/services/reportingservices/ListReports" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetReportByCode">
      <soap:operation soapAction="http://www.mymsevents.com/services/reportingservices/GetReportByCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetReportByReportID">
      <soap:operation soapAction="http://www.mymsevents.com/services/reportingservices/GetReportByReportID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GetReportsHttpGet" type="s0:GetReportsHttpGet">
    <http:binding verb="GET" />
    <operation name="GetEvents">
      <http:operation location="/GetEvents" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="ListReports">
      <http:operation location="/ListReports" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetReportByCode">
      <http:operation location="/GetReportByCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetReportByReportID">
      <http:operation location="/GetReportByReportID" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
  </binding>
  <binding name="GetReportsHttpPost" type="s0:GetReportsHttpPost">
    <http:binding verb="POST" />
    <operation name="GetEvents">
      <http:operation location="/GetEvents" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="ListReports">
      <http:operation location="/ListReports" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetReportByCode">
      <http:operation location="/GetReportByCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetReportByReportID">
      <http:operation location="/GetReportByReportID" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
  </binding>
  <service name="GetReports">
    <port name="GetReportsSoap" binding="s0:GetReportsSoap">
      <soap:address location="http://www.mymsevents.com/Services/ReportingServices/GetReports.asmx" />
    </port>
    <port name="GetReportsHttpGet" binding="s0:GetReportsHttpGet">
      <http:address location="http://www.mymsevents.com/Services/ReportingServices/GetReports.asmx" />
    </port>
    <port name="GetReportsHttpPost" binding="s0:GetReportsHttpPost">
      <http:address location="http://www.mymsevents.com/Services/ReportingServices/GetReports.asmx" />
    </port>
  </service>
</definitions>