WebServiceDataset/converter/dictionary/service20.Specialist.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEEMeaning">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="englishWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEEMeaningResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEEMeaningResult" type="s0:MyResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MyResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Trans" type="s0:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEAMeaning">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="englishWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEAMeaningResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEAMeaningResult" type="s0:MyResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFFMeaning">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="frenchWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFFMeaningResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFFMeaningResult" type="s0:MyResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFAMeaning">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="frenchWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFAMeaningResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFAMeaningResult" type="s0:MyResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MyResult" type="s0:MyResult" />
    </s:schema>
  </types>
  <message name="GetEEMeaningSoapIn">
    <part name="parameters" element="s0:GetEEMeaning" />
  </message>
  <message name="GetEEMeaningSoapOut">
    <part name="parameters" element="s0:GetEEMeaningResponse" />
  </message>
  <message name="GetEAMeaningSoapIn">
    <part name="parameters" element="s0:GetEAMeaning" />
  </message>
  <message name="GetEAMeaningSoapOut">
    <part name="parameters" element="s0:GetEAMeaningResponse" />
  </message>
  <message name="GetFFMeaningSoapIn">
    <part name="parameters" element="s0:GetFFMeaning" />
  </message>
  <message name="GetFFMeaningSoapOut">
    <part name="parameters" element="s0:GetFFMeaningResponse" />
  </message>
  <message name="GetFAMeaningSoapIn">
    <part name="parameters" element="s0:GetFAMeaning" />
  </message>
  <message name="GetFAMeaningSoapOut">
    <part name="parameters" element="s0:GetFAMeaningResponse" />
  </message>
  <message name="GetEEMeaningHttpGetIn">
    <part name="englishWord" type="s:string" />
  </message>
  <message name="GetEEMeaningHttpGetOut">
    <part name="Body" element="s0:MyResult" />
  </message>
  <message name="GetEAMeaningHttpGetIn">
    <part name="englishWord" type="s:string" />
  </message>
  <message name="GetEAMeaningHttpGetOut">
    <part name="Body" element="s0:MyResult" />
  </message>
  <message name="GetFFMeaningHttpGetIn">
    <part name="frenchWord" type="s:string" />
  </message>
  <message name="GetFFMeaningHttpGetOut">
    <part name="Body" element="s0:MyResult" />
  </message>
  <message name="GetFAMeaningHttpGetIn">
    <part name="frenchWord" type="s:string" />
  </message>
  <message name="GetFAMeaningHttpGetOut">
    <part name="Body" element="s0:MyResult" />
  </message>
  <message name="GetEEMeaningHttpPostIn">
    <part name="englishWord" type="s:string" />
  </message>
  <message name="GetEEMeaningHttpPostOut">
    <part name="Body" element="s0:MyResult" />
  </message>
  <message name="GetEAMeaningHttpPostIn">
    <part name="englishWord" type="s:string" />
  </message>
  <message name="GetEAMeaningHttpPostOut">
    <part name="Body" element="s0:MyResult" />
  </message>
  <message name="GetFFMeaningHttpPostIn">
    <part name="frenchWord" type="s:string" />
  </message>
  <message name="GetFFMeaningHttpPostOut">
    <part name="Body" element="s0:MyResult" />
  </message>
  <message name="GetFAMeaningHttpPostIn">
    <part name="frenchWord" type="s:string" />
  </message>
  <message name="GetFAMeaningHttpPostOut">
    <part name="Body" element="s0:MyResult" />
  </message>
  <portType name="dic2Soap">
    <operation name="GetEEMeaning">
      <input message="s0:GetEEMeaningSoapIn" />
      <output message="s0:GetEEMeaningSoapOut" />
    </operation>
    <operation name="GetEAMeaning">
      <input message="s0:GetEAMeaningSoapIn" />
      <output message="s0:GetEAMeaningSoapOut" />
    </operation>
    <operation name="GetFFMeaning">
      <input message="s0:GetFFMeaningSoapIn" />
      <output message="s0:GetFFMeaningSoapOut" />
    </operation>
    <operation name="GetFAMeaning">
      <input message="s0:GetFAMeaningSoapIn" />
      <output message="s0:GetFAMeaningSoapOut" />
    </operation>
  </portType>
  <portType name="dic2HttpGet">
    <operation name="GetEEMeaning">
      <input message="s0:GetEEMeaningHttpGetIn" />
      <output message="s0:GetEEMeaningHttpGetOut" />
    </operation>
    <operation name="GetEAMeaning">
      <input message="s0:GetEAMeaningHttpGetIn" />
      <output message="s0:GetEAMeaningHttpGetOut" />
    </operation>
    <operation name="GetFFMeaning">
      <input message="s0:GetFFMeaningHttpGetIn" />
      <output message="s0:GetFFMeaningHttpGetOut" />
    </operation>
    <operation name="GetFAMeaning">
      <input message="s0:GetFAMeaningHttpGetIn" />
      <output message="s0:GetFAMeaningHttpGetOut" />
    </operation>
  </portType>
  <portType name="dic2HttpPost">
    <operation name="GetEEMeaning">
      <input message="s0:GetEEMeaningHttpPostIn" />
      <output message="s0:GetEEMeaningHttpPostOut" />
    </operation>
    <operation name="GetEAMeaning">
      <input message="s0:GetEAMeaningHttpPostIn" />
      <output message="s0:GetEAMeaningHttpPostOut" />
    </operation>
    <operation name="GetFFMeaning">
      <input message="s0:GetFFMeaningHttpPostIn" />
      <output message="s0:GetFFMeaningHttpPostOut" />
    </operation>
    <operation name="GetFAMeaning">
      <input message="s0:GetFAMeaningHttpPostIn" />
      <output message="s0:GetFAMeaningHttpPostOut" />
    </operation>
  </portType>
  <binding name="dic2Soap" type="s0:dic2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetEEMeaning">
      <soap:operation soapAction="http://tempuri.org/GetEEMeaning" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetEAMeaning">
      <soap:operation soapAction="http://tempuri.org/GetEAMeaning" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFFMeaning">
      <soap:operation soapAction="http://tempuri.org/GetFFMeaning" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFAMeaning">
      <soap:operation soapAction="http://tempuri.org/GetFAMeaning" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="dic2HttpGet" type="s0:dic2HttpGet">
    <http:binding verb="GET" />
    <operation name="GetEEMeaning">
      <http:operation location="/GetEEMeaning" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetEAMeaning">
      <http:operation location="/GetEAMeaning" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetFFMeaning">
      <http:operation location="/GetFFMeaning" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetFAMeaning">
      <http:operation location="/GetFAMeaning" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="dic2HttpPost" type="s0:dic2HttpPost">
    <http:binding verb="POST" />
    <operation name="GetEEMeaning">
      <http:operation location="/GetEEMeaning" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetEAMeaning">
      <http:operation location="/GetEAMeaning" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetFFMeaning">
      <http:operation location="/GetFFMeaning" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetFAMeaning">
      <http:operation location="/GetFAMeaning" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="dic2">
    <port name="dic2Soap" binding="s0:dic2Soap">
      <soap:address location="http://www.xceer.com/trans/dic2.asmx" />
    </port>
    <port name="dic2HttpGet" binding="s0:dic2HttpGet">
      <http:address location="http://www.xceer.com/trans/dic2.asmx" />
    </port>
    <port name="dic2HttpPost" binding="s0:dic2HttpPost">
      <http:address location="http://www.xceer.com/trans/dic2.asmx" />
    </port>
  </service>
</definitions>