WebServiceDataset/money/bank/credit cards/service71.Accounts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://RichSolutions.com/RichPayments/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://RichSolutions.com/RichPayments/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://RichSolutions.com/RichPayments/">
      <s:element name="GetCardType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCardTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCardTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCommercialCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCommercialCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsCommercialCardResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidCardResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidCardLength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidCardLengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidCardLengthResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidExpDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExpDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidExpDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidExpDateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidMod10">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidMod10Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidMod10Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </types>
  <message name="GetCardTypeSoapIn">
    <part name="parameters" element="s0:GetCardType" />
  </message>
  <message name="GetCardTypeSoapOut">
    <part name="parameters" element="s0:GetCardTypeResponse" />
  </message>
  <message name="IsCommercialCardSoapIn">
    <part name="parameters" element="s0:IsCommercialCard" />
  </message>
  <message name="IsCommercialCardSoapOut">
    <part name="parameters" element="s0:IsCommercialCardResponse" />
  </message>
  <message name="ValidCardSoapIn">
    <part name="parameters" element="s0:ValidCard" />
  </message>
  <message name="ValidCardSoapOut">
    <part name="parameters" element="s0:ValidCardResponse" />
  </message>
  <message name="ValidCardLengthSoapIn">
    <part name="parameters" element="s0:ValidCardLength" />
  </message>
  <message name="ValidCardLengthSoapOut">
    <part name="parameters" element="s0:ValidCardLengthResponse" />
  </message>
  <message name="ValidExpDateSoapIn">
    <part name="parameters" element="s0:ValidExpDate" />
  </message>
  <message name="ValidExpDateSoapOut">
    <part name="parameters" element="s0:ValidExpDateResponse" />
  </message>
  <message name="ValidMod10SoapIn">
    <part name="parameters" element="s0:ValidMod10" />
  </message>
  <message name="ValidMod10SoapOut">
    <part name="parameters" element="s0:ValidMod10Response" />
  </message>
  <message name="GetCardTypeHttpGetIn">
    <part name="CardNumber" type="s:string" />
  </message>
  <message name="GetCardTypeHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="IsCommercialCardHttpGetIn">
    <part name="CardNumber" type="s:string" />
  </message>
  <message name="IsCommercialCardHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="ValidCardHttpGetIn">
    <part name="CardNumber" type="s:string" />
    <part name="ExpDate" type="s:string" />
  </message>
  <message name="ValidCardHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="ValidCardLengthHttpGetIn">
    <part name="CardNumber" type="s:string" />
  </message>
  <message name="ValidCardLengthHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="ValidExpDateHttpGetIn">
    <part name="ExpDate" type="s:string" />
  </message>
  <message name="ValidExpDateHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="ValidMod10HttpGetIn">
    <part name="CardNumber" type="s:string" />
  </message>
  <message name="ValidMod10HttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="GetCardTypeHttpPostIn">
    <part name="CardNumber" type="s:string" />
  </message>
  <message name="GetCardTypeHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="IsCommercialCardHttpPostIn">
    <part name="CardNumber" type="s:string" />
  </message>
  <message name="IsCommercialCardHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="ValidCardHttpPostIn">
    <part name="CardNumber" type="s:string" />
    <part name="ExpDate" type="s:string" />
  </message>
  <message name="ValidCardHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="ValidCardLengthHttpPostIn">
    <part name="CardNumber" type="s:string" />
  </message>
  <message name="ValidCardLengthHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="ValidExpDateHttpPostIn">
    <part name="ExpDate" type="s:string" />
  </message>
  <message name="ValidExpDateHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="ValidMod10HttpPostIn">
    <part name="CardNumber" type="s:string" />
  </message>
  <message name="ValidMod10HttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <portType name="CreditCardValidatorSoap">
    <operation name="GetCardType">
      <documentation>Returns the card issuer Visa, MasterCard, AMEX, etc., based  on the card number.</documentation>
      <input message="s0:GetCardTypeSoapIn" />
      <output message="s0:GetCardTypeSoapOut" />
    </operation>
    <operation name="IsCommercialCard">
      <documentation>Returns (T/F) if the card is a known commercial card (commercial cards require customer code and sales tax amount to receive preferred discount rate pricing.)</documentation>
      <input message="s0:IsCommercialCardSoapIn" />
      <output message="s0:IsCommercialCardSoapOut" />
    </operation>
    <operation name="ValidCard">
      <documentation>Validates the credit card by checking the card length based on the card type, performs a mod 10 checksum and validates the expiration date. Returns â??1 if good, 1001 - no card number, 1002 - no exp date, 1003 - invalid card type, 1004 - invalid card length, 1005 - bad mod 10 check, 1006 - bad expiration date.</documentation>
      <input message="s0:ValidCardSoapIn" />
      <output message="s0:ValidCardSoapOut" />
    </operation>
    <operation name="ValidCardLength">
      <documentation>Validates the credit card length by checking the card length based on the card type, Returns (T/F).</documentation>
      <input message="s0:ValidCardLengthSoapIn" />
      <output message="s0:ValidCardLengthSoapOut" />
    </operation>
    <operation name="ValidExpDate">
      <documentation>Validates the expiration date by making sure it is a valid date and the card has not expired, Returns (T/F).</documentation>
      <input message="s0:ValidExpDateSoapIn" />
      <output message="s0:ValidExpDateSoapOut" />
    </operation>
    <operation name="ValidMod10">
      <documentation>Validates the credit card by performing a mod 10 checksum on the card number, Returns (T/F).</documentation>
      <input message="s0:ValidMod10SoapIn" />
      <output message="s0:ValidMod10SoapOut" />
    </operation>
  </portType>
  <portType name="CreditCardValidatorHttpGet">
    <operation name="GetCardType">
      <documentation>Returns the card issuer Visa, MasterCard, AMEX, etc., based  on the card number.</documentation>
      <input message="s0:GetCardTypeHttpGetIn" />
      <output message="s0:GetCardTypeHttpGetOut" />
    </operation>
    <operation name="IsCommercialCard">
      <documentation>Returns (T/F) if the card is a known commercial card (commercial cards require customer code and sales tax amount to receive preferred discount rate pricing.)</documentation>
      <input message="s0:IsCommercialCardHttpGetIn" />
      <output message="s0:IsCommercialCardHttpGetOut" />
    </operation>
    <operation name="ValidCard">
      <documentation>Validates the credit card by checking the card length based on the card type, performs a mod 10 checksum and validates the expiration date. Returns â??1 if good, 1001 - no card number, 1002 - no exp date, 1003 - invalid card type, 1004 - invalid card length, 1005 - bad mod 10 check, 1006 - bad expiration date.</documentation>
      <input message="s0:ValidCardHttpGetIn" />
      <output message="s0:ValidCardHttpGetOut" />
    </operation>
    <operation name="ValidCardLength">
      <documentation>Validates the credit card length by checking the card length based on the card type, Returns (T/F).</documentation>
      <input message="s0:ValidCardLengthHttpGetIn" />
      <output message="s0:ValidCardLengthHttpGetOut" />
    </operation>
    <operation name="ValidExpDate">
      <documentation>Validates the expiration date by making sure it is a valid date and the card has not expired, Returns (T/F).</documentation>
      <input message="s0:ValidExpDateHttpGetIn" />
      <output message="s0:ValidExpDateHttpGetOut" />
    </operation>
    <operation name="ValidMod10">
      <documentation>Validates the credit card by performing a mod 10 checksum on the card number, Returns (T/F).</documentation>
      <input message="s0:ValidMod10HttpGetIn" />
      <output message="s0:ValidMod10HttpGetOut" />
    </operation>
  </portType>
  <portType name="CreditCardValidatorHttpPost">
    <operation name="GetCardType">
      <documentation>Returns the card issuer Visa, MasterCard, AMEX, etc., based  on the card number.</documentation>
      <input message="s0:GetCardTypeHttpPostIn" />
      <output message="s0:GetCardTypeHttpPostOut" />
    </operation>
    <operation name="IsCommercialCard">
      <documentation>Returns (T/F) if the card is a known commercial card (commercial cards require customer code and sales tax amount to receive preferred discount rate pricing.)</documentation>
      <input message="s0:IsCommercialCardHttpPostIn" />
      <output message="s0:IsCommercialCardHttpPostOut" />
    </operation>
    <operation name="ValidCard">
      <documentation>Validates the credit card by checking the card length based on the card type, performs a mod 10 checksum and validates the expiration date. Returns â??1 if good, 1001 - no card number, 1002 - no exp date, 1003 - invalid card type, 1004 - invalid card length, 1005 - bad mod 10 check, 1006 - bad expiration date.</documentation>
      <input message="s0:ValidCardHttpPostIn" />
      <output message="s0:ValidCardHttpPostOut" />
    </operation>
    <operation name="ValidCardLength">
      <documentation>Validates the credit card length by checking the card length based on the card type, Returns (T/F).</documentation>
      <input message="s0:ValidCardLengthHttpPostIn" />
      <output message="s0:ValidCardLengthHttpPostOut" />
    </operation>
    <operation name="ValidExpDate">
      <documentation>Validates the expiration date by making sure it is a valid date and the card has not expired, Returns (T/F).</documentation>
      <input message="s0:ValidExpDateHttpPostIn" />
      <output message="s0:ValidExpDateHttpPostOut" />
    </operation>
    <operation name="ValidMod10">
      <documentation>Validates the credit card by performing a mod 10 checksum on the card number, Returns (T/F).</documentation>
      <input message="s0:ValidMod10HttpPostIn" />
      <output message="s0:ValidMod10HttpPostOut" />
    </operation>
  </portType>
  <binding name="CreditCardValidatorSoap" type="s0:CreditCardValidatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetCardType">
      <soap:operation soapAction="http://RichSolutions.com/RichPayments/GetCardType" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsCommercialCard">
      <soap:operation soapAction="http://RichSolutions.com/RichPayments/IsCommercialCard" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidCard">
      <soap:operation soapAction="http://RichSolutions.com/RichPayments/ValidCard" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidCardLength">
      <soap:operation soapAction="http://RichSolutions.com/RichPayments/ValidCardLength" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidExpDate">
      <soap:operation soapAction="http://RichSolutions.com/RichPayments/ValidExpDate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidMod10">
      <soap:operation soapAction="http://RichSolutions.com/RichPayments/ValidMod10" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="CreditCardValidatorHttpGet" type="s0:CreditCardValidatorHttpGet">
    <http:binding verb="GET" />
    <operation name="GetCardType">
      <http:operation location="/GetCardType" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsCommercialCard">
      <http:operation location="/IsCommercialCard" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ValidCard">
      <http:operation location="/ValidCard" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ValidCardLength">
      <http:operation location="/ValidCardLength" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ValidExpDate">
      <http:operation location="/ValidExpDate" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ValidMod10">
      <http:operation location="/ValidMod10" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="CreditCardValidatorHttpPost" type="s0:CreditCardValidatorHttpPost">
    <http:binding verb="POST" />
    <operation name="GetCardType">
      <http:operation location="/GetCardType" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsCommercialCard">
      <http:operation location="/IsCommercialCard" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ValidCard">
      <http:operation location="/ValidCard" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ValidCardLength">
      <http:operation location="/ValidCardLength" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ValidExpDate">
      <http:operation location="/ValidExpDate" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ValidMod10">
      <http:operation location="/ValidMod10" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="CreditCardValidator">
    <documentation>Credit Card Validation and Card Type Web Service by RichSolutions, Inc.</documentation>
    <port name="CreditCardValidatorSoap" binding="s0:CreditCardValidatorSoap">
      <soap:address location="https://www.richsolutions.com/RichPayments/RichCardValidator.asmx" />
    </port>
    <port name="CreditCardValidatorHttpGet" binding="s0:CreditCardValidatorHttpGet">
      <http:address location="https://www.richsolutions.com/RichPayments/RichCardValidator.asmx" />
    </port>
    <port name="CreditCardValidatorHttpPost" binding="s0:CreditCardValidatorHttpPost">
      <http:address location="https://www.richsolutions.com/RichPayments/RichCardValidator.asmx" />
    </port>
  </service>
</definitions>