WebServiceDataset/flights/airportInfo/service0.Database.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="getAirportInformationByISOCountryCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryAbbrviation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAirportInformationByISOCountryCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAirportInformationByISOCountryCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAirportInformationByCityOrAirportName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cityOrAirportName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAirportInformationByCityOrAirportNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAirportInformationByCityOrAirportNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAirportInformationByCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAirportInformationByCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAirportInformationByCountryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAirportInformationByAirportCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="airportCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAirportInformationByAirportCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAirportInformationByAirportCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="getAirportInformationByISOCountryCodeSoapIn">
    <part name="parameters" element="s0:getAirportInformationByISOCountryCode" />
  </message>
  <message name="getAirportInformationByISOCountryCodeSoapOut">
    <part name="parameters" element="s0:getAirportInformationByISOCountryCodeResponse" />
  </message>
  <message name="getAirportInformationByCityOrAirportNameSoapIn">
    <part name="parameters" element="s0:getAirportInformationByCityOrAirportName" />
  </message>
  <message name="getAirportInformationByCityOrAirportNameSoapOut">
    <part name="parameters" element="s0:getAirportInformationByCityOrAirportNameResponse" />
  </message>
  <message name="GetAirportInformationByCountrySoapIn">
    <part name="parameters" element="s0:GetAirportInformationByCountry" />
  </message>
  <message name="GetAirportInformationByCountrySoapOut">
    <part name="parameters" element="s0:GetAirportInformationByCountryResponse" />
  </message>
  <message name="getAirportInformationByAirportCodeSoapIn">
    <part name="parameters" element="s0:getAirportInformationByAirportCode" />
  </message>
  <message name="getAirportInformationByAirportCodeSoapOut">
    <part name="parameters" element="s0:getAirportInformationByAirportCodeResponse" />
  </message>
  <message name="getAirportInformationByISOCountryCodeHttpGetIn">
    <part name="CountryAbbrviation" type="s:string" />
  </message>
  <message name="getAirportInformationByISOCountryCodeHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getAirportInformationByCityOrAirportNameHttpGetIn">
    <part name="cityOrAirportName" type="s:string" />
  </message>
  <message name="getAirportInformationByCityOrAirportNameHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetAirportInformationByCountryHttpGetIn">
    <part name="country" type="s:string" />
  </message>
  <message name="GetAirportInformationByCountryHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getAirportInformationByAirportCodeHttpGetIn">
    <part name="airportCode" type="s:string" />
  </message>
  <message name="getAirportInformationByAirportCodeHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getAirportInformationByISOCountryCodeHttpPostIn">
    <part name="CountryAbbrviation" type="s:string" />
  </message>
  <message name="getAirportInformationByISOCountryCodeHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getAirportInformationByCityOrAirportNameHttpPostIn">
    <part name="cityOrAirportName" type="s:string" />
  </message>
  <message name="getAirportInformationByCityOrAirportNameHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetAirportInformationByCountryHttpPostIn">
    <part name="country" type="s:string" />
  </message>
  <message name="GetAirportInformationByCountryHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getAirportInformationByAirportCodeHttpPostIn">
    <part name="airportCode" type="s:string" />
  </message>
  <message name="getAirportInformationByAirportCodeHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="airportSoap">
    <operation name="getAirportInformationByISOCountryCode">
      <documentation>Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by ISO country code </documentation>
      <input message="s0:getAirportInformationByISOCountryCodeSoapIn" />
      <output message="s0:getAirportInformationByISOCountryCodeSoapOut" />
    </operation>
    <operation name="getAirportInformationByCityOrAirportName">
      <documentation>Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by city or airport name </documentation>
      <input message="s0:getAirportInformationByCityOrAirportNameSoapIn" />
      <output message="s0:getAirportInformationByCityOrAirportNameSoapOut" />
    </operation>
    <operation name="GetAirportInformationByCountry">
      <documentation>Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by country name </documentation>
      <input message="s0:GetAirportInformationByCountrySoapIn" />
      <output message="s0:GetAirportInformationByCountrySoapOut" />
    </operation>
    <operation name="getAirportInformationByAirportCode">
      <documentation>Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by airport code </documentation>
      <input message="s0:getAirportInformationByAirportCodeSoapIn" />
      <output message="s0:getAirportInformationByAirportCodeSoapOut" />
    </operation>
  </portType>
  <portType name="airportHttpGet">
    <operation name="getAirportInformationByISOCountryCode">
      <documentation>Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by ISO country code </documentation>
      <input message="s0:getAirportInformationByISOCountryCodeHttpGetIn" />
      <output message="s0:getAirportInformationByISOCountryCodeHttpGetOut" />
    </operation>
    <operation name="getAirportInformationByCityOrAirportName">
      <documentation>Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by city or airport name </documentation>
      <input message="s0:getAirportInformationByCityOrAirportNameHttpGetIn" />
      <output message="s0:getAirportInformationByCityOrAirportNameHttpGetOut" />
    </operation>
    <operation name="GetAirportInformationByCountry">
      <documentation>Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by country name </documentation>
      <input message="s0:GetAirportInformationByCountryHttpGetIn" />
      <output message="s0:GetAirportInformationByCountryHttpGetOut" />
    </operation>
    <operation name="getAirportInformationByAirportCode">
      <documentation>Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by airport code </documentation>
      <input message="s0:getAirportInformationByAirportCodeHttpGetIn" />
      <output message="s0:getAirportInformationByAirportCodeHttpGetOut" />
    </operation>
  </portType>
  <portType name="airportHttpPost">
    <operation name="getAirportInformationByISOCountryCode">
      <documentation>Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by ISO country code </documentation>
      <input message="s0:getAirportInformationByISOCountryCodeHttpPostIn" />
      <output message="s0:getAirportInformationByISOCountryCodeHttpPostOut" />
    </operation>
    <operation name="getAirportInformationByCityOrAirportName">
      <documentation>Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by city or airport name </documentation>
      <input message="s0:getAirportInformationByCityOrAirportNameHttpPostIn" />
      <output message="s0:getAirportInformationByCityOrAirportNameHttpPostOut" />
    </operation>
    <operation name="GetAirportInformationByCountry">
      <documentation>Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by country name </documentation>
      <input message="s0:GetAirportInformationByCountryHttpPostIn" />
      <output message="s0:GetAirportInformationByCountryHttpPostOut" />
    </operation>
    <operation name="getAirportInformationByAirportCode">
      <documentation>Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by airport code </documentation>
      <input message="s0:getAirportInformationByAirportCodeHttpPostIn" />
      <output message="s0:getAirportInformationByAirportCodeHttpPostOut" />
    </operation>
  </portType>
  <binding name="airportSoap" type="s0:airportSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="getAirportInformationByISOCountryCode">
      <soap:operation soapAction="http://www.webserviceX.NET/getAirportInformationByISOCountryCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAirportInformationByCityOrAirportName">
      <soap:operation soapAction="http://www.webserviceX.NET/getAirportInformationByCityOrAirportName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAirportInformationByCountry">
      <soap:operation soapAction="http://www.webserviceX.NET/GetAirportInformationByCountry" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAirportInformationByAirportCode">
      <soap:operation soapAction="http://www.webserviceX.NET/getAirportInformationByAirportCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="airportHttpGet" type="s0:airportHttpGet">
    <http:binding verb="GET" />
    <operation name="getAirportInformationByISOCountryCode">
      <http:operation location="/getAirportInformationByISOCountryCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getAirportInformationByCityOrAirportName">
      <http:operation location="/getAirportInformationByCityOrAirportName" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetAirportInformationByCountry">
      <http:operation location="/GetAirportInformationByCountry" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getAirportInformationByAirportCode">
      <http:operation location="/getAirportInformationByAirportCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="airportHttpPost" type="s0:airportHttpPost">
    <http:binding verb="POST" />
    <operation name="getAirportInformationByISOCountryCode">
      <http:operation location="/getAirportInformationByISOCountryCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getAirportInformationByCityOrAirportName">
      <http:operation location="/getAirportInformationByCityOrAirportName" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetAirportInformationByCountry">
      <http:operation location="/GetAirportInformationByCountry" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getAirportInformationByAirportCode">
      <http:operation location="/getAirportInformationByAirportCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="airport">
    <port name="airportSoap" binding="s0:airportSoap">
      <soap:address location="http://www.webservicex.net/airport.asmx" />
    </port>
    <port name="airportHttpGet" binding="s0:airportHttpGet">
      <http:address location="http://www.webservicex.net/airport.asmx" />
    </port>
    <port name="airportHttpPost" binding="s0:airportHttpPost">
      <http:address location="http://www.webservicex.net/airport.asmx" />
    </port>
  </service>
</definitions>