WebServiceDataset/business/service3.Mathematics.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://www.webserviceX.NET/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="OptionPriceCallBlackScholes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SpotPrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="StrikePrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Volatility" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OptionPriceCallBlackScholesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OptionPriceCallBlackScholesResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OptionPriceDeltaCallBlackScholes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SpotPrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="StrikePrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Volatility" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OptionPriceDeltaCallBlackScholesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OptionPriceDeltaCallBlackScholesResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OptionPricePartialsCallBlackScholes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SpotPrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="StrikePrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Volatility" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OptionPricePartialsCallBlackScholesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OptionPricePartialsCallBlackScholesResult" type="s0:WebserviceXPricing" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebserviceXPricing">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Delta" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Gamma" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Theta" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Vega" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Rho" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="OptionPriceImpliedVolatilityCallBlackScholesNewton">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SpotPrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="StrikePrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="OptionPrice" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OptionPriceImpliedVolatilityCallBlackScholesNewtonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OptionPriceImpliedVolatilityCallBlackScholesNewtonResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OptionPriceEuropeanCallPayout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SpotPrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="StrikePrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="YieldOnUnderLying" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Volatility" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OptionPriceEuropeanCallPayoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OptionPriceEuropeanCallPayoutResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OptionPriceEuropeanCallDividends">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SpotPrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="StrikePrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Volatility" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="TimeToMaturity" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="DividendTimes" type="s0:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="DividendAmounts" type="s0:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="OptionPriceEuropeanCallDividendsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OptionPriceEuropeanCallDividendsResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OptionPriceAmericanCallDividend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SpotPrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="StrikePrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Volatility" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="tau" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="D1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="tau1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OptionPriceAmericanCallDividendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OptionPriceAmericanCallDividendResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
      <s:element name="WebserviceXPricing" nillable="true" type="s0:WebserviceXPricing" />
    </s:schema>
    <s:schema targetNamespace="http://www.webserviceX.NET/AbstractTypes">
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </types>
  <message name="OptionPriceCallBlackScholesSoapIn">
    <part name="parameters" element="s0:OptionPriceCallBlackScholes" />
  </message>
  <message name="OptionPriceCallBlackScholesSoapOut">
    <part name="parameters" element="s0:OptionPriceCallBlackScholesResponse" />
  </message>
  <message name="OptionPriceDeltaCallBlackScholesSoapIn">
    <part name="parameters" element="s0:OptionPriceDeltaCallBlackScholes" />
  </message>
  <message name="OptionPriceDeltaCallBlackScholesSoapOut">
    <part name="parameters" element="s0:OptionPriceDeltaCallBlackScholesResponse" />
  </message>
  <message name="OptionPricePartialsCallBlackScholesSoapIn">
    <part name="parameters" element="s0:OptionPricePartialsCallBlackScholes" />
  </message>
  <message name="OptionPricePartialsCallBlackScholesSoapOut">
    <part name="parameters" element="s0:OptionPricePartialsCallBlackScholesResponse" />
  </message>
  <message name="OptionPriceImpliedVolatilityCallBlackScholesNewtonSoapIn">
    <part name="parameters" element="s0:OptionPriceImpliedVolatilityCallBlackScholesNewton" />
  </message>
  <message name="OptionPriceImpliedVolatilityCallBlackScholesNewtonSoapOut">
    <part name="parameters" element="s0:OptionPriceImpliedVolatilityCallBlackScholesNewtonResponse" />
  </message>
  <message name="OptionPriceEuropeanCallPayoutSoapIn">
    <part name="parameters" element="s0:OptionPriceEuropeanCallPayout" />
  </message>
  <message name="OptionPriceEuropeanCallPayoutSoapOut">
    <part name="parameters" element="s0:OptionPriceEuropeanCallPayoutResponse" />
  </message>
  <message name="OptionPriceEuropeanCallDividendsSoapIn">
    <part name="parameters" element="s0:OptionPriceEuropeanCallDividends" />
  </message>
  <message name="OptionPriceEuropeanCallDividendsSoapOut">
    <part name="parameters" element="s0:OptionPriceEuropeanCallDividendsResponse" />
  </message>
  <message name="OptionPriceAmericanCallDividendSoapIn">
    <part name="parameters" element="s0:OptionPriceAmericanCallDividend" />
  </message>
  <message name="OptionPriceAmericanCallDividendSoapOut">
    <part name="parameters" element="s0:OptionPriceAmericanCallDividendResponse" />
  </message>
  <message name="OptionPriceCallBlackScholesHttpGetIn">
    <part name="SpotPrice" type="s:string" />
    <part name="StrikePrice" type="s:string" />
    <part name="InterestRate" type="s:string" />
    <part name="Volatility" type="s:string" />
    <part name="time" type="s:string" />
  </message>
  <message name="OptionPriceCallBlackScholesHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="OptionPriceDeltaCallBlackScholesHttpGetIn">
    <part name="SpotPrice" type="s:string" />
    <part name="StrikePrice" type="s:string" />
    <part name="InterestRate" type="s:string" />
    <part name="Volatility" type="s:string" />
    <part name="time" type="s:string" />
  </message>
  <message name="OptionPriceDeltaCallBlackScholesHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="OptionPricePartialsCallBlackScholesHttpGetIn">
    <part name="SpotPrice" type="s:string" />
    <part name="StrikePrice" type="s:string" />
    <part name="InterestRate" type="s:string" />
    <part name="Volatility" type="s:string" />
    <part name="time" type="s:string" />
  </message>
  <message name="OptionPricePartialsCallBlackScholesHttpGetOut">
    <part name="Body" element="s0:WebserviceXPricing" />
  </message>
  <message name="OptionPriceImpliedVolatilityCallBlackScholesNewtonHttpGetIn">
    <part name="SpotPrice" type="s:string" />
    <part name="StrikePrice" type="s:string" />
    <part name="InterestRate" type="s:string" />
    <part name="time" type="s:string" />
    <part name="OptionPrice" type="s:string" />
  </message>
  <message name="OptionPriceImpliedVolatilityCallBlackScholesNewtonHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="OptionPriceEuropeanCallPayoutHttpGetIn">
    <part name="SpotPrice" type="s:string" />
    <part name="StrikePrice" type="s:string" />
    <part name="InterestRate" type="s:string" />
    <part name="YieldOnUnderLying" type="s:string" />
    <part name="Volatility" type="s:string" />
    <part name="time" type="s:string" />
  </message>
  <message name="OptionPriceEuropeanCallPayoutHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="OptionPriceEuropeanCallDividendsHttpGetIn">
    <part name="SpotPrice" type="s:string" />
    <part name="StrikePrice" type="s:string" />
    <part name="InterestRate" type="s:string" />
    <part name="Volatility" type="s:string" />
    <part name="TimeToMaturity" type="s:string" />
    <part name="DividendTimes" type="s1:StringArray" />
    <part name="DividendAmounts" type="s1:StringArray" />
  </message>
  <message name="OptionPriceEuropeanCallDividendsHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="OptionPriceAmericanCallDividendHttpGetIn">
    <part name="SpotPrice" type="s:string" />
    <part name="StrikePrice" type="s:string" />
    <part name="InterestRate" type="s:string" />
    <part name="Volatility" type="s:string" />
    <part name="tau" type="s:string" />
    <part name="D1" type="s:string" />
    <part name="tau1" type="s:string" />
  </message>
  <message name="OptionPriceAmericanCallDividendHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="OptionPriceCallBlackScholesHttpPostIn">
    <part name="SpotPrice" type="s:string" />
    <part name="StrikePrice" type="s:string" />
    <part name="InterestRate" type="s:string" />
    <part name="Volatility" type="s:string" />
    <part name="time" type="s:string" />
  </message>
  <message name="OptionPriceCallBlackScholesHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="OptionPriceDeltaCallBlackScholesHttpPostIn">
    <part name="SpotPrice" type="s:string" />
    <part name="StrikePrice" type="s:string" />
    <part name="InterestRate" type="s:string" />
    <part name="Volatility" type="s:string" />
    <part name="time" type="s:string" />
  </message>
  <message name="OptionPriceDeltaCallBlackScholesHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="OptionPricePartialsCallBlackScholesHttpPostIn">
    <part name="SpotPrice" type="s:string" />
    <part name="StrikePrice" type="s:string" />
    <part name="InterestRate" type="s:string" />
    <part name="Volatility" type="s:string" />
    <part name="time" type="s:string" />
  </message>
  <message name="OptionPricePartialsCallBlackScholesHttpPostOut">
    <part name="Body" element="s0:WebserviceXPricing" />
  </message>
  <message name="OptionPriceImpliedVolatilityCallBlackScholesNewtonHttpPostIn">
    <part name="SpotPrice" type="s:string" />
    <part name="StrikePrice" type="s:string" />
    <part name="InterestRate" type="s:string" />
    <part name="time" type="s:string" />
    <part name="OptionPrice" type="s:string" />
  </message>
  <message name="OptionPriceImpliedVolatilityCallBlackScholesNewtonHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="OptionPriceEuropeanCallPayoutHttpPostIn">
    <part name="SpotPrice" type="s:string" />
    <part name="StrikePrice" type="s:string" />
    <part name="InterestRate" type="s:string" />
    <part name="YieldOnUnderLying" type="s:string" />
    <part name="Volatility" type="s:string" />
    <part name="time" type="s:string" />
  </message>
  <message name="OptionPriceEuropeanCallPayoutHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="OptionPriceEuropeanCallDividendsHttpPostIn">
    <part name="SpotPrice" type="s:string" />
    <part name="StrikePrice" type="s:string" />
    <part name="InterestRate" type="s:string" />
    <part name="Volatility" type="s:string" />
    <part name="TimeToMaturity" type="s:string" />
    <part name="DividendTimes" type="s1:StringArray" />
    <part name="DividendAmounts" type="s1:StringArray" />
  </message>
  <message name="OptionPriceEuropeanCallDividendsHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="OptionPriceAmericanCallDividendHttpPostIn">
    <part name="SpotPrice" type="s:string" />
    <part name="StrikePrice" type="s:string" />
    <part name="InterestRate" type="s:string" />
    <part name="Volatility" type="s:string" />
    <part name="tau" type="s:string" />
    <part name="D1" type="s:string" />
    <part name="tau1" type="s:string" />
  </message>
  <message name="OptionPriceAmericanCallDividendHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <portType name="BasicOptionPricingSoap">
    <operation name="OptionPriceCallBlackScholes">
      <documentation>Calculation of the Black Scholes option price</documentation>
      <input message="s0:OptionPriceCallBlackScholesSoapIn" />
      <output message="s0:OptionPriceCallBlackScholesSoapOut" />
    </operation>
    <operation name="OptionPriceDeltaCallBlackScholes">
      <documentation>Calculation of the The delta of the Black - Scholes</documentation>
      <input message="s0:OptionPriceDeltaCallBlackScholesSoapIn" />
      <output message="s0:OptionPriceDeltaCallBlackScholesSoapOut" />
    </operation>
    <operation name="OptionPricePartialsCallBlackScholes">
      <documentation>Calculation of the The partial derivatives of the Black - Scholes</documentation>
      <input message="s0:OptionPricePartialsCallBlackScholesSoapIn" />
      <output message="s0:OptionPricePartialsCallBlackScholesSoapOut" />
    </operation>
    <operation name="OptionPriceImpliedVolatilityCallBlackScholesNewton">
      <documentation>Calculation of the implied volatility of Black Scholes formula using newton steps</documentation>
      <input message="s0:OptionPriceImpliedVolatilityCallBlackScholesNewtonSoapIn" />
      <output message="s0:OptionPriceImpliedVolatilityCallBlackScholesNewtonSoapOut" />
    </operation>
    <operation name="OptionPriceEuropeanCallPayout">
      <documentation>Calculation of the Black Scholes option price formula,special case where the underlying is paying out a yield of YieldOnUnderLying.</documentation>
      <input message="s0:OptionPriceEuropeanCallPayoutSoapIn" />
      <output message="s0:OptionPriceEuropeanCallPayoutSoapOut" />
    </operation>
    <operation name="OptionPriceEuropeanCallDividends">
      <documentation>A special case of payouts for the underlying is dividends.</documentation>
      <input message="s0:OptionPriceEuropeanCallDividendsSoapIn" />
      <output message="s0:OptionPriceEuropeanCallDividendsSoapOut" />
    </operation>
    <operation name="OptionPriceAmericanCallDividend">
      <documentation>Calculation of dividend adjusted formula for american call option</documentation>
      <input message="s0:OptionPriceAmericanCallDividendSoapIn" />
      <output message="s0:OptionPriceAmericanCallDividendSoapOut" />
    </operation>
  </portType>
  <portType name="BasicOptionPricingHttpGet">
    <operation name="OptionPriceCallBlackScholes">
      <documentation>Calculation of the Black Scholes option price</documentation>
      <input message="s0:OptionPriceCallBlackScholesHttpGetIn" />
      <output message="s0:OptionPriceCallBlackScholesHttpGetOut" />
    </operation>
    <operation name="OptionPriceDeltaCallBlackScholes">
      <documentation>Calculation of the The delta of the Black - Scholes</documentation>
      <input message="s0:OptionPriceDeltaCallBlackScholesHttpGetIn" />
      <output message="s0:OptionPriceDeltaCallBlackScholesHttpGetOut" />
    </operation>
    <operation name="OptionPricePartialsCallBlackScholes">
      <documentation>Calculation of the The partial derivatives of the Black - Scholes</documentation>
      <input message="s0:OptionPricePartialsCallBlackScholesHttpGetIn" />
      <output message="s0:OptionPricePartialsCallBlackScholesHttpGetOut" />
    </operation>
    <operation name="OptionPriceImpliedVolatilityCallBlackScholesNewton">
      <documentation>Calculation of the implied volatility of Black Scholes formula using newton steps</documentation>
      <input message="s0:OptionPriceImpliedVolatilityCallBlackScholesNewtonHttpGetIn" />
      <output message="s0:OptionPriceImpliedVolatilityCallBlackScholesNewtonHttpGetOut" />
    </operation>
    <operation name="OptionPriceEuropeanCallPayout">
      <documentation>Calculation of the Black Scholes option price formula,special case where the underlying is paying out a yield of YieldOnUnderLying.</documentation>
      <input message="s0:OptionPriceEuropeanCallPayoutHttpGetIn" />
      <output message="s0:OptionPriceEuropeanCallPayoutHttpGetOut" />
    </operation>
    <operation name="OptionPriceEuropeanCallDividends">
      <documentation>A special case of payouts for the underlying is dividends.</documentation>
      <input message="s0:OptionPriceEuropeanCallDividendsHttpGetIn" />
      <output message="s0:OptionPriceEuropeanCallDividendsHttpGetOut" />
    </operation>
    <operation name="OptionPriceAmericanCallDividend">
      <documentation>Calculation of dividend adjusted formula for american call option</documentation>
      <input message="s0:OptionPriceAmericanCallDividendHttpGetIn" />
      <output message="s0:OptionPriceAmericanCallDividendHttpGetOut" />
    </operation>
  </portType>
  <portType name="BasicOptionPricingHttpPost">
    <operation name="OptionPriceCallBlackScholes">
      <documentation>Calculation of the Black Scholes option price</documentation>
      <input message="s0:OptionPriceCallBlackScholesHttpPostIn" />
      <output message="s0:OptionPriceCallBlackScholesHttpPostOut" />
    </operation>
    <operation name="OptionPriceDeltaCallBlackScholes">
      <documentation>Calculation of the The delta of the Black - Scholes</documentation>
      <input message="s0:OptionPriceDeltaCallBlackScholesHttpPostIn" />
      <output message="s0:OptionPriceDeltaCallBlackScholesHttpPostOut" />
    </operation>
    <operation name="OptionPricePartialsCallBlackScholes">
      <documentation>Calculation of the The partial derivatives of the Black - Scholes</documentation>
      <input message="s0:OptionPricePartialsCallBlackScholesHttpPostIn" />
      <output message="s0:OptionPricePartialsCallBlackScholesHttpPostOut" />
    </operation>
    <operation name="OptionPriceImpliedVolatilityCallBlackScholesNewton">
      <documentation>Calculation of the implied volatility of Black Scholes formula using newton steps</documentation>
      <input message="s0:OptionPriceImpliedVolatilityCallBlackScholesNewtonHttpPostIn" />
      <output message="s0:OptionPriceImpliedVolatilityCallBlackScholesNewtonHttpPostOut" />
    </operation>
    <operation name="OptionPriceEuropeanCallPayout">
      <documentation>Calculation of the Black Scholes option price formula,special case where the underlying is paying out a yield of YieldOnUnderLying.</documentation>
      <input message="s0:OptionPriceEuropeanCallPayoutHttpPostIn" />
      <output message="s0:OptionPriceEuropeanCallPayoutHttpPostOut" />
    </operation>
    <operation name="OptionPriceEuropeanCallDividends">
      <documentation>A special case of payouts for the underlying is dividends.</documentation>
      <input message="s0:OptionPriceEuropeanCallDividendsHttpPostIn" />
      <output message="s0:OptionPriceEuropeanCallDividendsHttpPostOut" />
    </operation>
    <operation name="OptionPriceAmericanCallDividend">
      <documentation>Calculation of dividend adjusted formula for american call option</documentation>
      <input message="s0:OptionPriceAmericanCallDividendHttpPostIn" />
      <output message="s0:OptionPriceAmericanCallDividendHttpPostOut" />
    </operation>
  </portType>
  <binding name="BasicOptionPricingSoap" type="s0:BasicOptionPricingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="OptionPriceCallBlackScholes">
      <soap:operation soapAction="http://www.webserviceX.NET/OptionPriceCallBlackScholes" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="OptionPriceDeltaCallBlackScholes">
      <soap:operation soapAction="http://www.webserviceX.NET/OptionPriceDeltaCallBlackScholes" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="OptionPricePartialsCallBlackScholes">
      <soap:operation soapAction="http://www.webserviceX.NET/OptionPricePartialsCallBlackScholes" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="OptionPriceImpliedVolatilityCallBlackScholesNewton">
      <soap:operation soapAction="http://www.webserviceX.NET/OptionPriceImpliedVolatilityCallBlackScholesNewton" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="OptionPriceEuropeanCallPayout">
      <soap:operation soapAction="http://www.webserviceX.NET/OptionPriceEuropeanCallPayout" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="OptionPriceEuropeanCallDividends">
      <soap:operation soapAction="http://www.webserviceX.NET/OptionPriceEuropeanCallDividends" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="OptionPriceAmericanCallDividend">
      <soap:operation soapAction="http://www.webserviceX.NET/OptionPriceAmericanCallDividend" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="BasicOptionPricingHttpGet" type="s0:BasicOptionPricingHttpGet">
    <http:binding verb="GET" />
    <operation name="OptionPriceCallBlackScholes">
      <http:operation location="/OptionPriceCallBlackScholes" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="OptionPriceDeltaCallBlackScholes">
      <http:operation location="/OptionPriceDeltaCallBlackScholes" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="OptionPricePartialsCallBlackScholes">
      <http:operation location="/OptionPricePartialsCallBlackScholes" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="OptionPriceImpliedVolatilityCallBlackScholesNewton">
      <http:operation location="/OptionPriceImpliedVolatilityCallBlackScholesNewton" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="OptionPriceEuropeanCallPayout">
      <http:operation location="/OptionPriceEuropeanCallPayout" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="OptionPriceEuropeanCallDividends">
      <http:operation location="/OptionPriceEuropeanCallDividends" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="OptionPriceAmericanCallDividend">
      <http:operation location="/OptionPriceAmericanCallDividend" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="BasicOptionPricingHttpPost" type="s0:BasicOptionPricingHttpPost">
    <http:binding verb="POST" />
    <operation name="OptionPriceCallBlackScholes">
      <http:operation location="/OptionPriceCallBlackScholes" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="OptionPriceDeltaCallBlackScholes">
      <http:operation location="/OptionPriceDeltaCallBlackScholes" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="OptionPricePartialsCallBlackScholes">
      <http:operation location="/OptionPricePartialsCallBlackScholes" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="OptionPriceImpliedVolatilityCallBlackScholesNewton">
      <http:operation location="/OptionPriceImpliedVolatilityCallBlackScholesNewton" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="OptionPriceEuropeanCallPayout">
      <http:operation location="/OptionPriceEuropeanCallPayout" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="OptionPriceEuropeanCallDividends">
      <http:operation location="/OptionPriceEuropeanCallDividends" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="OptionPriceAmericanCallDividend">
      <http:operation location="/OptionPriceAmericanCallDividend" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="BasicOptionPricing">
    <port name="BasicOptionPricingSoap" binding="s0:BasicOptionPricingSoap">
      <soap:address location="http://www.webservicex.net/pricing.asmx" />
    </port>
    <port name="BasicOptionPricingHttpGet" binding="s0:BasicOptionPricingHttpGet">
      <http:address location="http://www.webservicex.net/pricing.asmx" />
    </port>
    <port name="BasicOptionPricingHttpPost" binding="s0:BasicOptionPricingHttpPost">
      <http:address location="http://www.webservicex.net/pricing.asmx" />
    </port>
  </service>
</definitions>