WebServiceDataset/finder/stars/service58.Specialist.wsdl

<?xml version="1.0"?>
<definitions name="Orbitarium"
     targetNamespace    ="http://www.orbitarium.com/schemas/ows.wsdl"
         xmlns:ows      ="http://www.orbitarium.com/schemas/ows.wsdl"
         xmlns:owsxsd   ="http://www.orbitarium.com/schemas/orbitarium/"
         xmlns:soap     ="http://schemas.xmlsoap.org/wsdl/soap/"
         xmlns          ="http://schemas.xmlsoap.org/wsdl/">

 <import namespace="http://www.orbitarium.com/schemas/orbitarium/"
         location ="http://www.orbitarium.com/schemas/ows.xsd" />

 <message name="GetJulianDateInput">
   <part name="body" element="owsxsd:getJulianDate"/>
 </message>

 <message name="GetJulianDateOutput">
   <part name="body" element="owsxsd:getJulianDateResponse"/>
 </message>
 
 <message name="GetSiderealTimeInput">
   <part name="body" element="owsxsd:getSiderealTime"/>
 </message>

 <message name="GetSiderealTimeOutput">
   <part name="body" element="owsxsd:getSiderealTimeResponse"/>
 </message>

 <message name="GetLunarPositionInput">
   <part name="body" element="owsxsd:getLunarPosition"/>
 </message>

 <message name="GetLunarPositionOutput">
   <part name="body" element="owsxsd:getLunarPositionResponse"/>
 </message>

 <message name="GetSolarPositionInput">
   <part name="body" element="owsxsd:getSolarPosition"/>
 </message>

 <message name="GetSolarPositionOutput">
   <part name="body" element="owsxsd:getSolarPositionResponse"/>
 </message>

 <message name="GetHeliocentricPositionInput">
   <part name="body" element="owsxsd:getHeliocentricPosition"/>
 </message>

 <message name="GetHeliocentricPositionOutput">
   <part name="body" element="owsxsd:getHeliocentricPositionResponse"/>
 </message>


 <message name="GetGeocentricPositionInput">
   <part name="body" element="owsxsd:getGeocentricPosition"/>
 </message>

 <message name="GetGeocentricPositionOutput">
   <part name="body" element="owsxsd:getGeocentricPositionResponse"/>
 </message>

 <message name="GetHeliocentricPositionsInput">
   <part name="body" element="owsxsd:getHeliocentricPositions"/>
 </message>

 <message name="GetHeliocentricPositionsOutput">
   <part name="body" element="owsxsd:getHeliocentricPositionsResponse"/>
 </message>


 <message name="GetGeocentricPositionsInput">
   <part name="body" element="owsxsd:getGeocentricPositions"/>
 </message>

 <message name="GetGeocentricPositionsOutput">
   <part name="body" element="owsxsd:getGeocentricPositionsResponse"/>
 </message>

 <portType name="OrbitariumPortType">

   <operation name="GetJulianDate">
     <input  message="ows:GetJulianDateInput"  />
     <output message="ows:GetJulianDateOutput" />
   </operation>

   <operation name="GetSiderealTime">
     <input  message="ows:GetSiderealTimeInput"  />
     <output message="ows:GetSiderealTimeOutput" />
   </operation>

   <operation name="GetLunarPosition">
     <input  message="ows:GetLunarPositionInput"  />
     <output message="ows:GetLunarPositionOutput" />
   </operation>

   <operation name="GetSolarPosition">
     <input  message="ows:GetSolarPositionInput"  />
     <output message="ows:GetSolarPositionOutput" />
   </operation>

   <operation name="GetHeliocentricPosition">
     <input  message="ows:GetHeliocentricPositionInput"  />
     <output message="ows:GetHeliocentricPositionOutput" />
   </operation>

   <operation name="GetGeocentricPosition">
     <input  message="ows:GetGeocentricPositionInput"  />
     <output message="ows:GetGeocentricPositionOutput" />
   </operation>

   <operation name="GetHeliocentricPositions">
     <input  message="ows:GetHeliocentricPositionsInput"  />
     <output message="ows:GetHeliocentricPositionsOutput" />
   </operation>

   <operation name="GetGeocentricPositions">
     <input  message="ows:GetGeocentricPositionsInput"  />
     <output message="ows:GetGeocentricPositionsOutput" />
   </operation>


 </portType>


 <binding name="OrbitariumBinding" type="ows:OrbitariumPortType">
       
   <soap:binding style="document" 
        transport="http://schemas.xmlsoap.org/soap/http"/>

   <operation name="GetJulianDate">

      <soap:operation 
       soapAction="http://soap.orbitarium.com/orbitarium/servlet/ows/"/>
          
      <input>
        <soap:body use="literal"
             namespace="http://www.orbitarium.com/schemas/ows.xsd" />
      </input>
      <output>
        <soap:body use="literal"
             namespace="http://www.orbitarum.com/schemas/ows.xsd" />
      </output>

  </operation>

  <operation name="GetSiderealTime">

      <soap:operation 
       soapAction="http://soap.orbitarium.com/orbitarium/servlet/ows/"/>
          
      <input>
        <soap:body use="literal"
             namespace="http://www.orbitarium.com/schemas/ows.xsd" />
      </input>
      <output>
        <soap:body use="literal"
             namespace="http://www.orbitarum.com/schemas/ows.xsd" />
      </output>

  </operation>


  <operation name="GetLunarPosition">

      <soap:operation 
       soapAction="http://soap.orbitarium.com/orbitarium/servlet/ows/"/>
          
      <input>
        <soap:body use="literal"
             namespace="http://www.orbitarium.com/schemas/ows.xsd" />
      </input>
      <output>
        <soap:body use="literal"
             namespace="http://www.orbitarum.com/schemas/ows.xsd" />
      </output>

  </operation>


  <operation name="GetSolarPosition">

      <soap:operation 
       soapAction="http://soap.orbitarium.com/orbitarium/servlet/ows/"/>
          
      <input>
        <soap:body use="literal"
             namespace="http://www.orbitarium.com/schemas/ows.xsd" />
      </input>
      <output>
        <soap:body use="literal"
             namespace="http://www.orbitarum.com/schemas/ows.xsd" />
      </output>

  </operation>


  <operation name="GetHeliocentricPosition">

      <soap:operation 
       soapAction="http://soap.orbitarium.com/orbitarium/servlet/ows/"/>
          
      <input>
        <soap:body use="literal"
             namespace="http://www.orbitarium.com/schemas/ows.xsd" />
      </input>
      <output>
        <soap:body use="literal"
             namespace="http://www.orbitarum.com/schemas/ows.xsd" />
      </output>

  </operation>


  <operation name="GetGeocentricPosition">

      <soap:operation 
       soapAction="http://soap.orbitarium.com/orbitarium/servlet/ows/"/>
          
      <input>
        <soap:body use="literal"
             namespace="http://www.orbitarium.com/schemas/ows.xsd" />
      </input>
      <output>
        <soap:body use="literal"
             namespace="http://www.orbitarum.com/schemas/ows.xsd" />
      </output>

  </operation>


  <operation name="GetHeliocentricPositions">

      <soap:operation 
       soapAction="http://soap.orbitarium.com/orbitarium/servlet/ows/"/>
          
      <input>
        <soap:body use="literal"
             namespace="http://www.orbitarium.com/schemas/ows.xsd" />
      </input>
      <output>
        <soap:body use="literal"
             namespace="http://www.orbitarum.com/schemas/ows.xsd" />
      </output>

  </operation>


  <operation name="GetGeocentricPositions">

      <soap:operation 
       soapAction="http://soap.orbitarium.com/orbitarium/servlet/ows/"/>
          
      <input>
        <soap:body use="literal"
             namespace="http://www.orbitarium.com/schemas/ows.xsd" />
      </input>
      <output>
        <soap:body use="literal"
             namespace="http://www.orbitarum.com/schemas/ows.xsd" />
      </output>

  </operation>

 </binding>

 <service name="OrbitariumService">

   <documentation>Web Service for Current Planetary Positions</documentation>
                  
   <port name="OrbitariumPort" binding="ows:OrbitariumBinding">
      <soap:address 
	location="http://soap.orbitarium.com/orbitarium/servlet/ows/"/>
   </port>
              
 </service>

</definitions>
