WebServiceDataset/Games/service4.Games.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Ask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psQuestion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AskResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="AskSoapIn">
    <part name="parameters" element="s0:Ask" />
  </message>
  <message name="AskSoapOut">
    <part name="parameters" element="s0:AskResponse" />
  </message>
  <message name="AskHttpGetIn">
    <part name="psQuestion" type="s:string" />
  </message>
  <message name="AskHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="AskHttpPostIn">
    <part name="psQuestion" type="s:string" />
  </message>
  <message name="AskHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="EightBallWSSoap">
    <operation name="Ask">
      <input message="s0:AskSoapIn" />
      <output message="s0:AskSoapOut" />
    </operation>
  </portType>
  <portType name="EightBallWSHttpGet">
    <operation name="Ask">
      <input message="s0:AskHttpGetIn" />
      <output message="s0:AskHttpGetOut" />
    </operation>
  </portType>
  <portType name="EightBallWSHttpPost">
    <operation name="Ask">
      <input message="s0:AskHttpPostIn" />
      <output message="s0:AskHttpPostOut" />
    </operation>
  </portType>
  <binding name="EightBallWSSoap" type="s0:EightBallWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Ask">
      <soap:operation soapAction="http://tempuri.org/Ask" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="EightBallWSHttpGet" type="s0:EightBallWSHttpGet">
    <http:binding verb="GET" />
    <operation name="Ask">
      <http:operation location="/Ask" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="EightBallWSHttpPost" type="s0:EightBallWSHttpPost">
    <http:binding verb="POST" />
    <operation name="Ask">
      <http:operation location="/Ask" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="EightBallWS">
    <port name="EightBallWSSoap" binding="s0:EightBallWSSoap">
      <soap:address location="http://www.gotdotnet.com/playground/services/EightBall/eightballws.asmx" />
    </port>
    <port name="EightBallWSHttpGet" binding="s0:EightBallWSHttpGet">
      <http:address location="http://www.gotdotnet.com/playground/services/EightBall/eightballws.asmx" />
    </port>
    <port name="EightBallWSHttpPost" binding="s0:EightBallWSHttpPost">
      <http:address location="http://www.gotdotnet.com/playground/services/EightBall/eightballws.asmx" />
    </port>
  </service>
</definitions>