WebServiceDataset/Games/service0.Graphics.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://ws.cdyne.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.cdyne.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/">
      <s:element name="FontToGraphicURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FontText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FontPoint" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="FontName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BackgroundColor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FontColor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FontToGraphicURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FontToGraphicURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FontToGraphicInBase64">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FontText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FontPoint" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="FontName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BackgroundColor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FontColor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FontToGraphicInBase64Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FontToGraphicInBase64Result" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnFontList">
        <s:complexType />
      </s:element>
      <s:element name="ReturnFontListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnFontListResult" type="s0:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReturnColorList">
        <s:complexType />
      </s:element>
      <s:element name="ReturnColorListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnColorListResult" type="s0:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Message">
        <s:complexType />
      </s:element>
      <s:element name="MessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
      <s:element name="ArrayOfAnyType" nillable="true" type="s0:ArrayOfAnyType" />
    </s:schema>
  </types>
  <message name="FontToGraphicURLSoapIn">
    <part name="parameters" element="s0:FontToGraphicURL" />
  </message>
  <message name="FontToGraphicURLSoapOut">
    <part name="parameters" element="s0:FontToGraphicURLResponse" />
  </message>
  <message name="FontToGraphicInBase64SoapIn">
    <part name="parameters" element="s0:FontToGraphicInBase64" />
  </message>
  <message name="FontToGraphicInBase64SoapOut">
    <part name="parameters" element="s0:FontToGraphicInBase64Response" />
  </message>
  <message name="ReturnFontListSoapIn">
    <part name="parameters" element="s0:ReturnFontList" />
  </message>
  <message name="ReturnFontListSoapOut">
    <part name="parameters" element="s0:ReturnFontListResponse" />
  </message>
  <message name="ReturnColorListSoapIn">
    <part name="parameters" element="s0:ReturnColorList" />
  </message>
  <message name="ReturnColorListSoapOut">
    <part name="parameters" element="s0:ReturnColorListResponse" />
  </message>
  <message name="MessageSoapIn">
    <part name="parameters" element="s0:Message" />
  </message>
  <message name="MessageSoapOut">
    <part name="parameters" element="s0:MessageResponse" />
  </message>
  <message name="FontToGraphicURLHttpGetIn">
    <part name="FontText" type="s:string" />
    <part name="FontPoint" type="s:string" />
    <part name="FontName" type="s:string" />
    <part name="BackgroundColor" type="s:string" />
    <part name="FontColor" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="FontToGraphicURLHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="FontToGraphicInBase64HttpGetIn">
    <part name="FontText" type="s:string" />
    <part name="FontPoint" type="s:string" />
    <part name="FontName" type="s:string" />
    <part name="BackgroundColor" type="s:string" />
    <part name="FontColor" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="FontToGraphicInBase64HttpGetOut">
    <part name="Body" element="s0:base64Binary" />
  </message>
  <message name="ReturnFontListHttpGetIn" />
  <message name="ReturnFontListHttpGetOut">
    <part name="Body" element="s0:ArrayOfAnyType" />
  </message>
  <message name="ReturnColorListHttpGetIn" />
  <message name="ReturnColorListHttpGetOut">
    <part name="Body" element="s0:ArrayOfAnyType" />
  </message>
  <message name="MessageHttpGetIn" />
  <message name="MessageHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="FontToGraphicURLHttpPostIn">
    <part name="FontText" type="s:string" />
    <part name="FontPoint" type="s:string" />
    <part name="FontName" type="s:string" />
    <part name="BackgroundColor" type="s:string" />
    <part name="FontColor" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="FontToGraphicURLHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="FontToGraphicInBase64HttpPostIn">
    <part name="FontText" type="s:string" />
    <part name="FontPoint" type="s:string" />
    <part name="FontName" type="s:string" />
    <part name="BackgroundColor" type="s:string" />
    <part name="FontColor" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="FontToGraphicInBase64HttpPostOut">
    <part name="Body" element="s0:base64Binary" />
  </message>
  <message name="ReturnFontListHttpPostIn" />
  <message name="ReturnFontListHttpPostOut">
    <part name="Body" element="s0:ArrayOfAnyType" />
  </message>
  <message name="ReturnColorListHttpPostIn" />
  <message name="ReturnColorListHttpPostOut">
    <part name="Body" element="s0:ArrayOfAnyType" />
  </message>
  <message name="MessageHttpPostIn" />
  <message name="MessageHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="FTGSoap">
    <operation name="FontToGraphicURL">
      <input message="s0:FontToGraphicURLSoapIn" />
      <output message="s0:FontToGraphicURLSoapOut" />
    </operation>
    <operation name="FontToGraphicInBase64">
      <input message="s0:FontToGraphicInBase64SoapIn" />
      <output message="s0:FontToGraphicInBase64SoapOut" />
    </operation>
    <operation name="ReturnFontList">
      <input message="s0:ReturnFontListSoapIn" />
      <output message="s0:ReturnFontListSoapOut" />
    </operation>
    <operation name="ReturnColorList">
      <input message="s0:ReturnColorListSoapIn" />
      <output message="s0:ReturnColorListSoapOut" />
    </operation>
    <operation name="Message">
      <input message="s0:MessageSoapIn" />
      <output message="s0:MessageSoapOut" />
    </operation>
  </portType>
  <portType name="FTGHttpGet">
    <operation name="FontToGraphicURL">
      <input message="s0:FontToGraphicURLHttpGetIn" />
      <output message="s0:FontToGraphicURLHttpGetOut" />
    </operation>
    <operation name="FontToGraphicInBase64">
      <input message="s0:FontToGraphicInBase64HttpGetIn" />
      <output message="s0:FontToGraphicInBase64HttpGetOut" />
    </operation>
    <operation name="ReturnFontList">
      <input message="s0:ReturnFontListHttpGetIn" />
      <output message="s0:ReturnFontListHttpGetOut" />
    </operation>
    <operation name="ReturnColorList">
      <input message="s0:ReturnColorListHttpGetIn" />
      <output message="s0:ReturnColorListHttpGetOut" />
    </operation>
    <operation name="Message">
      <input message="s0:MessageHttpGetIn" />
      <output message="s0:MessageHttpGetOut" />
    </operation>
  </portType>
  <portType name="FTGHttpPost">
    <operation name="FontToGraphicURL">
      <input message="s0:FontToGraphicURLHttpPostIn" />
      <output message="s0:FontToGraphicURLHttpPostOut" />
    </operation>
    <operation name="FontToGraphicInBase64">
      <input message="s0:FontToGraphicInBase64HttpPostIn" />
      <output message="s0:FontToGraphicInBase64HttpPostOut" />
    </operation>
    <operation name="ReturnFontList">
      <input message="s0:ReturnFontListHttpPostIn" />
      <output message="s0:ReturnFontListHttpPostOut" />
    </operation>
    <operation name="ReturnColorList">
      <input message="s0:ReturnColorListHttpPostIn" />
      <output message="s0:ReturnColorListHttpPostOut" />
    </operation>
    <operation name="Message">
      <input message="s0:MessageHttpPostIn" />
      <output message="s0:MessageHttpPostOut" />
    </operation>
  </portType>
  <binding name="FTGSoap" type="s0:FTGSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="FontToGraphicURL">
      <soap:operation soapAction="http://ws.cdyne.com/FontToGraphicURL" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FontToGraphicInBase64">
      <soap:operation soapAction="http://ws.cdyne.com/FontToGraphicInBase64" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReturnFontList">
      <soap:operation soapAction="http://ws.cdyne.com/ReturnFontList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReturnColorList">
      <soap:operation soapAction="http://ws.cdyne.com/ReturnColorList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Message">
      <soap:operation soapAction="http://ws.cdyne.com/Message" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="FTGHttpGet" type="s0:FTGHttpGet">
    <http:binding verb="GET" />
    <operation name="FontToGraphicURL">
      <http:operation location="/FontToGraphicURL" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="FontToGraphicInBase64">
      <http:operation location="/FontToGraphicInBase64" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ReturnFontList">
      <http:operation location="/ReturnFontList" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ReturnColorList">
      <http:operation location="/ReturnColorList" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Message">
      <http:operation location="/Message" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="FTGHttpPost" type="s0:FTGHttpPost">
    <http:binding verb="POST" />
    <operation name="FontToGraphicURL">
      <http:operation location="/FontToGraphicURL" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="FontToGraphicInBase64">
      <http:operation location="/FontToGraphicInBase64" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ReturnFontList">
      <http:operation location="/ReturnFontList" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ReturnColorList">
      <http:operation location="/ReturnColorList" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Message">
      <http:operation location="/Message" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="FTG">
    <port name="FTGSoap" binding="s0:FTGSoap">
      <soap:address location="http://ws.cdyne.com/FontToGraphic/ftg.asmx" />
    </port>
    <port name="FTGHttpGet" binding="s0:FTGHttpGet">
      <http:address location="http://ws.cdyne.com/FontToGraphic/ftg.asmx" />
    </port>
    <port name="FTGHttpPost" binding="s0:FTGHttpPost">
      <http:address location="http://ws.cdyne.com/FontToGraphic/ftg.asmx" />
    </port>
  </service>
</definitions>