WebServiceDataset/countryInfo/service25.Utility.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.dotnetisp.com/webservices/dotnetisp/ville.asmx" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.dotnetisp.com/webservices/dotnetisp/ville.asmx" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.dotnetisp.com/webservices/dotnetisp/ville.asmx">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="InfosVille">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passe" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ville" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InfosVilleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InfosVilleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="InfosVilleSoapIn">
    <part name="parameters" element="s0:InfosVille" />
  </message>
  <message name="InfosVilleSoapOut">
    <part name="parameters" element="s0:InfosVilleResponse" />
  </message>
  <message name="InfosVilleHttpGetIn">
    <part name="login" type="s:string" />
    <part name="passe" type="s:string" />
    <part name="ville" type="s:string" />
  </message>
  <message name="InfosVilleHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="InfosVilleHttpPostIn">
    <part name="login" type="s:string" />
    <part name="passe" type="s:string" />
    <part name="ville" type="s:string" />
  </message>
  <message name="InfosVilleHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <portType name="villeSoap">
    <operation name="InfosVille">
      <documentation>Ce service retourne la latitude, la longitude et l'altitude d'une ville. Les informations sont retournées sous forme de DataSet. Les champs login et passe sont ceux de votre compte membre et le champ ville doit contenir la ville recherchée. S'il existe plusieurs résultats, il y aura autant de lignes que de résultats dans le dataset . Vous devez vous inscrire comme utilisateur du service pour pouvoir le tester et l'utiliser.</documentation>
      <input message="s0:InfosVilleSoapIn" />
      <output message="s0:InfosVilleSoapOut" />
    </operation>
  </portType>
  <portType name="villeHttpGet">
    <operation name="InfosVille">
      <documentation>Ce service retourne la latitude, la longitude et l'altitude d'une ville. Les informations sont retournées sous forme de DataSet. Les champs login et passe sont ceux de votre compte membre et le champ ville doit contenir la ville recherchée. S'il existe plusieurs résultats, il y aura autant de lignes que de résultats dans le dataset . Vous devez vous inscrire comme utilisateur du service pour pouvoir le tester et l'utiliser.</documentation>
      <input message="s0:InfosVilleHttpGetIn" />
      <output message="s0:InfosVilleHttpGetOut" />
    </operation>
  </portType>
  <portType name="villeHttpPost">
    <operation name="InfosVille">
      <documentation>Ce service retourne la latitude, la longitude et l'altitude d'une ville. Les informations sont retournées sous forme de DataSet. Les champs login et passe sont ceux de votre compte membre et le champ ville doit contenir la ville recherchée. S'il existe plusieurs résultats, il y aura autant de lignes que de résultats dans le dataset . Vous devez vous inscrire comme utilisateur du service pour pouvoir le tester et l'utiliser.</documentation>
      <input message="s0:InfosVilleHttpPostIn" />
      <output message="s0:InfosVilleHttpPostOut" />
    </operation>
  </portType>
  <binding name="villeSoap" type="s0:villeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="InfosVille">
      <soap:operation soapAction="http://www.dotnetisp.com/webservices/dotnetisp/ville.asmx/InfosVille" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="villeHttpGet" type="s0:villeHttpGet">
    <http:binding verb="GET" />
    <operation name="InfosVille">
      <http:operation location="/InfosVille" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="villeHttpPost" type="s0:villeHttpPost">
    <http:binding verb="POST" />
    <operation name="InfosVille">
      <http:operation location="/InfosVille" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="ville">
    <port name="villeSoap" binding="s0:villeSoap">
      <soap:address location="http://www.dotnetisp.com/webservices/dotnetisp/ville.asmx" />
    </port>
    <port name="villeHttpGet" binding="s0:villeHttpGet">
      <http:address location="http://www.dotnetisp.com/webservices/dotnetisp/ville.asmx" />
    </port>
    <port name="villeHttpPost" binding="s0:villeHttpPost">
      <http:address location="http://www.dotnetisp.com/webservices/dotnetisp/ville.asmx" />
    </port>
  </service>
</definitions>