WebServiceDataset/countryInfo/service16.Addresses.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:impl="http://webservices-impl" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://webservices" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://rpc.xml.coldfusion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"><types><schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.xml.coldfusion"><complexType name="QueryBean"><sequence><element name="data" nillable="true" type="intf:ArrayOfArrayOf_xsd_anyType"/><element name="ColumnList" nillable="true" type="intf:ArrayOf_SOAP-ENC_string"/></sequence></complexType><element name="QueryBean" nillable="true" type="tns2:QueryBean"/></schema><schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservices"><complexType name="ArrayOfArrayOf_xsd_anyType"><complexContent><restriction base="SOAP-ENC:Array"><attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:anyType[][]"/></restriction></complexContent></complexType><complexType name="ArrayOf_SOAP-ENC_string"><complexContent><restriction base="SOAP-ENC:Array"><attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/></restriction></complexContent></complexType></schema></types>
  <wsdl:message name="getstatesResponse">
    <wsdl:part name="return" type="tns2:QueryBean"/>
  </wsdl:message>
  <wsdl:message name="CFCInvocationException">
  </wsdl:message>
  <wsdl:message name="getstatesRequest">
  </wsdl:message>
  <wsdl:portType name="get_states">
    <wsdl:operation name="getstates">
      <wsdl:input message="intf:getstatesRequest"/>
      <wsdl:output message="intf:getstatesResponse"/>
      <wsdl:fault name="CFCInvocationException" message="intf:CFCInvocationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="get_states.cfcSoapBinding" type="intf:get_states">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getstates">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="get_statesService">
    <wsdl:port name="get_states.cfc" binding="intf:get_states.cfcSoapBinding">
      <wsdlsoap:address location="http://www.tinetics.com/webservices/get_states.cfc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>