WebServiceDataset/countryInfo/service11.Specialist.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetCountryByCountryCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryByCountryCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountryByCountryCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetISDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountries">
        <s:complexType />
      </s:element>
      <s:element name="GetCountriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountriesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyCodeByCurrencyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyCodeByCurrencyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrencyCodeByCurrencyNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISOCountryCodeByCountyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISOCountryCodeByCountyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetISOCountryCodeByCountyNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyCode">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrencyCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrencyCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryByCurrencyCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryByCurrencyCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountryByCurrencyCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencies">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrenciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrenciesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyByCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyByCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrencyByCountryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGMTbyCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGMTbyCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGMTbyCountryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="GetCountryByCountryCodeSoapIn">
    <part name="parameters" element="s0:GetCountryByCountryCode" />
  </message>
  <message name="GetCountryByCountryCodeSoapOut">
    <part name="parameters" element="s0:GetCountryByCountryCodeResponse" />
  </message>
  <message name="GetISDSoapIn">
    <part name="parameters" element="s0:GetISD" />
  </message>
  <message name="GetISDSoapOut">
    <part name="parameters" element="s0:GetISDResponse" />
  </message>
  <message name="GetCountriesSoapIn">
    <part name="parameters" element="s0:GetCountries" />
  </message>
  <message name="GetCountriesSoapOut">
    <part name="parameters" element="s0:GetCountriesResponse" />
  </message>
  <message name="GetCurrencyCodeByCurrencyNameSoapIn">
    <part name="parameters" element="s0:GetCurrencyCodeByCurrencyName" />
  </message>
  <message name="GetCurrencyCodeByCurrencyNameSoapOut">
    <part name="parameters" element="s0:GetCurrencyCodeByCurrencyNameResponse" />
  </message>
  <message name="GetISOCountryCodeByCountyNameSoapIn">
    <part name="parameters" element="s0:GetISOCountryCodeByCountyName" />
  </message>
  <message name="GetISOCountryCodeByCountyNameSoapOut">
    <part name="parameters" element="s0:GetISOCountryCodeByCountyNameResponse" />
  </message>
  <message name="GetCurrencyCodeSoapIn">
    <part name="parameters" element="s0:GetCurrencyCode" />
  </message>
  <message name="GetCurrencyCodeSoapOut">
    <part name="parameters" element="s0:GetCurrencyCodeResponse" />
  </message>
  <message name="GetCountryByCurrencyCodeSoapIn">
    <part name="parameters" element="s0:GetCountryByCurrencyCode" />
  </message>
  <message name="GetCountryByCurrencyCodeSoapOut">
    <part name="parameters" element="s0:GetCountryByCurrencyCodeResponse" />
  </message>
  <message name="GetCurrenciesSoapIn">
    <part name="parameters" element="s0:GetCurrencies" />
  </message>
  <message name="GetCurrenciesSoapOut">
    <part name="parameters" element="s0:GetCurrenciesResponse" />
  </message>
  <message name="GetCurrencyByCountrySoapIn">
    <part name="parameters" element="s0:GetCurrencyByCountry" />
  </message>
  <message name="GetCurrencyByCountrySoapOut">
    <part name="parameters" element="s0:GetCurrencyByCountryResponse" />
  </message>
  <message name="GetGMTbyCountrySoapIn">
    <part name="parameters" element="s0:GetGMTbyCountry" />
  </message>
  <message name="GetGMTbyCountrySoapOut">
    <part name="parameters" element="s0:GetGMTbyCountryResponse" />
  </message>
  <message name="GetCountryByCountryCodeHttpGetIn">
    <part name="CountryCode" type="s:string" />
  </message>
  <message name="GetCountryByCountryCodeHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetISDHttpGetIn">
    <part name="CountryName" type="s:string" />
  </message>
  <message name="GetISDHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCountriesHttpGetIn" />
  <message name="GetCountriesHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCurrencyCodeByCurrencyNameHttpGetIn">
    <part name="CurrencyName" type="s:string" />
  </message>
  <message name="GetCurrencyCodeByCurrencyNameHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetISOCountryCodeByCountyNameHttpGetIn">
    <part name="CountryName" type="s:string" />
  </message>
  <message name="GetISOCountryCodeByCountyNameHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCurrencyCodeHttpGetIn" />
  <message name="GetCurrencyCodeHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCountryByCurrencyCodeHttpGetIn">
    <part name="CurrencyCode" type="s:string" />
  </message>
  <message name="GetCountryByCurrencyCodeHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCurrenciesHttpGetIn" />
  <message name="GetCurrenciesHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCurrencyByCountryHttpGetIn">
    <part name="CountryName" type="s:string" />
  </message>
  <message name="GetCurrencyByCountryHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetGMTbyCountryHttpGetIn">
    <part name="CountryName" type="s:string" />
  </message>
  <message name="GetGMTbyCountryHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCountryByCountryCodeHttpPostIn">
    <part name="CountryCode" type="s:string" />
  </message>
  <message name="GetCountryByCountryCodeHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetISDHttpPostIn">
    <part name="CountryName" type="s:string" />
  </message>
  <message name="GetISDHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCountriesHttpPostIn" />
  <message name="GetCountriesHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCurrencyCodeByCurrencyNameHttpPostIn">
    <part name="CurrencyName" type="s:string" />
  </message>
  <message name="GetCurrencyCodeByCurrencyNameHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetISOCountryCodeByCountyNameHttpPostIn">
    <part name="CountryName" type="s:string" />
  </message>
  <message name="GetISOCountryCodeByCountyNameHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCurrencyCodeHttpPostIn" />
  <message name="GetCurrencyCodeHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCountryByCurrencyCodeHttpPostIn">
    <part name="CurrencyCode" type="s:string" />
  </message>
  <message name="GetCountryByCurrencyCodeHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCurrenciesHttpPostIn" />
  <message name="GetCurrenciesHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetCurrencyByCountryHttpPostIn">
    <part name="CountryName" type="s:string" />
  </message>
  <message name="GetCurrencyByCountryHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetGMTbyCountryHttpPostIn">
    <part name="CountryName" type="s:string" />
  </message>
  <message name="GetGMTbyCountryHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="countrySoap">
    <operation name="GetCountryByCountryCode">
      <documentation>Get country name by country code</documentation>
      <input message="s0:GetCountryByCountryCodeSoapIn" />
      <output message="s0:GetCountryByCountryCodeSoapOut" />
    </operation>
    <operation name="GetISD">
      <documentation>Get International Dialing Code by country name </documentation>
      <input message="s0:GetISDSoapIn" />
      <output message="s0:GetISDSoapOut" />
    </operation>
    <operation name="GetCountries">
      <documentation>Get all countries with ISO code</documentation>
      <input message="s0:GetCountriesSoapIn" />
      <output message="s0:GetCountriesSoapOut" />
    </operation>
    <operation name="GetCurrencyCodeByCurrencyName">
      <documentation>Get currency by currency name </documentation>
      <input message="s0:GetCurrencyCodeByCurrencyNameSoapIn" />
      <output message="s0:GetCurrencyCodeByCurrencyNameSoapOut" />
    </operation>
    <operation name="GetISOCountryCodeByCountyName">
      <documentation>Get countries by country name </documentation>
      <input message="s0:GetISOCountryCodeByCountyNameSoapIn" />
      <output message="s0:GetISOCountryCodeByCountyNameSoapOut" />
    </operation>
    <operation name="GetCurrencyCode">
      <documentation>Get all currencycode for each country </documentation>
      <input message="s0:GetCurrencyCodeSoapIn" />
      <output message="s0:GetCurrencyCodeSoapOut" />
    </operation>
    <operation name="GetCountryByCurrencyCode">
      <documentation>Get country by currency code</documentation>
      <input message="s0:GetCountryByCurrencyCodeSoapIn" />
      <output message="s0:GetCountryByCurrencyCodeSoapOut" />
    </operation>
    <operation name="GetCurrencies">
      <documentation>Get all currency,currency code for all countries </documentation>
      <input message="s0:GetCurrenciesSoapIn" />
      <output message="s0:GetCurrenciesSoapOut" />
    </operation>
    <operation name="GetCurrencyByCountry">
      <documentation>Get currency by country name </documentation>
      <input message="s0:GetCurrencyByCountrySoapIn" />
      <output message="s0:GetCurrencyByCountrySoapOut" />
    </operation>
    <operation name="GetGMTbyCountry">
      <documentation>Get greenwich mean time(GMT) by country name </documentation>
      <input message="s0:GetGMTbyCountrySoapIn" />
      <output message="s0:GetGMTbyCountrySoapOut" />
    </operation>
  </portType>
  <portType name="countryHttpGet">
    <operation name="GetCountryByCountryCode">
      <documentation>Get country name by country code</documentation>
      <input message="s0:GetCountryByCountryCodeHttpGetIn" />
      <output message="s0:GetCountryByCountryCodeHttpGetOut" />
    </operation>
    <operation name="GetISD">
      <documentation>Get International Dialing Code by country name </documentation>
      <input message="s0:GetISDHttpGetIn" />
      <output message="s0:GetISDHttpGetOut" />
    </operation>
    <operation name="GetCountries">
      <documentation>Get all countries with ISO code</documentation>
      <input message="s0:GetCountriesHttpGetIn" />
      <output message="s0:GetCountriesHttpGetOut" />
    </operation>
    <operation name="GetCurrencyCodeByCurrencyName">
      <documentation>Get currency by currency name </documentation>
      <input message="s0:GetCurrencyCodeByCurrencyNameHttpGetIn" />
      <output message="s0:GetCurrencyCodeByCurrencyNameHttpGetOut" />
    </operation>
    <operation name="GetISOCountryCodeByCountyName">
      <documentation>Get countries by country name </documentation>
      <input message="s0:GetISOCountryCodeByCountyNameHttpGetIn" />
      <output message="s0:GetISOCountryCodeByCountyNameHttpGetOut" />
    </operation>
    <operation name="GetCurrencyCode">
      <documentation>Get all currencycode for each country </documentation>
      <input message="s0:GetCurrencyCodeHttpGetIn" />
      <output message="s0:GetCurrencyCodeHttpGetOut" />
    </operation>
    <operation name="GetCountryByCurrencyCode">
      <documentation>Get country by currency code</documentation>
      <input message="s0:GetCountryByCurrencyCodeHttpGetIn" />
      <output message="s0:GetCountryByCurrencyCodeHttpGetOut" />
    </operation>
    <operation name="GetCurrencies">
      <documentation>Get all currency,currency code for all countries </documentation>
      <input message="s0:GetCurrenciesHttpGetIn" />
      <output message="s0:GetCurrenciesHttpGetOut" />
    </operation>
    <operation name="GetCurrencyByCountry">
      <documentation>Get currency by country name </documentation>
      <input message="s0:GetCurrencyByCountryHttpGetIn" />
      <output message="s0:GetCurrencyByCountryHttpGetOut" />
    </operation>
    <operation name="GetGMTbyCountry">
      <documentation>Get greenwich mean time(GMT) by country name </documentation>
      <input message="s0:GetGMTbyCountryHttpGetIn" />
      <output message="s0:GetGMTbyCountryHttpGetOut" />
    </operation>
  </portType>
  <portType name="countryHttpPost">
    <operation name="GetCountryByCountryCode">
      <documentation>Get country name by country code</documentation>
      <input message="s0:GetCountryByCountryCodeHttpPostIn" />
      <output message="s0:GetCountryByCountryCodeHttpPostOut" />
    </operation>
    <operation name="GetISD">
      <documentation>Get International Dialing Code by country name </documentation>
      <input message="s0:GetISDHttpPostIn" />
      <output message="s0:GetISDHttpPostOut" />
    </operation>
    <operation name="GetCountries">
      <documentation>Get all countries with ISO code</documentation>
      <input message="s0:GetCountriesHttpPostIn" />
      <output message="s0:GetCountriesHttpPostOut" />
    </operation>
    <operation name="GetCurrencyCodeByCurrencyName">
      <documentation>Get currency by currency name </documentation>
      <input message="s0:GetCurrencyCodeByCurrencyNameHttpPostIn" />
      <output message="s0:GetCurrencyCodeByCurrencyNameHttpPostOut" />
    </operation>
    <operation name="GetISOCountryCodeByCountyName">
      <documentation>Get countries by country name </documentation>
      <input message="s0:GetISOCountryCodeByCountyNameHttpPostIn" />
      <output message="s0:GetISOCountryCodeByCountyNameHttpPostOut" />
    </operation>
    <operation name="GetCurrencyCode">
      <documentation>Get all currencycode for each country </documentation>
      <input message="s0:GetCurrencyCodeHttpPostIn" />
      <output message="s0:GetCurrencyCodeHttpPostOut" />
    </operation>
    <operation name="GetCountryByCurrencyCode">
      <documentation>Get country by currency code</documentation>
      <input message="s0:GetCountryByCurrencyCodeHttpPostIn" />
      <output message="s0:GetCountryByCurrencyCodeHttpPostOut" />
    </operation>
    <operation name="GetCurrencies">
      <documentation>Get all currency,currency code for all countries </documentation>
      <input message="s0:GetCurrenciesHttpPostIn" />
      <output message="s0:GetCurrenciesHttpPostOut" />
    </operation>
    <operation name="GetCurrencyByCountry">
      <documentation>Get currency by country name </documentation>
      <input message="s0:GetCurrencyByCountryHttpPostIn" />
      <output message="s0:GetCurrencyByCountryHttpPostOut" />
    </operation>
    <operation name="GetGMTbyCountry">
      <documentation>Get greenwich mean time(GMT) by country name </documentation>
      <input message="s0:GetGMTbyCountryHttpPostIn" />
      <output message="s0:GetGMTbyCountryHttpPostOut" />
    </operation>
  </portType>
  <binding name="countrySoap" type="s0:countrySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetCountryByCountryCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCountryByCountryCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetISD">
      <soap:operation soapAction="http://www.webserviceX.NET/GetISD" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCountries">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCountries" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCurrencyCodeByCurrencyName">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencyCodeByCurrencyName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetISOCountryCodeByCountyName">
      <soap:operation soapAction="http://www.webserviceX.NET/GetISOCountryCodeByCountyName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCurrencyCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencyCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCountryByCurrencyCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCountryByCurrencyCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCurrencies">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencies" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCurrencyByCountry">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencyByCountry" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetGMTbyCountry">
      <soap:operation soapAction="http://www.webserviceX.NET/GetGMTbyCountry" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="countryHttpGet" type="s0:countryHttpGet">
    <http:binding verb="GET" />
    <operation name="GetCountryByCountryCode">
      <http:operation location="/GetCountryByCountryCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetISD">
      <http:operation location="/GetISD" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCountries">
      <http:operation location="/GetCountries" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCurrencyCodeByCurrencyName">
      <http:operation location="/GetCurrencyCodeByCurrencyName" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetISOCountryCodeByCountyName">
      <http:operation location="/GetISOCountryCodeByCountyName" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCurrencyCode">
      <http:operation location="/GetCurrencyCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCountryByCurrencyCode">
      <http:operation location="/GetCountryByCurrencyCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCurrencies">
      <http:operation location="/GetCurrencies" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCurrencyByCountry">
      <http:operation location="/GetCurrencyByCountry" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetGMTbyCountry">
      <http:operation location="/GetGMTbyCountry" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="countryHttpPost" type="s0:countryHttpPost">
    <http:binding verb="POST" />
    <operation name="GetCountryByCountryCode">
      <http:operation location="/GetCountryByCountryCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetISD">
      <http:operation location="/GetISD" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCountries">
      <http:operation location="/GetCountries" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCurrencyCodeByCurrencyName">
      <http:operation location="/GetCurrencyCodeByCurrencyName" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetISOCountryCodeByCountyName">
      <http:operation location="/GetISOCountryCodeByCountyName" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCurrencyCode">
      <http:operation location="/GetCurrencyCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCountryByCurrencyCode">
      <http:operation location="/GetCountryByCurrencyCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCurrencies">
      <http:operation location="/GetCurrencies" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetCurrencyByCountry">
      <http:operation location="/GetCurrencyByCountry" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetGMTbyCountry">
      <http:operation location="/GetGMTbyCountry" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="country">
    <port name="countrySoap" binding="s0:countrySoap">
      <soap:address location="http://www.webservicex.net/country.asmx" />
    </port>
    <port name="countryHttpGet" binding="s0:countryHttpGet">
      <http:address location="http://www.webservicex.net/country.asmx" />
    </port>
    <port name="countryHttpPost" binding="s0:countryHttpPost">
      <http:address location="http://www.webservicex.net/country.asmx" />
    </port>
  </service>
</definitions>