WebServiceDataset/unlabelled/service137.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--generated by GLUE on Thu Apr 24 19:05:28 JST 2003-->
<definitions name='Blast' targetNamespace='http://www.themindelectric.com/wsdl/Blast/' xmlns:tns='http://www.themindelectric.com/wsdl/Blast/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:tme='http://www.themindelectric.com/'>
  <message name='search0In'>
    <part name='program' type='xsd:string'/>
    <part name='database' type='xsd:string'/>
    <part name='query' type='xsd:string'/>
    <part name='param' type='xsd:string'/>
  </message>
  <message name='search0Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='search1In'>
    <part name='program' type='xsd:string'/>
    <part name='database' type='xsd:string'/>
    <part name='query' type='xsd:string'/>
  </message>
  <message name='search1Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='extractPosition2In'>
    <part name='result' type='xsd:string'/>
  </message>
  <message name='extractPosition2Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='searchAsync3In'>
    <part name='program' type='xsd:string'/>
    <part name='database' type='xsd:string'/>
    <part name='query' type='xsd:string'/>
    <part name='param' type='xsd:string'/>
  </message>
  <message name='searchAsync3Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='searchAsync4In'>
    <part name='program' type='xsd:string'/>
    <part name='database' type='xsd:string'/>
    <part name='query' type='xsd:string'/>
  </message>
  <message name='searchAsync4Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <portType name='Blast'>
    <operation name='search' parameterOrder='program database query param'>
      <documentation>Execute Blast with parameter</documentation>
      <input name='search0In' message='tns:search0In'/>
      <output name='search0Out' message='tns:search0Out'/>
    </operation>
    <operation name='search' parameterOrder='program database query'>
      <documentation>Execute Blast</documentation>
      <input name='search1In' message='tns:search1In'/>
      <output name='search1Out' message='tns:search1Out'/>
    </operation>
    <operation name='extractPosition' parameterOrder='result'>
      <documentation>get position information from BLAST</documentation>
      <input name='extractPosition2In' message='tns:extractPosition2In'/>
      <output name='extractPosition2Out' message='tns:extractPosition2Out'/>
    </operation>
    <operation name='searchAsync' parameterOrder='program database query param'>
      <documentation>Execute Blast with parameter</documentation>
      <input name='searchAsync3In' message='tns:searchAsync3In'/>
      <output name='searchAsync3Out' message='tns:searchAsync3Out'/>
    </operation>
    <operation name='searchAsync' parameterOrder='program database query'>
      <documentation>Execute Blast</documentation>
      <input name='searchAsync4In' message='tns:searchAsync4In'/>
      <output name='searchAsync4Out' message='tns:searchAsync4Out'/>
    </operation>
  </portType>
  <binding name='Blast' type='tns:Blast'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='search'>
      <soap:operation soapAction='search' style='rpc'/>
      <input name='search0In'>
        <soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='search0Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='search'>
      <soap:operation soapAction='search' style='rpc'/>
      <input name='search1In'>
        <soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='search1Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='extractPosition'>
      <soap:operation soapAction='extractPosition' style='rpc'/>
      <input name='extractPosition2In'>
        <soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='extractPosition2Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='searchAsync'>
      <soap:operation soapAction='searchAsync' style='rpc'/>
      <input name='searchAsync3In'>
        <soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='searchAsync3Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='searchAsync'>
      <soap:operation soapAction='searchAsync' style='rpc'/>
      <input name='searchAsync4In'>
        <soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='searchAsync4Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/Blast' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <service name='Blast'>
    <port name='Blast' binding='tns:Blast'>
      <soap:address location='http://xml.nig.ac.jp/xddbj/Blast'/>
    </port>
  </service>
</definitions>