WebServiceDataset/unlabelled/service131.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--generated by GLUE on Thu Apr 24 19:05:40 JST 2003-->
<definitions name='TxSearch' targetNamespace='http://www.themindelectric.com/wsdl/TxSearch/' xmlns:tns='http://www.themindelectric.com/wsdl/TxSearch/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:tme='http://www.themindelectric.com/'>
  <message name='search0In'>
    <part name='tx_Name' type='xsd:string'/>
  </message>
  <message name='search0Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='search1In'>
    <part name='tx_Name' type='xsd:string'/>
    <part name='tx_Clas' type='xsd:string'/>
    <part name='tx_Rank' type='xsd:string'/>
    <part name='tx_Rmax' type='xsd:string'/>
    <part name='tx_Dcls' type='xsd:string'/>
  </message>
  <message name='search1Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getTxId2In'>
    <part name='tx_Name' type='xsd:string'/>
  </message>
  <message name='getTxId2Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getTxName3In'>
    <part name='tx_Id' type='xsd:string'/>
  </message>
  <message name='getTxName3Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='searchLineage4In'>
    <part name='query' type='xsd:string'/>
    <part name='ranks' type='xsd:string'/>
    <part name='superkingdom' type='xsd:string'/>
  </message>
  <message name='searchLineage4Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <portType name='TxSearch'>
    <operation name='search' parameterOrder='tx_Name'>
      <documentation>Execute TxSearch</documentation>
      <input name='search0In' message='tns:search0In'/>
      <output name='search0Out' message='tns:search0Out'/>
    </operation>
    <operation name='search' parameterOrder='tx_Name tx_Clas tx_Rank tx_Rmax tx_Dcls'>
      <documentation>Execute TxSearch with parameter</documentation>
      <input name='search1In' message='tns:search1In'/>
      <output name='search1Out' message='tns:search1Out'/>
    </operation>
    <operation name='getTxId' parameterOrder='tx_Name'>
      <documentation>Get Taxonomy ID</documentation>
      <input name='getTxId2In' message='tns:getTxId2In'/>
      <output name='getTxId2Out' message='tns:getTxId2Out'/>
    </operation>
    <operation name='getTxName' parameterOrder='tx_Id'>
      <documentation>Get Taxonomy name</documentation>
      <input name='getTxName3In' message='tns:getTxName3In'/>
      <output name='getTxName3Out' message='tns:getTxName3Out'/>
    </operation>
    <operation name='searchLineage' parameterOrder='query ranks superkingdom'>
      <documentation>Get Lineage</documentation>
      <input name='searchLineage4In' message='tns:searchLineage4In'/>
      <output name='searchLineage4Out' message='tns:searchLineage4Out'/>
    </operation>
  </portType>
  <binding name='TxSearch' type='tns:TxSearch'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='search'>
      <soap:operation soapAction='search' style='rpc'/>
      <input name='search0In'>
        <soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='search0Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='search'>
      <soap:operation soapAction='search' style='rpc'/>
      <input name='search1In'>
        <soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='search1Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getTxId'>
      <soap:operation soapAction='getTxId' style='rpc'/>
      <input name='getTxId2In'>
        <soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getTxId2Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getTxName'>
      <soap:operation soapAction='getTxName' style='rpc'/>
      <input name='getTxName3In'>
        <soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getTxName3Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='searchLineage'>
      <soap:operation soapAction='searchLineage' style='rpc'/>
      <input name='searchLineage4In'>
        <soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='searchLineage4Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/TxSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <service name='TxSearch'>
    <port name='TxSearch' binding='tns:TxSearch'>
      <soap:address location='http://xml.nig.ac.jp/xddbj/TxSearch'/>
    </port>
  </service>
</definitions>