WebServiceDataset/unlabelled/service72.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetAustralianPostCodeByLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAustralianPostCodeByLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAustralianPostCodeByLocationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAustralianLocationByPostCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAustralianLocationByPostCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAustralianLocationByPostCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="GetAustralianPostCodeByLocationSoapIn">
    <part name="parameters" element="s0:GetAustralianPostCodeByLocation" />
  </message>
  <message name="GetAustralianPostCodeByLocationSoapOut">
    <part name="parameters" element="s0:GetAustralianPostCodeByLocationResponse" />
  </message>
  <message name="GetAustralianLocationByPostCodeSoapIn">
    <part name="parameters" element="s0:GetAustralianLocationByPostCode" />
  </message>
  <message name="GetAustralianLocationByPostCodeSoapOut">
    <part name="parameters" element="s0:GetAustralianLocationByPostCodeResponse" />
  </message>
  <message name="GetAustralianPostCodeByLocationHttpGetIn">
    <part name="Location" type="s:string" />
  </message>
  <message name="GetAustralianPostCodeByLocationHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetAustralianLocationByPostCodeHttpGetIn">
    <part name="PostCode" type="s:string" />
  </message>
  <message name="GetAustralianLocationByPostCodeHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetAustralianPostCodeByLocationHttpPostIn">
    <part name="Location" type="s:string" />
  </message>
  <message name="GetAustralianPostCodeByLocationHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetAustralianLocationByPostCodeHttpPostIn">
    <part name="PostCode" type="s:string" />
  </message>
  <message name="GetAustralianLocationByPostCodeHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="AustralianPostCodeSoap">
    <operation name="GetAustralianPostCodeByLocation">
      <documentation>Get Australian Postcode by partial / full Location Name</documentation>
      <input message="s0:GetAustralianPostCodeByLocationSoapIn" />
      <output message="s0:GetAustralianPostCodeByLocationSoapOut" />
    </operation>
    <operation name="GetAustralianLocationByPostCode">
      <documentation>Get Australian Location by partial / full Postcode</documentation>
      <input message="s0:GetAustralianLocationByPostCodeSoapIn" />
      <output message="s0:GetAustralianLocationByPostCodeSoapOut" />
    </operation>
  </portType>
  <portType name="AustralianPostCodeHttpGet">
    <operation name="GetAustralianPostCodeByLocation">
      <documentation>Get Australian Postcode by partial / full Location Name</documentation>
      <input message="s0:GetAustralianPostCodeByLocationHttpGetIn" />
      <output message="s0:GetAustralianPostCodeByLocationHttpGetOut" />
    </operation>
    <operation name="GetAustralianLocationByPostCode">
      <documentation>Get Australian Location by partial / full Postcode</documentation>
      <input message="s0:GetAustralianLocationByPostCodeHttpGetIn" />
      <output message="s0:GetAustralianLocationByPostCodeHttpGetOut" />
    </operation>
  </portType>
  <portType name="AustralianPostCodeHttpPost">
    <operation name="GetAustralianPostCodeByLocation">
      <documentation>Get Australian Postcode by partial / full Location Name</documentation>
      <input message="s0:GetAustralianPostCodeByLocationHttpPostIn" />
      <output message="s0:GetAustralianPostCodeByLocationHttpPostOut" />
    </operation>
    <operation name="GetAustralianLocationByPostCode">
      <documentation>Get Australian Location by partial / full Postcode</documentation>
      <input message="s0:GetAustralianLocationByPostCodeHttpPostIn" />
      <output message="s0:GetAustralianLocationByPostCodeHttpPostOut" />
    </operation>
  </portType>
  <binding name="AustralianPostCodeSoap" type="s0:AustralianPostCodeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetAustralianPostCodeByLocation">
      <soap:operation soapAction="http://www.webserviceX.NET/GetAustralianPostCodeByLocation" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAustralianLocationByPostCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetAustralianLocationByPostCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="AustralianPostCodeHttpGet" type="s0:AustralianPostCodeHttpGet">
    <http:binding verb="GET" />
    <operation name="GetAustralianPostCodeByLocation">
      <http:operation location="/GetAustralianPostCodeByLocation" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetAustralianLocationByPostCode">
      <http:operation location="/GetAustralianLocationByPostCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="AustralianPostCodeHttpPost" type="s0:AustralianPostCodeHttpPost">
    <http:binding verb="POST" />
    <operation name="GetAustralianPostCodeByLocation">
      <http:operation location="/GetAustralianPostCodeByLocation" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetAustralianLocationByPostCode">
      <http:operation location="/GetAustralianLocationByPostCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="AustralianPostCode">
    <documentation>Australian Postcode ,Location Web service</documentation>
    <port name="AustralianPostCodeSoap" binding="s0:AustralianPostCodeSoap">
      <soap:address location="http://www.webservicex.net/AustralianPostCode.asmx" />
    </port>
    <port name="AustralianPostCodeHttpGet" binding="s0:AustralianPostCodeHttpGet">
      <http:address location="http://www.webservicex.net/AustralianPostCode.asmx" />
    </port>
    <port name="AustralianPostCodeHttpPost" binding="s0:AustralianPostCodeHttpPost">
      <http:address location="http://www.webservicex.net/AustralianPostCode.asmx" />
    </port>
  </service>
</definitions>