WebServiceDataset/unlabelled/service58.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="s0:ArrayOfPerson" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="s0:Person" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Kt" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfPerson" nillable="true" type="s0:ArrayOfPerson" />
    </s:schema>
  </types>
  <message name="SearchSoapIn">
    <part name="parameters" element="s0:Search" />
  </message>
  <message name="SearchSoapOut">
    <part name="parameters" element="s0:SearchResponse" />
  </message>
  <message name="SearchHttpGetIn">
    <part name="text" type="s:string" />
  </message>
  <message name="SearchHttpGetOut">
    <part name="Body" element="s0:ArrayOfPerson" />
  </message>
  <message name="SearchHttpPostIn">
    <part name="text" type="s:string" />
  </message>
  <message name="SearchHttpPostOut">
    <part name="Body" element="s0:ArrayOfPerson" />
  </message>
  <portType name="PersonLookupSoap">
    <operation name="Search">
      <input message="s0:SearchSoapIn" />
      <output message="s0:SearchSoapOut" />
    </operation>
  </portType>
  <portType name="PersonLookupHttpGet">
    <operation name="Search">
      <input message="s0:SearchHttpGetIn" />
      <output message="s0:SearchHttpGetOut" />
    </operation>
  </portType>
  <portType name="PersonLookupHttpPost">
    <operation name="Search">
      <input message="s0:SearchHttpPostIn" />
      <output message="s0:SearchHttpPostOut" />
    </operation>
  </portType>
  <binding name="PersonLookupSoap" type="s0:PersonLookupSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Search">
      <soap:operation soapAction="http://tempuri.org/Search" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="PersonLookupHttpGet" type="s0:PersonLookupHttpGet">
    <http:binding verb="GET" />
    <operation name="Search">
      <http:operation location="/Search" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="PersonLookupHttpPost" type="s0:PersonLookupHttpPost">
    <http:binding verb="POST" />
    <operation name="Search">
      <http:operation location="/Search" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="PersonLookup">
    <port name="PersonLookupSoap" binding="s0:PersonLookupSoap">
      <soap:address location="http://www.barnaland.is/dev/personlookup.asmx" />
    </port>
    <port name="PersonLookupHttpGet" binding="s0:PersonLookupHttpGet">
      <http:address location="http://www.barnaland.is/dev/personlookup.asmx" />
    </port>
    <port name="PersonLookupHttpPost" binding="s0:PersonLookupHttpPost">
      <http:address location="http://www.barnaland.is/dev/personlookup.asmx" />
    </port>
  </service>
</definitions>