WebServiceDataset/unlabelled/service278.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.codemechanisms.com/webservices/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.codemechanisms.com/webservices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.codemechanisms.com/webservices/">
      <s:element name="cm_About">
        <s:complexType />
      </s:element>
      <s:element name="cm_AboutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cm_AboutResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cm_UNSPSCSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSearchString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLanguageCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cm_UNSPSCSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cm_UNSPSCSearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cm_GetUNSPSCCodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sParent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLanguageCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cm_GetUNSPSCCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cm_GetUNSPSCCodesResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cm_GetServiceTimeRemaining">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cm_GetServiceTimeRemainingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cm_GetServiceTimeRemainingResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cm_GetWebServiceVersion">
        <s:complexType />
      </s:element>
      <s:element name="cm_GetWebServiceVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cm_GetWebServiceVersionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cm_GetWebServiceVersionEx">
        <s:complexType />
      </s:element>
      <s:element name="cm_GetWebServiceVersionExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cm_GetWebServiceVersionExResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cm_GetSupportedLanguages">
        <s:complexType />
      </s:element>
      <s:element name="cm_GetSupportedLanguagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cm_GetSupportedLanguagesResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cm_GetTranslations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sUNSPSCCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cm_GetTranslationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cm_GetTranslationsResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="cm_AboutSoapIn">
    <part name="parameters" element="s0:cm_About" />
  </message>
  <message name="cm_AboutSoapOut">
    <part name="parameters" element="s0:cm_AboutResponse" />
  </message>
  <message name="cm_UNSPSCSearchSoapIn">
    <part name="parameters" element="s0:cm_UNSPSCSearch" />
  </message>
  <message name="cm_UNSPSCSearchSoapOut">
    <part name="parameters" element="s0:cm_UNSPSCSearchResponse" />
  </message>
  <message name="cm_GetUNSPSCCodesSoapIn">
    <part name="parameters" element="s0:cm_GetUNSPSCCodes" />
  </message>
  <message name="cm_GetUNSPSCCodesSoapOut">
    <part name="parameters" element="s0:cm_GetUNSPSCCodesResponse" />
  </message>
  <message name="cm_GetServiceTimeRemainingSoapIn">
    <part name="parameters" element="s0:cm_GetServiceTimeRemaining" />
  </message>
  <message name="cm_GetServiceTimeRemainingSoapOut">
    <part name="parameters" element="s0:cm_GetServiceTimeRemainingResponse" />
  </message>
  <message name="cm_GetWebServiceVersionSoapIn">
    <part name="parameters" element="s0:cm_GetWebServiceVersion" />
  </message>
  <message name="cm_GetWebServiceVersionSoapOut">
    <part name="parameters" element="s0:cm_GetWebServiceVersionResponse" />
  </message>
  <message name="cm_GetWebServiceVersionExSoapIn">
    <part name="parameters" element="s0:cm_GetWebServiceVersionEx" />
  </message>
  <message name="cm_GetWebServiceVersionExSoapOut">
    <part name="parameters" element="s0:cm_GetWebServiceVersionExResponse" />
  </message>
  <message name="cm_GetSupportedLanguagesSoapIn">
    <part name="parameters" element="s0:cm_GetSupportedLanguages" />
  </message>
  <message name="cm_GetSupportedLanguagesSoapOut">
    <part name="parameters" element="s0:cm_GetSupportedLanguagesResponse" />
  </message>
  <message name="cm_GetTranslationsSoapIn">
    <part name="parameters" element="s0:cm_GetTranslations" />
  </message>
  <message name="cm_GetTranslationsSoapOut">
    <part name="parameters" element="s0:cm_GetTranslationsResponse" />
  </message>
  <portType name="UNSPSCConvertSoap">
    <operation name="cm_About">
      <input message="s0:cm_AboutSoapIn" />
      <output message="s0:cm_AboutSoapOut" />
    </operation>
    <operation name="cm_UNSPSCSearch">
      <input message="s0:cm_UNSPSCSearchSoapIn" />
      <output message="s0:cm_UNSPSCSearchSoapOut" />
    </operation>
    <operation name="cm_GetUNSPSCCodes">
      <input message="s0:cm_GetUNSPSCCodesSoapIn" />
      <output message="s0:cm_GetUNSPSCCodesSoapOut" />
    </operation>
    <operation name="cm_GetServiceTimeRemaining">
      <input message="s0:cm_GetServiceTimeRemainingSoapIn" />
      <output message="s0:cm_GetServiceTimeRemainingSoapOut" />
    </operation>
    <operation name="cm_GetWebServiceVersion">
      <input message="s0:cm_GetWebServiceVersionSoapIn" />
      <output message="s0:cm_GetWebServiceVersionSoapOut" />
    </operation>
    <operation name="cm_GetWebServiceVersionEx">
      <input message="s0:cm_GetWebServiceVersionExSoapIn" />
      <output message="s0:cm_GetWebServiceVersionExSoapOut" />
    </operation>
    <operation name="cm_GetSupportedLanguages">
      <input message="s0:cm_GetSupportedLanguagesSoapIn" />
      <output message="s0:cm_GetSupportedLanguagesSoapOut" />
    </operation>
    <operation name="cm_GetTranslations">
      <input message="s0:cm_GetTranslationsSoapIn" />
      <output message="s0:cm_GetTranslationsSoapOut" />
    </operation>
  </portType>
  <binding name="UNSPSCConvertSoap" type="s0:UNSPSCConvertSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="cm_About">
      <soap:operation soapAction="http://www.codemechanisms.com/webservices/cm_About" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cm_UNSPSCSearch">
      <soap:operation soapAction="http://www.codemechanisms.com/webservices/cm_UNSPSCSearch" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cm_GetUNSPSCCodes">
      <soap:operation soapAction="http://www.codemechanisms.com/webservices/cm_GetUNSPSCCodes" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cm_GetServiceTimeRemaining">
      <soap:operation soapAction="http://www.codemechanisms.com/webservices/cm_GetServiceTimeRemaining" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cm_GetWebServiceVersion">
      <soap:operation soapAction="http://www.codemechanisms.com/webservices/cm_GetWebServiceVersion" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cm_GetWebServiceVersionEx">
      <soap:operation soapAction="http://www.codemechanisms.com/webservices/cm_GetWebServiceVersionEx" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cm_GetSupportedLanguages">
      <soap:operation soapAction="http://www.codemechanisms.com/webservices/cm_GetSupportedLanguages" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cm_GetTranslations">
      <soap:operation soapAction="http://www.codemechanisms.com/webservices/cm_GetTranslations" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UNSPSCConvert">
    <port name="UNSPSCConvertSoap" binding="s0:UNSPSCConvertSoap">
      <soap:address location="http://www.codemechanisms.co.uk/WebServices/UNSPSC.asmx" />
    </port>
  </service>
</definitions>