WebServiceDataset/unlabelled/service40.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetABADetailsByRoutingNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoutingNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetABADetailsByRoutingNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetABADetailsByRoutingNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetABADetailsByPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetABADetailsByPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetABADetailsByPhoneNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetABADetailsByBankDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BankName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetABADetailsByBankDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetABADetailsByBankDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="GetABADetailsByRoutingNumberSoapIn">
    <part name="parameters" element="s0:GetABADetailsByRoutingNumber" />
  </message>
  <message name="GetABADetailsByRoutingNumberSoapOut">
    <part name="parameters" element="s0:GetABADetailsByRoutingNumberResponse" />
  </message>
  <message name="GetABADetailsByPhoneNumberSoapIn">
    <part name="parameters" element="s0:GetABADetailsByPhoneNumber" />
  </message>
  <message name="GetABADetailsByPhoneNumberSoapOut">
    <part name="parameters" element="s0:GetABADetailsByPhoneNumberResponse" />
  </message>
  <message name="GetABADetailsByBankDetailsSoapIn">
    <part name="parameters" element="s0:GetABADetailsByBankDetails" />
  </message>
  <message name="GetABADetailsByBankDetailsSoapOut">
    <part name="parameters" element="s0:GetABADetailsByBankDetailsResponse" />
  </message>
  <message name="GetABADetailsByRoutingNumberHttpGetIn">
    <part name="RoutingNumber" type="s:string" />
  </message>
  <message name="GetABADetailsByRoutingNumberHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetABADetailsByPhoneNumberHttpGetIn">
    <part name="PhoneNumber" type="s:string" />
  </message>
  <message name="GetABADetailsByPhoneNumberHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetABADetailsByBankDetailsHttpGetIn">
    <part name="BankName" type="s:string" />
    <part name="City" type="s:string" />
    <part name="State" type="s:string" />
  </message>
  <message name="GetABADetailsByBankDetailsHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetABADetailsByRoutingNumberHttpPostIn">
    <part name="RoutingNumber" type="s:string" />
  </message>
  <message name="GetABADetailsByRoutingNumberHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetABADetailsByPhoneNumberHttpPostIn">
    <part name="PhoneNumber" type="s:string" />
  </message>
  <message name="GetABADetailsByPhoneNumberHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetABADetailsByBankDetailsHttpPostIn">
    <part name="BankName" type="s:string" />
    <part name="City" type="s:string" />
    <part name="State" type="s:string" />
  </message>
  <message name="GetABADetailsByBankDetailsHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="ABASoap">
    <operation name="GetABADetailsByRoutingNumber">
      <documentation>Validate United States bank routing numbers(ABA numbers)  by Routing Number</documentation>
      <input message="s0:GetABADetailsByRoutingNumberSoapIn" />
      <output message="s0:GetABADetailsByRoutingNumberSoapOut" />
    </operation>
    <operation name="GetABADetailsByPhoneNumber">
      <documentation>Validate United States bank routing numbers(ABA numbers)  by PhoneNumber</documentation>
      <input message="s0:GetABADetailsByPhoneNumberSoapIn" />
      <output message="s0:GetABADetailsByPhoneNumberSoapOut" />
    </operation>
    <operation name="GetABADetailsByBankDetails">
      <documentation>Validate United States bank routing numbers(ABA numbers)  by Bank Name and Address</documentation>
      <input message="s0:GetABADetailsByBankDetailsSoapIn" />
      <output message="s0:GetABADetailsByBankDetailsSoapOut" />
    </operation>
  </portType>
  <portType name="ABAHttpGet">
    <operation name="GetABADetailsByRoutingNumber">
      <documentation>Validate United States bank routing numbers(ABA numbers)  by Routing Number</documentation>
      <input message="s0:GetABADetailsByRoutingNumberHttpGetIn" />
      <output message="s0:GetABADetailsByRoutingNumberHttpGetOut" />
    </operation>
    <operation name="GetABADetailsByPhoneNumber">
      <documentation>Validate United States bank routing numbers(ABA numbers)  by PhoneNumber</documentation>
      <input message="s0:GetABADetailsByPhoneNumberHttpGetIn" />
      <output message="s0:GetABADetailsByPhoneNumberHttpGetOut" />
    </operation>
    <operation name="GetABADetailsByBankDetails">
      <documentation>Validate United States bank routing numbers(ABA numbers)  by Bank Name and Address</documentation>
      <input message="s0:GetABADetailsByBankDetailsHttpGetIn" />
      <output message="s0:GetABADetailsByBankDetailsHttpGetOut" />
    </operation>
  </portType>
  <portType name="ABAHttpPost">
    <operation name="GetABADetailsByRoutingNumber">
      <documentation>Validate United States bank routing numbers(ABA numbers)  by Routing Number</documentation>
      <input message="s0:GetABADetailsByRoutingNumberHttpPostIn" />
      <output message="s0:GetABADetailsByRoutingNumberHttpPostOut" />
    </operation>
    <operation name="GetABADetailsByPhoneNumber">
      <documentation>Validate United States bank routing numbers(ABA numbers)  by PhoneNumber</documentation>
      <input message="s0:GetABADetailsByPhoneNumberHttpPostIn" />
      <output message="s0:GetABADetailsByPhoneNumberHttpPostOut" />
    </operation>
    <operation name="GetABADetailsByBankDetails">
      <documentation>Validate United States bank routing numbers(ABA numbers)  by Bank Name and Address</documentation>
      <input message="s0:GetABADetailsByBankDetailsHttpPostIn" />
      <output message="s0:GetABADetailsByBankDetailsHttpPostOut" />
    </operation>
  </portType>
  <binding name="ABASoap" type="s0:ABASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetABADetailsByRoutingNumber">
      <soap:operation soapAction="http://www.webserviceX.NET/GetABADetailsByRoutingNumber" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetABADetailsByPhoneNumber">
      <soap:operation soapAction="http://www.webserviceX.NET/GetABADetailsByPhoneNumber" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetABADetailsByBankDetails">
      <soap:operation soapAction="http://www.webserviceX.NET/GetABADetailsByBankDetails" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ABAHttpGet" type="s0:ABAHttpGet">
    <http:binding verb="GET" />
    <operation name="GetABADetailsByRoutingNumber">
      <http:operation location="/GetABADetailsByRoutingNumber" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetABADetailsByPhoneNumber">
      <http:operation location="/GetABADetailsByPhoneNumber" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetABADetailsByBankDetails">
      <http:operation location="/GetABADetailsByBankDetails" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ABAHttpPost" type="s0:ABAHttpPost">
    <http:binding verb="POST" />
    <operation name="GetABADetailsByRoutingNumber">
      <http:operation location="/GetABADetailsByRoutingNumber" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetABADetailsByPhoneNumber">
      <http:operation location="/GetABADetailsByPhoneNumber" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetABADetailsByBankDetails">
      <http:operation location="/GetABADetailsByBankDetails" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="ABA">
    <port name="ABASoap" binding="s0:ABASoap">
      <soap:address location="http://www.webservicex.net/aba.asmx" />
    </port>
    <port name="ABAHttpGet" binding="s0:ABAHttpGet">
      <http:address location="http://www.webservicex.net/aba.asmx" />
    </port>
    <port name="ABAHttpPost" binding="s0:ABAHttpPost">
      <http:address location="http://www.webservicex.net/aba.asmx" />
    </port>
  </service>
</definitions>