WebServiceDataset/unlabelled/service167.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.freshscore.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.freshscore.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.freshscore.com">
      <s:element name="GetTodaysCompetitions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTodaysCompetitionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTodaysCompetitionsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYesterdaysCompetitions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYesterdaysCompetitionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYesterdaysCompetitionsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTomorrowsCompetitions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTomorrowsCompetitionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTomorrowsCompetitionsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTodaysGames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTodaysGamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTodaysGamesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYesterdaysGames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYesterdaysGamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYesterdaysGamesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTomorrowsGames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTomorrowsGamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTomorrowsGamesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetTodaysCompetitionsSoapIn">
    <part name="parameters" element="s0:GetTodaysCompetitions" />
  </message>
  <message name="GetTodaysCompetitionsSoapOut">
    <part name="parameters" element="s0:GetTodaysCompetitionsResponse" />
  </message>
  <message name="GetYesterdaysCompetitionsSoapIn">
    <part name="parameters" element="s0:GetYesterdaysCompetitions" />
  </message>
  <message name="GetYesterdaysCompetitionsSoapOut">
    <part name="parameters" element="s0:GetYesterdaysCompetitionsResponse" />
  </message>
  <message name="GetTomorrowsCompetitionsSoapIn">
    <part name="parameters" element="s0:GetTomorrowsCompetitions" />
  </message>
  <message name="GetTomorrowsCompetitionsSoapOut">
    <part name="parameters" element="s0:GetTomorrowsCompetitionsResponse" />
  </message>
  <message name="GetTodaysGamesSoapIn">
    <part name="parameters" element="s0:GetTodaysGames" />
  </message>
  <message name="GetTodaysGamesSoapOut">
    <part name="parameters" element="s0:GetTodaysGamesResponse" />
  </message>
  <message name="GetYesterdaysGamesSoapIn">
    <part name="parameters" element="s0:GetYesterdaysGames" />
  </message>
  <message name="GetYesterdaysGamesSoapOut">
    <part name="parameters" element="s0:GetYesterdaysGamesResponse" />
  </message>
  <message name="GetTomorrowsGamesSoapIn">
    <part name="parameters" element="s0:GetTomorrowsGames" />
  </message>
  <message name="GetTomorrowsGamesSoapOut">
    <part name="parameters" element="s0:GetTomorrowsGamesResponse" />
  </message>
  <message name="GetTodaysCompetitionsHttpGetIn">
    <part name="AuthorizationCode" type="s:string" />
  </message>
  <message name="GetTodaysCompetitionsHttpGetOut">
    <part name="Body" />
  </message>
  <message name="GetYesterdaysCompetitionsHttpGetIn">
    <part name="AuthorizationCode" type="s:string" />
  </message>
  <message name="GetYesterdaysCompetitionsHttpGetOut">
    <part name="Body" />
  </message>
  <message name="GetTomorrowsCompetitionsHttpGetIn">
    <part name="AuthorizationCode" type="s:string" />
  </message>
  <message name="GetTomorrowsCompetitionsHttpGetOut">
    <part name="Body" />
  </message>
  <message name="GetTodaysGamesHttpGetIn">
    <part name="AuthorizationCode" type="s:string" />
  </message>
  <message name="GetTodaysGamesHttpGetOut">
    <part name="Body" />
  </message>
  <message name="GetYesterdaysGamesHttpGetIn">
    <part name="AuthorizationCode" type="s:string" />
  </message>
  <message name="GetYesterdaysGamesHttpGetOut">
    <part name="Body" />
  </message>
  <message name="GetTomorrowsGamesHttpGetIn">
    <part name="AuthorizationCode" type="s:string" />
  </message>
  <message name="GetTomorrowsGamesHttpGetOut">
    <part name="Body" />
  </message>
  <message name="GetTodaysCompetitionsHttpPostIn">
    <part name="AuthorizationCode" type="s:string" />
  </message>
  <message name="GetTodaysCompetitionsHttpPostOut">
    <part name="Body" />
  </message>
  <message name="GetYesterdaysCompetitionsHttpPostIn">
    <part name="AuthorizationCode" type="s:string" />
  </message>
  <message name="GetYesterdaysCompetitionsHttpPostOut">
    <part name="Body" />
  </message>
  <message name="GetTomorrowsCompetitionsHttpPostIn">
    <part name="AuthorizationCode" type="s:string" />
  </message>
  <message name="GetTomorrowsCompetitionsHttpPostOut">
    <part name="Body" />
  </message>
  <message name="GetTodaysGamesHttpPostIn">
    <part name="AuthorizationCode" type="s:string" />
  </message>
  <message name="GetTodaysGamesHttpPostOut">
    <part name="Body" />
  </message>
  <message name="GetYesterdaysGamesHttpPostIn">
    <part name="AuthorizationCode" type="s:string" />
  </message>
  <message name="GetYesterdaysGamesHttpPostOut">
    <part name="Body" />
  </message>
  <message name="GetTomorrowsGamesHttpPostIn">
    <part name="AuthorizationCode" type="s:string" />
  </message>
  <message name="GetTomorrowsGamesHttpPostOut">
    <part name="Body" />
  </message>
  <portType name="FreshScoreSoap">
    <operation name="GetTodaysCompetitions">
      <input message="s0:GetTodaysCompetitionsSoapIn" />
      <output message="s0:GetTodaysCompetitionsSoapOut" />
    </operation>
    <operation name="GetYesterdaysCompetitions">
      <input message="s0:GetYesterdaysCompetitionsSoapIn" />
      <output message="s0:GetYesterdaysCompetitionsSoapOut" />
    </operation>
    <operation name="GetTomorrowsCompetitions">
      <input message="s0:GetTomorrowsCompetitionsSoapIn" />
      <output message="s0:GetTomorrowsCompetitionsSoapOut" />
    </operation>
    <operation name="GetTodaysGames">
      <input message="s0:GetTodaysGamesSoapIn" />
      <output message="s0:GetTodaysGamesSoapOut" />
    </operation>
    <operation name="GetYesterdaysGames">
      <input message="s0:GetYesterdaysGamesSoapIn" />
      <output message="s0:GetYesterdaysGamesSoapOut" />
    </operation>
    <operation name="GetTomorrowsGames">
      <input message="s0:GetTomorrowsGamesSoapIn" />
      <output message="s0:GetTomorrowsGamesSoapOut" />
    </operation>
  </portType>
  <portType name="FreshScoreHttpGet">
    <operation name="GetTodaysCompetitions">
      <input message="s0:GetTodaysCompetitionsHttpGetIn" />
      <output message="s0:GetTodaysCompetitionsHttpGetOut" />
    </operation>
    <operation name="GetYesterdaysCompetitions">
      <input message="s0:GetYesterdaysCompetitionsHttpGetIn" />
      <output message="s0:GetYesterdaysCompetitionsHttpGetOut" />
    </operation>
    <operation name="GetTomorrowsCompetitions">
      <input message="s0:GetTomorrowsCompetitionsHttpGetIn" />
      <output message="s0:GetTomorrowsCompetitionsHttpGetOut" />
    </operation>
    <operation name="GetTodaysGames">
      <input message="s0:GetTodaysGamesHttpGetIn" />
      <output message="s0:GetTodaysGamesHttpGetOut" />
    </operation>
    <operation name="GetYesterdaysGames">
      <input message="s0:GetYesterdaysGamesHttpGetIn" />
      <output message="s0:GetYesterdaysGamesHttpGetOut" />
    </operation>
    <operation name="GetTomorrowsGames">
      <input message="s0:GetTomorrowsGamesHttpGetIn" />
      <output message="s0:GetTomorrowsGamesHttpGetOut" />
    </operation>
  </portType>
  <portType name="FreshScoreHttpPost">
    <operation name="GetTodaysCompetitions">
      <input message="s0:GetTodaysCompetitionsHttpPostIn" />
      <output message="s0:GetTodaysCompetitionsHttpPostOut" />
    </operation>
    <operation name="GetYesterdaysCompetitions">
      <input message="s0:GetYesterdaysCompetitionsHttpPostIn" />
      <output message="s0:GetYesterdaysCompetitionsHttpPostOut" />
    </operation>
    <operation name="GetTomorrowsCompetitions">
      <input message="s0:GetTomorrowsCompetitionsHttpPostIn" />
      <output message="s0:GetTomorrowsCompetitionsHttpPostOut" />
    </operation>
    <operation name="GetTodaysGames">
      <input message="s0:GetTodaysGamesHttpPostIn" />
      <output message="s0:GetTodaysGamesHttpPostOut" />
    </operation>
    <operation name="GetYesterdaysGames">
      <input message="s0:GetYesterdaysGamesHttpPostIn" />
      <output message="s0:GetYesterdaysGamesHttpPostOut" />
    </operation>
    <operation name="GetTomorrowsGames">
      <input message="s0:GetTomorrowsGamesHttpPostIn" />
      <output message="s0:GetTomorrowsGamesHttpPostOut" />
    </operation>
  </portType>
  <binding name="FreshScoreSoap" type="s0:FreshScoreSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetTodaysCompetitions">
      <soap:operation soapAction="http://www.freshscore.com/GetTodaysCompetitions" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetYesterdaysCompetitions">
      <soap:operation soapAction="http://www.freshscore.com/GetYesterdaysCompetitions" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTomorrowsCompetitions">
      <soap:operation soapAction="http://www.freshscore.com/GetTomorrowsCompetitions" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTodaysGames">
      <soap:operation soapAction="http://www.freshscore.com/GetTodaysGames" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetYesterdaysGames">
      <soap:operation soapAction="http://www.freshscore.com/GetYesterdaysGames" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTomorrowsGames">
      <soap:operation soapAction="http://www.freshscore.com/GetTomorrowsGames" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="FreshScoreHttpGet" type="s0:FreshScoreHttpGet">
    <http:binding verb="GET" />
    <operation name="GetTodaysCompetitions">
      <http:operation location="/GetTodaysCompetitions" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetYesterdaysCompetitions">
      <http:operation location="/GetYesterdaysCompetitions" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetTomorrowsCompetitions">
      <http:operation location="/GetTomorrowsCompetitions" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetTodaysGames">
      <http:operation location="/GetTodaysGames" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetYesterdaysGames">
      <http:operation location="/GetYesterdaysGames" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetTomorrowsGames">
      <http:operation location="/GetTomorrowsGames" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
  </binding>
  <binding name="FreshScoreHttpPost" type="s0:FreshScoreHttpPost">
    <http:binding verb="POST" />
    <operation name="GetTodaysCompetitions">
      <http:operation location="/GetTodaysCompetitions" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetYesterdaysCompetitions">
      <http:operation location="/GetYesterdaysCompetitions" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetTomorrowsCompetitions">
      <http:operation location="/GetTomorrowsCompetitions" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetTodaysGames">
      <http:operation location="/GetTodaysGames" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetYesterdaysGames">
      <http:operation location="/GetYesterdaysGames" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetTomorrowsGames">
      <http:operation location="/GetTomorrowsGames" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
  </binding>
  <service name="FreshScore">
    <port name="FreshScoreSoap" binding="s0:FreshScoreSoap">
      <soap:address location="http://www.freshscore.com/service/FreshScoreLiveScores.asmx" />
    </port>
    <port name="FreshScoreHttpGet" binding="s0:FreshScoreHttpGet">
      <http:address location="http://www.freshscore.com/service/FreshScoreLiveScores.asmx" />
    </port>
    <port name="FreshScoreHttpPost" binding="s0:FreshScoreHttpPost">
      <http:address location="http://www.freshscore.com/service/FreshScoreLiveScores.asmx" />
    </port>
  </service>
</definitions>