WebServiceDataset/unlabelled/service193.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!--Generated by the Oracle9i JDeveloper Web Services WSDL Generator-->
<!--Date Created: Sun Jun 16 14:22:12 PDT 2002-->
<definitions
   name="OTNMobileWrapper"
   targetNamespace="http://otn.oracle.com/wsdltns/oracle/otn/ws/mobile/OTNMobileWrapper"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://otn.oracle.com/wsdltns/oracle/otn/ws/mobile/OTNMobileWrapper"
   xmlns:ns1="http://otn.oracle.com/wsdltns/oracle/otn/ws/mobile/OTNMobileWrapper/schema">
   <types>
      <schema
         targetNamespace="http://otn.oracle.com/wsdltns/oracle/otn/ws/mobile/OTNMobileWrapper/schema"
         xmlns="http://www.w3.org/2001/XMLSchema"
         xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
         <complexType name="ArrayOfstring" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </types>
   <message name="getStatusByMsgID0Request">
      <part name="otnUsername" type="xsd:string"/>
      <part name="otnPassword" type="xsd:string"/>
      <part name="messageID" type="xsd:string"/>
   </message>
   <message name="getStatusByMsgID0Response">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="getStatusesByMsgIDs1Request">
      <part name="otnUsername" type="xsd:string"/>
      <part name="otnPassword" type="xsd:string"/>
      <part name="messageIDs" type="ns1:ArrayOfstring"/>
   </message>
   <message name="getStatusesByMsgIDs1Response">
      <part name="return" type="ns1:ArrayOfstring"/>
   </message>
   <message name="getSupportedTransports2Request"/>
   <message name="getSupportedTransports2Response">
      <part name="return" type="ns1:ArrayOfstring"/>
   </message>
   <message name="getVersion3Request"/>
   <message name="getVersion3Response">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="sendText4Request">
      <part name="otnUsername" type="xsd:string"/>
      <part name="otnPassword" type="xsd:string"/>
      <part name="senders" type="ns1:ArrayOfstring"/>
      <part name="replyTo" type="ns1:ArrayOfstring"/>
      <part name="recipients" type="ns1:ArrayOfstring"/>
      <part name="associatedKeys" type="ns1:ArrayOfstring"/>
      <part name="subject" type="xsd:string"/>
      <part name="messageBody" type="xsd:string"/>
      <part name="encoding" type="xsd:string"/>
   </message>
   <message name="sendText4Response">
      <part name="return" type="ns1:ArrayOfstring"/>
   </message>
   <message name="sendTextMsg5Request">
      <part name="otnUsername" type="xsd:string"/>
      <part name="otnPassword" type="xsd:string"/>
      <part name="senders" type="ns1:ArrayOfstring"/>
      <part name="recipients" type="ns1:ArrayOfstring"/>
      <part name="messageBody" type="xsd:string"/>
   </message>
   <message name="sendTextMsg5Response">
      <part name="return" type="ns1:ArrayOfstring"/>
   </message>
   <portType name="OTNMobileWrapperPortType">
      <operation name="getStatusByMsgID">
         <input name="getStatusByMsgID0Request" message="tns:getStatusByMsgID0Request"/>
         <output name="getStatusByMsgID0Response" message="tns:getStatusByMsgID0Response"/>
      </operation>
      <operation name="getStatusesByMsgIDs">
         <input name="getStatusesByMsgIDs1Request" message="tns:getStatusesByMsgIDs1Request"/>
         <output name="getStatusesByMsgIDs1Response" message="tns:getStatusesByMsgIDs1Response"/>
      </operation>
      <operation name="getSupportedTransports">
         <input name="getSupportedTransports2Request" message="tns:getSupportedTransports2Request"/>
         <output name="getSupportedTransports2Response" message="tns:getSupportedTransports2Response"/>
      </operation>
      <operation name="getVersion">
         <input name="getVersion3Request" message="tns:getVersion3Request"/>
         <output name="getVersion3Response" message="tns:getVersion3Response"/>
      </operation>
      <operation name="sendText">
         <input name="sendText4Request" message="tns:sendText4Request"/>
         <output name="sendText4Response" message="tns:sendText4Response"/>
      </operation>
      <operation name="sendTextMsg">
         <input name="sendTextMsg5Request" message="tns:sendTextMsg5Request"/>
         <output name="sendTextMsg5Response" message="tns:sendTextMsg5Response"/>
      </operation>
   </portType>
   <binding name="OTNMobileWrapperBinding" type="tns:OTNMobileWrapperPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="getStatusByMsgID">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getStatusByMsgID0Request">
            <soap:body use="encoded" namespace="oracle.otn.ws.mobile.OTNMobileWrapper" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getStatusByMsgID0Response">
            <soap:body use="encoded" namespace="oracle.otn.ws.mobile.OTNMobileWrapper" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getStatusesByMsgIDs">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getStatusesByMsgIDs1Request">
            <soap:body use="encoded" namespace="oracle.otn.ws.mobile.OTNMobileWrapper" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getStatusesByMsgIDs1Response">
            <soap:body use="encoded" namespace="oracle.otn.ws.mobile.OTNMobileWrapper" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getSupportedTransports">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getSupportedTransports2Request">
            <soap:body use="encoded" namespace="oracle.otn.ws.mobile.OTNMobileWrapper" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getSupportedTransports2Response">
            <soap:body use="encoded" namespace="oracle.otn.ws.mobile.OTNMobileWrapper" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getVersion">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getVersion3Request">
            <soap:body use="encoded" namespace="oracle.otn.ws.mobile.OTNMobileWrapper" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getVersion3Response">
            <soap:body use="encoded" namespace="oracle.otn.ws.mobile.OTNMobileWrapper" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="sendText">
         <soap:operation soapAction="" style="rpc"/>
         <input name="sendText4Request">
            <soap:body use="encoded" namespace="oracle.otn.ws.mobile.OTNMobileWrapper" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="sendText4Response">
            <soap:body use="encoded" namespace="oracle.otn.ws.mobile.OTNMobileWrapper" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="sendTextMsg">
         <soap:operation soapAction="" style="rpc"/>
         <input name="sendTextMsg5Request">
            <soap:body use="encoded" namespace="oracle.otn.ws.mobile.OTNMobileWrapper" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="sendTextMsg5Response">
            <soap:body use="encoded" namespace="oracle.otn.ws.mobile.OTNMobileWrapper" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="OTNMobileWrapper">
      <port name="OTNMobileWrapperPort" binding="tns:OTNMobileWrapperBinding">
         <soap:address location="http://otn.oracle.com/ws/oracle.otn.ws.mobile.OTNMobileWrapper"/>
      </port>
   </service>
</definitions>
