WebServiceDataset/unlabelled/service47.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.serviceobjects.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.serviceobjects.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.serviceobjects.com/">
      <s:element name="GetPhoneAppend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhoneAppendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPhoneAppendResult" type="s0:PhoneInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PhoneInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s0:Err" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Err">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PhoneInfo" nillable="true" type="s0:PhoneInfo" />
    </s:schema>
  </types>
  <message name="GetPhoneAppendSoapIn">
    <part name="parameters" element="s0:GetPhoneAppend" />
  </message>
  <message name="GetPhoneAppendSoapOut">
    <part name="parameters" element="s0:GetPhoneAppendResponse" />
  </message>
  <message name="GetPhoneAppendHttpGetIn">
    <part name="FirstName" type="s:string" />
    <part name="LastName" type="s:string" />
    <part name="Address" type="s:string" />
    <part name="City" type="s:string" />
    <part name="State" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetPhoneAppendHttpGetOut">
    <part name="Body" element="s0:PhoneInfo" />
  </message>
  <message name="GetPhoneAppendHttpPostIn">
    <part name="FirstName" type="s:string" />
    <part name="LastName" type="s:string" />
    <part name="Address" type="s:string" />
    <part name="City" type="s:string" />
    <part name="State" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetPhoneAppendHttpPostOut">
    <part name="Body" element="s0:PhoneInfo" />
  </message>
  <portType name="DOTSPhoneAppendSoap">
    <operation name="GetPhoneAppend">
      <documentation>Returns the phone number for a given address.</documentation>
      <input message="s0:GetPhoneAppendSoapIn" />
      <output message="s0:GetPhoneAppendSoapOut" />
    </operation>
  </portType>
  <portType name="DOTSPhoneAppendHttpGet">
    <operation name="GetPhoneAppend">
      <documentation>Returns the phone number for a given address.</documentation>
      <input message="s0:GetPhoneAppendHttpGetIn" />
      <output message="s0:GetPhoneAppendHttpGetOut" />
    </operation>
  </portType>
  <portType name="DOTSPhoneAppendHttpPost">
    <operation name="GetPhoneAppend">
      <documentation>Returns the phone number for a given address.</documentation>
      <input message="s0:GetPhoneAppendHttpPostIn" />
      <output message="s0:GetPhoneAppendHttpPostOut" />
    </operation>
  </portType>
  <binding name="DOTSPhoneAppendSoap" type="s0:DOTSPhoneAppendSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetPhoneAppend">
      <soap:operation soapAction="http://www.serviceobjects.com/GetPhoneAppend" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="DOTSPhoneAppendHttpGet" type="s0:DOTSPhoneAppendHttpGet">
    <http:binding verb="GET" />
    <operation name="GetPhoneAppend">
      <http:operation location="/GetPhoneAppend" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="DOTSPhoneAppendHttpPost" type="s0:DOTSPhoneAppendHttpPost">
    <http:binding verb="POST" />
    <operation name="GetPhoneAppend">
      <http:operation location="/GetPhoneAppend" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="DOTSPhoneAppend">
    <documentation>For more information on our web services, visit us at &lt;a href='http://www.serviceobjects.com/products/default.asp' target='new'&gt;our website&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;&lt;a href='http://www.serviceobjects.com' target='new'&gt;&lt;img src='http://www.serviceobjects.com/images/so_logo_2_inside.gif' border='0'/&gt;&lt;/a&gt;</documentation>
    <port name="DOTSPhoneAppendSoap" binding="s0:DOTSPhoneAppendSoap">
      <soap:address location="http://ws2.serviceobjects.net/pa/phoneappend.asmx" />
    </port>
    <port name="DOTSPhoneAppendHttpGet" binding="s0:DOTSPhoneAppendHttpGet">
      <http:address location="http://ws2.serviceobjects.net/pa/phoneappend.asmx" />
    </port>
    <port name="DOTSPhoneAppendHttpPost" binding="s0:DOTSPhoneAppendHttpPost">
      <http:address location="http://ws2.serviceobjects.net/pa/phoneappend.asmx" />
    </port>
  </service>
</definitions>