WebServiceDataset/unlabelled/service12.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://eu.webmatrixhosting.net/otourdes/EqImageSharp/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://eu.webmatrixhosting.net/otourdes/EqImageSharp/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://eu.webmatrixhosting.net/otourdes/EqImageSharp/">
      <s:element name="Compare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CompareResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </types>
  <message name="CompareSoapIn">
    <part name="parameters" element="s0:Compare" />
  </message>
  <message name="CompareSoapOut">
    <part name="parameters" element="s0:CompareResponse" />
  </message>
  <message name="CompareHttpGetIn">
    <part name="url1" type="s:string" />
    <part name="url2" type="s:string" />
  </message>
  <message name="CompareHttpGetOut">
    <part name="Body" element="s0:double" />
  </message>
  <message name="CompareHttpPostIn">
    <part name="url1" type="s:string" />
    <part name="url2" type="s:string" />
  </message>
  <message name="CompareHttpPostOut">
    <part name="Body" element="s0:double" />
  </message>
  <portType name="CEqImageSoap">
    <operation name="Compare">
      <documentation>Comparison of two pictures (any format) given by their url.&lt;BR&gt;It returns a double:&lt;BR&gt;&lt;ul&gt;&lt;li&gt;0 means that pictures are equals;&lt;/li&gt;&lt;li&gt;a value near 0 means that pictures are closer;&lt;/li&gt;&lt;li&gt;-1 means that there is an error (image not loaded).&lt;/li&gt;&lt;/ul&gt;</documentation>
      <input message="s0:CompareSoapIn" />
      <output message="s0:CompareSoapOut" />
    </operation>
  </portType>
  <portType name="CEqImageHttpGet">
    <operation name="Compare">
      <documentation>Comparison of two pictures (any format) given by their url.&lt;BR&gt;It returns a double:&lt;BR&gt;&lt;ul&gt;&lt;li&gt;0 means that pictures are equals;&lt;/li&gt;&lt;li&gt;a value near 0 means that pictures are closer;&lt;/li&gt;&lt;li&gt;-1 means that there is an error (image not loaded).&lt;/li&gt;&lt;/ul&gt;</documentation>
      <input message="s0:CompareHttpGetIn" />
      <output message="s0:CompareHttpGetOut" />
    </operation>
  </portType>
  <portType name="CEqImageHttpPost">
    <operation name="Compare">
      <documentation>Comparison of two pictures (any format) given by their url.&lt;BR&gt;It returns a double:&lt;BR&gt;&lt;ul&gt;&lt;li&gt;0 means that pictures are equals;&lt;/li&gt;&lt;li&gt;a value near 0 means that pictures are closer;&lt;/li&gt;&lt;li&gt;-1 means that there is an error (image not loaded).&lt;/li&gt;&lt;/ul&gt;</documentation>
      <input message="s0:CompareHttpPostIn" />
      <output message="s0:CompareHttpPostOut" />
    </operation>
  </portType>
  <binding name="CEqImageSoap" type="s0:CEqImageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Compare">
      <soap:operation soapAction="http://eu.webmatrixhosting.net/otourdes/EqImageSharp/Compare" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="CEqImageHttpGet" type="s0:CEqImageHttpGet">
    <http:binding verb="GET" />
    <operation name="Compare">
      <http:operation location="/Compare" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="CEqImageHttpPost" type="s0:CEqImageHttpPost">
    <http:binding verb="POST" />
    <operation name="Compare">
      <http:operation location="/Compare" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="CEqImage">
    <documentation>EqImage v1.03&lt;BR&gt;Comparison of two pictures.&lt;BR&gt;&lt;A HREF='mailto:eqimagews@yahoo.fr'&gt;Suggestions or informations.&lt;/A&gt;</documentation>
    <port name="CEqImageSoap" binding="s0:CEqImageSoap">
      <soap:address location="http://eu.webmatrixhosting.net/otourdes/EqImageSharp/EqImage.asmx" />
    </port>
    <port name="CEqImageHttpGet" binding="s0:CEqImageHttpGet">
      <http:address location="http://eu.webmatrixhosting.net/otourdes/EqImageSharp/EqImage.asmx" />
    </port>
    <port name="CEqImageHttpPost" binding="s0:CEqImageHttpPost">
      <http:address location="http://eu.webmatrixhosting.net/otourdes/EqImageSharp/EqImage.asmx" />
    </port>
  </service>
</definitions>