WebServiceDataset/unlabelled/service67.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.swanandmokashi.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.swanandmokashi.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.swanandmokashi.com">
      <s:element name="GetQuote">
        <s:complexType />
      </s:element>
      <s:element name="GetQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetQuoteResult" type="s0:Quotes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Quotes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="QuoteOfTheDay" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Author" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Quotes" type="s0:Quotes" />
    </s:schema>
  </types>
  <message name="GetQuoteSoapIn">
    <part name="parameters" element="s0:GetQuote" />
  </message>
  <message name="GetQuoteSoapOut">
    <part name="parameters" element="s0:GetQuoteResponse" />
  </message>
  <message name="GetQuoteHttpGetIn" />
  <message name="GetQuoteHttpGetOut">
    <part name="Body" element="s0:Quotes" />
  </message>
  <message name="GetQuoteHttpPostIn" />
  <message name="GetQuoteHttpPostOut">
    <part name="Body" element="s0:Quotes" />
  </message>
  <portType name="QuoteOfTheDaySoap">
    <operation name="GetQuote">
      <documentation>Returns a funny random quote and its author.</documentation>
      <input message="s0:GetQuoteSoapIn" />
      <output message="s0:GetQuoteSoapOut" />
    </operation>
  </portType>
  <portType name="QuoteOfTheDayHttpGet">
    <operation name="GetQuote">
      <documentation>Returns a funny random quote and its author.</documentation>
      <input message="s0:GetQuoteHttpGetIn" />
      <output message="s0:GetQuoteHttpGetOut" />
    </operation>
  </portType>
  <portType name="QuoteOfTheDayHttpPost">
    <operation name="GetQuote">
      <documentation>Returns a funny random quote and its author.</documentation>
      <input message="s0:GetQuoteHttpPostIn" />
      <output message="s0:GetQuoteHttpPostOut" />
    </operation>
  </portType>
  <binding name="QuoteOfTheDaySoap" type="s0:QuoteOfTheDaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetQuote">
      <soap:operation soapAction="http://www.swanandmokashi.com/GetQuote" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="QuoteOfTheDayHttpGet" type="s0:QuoteOfTheDayHttpGet">
    <http:binding verb="GET" />
    <operation name="GetQuote">
      <http:operation location="/GetQuote" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="QuoteOfTheDayHttpPost" type="s0:QuoteOfTheDayHttpPost">
    <http:binding verb="POST" />
    <operation name="GetQuote">
      <http:operation location="/GetQuote" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="QuoteOfTheDay">
    <port name="QuoteOfTheDaySoap" binding="s0:QuoteOfTheDaySoap">
      <soap:address location="http://www.swanandmokashi.com/HomePage/WebServices/QuoteOfTheDay.asmx" />
    </port>
    <port name="QuoteOfTheDayHttpGet" binding="s0:QuoteOfTheDayHttpGet">
      <http:address location="http://www.swanandmokashi.com/HomePage/WebServices/QuoteOfTheDay.asmx" />
    </port>
    <port name="QuoteOfTheDayHttpPost" binding="s0:QuoteOfTheDayHttpPost">
      <http:address location="http://www.swanandmokashi.com/HomePage/WebServices/QuoteOfTheDay.asmx" />
    </port>
  </service>
</definitions>