WebServiceDataset/unlabelled/service153.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://ws.cdyne.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.cdyne.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com">
      <s:element name="GetLatLong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatLongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatLongResult" type="s0:LatLongReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LatLongReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ServiceError" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressError" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StateAbbrev" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FromLongitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FromLatitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ToLongitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ToLatitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgLongitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgLatitude" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CMSA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PMSA" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LatLongReturn" type="s0:LatLongReturn" />
    </s:schema>
  </types>
  <message name="GetLatLongSoapIn">
    <part name="parameters" element="s0:GetLatLong" />
  </message>
  <message name="GetLatLongSoapOut">
    <part name="parameters" element="s0:GetLatLongResponse" />
  </message>
  <message name="GetLatLongHttpGetIn">
    <part name="zipcode" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetLatLongHttpGetOut">
    <part name="Body" element="s0:LatLongReturn" />
  </message>
  <message name="GetLatLongHttpPostIn">
    <part name="zipcode" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetLatLongHttpPostOut">
    <part name="Body" element="s0:LatLongReturn" />
  </message>
  <portType name="Zip2GeoSoap">
    <operation name="GetLatLong">
      <documentation>This method will convert a zip code to Longitude and Latitude.  You will get better accuracy with the plus 4 added to the zipcode.  Use a license key of 0 for testing.</documentation>
      <input message="s0:GetLatLongSoapIn" />
      <output message="s0:GetLatLongSoapOut" />
    </operation>
  </portType>
  <portType name="Zip2GeoHttpGet">
    <operation name="GetLatLong">
      <documentation>This method will convert a zip code to Longitude and Latitude.  You will get better accuracy with the plus 4 added to the zipcode.  Use a license key of 0 for testing.</documentation>
      <input message="s0:GetLatLongHttpGetIn" />
      <output message="s0:GetLatLongHttpGetOut" />
    </operation>
  </portType>
  <portType name="Zip2GeoHttpPost">
    <operation name="GetLatLong">
      <documentation>This method will convert a zip code to Longitude and Latitude.  You will get better accuracy with the plus 4 added to the zipcode.  Use a license key of 0 for testing.</documentation>
      <input message="s0:GetLatLongHttpPostIn" />
      <output message="s0:GetLatLongHttpPostOut" />
    </operation>
  </portType>
  <binding name="Zip2GeoSoap" type="s0:Zip2GeoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetLatLong">
      <soap:operation soapAction="http://ws.cdyne.com/GetLatLong" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Zip2GeoHttpGet" type="s0:Zip2GeoHttpGet">
    <http:binding verb="GET" />
    <operation name="GetLatLong">
      <http:operation location="/GetLatLong" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="Zip2GeoHttpPost" type="s0:Zip2GeoHttpPost">
    <http:binding verb="POST" />
    <operation name="GetLatLong">
      <http:operation location="/GetLatLong" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Zip2Geo">
    <port name="Zip2GeoSoap" binding="s0:Zip2GeoSoap">
      <soap:address location="http://ws.cdyne.com/ziptogeo/zip2geo.asmx" />
    </port>
    <port name="Zip2GeoHttpGet" binding="s0:Zip2GeoHttpGet">
      <http:address location="http://ws.cdyne.com/ziptogeo/zip2geo.asmx" />
    </port>
    <port name="Zip2GeoHttpPost" binding="s0:Zip2GeoHttpPost">
      <http:address location="http://ws.cdyne.com/ziptogeo/zip2geo.asmx" />
    </port>
  </service>
</definitions>