WebServiceDataset/unlabelled/service10.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/"><wsdl:types><schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.xml.coldfusion"><import namespace="http://schemas.xmlsoap.org/soap/encoding/"/><complexType name="CFCInvocationException"><sequence/></complexType><element name="CFCInvocationException" nillable="true" type="tns1:CFCInvocationException"/></schema></wsdl:types>
  <wsdl:message name="CFCInvocationException">
    <wsdl:part name="fault" type="tns1:CFCInvocationException"/>
  </wsdl:message>
  <wsdl:message name="EncodeWordRequest">
    <wsdl:part name="key" type="xsd:string"/>
    <wsdl:part name="word" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="EncodeWordResponse">
    <wsdl:part name="EncodeWordReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="SuggestWordResponse">
    <wsdl:part name="SuggestWordReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="SuggestWordRequest">
    <wsdl:part name="key" type="xsd:string"/>
    <wsdl:part name="word" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="spell">
    <wsdl:operation name="SuggestWord" parameterOrder="key word">
      <wsdl:input name="SuggestWordRequest" message="impl:SuggestWordRequest"/>
      <wsdl:output name="SuggestWordResponse" message="impl:SuggestWordResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
    <wsdl:operation name="EncodeWord" parameterOrder="key word">
      <wsdl:input name="EncodeWordRequest" message="impl:EncodeWordRequest"/>
      <wsdl:output name="EncodeWordResponse" message="impl:EncodeWordResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="spell.cfcSoapBinding" type="impl:spell">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SuggestWord">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="SuggestWordRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
      </wsdl:input>
      <wsdl:output name="SuggestWordResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncodeWord">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="EncodeWordRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
      </wsdl:input>
      <wsdl:output name="EncodeWordResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="spellService">
    <wsdl:port name="spell.cfc" binding="impl:spell.cfcSoapBinding">
      <wsdlsoap:address location="http://wsdl.wsdlfeeds.com/spell.cfc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>