WebServiceDataset/unlabelled/service343.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IHeadLineservice" targetNamespace="http://www.borland.com/soapServices/" xmlns:tns="http://www.borland.com/soapServices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <message name="DelphiNewsRequest">
    <part name="format" type="xs:int"/>
  </message>
  <message name="DelphiNewsResponse">
    <part name="return" type="xs:string"/>
  </message>
  <message name="CBuilderNewsRequest">
    <part name="format" type="xs:int"/>
  </message>
  <message name="CBuilderNewsResponse">
    <part name="return" type="xs:string"/>
  </message>
  <message name="JBuilderNewsRequest">
    <part name="format" type="xs:int"/>
  </message>
  <message name="JBuilderNewsResponse">
    <part name="return" type="xs:string"/>
  </message>
  <message name="KylixNewsRequest">
    <part name="format" type="xs:int"/>
  </message>
  <message name="KylixNewsResponse">
    <part name="return" type="xs:string"/>
  </message>
  <message name="SOAPNewsRequest">
    <part name="format" type="xs:int"/>
  </message>
  <message name="SOAPNewsResponse">
    <part name="return" type="xs:string"/>
  </message>
  <message name="BorConNewsRequest">
    <part name="format" type="xs:int"/>
  </message>
  <message name="BorConNewsResponse">
    <part name="return" type="xs:string"/>
  </message>
  <portType name="IHeadLine">
    <operation name="DelphiNews">
      <input message="tns:DelphiNewsRequest"/>
      <output message="tns:DelphiNewsResponse"/>
    </operation>
    <operation name="CBuilderNews">
      <input message="tns:CBuilderNewsRequest"/>
      <output message="tns:CBuilderNewsResponse"/>
    </operation>
    <operation name="JBuilderNews">
      <input message="tns:JBuilderNewsRequest"/>
      <output message="tns:JBuilderNewsResponse"/>
    </operation>
    <operation name="KylixNews">
      <input message="tns:KylixNewsRequest"/>
      <output message="tns:KylixNewsResponse"/>
    </operation>
    <operation name="SOAPNews">
      <input message="tns:SOAPNewsRequest"/>
      <output message="tns:SOAPNewsResponse"/>
    </operation>
    <operation name="BorConNews">
      <input message="tns:BorConNewsRequest"/>
      <output message="tns:BorConNewsResponse"/>
    </operation>
  </portType>
  <binding name="IHeadLinebinding" type="tns:IHeadLine">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DelphiNews">
      <soap:operation soapAction="urn:Headline-IHeadLine#DelphiNews"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Headline-IHeadLine"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Headline-IHeadLine"/>
      </output>
    </operation>
    <operation name="CBuilderNews">
      <soap:operation soapAction="urn:Headline-IHeadLine#CBuilderNews"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Headline-IHeadLine"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Headline-IHeadLine"/>
      </output>
    </operation>
    <operation name="JBuilderNews">
      <soap:operation soapAction="urn:Headline-IHeadLine#JBuilderNews"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Headline-IHeadLine"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Headline-IHeadLine"/>
      </output>
    </operation>
    <operation name="KylixNews">
      <soap:operation soapAction="urn:Headline-IHeadLine#KylixNews"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Headline-IHeadLine"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Headline-IHeadLine"/>
      </output>
    </operation>
    <operation name="SOAPNews">
      <soap:operation soapAction="urn:Headline-IHeadLine#SOAPNews"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Headline-IHeadLine"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Headline-IHeadLine"/>
      </output>
    </operation>
    <operation name="BorConNews">
      <soap:operation soapAction="urn:Headline-IHeadLine#BorConNews"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Headline-IHeadLine"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Headline-IHeadLine"/>
      </output>
    </operation>
  </binding>
  <service name="IHeadLineservice">
    <port name="IHeadLinePort" binding="tns:IHeadLinebinding">
      <soap:address location="http://www.ebob42.com/cgi-bin/DrBobsClinic.exe/soap/IHeadLine"/>
    </port>
  </service>
</definitions>
