WebServiceDataset/unlabelled/service6.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://kannadakasturi.com/webservices/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://kannadakasturi.com/webservices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://kannadakasturi.com/webservices/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="GetKannadaEquivalent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Englishword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKannadaEquivalentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKannadaEquivalentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetKannadaEquivalentSoapIn">
    <part name="parameters" element="s0:GetKannadaEquivalent" />
  </message>
  <message name="GetKannadaEquivalentSoapOut">
    <part name="parameters" element="s0:GetKannadaEquivalentResponse" />
  </message>
  <message name="GetKannadaEquivalentHttpGetIn">
    <part name="Englishword" type="s:string" />
  </message>
  <message name="GetKannadaEquivalentHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetKannadaEquivalentHttpPostIn">
    <part name="Englishword" type="s:string" />
  </message>
  <message name="GetKannadaEquivalentHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <portType name="KKwebserviceSoap">
    <operation name="GetKannadaEquivalent">
      <input message="s0:GetKannadaEquivalentSoapIn" />
      <output message="s0:GetKannadaEquivalentSoapOut" />
    </operation>
  </portType>
  <portType name="KKwebserviceHttpGet">
    <operation name="GetKannadaEquivalent">
      <input message="s0:GetKannadaEquivalentHttpGetIn" />
      <output message="s0:GetKannadaEquivalentHttpGetOut" />
    </operation>
  </portType>
  <portType name="KKwebserviceHttpPost">
    <operation name="GetKannadaEquivalent">
      <input message="s0:GetKannadaEquivalentHttpPostIn" />
      <output message="s0:GetKannadaEquivalentHttpPostOut" />
    </operation>
  </portType>
  <binding name="KKwebserviceSoap" type="s0:KKwebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetKannadaEquivalent">
      <soap:operation soapAction="http://kannadakasturi.com/webservices/GetKannadaEquivalent" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="KKwebserviceHttpGet" type="s0:KKwebserviceHttpGet">
    <http:binding verb="GET" />
    <operation name="GetKannadaEquivalent">
      <http:operation location="/GetKannadaEquivalent" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="KKwebserviceHttpPost" type="s0:KKwebserviceHttpPost">
    <http:binding verb="POST" />
    <operation name="GetKannadaEquivalent">
      <http:operation location="/GetKannadaEquivalent" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="KKwebservice">
    <port name="KKwebserviceSoap" binding="s0:KKwebserviceSoap">
      <soap:address location="http://www.kannadakasturi.com/WebServices/kannadakasturiwebservice.asmx" />
    </port>
    <port name="KKwebserviceHttpGet" binding="s0:KKwebserviceHttpGet">
      <http:address location="http://www.kannadakasturi.com/WebServices/kannadakasturiwebservice.asmx" />
    </port>
    <port name="KKwebserviceHttpPost" binding="s0:KKwebserviceHttpPost">
      <http:address location="http://www.kannadakasturi.com/WebServices/kannadakasturiwebservice.asmx" />
    </port>
  </service>
</definitions>