WebServiceDataset/unlabelled/service114.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetInfoByZIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USZip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoByZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoByZIPResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoByCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USCity" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoByCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoByCityResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoByState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USState" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoByStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoByStateResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoByAreaCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USAreaCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoByAreaCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoByAreaCodeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetInfoByZIPSoapIn">
    <part name="parameters" element="s0:GetInfoByZIP" />
  </message>
  <message name="GetInfoByZIPSoapOut">
    <part name="parameters" element="s0:GetInfoByZIPResponse" />
  </message>
  <message name="GetInfoByCitySoapIn">
    <part name="parameters" element="s0:GetInfoByCity" />
  </message>
  <message name="GetInfoByCitySoapOut">
    <part name="parameters" element="s0:GetInfoByCityResponse" />
  </message>
  <message name="GetInfoByStateSoapIn">
    <part name="parameters" element="s0:GetInfoByState" />
  </message>
  <message name="GetInfoByStateSoapOut">
    <part name="parameters" element="s0:GetInfoByStateResponse" />
  </message>
  <message name="GetInfoByAreaCodeSoapIn">
    <part name="parameters" element="s0:GetInfoByAreaCode" />
  </message>
  <message name="GetInfoByAreaCodeSoapOut">
    <part name="parameters" element="s0:GetInfoByAreaCodeResponse" />
  </message>
  <message name="GetInfoByZIPHttpGetIn">
    <part name="USZip" type="s:string" />
  </message>
  <message name="GetInfoByZIPHttpGetOut">
    <part name="Body" />
  </message>
  <message name="GetInfoByCityHttpGetIn">
    <part name="USCity" type="s:string" />
  </message>
  <message name="GetInfoByCityHttpGetOut">
    <part name="Body" />
  </message>
  <message name="GetInfoByStateHttpGetIn">
    <part name="USState" type="s:string" />
  </message>
  <message name="GetInfoByStateHttpGetOut">
    <part name="Body" />
  </message>
  <message name="GetInfoByAreaCodeHttpGetIn">
    <part name="USAreaCode" type="s:string" />
  </message>
  <message name="GetInfoByAreaCodeHttpGetOut">
    <part name="Body" />
  </message>
  <message name="GetInfoByZIPHttpPostIn">
    <part name="USZip" type="s:string" />
  </message>
  <message name="GetInfoByZIPHttpPostOut">
    <part name="Body" />
  </message>
  <message name="GetInfoByCityHttpPostIn">
    <part name="USCity" type="s:string" />
  </message>
  <message name="GetInfoByCityHttpPostOut">
    <part name="Body" />
  </message>
  <message name="GetInfoByStateHttpPostIn">
    <part name="USState" type="s:string" />
  </message>
  <message name="GetInfoByStateHttpPostOut">
    <part name="Body" />
  </message>
  <message name="GetInfoByAreaCodeHttpPostIn">
    <part name="USAreaCode" type="s:string" />
  </message>
  <message name="GetInfoByAreaCodeHttpPostOut">
    <part name="Body" />
  </message>
  <portType name="USZipSoap">
    <operation name="GetInfoByZIP">
      <documentation>Get State Code,City,Area Code,Time Zone,Zip Code by Zip Code</documentation>
      <input message="s0:GetInfoByZIPSoapIn" />
      <output message="s0:GetInfoByZIPSoapOut" />
    </operation>
    <operation name="GetInfoByCity">
      <documentation>Get State Code,City,Area Code,Time Zone,Zip Code by City</documentation>
      <input message="s0:GetInfoByCitySoapIn" />
      <output message="s0:GetInfoByCitySoapOut" />
    </operation>
    <operation name="GetInfoByState">
      <documentation>Get State Code,City,Area Code,Time Zone,Zip Code by state</documentation>
      <input message="s0:GetInfoByStateSoapIn" />
      <output message="s0:GetInfoByStateSoapOut" />
    </operation>
    <operation name="GetInfoByAreaCode">
      <documentation>Get State Code,City,Area Code,Time Zone,Zip Code by Area Code</documentation>
      <input message="s0:GetInfoByAreaCodeSoapIn" />
      <output message="s0:GetInfoByAreaCodeSoapOut" />
    </operation>
  </portType>
  <portType name="USZipHttpGet">
    <operation name="GetInfoByZIP">
      <documentation>Get State Code,City,Area Code,Time Zone,Zip Code by Zip Code</documentation>
      <input message="s0:GetInfoByZIPHttpGetIn" />
      <output message="s0:GetInfoByZIPHttpGetOut" />
    </operation>
    <operation name="GetInfoByCity">
      <documentation>Get State Code,City,Area Code,Time Zone,Zip Code by City</documentation>
      <input message="s0:GetInfoByCityHttpGetIn" />
      <output message="s0:GetInfoByCityHttpGetOut" />
    </operation>
    <operation name="GetInfoByState">
      <documentation>Get State Code,City,Area Code,Time Zone,Zip Code by state</documentation>
      <input message="s0:GetInfoByStateHttpGetIn" />
      <output message="s0:GetInfoByStateHttpGetOut" />
    </operation>
    <operation name="GetInfoByAreaCode">
      <documentation>Get State Code,City,Area Code,Time Zone,Zip Code by Area Code</documentation>
      <input message="s0:GetInfoByAreaCodeHttpGetIn" />
      <output message="s0:GetInfoByAreaCodeHttpGetOut" />
    </operation>
  </portType>
  <portType name="USZipHttpPost">
    <operation name="GetInfoByZIP">
      <documentation>Get State Code,City,Area Code,Time Zone,Zip Code by Zip Code</documentation>
      <input message="s0:GetInfoByZIPHttpPostIn" />
      <output message="s0:GetInfoByZIPHttpPostOut" />
    </operation>
    <operation name="GetInfoByCity">
      <documentation>Get State Code,City,Area Code,Time Zone,Zip Code by City</documentation>
      <input message="s0:GetInfoByCityHttpPostIn" />
      <output message="s0:GetInfoByCityHttpPostOut" />
    </operation>
    <operation name="GetInfoByState">
      <documentation>Get State Code,City,Area Code,Time Zone,Zip Code by state</documentation>
      <input message="s0:GetInfoByStateHttpPostIn" />
      <output message="s0:GetInfoByStateHttpPostOut" />
    </operation>
    <operation name="GetInfoByAreaCode">
      <documentation>Get State Code,City,Area Code,Time Zone,Zip Code by Area Code</documentation>
      <input message="s0:GetInfoByAreaCodeHttpPostIn" />
      <output message="s0:GetInfoByAreaCodeHttpPostOut" />
    </operation>
  </portType>
  <binding name="USZipSoap" type="s0:USZipSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetInfoByZIP">
      <soap:operation soapAction="http://www.webserviceX.NET/GetInfoByZIP" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetInfoByCity">
      <soap:operation soapAction="http://www.webserviceX.NET/GetInfoByCity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetInfoByState">
      <soap:operation soapAction="http://www.webserviceX.NET/GetInfoByState" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetInfoByAreaCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetInfoByAreaCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="USZipHttpGet" type="s0:USZipHttpGet">
    <http:binding verb="GET" />
    <operation name="GetInfoByZIP">
      <http:operation location="/GetInfoByZIP" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetInfoByCity">
      <http:operation location="/GetInfoByCity" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetInfoByState">
      <http:operation location="/GetInfoByState" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetInfoByAreaCode">
      <http:operation location="/GetInfoByAreaCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
  </binding>
  <binding name="USZipHttpPost" type="s0:USZipHttpPost">
    <http:binding verb="POST" />
    <operation name="GetInfoByZIP">
      <http:operation location="/GetInfoByZIP" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetInfoByCity">
      <http:operation location="/GetInfoByCity" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetInfoByState">
      <http:operation location="/GetInfoByState" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="GetInfoByAreaCode">
      <http:operation location="/GetInfoByAreaCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
  </binding>
  <service name="USZip">
    <port name="USZipSoap" binding="s0:USZipSoap">
      <soap:address location="http://www.webservicex.net/uszip.asmx" />
    </port>
    <port name="USZipHttpGet" binding="s0:USZipHttpGet">
      <http:address location="http://www.webservicex.net/uszip.asmx" />
    </port>
    <port name="USZipHttpPost" binding="s0:USZipHttpPost">
      <http:address location="http://www.webservicex.net/uszip.asmx" />
    </port>
  </service>
</definitions>