WebServiceDataset/unlabelled/service127.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<!-- this WSDL file was automatically generated by 4D -->
<definitions name="tt4d_WebService" targetNamespace="http://www.4d.com/namespace/default" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.4d.com/namespace/default" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/1999/XMLSchema-instance">
<types>	<schema targetNamespace="http://www.4d.com/namespace/default"		xmlns="http://www.w3.org/2001/XMLSchema"		xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">		<complexType name="ArrayOfstring" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">			<complexContent>				<restriction base="SOAP-ENC:Array">					<attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>				</restriction>			</complexContent>		</complexType>	</schema></types>
	<message name="WS_EuroConverterRequest">
		<part name="Currency_in" type="xsd:float"/>
		<part name="From" type="xsd:string"/>
		<part name="To" type="xsd:string"/>
	</message>
	<message name="InfoServerRequest">
		<part name="Selector" type="xsd:int"/>
	</message>
	<message name="Get_iBeatRequest">
		<part name="UTC_Time_to_Convert" type="xsd:string"/>
	</message>
	<message name="WS_EuroConverterResponse">
		<part name="Currency_out" type="xsd:float"/>
	</message>
	<message name="InfoServerResponse">
		<part name="return" type="tns:ArrayOfstring"/>
	</message>
	<message name="Get_iBeatResponse">
		<part name="Universal_iBeat" type="xsd:float"/>
	</message>
	<portType name="tt4d_WebServicePortType">
		<operation name="WS_EuroConverter">
			<input message="tns:WS_EuroConverterRequest"/>
			<output message="tns:WS_EuroConverterResponse"/>
		</operation>
		<operation name="InfoServer">
			<input message="tns:InfoServerRequest"/>
			<output message="tns:InfoServerResponse"/>
		</operation>
		<operation name="Get_iBeat">
			<input message="tns:Get_iBeatRequest"/>
			<output message="tns:Get_iBeatResponse"/>
		</operation>
	</portType>
	<binding name="tt4d_WebServiceBinding" type="tns:tt4d_WebServicePortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="WS_EuroConverter">
<documentation>This method allows you to convert a currency using the 4D command  named Euro Converter.&#13;You have to pass the currency to convert as first parameter, the &apos;From&apos; money as second parameter and the &apos;To&apos; money as third parameter.&#13;See 4D documentation (http://</documentation>
			<soap:operation soapAction="tt4d_WebService#WS_EuroConverter"/>
			<input>
				<soap:body use="encoded" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="InfoServer">
<documentation>no documentation is available</documentation>
			<soap:operation soapAction="tt4d_WebService#InfoServer"/>
			<input>
				<soap:body use="encoded" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="Get_iBeat">
<documentation>This method return the iBeat depending of time passed as parameter (hh:mm:ss).&#13;If no time is passed, the current hour on the server will be converted.</documentation>
			<soap:operation soapAction="tt4d_WebService#Get_iBeat"/>
			<input>
				<soap:body use="encoded" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="tt4d_WebService">
		<documentation></documentation>
		<port name="tt4d_WebServicePort" binding="tns:tt4d_WebServiceBinding">
			<soap:address location="http://194.98.194.111/4DSOAP/"/>
		</port>
	</service>
</definitions>
