WebServiceDataset/unlabelled/service26.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://ws.AcrossCommunications.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.AcrossCommunications.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.AcrossCommunications.com/">
      <s:element name="SendTextDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTextDocumentResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnqueueTextDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnqueueTextDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnqueueTextDocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSearchString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSearchStringResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSearchString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSearchStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Release">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReleaseResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="SendTextDocumentSoapIn">
    <part name="parameters" element="s0:SendTextDocument" />
  </message>
  <message name="SendTextDocumentSoapOut">
    <part name="parameters" element="s0:SendTextDocumentResponse" />
  </message>
  <message name="EnqueueTextDocumentSoapIn">
    <part name="parameters" element="s0:EnqueueTextDocument" />
  </message>
  <message name="EnqueueTextDocumentSoapOut">
    <part name="parameters" element="s0:EnqueueTextDocumentResponse" />
  </message>
  <message name="SetSearchStringSoapIn">
    <part name="parameters" element="s0:SetSearchString" />
  </message>
  <message name="SetSearchStringSoapOut">
    <part name="parameters" element="s0:SetSearchStringResponse" />
  </message>
  <message name="GetSearchStringSoapIn">
    <part name="parameters" element="s0:GetSearchString" />
  </message>
  <message name="GetSearchStringSoapOut">
    <part name="parameters" element="s0:GetSearchStringResponse" />
  </message>
  <message name="ReleaseSoapIn">
    <part name="parameters" element="s0:Release" />
  </message>
  <message name="ReleaseSoapOut">
    <part name="parameters" element="s0:ReleaseResponse" />
  </message>
  <message name="SendTextDocumentHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strPhoneNumber" type="s:string" />
    <part name="strText" type="s:string" />
  </message>
  <message name="SendTextDocumentHttpGetOut" />
  <message name="EnqueueTextDocumentHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strPhoneNumber" type="s:string" />
    <part name="strText" type="s:string" />
  </message>
  <message name="EnqueueTextDocumentHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetSearchStringHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetSearchStringHttpGetOut" />
  <message name="GetSearchStringHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetSearchStringHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ReleaseHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="ReleaseHttpGetOut" />
  <message name="SendTextDocumentHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strPhoneNumber" type="s:string" />
    <part name="strText" type="s:string" />
  </message>
  <message name="SendTextDocumentHttpPostOut" />
  <message name="EnqueueTextDocumentHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strPhoneNumber" type="s:string" />
    <part name="strText" type="s:string" />
  </message>
  <message name="EnqueueTextDocumentHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="SetSearchStringHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetSearchStringHttpPostOut" />
  <message name="GetSearchStringHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetSearchStringHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ReleaseHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="ReleaseHttpPostOut" />
  <portType name="FaxSoap">
    <operation name="SendTextDocument">
      <input message="s0:SendTextDocumentSoapIn" />
      <output message="s0:SendTextDocumentSoapOut" />
    </operation>
    <operation name="EnqueueTextDocument">
      <input message="s0:EnqueueTextDocumentSoapIn" />
      <output message="s0:EnqueueTextDocumentSoapOut" />
    </operation>
    <operation name="SetSearchString">
      <input message="s0:SetSearchStringSoapIn" />
      <output message="s0:SetSearchStringSoapOut" />
    </operation>
    <operation name="GetSearchString">
      <input message="s0:GetSearchStringSoapIn" />
      <output message="s0:GetSearchStringSoapOut" />
    </operation>
    <operation name="Release">
      <input message="s0:ReleaseSoapIn" />
      <output message="s0:ReleaseSoapOut" />
    </operation>
  </portType>
  <portType name="FaxHttpGet">
    <operation name="SendTextDocument">
      <input message="s0:SendTextDocumentHttpGetIn" />
      <output message="s0:SendTextDocumentHttpGetOut" />
    </operation>
    <operation name="EnqueueTextDocument">
      <input message="s0:EnqueueTextDocumentHttpGetIn" />
      <output message="s0:EnqueueTextDocumentHttpGetOut" />
    </operation>
    <operation name="SetSearchString">
      <input message="s0:SetSearchStringHttpGetIn" />
      <output message="s0:SetSearchStringHttpGetOut" />
    </operation>
    <operation name="GetSearchString">
      <input message="s0:GetSearchStringHttpGetIn" />
      <output message="s0:GetSearchStringHttpGetOut" />
    </operation>
    <operation name="Release">
      <input message="s0:ReleaseHttpGetIn" />
      <output message="s0:ReleaseHttpGetOut" />
    </operation>
  </portType>
  <portType name="FaxHttpPost">
    <operation name="SendTextDocument">
      <input message="s0:SendTextDocumentHttpPostIn" />
      <output message="s0:SendTextDocumentHttpPostOut" />
    </operation>
    <operation name="EnqueueTextDocument">
      <input message="s0:EnqueueTextDocumentHttpPostIn" />
      <output message="s0:EnqueueTextDocumentHttpPostOut" />
    </operation>
    <operation name="SetSearchString">
      <input message="s0:SetSearchStringHttpPostIn" />
      <output message="s0:SetSearchStringHttpPostOut" />
    </operation>
    <operation name="GetSearchString">
      <input message="s0:GetSearchStringHttpPostIn" />
      <output message="s0:GetSearchStringHttpPostOut" />
    </operation>
    <operation name="Release">
      <input message="s0:ReleaseHttpPostIn" />
      <output message="s0:ReleaseHttpPostOut" />
    </operation>
  </portType>
  <binding name="FaxSoap" type="s0:FaxSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="SendTextDocument">
      <soap:operation soapAction="http://ws.AcrossCommunications.com/SendTextDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EnqueueTextDocument">
      <soap:operation soapAction="http://ws.AcrossCommunications.com/EnqueueTextDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetSearchString">
      <soap:operation soapAction="http://ws.AcrossCommunications.com/SetSearchString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSearchString">
      <soap:operation soapAction="http://ws.AcrossCommunications.com/GetSearchString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Release">
      <soap:operation soapAction="http://ws.AcrossCommunications.com/Release" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="FaxHttpGet" type="s0:FaxHttpGet">
    <http:binding verb="GET" />
    <operation name="SendTextDocument">
      <http:operation location="/SendTextDocument" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="EnqueueTextDocument">
      <http:operation location="/EnqueueTextDocument" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetSearchString">
      <http:operation location="/SetSearchString" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetSearchString">
      <http:operation location="/GetSearchString" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Release">
      <http:operation location="/Release" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
  </binding>
  <binding name="FaxHttpPost" type="s0:FaxHttpPost">
    <http:binding verb="POST" />
    <operation name="SendTextDocument">
      <http:operation location="/SendTextDocument" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="EnqueueTextDocument">
      <http:operation location="/EnqueueTextDocument" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetSearchString">
      <http:operation location="/SetSearchString" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetSearchString">
      <http:operation location="/GetSearchString" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Release">
      <http:operation location="/Release" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
  </binding>
  <service name="Fax">
    <port name="FaxSoap" binding="s0:FaxSoap">
      <soap:address location="http://ws.acrosscommunications.com/Fax.asmx" />
    </port>
    <port name="FaxHttpGet" binding="s0:FaxHttpGet">
      <http:address location="http://ws.acrosscommunications.com/Fax.asmx" />
    </port>
    <port name="FaxHttpPost" binding="s0:FaxHttpPost">
      <http:address location="http://ws.acrosscommunications.com/Fax.asmx" />
    </port>
  </service>
</definitions>