WebServiceDataset/unlabelled/service136.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--generated by GLUE on Thu Apr 24 19:05:30 JST 2003-->
<definitions name='ClustalW' targetNamespace='http://www.themindelectric.com/wsdl/ClustalW/' xmlns:tns='http://www.themindelectric.com/wsdl/ClustalW/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:tme='http://www.themindelectric.com/'>
  <message name='analyze0In'>
    <part name='query' type='xsd:string'/>
    <part name='param' type='xsd:string'/>
  </message>
  <message name='analyze0Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='analyze1In'>
    <part name='query' type='xsd:string'/>
  </message>
  <message name='analyze1Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='analyzeAsync2In'>
    <part name='query' type='xsd:string'/>
    <part name='param' type='xsd:string'/>
  </message>
  <message name='analyzeAsync2Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='analyzeAsync3In'>
    <part name='query' type='xsd:string'/>
  </message>
  <message name='analyzeAsync3Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <portType name='ClustalW'>
    <operation name='analyze' parameterOrder='query param'>
      <documentation>Execute ClustalW with parameter</documentation>
      <input name='analyze0In' message='tns:analyze0In'/>
      <output name='analyze0Out' message='tns:analyze0Out'/>
    </operation>
    <operation name='analyze' parameterOrder='query'>
      <documentation>Execute ClustalW</documentation>
      <input name='analyze1In' message='tns:analyze1In'/>
      <output name='analyze1Out' message='tns:analyze1Out'/>
    </operation>
    <operation name='analyzeAsync' parameterOrder='query param'>
      <documentation>Execute ClustalW with parameter</documentation>
      <input name='analyzeAsync2In' message='tns:analyzeAsync2In'/>
      <output name='analyzeAsync2Out' message='tns:analyzeAsync2Out'/>
    </operation>
    <operation name='analyzeAsync' parameterOrder='query'>
      <documentation>Execute ClustalW</documentation>
      <input name='analyzeAsync3In' message='tns:analyzeAsync3In'/>
      <output name='analyzeAsync3Out' message='tns:analyzeAsync3Out'/>
    </operation>
  </portType>
  <binding name='ClustalW' type='tns:ClustalW'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='analyze'>
      <soap:operation soapAction='analyze' style='rpc'/>
      <input name='analyze0In'>
        <soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='analyze0Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='analyze'>
      <soap:operation soapAction='analyze' style='rpc'/>
      <input name='analyze1In'>
        <soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='analyze1Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='analyzeAsync'>
      <soap:operation soapAction='analyzeAsync' style='rpc'/>
      <input name='analyzeAsync2In'>
        <soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='analyzeAsync2Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='analyzeAsync'>
      <soap:operation soapAction='analyzeAsync' style='rpc'/>
      <input name='analyzeAsync3In'>
        <soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='analyzeAsync3Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/ClustalW' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <service name='ClustalW'>
    <port name='ClustalW' binding='tns:ClustalW'>
      <soap:address location='http://xml.nig.ac.jp/xddbj/ClustalW'/>
    </port>
  </service>
</definitions>