WebServiceDataset/unlabelled/service305.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WhatsNew">
        <s:complexType />
      </s:element>
      <s:element name="WhatsNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WhatsNewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="WhatsNewSoapIn">
    <part name="parameters" element="s0:WhatsNew" />
  </message>
  <message name="WhatsNewSoapOut">
    <part name="parameters" element="s0:WhatsNewResponse" />
  </message>
  <portType name="eSynapsFeedSoap">
    <operation name="WhatsNew">
      <input message="s0:WhatsNewSoapIn" />
      <output message="s0:WhatsNewSoapOut" />
    </operation>
  </portType>
  <binding name="eSynapsFeedSoap" type="s0:eSynapsFeedSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="WhatsNew">
      <soap:operation soapAction="http://tempuri.org/WhatsNew" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="eSynapsFeed">
    <port name="eSynapsFeedSoap" binding="s0:eSynapsFeedSoap">
      <soap:address location="http://www.esynaps.com/WebServices/eSynapsFeed.asmx" />
    </port>
  </service>
</definitions>