WebServiceDataset/unlabelled/service191.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="getCAWeather"
targetNamespace="http://ocean.cse.ucsc.edu/soap/getCAWeather.wsdl"
xmlns:tns="http://ocean.cse.ucsc.edu/soap/getCAWeather.wsdl"
xmlns:xsd1="http://ocean.cse.ucsc.edu/soap/getCAWeather.wsdl"
        xmlns:xsd="http://www.w3.org/2000/10/XMLSchema"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns="http://schemas.xmlsoap.org/wsdl/">

  <types>
<schema targetNamespace="http://ocean.cse.ucsc.edu/soap/getCAWeather.wsdl"
            xmlns="http://www.w3.org/2000/10/XMLSchema">
      <element name="weather">
        <complexType>
          <all>
            <element name="city" type="xsd:string"/>
            <element name="sky" type="xsd:string"/>
            <element name="tmp" type="xsd:int"/>
            <element name="dp" type="xsd:int"/>
            <element name="rh" type="xsd:int"/>
            <element name="wind" type="xsd:string"/>
            <element name="pres" type="xsd:string"/>
          </all>
        </complexType>
      </element>
    </schema>
  </types>

  <message name="getCAWeather">
    <part name="find" type="xsd:string"/>
  </message>

  <message name="getCAWeatherResponse">
    <part name="ret" type="xsd1:weather"/>
  </message>

  <portType name="getCAWeatherPortType">
    <operation name="getCAWeather">
      <input message="tns:getCAWeather"/>
      <output message="tns:getCAWeatherResponse"/>
    </operation>
  </portType>

  <binding name="getCAWeatherBinding" type="tns:getCAWeatherPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getCAWeather">
<soap:operation soapAction="http://ocean.cse.ucsc.edu/soap/getCAWeather"/>
      <input>
<soap:body use="encoded" namespace="http://ocean.cse.ucsc.edu/soap/getCAWeather"
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
<soap:body use="encoded" namespace="http://ocean.cse.ucsc.edu/soap/getCAWeather"
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>

  <service name="getCAWeatherService">
    <documentation> Generated by mod_soap </documentation>
    <port name="getCAWeatherPort" binding="tns:getCAWeatherBinding">
<soap:address location="http://ocean.cse.ucsc.edu/soap/getCAWeather"/>
    </port>
  </service>

</definitions>
