WebServiceDataset/unlabelled/service308.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WhoIs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WhoIsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WhoIsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="WhoIsSoapIn">
    <part name="parameters" element="s0:WhoIs" />
  </message>
  <message name="WhoIsSoapOut">
    <part name="parameters" element="s0:WhoIsResponse" />
  </message>
  <portType name="WhoIsServiceSoap">
    <operation name="WhoIs">
      <input message="s0:WhoIsSoapIn" />
      <output message="s0:WhoIsSoapOut" />
    </operation>
  </portType>
  <binding name="WhoIsServiceSoap" type="s0:WhoIsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="WhoIs">
      <soap:operation soapAction="http://tempuri.org/WhoIs" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WhoIsService">
    <port name="WhoIsServiceSoap" binding="s0:WhoIsServiceSoap">
      <soap:address location="http://www.esynaps.com/WebServices/WhoIsService.asmx" />
    </port>
  </service>
</definitions>