WebServiceDataset/unlabelled/service132.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--generated by GLUE on Thu Apr 24 19:05:39 JST 2003-->
<definitions name='SRS' targetNamespace='http://www.themindelectric.com/wsdl/SRS/' xmlns:tns='http://www.themindelectric.com/wsdl/SRS/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:tme='http://www.themindelectric.com/'>
  <message name='search0In'>
    <part name='query' type='xsd:string'/>
  </message>
  <message name='search0Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='search1In'>
    <part name='query' type='xsd:string'/>
    <part name='param' type='xsd:string'/>
  </message>
  <message name='search1Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='searchAsync2In'>
    <part name='query' type='xsd:string'/>
  </message>
  <message name='searchAsync2Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='searchAsync3In'>
    <part name='query' type='xsd:string'/>
    <part name='param' type='xsd:string'/>
  </message>
  <message name='searchAsync3Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <portType name='SRS'>
    <operation name='search' parameterOrder='query'>
      <documentation>Search entry with SRS</documentation>
      <input name='search0In' message='tns:search0In'/>
      <output name='search0Out' message='tns:search0Out'/>
    </operation>
    <operation name='search' parameterOrder='query param'>
      <documentation>Search entry with SRS</documentation>
      <input name='search1In' message='tns:search1In'/>
      <output name='search1Out' message='tns:search1Out'/>
    </operation>
    <operation name='searchAsync' parameterOrder='query'>
      <documentation>Search entry with SRS</documentation>
      <input name='searchAsync2In' message='tns:searchAsync2In'/>
      <output name='searchAsync2Out' message='tns:searchAsync2Out'/>
    </operation>
    <operation name='searchAsync' parameterOrder='query param'>
      <documentation>Search entry with SRS</documentation>
      <input name='searchAsync3In' message='tns:searchAsync3In'/>
      <output name='searchAsync3Out' message='tns:searchAsync3Out'/>
    </operation>
  </portType>
  <binding name='SRS' type='tns:SRS'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='search'>
      <soap:operation soapAction='search' style='rpc'/>
      <input name='search0In'>
        <soap:body use='encoded' namespace='http://tempuri.org/SRS' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='search0Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/SRS' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='search'>
      <soap:operation soapAction='search' style='rpc'/>
      <input name='search1In'>
        <soap:body use='encoded' namespace='http://tempuri.org/SRS' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='search1Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/SRS' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='searchAsync'>
      <soap:operation soapAction='searchAsync' style='rpc'/>
      <input name='searchAsync2In'>
        <soap:body use='encoded' namespace='http://tempuri.org/SRS' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='searchAsync2Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/SRS' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='searchAsync'>
      <soap:operation soapAction='searchAsync' style='rpc'/>
      <input name='searchAsync3In'>
        <soap:body use='encoded' namespace='http://tempuri.org/SRS' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='searchAsync3Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/SRS' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <service name='SRS'>
    <port name='SRS' binding='tns:SRS'>
      <soap:address location='http://xml.nig.ac.jp/xddbj/SRS'/>
    </port>
  </service>
</definitions>