WebServiceDataset/unlabelled/service147.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--WSDL generated by Kamiak Omniopera WSDL Wizard. Version: 1.1.4.617-->
<!--26/11/02 16:05:17-->
<wsdl:definitions name="GetCurrencyExchange" targetNamespace="http://www.atlaz.net/" xmlns="http://www.atlaz.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.atlaz.net/webservices/GetCurrencyExchange.wsdl">
            <xsd:element name="value" type="xsd:float"/>
            <xsd:element name="number" type="xsd:int"/>
            <xsd:element name="currency1" type="xsd:string"/>
            <xsd:element name="currency2" type="xsd:string"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getRateRequestSoapOut">
        <wsdl:part element="value" name="value"/>
    </wsdl:message>
    <wsdl:message name="getRateRequestSoapIn">
        <wsdl:part element="number" name="number"/>
        <wsdl:part element="currency1" name="currency1"/>
        <wsdl:part element="currency2" name="currency2"/>
    </wsdl:message>
    <wsdl:portType name="GetCurrencyExchangeSOAP">
        <wsdl:operation name="getRateRequest">
            <wsdl:input message="getRateRequestSoapIn" name="getRateRequestInput"/>
            <wsdl:output message="getRateRequestSoapOut" name="getRateRequestOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetCurrencyExchangeSOAPSOAP" type="GetCurrencyExchangeSOAP">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getRateRequest">
            <soap:operation soapAction="http://www.atlaz.net/webservices/webservices.php" style="document"/>
            <wsdl:input name="getRateRequestInput">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getRateRequestOutput">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetCurrencyExchangeSOAP">
        <wsdl:port binding="GetCurrencyExchangeSOAPSOAP" name="GetCurrencyExchangeSOAPSOAPPort">
            <soap:address location="http://www.atlaz.net/webservices/GetCurrencyExchange.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
