WebServiceDataset/unlabelled/service302.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTime">
        <s:complexType />
      </s:element>
      <s:element name="GetTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetTimeSoapIn">
    <part name="parameters" element="s0:GetTime" />
  </message>
  <message name="GetTimeSoapOut">
    <part name="parameters" element="s0:GetTimeResponse" />
  </message>
  <portType name="GetLocalTimeSoap">
    <operation name="GetTime">
      <input message="s0:GetTimeSoapIn" />
      <output message="s0:GetTimeSoapOut" />
    </operation>
  </portType>
  <binding name="GetLocalTimeSoap" type="s0:GetLocalTimeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetTime">
      <soap:operation soapAction="http://tempuri.org/GetTime" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GetLocalTime">
    <port name="GetLocalTimeSoap" binding="s0:GetLocalTimeSoap">
      <soap:address location="http://services.develop.co.za/GetLocalTime.asmx" />
    </port>
  </service>
</definitions>