WebServiceDataset/unlabelled/service133.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--generated by GLUE on Thu Apr 24 19:05:37 JST 2003-->
<definitions name='GetEntry' targetNamespace='http://www.themindelectric.com/wsdl/GetEntry/' xmlns:tns='http://www.themindelectric.com/wsdl/GetEntry/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:tme='http://www.themindelectric.com/'>
  <message name='getEntry0In'>
    <part name='database' type='xsd:string'/>
    <part name='var' type='xsd:string'/>
  </message>
  <message name='getEntry0Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getDDBJEntry1In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getDDBJEntry1Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getDDBJCONEntry2In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getDDBJCONEntry2Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getEMBLEntry3In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getEMBLEntry3Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getDADEntry4In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getDADEntry4Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getPIREntry5In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getPIREntry5Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getSWISSEntry6In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getSWISSEntry6Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getPDBEntry7In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getPDBEntry7Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getPRFEntry8In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getPRFEntry8Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getQVEntry9In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getQVEntry9Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_DDBJEntry10In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_DDBJEntry10Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_DDBJCONEntry11In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_DDBJCONEntry11Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_DADEntry12In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_DADEntry12Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_PIREntry13In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_PIREntry13Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_SWISSEntry14In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_SWISSEntry14Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_PDBEntry15In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_PDBEntry15Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_PRFEntry16In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_PRFEntry16Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_CDSEntry17In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_CDSEntry17Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getLocus_DDBJEntry18In'>
    <part name='locus' type='xsd:string'/>
  </message>
  <message name='getLocus_DDBJEntry18Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getGene_DDBJEntry19In'>
    <part name='gene' type='xsd:string'/>
  </message>
  <message name='getGene_DDBJEntry19Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getProd_DDBJEntry20In'>
    <part name='products' type='xsd:string'/>
  </message>
  <message name='getProd_DDBJEntry20Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getPID_DDBJEntry21In'>
    <part name='pid' type='xsd:string'/>
  </message>
  <message name='getPID_DDBJEntry21Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getClone_DDBJEntry22In'>
    <part name='clone' type='xsd:string'/>
  </message>
  <message name='getClone_DDBJEntry22Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getPID_DADEntry23In'>
    <part name='pid' type='xsd:string'/>
  </message>
  <message name='getPID_DADEntry23Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getXML_DDBJEntry24In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getXML_DDBJEntry24Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getDDBJVerEntry25In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getDDBJVerEntry25Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_DDBJVerEntry26In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_DDBJVerEntry26Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getEntryAsync27In'>
    <part name='database' type='xsd:string'/>
    <part name='var' type='xsd:string'/>
  </message>
  <message name='getEntryAsync27Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getDDBJEntryAsync28In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getDDBJEntryAsync28Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getDDBJCONEntryAsync29In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getDDBJCONEntryAsync29Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getEMBLEntryAsync30In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getEMBLEntryAsync30Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getDADEntryAsync31In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getDADEntryAsync31Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getPIREntryAsync32In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getPIREntryAsync32Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getSWISSEntryAsync33In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getSWISSEntryAsync33Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getPDBEntryAsync34In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getPDBEntryAsync34Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getPRFEntryAsync35In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getPRFEntryAsync35Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getQVEntryAsync36In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getQVEntryAsync36Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_DDBJEntryAsync37In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_DDBJEntryAsync37Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_DDBJCONEntryAsync38In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_DDBJCONEntryAsync38Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_DADEntryAsync39In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_DADEntryAsync39Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_PIREntryAsync40In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_PIREntryAsync40Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_SWISSEntryAsync41In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_SWISSEntryAsync41Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_PDBEntryAsync42In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_PDBEntryAsync42Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_PRFEntryAsync43In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_PRFEntryAsync43Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_CDSEntryAsync44In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_CDSEntryAsync44Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getLocus_DDBJEntryAsync45In'>
    <part name='locus' type='xsd:string'/>
  </message>
  <message name='getLocus_DDBJEntryAsync45Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getGene_DDBJEntryAsync46In'>
    <part name='gene' type='xsd:string'/>
  </message>
  <message name='getGene_DDBJEntryAsync46Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getProd_DDBJEntryAsync47In'>
    <part name='products' type='xsd:string'/>
  </message>
  <message name='getProd_DDBJEntryAsync47Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getPID_DDBJEntryAsync48In'>
    <part name='pid' type='xsd:string'/>
  </message>
  <message name='getPID_DDBJEntryAsync48Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getClone_DDBJEntryAsync49In'>
    <part name='clone' type='xsd:string'/>
  </message>
  <message name='getClone_DDBJEntryAsync49Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getPID_DADEntryAsync50In'>
    <part name='pid' type='xsd:string'/>
  </message>
  <message name='getPID_DADEntryAsync50Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getXML_DDBJEntryAsync51In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getXML_DDBJEntryAsync51Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getDDBJVerEntryAsync52In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getDDBJVerEntryAsync52Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getFASTA_DDBJVerEntryAsync53In'>
    <part name='accession' type='xsd:string'/>
  </message>
  <message name='getFASTA_DDBJVerEntryAsync53Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <portType name='GetEntry'>
    <operation name='getEntry' parameterOrder='database var'>
      <documentation>Get entry by database and unique ID</documentation>
      <input name='getEntry0In' message='tns:getEntry0In'/>
      <output name='getEntry0Out' message='tns:getEntry0Out'/>
    </operation>
    <operation name='getDDBJEntry' parameterOrder='accession'>
      <documentation>Get DDBJ entry of Flat File Format by Accession Number</documentation>
      <input name='getDDBJEntry1In' message='tns:getDDBJEntry1In'/>
      <output name='getDDBJEntry1Out' message='tns:getDDBJEntry1Out'/>
    </operation>
    <operation name='getDDBJCONEntry' parameterOrder='accession'>
      <documentation>Get DDBJ contig entry of Flat File Format by Accession Number</documentation>
      <input name='getDDBJCONEntry2In' message='tns:getDDBJCONEntry2In'/>
      <output name='getDDBJCONEntry2Out' message='tns:getDDBJCONEntry2Out'/>
    </operation>
    <operation name='getEMBLEntry' parameterOrder='accession'>
      <documentation>Get EMBL entry of Flat File Format by Accession Number</documentation>
      <input name='getEMBLEntry3In' message='tns:getEMBLEntry3In'/>
      <output name='getEMBLEntry3Out' message='tns:getEMBLEntry3Out'/>
    </operation>
    <operation name='getDADEntry' parameterOrder='accession'>
      <documentation>Get DAD entry of Flat File Format by Accession Number</documentation>
      <input name='getDADEntry4In' message='tns:getDADEntry4In'/>
      <output name='getDADEntry4Out' message='tns:getDADEntry4Out'/>
    </operation>
    <operation name='getPIREntry' parameterOrder='accession'>
      <documentation>Get PIR entry of Flat File Format by Accession Number</documentation>
      <input name='getPIREntry5In' message='tns:getPIREntry5In'/>
      <output name='getPIREntry5Out' message='tns:getPIREntry5Out'/>
    </operation>
    <operation name='getSWISSEntry' parameterOrder='accession'>
      <documentation>Get SWISSPROT entry of Flat File Format by Accession Number</documentation>
      <input name='getSWISSEntry6In' message='tns:getSWISSEntry6In'/>
      <output name='getSWISSEntry6Out' message='tns:getSWISSEntry6Out'/>
    </operation>
    <operation name='getPDBEntry' parameterOrder='accession'>
      <documentation>Get PDB entry of Flat File Format by Accession Number</documentation>
      <input name='getPDBEntry7In' message='tns:getPDBEntry7In'/>
      <output name='getPDBEntry7Out' message='tns:getPDBEntry7Out'/>
    </operation>
    <operation name='getPRFEntry' parameterOrder='accession'>
      <documentation>Get PRF entry of Flat File Format by Accession Number</documentation>
      <input name='getPRFEntry8In' message='tns:getPRFEntry8In'/>
      <output name='getPRFEntry8Out' message='tns:getPRFEntry8Out'/>
    </operation>
    <operation name='getQVEntry' parameterOrder='accession'>
      <documentation>Get Quality Value of DDBJ entry by Accession Number</documentation>
      <input name='getQVEntry9In' message='tns:getQVEntry9In'/>
      <output name='getQVEntry9Out' message='tns:getQVEntry9Out'/>
    </operation>
    <operation name='getFASTA_DDBJEntry' parameterOrder='accession'>
      <documentation>Get DDBJ entry of FASTA Format by Accession Number</documentation>
      <input name='getFASTA_DDBJEntry10In' message='tns:getFASTA_DDBJEntry10In'/>
      <output name='getFASTA_DDBJEntry10Out' message='tns:getFASTA_DDBJEntry10Out'/>
    </operation>
    <operation name='getFASTA_DDBJCONEntry' parameterOrder='accession'>
      <documentation>Get DDBJ contig entry of FASTA Format by Accession Number</documentation>
      <input name='getFASTA_DDBJCONEntry11In' message='tns:getFASTA_DDBJCONEntry11In'/>
      <output name='getFASTA_DDBJCONEntry11Out' message='tns:getFASTA_DDBJCONEntry11Out'/>
    </operation>
    <operation name='getFASTA_DADEntry' parameterOrder='accession'>
      <documentation>Get DAD entry of FASTA Format by Accession Number</documentation>
      <input name='getFASTA_DADEntry12In' message='tns:getFASTA_DADEntry12In'/>
      <output name='getFASTA_DADEntry12Out' message='tns:getFASTA_DADEntry12Out'/>
    </operation>
    <operation name='getFASTA_PIREntry' parameterOrder='accession'>
      <documentation>Get PIR entry of FASTA Format by Accession Number</documentation>
      <input name='getFASTA_PIREntry13In' message='tns:getFASTA_PIREntry13In'/>
      <output name='getFASTA_PIREntry13Out' message='tns:getFASTA_PIREntry13Out'/>
    </operation>
    <operation name='getFASTA_SWISSEntry' parameterOrder='accession'>
      <documentation>Get SWISSPROT entry of FASTA Format by Accession Number</documentation>
      <input name='getFASTA_SWISSEntry14In' message='tns:getFASTA_SWISSEntry14In'/>
      <output name='getFASTA_SWISSEntry14Out' message='tns:getFASTA_SWISSEntry14Out'/>
    </operation>
    <operation name='getFASTA_PDBEntry' parameterOrder='accession'>
      <documentation>Get PDB entry of FASTA Format by Accession Number</documentation>
      <input name='getFASTA_PDBEntry15In' message='tns:getFASTA_PDBEntry15In'/>
      <output name='getFASTA_PDBEntry15Out' message='tns:getFASTA_PDBEntry15Out'/>
    </operation>
    <operation name='getFASTA_PRFEntry' parameterOrder='accession'>
      <documentation>Get PRF entry of FASTA Format by Accession Number</documentation>
      <input name='getFASTA_PRFEntry16In' message='tns:getFASTA_PRFEntry16In'/>
      <output name='getFASTA_PRFEntry16Out' message='tns:getFASTA_PRFEntry16Out'/>
    </operation>
    <operation name='getFASTA_CDSEntry' parameterOrder='accession'>
      <documentation>Get CDS information of DDBJ FASTA entry by Accession Number</documentation>
      <input name='getFASTA_CDSEntry17In' message='tns:getFASTA_CDSEntry17In'/>
      <output name='getFASTA_CDSEntry17Out' message='tns:getFASTA_CDSEntry17Out'/>
    </operation>
    <operation name='getLocus_DDBJEntry' parameterOrder='locus'>
      <documentation>Get DDBJ entry by Locus information</documentation>
      <input name='getLocus_DDBJEntry18In' message='tns:getLocus_DDBJEntry18In'/>
      <output name='getLocus_DDBJEntry18Out' message='tns:getLocus_DDBJEntry18Out'/>
    </operation>
    <operation name='getGene_DDBJEntry' parameterOrder='gene'>
      <documentation>Get DDBJ entry by gene name information</documentation>
      <input name='getGene_DDBJEntry19In' message='tns:getGene_DDBJEntry19In'/>
      <output name='getGene_DDBJEntry19Out' message='tns:getGene_DDBJEntry19Out'/>
    </operation>
    <operation name='getProd_DDBJEntry' parameterOrder='products'>
      <documentation>Get DDBJ entry by products information</documentation>
      <input name='getProd_DDBJEntry20In' message='tns:getProd_DDBJEntry20In'/>
      <output name='getProd_DDBJEntry20Out' message='tns:getProd_DDBJEntry20Out'/>
    </operation>
    <operation name='getPID_DDBJEntry' parameterOrder='pid'>
      <documentation>Get DDBJ entry by PID information</documentation>
      <input name='getPID_DDBJEntry21In' message='tns:getPID_DDBJEntry21In'/>
      <output name='getPID_DDBJEntry21Out' message='tns:getPID_DDBJEntry21Out'/>
    </operation>
    <operation name='getClone_DDBJEntry' parameterOrder='clone'>
      <documentation>Get DDBJ entry by clone information</documentation>
      <input name='getClone_DDBJEntry22In' message='tns:getClone_DDBJEntry22In'/>
      <output name='getClone_DDBJEntry22Out' message='tns:getClone_DDBJEntry22Out'/>
    </operation>
    <operation name='getPID_DADEntry' parameterOrder='pid'>
      <documentation>Get DAD entry by PID information</documentation>
      <input name='getPID_DADEntry23In' message='tns:getPID_DADEntry23In'/>
      <output name='getPID_DADEntry23Out' message='tns:getPID_DADEntry23Out'/>
    </operation>
    <operation name='getXML_DDBJEntry' parameterOrder='accession'>
      <documentation>Get DDBJ entry of XML format by Accession Number</documentation>
      <input name='getXML_DDBJEntry24In' message='tns:getXML_DDBJEntry24In'/>
      <output name='getXML_DDBJEntry24Out' message='tns:getXML_DDBJEntry24Out'/>
    </operation>
    <operation name='getDDBJVerEntry' parameterOrder='accession'>
      <documentation>Get DDBJ entry of Flat file format by Accession Number with version</documentation>
      <input name='getDDBJVerEntry25In' message='tns:getDDBJVerEntry25In'/>
      <output name='getDDBJVerEntry25Out' message='tns:getDDBJVerEntry25Out'/>
    </operation>
    <operation name='getFASTA_DDBJVerEntry' parameterOrder='accession'>
      <documentation>Get DDBJ entry of FASTA file format by Accession Number with version</documentation>
      <input name='getFASTA_DDBJVerEntry26In' message='tns:getFASTA_DDBJVerEntry26In'/>
      <output name='getFASTA_DDBJVerEntry26Out' message='tns:getFASTA_DDBJVerEntry26Out'/>
    </operation>
    <operation name='getEntryAsync' parameterOrder='database var'>
      <documentation>Get entry by database and unique ID</documentation>
      <input name='getEntryAsync27In' message='tns:getEntryAsync27In'/>
      <output name='getEntryAsync27Out' message='tns:getEntryAsync27Out'/>
    </operation>
    <operation name='getDDBJEntryAsync' parameterOrder='accession'>
      <documentation>Get DDBJ entry of Flat File Format by Accession Number</documentation>
      <input name='getDDBJEntryAsync28In' message='tns:getDDBJEntryAsync28In'/>
      <output name='getDDBJEntryAsync28Out' message='tns:getDDBJEntryAsync28Out'/>
    </operation>
    <operation name='getDDBJCONEntryAsync' parameterOrder='accession'>
      <documentation>Get DDBJ contig entry of Flat File Format by Accession Number</documentation>
      <input name='getDDBJCONEntryAsync29In' message='tns:getDDBJCONEntryAsync29In'/>
      <output name='getDDBJCONEntryAsync29Out' message='tns:getDDBJCONEntryAsync29Out'/>
    </operation>
    <operation name='getEMBLEntryAsync' parameterOrder='accession'>
      <documentation>Get EMBL entry of Flat File Format by Accession Number</documentation>
      <input name='getEMBLEntryAsync30In' message='tns:getEMBLEntryAsync30In'/>
      <output name='getEMBLEntryAsync30Out' message='tns:getEMBLEntryAsync30Out'/>
    </operation>
    <operation name='getDADEntryAsync' parameterOrder='accession'>
      <documentation>Get DAD entry of Flat File Format by Accession Number</documentation>
      <input name='getDADEntryAsync31In' message='tns:getDADEntryAsync31In'/>
      <output name='getDADEntryAsync31Out' message='tns:getDADEntryAsync31Out'/>
    </operation>
    <operation name='getPIREntryAsync' parameterOrder='accession'>
      <documentation>Get PIR entry of Flat File Format by Accession Number</documentation>
      <input name='getPIREntryAsync32In' message='tns:getPIREntryAsync32In'/>
      <output name='getPIREntryAsync32Out' message='tns:getPIREntryAsync32Out'/>
    </operation>
    <operation name='getSWISSEntryAsync' parameterOrder='accession'>
      <documentation>Get SWISSPROT entry of Flat File Format by Accession Number</documentation>
      <input name='getSWISSEntryAsync33In' message='tns:getSWISSEntryAsync33In'/>
      <output name='getSWISSEntryAsync33Out' message='tns:getSWISSEntryAsync33Out'/>
    </operation>
    <operation name='getPDBEntryAsync' parameterOrder='accession'>
      <documentation>Get PDB entry of Flat File Format by Accession Number</documentation>
      <input name='getPDBEntryAsync34In' message='tns:getPDBEntryAsync34In'/>
      <output name='getPDBEntryAsync34Out' message='tns:getPDBEntryAsync34Out'/>
    </operation>
    <operation name='getPRFEntryAsync' parameterOrder='accession'>
      <documentation>Get PRF entry of Flat File Format by Accession Number</documentation>
      <input name='getPRFEntryAsync35In' message='tns:getPRFEntryAsync35In'/>
      <output name='getPRFEntryAsync35Out' message='tns:getPRFEntryAsync35Out'/>
    </operation>
    <operation name='getQVEntryAsync' parameterOrder='accession'>
      <documentation>Get Quality Value of DDBJ entry by Accession Number</documentation>
      <input name='getQVEntryAsync36In' message='tns:getQVEntryAsync36In'/>
      <output name='getQVEntryAsync36Out' message='tns:getQVEntryAsync36Out'/>
    </operation>
    <operation name='getFASTA_DDBJEntryAsync' parameterOrder='accession'>
      <documentation>Get DDBJ entry of FASTA Format by Accession Number</documentation>
      <input name='getFASTA_DDBJEntryAsync37In' message='tns:getFASTA_DDBJEntryAsync37In'/>
      <output name='getFASTA_DDBJEntryAsync37Out' message='tns:getFASTA_DDBJEntryAsync37Out'/>
    </operation>
    <operation name='getFASTA_DDBJCONEntryAsync' parameterOrder='accession'>
      <documentation>Get DDBJ contig entry of FASTA Format by Accession Number</documentation>
      <input name='getFASTA_DDBJCONEntryAsync38In' message='tns:getFASTA_DDBJCONEntryAsync38In'/>
      <output name='getFASTA_DDBJCONEntryAsync38Out' message='tns:getFASTA_DDBJCONEntryAsync38Out'/>
    </operation>
    <operation name='getFASTA_DADEntryAsync' parameterOrder='accession'>
      <documentation>Get DAD entry of FASTA Format by Accession Number</documentation>
      <input name='getFASTA_DADEntryAsync39In' message='tns:getFASTA_DADEntryAsync39In'/>
      <output name='getFASTA_DADEntryAsync39Out' message='tns:getFASTA_DADEntryAsync39Out'/>
    </operation>
    <operation name='getFASTA_PIREntryAsync' parameterOrder='accession'>
      <documentation>Get PIR entry of FASTA Format by Accession Number</documentation>
      <input name='getFASTA_PIREntryAsync40In' message='tns:getFASTA_PIREntryAsync40In'/>
      <output name='getFASTA_PIREntryAsync40Out' message='tns:getFASTA_PIREntryAsync40Out'/>
    </operation>
    <operation name='getFASTA_SWISSEntryAsync' parameterOrder='accession'>
      <documentation>Get SWISSPROT entry of FASTA Format by Accession Number</documentation>
      <input name='getFASTA_SWISSEntryAsync41In' message='tns:getFASTA_SWISSEntryAsync41In'/>
      <output name='getFASTA_SWISSEntryAsync41Out' message='tns:getFASTA_SWISSEntryAsync41Out'/>
    </operation>
    <operation name='getFASTA_PDBEntryAsync' parameterOrder='accession'>
      <documentation>Get PDB entry of FASTA Format by Accession Number</documentation>
      <input name='getFASTA_PDBEntryAsync42In' message='tns:getFASTA_PDBEntryAsync42In'/>
      <output name='getFASTA_PDBEntryAsync42Out' message='tns:getFASTA_PDBEntryAsync42Out'/>
    </operation>
    <operation name='getFASTA_PRFEntryAsync' parameterOrder='accession'>
      <documentation>Get PRF entry of FASTA Format by Accession Number</documentation>
      <input name='getFASTA_PRFEntryAsync43In' message='tns:getFASTA_PRFEntryAsync43In'/>
      <output name='getFASTA_PRFEntryAsync43Out' message='tns:getFASTA_PRFEntryAsync43Out'/>
    </operation>
    <operation name='getFASTA_CDSEntryAsync' parameterOrder='accession'>
      <documentation>Get CDS information of DDBJ FASTA entry by Accession Number</documentation>
      <input name='getFASTA_CDSEntryAsync44In' message='tns:getFASTA_CDSEntryAsync44In'/>
      <output name='getFASTA_CDSEntryAsync44Out' message='tns:getFASTA_CDSEntryAsync44Out'/>
    </operation>
    <operation name='getLocus_DDBJEntryAsync' parameterOrder='locus'>
      <documentation>Get DDBJ entry by Locus information</documentation>
      <input name='getLocus_DDBJEntryAsync45In' message='tns:getLocus_DDBJEntryAsync45In'/>
      <output name='getLocus_DDBJEntryAsync45Out' message='tns:getLocus_DDBJEntryAsync45Out'/>
    </operation>
    <operation name='getGene_DDBJEntryAsync' parameterOrder='gene'>
      <documentation>Get DDBJ entry by gene name information</documentation>
      <input name='getGene_DDBJEntryAsync46In' message='tns:getGene_DDBJEntryAsync46In'/>
      <output name='getGene_DDBJEntryAsync46Out' message='tns:getGene_DDBJEntryAsync46Out'/>
    </operation>
    <operation name='getProd_DDBJEntryAsync' parameterOrder='products'>
      <documentation>Get DDBJ entry by products information</documentation>
      <input name='getProd_DDBJEntryAsync47In' message='tns:getProd_DDBJEntryAsync47In'/>
      <output name='getProd_DDBJEntryAsync47Out' message='tns:getProd_DDBJEntryAsync47Out'/>
    </operation>
    <operation name='getPID_DDBJEntryAsync' parameterOrder='pid'>
      <documentation>Get DDBJ entry by PID information</documentation>
      <input name='getPID_DDBJEntryAsync48In' message='tns:getPID_DDBJEntryAsync48In'/>
      <output name='getPID_DDBJEntryAsync48Out' message='tns:getPID_DDBJEntryAsync48Out'/>
    </operation>
    <operation name='getClone_DDBJEntryAsync' parameterOrder='clone'>
      <documentation>Get DDBJ entry by clone information</documentation>
      <input name='getClone_DDBJEntryAsync49In' message='tns:getClone_DDBJEntryAsync49In'/>
      <output name='getClone_DDBJEntryAsync49Out' message='tns:getClone_DDBJEntryAsync49Out'/>
    </operation>
    <operation name='getPID_DADEntryAsync' parameterOrder='pid'>
      <documentation>Get DAD entry by PID information</documentation>
      <input name='getPID_DADEntryAsync50In' message='tns:getPID_DADEntryAsync50In'/>
      <output name='getPID_DADEntryAsync50Out' message='tns:getPID_DADEntryAsync50Out'/>
    </operation>
    <operation name='getXML_DDBJEntryAsync' parameterOrder='accession'>
      <documentation>Get DDBJ entry of XML format by Accession Number</documentation>
      <input name='getXML_DDBJEntryAsync51In' message='tns:getXML_DDBJEntryAsync51In'/>
      <output name='getXML_DDBJEntryAsync51Out' message='tns:getXML_DDBJEntryAsync51Out'/>
    </operation>
    <operation name='getDDBJVerEntryAsync' parameterOrder='accession'>
      <documentation>Get DDBJ entry of Flat file format by Accession Number with version</documentation>
      <input name='getDDBJVerEntryAsync52In' message='tns:getDDBJVerEntryAsync52In'/>
      <output name='getDDBJVerEntryAsync52Out' message='tns:getDDBJVerEntryAsync52Out'/>
    </operation>
    <operation name='getFASTA_DDBJVerEntryAsync' parameterOrder='accession'>
      <documentation>Get DDBJ entry of FASTA file format by Accession Number with version</documentation>
      <input name='getFASTA_DDBJVerEntryAsync53In' message='tns:getFASTA_DDBJVerEntryAsync53In'/>
      <output name='getFASTA_DDBJVerEntryAsync53Out' message='tns:getFASTA_DDBJVerEntryAsync53Out'/>
    </operation>
  </portType>
  <binding name='GetEntry' type='tns:GetEntry'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='getEntry'>
      <soap:operation soapAction='getEntry' style='rpc'/>
      <input name='getEntry0In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getEntry0Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getDDBJEntry'>
      <soap:operation soapAction='getDDBJEntry' style='rpc'/>
      <input name='getDDBJEntry1In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getDDBJEntry1Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getDDBJCONEntry'>
      <soap:operation soapAction='getDDBJCONEntry' style='rpc'/>
      <input name='getDDBJCONEntry2In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getDDBJCONEntry2Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getEMBLEntry'>
      <soap:operation soapAction='getEMBLEntry' style='rpc'/>
      <input name='getEMBLEntry3In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getEMBLEntry3Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getDADEntry'>
      <soap:operation soapAction='getDADEntry' style='rpc'/>
      <input name='getDADEntry4In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getDADEntry4Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getPIREntry'>
      <soap:operation soapAction='getPIREntry' style='rpc'/>
      <input name='getPIREntry5In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getPIREntry5Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getSWISSEntry'>
      <soap:operation soapAction='getSWISSEntry' style='rpc'/>
      <input name='getSWISSEntry6In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getSWISSEntry6Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getPDBEntry'>
      <soap:operation soapAction='getPDBEntry' style='rpc'/>
      <input name='getPDBEntry7In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getPDBEntry7Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getPRFEntry'>
      <soap:operation soapAction='getPRFEntry' style='rpc'/>
      <input name='getPRFEntry8In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getPRFEntry8Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getQVEntry'>
      <soap:operation soapAction='getQVEntry' style='rpc'/>
      <input name='getQVEntry9In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getQVEntry9Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_DDBJEntry'>
      <soap:operation soapAction='getFASTA_DDBJEntry' style='rpc'/>
      <input name='getFASTA_DDBJEntry10In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_DDBJEntry10Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_DDBJCONEntry'>
      <soap:operation soapAction='getFASTA_DDBJCONEntry' style='rpc'/>
      <input name='getFASTA_DDBJCONEntry11In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_DDBJCONEntry11Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_DADEntry'>
      <soap:operation soapAction='getFASTA_DADEntry' style='rpc'/>
      <input name='getFASTA_DADEntry12In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_DADEntry12Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_PIREntry'>
      <soap:operation soapAction='getFASTA_PIREntry' style='rpc'/>
      <input name='getFASTA_PIREntry13In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_PIREntry13Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_SWISSEntry'>
      <soap:operation soapAction='getFASTA_SWISSEntry' style='rpc'/>
      <input name='getFASTA_SWISSEntry14In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_SWISSEntry14Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_PDBEntry'>
      <soap:operation soapAction='getFASTA_PDBEntry' style='rpc'/>
      <input name='getFASTA_PDBEntry15In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_PDBEntry15Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_PRFEntry'>
      <soap:operation soapAction='getFASTA_PRFEntry' style='rpc'/>
      <input name='getFASTA_PRFEntry16In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_PRFEntry16Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_CDSEntry'>
      <soap:operation soapAction='getFASTA_CDSEntry' style='rpc'/>
      <input name='getFASTA_CDSEntry17In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_CDSEntry17Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getLocus_DDBJEntry'>
      <soap:operation soapAction='getLocus_DDBJEntry' style='rpc'/>
      <input name='getLocus_DDBJEntry18In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getLocus_DDBJEntry18Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getGene_DDBJEntry'>
      <soap:operation soapAction='getGene_DDBJEntry' style='rpc'/>
      <input name='getGene_DDBJEntry19In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getGene_DDBJEntry19Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getProd_DDBJEntry'>
      <soap:operation soapAction='getProd_DDBJEntry' style='rpc'/>
      <input name='getProd_DDBJEntry20In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getProd_DDBJEntry20Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getPID_DDBJEntry'>
      <soap:operation soapAction='getPID_DDBJEntry' style='rpc'/>
      <input name='getPID_DDBJEntry21In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getPID_DDBJEntry21Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getClone_DDBJEntry'>
      <soap:operation soapAction='getClone_DDBJEntry' style='rpc'/>
      <input name='getClone_DDBJEntry22In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getClone_DDBJEntry22Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getPID_DADEntry'>
      <soap:operation soapAction='getPID_DADEntry' style='rpc'/>
      <input name='getPID_DADEntry23In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getPID_DADEntry23Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getXML_DDBJEntry'>
      <soap:operation soapAction='getXML_DDBJEntry' style='rpc'/>
      <input name='getXML_DDBJEntry24In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getXML_DDBJEntry24Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getDDBJVerEntry'>
      <soap:operation soapAction='getDDBJVerEntry' style='rpc'/>
      <input name='getDDBJVerEntry25In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getDDBJVerEntry25Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_DDBJVerEntry'>
      <soap:operation soapAction='getFASTA_DDBJVerEntry' style='rpc'/>
      <input name='getFASTA_DDBJVerEntry26In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_DDBJVerEntry26Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getEntryAsync'>
      <soap:operation soapAction='getEntryAsync' style='rpc'/>
      <input name='getEntryAsync27In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getEntryAsync27Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getDDBJEntryAsync'>
      <soap:operation soapAction='getDDBJEntryAsync' style='rpc'/>
      <input name='getDDBJEntryAsync28In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getDDBJEntryAsync28Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getDDBJCONEntryAsync'>
      <soap:operation soapAction='getDDBJCONEntryAsync' style='rpc'/>
      <input name='getDDBJCONEntryAsync29In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getDDBJCONEntryAsync29Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getEMBLEntryAsync'>
      <soap:operation soapAction='getEMBLEntryAsync' style='rpc'/>
      <input name='getEMBLEntryAsync30In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getEMBLEntryAsync30Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getDADEntryAsync'>
      <soap:operation soapAction='getDADEntryAsync' style='rpc'/>
      <input name='getDADEntryAsync31In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getDADEntryAsync31Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getPIREntryAsync'>
      <soap:operation soapAction='getPIREntryAsync' style='rpc'/>
      <input name='getPIREntryAsync32In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getPIREntryAsync32Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getSWISSEntryAsync'>
      <soap:operation soapAction='getSWISSEntryAsync' style='rpc'/>
      <input name='getSWISSEntryAsync33In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getSWISSEntryAsync33Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getPDBEntryAsync'>
      <soap:operation soapAction='getPDBEntryAsync' style='rpc'/>
      <input name='getPDBEntryAsync34In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getPDBEntryAsync34Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getPRFEntryAsync'>
      <soap:operation soapAction='getPRFEntryAsync' style='rpc'/>
      <input name='getPRFEntryAsync35In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getPRFEntryAsync35Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getQVEntryAsync'>
      <soap:operation soapAction='getQVEntryAsync' style='rpc'/>
      <input name='getQVEntryAsync36In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getQVEntryAsync36Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_DDBJEntryAsync'>
      <soap:operation soapAction='getFASTA_DDBJEntryAsync' style='rpc'/>
      <input name='getFASTA_DDBJEntryAsync37In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_DDBJEntryAsync37Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_DDBJCONEntryAsync'>
      <soap:operation soapAction='getFASTA_DDBJCONEntryAsync' style='rpc'/>
      <input name='getFASTA_DDBJCONEntryAsync38In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_DDBJCONEntryAsync38Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_DADEntryAsync'>
      <soap:operation soapAction='getFASTA_DADEntryAsync' style='rpc'/>
      <input name='getFASTA_DADEntryAsync39In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_DADEntryAsync39Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_PIREntryAsync'>
      <soap:operation soapAction='getFASTA_PIREntryAsync' style='rpc'/>
      <input name='getFASTA_PIREntryAsync40In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_PIREntryAsync40Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_SWISSEntryAsync'>
      <soap:operation soapAction='getFASTA_SWISSEntryAsync' style='rpc'/>
      <input name='getFASTA_SWISSEntryAsync41In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_SWISSEntryAsync41Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_PDBEntryAsync'>
      <soap:operation soapAction='getFASTA_PDBEntryAsync' style='rpc'/>
      <input name='getFASTA_PDBEntryAsync42In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_PDBEntryAsync42Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_PRFEntryAsync'>
      <soap:operation soapAction='getFASTA_PRFEntryAsync' style='rpc'/>
      <input name='getFASTA_PRFEntryAsync43In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_PRFEntryAsync43Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_CDSEntryAsync'>
      <soap:operation soapAction='getFASTA_CDSEntryAsync' style='rpc'/>
      <input name='getFASTA_CDSEntryAsync44In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_CDSEntryAsync44Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getLocus_DDBJEntryAsync'>
      <soap:operation soapAction='getLocus_DDBJEntryAsync' style='rpc'/>
      <input name='getLocus_DDBJEntryAsync45In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getLocus_DDBJEntryAsync45Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getGene_DDBJEntryAsync'>
      <soap:operation soapAction='getGene_DDBJEntryAsync' style='rpc'/>
      <input name='getGene_DDBJEntryAsync46In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getGene_DDBJEntryAsync46Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getProd_DDBJEntryAsync'>
      <soap:operation soapAction='getProd_DDBJEntryAsync' style='rpc'/>
      <input name='getProd_DDBJEntryAsync47In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getProd_DDBJEntryAsync47Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getPID_DDBJEntryAsync'>
      <soap:operation soapAction='getPID_DDBJEntryAsync' style='rpc'/>
      <input name='getPID_DDBJEntryAsync48In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getPID_DDBJEntryAsync48Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getClone_DDBJEntryAsync'>
      <soap:operation soapAction='getClone_DDBJEntryAsync' style='rpc'/>
      <input name='getClone_DDBJEntryAsync49In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getClone_DDBJEntryAsync49Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getPID_DADEntryAsync'>
      <soap:operation soapAction='getPID_DADEntryAsync' style='rpc'/>
      <input name='getPID_DADEntryAsync50In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getPID_DADEntryAsync50Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getXML_DDBJEntryAsync'>
      <soap:operation soapAction='getXML_DDBJEntryAsync' style='rpc'/>
      <input name='getXML_DDBJEntryAsync51In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getXML_DDBJEntryAsync51Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getDDBJVerEntryAsync'>
      <soap:operation soapAction='getDDBJVerEntryAsync' style='rpc'/>
      <input name='getDDBJVerEntryAsync52In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getDDBJVerEntryAsync52Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getFASTA_DDBJVerEntryAsync'>
      <soap:operation soapAction='getFASTA_DDBJVerEntryAsync' style='rpc'/>
      <input name='getFASTA_DDBJVerEntryAsync53In'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getFASTA_DDBJVerEntryAsync53Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/GetEntry' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <service name='GetEntry'>
    <port name='GetEntry' binding='tns:GetEntry'>
      <soap:address location='http://xml.nig.ac.jp/xddbj/GetEntry'/>
    </port>
  </service>
</definitions>