WebServiceDataset/unlabelled/service332.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.codecube.net/services/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.codecube.net/services/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.codecube.net/services/">
      <s:element name="Execute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteParamResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppCounter">
        <s:complexType />
      </s:element>
      <s:element name="GetAppCounterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAppCounterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="ExecuteSoapIn">
    <part name="parameters" element="s0:Execute" />
  </message>
  <message name="ExecuteSoapOut">
    <part name="parameters" element="s0:ExecuteResponse" />
  </message>
  <message name="ExecuteParamSoapIn">
    <part name="parameters" element="s0:ExecuteParam" />
  </message>
  <message name="ExecuteParamSoapOut">
    <part name="parameters" element="s0:ExecuteParamResponse" />
  </message>
  <message name="GetAppCounterSoapIn">
    <part name="parameters" element="s0:GetAppCounter" />
  </message>
  <message name="GetAppCounterSoapOut">
    <part name="parameters" element="s0:GetAppCounterResponse" />
  </message>
  <portType name="XreOnlineSoap">
    <operation name="Execute">
      <input message="s0:ExecuteSoapIn" />
      <output message="s0:ExecuteSoapOut" />
    </operation>
    <operation name="ExecuteParam">
      <input message="s0:ExecuteParamSoapIn" />
      <output message="s0:ExecuteParamSoapOut" />
    </operation>
    <operation name="GetAppCounter">
      <input message="s0:GetAppCounterSoapIn" />
      <output message="s0:GetAppCounterSoapOut" />
    </operation>
  </portType>
  <binding name="XreOnlineSoap" type="s0:XreOnlineSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Execute">
      <soap:operation soapAction="http://www.codecube.net/services/Execute" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ExecuteParam">
      <soap:operation soapAction="http://www.codecube.net/services/ExecuteParam" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAppCounter">
      <soap:operation soapAction="http://www.codecube.net/services/GetAppCounter" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="XreOnline">
    <port name="XreOnlineSoap" binding="s0:XreOnlineSoap">
      <soap:address location="http://www.codecube.net/services/xreonline.asmx" />
    </port>
  </service>
</definitions>