WebServiceDataset/unlabelled/service205.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.gama-system.com/webservices" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.gama-system.com/webservices" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.gama-system.com/webservices">
      <s:element name="GetStocksXMLSchema">
        <s:complexType />
      </s:element>
      <s:element name="GetStocksXMLSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStocksXMLSchemaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValuesByValueXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dcmLow" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="dcmHigh" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValuesByValueXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockDailyValuesByValueXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValuesByDateXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateLow" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateHigh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValuesByDateXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockDailyValuesByDateXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValuesXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSegment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValuesXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockDailyValuesXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestStockDailyValuesXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSegment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestStockDailyValuesXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestStockDailyValuesXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStockDailyValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestStockDailyValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestStockDailyValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestStockDailyValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestStockValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestStockValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestStockValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStockValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockValuesByDateTimeXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateTimeLow" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateTimeHigh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockValuesByDateTimeXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockValuesByDateTimeXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndicesXMLSchema">
        <s:complexType />
      </s:element>
      <s:element name="GetIndicesXMLSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndicesXMLSchemaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValuesByValueXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dcmLow" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="dcmHigh" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValuesByValueXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexDailyValuesByValueXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValuesByDateXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateLow" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateHigh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValuesByDateXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexDailyValuesByDateXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValuesXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValuesXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexDailyValuesXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestIndexDailyValuesXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestIndexDailyValuesXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestIndexDailyValuesXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIndexDailyValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestIndexDailyValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestIndexDailyValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestIndexDailyValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestIndexValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestIndexValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestIndexValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIndexValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexValuesByDateTimeXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateTimeLow" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateTimeHigh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexValuesByDateTimeXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexValuesByDateTimeXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="decimal" type="s:decimal" />
    </s:schema>
  </types>
  <message name="GetStocksXMLSchemaSoapIn">
    <part name="parameters" element="s0:GetStocksXMLSchema" />
  </message>
  <message name="GetStocksXMLSchemaSoapOut">
    <part name="parameters" element="s0:GetStocksXMLSchemaResponse" />
  </message>
  <message name="GetStockDailyValuesByValueXMLSoapIn">
    <part name="parameters" element="s0:GetStockDailyValuesByValueXML" />
  </message>
  <message name="GetStockDailyValuesByValueXMLSoapOut">
    <part name="parameters" element="s0:GetStockDailyValuesByValueXMLResponse" />
  </message>
  <message name="GetStockDailyValuesByDateXMLSoapIn">
    <part name="parameters" element="s0:GetStockDailyValuesByDateXML" />
  </message>
  <message name="GetStockDailyValuesByDateXMLSoapOut">
    <part name="parameters" element="s0:GetStockDailyValuesByDateXMLResponse" />
  </message>
  <message name="GetStockDailyValuesXMLSoapIn">
    <part name="parameters" element="s0:GetStockDailyValuesXML" />
  </message>
  <message name="GetStockDailyValuesXMLSoapOut">
    <part name="parameters" element="s0:GetStockDailyValuesXMLResponse" />
  </message>
  <message name="GetLatestStockDailyValuesXMLSoapIn">
    <part name="parameters" element="s0:GetLatestStockDailyValuesXML" />
  </message>
  <message name="GetLatestStockDailyValuesXMLSoapOut">
    <part name="parameters" element="s0:GetLatestStockDailyValuesXMLResponse" />
  </message>
  <message name="GetStockDailyValueSoapIn">
    <part name="parameters" element="s0:GetStockDailyValue" />
  </message>
  <message name="GetStockDailyValueSoapOut">
    <part name="parameters" element="s0:GetStockDailyValueResponse" />
  </message>
  <message name="GetLatestStockDailyValueSoapIn">
    <part name="parameters" element="s0:GetLatestStockDailyValue" />
  </message>
  <message name="GetLatestStockDailyValueSoapOut">
    <part name="parameters" element="s0:GetLatestStockDailyValueResponse" />
  </message>
  <message name="GetLatestStockValueSoapIn">
    <part name="parameters" element="s0:GetLatestStockValue" />
  </message>
  <message name="GetLatestStockValueSoapOut">
    <part name="parameters" element="s0:GetLatestStockValueResponse" />
  </message>
  <message name="GetStockValueSoapIn">
    <part name="parameters" element="s0:GetStockValue" />
  </message>
  <message name="GetStockValueSoapOut">
    <part name="parameters" element="s0:GetStockValueResponse" />
  </message>
  <message name="GetStockValuesByDateTimeXMLSoapIn">
    <part name="parameters" element="s0:GetStockValuesByDateTimeXML" />
  </message>
  <message name="GetStockValuesByDateTimeXMLSoapOut">
    <part name="parameters" element="s0:GetStockValuesByDateTimeXMLResponse" />
  </message>
  <message name="GetIndicesXMLSchemaSoapIn">
    <part name="parameters" element="s0:GetIndicesXMLSchema" />
  </message>
  <message name="GetIndicesXMLSchemaSoapOut">
    <part name="parameters" element="s0:GetIndicesXMLSchemaResponse" />
  </message>
  <message name="GetIndexDailyValuesByValueXMLSoapIn">
    <part name="parameters" element="s0:GetIndexDailyValuesByValueXML" />
  </message>
  <message name="GetIndexDailyValuesByValueXMLSoapOut">
    <part name="parameters" element="s0:GetIndexDailyValuesByValueXMLResponse" />
  </message>
  <message name="GetIndexDailyValuesByDateXMLSoapIn">
    <part name="parameters" element="s0:GetIndexDailyValuesByDateXML" />
  </message>
  <message name="GetIndexDailyValuesByDateXMLSoapOut">
    <part name="parameters" element="s0:GetIndexDailyValuesByDateXMLResponse" />
  </message>
  <message name="GetIndexDailyValuesXMLSoapIn">
    <part name="parameters" element="s0:GetIndexDailyValuesXML" />
  </message>
  <message name="GetIndexDailyValuesXMLSoapOut">
    <part name="parameters" element="s0:GetIndexDailyValuesXMLResponse" />
  </message>
  <message name="GetLatestIndexDailyValuesXMLSoapIn">
    <part name="parameters" element="s0:GetLatestIndexDailyValuesXML" />
  </message>
  <message name="GetLatestIndexDailyValuesXMLSoapOut">
    <part name="parameters" element="s0:GetLatestIndexDailyValuesXMLResponse" />
  </message>
  <message name="GetIndexDailyValueSoapIn">
    <part name="parameters" element="s0:GetIndexDailyValue" />
  </message>
  <message name="GetIndexDailyValueSoapOut">
    <part name="parameters" element="s0:GetIndexDailyValueResponse" />
  </message>
  <message name="GetLatestIndexDailyValueSoapIn">
    <part name="parameters" element="s0:GetLatestIndexDailyValue" />
  </message>
  <message name="GetLatestIndexDailyValueSoapOut">
    <part name="parameters" element="s0:GetLatestIndexDailyValueResponse" />
  </message>
  <message name="GetLatestIndexValueSoapIn">
    <part name="parameters" element="s0:GetLatestIndexValue" />
  </message>
  <message name="GetLatestIndexValueSoapOut">
    <part name="parameters" element="s0:GetLatestIndexValueResponse" />
  </message>
  <message name="GetIndexValueSoapIn">
    <part name="parameters" element="s0:GetIndexValue" />
  </message>
  <message name="GetIndexValueSoapOut">
    <part name="parameters" element="s0:GetIndexValueResponse" />
  </message>
  <message name="GetIndexValuesByDateTimeXMLSoapIn">
    <part name="parameters" element="s0:GetIndexValuesByDateTimeXML" />
  </message>
  <message name="GetIndexValuesByDateTimeXMLSoapOut">
    <part name="parameters" element="s0:GetIndexValuesByDateTimeXMLResponse" />
  </message>
  <message name="GetStocksXMLSchemaHttpGetIn" />
  <message name="GetStocksXMLSchemaHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetStockDailyValuesByValueXMLHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strStock" type="s:string" />
    <part name="dcmLow" type="s:string" />
    <part name="dcmHigh" type="s:string" />
  </message>
  <message name="GetStockDailyValuesByValueXMLHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetStockDailyValuesByDateXMLHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strStock" type="s:string" />
    <part name="strDateLow" type="s:string" />
    <part name="strDateHigh" type="s:string" />
  </message>
  <message name="GetStockDailyValuesByDateXMLHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetStockDailyValuesXMLHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strSegment" type="s:string" />
    <part name="strDate" type="s:string" />
  </message>
  <message name="GetStockDailyValuesXMLHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetLatestStockDailyValuesXMLHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strSegment" type="s:string" />
  </message>
  <message name="GetLatestStockDailyValuesXMLHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetStockDailyValueHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strStock" type="s:string" />
    <part name="strDate" type="s:string" />
  </message>
  <message name="GetStockDailyValueHttpGetOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetLatestStockDailyValueHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strStock" type="s:string" />
  </message>
  <message name="GetLatestStockDailyValueHttpGetOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetLatestStockValueHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strStock" type="s:string" />
  </message>
  <message name="GetLatestStockValueHttpGetOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetStockValueHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strStock" type="s:string" />
    <part name="strDateTime" type="s:string" />
  </message>
  <message name="GetStockValueHttpGetOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetStockValuesByDateTimeXMLHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strStock" type="s:string" />
    <part name="strDateTimeLow" type="s:string" />
    <part name="strDateTimeHigh" type="s:string" />
  </message>
  <message name="GetStockValuesByDateTimeXMLHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetIndicesXMLSchemaHttpGetIn" />
  <message name="GetIndicesXMLSchemaHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetIndexDailyValuesByValueXMLHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strIndex" type="s:string" />
    <part name="dcmLow" type="s:string" />
    <part name="dcmHigh" type="s:string" />
  </message>
  <message name="GetIndexDailyValuesByValueXMLHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetIndexDailyValuesByDateXMLHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strIndex" type="s:string" />
    <part name="strDateLow" type="s:string" />
    <part name="strDateHigh" type="s:string" />
  </message>
  <message name="GetIndexDailyValuesByDateXMLHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetIndexDailyValuesXMLHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strDate" type="s:string" />
  </message>
  <message name="GetIndexDailyValuesXMLHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetLatestIndexDailyValuesXMLHttpGetIn">
    <part name="strStockExchange" type="s:string" />
  </message>
  <message name="GetLatestIndexDailyValuesXMLHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetIndexDailyValueHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strIndex" type="s:string" />
    <part name="strDate" type="s:string" />
  </message>
  <message name="GetIndexDailyValueHttpGetOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetLatestIndexDailyValueHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strIndex" type="s:string" />
  </message>
  <message name="GetLatestIndexDailyValueHttpGetOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetLatestIndexValueHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strIndex" type="s:string" />
  </message>
  <message name="GetLatestIndexValueHttpGetOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetIndexValueHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strIndex" type="s:string" />
    <part name="strDateTime" type="s:string" />
  </message>
  <message name="GetIndexValueHttpGetOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetIndexValuesByDateTimeXMLHttpGetIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strIndex" type="s:string" />
    <part name="strDateTimeLow" type="s:string" />
    <part name="strDateTimeHigh" type="s:string" />
  </message>
  <message name="GetIndexValuesByDateTimeXMLHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetStocksXMLSchemaHttpPostIn" />
  <message name="GetStocksXMLSchemaHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetStockDailyValuesByValueXMLHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strStock" type="s:string" />
    <part name="dcmLow" type="s:string" />
    <part name="dcmHigh" type="s:string" />
  </message>
  <message name="GetStockDailyValuesByValueXMLHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetStockDailyValuesByDateXMLHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strStock" type="s:string" />
    <part name="strDateLow" type="s:string" />
    <part name="strDateHigh" type="s:string" />
  </message>
  <message name="GetStockDailyValuesByDateXMLHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetStockDailyValuesXMLHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strSegment" type="s:string" />
    <part name="strDate" type="s:string" />
  </message>
  <message name="GetStockDailyValuesXMLHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetLatestStockDailyValuesXMLHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strSegment" type="s:string" />
  </message>
  <message name="GetLatestStockDailyValuesXMLHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetStockDailyValueHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strStock" type="s:string" />
    <part name="strDate" type="s:string" />
  </message>
  <message name="GetStockDailyValueHttpPostOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetLatestStockDailyValueHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strStock" type="s:string" />
  </message>
  <message name="GetLatestStockDailyValueHttpPostOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetLatestStockValueHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strStock" type="s:string" />
  </message>
  <message name="GetLatestStockValueHttpPostOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetStockValueHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strStock" type="s:string" />
    <part name="strDateTime" type="s:string" />
  </message>
  <message name="GetStockValueHttpPostOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetStockValuesByDateTimeXMLHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strStock" type="s:string" />
    <part name="strDateTimeLow" type="s:string" />
    <part name="strDateTimeHigh" type="s:string" />
  </message>
  <message name="GetStockValuesByDateTimeXMLHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetIndicesXMLSchemaHttpPostIn" />
  <message name="GetIndicesXMLSchemaHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetIndexDailyValuesByValueXMLHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strIndex" type="s:string" />
    <part name="dcmLow" type="s:string" />
    <part name="dcmHigh" type="s:string" />
  </message>
  <message name="GetIndexDailyValuesByValueXMLHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetIndexDailyValuesByDateXMLHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strIndex" type="s:string" />
    <part name="strDateLow" type="s:string" />
    <part name="strDateHigh" type="s:string" />
  </message>
  <message name="GetIndexDailyValuesByDateXMLHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetIndexDailyValuesXMLHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strDate" type="s:string" />
  </message>
  <message name="GetIndexDailyValuesXMLHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetLatestIndexDailyValuesXMLHttpPostIn">
    <part name="strStockExchange" type="s:string" />
  </message>
  <message name="GetLatestIndexDailyValuesXMLHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetIndexDailyValueHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strIndex" type="s:string" />
    <part name="strDate" type="s:string" />
  </message>
  <message name="GetIndexDailyValueHttpPostOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetLatestIndexDailyValueHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strIndex" type="s:string" />
  </message>
  <message name="GetLatestIndexDailyValueHttpPostOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetLatestIndexValueHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strIndex" type="s:string" />
  </message>
  <message name="GetLatestIndexValueHttpPostOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetIndexValueHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strIndex" type="s:string" />
    <part name="strDateTime" type="s:string" />
  </message>
  <message name="GetIndexValueHttpPostOut">
    <part name="Body" element="s0:decimal" />
  </message>
  <message name="GetIndexValuesByDateTimeXMLHttpPostIn">
    <part name="strStockExchange" type="s:string" />
    <part name="strIndex" type="s:string" />
    <part name="strDateTimeLow" type="s:string" />
    <part name="strDateTimeHigh" type="s:string" />
  </message>
  <message name="GetIndexValuesByDateTimeXMLHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="StockQuotesSoap">
    <operation name="GetStocksXMLSchema">
      <documentation>Method returns XML schema (XSD) in which all XML formatted stock information is in.</documentation>
      <input message="s0:GetStocksXMLSchemaSoapIn" />
      <output message="s0:GetStocksXMLSchemaSoapOut" />
    </operation>
    <operation name="GetStockDailyValuesByValueXML">
      <documentation>Method returns all values for the specified stock that are in the given value interval as XML string.</documentation>
      <input message="s0:GetStockDailyValuesByValueXMLSoapIn" />
      <output message="s0:GetStockDailyValuesByValueXMLSoapOut" />
    </operation>
    <operation name="GetStockDailyValuesByDateXML">
      <documentation>Method returns all values for the specified stock in the given time interval as XML string.</documentation>
      <input message="s0:GetStockDailyValuesByDateXMLSoapIn" />
      <output message="s0:GetStockDailyValuesByDateXMLSoapOut" />
    </operation>
    <operation name="GetStockDailyValuesXML">
      <documentation>Method returns all stock values for given date as XML string.</documentation>
      <input message="s0:GetStockDailyValuesXMLSoapIn" />
      <output message="s0:GetStockDailyValuesXMLSoapOut" />
    </operation>
    <operation name="GetLatestStockDailyValuesXML">
      <documentation>Method returns latest published stock values as XML string.</documentation>
      <input message="s0:GetLatestStockDailyValuesXMLSoapIn" />
      <output message="s0:GetLatestStockDailyValuesXMLSoapOut" />
    </operation>
    <operation name="GetStockDailyValue">
      <documentation>Method returns the value for the specified stock on the given date.</documentation>
      <input message="s0:GetStockDailyValueSoapIn" />
      <output message="s0:GetStockDailyValueSoapOut" />
    </operation>
    <operation name="GetLatestStockDailyValue">
      <documentation>Method returns the latest published value for the specified stock.</documentation>
      <input message="s0:GetLatestStockDailyValueSoapIn" />
      <output message="s0:GetLatestStockDailyValueSoapOut" />
    </operation>
    <operation name="GetLatestStockValue">
      <documentation>Method returns the current value for the specified stock.</documentation>
      <input message="s0:GetLatestStockValueSoapIn" />
      <output message="s0:GetLatestStockValueSoapOut" />
    </operation>
    <operation name="GetStockValue">
      <documentation>Method returns the value for the specified stock at the given time.</documentation>
      <input message="s0:GetStockValueSoapIn" />
      <output message="s0:GetStockValueSoapOut" />
    </operation>
    <operation name="GetStockValuesByDateTimeXML">
      <documentation>Method returns all values for the specified stock in the given time interval as XML string.</documentation>
      <input message="s0:GetStockValuesByDateTimeXMLSoapIn" />
      <output message="s0:GetStockValuesByDateTimeXMLSoapOut" />
    </operation>
    <operation name="GetIndicesXMLSchema">
      <documentation>Method returns XML schema (XSD) in which all XML formatted index information is in.</documentation>
      <input message="s0:GetIndicesXMLSchemaSoapIn" />
      <output message="s0:GetIndicesXMLSchemaSoapOut" />
    </operation>
    <operation name="GetIndexDailyValuesByValueXML">
      <documentation>Method returns all values for the specified index that are in the given value interval as XML string.</documentation>
      <input message="s0:GetIndexDailyValuesByValueXMLSoapIn" />
      <output message="s0:GetIndexDailyValuesByValueXMLSoapOut" />
    </operation>
    <operation name="GetIndexDailyValuesByDateXML">
      <documentation>Method returns all values for the specified index in the given time interval as XML string.</documentation>
      <input message="s0:GetIndexDailyValuesByDateXMLSoapIn" />
      <output message="s0:GetIndexDailyValuesByDateXMLSoapOut" />
    </operation>
    <operation name="GetIndexDailyValuesXML">
      <documentation>Method returns all index values for given date as XML string.</documentation>
      <input message="s0:GetIndexDailyValuesXMLSoapIn" />
      <output message="s0:GetIndexDailyValuesXMLSoapOut" />
    </operation>
    <operation name="GetLatestIndexDailyValuesXML">
      <documentation>Method returns latest published index values as XML string.</documentation>
      <input message="s0:GetLatestIndexDailyValuesXMLSoapIn" />
      <output message="s0:GetLatestIndexDailyValuesXMLSoapOut" />
    </operation>
    <operation name="GetIndexDailyValue">
      <documentation>Method returns the value for the specified index on the given date.</documentation>
      <input message="s0:GetIndexDailyValueSoapIn" />
      <output message="s0:GetIndexDailyValueSoapOut" />
    </operation>
    <operation name="GetLatestIndexDailyValue">
      <documentation>Method returns the latest published value for the specified index.</documentation>
      <input message="s0:GetLatestIndexDailyValueSoapIn" />
      <output message="s0:GetLatestIndexDailyValueSoapOut" />
    </operation>
    <operation name="GetLatestIndexValue">
      <documentation>Method returns the current value for the specified index.</documentation>
      <input message="s0:GetLatestIndexValueSoapIn" />
      <output message="s0:GetLatestIndexValueSoapOut" />
    </operation>
    <operation name="GetIndexValue">
      <documentation>Method returns the value for the specified index at the given time.</documentation>
      <input message="s0:GetIndexValueSoapIn" />
      <output message="s0:GetIndexValueSoapOut" />
    </operation>
    <operation name="GetIndexValuesByDateTimeXML">
      <documentation>Method returns all values for the specified index in the given time interval as XML string.</documentation>
      <input message="s0:GetIndexValuesByDateTimeXMLSoapIn" />
      <output message="s0:GetIndexValuesByDateTimeXMLSoapOut" />
    </operation>
  </portType>
  <portType name="StockQuotesHttpGet">
    <operation name="GetStocksXMLSchema">
      <documentation>Method returns XML schema (XSD) in which all XML formatted stock information is in.</documentation>
      <input message="s0:GetStocksXMLSchemaHttpGetIn" />
      <output message="s0:GetStocksXMLSchemaHttpGetOut" />
    </operation>
    <operation name="GetStockDailyValuesByValueXML">
      <documentation>Method returns all values for the specified stock that are in the given value interval as XML string.</documentation>
      <input message="s0:GetStockDailyValuesByValueXMLHttpGetIn" />
      <output message="s0:GetStockDailyValuesByValueXMLHttpGetOut" />
    </operation>
    <operation name="GetStockDailyValuesByDateXML">
      <documentation>Method returns all values for the specified stock in the given time interval as XML string.</documentation>
      <input message="s0:GetStockDailyValuesByDateXMLHttpGetIn" />
      <output message="s0:GetStockDailyValuesByDateXMLHttpGetOut" />
    </operation>
    <operation name="GetStockDailyValuesXML">
      <documentation>Method returns all stock values for given date as XML string.</documentation>
      <input message="s0:GetStockDailyValuesXMLHttpGetIn" />
      <output message="s0:GetStockDailyValuesXMLHttpGetOut" />
    </operation>
    <operation name="GetLatestStockDailyValuesXML">
      <documentation>Method returns latest published stock values as XML string.</documentation>
      <input message="s0:GetLatestStockDailyValuesXMLHttpGetIn" />
      <output message="s0:GetLatestStockDailyValuesXMLHttpGetOut" />
    </operation>
    <operation name="GetStockDailyValue">
      <documentation>Method returns the value for the specified stock on the given date.</documentation>
      <input message="s0:GetStockDailyValueHttpGetIn" />
      <output message="s0:GetStockDailyValueHttpGetOut" />
    </operation>
    <operation name="GetLatestStockDailyValue">
      <documentation>Method returns the latest published value for the specified stock.</documentation>
      <input message="s0:GetLatestStockDailyValueHttpGetIn" />
      <output message="s0:GetLatestStockDailyValueHttpGetOut" />
    </operation>
    <operation name="GetLatestStockValue">
      <documentation>Method returns the current value for the specified stock.</documentation>
      <input message="s0:GetLatestStockValueHttpGetIn" />
      <output message="s0:GetLatestStockValueHttpGetOut" />
    </operation>
    <operation name="GetStockValue">
      <documentation>Method returns the value for the specified stock at the given time.</documentation>
      <input message="s0:GetStockValueHttpGetIn" />
      <output message="s0:GetStockValueHttpGetOut" />
    </operation>
    <operation name="GetStockValuesByDateTimeXML">
      <documentation>Method returns all values for the specified stock in the given time interval as XML string.</documentation>
      <input message="s0:GetStockValuesByDateTimeXMLHttpGetIn" />
      <output message="s0:GetStockValuesByDateTimeXMLHttpGetOut" />
    </operation>
    <operation name="GetIndicesXMLSchema">
      <documentation>Method returns XML schema (XSD) in which all XML formatted index information is in.</documentation>
      <input message="s0:GetIndicesXMLSchemaHttpGetIn" />
      <output message="s0:GetIndicesXMLSchemaHttpGetOut" />
    </operation>
    <operation name="GetIndexDailyValuesByValueXML">
      <documentation>Method returns all values for the specified index that are in the given value interval as XML string.</documentation>
      <input message="s0:GetIndexDailyValuesByValueXMLHttpGetIn" />
      <output message="s0:GetIndexDailyValuesByValueXMLHttpGetOut" />
    </operation>
    <operation name="GetIndexDailyValuesByDateXML">
      <documentation>Method returns all values for the specified index in the given time interval as XML string.</documentation>
      <input message="s0:GetIndexDailyValuesByDateXMLHttpGetIn" />
      <output message="s0:GetIndexDailyValuesByDateXMLHttpGetOut" />
    </operation>
    <operation name="GetIndexDailyValuesXML">
      <documentation>Method returns all index values for given date as XML string.</documentation>
      <input message="s0:GetIndexDailyValuesXMLHttpGetIn" />
      <output message="s0:GetIndexDailyValuesXMLHttpGetOut" />
    </operation>
    <operation name="GetLatestIndexDailyValuesXML">
      <documentation>Method returns latest published index values as XML string.</documentation>
      <input message="s0:GetLatestIndexDailyValuesXMLHttpGetIn" />
      <output message="s0:GetLatestIndexDailyValuesXMLHttpGetOut" />
    </operation>
    <operation name="GetIndexDailyValue">
      <documentation>Method returns the value for the specified index on the given date.</documentation>
      <input message="s0:GetIndexDailyValueHttpGetIn" />
      <output message="s0:GetIndexDailyValueHttpGetOut" />
    </operation>
    <operation name="GetLatestIndexDailyValue">
      <documentation>Method returns the latest published value for the specified index.</documentation>
      <input message="s0:GetLatestIndexDailyValueHttpGetIn" />
      <output message="s0:GetLatestIndexDailyValueHttpGetOut" />
    </operation>
    <operation name="GetLatestIndexValue">
      <documentation>Method returns the current value for the specified index.</documentation>
      <input message="s0:GetLatestIndexValueHttpGetIn" />
      <output message="s0:GetLatestIndexValueHttpGetOut" />
    </operation>
    <operation name="GetIndexValue">
      <documentation>Method returns the value for the specified index at the given time.</documentation>
      <input message="s0:GetIndexValueHttpGetIn" />
      <output message="s0:GetIndexValueHttpGetOut" />
    </operation>
    <operation name="GetIndexValuesByDateTimeXML">
      <documentation>Method returns all values for the specified index in the given time interval as XML string.</documentation>
      <input message="s0:GetIndexValuesByDateTimeXMLHttpGetIn" />
      <output message="s0:GetIndexValuesByDateTimeXMLHttpGetOut" />
    </operation>
  </portType>
  <portType name="StockQuotesHttpPost">
    <operation name="GetStocksXMLSchema">
      <documentation>Method returns XML schema (XSD) in which all XML formatted stock information is in.</documentation>
      <input message="s0:GetStocksXMLSchemaHttpPostIn" />
      <output message="s0:GetStocksXMLSchemaHttpPostOut" />
    </operation>
    <operation name="GetStockDailyValuesByValueXML">
      <documentation>Method returns all values for the specified stock that are in the given value interval as XML string.</documentation>
      <input message="s0:GetStockDailyValuesByValueXMLHttpPostIn" />
      <output message="s0:GetStockDailyValuesByValueXMLHttpPostOut" />
    </operation>
    <operation name="GetStockDailyValuesByDateXML">
      <documentation>Method returns all values for the specified stock in the given time interval as XML string.</documentation>
      <input message="s0:GetStockDailyValuesByDateXMLHttpPostIn" />
      <output message="s0:GetStockDailyValuesByDateXMLHttpPostOut" />
    </operation>
    <operation name="GetStockDailyValuesXML">
      <documentation>Method returns all stock values for given date as XML string.</documentation>
      <input message="s0:GetStockDailyValuesXMLHttpPostIn" />
      <output message="s0:GetStockDailyValuesXMLHttpPostOut" />
    </operation>
    <operation name="GetLatestStockDailyValuesXML">
      <documentation>Method returns latest published stock values as XML string.</documentation>
      <input message="s0:GetLatestStockDailyValuesXMLHttpPostIn" />
      <output message="s0:GetLatestStockDailyValuesXMLHttpPostOut" />
    </operation>
    <operation name="GetStockDailyValue">
      <documentation>Method returns the value for the specified stock on the given date.</documentation>
      <input message="s0:GetStockDailyValueHttpPostIn" />
      <output message="s0:GetStockDailyValueHttpPostOut" />
    </operation>
    <operation name="GetLatestStockDailyValue">
      <documentation>Method returns the latest published value for the specified stock.</documentation>
      <input message="s0:GetLatestStockDailyValueHttpPostIn" />
      <output message="s0:GetLatestStockDailyValueHttpPostOut" />
    </operation>
    <operation name="GetLatestStockValue">
      <documentation>Method returns the current value for the specified stock.</documentation>
      <input message="s0:GetLatestStockValueHttpPostIn" />
      <output message="s0:GetLatestStockValueHttpPostOut" />
    </operation>
    <operation name="GetStockValue">
      <documentation>Method returns the value for the specified stock at the given time.</documentation>
      <input message="s0:GetStockValueHttpPostIn" />
      <output message="s0:GetStockValueHttpPostOut" />
    </operation>
    <operation name="GetStockValuesByDateTimeXML">
      <documentation>Method returns all values for the specified stock in the given time interval as XML string.</documentation>
      <input message="s0:GetStockValuesByDateTimeXMLHttpPostIn" />
      <output message="s0:GetStockValuesByDateTimeXMLHttpPostOut" />
    </operation>
    <operation name="GetIndicesXMLSchema">
      <documentation>Method returns XML schema (XSD) in which all XML formatted index information is in.</documentation>
      <input message="s0:GetIndicesXMLSchemaHttpPostIn" />
      <output message="s0:GetIndicesXMLSchemaHttpPostOut" />
    </operation>
    <operation name="GetIndexDailyValuesByValueXML">
      <documentation>Method returns all values for the specified index that are in the given value interval as XML string.</documentation>
      <input message="s0:GetIndexDailyValuesByValueXMLHttpPostIn" />
      <output message="s0:GetIndexDailyValuesByValueXMLHttpPostOut" />
    </operation>
    <operation name="GetIndexDailyValuesByDateXML">
      <documentation>Method returns all values for the specified index in the given time interval as XML string.</documentation>
      <input message="s0:GetIndexDailyValuesByDateXMLHttpPostIn" />
      <output message="s0:GetIndexDailyValuesByDateXMLHttpPostOut" />
    </operation>
    <operation name="GetIndexDailyValuesXML">
      <documentation>Method returns all index values for given date as XML string.</documentation>
      <input message="s0:GetIndexDailyValuesXMLHttpPostIn" />
      <output message="s0:GetIndexDailyValuesXMLHttpPostOut" />
    </operation>
    <operation name="GetLatestIndexDailyValuesXML">
      <documentation>Method returns latest published index values as XML string.</documentation>
      <input message="s0:GetLatestIndexDailyValuesXMLHttpPostIn" />
      <output message="s0:GetLatestIndexDailyValuesXMLHttpPostOut" />
    </operation>
    <operation name="GetIndexDailyValue">
      <documentation>Method returns the value for the specified index on the given date.</documentation>
      <input message="s0:GetIndexDailyValueHttpPostIn" />
      <output message="s0:GetIndexDailyValueHttpPostOut" />
    </operation>
    <operation name="GetLatestIndexDailyValue">
      <documentation>Method returns the latest published value for the specified index.</documentation>
      <input message="s0:GetLatestIndexDailyValueHttpPostIn" />
      <output message="s0:GetLatestIndexDailyValueHttpPostOut" />
    </operation>
    <operation name="GetLatestIndexValue">
      <documentation>Method returns the current value for the specified index.</documentation>
      <input message="s0:GetLatestIndexValueHttpPostIn" />
      <output message="s0:GetLatestIndexValueHttpPostOut" />
    </operation>
    <operation name="GetIndexValue">
      <documentation>Method returns the value for the specified index at the given time.</documentation>
      <input message="s0:GetIndexValueHttpPostIn" />
      <output message="s0:GetIndexValueHttpPostOut" />
    </operation>
    <operation name="GetIndexValuesByDateTimeXML">
      <documentation>Method returns all values for the specified index in the given time interval as XML string.</documentation>
      <input message="s0:GetIndexValuesByDateTimeXMLHttpPostIn" />
      <output message="s0:GetIndexValuesByDateTimeXMLHttpPostOut" />
    </operation>
  </portType>
  <binding name="StockQuotesSoap" type="s0:StockQuotesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetStocksXMLSchema">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetStocksXMLSchema" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetStockDailyValuesByValueXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetStockDailyValuesByValueXML" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetStockDailyValuesByDateXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetStockDailyValuesByDateXML" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetStockDailyValuesXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetStockDailyValuesXML" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLatestStockDailyValuesXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetLatestStockDailyValuesXML" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetStockDailyValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetStockDailyValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLatestStockDailyValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetLatestStockDailyValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLatestStockValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetLatestStockValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetStockValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetStockValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetStockValuesByDateTimeXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetStockValuesByDateTimeXML" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetIndicesXMLSchema">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetIndicesXMLSchema" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetIndexDailyValuesByValueXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetIndexDailyValuesByValueXML" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetIndexDailyValuesByDateXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetIndexDailyValuesByDateXML" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetIndexDailyValuesXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetIndexDailyValuesXML" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLatestIndexDailyValuesXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetLatestIndexDailyValuesXML" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetIndexDailyValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetIndexDailyValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLatestIndexDailyValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetLatestIndexDailyValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLatestIndexValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetLatestIndexValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetIndexValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetIndexValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetIndexValuesByDateTimeXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetIndexValuesByDateTimeXML" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="StockQuotesHttpGet" type="s0:StockQuotesHttpGet">
    <http:binding verb="GET" />
    <operation name="GetStocksXMLSchema">
      <http:operation location="/GetStocksXMLSchema" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetStockDailyValuesByValueXML">
      <http:operation location="/GetStockDailyValuesByValueXML" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetStockDailyValuesByDateXML">
      <http:operation location="/GetStockDailyValuesByDateXML" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetStockDailyValuesXML">
      <http:operation location="/GetStockDailyValuesXML" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLatestStockDailyValuesXML">
      <http:operation location="/GetLatestStockDailyValuesXML" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetStockDailyValue">
      <http:operation location="/GetStockDailyValue" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLatestStockDailyValue">
      <http:operation location="/GetLatestStockDailyValue" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLatestStockValue">
      <http:operation location="/GetLatestStockValue" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetStockValue">
      <http:operation location="/GetStockValue" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetStockValuesByDateTimeXML">
      <http:operation location="/GetStockValuesByDateTimeXML" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetIndicesXMLSchema">
      <http:operation location="/GetIndicesXMLSchema" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetIndexDailyValuesByValueXML">
      <http:operation location="/GetIndexDailyValuesByValueXML" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetIndexDailyValuesByDateXML">
      <http:operation location="/GetIndexDailyValuesByDateXML" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetIndexDailyValuesXML">
      <http:operation location="/GetIndexDailyValuesXML" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLatestIndexDailyValuesXML">
      <http:operation location="/GetLatestIndexDailyValuesXML" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetIndexDailyValue">
      <http:operation location="/GetIndexDailyValue" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLatestIndexDailyValue">
      <http:operation location="/GetLatestIndexDailyValue" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLatestIndexValue">
      <http:operation location="/GetLatestIndexValue" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetIndexValue">
      <http:operation location="/GetIndexValue" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetIndexValuesByDateTimeXML">
      <http:operation location="/GetIndexValuesByDateTimeXML" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="StockQuotesHttpPost" type="s0:StockQuotesHttpPost">
    <http:binding verb="POST" />
    <operation name="GetStocksXMLSchema">
      <http:operation location="/GetStocksXMLSchema" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetStockDailyValuesByValueXML">
      <http:operation location="/GetStockDailyValuesByValueXML" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetStockDailyValuesByDateXML">
      <http:operation location="/GetStockDailyValuesByDateXML" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetStockDailyValuesXML">
      <http:operation location="/GetStockDailyValuesXML" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLatestStockDailyValuesXML">
      <http:operation location="/GetLatestStockDailyValuesXML" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetStockDailyValue">
      <http:operation location="/GetStockDailyValue" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLatestStockDailyValue">
      <http:operation location="/GetLatestStockDailyValue" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLatestStockValue">
      <http:operation location="/GetLatestStockValue" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetStockValue">
      <http:operation location="/GetStockValue" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetStockValuesByDateTimeXML">
      <http:operation location="/GetStockValuesByDateTimeXML" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetIndicesXMLSchema">
      <http:operation location="/GetIndicesXMLSchema" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetIndexDailyValuesByValueXML">
      <http:operation location="/GetIndexDailyValuesByValueXML" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetIndexDailyValuesByDateXML">
      <http:operation location="/GetIndexDailyValuesByDateXML" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetIndexDailyValuesXML">
      <http:operation location="/GetIndexDailyValuesXML" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLatestIndexDailyValuesXML">
      <http:operation location="/GetLatestIndexDailyValuesXML" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetIndexDailyValue">
      <http:operation location="/GetIndexDailyValue" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLatestIndexDailyValue">
      <http:operation location="/GetLatestIndexDailyValue" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLatestIndexValue">
      <http:operation location="/GetLatestIndexValue" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetIndexValue">
      <http:operation location="/GetIndexValue" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetIndexValuesByDateTimeXML">
      <http:operation location="/GetIndexValuesByDateTimeXML" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="StockQuotes">
    <documentation>WebService provides stock exchange information.</documentation>
    <port name="StockQuotesSoap" binding="s0:StockQuotesSoap">
      <soap:address location="http://www.gama-system.com/webservices/stockquotes.asmx" />
    </port>
    <port name="StockQuotesHttpGet" binding="s0:StockQuotesHttpGet">
      <http:address location="http://www.gama-system.com/webservices/stockquotes.asmx" />
    </port>
    <port name="StockQuotesHttpPost" binding="s0:StockQuotesHttpPost">
      <http:address location="http://www.gama-system.com/webservices/stockquotes.asmx" />
    </port>
  </service>
</definitions>