WebServiceDataset/unlabelled/service279.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://frameWERKS.com/WebServices/fWArticleService/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://frameWERKS.com/WebServices/fWArticleService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://frameWERKS.com/WebServices/fWArticleService/">
      <s:element name="GetArticles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lMaxNumberReturned" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticlesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetArticlesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetArticlesSoapIn">
    <part name="parameters" element="s0:GetArticles" />
  </message>
  <message name="GetArticlesSoapOut">
    <part name="parameters" element="s0:GetArticlesResponse" />
  </message>
  <portType name="fWArticleServiceSoap">
    <operation name="GetArticles">
      <documentation>Function will return a user determined number of technical articles as a collection of properties</documentation>
      <input message="s0:GetArticlesSoapIn" />
      <output message="s0:GetArticlesSoapOut" />
    </operation>
  </portType>
  <binding name="fWArticleServiceSoap" type="s0:fWArticleServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetArticles">
      <soap:operation soapAction="http://frameWERKS.com/WebServices/fWArticleService/GetArticles" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="fWArticleService">
    <port name="fWArticleServiceSoap" binding="s0:fWArticleServiceSoap">
      <soap:address location="http://www.framewerks.com/WebServices/fWArticleService/fwArticles.asmx" />
    </port>
  </service>
</definitions>