WebServiceDataset/unlabelled/service73.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IACHSOAPservice" targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="urn:ACHSOAPIntf">
  <types>
    <xs:schema targetNamespace="urn:ACHSOAPIntf" xmlns="urn:ACHSOAPIntf">
      <xs:complexType name="CompanyInfo">
        <xs:sequence>
          <xs:element name="LocID" type="xs:string"/>
          <xs:element name="Company" type="xs:string"/>
          <xs:element name="CompanyKey" type="xs:string"/>
          <xs:element name="Email" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfString">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="xs:string[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="ConnectionCheck0Request">
    <part name="LocID" type="xs:string"/>
    <part name="Company" type="xs:string"/>
    <part name="CompanyKey" type="xs:string"/>
  </message>
  <message name="ConnectionCheck0Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="SendACH1Request">
    <part name="LocID" type="xs:string"/>
    <part name="Company" type="xs:string"/>
    <part name="CompanyKey" type="xs:string"/>
    <part name="CheckNo" type="xs:string"/>
    <part name="BTRN" type="xs:string"/>
    <part name="CheckDate" type="xs:string"/>
    <part name="SendDate" type="xs:string"/>
    <part name="NSFMax" type="xs:string"/>
    <part name="NSFFee" type="xs:string"/>
    <part name="TrackingID" type="xs:string"/>
    <part name="Amount" type="xs:string"/>
    <part name="EmailCostumer" type="xs:string"/>
    <part name="EmailMerchant" type="xs:string"/>
    <part name="FirstName" type="xs:string"/>
    <part name="LastName" type="xs:string"/>
    <part name="Address1" type="xs:string"/>
    <part name="Address2" type="xs:string"/>
    <part name="City" type="xs:string"/>
    <part name="State" type="xs:string"/>
    <part name="Zip" type="xs:string"/>
    <part name="SSN" type="xs:string"/>
    <part name="HomePhone" type="xs:string"/>
    <part name="OfficePhone" type="xs:string"/>
    <part name="AcctNo" type="xs:string"/>
    <part name="TransactionCode" type="xs:string"/>
    <part name="CustTransType" type="xs:string"/>
    <part name="AccountType" type="xs:string"/>
    <part name="Memo" type="xs:string"/>
    <part name="OpCode" type="xs:string"/>
    <part name="AcctSet" type="xs:string"/>
    <part name="Payee" type="xs:string"/>
  </message>
  <message name="SendACH1Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="SendBatchACH2Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpBatchACHRec" type="ns1:ArrayOfString"/>
  </message>
  <message name="SendBatchACH2Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GetACHStatus3Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
  </message>
  <message name="GetACHStatus3Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="GetACHStatusHistory4Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="DateFrom" type="xs:string"/>
    <part name="DateTo" type="xs:string"/>
  </message>
  <message name="GetACHStatusHistory4Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="SendFedFile5Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpFedFile" type="ns1:ArrayOfString"/>
  </message>
  <message name="SendFedFile5Response">
    <part name="return" type="xs:string"/>
  </message>
  <portType name="IACHSOAP">
    <operation name="ConnectionCheck">
      <input message="tns:ConnectionCheck0Request"/>
      <output message="tns:ConnectionCheck0Response"/>
    </operation>
    <operation name="SendACH">
      <input message="tns:SendACH1Request"/>
      <output message="tns:SendACH1Response"/>
    </operation>
    <operation name="SendBatchACH">
      <input message="tns:SendBatchACH2Request"/>
      <output message="tns:SendBatchACH2Response"/>
    </operation>
    <operation name="GetACHStatus">
      <input message="tns:GetACHStatus3Request"/>
      <output message="tns:GetACHStatus3Response"/>
    </operation>
    <operation name="GetACHStatusHistory">
      <input message="tns:GetACHStatusHistory4Request"/>
      <output message="tns:GetACHStatusHistory4Response"/>
    </operation>
    <operation name="SendFedFile">
      <input message="tns:SendFedFile5Request"/>
      <output message="tns:SendFedFile5Response"/>
    </operation>
  </portType>
  <binding name="IACHSOAPbinding" type="tns:IACHSOAP">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ConnectionCheck">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#ConnectionCheck" style="rpc"/>
      <input message="tns:ConnectionCheck0Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:ConnectionCheck0Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="SendACH">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACH" style="rpc"/>
      <input message="tns:SendACH1Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:SendACH1Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="SendBatchACH">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendBatchACH" style="rpc"/>
      <input message="tns:SendBatchACH2Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:SendBatchACH2Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetACHStatus">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHStatus" style="rpc"/>
      <input message="tns:GetACHStatus3Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetACHStatus3Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetACHStatusHistory">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHStatusHistory" style="rpc"/>
      <input message="tns:GetACHStatusHistory4Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetACHStatusHistory4Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="SendFedFile">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendFedFile" style="rpc"/>
      <input message="tns:SendFedFile5Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:SendFedFile5Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
  </binding>
  <service name="IACHSOAPservice">
    <port name="IACHSOAPPort" binding="tns:IACHSOAPbinding">
      <soap:address location="http://soap.achchex.com/exec/achsoap.dll/soap/IACHSOAP"/>
    </port>
  </service>
</definitions>

