WebServiceDataset/unlabelled/service257.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.inter-data.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.inter-data.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.inter-data.com">
      <s:element name="CalcEuroOptionPriceCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StockPrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="ExercisePrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="RiskFreeRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Sigma" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="DividendTimesList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DividendAmountsList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcEuroOptionPriceCallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcEuroOptionPriceCallResult" type="s0:CalcResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CalcResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Delta" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Gamma" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Vega" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Theta" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Rho" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalcEuroOptionPricePut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StockPrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="ExercisePrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="RiskFreeRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Sigma" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="DividendTimesList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DividendAmountsList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcEuroOptionPricePutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcEuroOptionPricePutResult" type="s0:CalcResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcAmericanOptionPriceCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StockPrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="ExercisePrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="RiskFreeRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Sigma" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="DividendTimesList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DividendAmountsList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcAmericanOptionPriceCallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcAmericanOptionPriceCallResult" type="s0:CalcResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcAmericanOptionPricePut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StockPrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="ExercisePrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="RiskFreeRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Sigma" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="DividendTimesList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DividendAmountsList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcAmericanOptionPricePutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcAmericanOptionPricePutResult" type="s0:CalcResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcResult" nillable="true" type="s0:CalcResult" />
    </s:schema>
  </types>
  <message name="CalcEuroOptionPriceCallSoapIn">
    <part name="parameters" element="s0:CalcEuroOptionPriceCall" />
  </message>
  <message name="CalcEuroOptionPriceCallSoapOut">
    <part name="parameters" element="s0:CalcEuroOptionPriceCallResponse" />
  </message>
  <message name="CalcEuroOptionPricePutSoapIn">
    <part name="parameters" element="s0:CalcEuroOptionPricePut" />
  </message>
  <message name="CalcEuroOptionPricePutSoapOut">
    <part name="parameters" element="s0:CalcEuroOptionPricePutResponse" />
  </message>
  <message name="CalcAmericanOptionPriceCallSoapIn">
    <part name="parameters" element="s0:CalcAmericanOptionPriceCall" />
  </message>
  <message name="CalcAmericanOptionPriceCallSoapOut">
    <part name="parameters" element="s0:CalcAmericanOptionPriceCallResponse" />
  </message>
  <message name="CalcAmericanOptionPricePutSoapIn">
    <part name="parameters" element="s0:CalcAmericanOptionPricePut" />
  </message>
  <message name="CalcAmericanOptionPricePutSoapOut">
    <part name="parameters" element="s0:CalcAmericanOptionPricePutResponse" />
  </message>
  <message name="CalcEuroOptionPriceCallHttpGetIn">
    <part name="StockPrice" type="s:string" />
    <part name="ExercisePrice" type="s:string" />
    <part name="RiskFreeRate" type="s:string" />
    <part name="Sigma" type="s:string" />
    <part name="Time" type="s:string" />
    <part name="DividendTimesList" type="s:string" />
    <part name="DividendAmountsList" type="s:string" />
  </message>
  <message name="CalcEuroOptionPriceCallHttpGetOut">
    <part name="Body" element="s0:CalcResult" />
  </message>
  <message name="CalcEuroOptionPricePutHttpGetIn">
    <part name="StockPrice" type="s:string" />
    <part name="ExercisePrice" type="s:string" />
    <part name="RiskFreeRate" type="s:string" />
    <part name="Sigma" type="s:string" />
    <part name="Time" type="s:string" />
    <part name="DividendTimesList" type="s:string" />
    <part name="DividendAmountsList" type="s:string" />
  </message>
  <message name="CalcEuroOptionPricePutHttpGetOut">
    <part name="Body" element="s0:CalcResult" />
  </message>
  <message name="CalcAmericanOptionPriceCallHttpGetIn">
    <part name="StockPrice" type="s:string" />
    <part name="ExercisePrice" type="s:string" />
    <part name="RiskFreeRate" type="s:string" />
    <part name="Sigma" type="s:string" />
    <part name="Time" type="s:string" />
    <part name="DividendTimesList" type="s:string" />
    <part name="DividendAmountsList" type="s:string" />
  </message>
  <message name="CalcAmericanOptionPriceCallHttpGetOut">
    <part name="Body" element="s0:CalcResult" />
  </message>
  <message name="CalcAmericanOptionPricePutHttpGetIn">
    <part name="StockPrice" type="s:string" />
    <part name="ExercisePrice" type="s:string" />
    <part name="RiskFreeRate" type="s:string" />
    <part name="Sigma" type="s:string" />
    <part name="Time" type="s:string" />
    <part name="DividendTimesList" type="s:string" />
    <part name="DividendAmountsList" type="s:string" />
  </message>
  <message name="CalcAmericanOptionPricePutHttpGetOut">
    <part name="Body" element="s0:CalcResult" />
  </message>
  <message name="CalcEuroOptionPriceCallHttpPostIn">
    <part name="StockPrice" type="s:string" />
    <part name="ExercisePrice" type="s:string" />
    <part name="RiskFreeRate" type="s:string" />
    <part name="Sigma" type="s:string" />
    <part name="Time" type="s:string" />
    <part name="DividendTimesList" type="s:string" />
    <part name="DividendAmountsList" type="s:string" />
  </message>
  <message name="CalcEuroOptionPriceCallHttpPostOut">
    <part name="Body" element="s0:CalcResult" />
  </message>
  <message name="CalcEuroOptionPricePutHttpPostIn">
    <part name="StockPrice" type="s:string" />
    <part name="ExercisePrice" type="s:string" />
    <part name="RiskFreeRate" type="s:string" />
    <part name="Sigma" type="s:string" />
    <part name="Time" type="s:string" />
    <part name="DividendTimesList" type="s:string" />
    <part name="DividendAmountsList" type="s:string" />
  </message>
  <message name="CalcEuroOptionPricePutHttpPostOut">
    <part name="Body" element="s0:CalcResult" />
  </message>
  <message name="CalcAmericanOptionPriceCallHttpPostIn">
    <part name="StockPrice" type="s:string" />
    <part name="ExercisePrice" type="s:string" />
    <part name="RiskFreeRate" type="s:string" />
    <part name="Sigma" type="s:string" />
    <part name="Time" type="s:string" />
    <part name="DividendTimesList" type="s:string" />
    <part name="DividendAmountsList" type="s:string" />
  </message>
  <message name="CalcAmericanOptionPriceCallHttpPostOut">
    <part name="Body" element="s0:CalcResult" />
  </message>
  <message name="CalcAmericanOptionPricePutHttpPostIn">
    <part name="StockPrice" type="s:string" />
    <part name="ExercisePrice" type="s:string" />
    <part name="RiskFreeRate" type="s:string" />
    <part name="Sigma" type="s:string" />
    <part name="Time" type="s:string" />
    <part name="DividendTimesList" type="s:string" />
    <part name="DividendAmountsList" type="s:string" />
  </message>
  <message name="CalcAmericanOptionPricePutHttpPostOut">
    <part name="Body" element="s0:CalcResult" />
  </message>
  <portType name="Option_x0020_Pricing_x0020_CalculatorSoap">
    <operation name="CalcEuroOptionPriceCall">
      <documentation>European Analytic Call Calculation</documentation>
      <input message="s0:CalcEuroOptionPriceCallSoapIn" />
      <output message="s0:CalcEuroOptionPriceCallSoapOut" />
    </operation>
    <operation name="CalcEuroOptionPricePut">
      <documentation>European Analytic Put Calculation</documentation>
      <input message="s0:CalcEuroOptionPricePutSoapIn" />
      <output message="s0:CalcEuroOptionPricePutSoapOut" />
    </operation>
    <operation name="CalcAmericanOptionPriceCall">
      <documentation>American Binomial Call Calculation</documentation>
      <input message="s0:CalcAmericanOptionPriceCallSoapIn" />
      <output message="s0:CalcAmericanOptionPriceCallSoapOut" />
    </operation>
    <operation name="CalcAmericanOptionPricePut">
      <documentation>American Binomial Put Calculation</documentation>
      <input message="s0:CalcAmericanOptionPricePutSoapIn" />
      <output message="s0:CalcAmericanOptionPricePutSoapOut" />
    </operation>
  </portType>
  <portType name="Option_x0020_Pricing_x0020_CalculatorHttpGet">
    <operation name="CalcEuroOptionPriceCall">
      <documentation>European Analytic Call Calculation</documentation>
      <input message="s0:CalcEuroOptionPriceCallHttpGetIn" />
      <output message="s0:CalcEuroOptionPriceCallHttpGetOut" />
    </operation>
    <operation name="CalcEuroOptionPricePut">
      <documentation>European Analytic Put Calculation</documentation>
      <input message="s0:CalcEuroOptionPricePutHttpGetIn" />
      <output message="s0:CalcEuroOptionPricePutHttpGetOut" />
    </operation>
    <operation name="CalcAmericanOptionPriceCall">
      <documentation>American Binomial Call Calculation</documentation>
      <input message="s0:CalcAmericanOptionPriceCallHttpGetIn" />
      <output message="s0:CalcAmericanOptionPriceCallHttpGetOut" />
    </operation>
    <operation name="CalcAmericanOptionPricePut">
      <documentation>American Binomial Put Calculation</documentation>
      <input message="s0:CalcAmericanOptionPricePutHttpGetIn" />
      <output message="s0:CalcAmericanOptionPricePutHttpGetOut" />
    </operation>
  </portType>
  <portType name="Option_x0020_Pricing_x0020_CalculatorHttpPost">
    <operation name="CalcEuroOptionPriceCall">
      <documentation>European Analytic Call Calculation</documentation>
      <input message="s0:CalcEuroOptionPriceCallHttpPostIn" />
      <output message="s0:CalcEuroOptionPriceCallHttpPostOut" />
    </operation>
    <operation name="CalcEuroOptionPricePut">
      <documentation>European Analytic Put Calculation</documentation>
      <input message="s0:CalcEuroOptionPricePutHttpPostIn" />
      <output message="s0:CalcEuroOptionPricePutHttpPostOut" />
    </operation>
    <operation name="CalcAmericanOptionPriceCall">
      <documentation>American Binomial Call Calculation</documentation>
      <input message="s0:CalcAmericanOptionPriceCallHttpPostIn" />
      <output message="s0:CalcAmericanOptionPriceCallHttpPostOut" />
    </operation>
    <operation name="CalcAmericanOptionPricePut">
      <documentation>American Binomial Put Calculation</documentation>
      <input message="s0:CalcAmericanOptionPricePutHttpPostIn" />
      <output message="s0:CalcAmericanOptionPricePutHttpPostOut" />
    </operation>
  </portType>
  <binding name="Option_x0020_Pricing_x0020_CalculatorSoap" type="s0:Option_x0020_Pricing_x0020_CalculatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="CalcEuroOptionPriceCall">
      <soap:operation soapAction="http://www.inter-data.com/CalcEuroOptionPriceCall" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CalcEuroOptionPricePut">
      <soap:operation soapAction="http://www.inter-data.com/CalcEuroOptionPricePut" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CalcAmericanOptionPriceCall">
      <soap:operation soapAction="http://www.inter-data.com/CalcAmericanOptionPriceCall" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CalcAmericanOptionPricePut">
      <soap:operation soapAction="http://www.inter-data.com/CalcAmericanOptionPricePut" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Option_x0020_Pricing_x0020_CalculatorHttpGet" type="s0:Option_x0020_Pricing_x0020_CalculatorHttpGet">
    <http:binding verb="GET" />
    <operation name="CalcEuroOptionPriceCall">
      <http:operation location="/CalcEuroOptionPriceCall" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CalcEuroOptionPricePut">
      <http:operation location="/CalcEuroOptionPricePut" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CalcAmericanOptionPriceCall">
      <http:operation location="/CalcAmericanOptionPriceCall" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CalcAmericanOptionPricePut">
      <http:operation location="/CalcAmericanOptionPricePut" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="Option_x0020_Pricing_x0020_CalculatorHttpPost" type="s0:Option_x0020_Pricing_x0020_CalculatorHttpPost">
    <http:binding verb="POST" />
    <operation name="CalcEuroOptionPriceCall">
      <http:operation location="/CalcEuroOptionPriceCall" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CalcEuroOptionPricePut">
      <http:operation location="/CalcEuroOptionPricePut" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CalcAmericanOptionPriceCall">
      <http:operation location="/CalcAmericanOptionPriceCall" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CalcAmericanOptionPricePut">
      <http:operation location="/CalcAmericanOptionPricePut" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Option_x0020_Pricing_x0020_Calculator">
    <documentation>This web service privide calculation for both American and European call and put options price. This include calculation of other hedging parameters such as Delta, Gamma, Vega, Theta and Rho.</documentation>
    <port name="Option_x0020_Pricing_x0020_CalculatorSoap" binding="s0:Option_x0020_Pricing_x0020_CalculatorSoap">
      <soap:address location="http://www.indobiz.com/OptionPricing.asmx" />
    </port>
    <port name="Option_x0020_Pricing_x0020_CalculatorHttpGet" binding="s0:Option_x0020_Pricing_x0020_CalculatorHttpGet">
      <http:address location="http://www.indobiz.com/OptionPricing.asmx" />
    </port>
    <port name="Option_x0020_Pricing_x0020_CalculatorHttpPost" binding="s0:Option_x0020_Pricing_x0020_CalculatorHttpPost">
      <http:address location="http://www.indobiz.com/OptionPricing.asmx" />
    </port>
  </service>
</definitions>