WebServiceDataset/unlabelled/service116.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/"><wsdl:types><schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.xml.coldfusion"><import namespace="http://schemas.xmlsoap.org/soap/encoding/"/><complexType name="CFCInvocationException"><sequence/></complexType><element name="CFCInvocationException" nillable="true" type="tns1:CFCInvocationException"/></schema></wsdl:types>
  <wsdl:message name="makepasswordResponse">
    <wsdl:part name="makepasswordReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="CFCInvocationException">
    <wsdl:part name="fault" type="tns1:CFCInvocationException"/>
  </wsdl:message>
  <wsdl:message name="hashmeResponse">
    <wsdl:part name="hashmeReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="hashmeRequest">
    <wsdl:part name="input" type="xsd:string"/>
    <wsdl:part name="username" type="xsd:string"/>
    <wsdl:part name="password" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="makepasswordRequest">
    <wsdl:part name="characters" type="xsd:string"/>
    <wsdl:part name="username" type="xsd:string"/>
    <wsdl:part name="password" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="password">
    <wsdl:operation name="hashme" parameterOrder="input username password">
      <wsdl:input name="hashmeRequest" message="impl:hashmeRequest"/>
      <wsdl:output name="hashmeResponse" message="impl:hashmeResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
    <wsdl:operation name="makepassword" parameterOrder="characters username password">
      <wsdl:input name="makepasswordRequest" message="impl:makepasswordRequest"/>
      <wsdl:output name="makepasswordResponse" message="impl:makepasswordResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="password.cfcSoapBinding" type="impl:password">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hashme">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="hashmeRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:input>
      <wsdl:output name="hashmeResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makepassword">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="makepasswordRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:input>
      <wsdl:output name="makepasswordResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="passwordService">
    <wsdl:port name="password.cfc" binding="impl:password.cfcSoapBinding">
      <wsdlsoap:address location="http://www.tinetics.com/webservices/password.cfc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>