WebServiceDataset/unlabelled/service275.wsdl

<?xml version='1.0' encoding='UTF-8' ?> 
 <!-- Generated 04/10/02 by Microsoft SOAP Toolkit WSDL File Generator, Version 1.02.813.0 --> 
<definitions  name ='xmlserver'   targetNamespace = 'http://tempuri.org/wsdl/'
	 xmlns:wsdlns='http://tempuri.org/wsdl/' 
	 xmlns:typens='http://tempuri.org/type' 
	 xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
	 xmlns:xsd='http://www.w3.org/2001/XMLSchema' 
	 xmlns:stk='http://schemas.microsoft.com/soap-toolkit/wsdl-extension'
	 xmlns='http://schemas.xmlsoap.org/wsdl/'> 
  <types>
    <schema targetNamespace='http://tempuri.org/type'
      xmlns='http://www.w3.org/2001/XMLSchema'
      xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
      xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
      elementFormDefault='qualified'>
    </schema>
  </types>
  <message name='SMSServer.SendFlashSMS'>
    <part name='ClientSerialNo' type='xsd:string'/>
    <part name='txtSMSKey' type='xsd:string'/>
    <part name='strReceipients' type='xsd:string'/>
    <part name='strSenderName' type='xsd:string'/>
    <part name='txtMsg' type='xsd:string'/>
  </message>
  <message name='SMSServer.SendFlashSMSResponse'>
    <part name='Result' type='xsd:int'/>
  </message>
  <message name='SMSServer.GetListNames'>
    <part name='ClientSerialNo' type='xsd:string'/>
    <part name='txtSMSKey' type='xsd:string'/>
    <part name='strPhoneBook' type='xsd:string'/>
  </message>
  <message name='SMSServer.GetListNamesResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='strPhoneBook' type='xsd:string'/>
  </message>
  <message name='SMSServer.GetListEntries'>
    <part name='ClientSerialNo' type='xsd:string'/>
    <part name='txtSMSKey' type='xsd:string'/>
    <part name='mListID' type='xsd:string'/>
    <part name='strListEntries' type='xsd:string'/>
  </message>
  <message name='SMSServer.GetListEntriesResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='strListEntries' type='xsd:string'/>
  </message>
  <message name='SMSServer.GetLicenseInformation'>
    <part name='txtSMSKey' type='xsd:string'/>
    <part name='ProductID' type='xsd:int'/>
    <part name='strLicenseInfo' type='xsd:string'/>
  </message>
  <message name='SMSServer.GetLicenseInformationResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='strLicenseInfo' type='xsd:string'/>
  </message>
  <message name='SMSServer.EnterSchedule'>
    <part name='txtSMSKey' type='xsd:string'/>
    <part name='strReceipients' type='xsd:string'/>
    <part name='strMessage' type='xsd:string'/>
    <part name='strTime' type='xsd:string'/>
    <part name='strRefTime' type='xsd:string'/>
  </message>
  <message name='SMSServer.EnterScheduleResponse'>
    <part name='Result' type='xsd:int'/>
  </message>
  <message name='SMSServer.GetIncomingMessage'>
    <part name='ClientSerialNo' type='xsd:string'/>
    <part name='txtSMSKey' type='xsd:string'/>
    <part name='strReceipients' type='xsd:string'/>
    <part name='varCampaign' type='xsd:string'/>
    <part name='varContent' type='xsd:string'/>
    <part name='varTimeStamp' type='xsd:string'/>
    <part name='varOutNumReplies' type='xsd:string'/>
    <part name='varOutSender' type='xsd:string'/>
  </message>
  <message name='SMSServer.GetIncomingMessageResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='varContent' type='xsd:string'/>
    <part name='varTimeStamp' type='xsd:string'/>
    <part name='varOutNumReplies' type='xsd:string'/>
    <part name='varOutSender' type='xsd:string'/>
  </message>
  <message name='SMSServer.SendBookmark'>
    <part name='ClientSerialNo' type='xsd:string'/>
    <part name='txtSMSKey' type='xsd:string'/>
    <part name='strReceipients' type='xsd:string'/>
    <part name='strURL' type='xsd:string'/>
    <part name='MobileManufacturerID' type='xsd:int'/>
  </message>
  <message name='SMSServer.SendBookmarkResponse'>
    <part name='Result' type='xsd:int'/>
  </message>
  <message name='SMSServer.SendVCard'>
    <part name='ClientSerialNo' type='xsd:string'/>
    <part name='txtSMSKey' type='xsd:string'/>
    <part name='strReceipients' type='xsd:string'/>
    <part name='strFileName' type='xsd:string'/>
    <part name='fileInput' type='xsd:base64Binary'/>
    <part name='MobileManufacturerID' type='xsd:int'/>
  </message>
  <message name='SMSServer.SendVCardResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='fileInput' type='xsd:base64Binary'/>
  </message>
  <message name='SMSServer.SendFAX'>
    <part name='ClientSerialNo' type='xsd:string'/>
    <part name='txtSMSKey' type='xsd:string'/>
    <part name='strReceipients' type='xsd:string'/>
    <part name='strFileName' type='xsd:string'/>
    <part name='fileInput' type='xsd:base64Binary'/>
  </message>
  <message name='SMSServer.SendFAXResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='fileInput' type='xsd:base64Binary'/>
  </message>
  <message name='SMSServer.SendOperatorLogo'>
    <part name='ClientSerialNo' type='xsd:string'/>
    <part name='txtSMSKey' type='xsd:string'/>
    <part name='strReceipients' type='xsd:string'/>
    <part name='strFileName' type='xsd:string'/>
    <part name='fileInput' type='xsd:base64Binary'/>
    <part name='mNetWorkCode' type='xsd:string'/>
    <part name='MobileManufacturerID' type='xsd:int'/>
  </message>
  <message name='SMSServer.SendOperatorLogoResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='fileInput' type='xsd:base64Binary'/>
  </message>
  <message name='SMSServer.SendPicture'>
    <part name='ClientSerialNo' type='xsd:string'/>
    <part name='txtSMSKey' type='xsd:string'/>
    <part name='strReceipients' type='xsd:string'/>
    <part name='msgText' type='xsd:string'/>
    <part name='strFileName' type='xsd:string'/>
    <part name='fileInput' type='xsd:base64Binary'/>
    <part name='MobileManufacturerID' type='xsd:int'/>
  </message>
  <message name='SMSServer.SendPictureResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='fileInput' type='xsd:base64Binary'/>
  </message>
  <message name='SMSServer.SendRingtone'>
    <part name='ClientSerialNo' type='xsd:string'/>
    <part name='txtSMSKey' type='xsd:string'/>
    <part name='strReceipients' type='xsd:string'/>
    <part name='strFileName' type='xsd:string'/>
    <part name='fileInput' type='xsd:base64Binary'/>
    <part name='MobileManufacturerID' type='xsd:int'/>
  </message>
  <message name='SMSServer.SendRingtoneResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='fileInput' type='xsd:base64Binary'/>
  </message>
  <message name='SMSServer.SendTextSMS'>
    <part name='ClientSerialNo' type='xsd:string'/>
    <part name='txtSMSKey' type='xsd:string'/>
    <part name='strReceipients' type='xsd:string'/>
    <part name='strSenderEmail' type='xsd:string'/>
    <part name='strSenderName' type='xsd:string'/>
    <part name='txtMsg' type='xsd:string'/>
    <part name='canReply' type='xsd:boolean'/>
  </message>
  <message name='SMSServer.SendTextSMSResponse'>
    <part name='Result' type='xsd:int'/>
  </message>
  <message name='SMSServer.GetCredits'>
    <part name='strSMSKey' type='xsd:string'/>
    <part name='iQuota' type='xsd:double'/>
  </message>
  <message name='SMSServer.GetCreditsResponse'>
    <part name='Result' type='xsd:int'/>
    <part name='iQuota' type='xsd:double'/>
  </message>
  <message name='SMSServer.RedWebServiceVersion'>
  </message>
  <message name='SMSServer.RedWebServiceVersionResponse'>
    <part name='Result' type='xsd:string'/>
  </message>
  <portType name='SMSServerSoapPort'>
    <operation name='SendFlashSMS' parameterOrder='ClientSerialNo txtSMSKey strReceipients strSenderName txtMsg'>
      <input message='wsdlns:SMSServer.SendFlashSMS' />
      <output message='wsdlns:SMSServer.SendFlashSMSResponse' />
    </operation>
    <operation name='GetListNames' parameterOrder='ClientSerialNo txtSMSKey strPhoneBook'>
      <input message='wsdlns:SMSServer.GetListNames' />
      <output message='wsdlns:SMSServer.GetListNamesResponse' />
    </operation>
    <operation name='GetListEntries' parameterOrder='ClientSerialNo txtSMSKey mListID strListEntries'>
      <input message='wsdlns:SMSServer.GetListEntries' />
      <output message='wsdlns:SMSServer.GetListEntriesResponse' />
    </operation>
    <operation name='GetLicenseInformation' parameterOrder='txtSMSKey ProductID strLicenseInfo'>
      <input message='wsdlns:SMSServer.GetLicenseInformation' />
      <output message='wsdlns:SMSServer.GetLicenseInformationResponse' />
    </operation>
    <operation name='EnterSchedule' parameterOrder='txtSMSKey strReceipients strMessage strTime strRefTime'>
      <input message='wsdlns:SMSServer.EnterSchedule' />
      <output message='wsdlns:SMSServer.EnterScheduleResponse' />
    </operation>
    <operation name='GetIncomingMessage' parameterOrder='ClientSerialNo txtSMSKey strReceipients varCampaign varContent varTimeStamp varOutNumReplies varOutSender'>
      <input message='wsdlns:SMSServer.GetIncomingMessage' />
      <output message='wsdlns:SMSServer.GetIncomingMessageResponse' />
    </operation>
    <operation name='SendBookmark' parameterOrder='ClientSerialNo txtSMSKey strReceipients strURL MobileManufacturerID'>
      <input message='wsdlns:SMSServer.SendBookmark' />
      <output message='wsdlns:SMSServer.SendBookmarkResponse' />
    </operation>
    <operation name='SendVCard' parameterOrder='ClientSerialNo txtSMSKey strReceipients strFileName fileInput MobileManufacturerID'>
      <input message='wsdlns:SMSServer.SendVCard' />
      <output message='wsdlns:SMSServer.SendVCardResponse' />
    </operation>
    <operation name='SendFAX' parameterOrder='ClientSerialNo txtSMSKey strReceipients strFileName fileInput'>
      <input message='wsdlns:SMSServer.SendFAX' />
      <output message='wsdlns:SMSServer.SendFAXResponse' />
    </operation>
    <operation name='SendOperatorLogo' parameterOrder='ClientSerialNo txtSMSKey strReceipients strFileName fileInput mNetWorkCode MobileManufacturerID'>
      <input message='wsdlns:SMSServer.SendOperatorLogo' />
      <output message='wsdlns:SMSServer.SendOperatorLogoResponse' />
    </operation>
    <operation name='SendPicture' parameterOrder='ClientSerialNo txtSMSKey strReceipients msgText strFileName fileInput MobileManufacturerID'>
      <input message='wsdlns:SMSServer.SendPicture' />
      <output message='wsdlns:SMSServer.SendPictureResponse' />
    </operation>
    <operation name='SendRingtone' parameterOrder='ClientSerialNo txtSMSKey strReceipients strFileName fileInput MobileManufacturerID'>
      <input message='wsdlns:SMSServer.SendRingtone' />
      <output message='wsdlns:SMSServer.SendRingtoneResponse' />
    </operation>
    <operation name='SendTextSMS' parameterOrder='ClientSerialNo txtSMSKey strReceipients strSenderEmail strSenderName txtMsg canReply'>
      <input message='wsdlns:SMSServer.SendTextSMS' />
      <output message='wsdlns:SMSServer.SendTextSMSResponse' />
    </operation>
    <operation name='GetCredits' parameterOrder='strSMSKey iQuota'>
      <input message='wsdlns:SMSServer.GetCredits' />
      <output message='wsdlns:SMSServer.GetCreditsResponse' />
    </operation>
    <operation name='RedWebServiceVersion' parameterOrder=''>
      <input message='wsdlns:SMSServer.RedWebServiceVersion' />
      <output message='wsdlns:SMSServer.RedWebServiceVersionResponse' />
    </operation>
  </portType>
  <binding name='SMSServerSoapBinding' type='wsdlns:SMSServerSoapPort' >
    <stk:binding preferredEncoding='UTF-8'/>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />
    <operation name='SendFlashSMS' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.SendFlashSMS' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='GetListNames' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.GetListNames' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='GetListEntries' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.GetListEntries' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='GetLicenseInformation' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.GetLicenseInformation' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='EnterSchedule' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.EnterSchedule' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='GetIncomingMessage' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.GetIncomingMessage' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='SendBookmark' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.SendBookmark' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='SendVCard' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.SendVCard' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='SendFAX' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.SendFAX' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='SendOperatorLogo' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.SendOperatorLogo' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='SendPicture' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.SendPicture' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='SendRingtone' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.SendRingtone' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='SendTextSMS' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.SendTextSMS' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='GetCredits' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.GetCredits' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='RedWebServiceVersion' >
      <soap:operation soapAction='http://tempuri.org/action/SMSServer.RedWebServiceVersion' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
  </binding>
  <service name='xmlserver' >
    <port name='SMSServerSoapPort' binding='wsdlns:SMSServerSoapBinding' >
      <soap:address location='http://xml.redcoal.net/smssoap/xmlserver.ASP' />
    </port>
  </service>
</definitions>
