WebServiceDataset/unlabelled/service176.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="toUniString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUniWord" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codepage" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="toUniStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="toUniStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="toUniStringSoapIn">
    <part name="parameters" element="s0:toUniString" />
  </message>
  <message name="toUniStringSoapOut">
    <part name="parameters" element="s0:toUniStringResponse" />
  </message>
  <portType name="unitextSoap">
    <operation name="toUniString">
      <documentation>This method get two parameters, the first is the string that need to convert and the other is the code page that need the result to be encoded on &lt;br&gt; &lt;A href='http://www.xceer.com/unicode/webform2.aspx'&gt; Click here to see example &lt;/A&gt;.</documentation>
      <input message="s0:toUniStringSoapIn" />
      <output message="s0:toUniStringSoapOut" />
    </operation>
  </portType>
  <binding name="unitextSoap" type="s0:unitextSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="toUniString">
      <soap:operation soapAction="http://tempuri.org/toUniString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="unitext">
    <documentation>This service is for convert the Unicode string to another encoding type </documentation>
    <port name="unitextSoap" binding="s0:unitextSoap">
      <soap:address location="http://www.xceer.com/unicode/unitext.asmx" />
    </port>
  </service>
</definitions>