WebServiceDataset/unlabelled/service295.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://esynaps.com/WebServices/eSynapsSearch" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://esynaps.com/WebServices/eSynapsSearch" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://esynaps.com/WebServices/eSynapsSearch">
      <s:element name="SearchESynaps">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="srchText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="limitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchESynapsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchESynapsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="SearchESynapsSoapIn">
    <part name="parameters" element="s0:SearchESynaps" />
  </message>
  <message name="SearchESynapsSoapOut">
    <part name="parameters" element="s0:SearchESynapsResponse" />
  </message>
  <portType name="eSynapsSerachSoap">
    <operation name="SearchESynaps">
      <input message="s0:SearchESynapsSoapIn" />
      <output message="s0:SearchESynapsSoapOut" />
    </operation>
  </portType>
  <binding name="eSynapsSerachSoap" type="s0:eSynapsSerachSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="SearchESynaps">
      <soap:operation soapAction="http://esynaps.com/WebServices/eSynapsSearch/SearchESynaps" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="eSynapsSerach">
    <port name="eSynapsSerachSoap" binding="s0:eSynapsSerachSoap">
      <soap:address location="http://www.esynaps.com/WebServices/eSynapsSearch.asmx" />
    </port>
  </service>
</definitions>