WebServiceDataset/unlabelled/service14.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/"><wsdl:types><schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.xml.coldfusion"><import namespace="http://schemas.xmlsoap.org/soap/encoding/"/><complexType name="CFCInvocationException"><sequence/></complexType><element name="CFCInvocationException" nillable="true" type="tns1:CFCInvocationException"/></schema></wsdl:types>
  <wsdl:message name="CFCInvocationException">
    <wsdl:part name="fault" type="tns1:CFCInvocationException"/>
  </wsdl:message>
  <wsdl:message name="GetCatInfoResponse">
    <wsdl:part name="GetCatInfoReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="GetCatInfoRequest">
    <wsdl:part name="key" type="xsd:string"/>
    <wsdl:part name="path" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="GetTopInfoResponse">
    <wsdl:part name="GetTopInfoReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="GetTopInfoRequest">
    <wsdl:part name="key" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="odp">
    <wsdl:operation name="GetTopInfo" parameterOrder="key">
      <wsdl:input name="GetTopInfoRequest" message="impl:GetTopInfoRequest"/>
      <wsdl:output name="GetTopInfoResponse" message="impl:GetTopInfoResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
    <wsdl:operation name="GetCatInfo" parameterOrder="key path">
      <wsdl:input name="GetCatInfoRequest" message="impl:GetCatInfoRequest"/>
      <wsdl:output name="GetCatInfoResponse" message="impl:GetCatInfoResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="odp.cfcSoapBinding" type="impl:odp">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetTopInfo">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="GetTopInfoRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
      </wsdl:input>
      <wsdl:output name="GetTopInfoResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatInfo">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="GetCatInfoRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
      </wsdl:input>
      <wsdl:output name="GetCatInfoResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="odpService">
    <wsdl:port name="odp.cfc" binding="impl:odp.cfcSoapBinding">
      <wsdlsoap:address location="http://wsdl.wsdlfeeds.com/odp.cfc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>