WebServiceDataset/unlabelled/service119.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/"><wsdl:types><schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.xml.coldfusion"><import namespace="http://schemas.xmlsoap.org/soap/encoding/"/><complexType name="CFCInvocationException"><sequence/></complexType><element name="CFCInvocationException" nillable="true" type="tns1:CFCInvocationException"/></schema></wsdl:types>
  <wsdl:message name="CFCInvocationException">
    <wsdl:part name="fault" type="tns1:CFCInvocationException"/>
  </wsdl:message>
  <wsdl:message name="usernameResponse">
    <wsdl:part name="usernameReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="domainRequest">
    <wsdl:part name="input" type="xsd:string"/>
    <wsdl:part name="username" type="xsd:string"/>
    <wsdl:part name="password" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="stripResponse">
    <wsdl:part name="stripReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="usernameRequest">
    <wsdl:part name="input" type="xsd:string"/>
    <wsdl:part name="username" type="xsd:string"/>
    <wsdl:part name="password" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="domainResponse">
    <wsdl:part name="domainReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="stripRequest">
    <wsdl:part name="input" type="xsd:string"/>
    <wsdl:part name="username" type="xsd:string"/>
    <wsdl:part name="password" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="email_utils">
    <wsdl:operation name="domain" parameterOrder="input username password">
      <wsdl:input name="domainRequest" message="impl:domainRequest"/>
      <wsdl:output name="domainResponse" message="impl:domainResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
    <wsdl:operation name="strip" parameterOrder="input username password">
      <wsdl:input name="stripRequest" message="impl:stripRequest"/>
      <wsdl:output name="stripResponse" message="impl:stripResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
    <wsdl:operation name="username" parameterOrder="input username password">
      <wsdl:input name="usernameRequest" message="impl:usernameRequest"/>
      <wsdl:output name="usernameResponse" message="impl:usernameResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="email_utils.cfcSoapBinding" type="impl:email_utils">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="domain">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="domainRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:input>
      <wsdl:output name="domainResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="strip">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="stripRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:input>
      <wsdl:output name="stripResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="username">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="usernameRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:input>
      <wsdl:output name="usernameResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="email_utilsService">
    <wsdl:port name="email_utils.cfc" binding="impl:email_utils.cfcSoapBinding">
      <wsdlsoap:address location="http://www.tinetics.com/webservices/email_utils.cfc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>