WebServiceDataset/unlabelled/service90.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetICD9Level1">
        <s:complexType />
      </s:element>
      <s:element name="GetICD9Level1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetICD9Level1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetICD9Level2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ICD9Level1ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetICD9Level2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetICD9Level2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetICD9Level3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromICDCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toICDCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetICD9Level3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetICD9Level3Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetICD9Level4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ICDCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetICD9Level4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetICD9Level4Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetICD9ByDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ICDDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetICD9ByDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetICD9ByDescriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="GetICD9Level1SoapIn">
    <part name="parameters" element="s0:GetICD9Level1" />
  </message>
  <message name="GetICD9Level1SoapOut">
    <part name="parameters" element="s0:GetICD9Level1Response" />
  </message>
  <message name="GetICD9Level2SoapIn">
    <part name="parameters" element="s0:GetICD9Level2" />
  </message>
  <message name="GetICD9Level2SoapOut">
    <part name="parameters" element="s0:GetICD9Level2Response" />
  </message>
  <message name="GetICD9Level3SoapIn">
    <part name="parameters" element="s0:GetICD9Level3" />
  </message>
  <message name="GetICD9Level3SoapOut">
    <part name="parameters" element="s0:GetICD9Level3Response" />
  </message>
  <message name="GetICD9Level4SoapIn">
    <part name="parameters" element="s0:GetICD9Level4" />
  </message>
  <message name="GetICD9Level4SoapOut">
    <part name="parameters" element="s0:GetICD9Level4Response" />
  </message>
  <message name="GetICD9ByDescriptionSoapIn">
    <part name="parameters" element="s0:GetICD9ByDescription" />
  </message>
  <message name="GetICD9ByDescriptionSoapOut">
    <part name="parameters" element="s0:GetICD9ByDescriptionResponse" />
  </message>
  <message name="GetICD9Level1HttpGetIn" />
  <message name="GetICD9Level1HttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetICD9Level2HttpGetIn">
    <part name="ICD9Level1ID" type="s:string" />
  </message>
  <message name="GetICD9Level2HttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetICD9Level3HttpGetIn">
    <part name="fromICDCode" type="s:string" />
    <part name="toICDCode" type="s:string" />
  </message>
  <message name="GetICD9Level3HttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetICD9Level4HttpGetIn">
    <part name="ICDCode" type="s:string" />
  </message>
  <message name="GetICD9Level4HttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetICD9ByDescriptionHttpGetIn">
    <part name="ICDDescription" type="s:string" />
  </message>
  <message name="GetICD9ByDescriptionHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetICD9Level1HttpPostIn" />
  <message name="GetICD9Level1HttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetICD9Level2HttpPostIn">
    <part name="ICD9Level1ID" type="s:string" />
  </message>
  <message name="GetICD9Level2HttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetICD9Level3HttpPostIn">
    <part name="fromICDCode" type="s:string" />
    <part name="toICDCode" type="s:string" />
  </message>
  <message name="GetICD9Level3HttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetICD9Level4HttpPostIn">
    <part name="ICDCode" type="s:string" />
  </message>
  <message name="GetICD9Level4HttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetICD9ByDescriptionHttpPostIn">
    <part name="ICDDescription" type="s:string" />
  </message>
  <message name="GetICD9ByDescriptionHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="ICD9Soap">
    <operation name="GetICD9Level1">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES-Level 1</documentation>
      <input message="s0:GetICD9Level1SoapIn" />
      <output message="s0:GetICD9Level1SoapOut" />
    </operation>
    <operation name="GetICD9Level2">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES - Level2 </documentation>
      <input message="s0:GetICD9Level2SoapIn" />
      <output message="s0:GetICD9Level2SoapOut" />
    </operation>
    <operation name="GetICD9Level3">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES - Level3 </documentation>
      <input message="s0:GetICD9Level3SoapIn" />
      <output message="s0:GetICD9Level3SoapOut" />
    </operation>
    <operation name="GetICD9Level4">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES - Level4</documentation>
      <input message="s0:GetICD9Level4SoapIn" />
      <output message="s0:GetICD9Level4SoapOut" />
    </operation>
    <operation name="GetICD9ByDescription">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES by Description</documentation>
      <input message="s0:GetICD9ByDescriptionSoapIn" />
      <output message="s0:GetICD9ByDescriptionSoapOut" />
    </operation>
  </portType>
  <portType name="ICD9HttpGet">
    <operation name="GetICD9Level1">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES-Level 1</documentation>
      <input message="s0:GetICD9Level1HttpGetIn" />
      <output message="s0:GetICD9Level1HttpGetOut" />
    </operation>
    <operation name="GetICD9Level2">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES - Level2 </documentation>
      <input message="s0:GetICD9Level2HttpGetIn" />
      <output message="s0:GetICD9Level2HttpGetOut" />
    </operation>
    <operation name="GetICD9Level3">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES - Level3 </documentation>
      <input message="s0:GetICD9Level3HttpGetIn" />
      <output message="s0:GetICD9Level3HttpGetOut" />
    </operation>
    <operation name="GetICD9Level4">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES - Level4</documentation>
      <input message="s0:GetICD9Level4HttpGetIn" />
      <output message="s0:GetICD9Level4HttpGetOut" />
    </operation>
    <operation name="GetICD9ByDescription">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES by Description</documentation>
      <input message="s0:GetICD9ByDescriptionHttpGetIn" />
      <output message="s0:GetICD9ByDescriptionHttpGetOut" />
    </operation>
  </portType>
  <portType name="ICD9HttpPost">
    <operation name="GetICD9Level1">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES-Level 1</documentation>
      <input message="s0:GetICD9Level1HttpPostIn" />
      <output message="s0:GetICD9Level1HttpPostOut" />
    </operation>
    <operation name="GetICD9Level2">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES - Level2 </documentation>
      <input message="s0:GetICD9Level2HttpPostIn" />
      <output message="s0:GetICD9Level2HttpPostOut" />
    </operation>
    <operation name="GetICD9Level3">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES - Level3 </documentation>
      <input message="s0:GetICD9Level3HttpPostIn" />
      <output message="s0:GetICD9Level3HttpPostOut" />
    </operation>
    <operation name="GetICD9Level4">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES - Level4</documentation>
      <input message="s0:GetICD9Level4HttpPostIn" />
      <output message="s0:GetICD9Level4HttpPostOut" />
    </operation>
    <operation name="GetICD9ByDescription">
      <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES by Description</documentation>
      <input message="s0:GetICD9ByDescriptionHttpPostIn" />
      <output message="s0:GetICD9ByDescriptionHttpPostOut" />
    </operation>
  </portType>
  <binding name="ICD9Soap" type="s0:ICD9Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetICD9Level1">
      <soap:operation soapAction="http://www.webserviceX.NET/GetICD9Level1" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetICD9Level2">
      <soap:operation soapAction="http://www.webserviceX.NET/GetICD9Level2" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetICD9Level3">
      <soap:operation soapAction="http://www.webserviceX.NET/GetICD9Level3" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetICD9Level4">
      <soap:operation soapAction="http://www.webserviceX.NET/GetICD9Level4" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetICD9ByDescription">
      <soap:operation soapAction="http://www.webserviceX.NET/GetICD9ByDescription" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ICD9HttpGet" type="s0:ICD9HttpGet">
    <http:binding verb="GET" />
    <operation name="GetICD9Level1">
      <http:operation location="/GetICD9Level1" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetICD9Level2">
      <http:operation location="/GetICD9Level2" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetICD9Level3">
      <http:operation location="/GetICD9Level3" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetICD9Level4">
      <http:operation location="/GetICD9Level4" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetICD9ByDescription">
      <http:operation location="/GetICD9ByDescription" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ICD9HttpPost" type="s0:ICD9HttpPost">
    <http:binding verb="POST" />
    <operation name="GetICD9Level1">
      <http:operation location="/GetICD9Level1" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetICD9Level2">
      <http:operation location="/GetICD9Level2" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetICD9Level3">
      <http:operation location="/GetICD9Level3" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetICD9Level4">
      <http:operation location="/GetICD9Level4" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetICD9ByDescription">
      <http:operation location="/GetICD9ByDescription" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="ICD9">
    <documentation>ICD-9-CM CLASSIFICATION OF DISEASES AND INJURIES&lt;br&gt;&lt;b&gt;Note:&lt;/b&gt;ICD 9 CM code format is 3 digit before degimal point.But this web service retun this code as integer .Please prefix with 0 and make as three character</documentation>
    <port name="ICD9Soap" binding="s0:ICD9Soap">
      <soap:address location="http://www.webservicex.net/icd9.asmx" />
    </port>
    <port name="ICD9HttpGet" binding="s0:ICD9HttpGet">
      <http:address location="http://www.webservicex.net/icd9.asmx" />
    </port>
    <port name="ICD9HttpPost" binding="s0:ICD9HttpPost">
      <http:address location="http://www.webservicex.net/icd9.asmx" />
    </port>
  </service>
</definitions>