WebServiceDataset/unlabelled/service57.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetUKLocationByCounty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUKLocationByCountyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUKLocationByCountyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUKLocationByTown">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUKLocationByTownResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUKLocationByTownResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUKLocationByPostCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUKLocationByPostCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUKLocationByPostCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUKAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUKAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateUKAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="GetUKLocationByCountySoapIn">
    <part name="parameters" element="s0:GetUKLocationByCounty" />
  </message>
  <message name="GetUKLocationByCountySoapOut">
    <part name="parameters" element="s0:GetUKLocationByCountyResponse" />
  </message>
  <message name="GetUKLocationByTownSoapIn">
    <part name="parameters" element="s0:GetUKLocationByTown" />
  </message>
  <message name="GetUKLocationByTownSoapOut">
    <part name="parameters" element="s0:GetUKLocationByTownResponse" />
  </message>
  <message name="GetUKLocationByPostCodeSoapIn">
    <part name="parameters" element="s0:GetUKLocationByPostCode" />
  </message>
  <message name="GetUKLocationByPostCodeSoapOut">
    <part name="parameters" element="s0:GetUKLocationByPostCodeResponse" />
  </message>
  <message name="ValidateUKAddressSoapIn">
    <part name="parameters" element="s0:ValidateUKAddress" />
  </message>
  <message name="ValidateUKAddressSoapOut">
    <part name="parameters" element="s0:ValidateUKAddressResponse" />
  </message>
  <message name="GetUKLocationByCountyHttpGetIn">
    <part name="County" type="s:string" />
  </message>
  <message name="GetUKLocationByCountyHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetUKLocationByTownHttpGetIn">
    <part name="Town" type="s:string" />
  </message>
  <message name="GetUKLocationByTownHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetUKLocationByPostCodeHttpGetIn">
    <part name="PostCode" type="s:string" />
  </message>
  <message name="GetUKLocationByPostCodeHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ValidateUKAddressHttpGetIn">
    <part name="Town" type="s:string" />
    <part name="County" type="s:string" />
    <part name="PostCode" type="s:string" />
  </message>
  <message name="ValidateUKAddressHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetUKLocationByCountyHttpPostIn">
    <part name="County" type="s:string" />
  </message>
  <message name="GetUKLocationByCountyHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetUKLocationByTownHttpPostIn">
    <part name="Town" type="s:string" />
  </message>
  <message name="GetUKLocationByTownHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetUKLocationByPostCodeHttpPostIn">
    <part name="PostCode" type="s:string" />
  </message>
  <message name="GetUKLocationByPostCodeHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ValidateUKAddressHttpPostIn">
    <part name="Town" type="s:string" />
    <part name="County" type="s:string" />
    <part name="PostCode" type="s:string" />
  </message>
  <message name="ValidateUKAddressHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="UKLocationSoap">
    <operation name="GetUKLocationByCounty">
      <documentation>Get UK town,Postcode and County by full /partial County</documentation>
      <input message="s0:GetUKLocationByCountySoapIn" />
      <output message="s0:GetUKLocationByCountySoapOut" />
    </operation>
    <operation name="GetUKLocationByTown">
      <documentation>Get UK town,Postcode and County by full /partial Town</documentation>
      <input message="s0:GetUKLocationByTownSoapIn" />
      <output message="s0:GetUKLocationByTownSoapOut" />
    </operation>
    <operation name="GetUKLocationByPostCode">
      <documentation>Get UK town,Postcode and County by Postcode(First Section of Post Code)</documentation>
      <input message="s0:GetUKLocationByPostCodeSoapIn" />
      <output message="s0:GetUKLocationByPostCodeSoapOut" />
    </operation>
    <operation name="ValidateUKAddress">
      <documentation>Validate UK address,Use First Section of Poscode for Postcode atribute</documentation>
      <input message="s0:ValidateUKAddressSoapIn" />
      <output message="s0:ValidateUKAddressSoapOut" />
    </operation>
  </portType>
  <portType name="UKLocationHttpGet">
    <operation name="GetUKLocationByCounty">
      <documentation>Get UK town,Postcode and County by full /partial County</documentation>
      <input message="s0:GetUKLocationByCountyHttpGetIn" />
      <output message="s0:GetUKLocationByCountyHttpGetOut" />
    </operation>
    <operation name="GetUKLocationByTown">
      <documentation>Get UK town,Postcode and County by full /partial Town</documentation>
      <input message="s0:GetUKLocationByTownHttpGetIn" />
      <output message="s0:GetUKLocationByTownHttpGetOut" />
    </operation>
    <operation name="GetUKLocationByPostCode">
      <documentation>Get UK town,Postcode and County by Postcode(First Section of Post Code)</documentation>
      <input message="s0:GetUKLocationByPostCodeHttpGetIn" />
      <output message="s0:GetUKLocationByPostCodeHttpGetOut" />
    </operation>
    <operation name="ValidateUKAddress">
      <documentation>Validate UK address,Use First Section of Poscode for Postcode atribute</documentation>
      <input message="s0:ValidateUKAddressHttpGetIn" />
      <output message="s0:ValidateUKAddressHttpGetOut" />
    </operation>
  </portType>
  <portType name="UKLocationHttpPost">
    <operation name="GetUKLocationByCounty">
      <documentation>Get UK town,Postcode and County by full /partial County</documentation>
      <input message="s0:GetUKLocationByCountyHttpPostIn" />
      <output message="s0:GetUKLocationByCountyHttpPostOut" />
    </operation>
    <operation name="GetUKLocationByTown">
      <documentation>Get UK town,Postcode and County by full /partial Town</documentation>
      <input message="s0:GetUKLocationByTownHttpPostIn" />
      <output message="s0:GetUKLocationByTownHttpPostOut" />
    </operation>
    <operation name="GetUKLocationByPostCode">
      <documentation>Get UK town,Postcode and County by Postcode(First Section of Post Code)</documentation>
      <input message="s0:GetUKLocationByPostCodeHttpPostIn" />
      <output message="s0:GetUKLocationByPostCodeHttpPostOut" />
    </operation>
    <operation name="ValidateUKAddress">
      <documentation>Validate UK address,Use First Section of Poscode for Postcode atribute</documentation>
      <input message="s0:ValidateUKAddressHttpPostIn" />
      <output message="s0:ValidateUKAddressHttpPostOut" />
    </operation>
  </portType>
  <binding name="UKLocationSoap" type="s0:UKLocationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetUKLocationByCounty">
      <soap:operation soapAction="http://www.webserviceX.NET/GetUKLocationByCounty" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUKLocationByTown">
      <soap:operation soapAction="http://www.webserviceX.NET/GetUKLocationByTown" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUKLocationByPostCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetUKLocationByPostCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidateUKAddress">
      <soap:operation soapAction="http://www.webserviceX.NET/ValidateUKAddress" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="UKLocationHttpGet" type="s0:UKLocationHttpGet">
    <http:binding verb="GET" />
    <operation name="GetUKLocationByCounty">
      <http:operation location="/GetUKLocationByCounty" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetUKLocationByTown">
      <http:operation location="/GetUKLocationByTown" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetUKLocationByPostCode">
      <http:operation location="/GetUKLocationByPostCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ValidateUKAddress">
      <http:operation location="/ValidateUKAddress" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="UKLocationHttpPost" type="s0:UKLocationHttpPost">
    <http:binding verb="POST" />
    <operation name="GetUKLocationByCounty">
      <http:operation location="/GetUKLocationByCounty" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetUKLocationByTown">
      <http:operation location="/GetUKLocationByTown" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetUKLocationByPostCode">
      <http:operation location="/GetUKLocationByPostCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ValidateUKAddress">
      <http:operation location="/ValidateUKAddress" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="UKLocation">
    <documentation>Get UK Postcode,Town,County and Validate UK Address</documentation>
    <port name="UKLocationSoap" binding="s0:UKLocationSoap">
      <soap:address location="http://www.webservicex.net/uklocation.asmx" />
    </port>
    <port name="UKLocationHttpGet" binding="s0:UKLocationHttpGet">
      <http:address location="http://www.webservicex.net/uklocation.asmx" />
    </port>
    <port name="UKLocationHttpPost" binding="s0:UKLocationHttpPost">
      <http:address location="http://www.webservicex.net/uklocation.asmx" />
    </port>
  </service>
</definitions>