WebServiceDataset/unlabelled/service86.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetHCPCSbyHCPCSCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HCPC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHCPCSbyHCPCSCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHCPCSbyHCPCSCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHCPCSbyHCPCSShortDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHCPCSbyHCPCSShortDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHCPCSbyHCPCSShortDescriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHCPCSbyHCPCSLongDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LongDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHCPCSbyHCPCSLongDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHCPCSbyHCPCSLongDescriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="GetHCPCSbyHCPCSCodeSoapIn">
    <part name="parameters" element="s0:GetHCPCSbyHCPCSCode" />
  </message>
  <message name="GetHCPCSbyHCPCSCodeSoapOut">
    <part name="parameters" element="s0:GetHCPCSbyHCPCSCodeResponse" />
  </message>
  <message name="GetHCPCSbyHCPCSShortDescriptionSoapIn">
    <part name="parameters" element="s0:GetHCPCSbyHCPCSShortDescription" />
  </message>
  <message name="GetHCPCSbyHCPCSShortDescriptionSoapOut">
    <part name="parameters" element="s0:GetHCPCSbyHCPCSShortDescriptionResponse" />
  </message>
  <message name="GetHCPCSbyHCPCSLongDescriptionSoapIn">
    <part name="parameters" element="s0:GetHCPCSbyHCPCSLongDescription" />
  </message>
  <message name="GetHCPCSbyHCPCSLongDescriptionSoapOut">
    <part name="parameters" element="s0:GetHCPCSbyHCPCSLongDescriptionResponse" />
  </message>
  <message name="GetHCPCSbyHCPCSCodeHttpGetIn">
    <part name="HCPC" type="s:string" />
  </message>
  <message name="GetHCPCSbyHCPCSCodeHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetHCPCSbyHCPCSShortDescriptionHttpGetIn">
    <part name="ShortDescription" type="s:string" />
  </message>
  <message name="GetHCPCSbyHCPCSShortDescriptionHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetHCPCSbyHCPCSLongDescriptionHttpGetIn">
    <part name="LongDescription" type="s:string" />
  </message>
  <message name="GetHCPCSbyHCPCSLongDescriptionHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetHCPCSbyHCPCSCodeHttpPostIn">
    <part name="HCPC" type="s:string" />
  </message>
  <message name="GetHCPCSbyHCPCSCodeHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetHCPCSbyHCPCSShortDescriptionHttpPostIn">
    <part name="ShortDescription" type="s:string" />
  </message>
  <message name="GetHCPCSbyHCPCSShortDescriptionHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetHCPCSbyHCPCSLongDescriptionHttpPostIn">
    <part name="LongDescription" type="s:string" />
  </message>
  <message name="GetHCPCSbyHCPCSLongDescriptionHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="HCPCSSoap">
    <operation name="GetHCPCSbyHCPCSCode">
      <documentation>This web service provide HCPC details by HCPC code </documentation>
      <input message="s0:GetHCPCSbyHCPCSCodeSoapIn" />
      <output message="s0:GetHCPCSbyHCPCSCodeSoapOut" />
    </operation>
    <operation name="GetHCPCSbyHCPCSShortDescription">
      <documentation>This web service provide HCPC details by HCPC Short description</documentation>
      <input message="s0:GetHCPCSbyHCPCSShortDescriptionSoapIn" />
      <output message="s0:GetHCPCSbyHCPCSShortDescriptionSoapOut" />
    </operation>
    <operation name="GetHCPCSbyHCPCSLongDescription">
      <documentation>This web service provide HCPC details by HCPC long description</documentation>
      <input message="s0:GetHCPCSbyHCPCSLongDescriptionSoapIn" />
      <output message="s0:GetHCPCSbyHCPCSLongDescriptionSoapOut" />
    </operation>
  </portType>
  <portType name="HCPCSHttpGet">
    <operation name="GetHCPCSbyHCPCSCode">
      <documentation>This web service provide HCPC details by HCPC code </documentation>
      <input message="s0:GetHCPCSbyHCPCSCodeHttpGetIn" />
      <output message="s0:GetHCPCSbyHCPCSCodeHttpGetOut" />
    </operation>
    <operation name="GetHCPCSbyHCPCSShortDescription">
      <documentation>This web service provide HCPC details by HCPC Short description</documentation>
      <input message="s0:GetHCPCSbyHCPCSShortDescriptionHttpGetIn" />
      <output message="s0:GetHCPCSbyHCPCSShortDescriptionHttpGetOut" />
    </operation>
    <operation name="GetHCPCSbyHCPCSLongDescription">
      <documentation>This web service provide HCPC details by HCPC long description</documentation>
      <input message="s0:GetHCPCSbyHCPCSLongDescriptionHttpGetIn" />
      <output message="s0:GetHCPCSbyHCPCSLongDescriptionHttpGetOut" />
    </operation>
  </portType>
  <portType name="HCPCSHttpPost">
    <operation name="GetHCPCSbyHCPCSCode">
      <documentation>This web service provide HCPC details by HCPC code </documentation>
      <input message="s0:GetHCPCSbyHCPCSCodeHttpPostIn" />
      <output message="s0:GetHCPCSbyHCPCSCodeHttpPostOut" />
    </operation>
    <operation name="GetHCPCSbyHCPCSShortDescription">
      <documentation>This web service provide HCPC details by HCPC Short description</documentation>
      <input message="s0:GetHCPCSbyHCPCSShortDescriptionHttpPostIn" />
      <output message="s0:GetHCPCSbyHCPCSShortDescriptionHttpPostOut" />
    </operation>
    <operation name="GetHCPCSbyHCPCSLongDescription">
      <documentation>This web service provide HCPC details by HCPC long description</documentation>
      <input message="s0:GetHCPCSbyHCPCSLongDescriptionHttpPostIn" />
      <output message="s0:GetHCPCSbyHCPCSLongDescriptionHttpPostOut" />
    </operation>
  </portType>
  <binding name="HCPCSSoap" type="s0:HCPCSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetHCPCSbyHCPCSCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetHCPCSbyHCPCSCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetHCPCSbyHCPCSShortDescription">
      <soap:operation soapAction="http://www.webserviceX.NET/GetHCPCSbyHCPCSShortDescription" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetHCPCSbyHCPCSLongDescription">
      <soap:operation soapAction="http://www.webserviceX.NET/GetHCPCSbyHCPCSLongDescription" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="HCPCSHttpGet" type="s0:HCPCSHttpGet">
    <http:binding verb="GET" />
    <operation name="GetHCPCSbyHCPCSCode">
      <http:operation location="/GetHCPCSbyHCPCSCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetHCPCSbyHCPCSShortDescription">
      <http:operation location="/GetHCPCSbyHCPCSShortDescription" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetHCPCSbyHCPCSLongDescription">
      <http:operation location="/GetHCPCSbyHCPCSLongDescription" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="HCPCSHttpPost" type="s0:HCPCSHttpPost">
    <http:binding verb="POST" />
    <operation name="GetHCPCSbyHCPCSCode">
      <http:operation location="/GetHCPCSbyHCPCSCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetHCPCSbyHCPCSShortDescription">
      <http:operation location="/GetHCPCSbyHCPCSShortDescription" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetHCPCSbyHCPCSLongDescription">
      <http:operation location="/GetHCPCSbyHCPCSLongDescription" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="HCPCS">
    <documentation>This web service contains the Level II alpha-numeric HCPCS procedure and modifier codes, their long and short descriptions, and applicable Medicare administrative, coverage, and pricing data. These codes, which are established by CMS Alpha-Numeric Editorial Panel, primarily represent items and supplies and nonphysician services not covered by the American Medical Association CPT-4 codes. This web service does not contain the American Medical Association CPT-4 codes.</documentation>
    <port name="HCPCSSoap" binding="s0:HCPCSSoap">
      <soap:address location="http://www.webservicex.net/hcpcs.asmx" />
    </port>
    <port name="HCPCSHttpGet" binding="s0:HCPCSHttpGet">
      <http:address location="http://www.webservicex.net/hcpcs.asmx" />
    </port>
    <port name="HCPCSHttpPost" binding="s0:HCPCSHttpPost">
      <http:address location="http://www.webservicex.net/hcpcs.asmx" />
    </port>
  </service>
</definitions>