WebServiceDataset/unlabelled/service296.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://RichSolutions.com/RichPayments/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://RichSolutions.com/RichPayments/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://RichSolutions.com/RichPayments/">
      <s:element name="ProcessCreditCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MagData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NameOnCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PNRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExtData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessCreditCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessCreditCardResult" type="s0:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GetCVResult" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GetCVResultTXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GetGetOrigResult" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GetCommercialCard" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkingKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyPointer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtData" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RespMSG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PNRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HostCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HostURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiptURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GetAVSResult" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GetAVSResultTXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GetStreetMatchTXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GetZipMatchTXT" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessDebitCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MagData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NameOnCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PNRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RegisterNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SureChargeAmt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CashBackAmt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExtData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessDebitCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessDebitCardResult" type="s0:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessEBTCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MagData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NameOnCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PNRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RegisterNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SureChargeAmt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CashBackAmt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExtData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessEBTCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessEBTCardResult" type="s0:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransitNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MICR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NameOnCheck" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExtData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessCheckResult" type="s0:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoResult" type="s0:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="ProcessCreditCardSoapIn">
    <part name="parameters" element="s0:ProcessCreditCard" />
  </message>
  <message name="ProcessCreditCardSoapOut">
    <part name="parameters" element="s0:ProcessCreditCardResponse" />
  </message>
  <message name="ProcessDebitCardSoapIn">
    <part name="parameters" element="s0:ProcessDebitCard" />
  </message>
  <message name="ProcessDebitCardSoapOut">
    <part name="parameters" element="s0:ProcessDebitCardResponse" />
  </message>
  <message name="ProcessEBTCardSoapIn">
    <part name="parameters" element="s0:ProcessEBTCard" />
  </message>
  <message name="ProcessEBTCardSoapOut">
    <part name="parameters" element="s0:ProcessEBTCardResponse" />
  </message>
  <message name="ProcessCheckSoapIn">
    <part name="parameters" element="s0:ProcessCheck" />
  </message>
  <message name="ProcessCheckSoapOut">
    <part name="parameters" element="s0:ProcessCheckResponse" />
  </message>
  <message name="GetInfoSoapIn">
    <part name="parameters" element="s0:GetInfo" />
  </message>
  <message name="GetInfoSoapOut">
    <part name="parameters" element="s0:GetInfoResponse" />
  </message>
  <portType name="RichPaymentsSoap">
    <operation name="ProcessCreditCard">
      <documentation>Process ePayment Credit Card Transaction. Valid input values are: UserName &amp; Password - Assigned by RichSolutions, TransType - Auth | Sale | Return | Void | Force | Capture | RepeatSale | CaptureAll, CardNum - Payment Card Number, ExpDate - Payment Card Expiration Date in MMYY format, MagData - Payment Card Track II Mag-Stripe Data, NameOnCard - Cardholders Name, Amount - Amount in DDDDD.CC format, InvNum - Invoice Tracking Number, PNRef - Reference Number Assigned by RichSolutions, Zip - CardHolder's billing ZipCode used with AVS,  Street - CardHolder's billing Street Address used with AVS,  CVNum - CardHolder's Card Verification Number used with CV Check, ExtData - Extended Data in XML, Valid Values are: AuthCode - Original Authorization Code, CustCode - Customer Code used with Commercial Cards, TipAmt - Tip Amount TaxAmt - Tax Amount used with Commercial Cards, SequenceNum - Sequence Number used with Recurring Transactions, SequenceCount - Sequene Count used with Recurring Transactions, ServerID - Server ID, Timeout - Timeout Value in Seconds (default=40), TrainingMode - Training Mode T or F, Force - Force Duplicates T or F, RegisterNum - Register Number</documentation>
      <input message="s0:ProcessCreditCardSoapIn" />
      <output message="s0:ProcessCreditCardSoapOut" />
    </operation>
    <operation name="ProcessDebitCard">
      <documentation>Process ePayment Debit Card Transactions. Valid input values are: UserName &amp; Password - Assigned by RichSolutions, TransType - Auth | Sale | Return | Force | Capture |  CaptureAll, CardNum - Payment Card Number, ExpDate - Payment Card Expiration Date in MMYY format, MagData - Payment Card Track II Mag-Stripe Data, NameOnCard - Cardholders Name, Amount - Amount in DDDDD.CC format, Pin - Pin Block Returned by Pin-Pad, RegisterNum - Register Number Pin-Pad is Connected, SureChargeAmt - Sure Charge Amount in DDDDD.CC format, CashBackAmt - Cash Back Amount in DDDDD.CC format, ExtData - Extended Data in XML, Valid Values are: Timeout - Timeout Value in Seconds (default=40), TrainingMode - Training Mode T or F, KeySerialNumber - Key Serial Number for DUKPT</documentation>
      <input message="s0:ProcessDebitCardSoapIn" />
      <output message="s0:ProcessDebitCardSoapOut" />
    </operation>
    <operation name="ProcessEBTCard">
      <documentation>Process ePayment EBT Card Transactions. Valid input values are: UserName &amp; Password - Assigned by RichSolutions, TransType - FoodStampSale | FoodStampReturn | CashBenefitSale | Capture | CaptureAll, CardNum - Payment Card Number, ExpDate - Payment Card Expiration Date in MMYY format, MagData - Payment Card Track II Mag-Stripe Data, NameOnCard - Cardholders Name, Amount - Amount in DDDDD.CC format, Pin - Pin Returned by Pin-Pad, RegisterNum - Register Number Pin-Pad is Connected, SureChargeAmt - Sure Charge Amount in DDDDD.CC format, CashBackAmt - Cash Back Amount in DDDDD.CC format, ExtData - Extended Data in XML, Valid Values are: Timeout - Timeout Value in Seconds (default=40), TrainingMode - Training Mode T or F, KeySerialNumber - Key Serial Number for DUKPT</documentation>
      <input message="s0:ProcessEBTCardSoapIn" />
      <output message="s0:ProcessEBTCardSoapOut" />
    </operation>
    <operation name="ProcessCheck">
      <documentation>Process ePayment Check Transactions. Valid input values are: UserName &amp; Password - Assigned by RichSolutions, TransType - Auth | Sale | Return | Force | Void | Capture | CaptureAll, CheckNum - Check Number, TransitNum - Transit NUmber AccountNum - AccountNumber, Amount - Amount in DDDDD.CC format, MICR - MICR, NameOnCheck - NameOnCheck, DL - Drivers License, SS - Social Security, StateCode - State Code, CheckType - CheckType (Personal | Corporate | Government), ExtData - Extended Data in XML, Valid Values are: Timeout - Timeout Value in Seconds (default=40), PNRef - Reference Number Assigned by RichSolutions, Phone - Phone Number, EMail - E-Mail Address, RawMICR - Check RawMICR Data, InvNum - Invoice Number, TrainingMode - Training Mode T or F</documentation>
      <input message="s0:ProcessCheckSoapIn" />
      <output message="s0:ProcessCheckSoapOut" />
    </operation>
    <operation name="GetInfo">
      <documentation>Retrieves information from the Web Service. Valid input values are: UserName &amp; Password - Assigned by RichSolutions, TransType - Setup | BatchInquiry | StatusCheck  </documentation>
      <input message="s0:GetInfoSoapIn" />
      <output message="s0:GetInfoSoapOut" />
    </operation>
  </portType>
  <binding name="RichPaymentsSoap" type="s0:RichPaymentsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="ProcessCreditCard">
      <soap:operation soapAction="http://RichSolutions.com/RichPayments/ProcessCreditCard" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ProcessDebitCard">
      <soap:operation soapAction="http://RichSolutions.com/RichPayments/ProcessDebitCard" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ProcessEBTCard">
      <soap:operation soapAction="http://RichSolutions.com/RichPayments/ProcessEBTCard" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ProcessCheck">
      <soap:operation soapAction="http://RichSolutions.com/RichPayments/ProcessCheck" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetInfo">
      <soap:operation soapAction="http://RichSolutions.com/RichPayments/GetInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RichPayments">
    <documentation>RichPayments.NET - ePayment Web Service by RichSolutions, Inc.
20428 NE 66th Ct.
Redmond, WA 98053
(425) 836-4251</documentation>
    <port name="RichPaymentsSoap" binding="s0:RichPaymentsSoap">
      <soap:address location="http://www.richsolutions.com/richpayments/richpay.asmx" />
    </port>
  </service>
</definitions>