WebServiceDataset/unlabelled/service8.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="Code39">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BarSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ShowCodeString" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Code39Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Code39Result" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
  </types>
  <message name="Code39SoapIn">
    <part name="parameters" element="s0:Code39" />
  </message>
  <message name="Code39SoapOut">
    <part name="parameters" element="s0:Code39Response" />
  </message>
  <message name="Code39HttpGetIn">
    <part name="Code" type="s:string" />
    <part name="BarSize" type="s:string" />
    <part name="ShowCodeString" type="s:string" />
    <part name="Title" type="s:string" />
  </message>
  <message name="Code39HttpGetOut">
    <part name="Body" element="s0:base64Binary" />
  </message>
  <message name="Code39HttpPostIn">
    <part name="Code" type="s:string" />
    <part name="BarSize" type="s:string" />
    <part name="ShowCodeString" type="s:string" />
    <part name="Title" type="s:string" />
  </message>
  <message name="Code39HttpPostOut">
    <part name="Body" element="s0:base64Binary" />
  </message>
  <portType name="BarCodeSoap">
    <operation name="Code39">
      <documentation>BARCODE Generator for CODE39.This is 3 of 9 (sometimes called code 39), a widely used barcode standard that includes capital letters, numbers, and several symbols</documentation>
      <input message="s0:Code39SoapIn" />
      <output message="s0:Code39SoapOut" />
    </operation>
  </portType>
  <portType name="BarCodeHttpGet">
    <operation name="Code39">
      <documentation>BARCODE Generator for CODE39.This is 3 of 9 (sometimes called code 39), a widely used barcode standard that includes capital letters, numbers, and several symbols</documentation>
      <input message="s0:Code39HttpGetIn" />
      <output message="s0:Code39HttpGetOut" />
    </operation>
  </portType>
  <portType name="BarCodeHttpPost">
    <operation name="Code39">
      <documentation>BARCODE Generator for CODE39.This is 3 of 9 (sometimes called code 39), a widely used barcode standard that includes capital letters, numbers, and several symbols</documentation>
      <input message="s0:Code39HttpPostIn" />
      <output message="s0:Code39HttpPostOut" />
    </operation>
  </portType>
  <binding name="BarCodeSoap" type="s0:BarCodeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Code39">
      <soap:operation soapAction="http://www.webserviceX.NET/Code39" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="BarCodeHttpGet" type="s0:BarCodeHttpGet">
    <http:binding verb="GET" />
    <operation name="Code39">
      <http:operation location="/Code39" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="BarCodeHttpPost" type="s0:BarCodeHttpPost">
    <http:binding verb="POST" />
    <operation name="Code39">
      <http:operation location="/Code39" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="BarCode">
    <port name="BarCodeSoap" binding="s0:BarCodeSoap">
      <soap:address location="http://www.webservicex.net/barcode.asmx" />
    </port>
    <port name="BarCodeHttpGet" binding="s0:BarCodeHttpGet">
      <http:address location="http://www.webservicex.net/barcode.asmx" />
    </port>
    <port name="BarCodeHttpPost" binding="s0:BarCodeHttpPost">
      <http:address location="http://www.webservicex.net/barcode.asmx" />
    </port>
  </service>
</definitions>