WebServiceDataset/unlabelled/service194.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="getNAICSAndSICCodeDetailsByNAICSDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NAICSDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNAICSAndSICCodeDetailsByNAICSDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNAICSAndSICCodeDetailsByNAICSDescriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNAICSAndSICCodeDetailsBySICDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SICDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNAICSAndSICCodeDetailsBySICDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNAICSAndSICCodeDetailsBySICDescriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNAICSAndSICCodeDetailsBySICCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SICCode" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNAICSAndSICCodeDetailsBySICCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNAICSAndSICCodeDetailsBySICCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNAICSAndSICCodeDetailsByNAICSCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NAICSCode" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNAICSAndSICCodeDetailsByNAICSCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNAICSAndSICCodeDetailsByNAICSCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="getNAICSAndSICCodeDetailsByNAICSDescriptionSoapIn">
    <part name="parameters" element="s0:getNAICSAndSICCodeDetailsByNAICSDescription" />
  </message>
  <message name="getNAICSAndSICCodeDetailsByNAICSDescriptionSoapOut">
    <part name="parameters" element="s0:getNAICSAndSICCodeDetailsByNAICSDescriptionResponse" />
  </message>
  <message name="getNAICSAndSICCodeDetailsBySICDescriptionSoapIn">
    <part name="parameters" element="s0:getNAICSAndSICCodeDetailsBySICDescription" />
  </message>
  <message name="getNAICSAndSICCodeDetailsBySICDescriptionSoapOut">
    <part name="parameters" element="s0:getNAICSAndSICCodeDetailsBySICDescriptionResponse" />
  </message>
  <message name="getNAICSAndSICCodeDetailsBySICCodeSoapIn">
    <part name="parameters" element="s0:getNAICSAndSICCodeDetailsBySICCode" />
  </message>
  <message name="getNAICSAndSICCodeDetailsBySICCodeSoapOut">
    <part name="parameters" element="s0:getNAICSAndSICCodeDetailsBySICCodeResponse" />
  </message>
  <message name="getNAICSAndSICCodeDetailsByNAICSCodeSoapIn">
    <part name="parameters" element="s0:getNAICSAndSICCodeDetailsByNAICSCode" />
  </message>
  <message name="getNAICSAndSICCodeDetailsByNAICSCodeSoapOut">
    <part name="parameters" element="s0:getNAICSAndSICCodeDetailsByNAICSCodeResponse" />
  </message>
  <message name="getNAICSAndSICCodeDetailsByNAICSDescriptionHttpGetIn">
    <part name="NAICSDescription" type="s:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsByNAICSDescriptionHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsBySICDescriptionHttpGetIn">
    <part name="SICDescription" type="s:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsBySICDescriptionHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsBySICCodeHttpGetIn">
    <part name="SICCode" type="s:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsBySICCodeHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsByNAICSCodeHttpGetIn">
    <part name="NAICSCode" type="s:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsByNAICSCodeHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsByNAICSDescriptionHttpPostIn">
    <part name="NAICSDescription" type="s:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsByNAICSDescriptionHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsBySICDescriptionHttpPostIn">
    <part name="SICDescription" type="s:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsBySICDescriptionHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsBySICCodeHttpPostIn">
    <part name="SICCode" type="s:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsBySICCodeHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsByNAICSCodeHttpPostIn">
    <part name="NAICSCode" type="s:string" />
  </message>
  <message name="getNAICSAndSICCodeDetailsByNAICSCodeHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="NAICSSoap">
    <operation name="getNAICSAndSICCodeDetailsByNAICSDescription">
      <documentation>Get NAICS code,NAICS Description ,SIC code ,SIC Description by NAICS Industry Description</documentation>
      <input message="s0:getNAICSAndSICCodeDetailsByNAICSDescriptionSoapIn" />
      <output message="s0:getNAICSAndSICCodeDetailsByNAICSDescriptionSoapOut" />
    </operation>
    <operation name="getNAICSAndSICCodeDetailsBySICDescription">
      <documentation>Get NAICS code,NAICS Description ,SIC code ,SIC Description by SIC Industry Description</documentation>
      <input message="s0:getNAICSAndSICCodeDetailsBySICDescriptionSoapIn" />
      <output message="s0:getNAICSAndSICCodeDetailsBySICDescriptionSoapOut" />
    </operation>
    <operation name="getNAICSAndSICCodeDetailsBySICCode">
      <documentation>Get NAICS code,NAICS Description ,SIC code ,SIC Description by SIC CODE </documentation>
      <input message="s0:getNAICSAndSICCodeDetailsBySICCodeSoapIn" />
      <output message="s0:getNAICSAndSICCodeDetailsBySICCodeSoapOut" />
    </operation>
    <operation name="getNAICSAndSICCodeDetailsByNAICSCode">
      <documentation>Get NAICS code,NAICS Description ,SIC code ,SIC Description by NAICS CODE </documentation>
      <input message="s0:getNAICSAndSICCodeDetailsByNAICSCodeSoapIn" />
      <output message="s0:getNAICSAndSICCodeDetailsByNAICSCodeSoapOut" />
    </operation>
  </portType>
  <portType name="NAICSHttpGet">
    <operation name="getNAICSAndSICCodeDetailsByNAICSDescription">
      <documentation>Get NAICS code,NAICS Description ,SIC code ,SIC Description by NAICS Industry Description</documentation>
      <input message="s0:getNAICSAndSICCodeDetailsByNAICSDescriptionHttpGetIn" />
      <output message="s0:getNAICSAndSICCodeDetailsByNAICSDescriptionHttpGetOut" />
    </operation>
    <operation name="getNAICSAndSICCodeDetailsBySICDescription">
      <documentation>Get NAICS code,NAICS Description ,SIC code ,SIC Description by SIC Industry Description</documentation>
      <input message="s0:getNAICSAndSICCodeDetailsBySICDescriptionHttpGetIn" />
      <output message="s0:getNAICSAndSICCodeDetailsBySICDescriptionHttpGetOut" />
    </operation>
    <operation name="getNAICSAndSICCodeDetailsBySICCode">
      <documentation>Get NAICS code,NAICS Description ,SIC code ,SIC Description by SIC CODE </documentation>
      <input message="s0:getNAICSAndSICCodeDetailsBySICCodeHttpGetIn" />
      <output message="s0:getNAICSAndSICCodeDetailsBySICCodeHttpGetOut" />
    </operation>
    <operation name="getNAICSAndSICCodeDetailsByNAICSCode">
      <documentation>Get NAICS code,NAICS Description ,SIC code ,SIC Description by NAICS CODE </documentation>
      <input message="s0:getNAICSAndSICCodeDetailsByNAICSCodeHttpGetIn" />
      <output message="s0:getNAICSAndSICCodeDetailsByNAICSCodeHttpGetOut" />
    </operation>
  </portType>
  <portType name="NAICSHttpPost">
    <operation name="getNAICSAndSICCodeDetailsByNAICSDescription">
      <documentation>Get NAICS code,NAICS Description ,SIC code ,SIC Description by NAICS Industry Description</documentation>
      <input message="s0:getNAICSAndSICCodeDetailsByNAICSDescriptionHttpPostIn" />
      <output message="s0:getNAICSAndSICCodeDetailsByNAICSDescriptionHttpPostOut" />
    </operation>
    <operation name="getNAICSAndSICCodeDetailsBySICDescription">
      <documentation>Get NAICS code,NAICS Description ,SIC code ,SIC Description by SIC Industry Description</documentation>
      <input message="s0:getNAICSAndSICCodeDetailsBySICDescriptionHttpPostIn" />
      <output message="s0:getNAICSAndSICCodeDetailsBySICDescriptionHttpPostOut" />
    </operation>
    <operation name="getNAICSAndSICCodeDetailsBySICCode">
      <documentation>Get NAICS code,NAICS Description ,SIC code ,SIC Description by SIC CODE </documentation>
      <input message="s0:getNAICSAndSICCodeDetailsBySICCodeHttpPostIn" />
      <output message="s0:getNAICSAndSICCodeDetailsBySICCodeHttpPostOut" />
    </operation>
    <operation name="getNAICSAndSICCodeDetailsByNAICSCode">
      <documentation>Get NAICS code,NAICS Description ,SIC code ,SIC Description by NAICS CODE </documentation>
      <input message="s0:getNAICSAndSICCodeDetailsByNAICSCodeHttpPostIn" />
      <output message="s0:getNAICSAndSICCodeDetailsByNAICSCodeHttpPostOut" />
    </operation>
  </portType>
  <binding name="NAICSSoap" type="s0:NAICSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="getNAICSAndSICCodeDetailsByNAICSDescription">
      <soap:operation soapAction="http://www.webserviceX.NET/getNAICSAndSICCodeDetailsByNAICSDescription" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getNAICSAndSICCodeDetailsBySICDescription">
      <soap:operation soapAction="http://www.webserviceX.NET/getNAICSAndSICCodeDetailsBySICDescription" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getNAICSAndSICCodeDetailsBySICCode">
      <soap:operation soapAction="http://www.webserviceX.NET/getNAICSAndSICCodeDetailsBySICCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getNAICSAndSICCodeDetailsByNAICSCode">
      <soap:operation soapAction="http://www.webserviceX.NET/getNAICSAndSICCodeDetailsByNAICSCode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="NAICSHttpGet" type="s0:NAICSHttpGet">
    <http:binding verb="GET" />
    <operation name="getNAICSAndSICCodeDetailsByNAICSDescription">
      <http:operation location="/getNAICSAndSICCodeDetailsByNAICSDescription" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getNAICSAndSICCodeDetailsBySICDescription">
      <http:operation location="/getNAICSAndSICCodeDetailsBySICDescription" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getNAICSAndSICCodeDetailsBySICCode">
      <http:operation location="/getNAICSAndSICCodeDetailsBySICCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getNAICSAndSICCodeDetailsByNAICSCode">
      <http:operation location="/getNAICSAndSICCodeDetailsByNAICSCode" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="NAICSHttpPost" type="s0:NAICSHttpPost">
    <http:binding verb="POST" />
    <operation name="getNAICSAndSICCodeDetailsByNAICSDescription">
      <http:operation location="/getNAICSAndSICCodeDetailsByNAICSDescription" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getNAICSAndSICCodeDetailsBySICDescription">
      <http:operation location="/getNAICSAndSICCodeDetailsBySICDescription" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getNAICSAndSICCodeDetailsBySICCode">
      <http:operation location="/getNAICSAndSICCodeDetailsBySICCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getNAICSAndSICCodeDetailsByNAICSCode">
      <http:operation location="/getNAICSAndSICCodeDetailsByNAICSCode" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="NAICS">
    <port name="NAICSSoap" binding="s0:NAICSSoap">
      <soap:address location="http://www.webservicex.net/NAICS.asmx" />
    </port>
    <port name="NAICSHttpGet" binding="s0:NAICSHttpGet">
      <http:address location="http://www.webservicex.net/NAICS.asmx" />
    </port>
    <port name="NAICSHttpPost" binding="s0:NAICSHttpPost">
      <http:address location="http://www.webservicex.net/NAICS.asmx" />
    </port>
  </service>
</definitions>