WebServiceDataset/unlabelled/service183.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.serviceobjects.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.serviceobjects.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.serviceobjects.com/">
      <s:element name="GetYPListingsByCategoryID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Radius" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYPListingsByCategoryIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYPListingsByCategoryIDResult" type="s0:Listings" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Listings">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s0:Err" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Listing" type="s0:Listing" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Err">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Listing">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllYPCategories">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllYPCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllYPCategoriesResult" type="s0:Categories" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Categories">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s0:Err" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Category" type="s0:Category" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Category">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s0:Err" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetYPCategoryByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYPCategoryByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYPCategoryByIDResult" type="s0:Category" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Listings" nillable="true" type="s0:Listings" />
      <s:element name="Categories" nillable="true" type="s0:Categories" />
      <s:element name="Category" nillable="true" type="s0:Category" />
    </s:schema>
  </types>
  <message name="GetYPListingsByCategoryIDSoapIn">
    <part name="parameters" element="s0:GetYPListingsByCategoryID" />
  </message>
  <message name="GetYPListingsByCategoryIDSoapOut">
    <part name="parameters" element="s0:GetYPListingsByCategoryIDResponse" />
  </message>
  <message name="GetAllYPCategoriesSoapIn">
    <part name="parameters" element="s0:GetAllYPCategories" />
  </message>
  <message name="GetAllYPCategoriesSoapOut">
    <part name="parameters" element="s0:GetAllYPCategoriesResponse" />
  </message>
  <message name="GetYPCategoryByIDSoapIn">
    <part name="parameters" element="s0:GetYPCategoryByID" />
  </message>
  <message name="GetYPCategoryByIDSoapOut">
    <part name="parameters" element="s0:GetYPCategoryByIDResponse" />
  </message>
  <message name="GetYPListingsByCategoryIDHttpGetIn">
    <part name="CategoryID" type="s:string" />
    <part name="PostalCode" type="s:string" />
    <part name="Radius" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetYPListingsByCategoryIDHttpGetOut">
    <part name="Body" element="s0:Listings" />
  </message>
  <message name="GetAllYPCategoriesHttpGetIn">
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetAllYPCategoriesHttpGetOut">
    <part name="Body" element="s0:Categories" />
  </message>
  <message name="GetYPCategoryByIDHttpGetIn">
    <part name="CategoryID" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetYPCategoryByIDHttpGetOut">
    <part name="Body" element="s0:Category" />
  </message>
  <message name="GetYPListingsByCategoryIDHttpPostIn">
    <part name="CategoryID" type="s:string" />
    <part name="PostalCode" type="s:string" />
    <part name="Radius" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetYPListingsByCategoryIDHttpPostOut">
    <part name="Body" element="s0:Listings" />
  </message>
  <message name="GetAllYPCategoriesHttpPostIn">
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetAllYPCategoriesHttpPostOut">
    <part name="Body" element="s0:Categories" />
  </message>
  <message name="GetYPCategoryByIDHttpPostIn">
    <part name="CategoryID" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="GetYPCategoryByIDHttpPostOut">
    <part name="Body" element="s0:Category" />
  </message>
  <portType name="DOTSYellowPagesSoap">
    <operation name="GetYPListingsByCategoryID">
      <input message="s0:GetYPListingsByCategoryIDSoapIn" />
      <output message="s0:GetYPListingsByCategoryIDSoapOut" />
    </operation>
    <operation name="GetAllYPCategories">
      <input message="s0:GetAllYPCategoriesSoapIn" />
      <output message="s0:GetAllYPCategoriesSoapOut" />
    </operation>
    <operation name="GetYPCategoryByID">
      <input message="s0:GetYPCategoryByIDSoapIn" />
      <output message="s0:GetYPCategoryByIDSoapOut" />
    </operation>
  </portType>
  <portType name="DOTSYellowPagesHttpGet">
    <operation name="GetYPListingsByCategoryID">
      <input message="s0:GetYPListingsByCategoryIDHttpGetIn" />
      <output message="s0:GetYPListingsByCategoryIDHttpGetOut" />
    </operation>
    <operation name="GetAllYPCategories">
      <input message="s0:GetAllYPCategoriesHttpGetIn" />
      <output message="s0:GetAllYPCategoriesHttpGetOut" />
    </operation>
    <operation name="GetYPCategoryByID">
      <input message="s0:GetYPCategoryByIDHttpGetIn" />
      <output message="s0:GetYPCategoryByIDHttpGetOut" />
    </operation>
  </portType>
  <portType name="DOTSYellowPagesHttpPost">
    <operation name="GetYPListingsByCategoryID">
      <input message="s0:GetYPListingsByCategoryIDHttpPostIn" />
      <output message="s0:GetYPListingsByCategoryIDHttpPostOut" />
    </operation>
    <operation name="GetAllYPCategories">
      <input message="s0:GetAllYPCategoriesHttpPostIn" />
      <output message="s0:GetAllYPCategoriesHttpPostOut" />
    </operation>
    <operation name="GetYPCategoryByID">
      <input message="s0:GetYPCategoryByIDHttpPostIn" />
      <output message="s0:GetYPCategoryByIDHttpPostOut" />
    </operation>
  </portType>
  <binding name="DOTSYellowPagesSoap" type="s0:DOTSYellowPagesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetYPListingsByCategoryID">
      <soap:operation soapAction="http://www.serviceobjects.com/GetYPListingsByCategoryID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAllYPCategories">
      <soap:operation soapAction="http://www.serviceobjects.com/GetAllYPCategories" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetYPCategoryByID">
      <soap:operation soapAction="http://www.serviceobjects.com/GetYPCategoryByID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="DOTSYellowPagesHttpGet" type="s0:DOTSYellowPagesHttpGet">
    <http:binding verb="GET" />
    <operation name="GetYPListingsByCategoryID">
      <http:operation location="/GetYPListingsByCategoryID" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetAllYPCategories">
      <http:operation location="/GetAllYPCategories" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetYPCategoryByID">
      <http:operation location="/GetYPCategoryByID" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="DOTSYellowPagesHttpPost" type="s0:DOTSYellowPagesHttpPost">
    <http:binding verb="POST" />
    <operation name="GetYPListingsByCategoryID">
      <http:operation location="/GetYPListingsByCategoryID" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetAllYPCategories">
      <http:operation location="/GetAllYPCategories" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetYPCategoryByID">
      <http:operation location="/GetYPCategoryByID" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="DOTSYellowPages">
    <documentation>For more information on our web services, visit us at &lt;a href='http://www.serviceobjects.com/products/default.asp' target='new'&gt;our website&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;&lt;a href='http://www.serviceobjects.com' target='new'&gt;&lt;img src='http://www.serviceobjects.com/images/so_logo_2_inside.gif' border='0'/&gt;&lt;/a&gt;</documentation>
    <port name="DOTSYellowPagesSoap" binding="s0:DOTSYellowPagesSoap">
      <soap:address location="http://ws2.serviceobjects.net/yp/YellowPages.asmx" />
    </port>
    <port name="DOTSYellowPagesHttpGet" binding="s0:DOTSYellowPagesHttpGet">
      <http:address location="http://ws2.serviceobjects.net/yp/YellowPages.asmx" />
    </port>
    <port name="DOTSYellowPagesHttpPost" binding="s0:DOTSYellowPagesHttpPost">
      <http:address location="http://ws2.serviceobjects.net/yp/YellowPages.asmx" />
    </port>
  </service>
</definitions>