WebServiceDataset/unlabelled/service22.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://ws.AcrossCommunications.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.AcrossCommunications.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.AcrossCommunications.com/">
      <s:element name="Send">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPagerNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPagerPIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMessageNumbers" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetSearchString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSearchStringResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSearchString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSearchStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Release">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReleaseResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="SendSoapIn">
    <part name="parameters" element="s0:Send" />
  </message>
  <message name="SendSoapOut">
    <part name="parameters" element="s0:SendResponse" />
  </message>
  <message name="SetSearchStringSoapIn">
    <part name="parameters" element="s0:SetSearchString" />
  </message>
  <message name="SetSearchStringSoapOut">
    <part name="parameters" element="s0:SetSearchStringResponse" />
  </message>
  <message name="GetSearchStringSoapIn">
    <part name="parameters" element="s0:GetSearchString" />
  </message>
  <message name="GetSearchStringSoapOut">
    <part name="parameters" element="s0:GetSearchStringResponse" />
  </message>
  <message name="ReleaseSoapIn">
    <part name="parameters" element="s0:Release" />
  </message>
  <message name="ReleaseSoapOut">
    <part name="parameters" element="s0:ReleaseResponse" />
  </message>
  <message name="SendHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strPagerNumber" type="s:string" />
    <part name="strPagerPIN" type="s:string" />
    <part name="strMessageNumbers" type="s:string" />
  </message>
  <message name="SendHttpGetOut" />
  <message name="SetSearchStringHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetSearchStringHttpGetOut" />
  <message name="GetSearchStringHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetSearchStringHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ReleaseHttpGetIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="ReleaseHttpGetOut" />
  <message name="SendHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strPagerNumber" type="s:string" />
    <part name="strPagerPIN" type="s:string" />
    <part name="strMessageNumbers" type="s:string" />
  </message>
  <message name="SendHttpPostOut" />
  <message name="SetSearchStringHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
    <part name="strValue" type="s:string" />
  </message>
  <message name="SetSearchStringHttpPostOut" />
  <message name="GetSearchStringHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="GetSearchStringHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ReleaseHttpPostIn">
    <part name="strGuidNotification" type="s:string" />
  </message>
  <message name="ReleaseHttpPostOut" />
  <portType name="NumPagerSoap">
    <operation name="Send">
      <input message="s0:SendSoapIn" />
      <output message="s0:SendSoapOut" />
    </operation>
    <operation name="SetSearchString">
      <input message="s0:SetSearchStringSoapIn" />
      <output message="s0:SetSearchStringSoapOut" />
    </operation>
    <operation name="GetSearchString">
      <input message="s0:GetSearchStringSoapIn" />
      <output message="s0:GetSearchStringSoapOut" />
    </operation>
    <operation name="Release">
      <input message="s0:ReleaseSoapIn" />
      <output message="s0:ReleaseSoapOut" />
    </operation>
  </portType>
  <portType name="NumPagerHttpGet">
    <operation name="Send">
      <input message="s0:SendHttpGetIn" />
      <output message="s0:SendHttpGetOut" />
    </operation>
    <operation name="SetSearchString">
      <input message="s0:SetSearchStringHttpGetIn" />
      <output message="s0:SetSearchStringHttpGetOut" />
    </operation>
    <operation name="GetSearchString">
      <input message="s0:GetSearchStringHttpGetIn" />
      <output message="s0:GetSearchStringHttpGetOut" />
    </operation>
    <operation name="Release">
      <input message="s0:ReleaseHttpGetIn" />
      <output message="s0:ReleaseHttpGetOut" />
    </operation>
  </portType>
  <portType name="NumPagerHttpPost">
    <operation name="Send">
      <input message="s0:SendHttpPostIn" />
      <output message="s0:SendHttpPostOut" />
    </operation>
    <operation name="SetSearchString">
      <input message="s0:SetSearchStringHttpPostIn" />
      <output message="s0:SetSearchStringHttpPostOut" />
    </operation>
    <operation name="GetSearchString">
      <input message="s0:GetSearchStringHttpPostIn" />
      <output message="s0:GetSearchStringHttpPostOut" />
    </operation>
    <operation name="Release">
      <input message="s0:ReleaseHttpPostIn" />
      <output message="s0:ReleaseHttpPostOut" />
    </operation>
  </portType>
  <binding name="NumPagerSoap" type="s0:NumPagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Send">
      <soap:operation soapAction="http://ws.AcrossCommunications.com/Send" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetSearchString">
      <soap:operation soapAction="http://ws.AcrossCommunications.com/SetSearchString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSearchString">
      <soap:operation soapAction="http://ws.AcrossCommunications.com/GetSearchString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Release">
      <soap:operation soapAction="http://ws.AcrossCommunications.com/Release" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="NumPagerHttpGet" type="s0:NumPagerHttpGet">
    <http:binding verb="GET" />
    <operation name="Send">
      <http:operation location="/Send" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="SetSearchString">
      <http:operation location="/SetSearchString" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetSearchString">
      <http:operation location="/GetSearchString" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Release">
      <http:operation location="/Release" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
  </binding>
  <binding name="NumPagerHttpPost" type="s0:NumPagerHttpPost">
    <http:binding verb="POST" />
    <operation name="Send">
      <http:operation location="/Send" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="SetSearchString">
      <http:operation location="/SetSearchString" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetSearchString">
      <http:operation location="/GetSearchString" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Release">
      <http:operation location="/Release" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
  </binding>
  <service name="NumPager">
    <port name="NumPagerSoap" binding="s0:NumPagerSoap">
      <soap:address location="http://ws.acrosscommunications.com/NumPager.asmx" />
    </port>
    <port name="NumPagerHttpGet" binding="s0:NumPagerHttpGet">
      <http:address location="http://ws.acrosscommunications.com/NumPager.asmx" />
    </port>
    <port name="NumPagerHttpPost" binding="s0:NumPagerHttpPost">
      <http:address location="http://ws.acrosscommunications.com/NumPager.asmx" />
    </port>
  </service>
</definitions>