WebServiceDataset/datamanagement/contentmanagement/service42.Utility.wsdl

<?xml version="1.0"?>
<!-- 	WSDL 1.0 : Generated by Hand by Simon Fell 2/11/2001
		(c) 2001 Simon Fell, All Rights Reserved

		The latest version of this file can be found at http://www.pocketsoap.com/interop/manila.wsdl

		Date	Author 	Notes
		3/19/1	SZF		I changed the name of cssPortType to GetSetPortType, as its used by many bindings, not just the css one
		3/19/1	SZF		I changed the namespace that the manila types are in to "http://manila.userland.com/soap/encoding/"
						to match what the new manila SOAP interface uses
		3/19/1	SZF		I changed the namespace for this WSDL document to "http://www.pocketsoap.com/interop/manila"
		3/19/1	SZF		Jake has modified the SOAP interface to manila to return array's of structs in many cases
						instead of the nested growing structs. This makes many more functions describable in here

		2/11/1	SZF		Initial Version.						
-->
<definitions name="Manila"
		xmlns:tns="http://www.pocketsoap.com/interop/manila" 
		targetNamespace="http://www.pocketsoap.com/interop/manila" 
		xmlns:xsd="http://www.w3.org/1999/XMLSchema" 
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:manila="http://manila.userland.com/soap/encoding/">

	<types>
		<schema targetNamespace="http://manila.userland.com/soap/encoding/" xmlns="http://www.w3.org/1999/XMLSchema">

			<complexType name="windowInfo">
				<sequence>
  					<element name="expansionState" 	type="xsd:string" 	minOccurs="0" maxOccurs="1" /> 
  					<element name="height" 			type="xsd:int" 		minOccurs="0" maxOccurs="1" /> 
  					<element name="left" 			type="xsd:int" 		minOccurs="0" maxOccurs="1" /> 
  					<element name="scrollLine" 		type="xsd:int" 		minOccurs="0" maxOccurs="1" /> 
  					<element name="top" 			type="xsd:int" 		minOccurs="0" maxOccurs="1" /> 
  					<element name="width" 			type="xsd:int" 		minOccurs="0" maxOccurs="1" /> 
		  		</sequence>
  			</complexType>

			<complexType name="getsetInfo">
				<sequence>
  					<element name="body" 			type="xsd:string" /> 
					<element name="windowInfo" 		type="manila:windowInfo" />
		  		</sequence>
  			</complexType>

			<complexType name="editorialOutline">
				<sequence>
					<element name="editorialRole" 		type="xsd:string" 	/>
					<element name="flAcceptsOpml" 		type="xsd:boolean" 	/>
  					<element name="flCheckedOut" 		type="xsd:boolean"  />
					<element name="siteOutline" 		type="xsd:string"   />
		  		</sequence>
  			</complexType>

			<complexType name="renderInfo">
				<sequence>
					<element name="flRenderOnEntry" 	type="xsd:boolean" />
  					<element name="name" 				type="xsd:string" /> 
		  		</sequence>
  			</complexType>

			<complexType name="ArrayOfur-type" base="soap:Array">
				<sequence>
					<element name="item" type="xsd:ur-type" minOccurs="0" maxOccurs="*"/>
				</sequence>
  			</complexType>

			<complexType name="ArrayOfstring" base="soap:Array">
				<sequence>
  					<element name="item" type="xsd:string" minOccurs="0" maxOccurs="*" /> 
  				</sequence>
  			</complexType>
  			
  			<complexType name="messageCreateResponse">
  				<sequence>
  					<element name="body"				type="xsd:string" />
  					<element name="bodyType"			type="xsd:string" />
  					<element name="ctReads"				type="xsd:int" />
  					<element name="ctRevisions"			type="xsd:int" />
  					<element name="inResponseTo"		type="xsd:string" />
  					<element name="lastUpdate"			type="xsd:timeInstant" />
  					<element name="member"				type="xsd:string" />
  					<element name="msgnum"				type="xsd:int" />
  					<element name="postTime"			type="xsd:timeInstant" />
  					<choice>
	  					<element name="renderInfo"		type="manila:renderInfo" />
	  					<element name="renderInfo"		type="xsd:int" /><!-- you can use a value of 0 if you want the default render-->
	  				</choice>
  					<element name="responses"			type="manila:ArrayOfur-type" />
  					<element name="subject"				type="xsd:string" />
  					<element name="url"					type="xsd:string" />
  					<choice>
	  					<element name="windowInfo"		type="manila:windowInfo" />
	  					<element name="windowInfo"		type="xsd:int" /> <!-- you can use a value of 0 if you don't have any windowInfo-->
	  				</choice>
  				</sequence>
  			</complexType>
  			
  			<complexType name="messageSetResponse">
  				<sequence>
  					<element name="alsoListedIn"		type="manila:ArrayOfur-type" />
  					<element name="body"				type="xsd:string" />
  					<element name="bodyType"			type="xsd:string" />
  					<element name="ctReads"				type="xsd:int" />
  					<element name="ctRevisions"			type="xsd:int" />
  					<element name="inResponseTo"		type="xsd:string" />
  					<element name="lastUpdate"			type="xsd:timeInstant" />
  					<element name="member"				type="xsd:string" />
  					<element name="msgnum"				type="xsd:int" />
  					<element name="postTime"			type="xsd:timeInstant" />
  					<choice>
	  					<element name="renderInfo"			type="manila:renderInfo" />
	  					<element name="renderInfo"			type="xsd:int" /><!-- you can use a value of 0 if you want the default render-->
	  				</choice>
  					<element name="responses"			type="manila:ArrayOfur-type" />
  					<element name="subject"				type="xsd:string" />
  					<element name="url"					type="xsd:string" />
  					<choice>
	  					<element name="windowInfo"			type="manila:windowInfo" />
	  					<element name="windowInfo"			type="xsd:int" /> <!-- you can use a value of 0 if you don't have any windowInfo-->
	  				</choice>
  				</sequence>
  			</complexType>

  			<complexType name="editor">
  				<sequence>
  					<element name="email"	type="xsd:string" />
  					<element name="name"	type="xsd:string" />
  				</sequence>
  			</complexType>

			<complexType name="ArrayOfeditor" base="soap:Array">
				<sequence>
  					<element name="item" type="manila:editor" minOccurs="0" maxOccurs="*" /> 
  				</sequence>
  			</complexType>

  			<complexType name="messageHeader">
  				<sequence>
  					<element name="ctReads"		type="xsd:int" />
  					<element name="member"		type="xsd:string" />
  					<element name="memberName"	type="xsd:string" />
  					<element name="msgNum"		type="xsd:int" />
  					<element name="postTime"	type="xsd:timeInstant" />
  					<element name="rpcPath"		type="xsd:string" />
  					<element name="rpcPort"		type="xsd:int" />
  					<element name="rpcServer"	type="xsd:string" />
  					<element name="subject"		type="xsd:string" />
  					<element name="url"			type="xsd:string" />
  				</sequence>
  			</complexType>

			<complexType name="ArrayOfmessageHeader" base="soap:Array">
				<sequence>
  					<element name="item" type="manila:messageHeader" minOccurs="0" maxOccurs="*" /> 
  				</sequence>
  			</complexType>
  			
  		</schema>
  	</types>

	<!-- widely used precanned messages -->
	<message name="usernamePasswordSite">
		<part name="username" 		type="xsd:string"/>
		<part name="password" 		type="xsd:string"/>
		<part name="siteName" 		type="xsd:string"/>
	</message>

	<message name="siteNameUsernamePassword">
		<part name="siteName" 		type="xsd:string"/>
		<part name="username" 		type="xsd:string"/>
		<part name="password" 		type="xsd:string"/>
	</message>

	<message name="SiteEmailUsernamePassword">
		<part name="siteName" 		type="xsd:string"/>
		<part name="editorEmail" 	type="xsd:string"/>
		<part name="username" 		type="xsd:string"/>
		<part name="password" 		type="xsd:string"/>
	</message>

	<message name="booleanResResponse">
		<part name="Result" 		type="xsd:boolean"/>
	</message>	

	<message name="stringResponse">
		<part name="Result" 		type="xsd:string"/>
	</message>	

	<message name="arrayOfMessageHeaders">
		<part name="Result"			type="manila:ArrayOfmessageHeader"/>
	</message>

	<message name="DateResResponse">
		<part name="Result" 		type="xsd:timeInstant"/>
	</message>
	
	<message name="voidMessage" />

	<!-- utilities -->
	<message name="getSiteNameRequest">
		<part name="siteUrl" type="xsd:string" />
	</message>
	<message name="getSiteNameResponse">
		<part name="Result" type="xsd:string" />
	</message>

	<!-- the generic get/set interface -->
	<message name="getsetGetResponse">
		<part name="Result" type="manila:getsetInfo" />
	</message>
	
	<message name="cssSetRequest">
		<part name="username" 	type="xsd:string"/>
		<part name="password" 	type="xsd:string"/>
		<part name="siteName" 	type="xsd:string"/>
		<part name="s" 			type="xsd:string"/>
		<part name="windowInfo" type="manila:windowInfo"/>
	</message>

	<!-- editorialOutline -->
	<message name="editorialOutlineGetResponse">
		<part name="Result" type="manila:editorialOutline" />
	</message>

	<message name="editorialOutlineSet">
		<part name="siteName" 	type="xsd:string"/>
		<part name="username" 	type="xsd:string"/>
		<part name="password" 	type="xsd:string"/>
		<part name="opmlText" 	type="xsd:string"/>
	</message>


	<!-- editors -->
	<message name="editorsGetTable">
		<part name="siteName" 	type="xsd:string"/>
		<part name="role" 		type="xsd:string"/>
		<part name="username" 	type="xsd:string"/>
		<part name="password" 	type="xsd:string"/>
	</message>

	<message name="editorsGetTableResponse">
		<part name="Result" type="manila:ArrayOfeditor" /> 
	</message>

	<!-- homepage -->
	<message name="homepageGetMsgNumResponse">
		<part name="Result" 	type="xsd:int"/>
	</message>	

	<!-- member -->
	<message name="memberGetRoleRequest">
		<part name="memberName" type="xsd:string"/>
		<part name="siteName" 	type="xsd:string"/>
	</message>	

	<message name="memberGetRoleResponse">
		<part name="Result" 	type="xsd:int"/>
	</message>	
	
	<!-- message -->
	<message name="getDaysInMonthRequest">
		<part name="username" 	type="xsd:string"/>
		<part name="password" 	type="xsd:string"/>
		<part name="siteName" 	type="xsd:string"/>
		<part name="year" 		type="xsd:int"/>
		<part name="month" 		type="xsd:int"/>
	</message>

	<message name="getDaysInMonthResponse">
		<part name="Result"		type="manila:ArrayOfstring"/>
	</message>

	<message name="GetMonthsInYear">
		<part name="username" 	type="xsd:string"/>
		<part name="password" 	type="xsd:string"/>
		<part name="siteName" 	type="xsd:string"/>
		<part name="year" 		type="xsd:int"/>
	</message>

	<message name="getMonthsInYearResponse">
		<part name="Result"		type="manila:ArrayOfstring"/>
	</message>

	<message name="messageCheckInOutRequest">
		<part name="username"	type="xsd:string"/>
		<part name="password"	type="xsd:string"/>
		<part name="siteName"	type="xsd:string"/>
		<part name="msgNum"		type="xsd:int"/>
	</message>

	<message name="messageCreateRequest">
		<part name="username"		type="xsd:string"/>
		<part name="password"		type="xsd:string"/>
		<part name="siteName"		type="xsd:string"/>
		<part name="subject"		type="xsd:string"/>
		<part name="body"			type="xsd:string"/>
		<part name="bodyType"		type="xsd:string"/>
		<part name="inResponseTo"	type="xsd:string"/>
		<part name="WindowInfo"		type="manila:windowInfo"/>
		<part name="RenderInfo"		type="manila:renderInfo"/>
	</message>

	<message name="messageCreateResponse">
		<part name="Result"			type="manila:messageCreateResponse"/>
	</message>

	<message name="messageGetHeaders">
		<part name="siteName" type="xsd:string"/>
		<part name="username" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="d"		  type="xsd:string"/> <!-- mm/dd/yyyy -->
	</message>

	<message name="messageSetRequest">
		<part name="username"		type="xsd:string"/>
		<part name="password"		type="xsd:string"/>
		<part name="siteName"		type="xsd:string"/>
		<part name="msgnum"			type="xsd:int"/>
		<part name="subject"		type="xsd:string"/>
		<part name="body"			type="xsd:string"/>
		<part name="bodyType"		type="xsd:string"/>
		<part name="WindowInfo"		type="manila:windowInfo"/>
		<part name="RenderInfo"		type="manila:renderInfo"/>
	</message>

	<message name="messageSetResponse">
		<part name="Result"			type="manila:messageSetResponse"/>
	</message>



	<portType name="UtilitiesPortType">
		<operation name="getSiteName">
			<input message="tns:getSiteNameRequest" name="getSiteName"/>
			<output message="tns:getSiteNameResponse" name="getSiteNameResponse"/>
		</operation>
	</portType>

	<!-- the following manila "interfaces" are all the same, so we have on portType that defines it
		 and we have different bindings to the different implementions
		 css
		 customPrefs
		 javaScript
		 joinNowMembersBox
		 Navigation
		 newsDayTemplate
		 newsItemTemplate
		 signOutMembersBox
		 siteStructure
		 template
	-->
	
	<portType name="GetSetPortType">
		<operation name="get">
			<input 	message="tns:usernamePasswordSite" 	name="get"/>
			<output message="tns:getsetGetResponse" 	name="getResponse"/>
		</operation>
		<operation name="Checkin">
			<input 	message="tns:usernamePasswordSite" 	name="Checkin"/>
			<output message="tns:booleanResResponse" 	name="CheckinResponse"/>
		</operation>
		<operation name="restoreDefault">
			<input 	message="tns:usernamePasswordSite" 	name="restoreDefault"/>
			<output message="tns:stringResponse"		name="restoreDefaultResponse"/>
		</operation>
		<operation name="set">
			<input 	message="tns:cssSetRequest" 		name="set"/>
			<output message="tns:booleanResResponse" 	name="setResponse"/>
		</operation>
		 
	</portType>

	<portType name="editorialOutlinePortType">
		<operation name="CheckIn">
			<input 	message="tns:siteNameUsernamePassword"		name="CheckIn"/>
			<output message="tns:booleanResResponse" 			name="CheckInResponse"/>
		</operation>
		<operation name="get">
			<input 	message="tns:siteNameUsernamePassword" 		name="get"/>
			<output message="tns:editorialOutlineGetResponse" 	name="getResponse"/>
		</operation>
		<operation name="set">
			<input 	message="tns:editorialOutlineSet" 			name="set"/>
			<output message="tns:booleanResResponse"			name="setResponse"/>
		</operation>
	</portType>

	<portType name="editorsPortType">
		<operation name="getStoriesHeaders">
			<input 	message="tns:SiteEmailUsernamePassword" 	name="getStoriesHeaders"/>
			<output message="tns:arrayOfMessageHeaders" 		name="getStoriesHeadersResponse"/>
		</operation>

		<operation name="getTable">
			<input 	message="tns:editorsGetTable" 				name="getTable"/>
			<output message="tns:editorsGetTableResponse" 		name="getTableResponse"/>
		</operation>
	</portType>


	<portType name="homepagePortType">
		<operation name="flip">
			<input  message="tns:usernamePasswordSite" 			name="flip"/>
			<output message="tns:booleanResResponse" 			name="flipResponse"/>
		</operation>

		<operation name="getMsgNum">
			<input  message="tns:usernamePasswordSite" 			name="getMsgNum"/>
			<output message="tns:homepageGetMsgNumResponse" 	name="getMsgNumResponse"/>
		</operation>
	</portType>


	<portType name="memberPortType">
		<operation name="getRole">
			<input  message="tns:memberGetRoleRequest"  		name="getRole"/>
			<output message="tns:memberGetRoleResponse" 		name="getRoleResponse"/>
		</operation>
	</portType>


	<portType name="messagePortType">
		<operation name="getDaysInMonth">
			<input  message="tns:getDaysInMonthRequest"  		name="getDaysInMonth"/>
			<output message="tns:getDaysInMonthResponse"  		name="getDaysInMonthResponse"/>
		</operation>
		<operation name="getFirstDate">
			<input  message="tns:usernamePasswordSite"  		name="getFirstDate"/>
			<output message="tns:DateResResponse" 		  		name="getFirstDateResponse"/>
		</operation>
		<operation name="getLastDate">
			<input  message="tns:usernamePasswordSite"  		name="getLastDate"/>
			<output message="tns:DateResResponse" 		  		name="getLastDateResponse"/>
		</operation>
		<operation name="getMonthsInYear">
			<input  message="tns:GetMonthsInYear"  				name="getMonthsInYear"/>
			<output message="tns:getMonthsInYearResponse" 		name="getMonthsInYearResponse"/>
		</operation>
		<operation name="checkOut">
			<input  message="tns:messageCheckInOutRequest"  	name="CheckOut"/>
			<output message="tns:booleanResResponse" 	  		name="CheckOutResponse"/>
		</operation>
		<operation name="checkIn">
			<input  message="tns:messageCheckInOutRequest"  	name="CheckIn"/>
			<output message="tns:booleanResResponse" 	  		name="CheckOutResponse"/>
		</operation>
		<operation name="create">
			<input  message="tns:messageCreateRequest"  		name="create"/>
			<output message="tns:messageCreateResponse"	  		name="createResponse"/>
		</operation>
		<operation name="addToStoriesList">
			<input  message="tns:messageCheckInOutRequest"  	name="addToStoriesList"/>
			<output message="tns:booleanResResponse"	  		name="addToStoriesListResponse"/>
		</operation>		
		<operation name="isStory">
			<input  message="tns:messageCheckInOutRequest"  	name="isStory"/>
			<output message="tns:booleanResResponse"	  		name="isStoryResponse"/>
		</operation>
		<operation name="removeFromStoriesList">
			<input  message="tns:messageCheckInOutRequest"  	name="removeFromStoriesList"/>
			<output message="tns:booleanResResponse"	  		name="removeFromStoriesListResponse"/>
		</operation>
		<operation name="getCurrentHeaders">
			<input  message="tns:siteNameUsernamePassword"  	name="getCurrentHeaders"/>
			<output message="tns:arrayOfMessageHeaders"	  		name="getCurrentHeadersResponse"/>
		</operation>
		<operation name="getCurrentThreads">
			<input  message="tns:siteNameUsernamePassword"  	name="getCurrentThreads"/>
			<output message="tns:arrayOfMessageHeaders"	  		name="getCurrentThreadsResponse"/>
		</operation>
		<operation name="getHeaders">
			<input  message="tns:messageGetHeaders"  			name="getHeaders"/>
			<output message="tns:arrayOfMessageHeaders"	  		name="getHeadersResponse"/>
		</operation>
		<operation name="getResponsesHeaders">
			<input  message="tns:messageCheckInOutRequest"		name="getResponsesHeaders"/>
			<output message="tns:arrayOfMessageHeaders"	  		name="getResponsesHeadersResponse"/> 
		</operation>
		<operation name="getStoriesHeaders">
			<input  message="tns:siteNameUsernamePassword"		name="getStoriesHeaders"/> 	
			<output message="tns:arrayOfMessageHeaders"	  		name="getStoriesHeadersResponse"/>
		</operation>
		<operation name="set">
			<input  message="tns:messageSetRequest"				name="set"/> 	
			<output message="tns:messageSetResponse"	  		name="setResponse"/>
		</operation>
	</portType>


	<binding name="utilitiesBinding" type="tns:UtilitiesPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getSiteName">
			<soap:operation soapAction="/manila"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<binding name="cssBinding" type="tns:GetSetPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Checkin">
			<soap:operation soapAction="/manila/css" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="get">
			<soap:operation soapAction="/manila/css"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="restoreDefault">
			<soap:operation soapAction="/manila/css"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="set">
			<soap:operation soapAction="/manila/css"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<binding name="customPrefsBinding" type="tns:GetSetPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Checkin">
			<soap:operation soapAction="/manila/customPrefs"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="get">
			<soap:operation soapAction="/manila/customPrefs"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="restoreDefault">
			<soap:operation soapAction="/manila/customPrefs"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="set">
			<soap:operation soapAction="/manila/customPrefs"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<binding name="editorialOutlineBinding" type="tns:editorialOutlinePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CheckIn">
			<soap:operation soapAction="/manila/editorialOutline"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="get">
			<soap:operation soapAction="/manila/editorialOutline"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="set">
			<soap:operation soapAction="/manila/editorialOutline"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<binding name="editorsBinding" type="tns:editorsPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getStoriesHeaders">
			<soap:operation soapAction="/manila/editors"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="getTable">
			<soap:operation soapAction="/manila/editors"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<binding name="homepageBinding" type="tns:homepagePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="flip">
			<soap:operation soapAction="/manila/homepage"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="getMsgNum">
			<soap:operation soapAction="/manila/homepage"/>
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<binding name="javaScriptBinding" type="tns:GetSetPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Checkin">
			<soap:operation soapAction="/manila/javaScript" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="get">
			<soap:operation soapAction="/manila/javaScript" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="restoreDefault">
			<soap:operation soapAction="/manila/javaScript" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="set">
			<soap:operation soapAction="/manila/javaScript" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<binding name="joinNowMembersBoxBinding" type="tns:GetSetPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Checkin">
			<soap:operation soapAction="/manila/joinNowMembersBox" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="get">
			<soap:operation soapAction="/manila/joinNowMembersBox" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="restoreDefault">
			<soap:operation soapAction="/manila/joinNowMembersBox" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="set">
			<soap:operation soapAction="/manila/joinNowMembersBox" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<binding name="memberBinding" type="tns:memberPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getRole">
			<soap:operation soapAction="/manila/member" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<binding name="messageBinding" type="tns:messagePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getDaysInMonth">
			<soap:operation soapAction="/manila/message/calendar" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="getFirstDate">
			<soap:operation soapAction="/manila/message/calendar" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="getLastDate">
			<soap:operation soapAction="/manila/message/calendar" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="getMonthsInYear">
			<soap:operation soapAction="/manila/message/calendar" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="checkOut">
			<soap:operation soapAction="/manila/message" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="checkIn">
			<soap:operation soapAction="/manila/message" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="create">
			<soap:operation soapAction="/manila/message" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="addToStoriesList">
			<soap:operation soapAction="/manila/message" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="isStory">
			<soap:operation soapAction="/manila/message" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="removeFromStoriesList">
			<soap:operation soapAction="/manila/message" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="getCurrentHeaders">
			<soap:operation soapAction="/manila/message" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="getCurrentThreads">
			<soap:operation soapAction="/manila/message" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="getHeaders">
			<soap:operation soapAction="/manila/message" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="getResponsesHeaders">
			<soap:operation soapAction="/manila/message" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="getStoriesHeaders">
			<soap:operation soapAction="/manila/message" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="set">
			<soap:operation soapAction="/manila/message" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<binding name="navigationBinding" type="tns:GetSetPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Checkin">
			<soap:operation soapAction="/manila/navigation" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="get">
			<soap:operation soapAction="/manila/navigation" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="restoreDefault">
			<soap:operation soapAction="/manila/navigation" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="set">
			<soap:operation soapAction="/manila/navigation" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<binding name="newsDayTemplateBinding" type="tns:GetSetPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Checkin">
			<soap:operation soapAction="/manila/newsDayTemplate" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="get">
			<soap:operation soapAction="/manila/newsDayTemplate" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="restoreDefault">
			<soap:operation soapAction="/manila/newsDayTemplate" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="set">
			<soap:operation soapAction="/manila/newsDayTemplate" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<binding name="newsItemTemplateBinding" type="tns:GetSetPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Checkin">
			<soap:operation soapAction="/manila/newsItemTemplate" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="get">
			<soap:operation soapAction="/manila/newsItemTemplate" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="restoreDefault">
			<soap:operation soapAction="/manila/newsItemTemplate" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="set">
			<soap:operation soapAction="/manila/newsItemTemplate" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>
	
	<binding name="signOutMembersBoxBinding" type="tns:GetSetPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Checkin">
			<soap:operation soapAction="/manila/signOutMembersBox" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="get">
			<soap:operation soapAction="/manila/signOutMembersBox" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="restoreDefault">
			<soap:operation soapAction="/manila/signOutMembersBox" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="set">
			<soap:operation soapAction="/manila/signOutMembersBox" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<binding name="siteStructureBinding" type="tns:GetSetPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Checkin">
			<soap:operation soapAction="/manila/siteStructure" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="get">
			<soap:operation soapAction="/manila/siteStructure" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="restoreDefault">
			<soap:operation soapAction="/manila/siteStructure" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="set">
			<soap:operation soapAction="/manila/siteStructure" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<binding name="templateBinding" type="tns:GetSetPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Checkin">
			<soap:operation soapAction="/manila/template" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="get">
			<soap:operation soapAction="/manila/template" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="restoreDefault">
			<soap:operation soapAction="/manila/template" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
		<operation name="set">
			<soap:operation soapAction="/manila/template" />
			<input><soap:body  use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
			<output><soap:body use="encoded" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
		</operation>
	</binding>

	<service name="Manila-Pike">
		<documentation>This represents the Pike level Manila Interface
					   The Manila SOAP / XML-RPC Interface is documentated in detail at http://www.xmlrpc.com/manilarpc
		</documentation>

		<port name="UtiltiesPort" binding="tns:utilitiesBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>
		
		<port name="cssPort" binding="tns:cssBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

		<port name="customPrefsPort" binding="tns:customPrefsBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

		<port name="editorialOutlinePort" binding="tns:editorialOutlineBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

		<port name="editorsPort" binding="tns:editorsBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

		<port name="homepagePort" binding="tns:homepageBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

		<port name="javaScriptPort" binding="tns:javaScriptBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

		<port name="joinNowMembersBoxPort" binding="tns:joinNowMembersBoxBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

		<port name="memberPort" binding="tns:memberBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

		<port name="messagePort" binding="tns:messageBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

		<port name="navigationPort" binding="tns:navigationBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

		<port name="newsDayTemplatePort" binding="tns:newsDayTemplateBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

		<port name="newsItemTemplatePort" binding="tns:newsItemTemplateBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

		<port name="signOutMembersBoxPort" binding="tns:signOutMembersBoxBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

		<port name="siteStructurePort" binding="tns:siteStructureBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

		<port name="templatePort" binding="tns:templateBinding">
			<soap:address location="http://www.soapware.org/"/>
		</port>

	</service>
</definitions>
