WebServiceDataset/news/quotes/service31.Specialist.wsdl

<?xml version='1.0' encoding='UTF-8' ?> 
 <!-- Generated 04/16/02 by Microsoft SOAP Toolkit WSDL File Generator, Version 1.02.813.0 --> 
<definitions  name ='GlobalSelfDailyThought'   targetNamespace = 'http://tempuri.org/wsdl/'
	 xmlns:wsdlns='http://tempuri.org/wsdl/' 
	 xmlns:typens='http://tempuri.org/type' 
	 xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
	 xmlns:xsd='http://www.w3.org/2001/XMLSchema' 
	 xmlns:stk='http://schemas.microsoft.com/soap-toolkit/wsdl-extension'
	 xmlns='http://schemas.xmlsoap.org/wsdl/'> 
  <types>
    <schema targetNamespace='http://tempuri.org/type'
      xmlns='http://www.w3.org/2001/XMLSchema'
      xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
      xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
      elementFormDefault='qualified'>
    </schema>
  </types>
  <message name='GlobalSelf.getVersion'>
  </message>
  <message name='GlobalSelf.getVersionResponse'>
    <part name='Result' type='xsd:anyType'/>
  </message>
  <message name='GlobalSelf.getAbout'>
  </message>
  <message name='GlobalSelf.getAboutResponse'>
    <part name='Result' type='xsd:anyType'/>
  </message>
  <message name='GlobalSelf.getTodaysQuote'>
  </message>
  <message name='GlobalSelf.getTodaysQuoteResponse'>
    <part name='Result' type='xsd:anyType'/>
  </message>
  <message name='GlobalSelf.getTodaysThought'>
  </message>
  <message name='GlobalSelf.getTodaysThoughtResponse'>
    <part name='Result' type='xsd:anyType'/>
  </message>
  <portType name='GlobalSelfSoapPort'>
    <operation name='getVersion' parameterOrder=''>
      <input message='wsdlns:GlobalSelf.getVersion' />
      <output message='wsdlns:GlobalSelf.getVersionResponse' />
    </operation>
    <operation name='getAbout' parameterOrder=''>
      <input message='wsdlns:GlobalSelf.getAbout' />
      <output message='wsdlns:GlobalSelf.getAboutResponse' />
    </operation>
    <operation name='getTodaysQuote' parameterOrder=''>
      <input message='wsdlns:GlobalSelf.getTodaysQuote' />
      <output message='wsdlns:GlobalSelf.getTodaysQuoteResponse' />
    </operation>
    <operation name='getTodaysThought' parameterOrder=''>
      <input message='wsdlns:GlobalSelf.getTodaysThought' />
      <output message='wsdlns:GlobalSelf.getTodaysThoughtResponse' />
    </operation>
  </portType>
  <binding name='GlobalSelfSoapBinding' type='wsdlns:GlobalSelfSoapPort' >
    <stk:binding preferredEncoding='UTF-8'/>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />
    <operation name='getVersion' >
      <soap:operation soapAction='http://tempuri.org/action/GlobalSelf.getVersion' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='getAbout' >
      <soap:operation soapAction='http://tempuri.org/action/GlobalSelf.getAbout' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='getTodaysQuote' >
      <soap:operation soapAction='http://tempuri.org/action/GlobalSelf.getTodaysQuote' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
    <operation name='getTodaysThought' >
      <soap:operation soapAction='http://tempuri.org/action/GlobalSelf.getTodaysThought' />
      <input>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </input>
      <output>
        <soap:body use='encoded' namespace='http://tempuri.org/message/'
		  encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
      </output>
    </operation>
  </binding>
  <service name='GlobalSelfDailyThought' >
    <port name='GlobalSelfSoapPort' binding='wsdlns:GlobalSelfSoapBinding' >
      <soap:address location='http://webservice.effective-web.net/globalself/GlobalSelfDailyThought.ASP' />
    </port>
  </service>
</definitions>
