WebServiceDataset/finder/service89.Miscellaneous.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://ws.cdyne.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ws.cdyne.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/">
      <s:element name="CheckTextBody">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BodyText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTextBodyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DocumentSummary" nillable="true" type="s0:DocumentSummary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DocumentSummary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MisspelledWord" type="s0:Words" />
          <s:element minOccurs="0" maxOccurs="1" name="ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MisspelledWordCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Words">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Suggestions" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SuggestionCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SuggestWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuggestWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SuggestWordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocumentSummary" nillable="true" type="s0:DocumentSummary" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="CheckTextBodySoapIn">
    <part name="parameters" element="s0:CheckTextBody" />
  </message>
  <message name="CheckTextBodySoapOut">
    <part name="parameters" element="s0:CheckTextBodyResponse" />
  </message>
  <message name="SuggestWordSoapIn">
    <part name="parameters" element="s0:SuggestWord" />
  </message>
  <message name="SuggestWordSoapOut">
    <part name="parameters" element="s0:SuggestWordResponse" />
  </message>
  <message name="CheckTextBodyHttpGetIn">
    <part name="BodyText" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="CheckTextBodyHttpGetOut">
    <part name="Body" element="s0:DocumentSummary" />
  </message>
  <message name="SuggestWordHttpGetIn">
    <part name="word" type="s:string" />
  </message>
  <message name="SuggestWordHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="CheckTextBodyHttpPostIn">
    <part name="BodyText" type="s:string" />
    <part name="LicenseKey" type="s:string" />
  </message>
  <message name="CheckTextBodyHttpPostOut">
    <part name="Body" element="s0:DocumentSummary" />
  </message>
  <message name="SuggestWordHttpPostIn">
    <part name="word" type="s:string" />
  </message>
  <message name="SuggestWordHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="checkSoap">
    <operation name="CheckTextBody">
      <documentation>This method checks a body of text for spelling errors.  Use a license key of 0 for testing.</documentation>
      <input message="s0:CheckTextBodySoapIn" />
      <output message="s0:CheckTextBodySoapOut" />
    </operation>
    <operation name="SuggestWord">
      <documentation>Suggests a word to the CDYNE spell checker database.</documentation>
      <input message="s0:SuggestWordSoapIn" />
      <output message="s0:SuggestWordSoapOut" />
    </operation>
  </portType>
  <portType name="checkHttpGet">
    <operation name="CheckTextBody">
      <documentation>This method checks a body of text for spelling errors.  Use a license key of 0 for testing.</documentation>
      <input message="s0:CheckTextBodyHttpGetIn" />
      <output message="s0:CheckTextBodyHttpGetOut" />
    </operation>
    <operation name="SuggestWord">
      <documentation>Suggests a word to the CDYNE spell checker database.</documentation>
      <input message="s0:SuggestWordHttpGetIn" />
      <output message="s0:SuggestWordHttpGetOut" />
    </operation>
  </portType>
  <portType name="checkHttpPost">
    <operation name="CheckTextBody">
      <documentation>This method checks a body of text for spelling errors.  Use a license key of 0 for testing.</documentation>
      <input message="s0:CheckTextBodyHttpPostIn" />
      <output message="s0:CheckTextBodyHttpPostOut" />
    </operation>
    <operation name="SuggestWord">
      <documentation>Suggests a word to the CDYNE spell checker database.</documentation>
      <input message="s0:SuggestWordHttpPostIn" />
      <output message="s0:SuggestWordHttpPostOut" />
    </operation>
  </portType>
  <binding name="checkSoap" type="s0:checkSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="CheckTextBody">
      <soap:operation soapAction="http://ws.cdyne.com/CheckTextBody" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SuggestWord">
      <soap:operation soapAction="http://ws.cdyne.com/SuggestWord" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="checkHttpGet" type="s0:checkHttpGet">
    <http:binding verb="GET" />
    <operation name="CheckTextBody">
      <http:operation location="/CheckTextBody" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SuggestWord">
      <http:operation location="/SuggestWord" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="checkHttpPost" type="s0:checkHttpPost">
    <http:binding verb="POST" />
    <operation name="CheckTextBody">
      <http:operation location="/CheckTextBody" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SuggestWord">
      <http:operation location="/SuggestWord" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="check">
    <documentation>This engine makes spelling suggestions for text.&lt;br&gt;&lt;br&gt;&lt;b&gt;See it working at&lt;/b&gt;: &lt;a href="http://www.cdyne.com/SpellChecker" target="_blank"&gt;http://www.cdyne.com/SpellChecker&lt;/a&gt;</documentation>
    <port name="checkSoap" binding="s0:checkSoap">
      <soap:address location="http://ws.cdyne.com/spellchecker/check.asmx" />
    </port>
    <port name="checkHttpGet" binding="s0:checkHttpGet">
      <http:address location="http://ws.cdyne.com/spellchecker/check.asmx" />
    </port>
    <port name="checkHttpPost" binding="s0:checkHttpPost">
      <http:address location="http://ws.cdyne.com/spellchecker/check.asmx" />
    </port>
  </service>
</definitions>