WebServiceDataset/finder/service72.Specialist.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://sierrared.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://sierrared.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sierrared.com">
      <s:element name="DeCacheAll">
        <s:complexType />
      </s:element>
      <s:element name="DeCacheAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeCacheAllResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListingResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="todaysDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchVal" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startPos" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListingResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListingResultsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListingDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="todaysDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchVal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="styleOverride" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListingDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListingDetailResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgentSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="todaysDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="d" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="styleOverride" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgentSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgentSiteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="todaysDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBoxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchBoxResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </types>
  <message name="DeCacheAllSoapIn">
    <part name="parameters" element="s0:DeCacheAll" />
  </message>
  <message name="DeCacheAllSoapOut">
    <part name="parameters" element="s0:DeCacheAllResponse" />
  </message>
  <message name="ListingResultsSoapIn">
    <part name="parameters" element="s0:ListingResults" />
  </message>
  <message name="ListingResultsSoapOut">
    <part name="parameters" element="s0:ListingResultsResponse" />
  </message>
  <message name="ListingDetailSoapIn">
    <part name="parameters" element="s0:ListingDetail" />
  </message>
  <message name="ListingDetailSoapOut">
    <part name="parameters" element="s0:ListingDetailResponse" />
  </message>
  <message name="AgentSiteSoapIn">
    <part name="parameters" element="s0:AgentSite" />
  </message>
  <message name="AgentSiteSoapOut">
    <part name="parameters" element="s0:AgentSiteResponse" />
  </message>
  <message name="SearchBoxSoapIn">
    <part name="parameters" element="s0:SearchBox" />
  </message>
  <message name="SearchBoxSoapOut">
    <part name="parameters" element="s0:SearchBoxResponse" />
  </message>
  <message name="DeCacheAllHttpGetIn" />
  <message name="DeCacheAllHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="ListingResultsHttpGetIn">
    <part name="agentId" type="s:string" />
    <part name="todaysDate" type="s:string" />
    <part name="searchVal" type="s:string" />
    <part name="startPos" type="s:string" />
  </message>
  <message name="ListingResultsHttpGetOut">
    <part name="Body" />
  </message>
  <message name="ListingDetailHttpGetIn">
    <part name="agentId" type="s:string" />
    <part name="todaysDate" type="s:string" />
    <part name="searchVal" type="s:string" />
    <part name="styleOverride" type="s:string" />
  </message>
  <message name="ListingDetailHttpGetOut">
    <part name="Body" />
  </message>
  <message name="AgentSiteHttpGetIn">
    <part name="agentId" type="s:string" />
    <part name="todaysDate" type="s:string" />
    <part name="d" type="s:string" />
    <part name="styleOverride" type="s:string" />
  </message>
  <message name="AgentSiteHttpGetOut">
    <part name="Body" />
  </message>
  <message name="SearchBoxHttpGetIn">
    <part name="agentId" type="s:string" />
    <part name="todaysDate" type="s:string" />
  </message>
  <message name="SearchBoxHttpGetOut">
    <part name="Body" />
  </message>
  <message name="DeCacheAllHttpPostIn" />
  <message name="DeCacheAllHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="ListingResultsHttpPostIn">
    <part name="agentId" type="s:string" />
    <part name="todaysDate" type="s:string" />
    <part name="searchVal" type="s:string" />
    <part name="startPos" type="s:string" />
  </message>
  <message name="ListingResultsHttpPostOut">
    <part name="Body" />
  </message>
  <message name="ListingDetailHttpPostIn">
    <part name="agentId" type="s:string" />
    <part name="todaysDate" type="s:string" />
    <part name="searchVal" type="s:string" />
    <part name="styleOverride" type="s:string" />
  </message>
  <message name="ListingDetailHttpPostOut">
    <part name="Body" />
  </message>
  <message name="AgentSiteHttpPostIn">
    <part name="agentId" type="s:string" />
    <part name="todaysDate" type="s:string" />
    <part name="d" type="s:string" />
    <part name="styleOverride" type="s:string" />
  </message>
  <message name="AgentSiteHttpPostOut">
    <part name="Body" />
  </message>
  <message name="SearchBoxHttpPostIn">
    <part name="agentId" type="s:string" />
    <part name="todaysDate" type="s:string" />
  </message>
  <message name="SearchBoxHttpPostOut">
    <part name="Body" />
  </message>
  <portType name="SierraRedServiceSoap">
    <operation name="DeCacheAll">
      <input message="s0:DeCacheAllSoapIn" />
      <output message="s0:DeCacheAllSoapOut" />
    </operation>
    <operation name="ListingResults">
      <input message="s0:ListingResultsSoapIn" />
      <output message="s0:ListingResultsSoapOut" />
    </operation>
    <operation name="ListingDetail">
      <input message="s0:ListingDetailSoapIn" />
      <output message="s0:ListingDetailSoapOut" />
    </operation>
    <operation name="AgentSite">
      <input message="s0:AgentSiteSoapIn" />
      <output message="s0:AgentSiteSoapOut" />
    </operation>
    <operation name="SearchBox">
      <input message="s0:SearchBoxSoapIn" />
      <output message="s0:SearchBoxSoapOut" />
    </operation>
  </portType>
  <portType name="SierraRedServiceHttpGet">
    <operation name="DeCacheAll">
      <input message="s0:DeCacheAllHttpGetIn" />
      <output message="s0:DeCacheAllHttpGetOut" />
    </operation>
    <operation name="ListingResults">
      <input message="s0:ListingResultsHttpGetIn" />
      <output message="s0:ListingResultsHttpGetOut" />
    </operation>
    <operation name="ListingDetail">
      <input message="s0:ListingDetailHttpGetIn" />
      <output message="s0:ListingDetailHttpGetOut" />
    </operation>
    <operation name="AgentSite">
      <input message="s0:AgentSiteHttpGetIn" />
      <output message="s0:AgentSiteHttpGetOut" />
    </operation>
    <operation name="SearchBox">
      <input message="s0:SearchBoxHttpGetIn" />
      <output message="s0:SearchBoxHttpGetOut" />
    </operation>
  </portType>
  <portType name="SierraRedServiceHttpPost">
    <operation name="DeCacheAll">
      <input message="s0:DeCacheAllHttpPostIn" />
      <output message="s0:DeCacheAllHttpPostOut" />
    </operation>
    <operation name="ListingResults">
      <input message="s0:ListingResultsHttpPostIn" />
      <output message="s0:ListingResultsHttpPostOut" />
    </operation>
    <operation name="ListingDetail">
      <input message="s0:ListingDetailHttpPostIn" />
      <output message="s0:ListingDetailHttpPostOut" />
    </operation>
    <operation name="AgentSite">
      <input message="s0:AgentSiteHttpPostIn" />
      <output message="s0:AgentSiteHttpPostOut" />
    </operation>
    <operation name="SearchBox">
      <input message="s0:SearchBoxHttpPostIn" />
      <output message="s0:SearchBoxHttpPostOut" />
    </operation>
  </portType>
  <binding name="SierraRedServiceSoap" type="s0:SierraRedServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="DeCacheAll">
      <soap:operation soapAction="http://sierrared.com/DeCacheAll" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListingResults">
      <soap:operation soapAction="http://sierrared.com/ListingResults" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListingDetail">
      <soap:operation soapAction="http://sierrared.com/ListingDetail" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AgentSite">
      <soap:operation soapAction="http://sierrared.com/AgentSite" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SearchBox">
      <soap:operation soapAction="http://sierrared.com/SearchBox" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="SierraRedServiceHttpGet" type="s0:SierraRedServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="DeCacheAll">
      <http:operation location="/DeCacheAll" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ListingResults">
      <http:operation location="/ListingResults" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="ListingDetail">
      <http:operation location="/ListingDetail" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="AgentSite">
      <http:operation location="/AgentSite" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="SearchBox">
      <http:operation location="/SearchBox" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
  </binding>
  <binding name="SierraRedServiceHttpPost" type="s0:SierraRedServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="DeCacheAll">
      <http:operation location="/DeCacheAll" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ListingResults">
      <http:operation location="/ListingResults" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="ListingDetail">
      <http:operation location="/ListingDetail" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="AgentSite">
      <http:operation location="/AgentSite" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
    <operation name="SearchBox">
      <http:operation location="/SearchBox" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
  </binding>
  <service name="SierraRedService">
    <port name="SierraRedServiceSoap" binding="s0:SierraRedServiceSoap">
      <soap:address location="http://ftp.sierrared.com/sierra/sierraRedService.asmx" />
    </port>
    <port name="SierraRedServiceHttpGet" binding="s0:SierraRedServiceHttpGet">
      <http:address location="http://ftp.sierrared.com/sierra/sierraRedService.asmx" />
    </port>
    <port name="SierraRedServiceHttpPost" binding="s0:SierraRedServiceHttpPost">
      <http:address location="http://ftp.sierrared.com/sierra/sierraRedService.asmx" />
    </port>
  </service>
</definitions>