WebServiceDataset/finder/service49.Utility.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://trwest.com/webservices/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://trwest.com/webservices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://trwest.com/webservices/">
      <s:element name="GetDateTime">
        <s:complexType />
      </s:element>
      <s:element name="GetDateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDateTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateTimeAsLongString">
        <s:complexType />
      </s:element>
      <s:element name="GetDateTimeAsLongStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateTimeAsLongStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateTimeAsShortString">
        <s:complexType />
      </s:element>
      <s:element name="GetDateTimeAsShortStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateTimeAsShortStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTimeAsShortString">
        <s:complexType />
      </s:element>
      <s:element name="GetTimeAsShortStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimeAsShortStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTimeAsLongString">
        <s:complexType />
      </s:element>
      <s:element name="GetTimeAsLongStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimeAsLongStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateAsShortString">
        <s:complexType />
      </s:element>
      <s:element name="GetDateAsShortStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateAsShortStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateAsLongString">
        <s:complexType />
      </s:element>
      <s:element name="GetDateAsLongStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateAsLongStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dateTime" type="s:dateTime" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="GetDateTimeSoapIn">
    <part name="parameters" element="s0:GetDateTime" />
  </message>
  <message name="GetDateTimeSoapOut">
    <part name="parameters" element="s0:GetDateTimeResponse" />
  </message>
  <message name="GetDateTimeAsLongStringSoapIn">
    <part name="parameters" element="s0:GetDateTimeAsLongString" />
  </message>
  <message name="GetDateTimeAsLongStringSoapOut">
    <part name="parameters" element="s0:GetDateTimeAsLongStringResponse" />
  </message>
  <message name="GetDateTimeAsShortStringSoapIn">
    <part name="parameters" element="s0:GetDateTimeAsShortString" />
  </message>
  <message name="GetDateTimeAsShortStringSoapOut">
    <part name="parameters" element="s0:GetDateTimeAsShortStringResponse" />
  </message>
  <message name="GetTimeAsShortStringSoapIn">
    <part name="parameters" element="s0:GetTimeAsShortString" />
  </message>
  <message name="GetTimeAsShortStringSoapOut">
    <part name="parameters" element="s0:GetTimeAsShortStringResponse" />
  </message>
  <message name="GetTimeAsLongStringSoapIn">
    <part name="parameters" element="s0:GetTimeAsLongString" />
  </message>
  <message name="GetTimeAsLongStringSoapOut">
    <part name="parameters" element="s0:GetTimeAsLongStringResponse" />
  </message>
  <message name="GetDateAsShortStringSoapIn">
    <part name="parameters" element="s0:GetDateAsShortString" />
  </message>
  <message name="GetDateAsShortStringSoapOut">
    <part name="parameters" element="s0:GetDateAsShortStringResponse" />
  </message>
  <message name="GetDateAsLongStringSoapIn">
    <part name="parameters" element="s0:GetDateAsLongString" />
  </message>
  <message name="GetDateAsLongStringSoapOut">
    <part name="parameters" element="s0:GetDateAsLongStringResponse" />
  </message>
  <message name="GetDateTimeHttpGetIn" />
  <message name="GetDateTimeHttpGetOut">
    <part name="Body" element="s0:dateTime" />
  </message>
  <message name="GetDateTimeAsLongStringHttpGetIn" />
  <message name="GetDateTimeAsLongStringHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetDateTimeAsShortStringHttpGetIn" />
  <message name="GetDateTimeAsShortStringHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetTimeAsShortStringHttpGetIn" />
  <message name="GetTimeAsShortStringHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetTimeAsLongStringHttpGetIn" />
  <message name="GetTimeAsLongStringHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetDateAsShortStringHttpGetIn" />
  <message name="GetDateAsShortStringHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetDateAsLongStringHttpGetIn" />
  <message name="GetDateAsLongStringHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetDateTimeHttpPostIn" />
  <message name="GetDateTimeHttpPostOut">
    <part name="Body" element="s0:dateTime" />
  </message>
  <message name="GetDateTimeAsLongStringHttpPostIn" />
  <message name="GetDateTimeAsLongStringHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetDateTimeAsShortStringHttpPostIn" />
  <message name="GetDateTimeAsShortStringHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetTimeAsShortStringHttpPostIn" />
  <message name="GetTimeAsShortStringHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetTimeAsLongStringHttpPostIn" />
  <message name="GetTimeAsLongStringHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetDateAsShortStringHttpPostIn" />
  <message name="GetDateAsShortStringHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetDateAsLongStringHttpPostIn" />
  <message name="GetDateAsLongStringHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="UsnoTimeServiceSoap">
    <operation name="GetDateTime">
      <input message="s0:GetDateTimeSoapIn" />
      <output message="s0:GetDateTimeSoapOut" />
    </operation>
    <operation name="GetDateTimeAsLongString">
      <input message="s0:GetDateTimeAsLongStringSoapIn" />
      <output message="s0:GetDateTimeAsLongStringSoapOut" />
    </operation>
    <operation name="GetDateTimeAsShortString">
      <input message="s0:GetDateTimeAsShortStringSoapIn" />
      <output message="s0:GetDateTimeAsShortStringSoapOut" />
    </operation>
    <operation name="GetTimeAsShortString">
      <input message="s0:GetTimeAsShortStringSoapIn" />
      <output message="s0:GetTimeAsShortStringSoapOut" />
    </operation>
    <operation name="GetTimeAsLongString">
      <input message="s0:GetTimeAsLongStringSoapIn" />
      <output message="s0:GetTimeAsLongStringSoapOut" />
    </operation>
    <operation name="GetDateAsShortString">
      <input message="s0:GetDateAsShortStringSoapIn" />
      <output message="s0:GetDateAsShortStringSoapOut" />
    </operation>
    <operation name="GetDateAsLongString">
      <input message="s0:GetDateAsLongStringSoapIn" />
      <output message="s0:GetDateAsLongStringSoapOut" />
    </operation>
  </portType>
  <portType name="UsnoTimeServiceHttpGet">
    <operation name="GetDateTime">
      <input message="s0:GetDateTimeHttpGetIn" />
      <output message="s0:GetDateTimeHttpGetOut" />
    </operation>
    <operation name="GetDateTimeAsLongString">
      <input message="s0:GetDateTimeAsLongStringHttpGetIn" />
      <output message="s0:GetDateTimeAsLongStringHttpGetOut" />
    </operation>
    <operation name="GetDateTimeAsShortString">
      <input message="s0:GetDateTimeAsShortStringHttpGetIn" />
      <output message="s0:GetDateTimeAsShortStringHttpGetOut" />
    </operation>
    <operation name="GetTimeAsShortString">
      <input message="s0:GetTimeAsShortStringHttpGetIn" />
      <output message="s0:GetTimeAsShortStringHttpGetOut" />
    </operation>
    <operation name="GetTimeAsLongString">
      <input message="s0:GetTimeAsLongStringHttpGetIn" />
      <output message="s0:GetTimeAsLongStringHttpGetOut" />
    </operation>
    <operation name="GetDateAsShortString">
      <input message="s0:GetDateAsShortStringHttpGetIn" />
      <output message="s0:GetDateAsShortStringHttpGetOut" />
    </operation>
    <operation name="GetDateAsLongString">
      <input message="s0:GetDateAsLongStringHttpGetIn" />
      <output message="s0:GetDateAsLongStringHttpGetOut" />
    </operation>
  </portType>
  <portType name="UsnoTimeServiceHttpPost">
    <operation name="GetDateTime">
      <input message="s0:GetDateTimeHttpPostIn" />
      <output message="s0:GetDateTimeHttpPostOut" />
    </operation>
    <operation name="GetDateTimeAsLongString">
      <input message="s0:GetDateTimeAsLongStringHttpPostIn" />
      <output message="s0:GetDateTimeAsLongStringHttpPostOut" />
    </operation>
    <operation name="GetDateTimeAsShortString">
      <input message="s0:GetDateTimeAsShortStringHttpPostIn" />
      <output message="s0:GetDateTimeAsShortStringHttpPostOut" />
    </operation>
    <operation name="GetTimeAsShortString">
      <input message="s0:GetTimeAsShortStringHttpPostIn" />
      <output message="s0:GetTimeAsShortStringHttpPostOut" />
    </operation>
    <operation name="GetTimeAsLongString">
      <input message="s0:GetTimeAsLongStringHttpPostIn" />
      <output message="s0:GetTimeAsLongStringHttpPostOut" />
    </operation>
    <operation name="GetDateAsShortString">
      <input message="s0:GetDateAsShortStringHttpPostIn" />
      <output message="s0:GetDateAsShortStringHttpPostOut" />
    </operation>
    <operation name="GetDateAsLongString">
      <input message="s0:GetDateAsLongStringHttpPostIn" />
      <output message="s0:GetDateAsLongStringHttpPostOut" />
    </operation>
  </portType>
  <binding name="UsnoTimeServiceSoap" type="s0:UsnoTimeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetDateTime">
      <soap:operation soapAction="http://trwest.com/webservices/GetDateTime" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDateTimeAsLongString">
      <soap:operation soapAction="http://trwest.com/webservices/GetDateTimeAsLongString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDateTimeAsShortString">
      <soap:operation soapAction="http://trwest.com/webservices/GetDateTimeAsShortString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTimeAsShortString">
      <soap:operation soapAction="http://trwest.com/webservices/GetTimeAsShortString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTimeAsLongString">
      <soap:operation soapAction="http://trwest.com/webservices/GetTimeAsLongString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDateAsShortString">
      <soap:operation soapAction="http://trwest.com/webservices/GetDateAsShortString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDateAsLongString">
      <soap:operation soapAction="http://trwest.com/webservices/GetDateAsLongString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="UsnoTimeServiceHttpGet" type="s0:UsnoTimeServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="GetDateTime">
      <http:operation location="/GetDateTime" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetDateTimeAsLongString">
      <http:operation location="/GetDateTimeAsLongString" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetDateTimeAsShortString">
      <http:operation location="/GetDateTimeAsShortString" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetTimeAsShortString">
      <http:operation location="/GetTimeAsShortString" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetTimeAsLongString">
      <http:operation location="/GetTimeAsLongString" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetDateAsShortString">
      <http:operation location="/GetDateAsShortString" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetDateAsLongString">
      <http:operation location="/GetDateAsLongString" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="UsnoTimeServiceHttpPost" type="s0:UsnoTimeServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="GetDateTime">
      <http:operation location="/GetDateTime" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetDateTimeAsLongString">
      <http:operation location="/GetDateTimeAsLongString" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetDateTimeAsShortString">
      <http:operation location="/GetDateTimeAsShortString" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetTimeAsShortString">
      <http:operation location="/GetTimeAsShortString" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetTimeAsLongString">
      <http:operation location="/GetTimeAsLongString" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetDateAsShortString">
      <http:operation location="/GetDateAsShortString" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetDateAsLongString">
      <http:operation location="/GetDateAsLongString" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="UsnoTimeService">
    <port name="UsnoTimeServiceSoap" binding="s0:UsnoTimeServiceSoap">
      <soap:address location="http://www.dev1.eraserver.net/trwest/trwest_usnotime/usnotime.asmx" />
    </port>
    <port name="UsnoTimeServiceHttpGet" binding="s0:UsnoTimeServiceHttpGet">
      <http:address location="http://www.dev1.eraserver.net/trwest/trwest_usnotime/usnotime.asmx" />
    </port>
    <port name="UsnoTimeServiceHttpPost" binding="s0:UsnoTimeServiceHttpPost">
      <http:address location="http://www.dev1.eraserver.net/trwest/trwest_usnotime/usnotime.asmx" />
    </port>
  </service>
</definitions>