WebServiceDataset/news/service18.DeveloperTools.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WhatsNew">
        <s:complexType />
      </s:element>
      <s:element name="WhatsNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WhatsNewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="WhatsNewSoapIn">
    <part name="parameters" element="s0:WhatsNew" />
  </message>
  <message name="WhatsNewSoapOut">
    <part name="parameters" element="s0:WhatsNewResponse" />
  </message>
  <message name="WhatsNewHttpGetIn" />
  <message name="WhatsNewHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="WhatsNewHttpPostIn" />
  <message name="WhatsNewHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="eSynapsFeedSoap">
    <operation name="WhatsNew">
      <input message="s0:WhatsNewSoapIn" />
      <output message="s0:WhatsNewSoapOut" />
    </operation>
  </portType>
  <portType name="eSynapsFeedHttpGet">
    <operation name="WhatsNew">
      <input message="s0:WhatsNewHttpGetIn" />
      <output message="s0:WhatsNewHttpGetOut" />
    </operation>
  </portType>
  <portType name="eSynapsFeedHttpPost">
    <operation name="WhatsNew">
      <input message="s0:WhatsNewHttpPostIn" />
      <output message="s0:WhatsNewHttpPostOut" />
    </operation>
  </portType>
  <binding name="eSynapsFeedSoap" type="s0:eSynapsFeedSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="WhatsNew">
      <soap:operation soapAction="http://tempuri.org/WhatsNew" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="eSynapsFeedHttpGet" type="s0:eSynapsFeedHttpGet">
    <http:binding verb="GET" />
    <operation name="WhatsNew">
      <http:operation location="/WhatsNew" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="eSynapsFeedHttpPost" type="s0:eSynapsFeedHttpPost">
    <http:binding verb="POST" />
    <operation name="WhatsNew">
      <http:operation location="/WhatsNew" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="eSynapsFeed">
    <port name="eSynapsFeedSoap" binding="s0:eSynapsFeedSoap">
      <soap:address location="http://www.esynaps.com/WebServices/eSynapsFeed.asmx" />
    </port>
    <port name="eSynapsFeedHttpGet" binding="s0:eSynapsFeedHttpGet">
      <http:address location="http://www.esynaps.com/WebServices/eSynapsFeed.asmx" />
    </port>
    <port name="eSynapsFeedHttpPost" binding="s0:eSynapsFeedHttpPost">
      <http:address location="http://www.esynaps.com/WebServices/eSynapsFeed.asmx" />
    </port>
  </service>
</definitions>