WebServiceDataset/finder/phrases/service14.Miscellaneous.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetBibleWordsByChapterAndVerse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BookTitle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="chapter" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Verse" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBibleWordsByChapterAndVerseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBibleWordsByChapterAndVerseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBibleWordsbyKeyWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BibleWords" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBibleWordsbyKeyWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBibleWordsbyKeyWordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookTitles">
        <s:complexType />
      </s:element>
      <s:element name="GetBookTitlesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookTitlesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBibleWordsByBookTitleAndChapter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BookTitle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="chapter" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBibleWordsByBookTitleAndChapterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBibleWordsByBookTitleAndChapterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="GetBibleWordsByChapterAndVerseSoapIn">
    <part name="parameters" element="s0:GetBibleWordsByChapterAndVerse" />
  </message>
  <message name="GetBibleWordsByChapterAndVerseSoapOut">
    <part name="parameters" element="s0:GetBibleWordsByChapterAndVerseResponse" />
  </message>
  <message name="GetBibleWordsbyKeyWordSoapIn">
    <part name="parameters" element="s0:GetBibleWordsbyKeyWord" />
  </message>
  <message name="GetBibleWordsbyKeyWordSoapOut">
    <part name="parameters" element="s0:GetBibleWordsbyKeyWordResponse" />
  </message>
  <message name="GetBookTitlesSoapIn">
    <part name="parameters" element="s0:GetBookTitles" />
  </message>
  <message name="GetBookTitlesSoapOut">
    <part name="parameters" element="s0:GetBookTitlesResponse" />
  </message>
  <message name="GetBibleWordsByBookTitleAndChapterSoapIn">
    <part name="parameters" element="s0:GetBibleWordsByBookTitleAndChapter" />
  </message>
  <message name="GetBibleWordsByBookTitleAndChapterSoapOut">
    <part name="parameters" element="s0:GetBibleWordsByBookTitleAndChapterResponse" />
  </message>
  <message name="GetBibleWordsByChapterAndVerseHttpGetIn">
    <part name="BookTitle" type="s:string" />
    <part name="chapter" type="s:string" />
    <part name="Verse" type="s:string" />
  </message>
  <message name="GetBibleWordsByChapterAndVerseHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetBibleWordsbyKeyWordHttpGetIn">
    <part name="BibleWords" type="s:string" />
  </message>
  <message name="GetBibleWordsbyKeyWordHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetBookTitlesHttpGetIn" />
  <message name="GetBookTitlesHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetBibleWordsByBookTitleAndChapterHttpGetIn">
    <part name="BookTitle" type="s:string" />
    <part name="chapter" type="s:string" />
  </message>
  <message name="GetBibleWordsByBookTitleAndChapterHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetBibleWordsByChapterAndVerseHttpPostIn">
    <part name="BookTitle" type="s:string" />
    <part name="chapter" type="s:string" />
    <part name="Verse" type="s:string" />
  </message>
  <message name="GetBibleWordsByChapterAndVerseHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetBibleWordsbyKeyWordHttpPostIn">
    <part name="BibleWords" type="s:string" />
  </message>
  <message name="GetBibleWordsbyKeyWordHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetBookTitlesHttpPostIn" />
  <message name="GetBookTitlesHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetBibleWordsByBookTitleAndChapterHttpPostIn">
    <part name="BookTitle" type="s:string" />
    <part name="chapter" type="s:string" />
  </message>
  <message name="GetBibleWordsByBookTitleAndChapterHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="BibleWebserviceSoap">
    <operation name="GetBibleWordsByChapterAndVerse">
      <documentation>This web service list all versus by Book Title ,Chapter and Verse from the Kings James version Bible </documentation>
      <input message="s0:GetBibleWordsByChapterAndVerseSoapIn" />
      <output message="s0:GetBibleWordsByChapterAndVerseSoapOut" />
    </operation>
    <operation name="GetBibleWordsbyKeyWord">
      <documentation>This web service list all versus by keyword from the Kings James version Bible </documentation>
      <input message="s0:GetBibleWordsbyKeyWordSoapIn" />
      <output message="s0:GetBibleWordsbyKeyWordSoapOut" />
    </operation>
    <operation name="GetBookTitles">
      <documentation>This web service list all books from the Kings James version Bible </documentation>
      <input message="s0:GetBookTitlesSoapIn" />
      <output message="s0:GetBookTitlesSoapOut" />
    </operation>
    <operation name="GetBibleWordsByBookTitleAndChapter">
      <documentation>This web service list all versus by Book Title and Chapter from the Kings James version Bible </documentation>
      <input message="s0:GetBibleWordsByBookTitleAndChapterSoapIn" />
      <output message="s0:GetBibleWordsByBookTitleAndChapterSoapOut" />
    </operation>
  </portType>
  <portType name="BibleWebserviceHttpGet">
    <operation name="GetBibleWordsByChapterAndVerse">
      <documentation>This web service list all versus by Book Title ,Chapter and Verse from the Kings James version Bible </documentation>
      <input message="s0:GetBibleWordsByChapterAndVerseHttpGetIn" />
      <output message="s0:GetBibleWordsByChapterAndVerseHttpGetOut" />
    </operation>
    <operation name="GetBibleWordsbyKeyWord">
      <documentation>This web service list all versus by keyword from the Kings James version Bible </documentation>
      <input message="s0:GetBibleWordsbyKeyWordHttpGetIn" />
      <output message="s0:GetBibleWordsbyKeyWordHttpGetOut" />
    </operation>
    <operation name="GetBookTitles">
      <documentation>This web service list all books from the Kings James version Bible </documentation>
      <input message="s0:GetBookTitlesHttpGetIn" />
      <output message="s0:GetBookTitlesHttpGetOut" />
    </operation>
    <operation name="GetBibleWordsByBookTitleAndChapter">
      <documentation>This web service list all versus by Book Title and Chapter from the Kings James version Bible </documentation>
      <input message="s0:GetBibleWordsByBookTitleAndChapterHttpGetIn" />
      <output message="s0:GetBibleWordsByBookTitleAndChapterHttpGetOut" />
    </operation>
  </portType>
  <portType name="BibleWebserviceHttpPost">
    <operation name="GetBibleWordsByChapterAndVerse">
      <documentation>This web service list all versus by Book Title ,Chapter and Verse from the Kings James version Bible </documentation>
      <input message="s0:GetBibleWordsByChapterAndVerseHttpPostIn" />
      <output message="s0:GetBibleWordsByChapterAndVerseHttpPostOut" />
    </operation>
    <operation name="GetBibleWordsbyKeyWord">
      <documentation>This web service list all versus by keyword from the Kings James version Bible </documentation>
      <input message="s0:GetBibleWordsbyKeyWordHttpPostIn" />
      <output message="s0:GetBibleWordsbyKeyWordHttpPostOut" />
    </operation>
    <operation name="GetBookTitles">
      <documentation>This web service list all books from the Kings James version Bible </documentation>
      <input message="s0:GetBookTitlesHttpPostIn" />
      <output message="s0:GetBookTitlesHttpPostOut" />
    </operation>
    <operation name="GetBibleWordsByBookTitleAndChapter">
      <documentation>This web service list all versus by Book Title and Chapter from the Kings James version Bible </documentation>
      <input message="s0:GetBibleWordsByBookTitleAndChapterHttpPostIn" />
      <output message="s0:GetBibleWordsByBookTitleAndChapterHttpPostOut" />
    </operation>
  </portType>
  <binding name="BibleWebserviceSoap" type="s0:BibleWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetBibleWordsByChapterAndVerse">
      <soap:operation soapAction="http://www.webserviceX.NET/GetBibleWordsByChapterAndVerse" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetBibleWordsbyKeyWord">
      <soap:operation soapAction="http://www.webserviceX.NET/GetBibleWordsbyKeyWord" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetBookTitles">
      <soap:operation soapAction="http://www.webserviceX.NET/GetBookTitles" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetBibleWordsByBookTitleAndChapter">
      <soap:operation soapAction="http://www.webserviceX.NET/GetBibleWordsByBookTitleAndChapter" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="BibleWebserviceHttpGet" type="s0:BibleWebserviceHttpGet">
    <http:binding verb="GET" />
    <operation name="GetBibleWordsByChapterAndVerse">
      <http:operation location="/GetBibleWordsByChapterAndVerse" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetBibleWordsbyKeyWord">
      <http:operation location="/GetBibleWordsbyKeyWord" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetBookTitles">
      <http:operation location="/GetBookTitles" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetBibleWordsByBookTitleAndChapter">
      <http:operation location="/GetBibleWordsByBookTitleAndChapter" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="BibleWebserviceHttpPost" type="s0:BibleWebserviceHttpPost">
    <http:binding verb="POST" />
    <operation name="GetBibleWordsByChapterAndVerse">
      <http:operation location="/GetBibleWordsByChapterAndVerse" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetBibleWordsbyKeyWord">
      <http:operation location="/GetBibleWordsbyKeyWord" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetBookTitles">
      <http:operation location="/GetBookTitles" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetBibleWordsByBookTitleAndChapter">
      <http:operation location="/GetBibleWordsByBookTitleAndChapter" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="BibleWebservice">
    <port name="BibleWebserviceSoap" binding="s0:BibleWebserviceSoap">
      <soap:address location="http://www.webservicex.net/BibleWebservice.asmx" />
    </port>
    <port name="BibleWebserviceHttpGet" binding="s0:BibleWebserviceHttpGet">
      <http:address location="http://www.webservicex.net/BibleWebservice.asmx" />
    </port>
    <port name="BibleWebserviceHttpPost" binding="s0:BibleWebserviceHttpPost">
      <http:address location="http://www.webservicex.net/BibleWebservice.asmx" />
    </port>
  </service>
</definitions>